<%= form_for @provider, html: { multipart: true } do |f| %>
	<% if @provider.errors.any? %>
    <div id="error_explanation" class="row mb-3">
					<div class="col-lg-12">
							<h2><%= pluralize(@provider.errors.count, "error") %> prohibited this provider from being saved:</h2>

							<ul>
									<% @provider.errors.full_messages.each do |message| %>
											<li><%= message %></li>
									<% end %>
							</ul>
					</div>
    </div>
  <% end %>

		<div class="row mb-3">
			<div class="col-lg-4">
				<%= f.text_field :first_name, class: 'form-control', placeholder: 'First Name *' %>
			</div>
			<div class="col-lg-2">
				<%= f.text_field :middle_name, class: 'form-control', placeholder: 'Middle Name' %>
			</div>
			<div class="col-lg-4">
				<%= f.text_field :last_name, class: 'form-control', placeholder: 'Last Name *' %>
			</div>
			<div class="col-lg-2">
				<%= f.select :suffix, options_for_select(['Jr.', 'Sr.', 'II', 'III', 'IV', 'V'], @provider.suffix), { prompt: 'Suffix' }, { class: 'form-select' } %>
			</div>
		</div>
		<div class="row mb-3">
			<div class="col-lg-6">
				<%= f.select :gender, options_for_select(['Male', 'Female', 'Non Binary'], @provider.suffix), { prompt: 'Gender *' }, { class: 'form-select' } %>
			</div>
			<div class="col-lg-6">
				<%= f.text_field :birth_date, placeholder: 'Birth Date *', class: 'form-control', onfocus: "(this.type = 'date')" %>
			</div>
		</div>
		<div class="row mb-3">
			<div class="col-lg-12">
				<%= f.collection_select :practitioner_type, @provider_types, :fch, :fch, { prompt: 'Practitioner Type *' }, { class: 'form-control' } %>
			</div>
		</div>
		<div class="row mb-3">
			<div class="col-lg-6">
				<!-- new field -->
				<%= f.text_field :address_line_1, placeholder: 'Address Line 1 *', required: true , class: 'form-control' %>
			</div>
			<div class="col-lg-6">
				<!-- new field -->
				<%= f.text_field :address_line_2,  placeholder: 'Address Line 2', class: 'form-control' %>
			</div>
		</div>
		<div class="row mb-3">
			<div class="col-lg-6">
				<!-- new field -->
				<%= f.text_field :city, placeholder: 'City *', required: true , class: 'form-control' %>
			</div>
			<div class="col-lg-6">
				<!-- new field -->
				<%= f.select :state, options_for_select(@states.pluck(:name, :id), @provider.state), {prompt: 'State *'}, {class: 'form-select'}  %>
			</div>
		</div>
		<div class="row mb-3">
			<div class="col-lg-4">
				<!-- new field -->
				<%= f.telephone_field :telephone_number, placeholder: 'Telephone Number *', required: true , class: 'form-control' %>
			</div>
			<div class="col-lg-2">
				<!-- new field -->
				<%= f.text_field :ext, placeholder: 'Ext' , class: 'form-control' %>
			</div>
			<div class="col-lg-6">
				<!-- new field -->
				<%= f.text_field :email_address,  placeholder: 'Email Address *', required: true, class: 'form-control' %>
			</div>
		</div>
		<div class="row mb-3">
			<div class="col-lg-6">
				<%= f.text_field :ssn, placeholder: 'SSN *', class: 'form-control' %>
			</div>
			<div class="col-lg-6">
				<%= f.text_field :npi, placeholder: 'NPI *', class: 'form-control' %>
			</div>
		</div>
		<div class="row mb-3">
			<div class="col-lg-6">
				<%= f.text_field :dea_number, placeholder: 'DEA Number *', class: 'form-control' %>
			</div>
			<div class="col-lg-6">
				<!-- new field -->
					<%= f.select :dea_registration_date, options_for_select(@states.pluck(:name, :id), @provider.dea_registration_date),  {prompt: 'DEA Registration State'}, {:class => 'form-select'}  %>
			</div>
		</div>
		<div class="row mb-3">
			<div class="col-lg-6">
				<%= f.text_field :dea_license_effective_date, placeholder: 'DEA License Effective Date *', class: 'form-control', onfocus: "(this.type = 'date')" %>
			</div>
			<div class="col-lg-6">
				<%= f.text_field :dea_license_expiration_date, placeholder: 'DEA License Expiration Date *', class: 'form-control', onfocus: "(this.type = 'date')" %>
			</div>
		</div>
		<div class="row mb-3">
			<div class="col-lg-6">
				<!-- new field -->
				<%= f.text_field :provider_hire_date_seeing_patient,  placeholder: 'Hire date of provider seeing patients *', required: true, class: 'form-control', onfocus: "(this.type = 'date')" %>
			</div>
			<div class="col-lg-6">
				<!-- new field -->
				<%= f.text_field :effective_date_seeing_patient,  placeholder: 'Effective date of provider seeing patients *', class: 'form-control', onfocus: "(this.type = 'date')" %>
			</div>
		</div>
		<div class="row mb-3">
			<div class="col-lg-4">
				<!-- new field -->
				<%= f.text_field :medicare_provider_number,  placeholder: 'Medicare Provider Number *', required: true, class: 'form-control' %>
			</div>
			<div class="col-lg-4">
				<!-- new field -->
				<%= f.text_field :medicaid_provider_number,  placeholder: 'Medicaid Provider Number *', required: true, class: 'form-control'%>
			</div>
			<div class="col-lg-4">
				<!-- new field -->
				<%= f.text_field :tricare_provider_number,  placeholder: 'TRICARE Provider Number*', required: true, class: 'form-control' %>
			</div>
		</div>
		<div class="row mb-3">
			<div class="col-lg-6">
				<!-- new field -->
				<label>Admitting Privileges</label>
				<!-- will still need to get options from Rave -->
	   <%= f.select :admitting_privileges, options_for_select([]), { prompt: '' }, {:class => 'form-select'}  %>
			</div>
			<div class="col-lg-6">
				<!-- new field -->
				<label>Have you gone recently through revalidation with any payor?</label>
	    <%= f.select :revalidation, options_for_select([['Yes','yes'],['No','no']], @provider.revalidation), { prompt: '' }, {:class => 'form-select'}  %>
			</div>
		</div>
		<div class="row mb-5">
			<div class="col-lg-6">
				<!-- new field -->
				<label>Are you employed by other groups or facilities?</label>
	            <%= f.select :employed_by_other, options_for_select([['Yes','yes'],['No','no']], @provider.employed_by_other), { prompt: '' }, {:class => 'form-select'}  %>

			</div>
			<div class="col-lg-6">
				<!-- new field -->
				<label>Does the provider require to work under a supervising licensed psychologist?</label>
	            <%= f.select :supervised_by_psychologist, options_for_select([['Yes','yes'],['No','no']], @provider.supervised_by_psychologist), { prompt: '' }, {:class => 'form-select'}  %>
			</div>
		</div>

		<div class="row-mb-5">
			<div class="col-lg-12 mb-2">
				<strong>Medical School</strong>
			</div>
			<div class="col-lg-12">
				<div class="row mb-3">
					<div class="col-lg-6">
						<!-- new field -->
						<%= f.text_field :medical_school_name,  placeholder: 'Medical School Name',class: 'form-control'%>
					</div>
					<div class="col-lg-6">
						<!-- new field -->
						<%= f.text_field :medical_school_address,  placeholder: 'Medical School Address', class: 'form-control'%>
					</div>
				</div>
				<div class="row mb-3">
					<div class="col-lg-6">
						<!-- new field -->
						<%= f.text_field :graduation_date,  placeholder: 'Graduation Date *', class: 'form-control', onfocus: "(this.type = 'date')" %>
					</div>
					<div class="col-lg-6">
						<!-- new field -->
						<%= f.file_field :school_certificate,  placeholder: 'Copy of Certificate',  class: 'form-control', title: 'Copy of Certificate'%>
						<% if @provider.school_certificate.url.present? %>
						<a href="<%= f.object.school_certificate.url %>" target="_blank">View School Certificate</a>
					<% end %>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="row mb-3">
			<div class="col-lg-6">
				<%= f.text_field :caqhid, placeholder: 'CAQH ID *', class: 'form-control' %>
			</div>
			<div class="col-lg-6">
				<%= f.text_field :caqh_attestation_date, placeholder: 'CAQH Attestation Date *', class: 'form-control', onfocus: "(this.type = 'date')" %>
			</div>
		</div>
		<div class="row mb-3">
			<div class="col-lg-6">
				<%= f.file_field :caqh_pdf,  placeholder: 'CAQH PDF',  class: 'form-control', title: 'CAQH PDF'%>
				<% if @provider.caqh_pdf.url.present? %>
					<a href="<%= f.object.caqh_pdf.url %>" target="_blank">View CAQH PDF</a>
				<% end %>
			</div>
			<div class="col-lg-6">
				<%= f.text_field :caqh_pdf_date_received, placeholder: 'CAQH PDF Date Received *', class: 'form-control', onfocus: "(this.type = 'date')" %>
			</div>
		</div>
		<div class="row mb-3">
			<div class="col-lg-6">
				<!-- new field -->
				<%= f.text_field :caqh_username,  placeholder: 'CAQH Username', class: 'form-control' %>
			</div>
			<div class="col-lg-6">
				<!-- new field -->
				<%= f.password_field :caqh_password,  placeholder: 'CAQH Password', class: 'form-control' %>
			</div>
		</div>
		<div class="row mb-3">
			<div class="col-lg-6">
				<!-- new field -->
	   <%= f.select :caqh_state, options_for_select(@states.pluck(:name, :id), @provider.caqh_state), {prompt: 'CAQH State'}, {:class => 'form-select'}  %>
			</div>
			<div class="col-lg-6">
				<!-- new field -->
				<%= f.text_field :caqh_app,  placeholder: 'CAQH App', class: 'form-control' %>
			</div>
		</div>
		<div class="row mb-3">
			<div class="col-lg-6">
				<!-- new field -->
				<!-- will need to get options from rave -->
	   <%= f.select :caqh_payor, options_for_select([]), {prompt: 'CAQH Payor'}, {:class => 'form-select'}  %>
			</div>
		</div>
		<div class="row mb-3 mt-2">
			<div class="col-lg-12 mt-3">
				<h3>Taxonomy</h3>
			</div>
			<div id="taxonomies">
				 <div class="fields">
						<%= f.fields_for :taxonomies do |taxonomy_fields| %>
							<%= render 'taxonomy_fields', f: taxonomy_fields %>
						<% end %>
				 </div>
					<div class="links mt-2">
						<button type="button" class="add_association btn btn-primary" > <i class="bi bi-plus-circle-fill"></i> 	Add Taxonomy </button>
					</div>
			</div>
		</div>
		<div class="row mb-3 mt-2">
			<div class="col-lg-12 mt-3">
				<h3>License</h3>
			</div>
			<div id="licenses">
				 <div class="fields">
						<%= f.fields_for :licenses do |license_fields| %>
							<%= render 'license_fields', f: license_fields %>
						<% end %>
				 </div>
					<div class="links mt-2">
						<button type="button" class="add_association btn btn-primary" > <i class="bi bi-plus-circle-fill"></i> 	Add License </button>
					</div>
			</div>
		</div>
		<div class="row mb-3">
			<div class="col-lg-12 mt-3">
				<h3>PA License</h3>
			</div>
			<div class="col-lg-4">
				<!-- only change placement -->
				<%= f.text_field :nccpa_number, placeholder: 'NCCPA Number *', class: 'form-control' %>
			</div>
			<div class="col-lg-4">
				<%= f.text_field :pa_license_effective_date, placeholder: 'PA License Effective Date *', class: 'form-control', onfocus: "(this.type = 'date')" %>
			</div>
			<div class="col-lg-4">
				<%= f.text_field :pa_license_expiration_date, placeholder: 'PA License Expiration Date *', class: 'form-control', onfocus: "(this.type = 'date')" %>
			</div>
		</div>
		<div class="row mb-3 mt-2">
			<div class="col-lg-12 mt-3">
				<h3>NP License</h3>
			</div>
			<div id="np_licenses">
					<div class="fields">
						<%= f.fields_for :np_licenses do |np_license_fields| %>
							<%= render 'np_license_fields', f: np_license_fields %>
						<% end %>
					</div>
					<div class="links mt-2">
						<button type="button" class="add_association btn btn-primary" > <i class="bi bi-plus-circle-fill"></i> 	Add NP License </button>
					</div>
			</div>
		</div>
		<div class="row mb-5 mt-2">
			<div class="col-lg-12 mt-3">
				<h3>RN License</h3>
			</div>
			<div id="rn_licenses">
					<div class="fields">
						<%= f.fields_for :rn_licenses do |rn_license_fields| %>
							<%= render 'rn_license_fields', f: rn_license_fields %>
						<% end %>
					</div>
					<div class="links mt-2">
						<button type="button" class="add_association btn btn-primary" > <i class="bi bi-plus-circle-fill"></i> 	Add RN License </button>
					</div>
			</div>
		</div>
		<div class="row mb-3">
			<div class="col-lg-6">
				<label>Telehealth</label>
				<!-- new field -->
				<%= f.text_field :telehealth_license_number,  placeholder: 'Telehealth License Number', class: 'form-control' %>
			</div>
			<div class="col-lg-6">
				<label>Board Certification</label>
				<!-- new field -->
				<%= f.text_field :board_certification_number,  placeholder: 'Board Certification Number', class: 'form-control' %>
			</div>
		</div>
		<div class="row mb-3 mt-5">
			<div class="col-lg-6">
				<!-- new field -->
	    <%= f.select :dco, options_for_select(@states.pluck(:name, :id), @provider.dco), {prompt: 'Practice Location'}, {:class => 'form-select'}  %>
			</div>
			<div class="col-lg-6">
				<%= f.file_field :dco_file, placeholder: 'DCO *', class: 'form-control' %>
				<% if @provider.dco_file.url.present? %>
					<a href="<%= f.object.dco_file.url %>" target="_blank">View DCO</a>
				<% end %>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 d-flex justify-content-end">
				<button class="btn btn-primary btn-md">Submit</button>
			</div>
		</div>
		<% end %>

		<% content_for :js do %>
		<script>
			$(document).ready(function() {
					// taxonomies
					$("#taxonomies").on("click", ".add_association", function() {
							var taxonomiesFields = $("#taxonomies .field");
							var newTaxonomy = taxonomiesFields.last().clone();
							var newId = new Date().getTime();
							newTaxonomy.html(newTaxonomy.html().replace(/taxonomies_attributes\]\[\d+\]/g, "taxonomies_attributes][" + newId + "]"));
							$("#taxonomies .fields").append(newTaxonomy);
					});

					// licenses
					$("#licenses").on("click", ".add_association", function() {
							var licensesFields = $("#licenses .field");
							var newLicense = licensesFields.last().clone();
							var newId = new Date().getTime();
							newLicense.html(newLicense.html().replace(/licenses_attributes\]\[\d+\]/g, "licenses_attributes][" + newId + "]"));
							$("#licenses .fields").append(newLicense);
					});

					// np licenses
					$("#np_licenses").on("click", ".add_association", function() {
							var npLicensesFields = $("#np_licenses .field");
							var newNpLicense = npLicensesFields.last().clone();
							var newId = new Date().getTime();
							newNpLicense.html(newNpLicense.html().replace(/np_licenses_attributes\]\[\d+\]/g, "np_licenses_attributes][" + newId + "]"));
							$("#np_licenses .fields").append(newNpLicense);
					});

					// rn licenses
					$("#rn_licenses").on("click", ".add_association", function() {
							var rnLicensesFields = $("#rn_licenses .field");
							var newRnLicense = rnLicensesFields.last().clone();
							var newId = new Date().getTime();
							newRnLicense.html(newRnLicense.html().replace(/rn_licenses_attributes\]\[\d+\]/g, "rn_licenses_attributes][" + newId + "]"));
							$("#rn_licenses .fields").append(newRnLicense);
					});

			});
		</script>
		<% end %>