 <div class="row field mb-2">
		<div class="col-lg-3">
			<%= f.text_field :license_number, class: 'form-control', placeholder: 'License Number *' %>
		</div>
		<div class="col-lg-3">
			<%= f.text_field :license_effective_date, placeholder: 'License Effective Date *', class: 'form-control', onfocus: "(this.type = 'date')" %>
		</div>
		<div class="col-lg-3">
			<%= f.text_field :license_expiration_date, placeholder: 'License Expiration Date *', class: 'form-control', onfocus: "(this.type = 'date')" %>
		</div>
		<div class="col-lg-3">
			<%= f.check_box :_destroy %>
			<%= f.label :_destroy, "Remove" %>
		</div>
	</div>