 <div class="row field licenses-field mb-2 border-dash border-1 p-2" data-id=0>
		<div class="col-lg-6 mb-3">
      <label class="text-dark-grey">State License Number<span class="text-red">*</span>  <em>(if applicable, must include alpha, dashes, periods)</em></label>
			<%= f.text_field :license_number, placeholder: 'Type here...', class: form_control_classes(danger: f.object.license_number.blank? && @provider.persisted? ) %>
		</div>
		<div class="col-lg-6 mb-3 mt-2">
      <label class="text-dark-grey">Original License Issue Date <span class="text-red">*</span></label>
			<%= f.text_field :license_effective_date, placeholder: 'MM/DD/YYYY', class: form_control_classes(danger: f.object.license_effective_date.blank? && @provider.persisted? ), value: display_mdy(f.object.license_effective_date), onfocus: "(this.type = 'date')", required: true %>
		</div>

    <div class="col-lg-6">
        <label class="text-dark-grey">State Registered</label>
        <%= f.select :state_id, options_for_select([]), { prompt: 'State' }, { class: single_search_classes(danger: f.object.license_effective_date.blank? && @provider.persisted?), data: { value: f.object.state_id } } %>
    </div>

    <!-- <div class="col-lg-6">
      <label class="text-dark-grey">License Registration State <span class="text-red">*</span></label>
      <%= f.select :state_id, options_for_select([]), { prompt: 'State' }, {:class => 'form-select border border-dark state-select single-select',  data: { value: f.object.state_id } }  %>
    </div> -->
		<div class="col-lg-6 mb-3">
      <label class="text-dark-grey">State License Expiration Date <span class="text-red">*</span></label>
			<%= f.text_field :license_expiration_date, placeholder: 'MM/DD/YYYY', class: form_control_classes(danger: f.object.license_expiration_date.blank? && @provider.persisted? ), value: display_mdy(f.object.license_expiration_date), onfocus: "(this.type = 'date')", required: true %>
		</div>

    <div class="col-lg-6 mb-3">
      <label class="text-dark-grey">State License Renewal(Current Effective) Date <span class="text-red">*</span></label>
			<%= f.text_field :license_state_renewal_date, placeholder: 'MM/DD/YYYY', class: form_control_classes(danger: f.object.license_state_renewal_date.blank? && @provider.persisted? ), value: display_mdy(f.object.license_state_renewal_date), onfocus: "(this.type = 'date')", required: true %>
		</div>

    <div class="col-lg-6">
      <label class="text-dark-grey">License Type </label>
      <%= f.text_field :license_type, placeholder: 'Type here...', class: form_control_classes(danger: f.object.license_type.blank? && @provider.persisted? ) %>
    </div>

     <div class="col-lg-12 pb-2 d-flex justify-content-end">
			<%= f.check_box :_destroy %>
			<%= f.label :_destroy, "Remove", class: 'mx-2 text-dark-grey' %>
		</div>

</div>