 <div class="row field mn-medicaids-field mb-2" data-id=0>
    <div class="col-lg-6">
      <label class="text-dark-grey">MN Medicaid Number (should be NPI) (optional)</label>
      <%= f.text_field :mn_medicaid_number, placeholder: 'Type here...', class: 'form-control border border-dark mb-3' %>
    </div>
    <div class="col-lg-6">
      <label class="text-dark-grey">MN Medicaid Portal Username (optional)</label>
      <%= f.text_field :mn_medicaid_username, placeholder: 'Type here...', class: 'form-control border border-dark mb-3' %>
    </div>
    <div class="col-lg-6">
      <label class="text-dark-grey">MN Medicaid Security Question (optional)</label>
      <%= f.text_field :question, placeholder: 'Type here...', class: 'form-control border border-dark mb-3' %>
    </div>
    <div class="col-lg-6">
      <label class="text-dark-grey">MN Medicaid Portal Password (optional)</label>
      <%= f.password_field :password, placeholder: 'Type here...', class: 'form-control border border-dark mb-3' %>
    </div>
    <div class="col-lg-6">
      <label class="text-dark-grey">MN Medicaid Security Answer (optional)</label>
      <%= f.text_field :answer, placeholder: 'Type here...', class: 'form-control border border-dark mb-3' %>
    </div>
 </div>