<div class="mb-2 p-2 provider_note <%= "provider_note_#{provider_note.id}" %>" style="border: #0AAD38 1px solid;background-color: #CBFFCA;border-radius: 5px">
  <p class="mb-0">
    <%= provider_note&.created_at&.strftime("%d/%m/%Y") %>
    <button type="button" class="remove-dynamic-fields text-danger" style="border: none; background-color: transparent; float: right;" data-model="provider_notes" data-id=<%= provider_note.id %> > <i class="bi bi-trash-fill"></i></button>
  </p>
  <p class="mb-0 text-dark mb-2"><strong><%= provider_note&.title %></strong></p>
  <p class="mb-0"><%= provider_note&.description %></p>
</div>