<% content_for :js do %>
  <%= render "providers/js_components/string_array_modifier"%>
<% end %>
<%= form_for @provider, html: { multipart: true, id: 'provider-form' } do |f| %>
  <% if @provider.errors.any? %>
    <div id="error_explanation" class="row mb-3">
          <div class="col-lg-12">
              <h2><%= pluralize(@provider.errors.count, "error") %> prohibited this provider from being saved:</h2>

              <ul>
                  <% @provider.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                  <% end %>
              </ul>
          </div>
    </div>
  <% end %>

    <div class="row mb-3">
      <div class="col-lg-4">
        <label class="text-dark-grey">First Name </label>
        <%= f.text_field :first_name, class: form_control_classes(danger: @provider.first_name.blank? && @provider.persisted?), placeholder: 'Type here...' %>
      </div>
      <div class="col-lg-2">
        <label class="text-dark-grey">Middle Name(optional)</label>
        <%= f.text_field :middle_name, class: 'form-control border border-dark', placeholder: 'Type here...' %>
      </div>
      <div class="col-lg-4">
        <label class="text-dark-grey">Last Name </label>
        <%= f.text_field :last_name, class: form_control_classes(danger: @provider.last_name.blank? && @provider.persisted?), placeholder: 'Type here...' %>
      </div>
      <div class="col-lg-2">
        <label class="text-dark-grey">Suffix(optional)</label>
        <%= f.select :suffix, options_for_select(['Jr.', 'Sr.', 'II', 'III', 'IV', 'V'], @provider.suffix), { prompt: 'Select Option' }, { class: 'form-select border border-dark' } %>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-lg-4">
        <label class="text-dark-grey">Gender </label>
        <%= f.select :gender, options_for_select(['Male', 'Female', 'Non Binary'], @provider.gender), { prompt: 'Gender' }, { class: 'form-select border border-dark' } %>
      </div>
      <div class="col-lg-4">
        <label class="text-dark-grey">SSN </label>
        <%= f.text_field :ssn, class: form_control_classes(danger: @provider.ssn.blank? && @provider.persisted?), placeholder: 'Type here...' %>
      </div>
      <div class="col-lg-4">
        <label class="text-dark-grey">Date of Birth </label>
        <%= f.text_field :birth_date, placeholder: 'MM/DD/YYYY', class: form_control_classes(danger: @provider.birth_state.blank? && @provider.persisted?), onfocus: "(this.type = 'date')" %>
      </div>
      </div>
    <div class="row mb-3">
      <div class="col-lg-4">
        <label class="text-dark-grey">Birth City </label>
        <%= f.text_field :birth_city, class: form_control_classes(danger: @provider.birth_city.blank? && @provider.persisted?), placeholder: 'Type here...' %>
      </div>
      <div class="col-lg-4">
        <label class="text-dark-grey">Birth State</label>
        <%#= f.select :birth_state, options_for_select(states.map{|m| ["#{m.name} - #{m.alpha_code}", m.id]}, @provider.birth_state), {prompt: 'Select Option'}, {class: 'form-select border border-dark'}  %>
       <div class="search-select state-search-select form-control border border-dark" name="provider[birth_state]" id="birth_state">
      </div>
      </div>
      <!-- new field -->
      <div class="col-lg-4">
        <label class="text-dark-grey">Status</label>
        <%= f.select :status, options_for_select(provider_statuses, @provider.status), {prompt: 'Select Option'}, {class: 'form-select border border-dark'}  %>
      </div>
    </div>

    <h3 class="mt-5 mb-2">Home Address</h3>
    <div class="row mb-3">
      <div class="col-lg-6">
        <!-- new field -->
        <label class="text-dark-grey">Address Line 1</label>
        <%= f.text_field :address_line_1, placeholder: 'Type here...', class: form_control_classes(danger: @provider.address_line_1.blank? && @provider.persisted?) %>
      </div>
      <div class="col-lg-6">
        <!-- new field -->
        <label class="text-dark-grey">Address Line 2</label>
        <%= f.text_field :address_line_2,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-lg-6">
        <!-- new field -->
        <label class="text-dark-grey">City</label>
        <%= f.text_field :city, placeholder: 'Type here...', class: form_control_classes(danger: @provider.city.blank? && @provider.persisted?) %>
      </div>
      <div class="col-lg-6">
        <!-- new field -->
        <label class="text-dark-grey">State</label>
        <%#= f.select :state_id, options_for_select(states.pluck(:name, :id), @provider.state_id), {prompt: 'Select Option'}, {class: 'form-select border border-dark'}  %>
        <div class="search-select state-search-select form-control border border-dark" name="provider[state_id]" id="home_address_state">
        </div>
      </div>
    </div>
      <div class="row mb-3">
      <div class="col-lg-6">
        <!-- new field -->
        <label class="text-dark-grey">Zipcode</label>
        <%= f.text_field :zip_code, placeholder: 'Type here...', class: form_control_classes(danger: @provider.zip_code.blank? && @provider.persisted?) %>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-lg-4">
        <!-- new field -->
        <label class="text-dark-grey">Telephone Number</label>
        <%= f.telephone_field :telephone_number, placeholder: 'Type here...', class: 'form-control border border-dark' %>
      </div>
      <div class="col-lg-2">
        <!-- new field -->
        <label class="text-dark-grey">Ext</label>
        <%= f.text_field :ext, placeholder: 'Type here...' , class: 'form-control border border-dark' %>
      </div>
      <div class="col-lg-6">
        <!-- new field -->
        <label class="text-dark-grey">Email</label>
        <%= f.text_field :email_address,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
      </div>
    </div>

    <div class="row-mb-5">
      <div class="col-lg-12 mb-2">
        <h3 class="mt-5 mb-2">Medical School/Education</h3>
      </div>
      <div class="col-lg-12">
        <div class="row mb-3">
          <div class="col-lg-6">
            <!-- new field -->
          <label class="text-dark-grey">Medical School Name(optional)</label>
            <%= f.text_field :medical_school_name,  placeholder: 'Type here...',class: 'form-control border border-dark'%>
          </div>
          <div class="col-lg-6">
            <!-- new field -->
          <label class="text-dark-grey">Medical School Address(optional)</label>
            <%= f.text_field :medical_school_address,  placeholder: 'Type here...', class: 'form-control border border-dark'%>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-lg-6">
            <label class="text-dark-grey">Graduation Date(optional)</label>
            <%= f.text_field :graduation_date ,placeholder: 'MM/DD/YYYY', class: 'form-control border border-dark', onfocus: "(this.type = 'date')" %>
          </div>
          <div class="col-lg-6">
            <!-- new field -->
            <label class="text-dark-grey">Do you have a medical license? (optional)</label>
            <%= f.select :medical_license, options_for_select(yes_or_no_options, @provider.medical_license), {prompt: 'Select Option'}, {:class => 'form-select border border-dark'}  %>
          </div>
        </div>
        <div class="row mt-0 mb-3">
          <div class="col-lg-6">
          <label class="text-dark-grey">NPI(optional)</label>
          <%= f.text_field :npi, placeholder: 'Type here...',class: 'form-control border border-dark' %>
          </div>

          <div class="col-lg-6">
            <!-- new field -->
            <label class="text-dark-grey">Copy of Certificate(optional)</label>
            <%= f.file_field :school_certificate,  placeholder: 'Copy of Certificate',  class: form_control_classes(danger: @provider.school_certificate.blank? && @provider.persisted?), title: 'Copy of Certificate'%>
            <% if !@provider.pending_submitted_documents.include?('school_certificate')%>
            <%= HtmlUtils.generate_view_link file_url: @provider.school_certificate.url %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="row-mb-5">
      <div class="col-lg-12 mb-2">
          <h3 class="mt-5 mb-2">Practitioner Type Details</h3>
      </div>
      <div class="row mb-3">
        <div class="col-lg-6">
          <label class="text-dark-grey">Practitioner Type (can be multiple)</label>
          <%= HtmlUtils.multi_select_dropdown name: 'provider[practitioner_type]', id: 'provider_practitioner_type'%>
          <%#= f.collection_select :practitioner_type, provider_types, :fch, :fch, { prompt: 'Select Option' }, { class: 'form-control border border-dark', required: true } %>
        </div>
        <div class="col-lg-6">
          <label class="text-dark-grey">Taxonomy</label>
          <%= f.text_field :taxonomy, placeholder: 'Type here...',class: form_control_classes(danger: @provider.taxonomy.blank? && @provider.persisted?) %>
        </div>
      </div>
      <div class="row mb-3 mt-2">
      <div class="col-lg-6">
        <label class="text-dark-grey">Specialty (can be multiple)</label>
        <%= HtmlUtils.multi_select_dropdown name: 'provider[specialty]', id: 'provider_specialty'%>
        <%#= f.collection_select :specialty, specialties, :bcbs, :bcbs, { prompt: 'Select Option' }, { class: 'form-control border border-dark' } %>
      </div>
      <div class="col-lg-6">
        <label class="text-dark-grey">Provider Effective Date</label>
        <%= f.text_field :provider_effective_date ,placeholder: 'MM/DD/YYYY', class: 'form-control border border-dark', onfocus: "(this.type = 'date')" %>
      </div>
    </div>

      <div class="row mb-3 mt-2">
        <div class="col-lg-6">
           <label>Board Certified</label>
        <%= f.select :board_certified, options_for_select(yes_or_no_options, @provider.board_certified), {prompt: 'Select Option'}, {:class => 'form-select border border-dark'}  %>
        </div>
      </div>
    </div>
  <!--   <div class="row mb-3 mt-2">
      <div class="col-lg-12 mt-3">
        <h3>MN License</h3>
      </div>
      <div id="mn_licenses">
         <div class="fields">
            <%#= f.fields_for :mn_licenses do |mn_license_fields| %>
              <%#= render 'mn_license_fields', f: mn_license_fields %>
            <%# end %>
         </div>
      </div>
    </div> -->

    <div class="row mb-3">
      <div class="col-lg-12 mt-3">
        <h3>CAQH</h3>
      </div>
      <div class="col-lg-6">
        <label class="text-dark-grey">CAQH ID(optional)</label>
        <%= f.text_field :caqhid ,placeholder: 'Type here...', class: 'form-control border border-dark' %>
      </div>
      <div class="col-lg-6">
        <label class="text-dark-grey">CAQH Attestation Date(optional)</label>
        <%= f.text_field :caqh_attestation_date ,placeholder: 'MM/DD/YYYY', class: 'form-control border border-dark', onfocus: "(this.type = 'date')" %>
      </div>
    </div>
    <div class="row mb-3">
       <div class="col-lg-6">
        <label class="text-dark-grey">CAQH State(optional)</label>
       <%#= f.select :caqh_state, options_for_select(states.pluck(:name, :id), @provider.caqh_state), {prompt: 'Select Option'}, {:class => 'form-select border border-dark'}  %>
       <div class="search-select state-search-select form-control border border-dark" name="provider[caqh_state]" id="caqh_state">
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-lg-6">
        <label class="text-dark-grey">CAQH PDF</label>
        <%= f.select :caqh_pdf, options_for_select(yes_or_no_options, @provider.medical_license), {prompt: 'Select Option'}, {:class => 'form-select border border-dark'}  %>
       </div>
      <div class="col-lg-6">
        <label class="text-dark-grey">CAQH PDF Date Received(optional)</label>
        <%= f.text_field :caqh_pdf_date_received, placeholder: 'MM/DD/YYYY', class: 'form-control border border-dark', onfocus: "(this.type = 'date')" %>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-lg-6">
        <label class="text-dark-grey">CAQH Username(optional)</label>
        <%= f.text_field :caqh_username,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
      </div>
      <div class="col-lg-6">
          <label class="text-dark-grey">CAQH Password(optional)</label>
        <%= f.text_field :caqh_password,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-lg-6">
        <!-- add field -->
        <label class="text-dark-grey">Current Re-Attestation (optional)</label>
        <%= f.text_field :caqh_current_reattestation_date, placeholder: 'MM/DD/YYYY', class: 'form-control border border-dark', onfocus: "(this.type = 'date')" %>
      </div>
      <div class="col-lg-6">
        <!-- add field -->
        <label class="text-dark-grey">Re-Attestation must be completed by (optional)</label>
        <%= f.text_field :caqh_reattest_completed_by, placeholder: 'MM/DD/YYYY', class: 'form-control border border-dark', onfocus: "(this.type = 'date')"  %>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-lg-6">
        <!-- add field -->
        <label class="text-dark-grey">Questions (optional)</label>
        <%= f.text_field :caqh_question,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
      </div>
      <div class="col-lg-6">
        <!-- add field -->
        <label class="text-dark-grey">Answer (optional)</label>
        <%= f.text_field :caqh_answer,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-lg-12">
        <label class="text-dark-grey">CAQH Notes (optional)</label>
        <%= f.text_area :caqh_notes,  placeholder: 'Type here...', class: 'form-control border border-dark', rows: '3' %>
      </div>
    </div>

    <div class="row mb-3 mt-2">
      <div class="col-lg-12 mt-3">
        <h3>MCC</h3>
      </div>
      <div id="mcc_licenses">
         <div class="fields">
            <%= f.fields_for :mccs do |mcc_fields| %>
              <%= render 'mcc_fields', f: mcc_fields %>
            <% end %>
         </div>
      </div>
    </div>

    <div class="row mb-3 mt-2">
      <div class="col-lg-12 mt-3">
        <h3>MN Medicaid</h3>
      </div>
      <div id="mn_medicaid">
         <div class="fields">
            <%= f.fields_for :mn_medicaids do |mn_medicaid_fields| %>
              <%= render 'mn_medicaid_fields', f: mn_medicaid_fields %>
            <% end %>
         </div>
      </div>
    </div>

    <div class="row mb-3 mt-2">
      <div class="col-lg-12 mt-3">
        <h3>Medicaid</h3>
      </div>
      <div id="mn_medicaid">
         <div class="fields">
            <%= f.fields_for :medicaids do |medicaid_fields| %>
              <%= render 'medicaid_fields', f: medicaid_fields %>
            <% end %>
         </div>
      </div>
    </div>

    <div class="row mb-3 mt-2">
      <div class="col-lg-12 mt-3">
        <h3>WI Medicaid/Forward Health</h3>
      </div>
      <div id="wi_medicaid">
         <div class="fields">
            <%= f.fields_for :wi_medicaids do |wi_medicaid_fields| %>
              <%= render 'wi_medicaid_fields', f: wi_medicaid_fields %>
            <% end %>
         </div>
      </div>
    </div>

    <div class="row mb-3 mt-2">
      <div class="col-lg-12 mt-3">
        <h3>Medicare</h3>
      </div>
      <div id="wi_medicaid">
         <div class="fields">
            <%= f.fields_for :medicares do |medicare_fields| %>
              <%= render 'medicare_fields', f: medicare_fields %>
            <% end %>
         </div>
      </div>
    </div>

    <div class="row mb-5 mt-2">
      <div class="col-lg-12 mt-3">
        <h3>DEA License</h3>
      </div>
      <div id="dea_licenses">
          <div class="fields">
            <%= f.fields_for :dea_licenses do |dea_license_fields| %>
              <%= render 'dea_license_fields', f: dea_license_fields %>
            <% end %>
          </div>
      </div>
    </div>
     <div class="row mb-5 mt-2">
      <div class="col-lg-12 mt-3">
        <h3>RN License</h3>
      </div>
      <div id="rn_licenses">
          <div class="fields">
            <%= f.fields_for :rn_licenses do |rn_license_fields| %>
              <%= render 'rn_license_fields', f: rn_license_fields %>
            <% end %>
          </div>
      </div>
    </div>
    <div class="row mb-5 mt-2">
      <div class="col-lg-12 mt-3">
        <h3>CNP License</h3>
      </div>
      <div id="cnp_licenses">
          <div class="fields">
            <%= f.fields_for :cnp_licenses do |cnp_license_fields| %>
              <%= render 'cnp_license_fields', f: cnp_license_fields %>
            <% end %>
          </div>
      </div>
    </div>

    <div class="row mb-3 mt-2">
      <div class="col-lg-12 mt-3">
        <h3>State License</h3>
      </div>
      <div id="licenses">
         <div class="fields">
            <%= f.fields_for :licenses do |license_fields| %>
              <%= render 'license_fields', f: license_fields %>
            <% end %>
         </div>
      </div>
    </div>

    <div class="row mb-3 mt-2">
      <div class="col-lg-12 mt-3">
        <h3>PA License</h3>
      </div>
      <div id="pa_licenses">
         <div class="fields">
            <%= f.fields_for :pa_licenses do |pa_license_fields| %>
              <%= render 'pa_license_fields', f: pa_license_fields %>
            <% end %>
         </div>
      </div>
    </div>

    <div class="row mb-3 mt-2">
      <div class="col-lg-12 mt-3">
        <h3>NP License</h3>
      </div>
      <div id="np_licenses">
          <div class="fields">
            <%= f.fields_for :np_licenses do |np_license_fields| %>
              <%= render 'np_license_fields', f: np_license_fields %>
            <% end %>
          </div>
      </div>
    </div>

    <div class="row mb-3 mt-2">
      <div class="col-lg-12 mt-3">
        <h3>INS Policy</h3>
      </div>
      <div id="ins_policies">
          <div class="fields">
            <%= f.fields_for :ins_policies do |ins_policy| %>
              <%= render 'ins_policy_fields', f: ins_policy %>
            <% end %>
          </div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-lg-4">
        <!-- new field -->

        <label class="text-dark-grey">Medicare Provider Number</label>
        <%= f.text_field :medicare_provider_number,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
      </div>
      <div class="col-lg-4">
        <!-- new field -->
        <label class="text-dark-grey">Medicaid Provider Number</label>
        <%= f.text_field :medicaid_provider_number,  placeholder: 'Type here...', class: 'form-control border border-dark'%>
      </div>
      <div class="col-lg-4">
        <!-- new field -->
        <label class="text-dark-grey">TRICARE Provider Number</label>
        <%= f.text_field :tricare_provider_number,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
      </div>
    </div>

     <div class="row mb-3 mt-3">
     <div class="col-lg-12 mt-3">
        <h3>Practice Information</h3>
      </div>
      <div class="col-lg-6">
      <!-- new field -->
      <label class="text-dark-grey">Client</label>
      <%= f.select :enrollment_group_id, options_for_select(groups.pluck(:group_name, :id), @provider.enrollment_group_id), {prompt: 'Select option'}, {class: form_select_classes(danger: @provider.enrollment_group_id.blank? && @provider.persisted?), data: {show: 'provider_dco_div'}}  %>
      </div>
      <div class="col-lg-6 <%= @provider.no_group? ? 'd-none' : '' %>" id="provider_dco_div">
      <!-- new field -->
      <label class="text-dark-grey">DCO/Practice Location</label>
      <%= f.select :dco, options_for_select(group_dcos.pluck(:dco_name, :id), @provider.dco), {prompt: 'Select option'}, {:class => 'form-select border border-dark'}  %>
      </div>
    </div>

        <div class="row">
          <div class="col-lg-6">
            <!-- new field -->
            <%= HtmlUtils.radio_toggle name: 'provider[telehealth_providers]',
                    label: 'Are you a Telehealth Provider?',
                    container_class: 'd-flex align-items-center my-3',
                    toshow: 'service_locations_fields'
                  %>
          <%= f.hidden_field :telehealth_providers %>
          </div>
          <div class="row mb-3">
            <div id="service_locations">
               <div class="row d-none" id="service_locations_fields">
                  <div class="fields">
                    <%= f.fields_for :service_locations do |service_location_fields| %>
                      <%= render 'service_location_fields', f: service_location_fields %>
                    <% end %>
                  </div>
                </div>
            </div>
          </div>
        </div>


    <div class="row mb-3">
      <div class="col-lg-6">
        <!-- new field -->
        <label class="text-dark-grey">Hire date of provider seeing patients</label>
        <%= f.text_field :provider_hire_date_seeing_patient,  placeholder: 'Type here...', class: 'form-control border border-dark', onfocus: "(this.type = 'date')" %>
      </div>
      <div class="col-lg-6">
        <!-- new field -->
        <label class="text-dark-grey">Effective date of provider seeing patients</label>
        <%= f.text_field :effective_date_seeing_patient , placeholder: 'Type here...', class: 'form-control border border-dark', onfocus: "(this.type = 'date')" %>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-lg-6">
        <!-- new field -->
        <%= HtmlUtils.radio_toggle name: 'provider[admitting_privileges]',
                label: 'Admitting Privileges?',
                container_class: 'd-flex align-items-center my-3',
                toshow: 'admitting_privileges_fields'
              %>
      <%= f.hidden_field :admitting_privileges %>
      </div>
      <div class="col-lg-12 mt-1">
        <div class="row d-none" id="admitting_privileges_fields">
          <div class="col-lg-6 mb-3">
            <label class="text-dark-grey">Name of Admitting Physician/Practice/Clinic/Group(optional)</label>
            <%= f.text_field :name_admitting_physician, placeholder:'Type here...', class: 'form-control border-dark' %>
          </div>

          <div class="col-lg-6 mb-3">
            <label class="text-dark-grey">Facility Name(optional)</label>
            <%= f.text_field :facility_name, placeholder:'Type here...', class: 'form-control border-dark' %>
          </div>

          <div class="col-lg-6 mb-3">
            <label class="text-dark-grey">Facility Location(optional)</label>
            <%= f.text_field :facility_location, placeholder:'Type here...', class: 'form-control border-dark' %>
          </div>

          <div class="col-lg-6 mb-3">
            <label class="text-dark-grey">Address Line 1(optional)</label>
            <%= f.text_field :admitting_facility_address_line1, placeholder:'Type here...', class: 'form-control border-dark' %>
          </div>

          <div class="col-lg-6 mb-3">
            <label class="text-dark-grey">Address Line 2(optional)</label>
            <%= f.text_field :admitting_facility_address_line2, placeholder:'Type here...', class: 'form-control border-dark'%>
          </div>

          <div class="col-lg-6 mb-3">
            <label class="text-dark-grey">City(optional)</label>
            <%= f.text_field :admitting_facility_city, placeholder:'Type here...', class: 'form-control border-dark'%>
          </div>

           <div class="col-lg-6 mb-3">
            <label class="text-dark-grey">State(optional)</label>
           <%#= f.select :admitting_facility_state, options_for_select(states.pluck(:name, :id), @provider.admitting_facility_state), {prompt: 'Select Option'}, {:class => 'form-select border border-dark'}  %>
            <div class="search-select state-search-select form-control border border-dark" name="provider[admitting_facility_state]" id="admitting_state">
            </div>
          </div>

          <div class="col-lg-6 mb-3">
            <label class="text-dark-grey">Zip Code(optional)</label>
            <%= f.text_field :admitting_facility_zip_code, placeholder:'Type here...', class: 'form-control border-dark'%>
          </div>

          <div class="col-lg-12 mb-3">
            <label class="text-dark-grey">Please explain your admitting arrangements(optional)</label>
            <%= f.text_area :admitting_facility_arrangments, placeholder:'Type here...', class: 'form-control border-dark', rows: '8'%>
          </div>
        </div>
      </div>
    </div>
    <hr>

    <div class="row mb-3">
      <div class="col-lg-6">
          <!-- new field -->
          <label class="text-dark-grey">Are you employed by other groups or facilities?</label>
          <%= f.select :employed_by_other, options_for_select([['Yes','yes'],['No','no']], @provider.employed_by_other), { prompt: 'Select Option' }, {:class => 'form-select border border-dark'}  %>
      </div>
      <div class="col-lg-6">
        <!-- new field -->
        <label class="text-dark-grey">Have you gone recently through revalidation with any payor?</label>
      <%= f.select :revalidation, options_for_select([['Yes','yes'],['No','no']], @provider.revalidation), { prompt: 'Select Option' }, {:class => 'form-select border border-dark'}  %>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-lg-6">
        <!-- new field -->
        <label class="text-dark-grey">Does the provider require to work under a supervising licensed psychologist?</label>
              <%= f.select :supervised_by_psychologist, options_for_select([['Yes','yes'],['No','no']], @provider.supervised_by_psychologist), { prompt: 'Select Option' }, {:class => 'form-select border border-dark'}  %>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-lg-12 mt-3">
          <h3>Telehealth</h3>
      </div>
      <div class="col-lg-6">
        <label class="text-dark-grey">Telehealth License Number</label>
        <%= f.text_field :telehealth_license_number,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
      </div>
      <div class="col-lg-6">
        <label class="text-dark-grey">Licensed Registered State</label>
        <%#= f.text_field :board_certification_number,  placeholder: 'Type here...', class: 'form-control border border-dark' %>

        <%#= f.select :licensed_registered_state_id, options_for_select(states.pluck(:name, :id), @provider.licensed_registered_state_id), {prompt: 'Select Option'}, {class: 'form-select border border-dark'}  %>

        <div class="search-select state-search-select form-control border border-dark" name="provider[licensed_registered_state_id]" id="license_registered_state">

      </div>
    </div>

    <div class="row mb-3">
      <div class="col-lg-12 mt-3">
          <h3>Documents</h3>
          <%= link_to 'Deleted Logs', 'javascript:void(0);', class: 'btn btn-xs bg-primary text-white mb-2', "data-bs-toggle": 'modal', "data-bs-target": '#deletedLogsModal' %>
      </div>
      <div class="col-lg-6 mb-3">
        <label>State License Copy</label>
        <%= f.file_field :state_license_copy_file, placeholder: 'State License Copy', class: 'form-control border border-dark' %>
        <%= render partial: 'document', locals: { key: 'state_license_copy_file', slug: 'state-license-copy' } %>
      </div>
      <div class="col-lg-6 mb-3">
        <label>DEA Copy</label>
        <%= f.file_field :dea_copy_file, placeholder: 'DEA Copy', class: 'form-control border border-dark' %>
        <%= render partial: 'document', locals: { key: 'dea_copy_file', slug: 'dea-copy' } %>
      </div>
      <div class="col-lg-6 mb-3">
        <label>W9 Form, <a href="https://www.irs.gov/pub/irs-pdf/fw9.pdf" target="_blank">download template here</a></label>
        <%= f.file_field :w9_form_file, placeholder: 'W9 Form', class: 'form-control border border-dark' %>
        <%= render partial: 'document', locals: { key: 'w9_form_file', slug: 'w9-form' } %>
      </div>
      <div class="col-lg-6 mb-3">
        <label>Certificate of Insurance</label>
        <%= f.file_field :certificate_insurance_file, placeholder: 'Certificate of Insurance', class: 'form-control border border-dark' %>
        <%= render partial: 'document', locals: { key: 'certificate_insurance_file', slug: 'certificate-insurance' } %>
      </div>
      <div class="col-lg-6 mb-3">
        <label>Drivers License</label>
        <%= f.file_field :drivers_license_file, placeholder: 'Drivers License', class: 'form-control border border-dark' %>
        <%= render partial: 'document', locals: { key: 'drivers_license_file', slug: 'drivers-license' } %>
      </div>
      <div class="col-lg-6">
        <label>Board Certification</label>
        <%= f.file_field :board_certification_file, placeholder: 'Board Certification', class: 'form-control border border-dark' %>
        <%= render partial: 'document', locals: { key: 'board_certification_file', slug: 'board-certification' } %>
      </div>
      <div class="col-lg-6 mb-3">
        <label>CAQH App Copy</label>
          <%= f.file_field :caqh_app_copy_file, placeholder: 'CAQH App Copy', class: 'form-control border border-dark' %>
          <%= render partial: 'document', locals: { key: 'caqh_app_copy_file', slug: 'caqh-app-copy' } %>
      </div>
      <div class="col-lg-6 mb-3">
        <label>Curriculum Vitae (CV)</label>
        <%= f.file_field :cv_file, placeholder: 'Curriculum Vitae (CV)', class: 'form-control border border-dark' %>
        <%= render partial: 'document', locals: { key: 'cv_file', slug: 'curriculum-vitae' } %>
      </div>
        <div class="col-lg-6 mb-3">
        <label>Telehealth License Copy</label>
          <%= f.file_field :telehealth_license_copy_file, placeholder: 'Telehealth License Copy', class: 'form-control border border-dark' %>
          <%= render partial: 'document', locals: { key: 'telehealth_license_copy_file', slug: 'telehealth-license-copy' } %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 d-flex justify-content-end">
        <button type="submit" class="btn btn-primary btn-md">Submit</button>
      </div>
    </div>
<% end %>



    <% content_for :js do %>

      <!-- Modals -->
      <div class="modal fade" id="deleteFormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="">
                        <div class="modal-title">
                            <h1 class="mb-2">Delete existing <strong id="documentTitle">W9 Form</strong>?</h1>
                        </div>
                        <div class="form-row row">
                            <div class="col-xl-12">
                                <label for="">Note</label>
                                <textarea name="note" id="delete-form-note" cols="30" rows="10" class="form-control"></textarea>

                            </div>
                        </div>
                        <div class="form-row mt-3">
                            <button id="btnDelete" class="btn btn-manage btn-danger" onclick="deleteDocument(this)" data-providerid="" data-documentholder="">Yes</button>
                            <button id="btnCancel" class="btn btn-card-remove fw-bold text-black" data-bs-dismiss="modal" onclick="clearNote()">No</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deletedLogsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                  <div class="modal-body">
                      <div class="">
                          <div class="modal-title border-1 border-bottom mb-2">
                              <h3>Deleted Logs</h3>
                          </div>
                          <div class="form-row row">
                              <div id="deleted-logs" class="col-xl-12">
                                <!-- loading -->
                                <div class="d-flex justify-content-center">
                                  <div class="spinner-border text-primary" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                  </div>
                                </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- Modals -->

    <div class="col-lg-12">

    <%= render "providers/js_components/add_remove_association_buttons" %>
    <%= render "providers/js_components/ajax_set_dropdown_options" %>
    <%= render "providers/js_components/deleted_document_logs" %>

    <script>
      $(document).ready(function() {
        var dco = "<%= @provider.dco %>";
       setTimeout(function() { $('#provider_enrollment_group_id').trigger('change'); }, 500);
        setTimeout(function() {
          if(dco != ''){
              $('#provider_dco option[value="' + dco + '"]').prop('selected', true);
          }
        }, 1500);

      });
    </script>
    <% end %>

    <style type="text/css">
      .multi-select, .search-select {
        padding: 0;
         width: 100%;
         max-width: 1000px;
      }
    </style>