<div class="row field mb-2">
	<div class="col-lg-3">
		<%= f.text_field :rn_license_number, class: 'form-control', placeholder: 'RN License Number *' %>
	</div>
	<div class="col-lg-3">
		<%= f.text_field :rn_license_effective_date, placeholder: 'RN License Effective Date *', class: 'form-control', onfocus: "(this.type = 'date')" %>
	</div>
	<div class="col-lg-3">
		<%= f.text_field :rn_license_expiration_date, placeholder: 'RN License Expiration Date *', class: 'form-control', onfocus: "(this.type = 'date')" %>
	</div>
	<div class="col-lg-3">
		<%= f.check_box :_destroy %>
		<%= f.label :_destroy, "Remove" %>
	</div>
</div>