<div class="field card p-3 py-3 mb-3 primary-service-location-field">
				<h5>Primary Service Location</h5>
				<div class="row mb-3">
					<div class="col-lg-6">
						<label class="text-dark-grey">None-Office Service Area </label>
						<%= f.collection_select :primary_service_non_office_area, states, :name, :name, { prompt: 'Select Option' }, { class: 'form-control border border-dark' } %>
					</div>
					<div class="col-lg-6">
						<label class="text-dark-grey">Service Location Apps/Intake Phone </label>
						<%= f.text_field :primary_service_location_apps, class: 'form-control border border-dark', placeholder: 'Type here... ' %>
					</div>
				</div>
				<div class="row mb-3">
					<div class="col-lg-6">
						<label class="text-dark-grey">Service Location Zip Code </label>
						<%= f.text_field :primary_service_zip_code, class: 'form-control border border-dark', placeholder: 'Type here... ' %>
					</div>
					<div class="col-lg-6">
						<label class="text-dark-grey">Office Email Address </label>
						<%= f.text_field :primary_service_office_email, class: 'form-control border border-dark', placeholder: 'Type here... ' %>
					</div>
				</div>
				<div class="row mb-3">
					<div class="col-lg-6">
						<label class="text-dark-grey">Service Location Fax </label>
						<%= f.text_field :primary_service_fax, class: 'form-control border border-dark', placeholder: 'Type here... ' %>
					</div>
					<div class="col-lg-6">
						<label class="text-dark-grey">Office Website </label>
						<%= f.text_field :primary_service_office_website, class: 'form-control border border-dark', placeholder: 'Type here... ' %>
					</div>
				</div>	
				<div class="row mb-3">
					<div class="col-lg-6">
						<label class="text-dark-grey"> Service Location Crisis Phone </label>
						<%= f.text_field :primary_service_crisis_phone, class: 'form-control border border-dark', placeholder: 'Type here... ' %>
					</div>
					<div class="col-lg-6">
						<label class="text-dark-grey">Service Location Other Phone/Pager </label>
						<%= f.text_field :primary_service_location_other_phone, placeholder: 'Type here...', class: 'form-control border border-dark' %>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 mb-2 d-flex justify-content-start">
						<%= f.check_box :primary_service_appt_scheduling %>
						<%= f.label :primary_service_appt_scheduling, "Self Service Appt Scheduling Available", class: 'mx-2 text-dark-grey' %>
					</div>
				</div>
				<div class="row mb-3">
					<div class="col-lg-6">
						<label class="text-dark-grey">Qualified Medical Interpreter Language </label>
						<%= f.collection_select :primary_service_interpreter_language, languages, :name, :name, { prompt: 'Select Option' }, { class: 'form-control border border-dark' } %>
					</div>
					<div class="col-lg-6">
						<label class="text-dark-grey">Telehealth Only State/District </label>
						<%= f.collection_select :primary_service_telehealth_only_state, states, :name, :name, { prompt: 'Select Option' }, { class: 'form-control border border-dark' } %>
					</div>
				</div>
				<hr>
				<div class="row">
						<div class="col-lg-7 d-flex justify-content-end">
							<button type="button" class="add_association btn btn-primary btn-s" > <i class="bi bi-plus-circle-fill"></i> 	Add Additional Service Location </button>
						</div>
						<div class="col-md-5 d-flex justify-content-end">
								<button type="button" class="btn btn-danger remove-dynamic-fields" data-model="np_licenses" data-id="<%= f.object.id %>" > <i class="bi bi-trash-fill"></i></button>
							</a>
						</div>
				</div>
</div>