<div class="row field work-history-provider-fields mb-2 border-dash border-1 p-2" data-id=0>
  <div class="col-lg-6 mb-3">
    <label class="text-dark-grey">Practice / Group Name</span></label>
    <%= f.text_field :practice_name, placeholder: 'Type here...',class: 'form-control border border-dark' %>
  </div>
  <div class="col-lg-6 mb-3">
    <label class="text-dark-grey">Location</span></label>
    <%= f.text_field :location, placeholder: 'Type here...',class: 'form-control border border-dark' %>
  </div>
  
  <div class="col-lg-6 mb-3">
    <label class="text-dark-grey">Start Date</label>
    <%= f.date_field :start_date, placeholder: 'Type here...',class: 'form-control border border-dark' %>
  </div>
  <div class="col-lg-6 mb-3">
    <label class="text-dark-grey">End Date</span></label>
    <%= f.date_field :end_date, placeholder: 'Type here...',class: 'form-control border border-dark' %>
  </div> 

  <div class="col-lg-6 mb-3">
    <label class="text-dark-grey">Tax ID </span></label>
    <%= f.text_field :tax_id, placeholder: 'Type here...', class: 'form-control border border-dark'%>
  </div>

  <div class="col-lg-6 mb-3">
    <label class="text-dark-grey">Reason of Leaving </span></label>
    <%= f.text_area :reasone_of_leaving, placeholder: 'Type here...', class: 'form-control border border-dark'%>
  </div>
  <div class="row">
    <div class="col-lg-12 pb-2 d-flex justify-content-end">
      <%= f.check_box :_destroy %>
      <%= f.label :_destroy, "Remove", class: 'mx-2 text-dark-grey' %>
    </div>
  </div>
</div>
