<div class="content container-fluid">
	<%= render "enrollment_tracking_components/enrollment_nav"%>
</div>
<%= render 'user_restriction', locals: { access_key: 'Providers' } do %>
	<div class="content container-fluid">
		<div class="row mb-3">
			<div class="col-lg-6">
				<form class="form_search_with_icon">
				<div class="">
					<input type="text" name="user_search" class="form-control" placeholder="Search by Name or NPI" value="<%=  params[:user_search] %>">
					<i class="bi bi-search"></i>
				</div>
				</form>
			</div>
			<div class="col-lg-6 d-flex justify-content-end gap-2">
				<% unless current_setting.sprout? && current_user.user_role == "admin_staff" %>
					<%= link_to 'Autoverify', auto_verifies_path, class: "btn btn-md border-0 btn-secondary text-black bg-alt-grey"%>
				<% end %>
				
				<% if current_user.can_access?('Add New Provider') %>
					<%= link_to new_provider_url, class: "d-flex btn btn-primary btn-md" do %>
									<i class="bi bi-plus-lg me-2"></i>
							Add New Provider
					<% end %>
				<% end %>

				<button id="peerRecommendationModalBtn" type="button" class="btn btn-primary btn-md float-end disabled" data-bs-toggle="modal" data-bs-target="#peerRecommendationModal">
					<span class="mx-1">Review Committee Recommendation</span>
				</button>
				<%= render partial: 'peer_recommendation_modal' %>
			</div>
		</div>
		<div class="row">
			<div class="col-lg">
				<table class="table table-striped table-bordered table-responsive">
						<thead>
								<tr>
									<th width="10%">
										<div class="form-check">
												<input class="form-check-input" type="checkbox" value="" id="providerSelectAllCheckbox">
										</div>
									</th>
									<th scope="col" class="bg-primary text-white">Provider Name</th>
									<th scope="col" class="bg-primary text-white">Practitioner/Provider Type</th>
									<th scope="col" class="bg-primary text-white">NPI</th>
								</tr>
						</thead>
						<tbody>
							<%= render @providers %>
						</tbody>
				</table>
				<% if @providers %>
				<div class="col-lg-12">
								<div class="d-flex justify-content-between bg-medium-grey rounded align-items-center py-3">
								<div class="page_info ms-3 text-black">
																<%= page_entries_info @providers %>
								</div>
								<% if params[:per_page ].present? %>
												<%= will_paginate @providers, :params =>  {per_page: @per_page }, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
								<% else %>
												<%= will_paginate @providers, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
								<% end %>
								</div>
				</div>
				<% end %>
			</div>
			<div id="show-provider-container">

			</div>
		</div>
	</div>
<% end %>
<% content_for :js do %>
  <script>
    $(document).ready(function() {
      const selectedIdsInput = $('#selected-ids-input');
      const checkboxes = $("input[name='selected_ids[]']");
      const selectAllCheckbox = $('#providerSelectAllCheckbox');
      const actionButton = $('#peerRecommendationModalBtn');

      selectAllCheckbox.on('click', function() {
        const isChecked = $(this).is(':checked');
        checkboxes.prop('checked', isChecked);
        updateSelectedIds();
      });

      $(document).on('click', '.provider-select-checkbox', function() {
        updateSelectedIds();
      });

      function toggleActionButton(isEnabled) {
        if (isEnabled) {
          actionButton.removeClass('disabled');
        } else {
          actionButton.addClass('disabled');
        }
      }

      function updateSelectedIds() {
        let selectedIds = [];
        let anyChecked = false;

        checkboxes.each(function() {
          if ($(this).is(':checked')) {
            selectedIds.push($(this).val());
            anyChecked = true;
          }
        });

        selectedIdsInput.val(selectedIds.join(','));
        toggleActionButton(anyChecked);
      }
    });
  </script>
<% end %>
