<div class="content container-fluid">
  <%= render "enrollment_tracking_components/enrollment_nav"%>

   <div class="row" id="overview">
      <div class="col-lg-9">
         <h2>Dashboard Overview</h2>
         <div class="row mb-3">
            <div class="col-lg-4 mb-3">
               <div class="card p-2">
                  <%= link_to providers_url do %>
                  <h3>Providers</h3>
                  <% end %>
                  <h5 class="text-white">spacer</h5>
                  <div class="w-100 d-flex justify-content-center align-items-center" style="height: 100px;">
                     <%= link_to providers_url do %>
                     <h1 style="font-size: 40px;">
                        <%= Provider.count %>
                     </h1>
                     <% end %>
                  </div>
               </div>
            </div>
            <div class="col-lg-4 mb-3">
               <div class="card p-2">
                  <%= link_to groups_enrollments_path do %>
                  <h3>Groups</h3>
                  <% end %>
                  <h5 class="text-white">spacer</h5>
                  <div class="w-100 d-flex justify-content-center align-items-center" style="height: 100px;">
                     <%= link_to groups_enrollments_path do %>
                     <h1 style="font-size: 40px;">
                        <%= EnrollmentGroup.count %>
                     </h1>
                     <% end %>
                  </div>
               </div>
            </div>
            <div class="col-lg-4 mb-3">
               <div class="card p-2">
                  <%= link_to groups_enrollments_path do %>
                  <h3>Pending Enrollments</h3>
                  <% end %>
                  <div class="d-flex gap-2">
                     <a href="<%= groups_enrollments_path%>"><h5>Providers</h5></a>
                     <a href="<%= enroll_groups_path %>"><h5>Groups</h5></a>
                  </div>
                  <div class="w-100 d-flex justify-content-center align-items-center" style="height: 100px;">
                     <%= link_to groups_enrollments_path do %>
                     <h1 style="font-size: 40px;">
                        <%= EnrollmentProvider.pending.count %>
                     </h1>
                     <% end %>
                  </div>
               </div>
            </div>
            <div class="col-lg-4">
               <div class="card p-2">
                  <%= link_to groups_enrollments_path do %>
                  <h3>Completed Enrollments</h3>
                  <% end %>
                  <div class="d-flex gap-2">
                     <a href="<%= groups_enrollments_path%>"><h5>Providers</h5></a>
                     <a href="<%= enroll_groups_path %>"><h5>Groups</h5></a>
                  </div>
                  <div class="w-100 d-flex justify-content-center align-items-center" style="height: 100px;">
                     <%= link_to groups_enrollments_path do %>
                     <h1 style="font-size: 40px;">
                        <%= EnrollmentProvider.completed.count %>
                     </h1>
                     <% end %>
                  </div>
               </div>
            </div>
            <div class="col-lg-4">
               <div class="card p-2">
                <!-- dont know where this leads -->
                  <%= link_to providers_url do %>
                  <h3>Scheduled Callbacks</h3>
                  <% end %>
                  <h5 class="text-white">spacer</h5>
                  <div class="w-100 d-flex justify-content-center align-items-center" style="height: 100px;">
                     <%= link_to providers_url do %>
                     <h1 style="font-size: 40px;">
                        0
                     </h1>
                     <% end %>
                  </div>
               </div>
            </div>
         </div>

         <div class="row mb-3">
           <div class="col-lg-12">
             <h2>Enrollment Payer</h2>
           </div>
           <div class="col-lg-4 mb-3">
             <select class="form-select border-dark">
               <option></option>
             </select>
           </div>
           <div class="col-lg-12">
             <div class="row">

            <div class="col-lg-3 mb-3">
               <div class="card p-2">
                  <%= link_to providers_url do %>
                  <h6>Submitted Enrollments</h6>
                  <% end %>
                  <h5 class="text-white">spacer</h5>
                  <div class="w-100 d-flex justify-content-center align-items-center" style="height: 100px;">
                     <%= link_to providers_url do %>
                     <h1 style="font-size: 40px;">
                        <%= EnrollmentProvider.submitted.count %>
                     </h1>
                     <% end %>
                  </div>
               </div>
            </div>

            <div class="col-lg-3 mb-3">
               <div class="card p-2">
                  <%= link_to providers_url do %>
                  <h6>Approved Enrollments</h6>
                  <% end %>
                  <h5 class="text-white">spacer</h5>
                  <div class="w-100 d-flex justify-content-center align-items-center" style="height: 100px;">
                     <%= link_to providers_url do %>
                     <h1 style="font-size: 40px;">
                        <%= EnrollmentProvider.approved.count %>
                     </h1>
                     <% end %>
                  </div>
               </div>
            </div>

            <div class="col-lg-3 mb-3">
               <div class="card p-2 px-1">
                  <%= link_to providers_url do %>
                  <h6 style="white-space: nowrap;">Not Submitted Enrollments</h6>
                  <% end %>
                  <h5 class="text-white">spacer</h5>
                  <div class="w-100 d-flex justify-content-center align-items-center" style="height: 100px;">
                     <%= link_to providers_url do %>
                     <h1 style="font-size: 40px;">
                        <%= EnrollmentProvider.not_submitted.count %>
                     </h1>
                     <% end %>
                  </div>
               </div>
            </div>
            <div class="col-lg-3 mb-3">
               <div class="card p-2">
                  <%= link_to providers_url do %>
                  <h6>Rejected Enrollments</h6>
                  <% end %>
                  <h5 class="text-white">spacer</h5>
                  <div class="w-100 d-flex justify-content-center align-items-center" style="height: 100px;">
                     <%= link_to providers_url do %>
                     <h1 style="font-size: 40px;">
                        <%= EnrollmentProvider.rejected.count %>
                     </h1>
                     <% end %>
                  </div>
               </div>
            </div>
             </div>
           </div>

         </div>
      </div>
      <div class="col-lg-3 border rounded py-2">
        <div class="row">
          <div class="col-12 mb-3">
            <h5 class="text-center">Available Agents</h5>
          </div>
          <div class="col-12 mb-3">
            <input type="" class="form-control" title="Search">
          </div>

          <div class="col-12 mb-3">
            <div class="bg-medium-grey rounded d-flex justify-content-between px-2 py-2 align-items-center">
              <div>
                <h4>John Bard</h4>
                <h6>Administrator</h6>
              </div>
              <span>
                Offline/Online
              </span>
            </div>
          </div>
        </div>
      </div>
   </div>
</div>
