<div class="content container-fluid">
  <%= render "enrollment_tracking_components/enrollment_nav"%>

   <div class="row" id="overview">
      <div class="col-lg-8">
        <%= render "providers/overview_components/providers_data"%>
        <%= render "providers/overview_components/enrollment_payers"%>
        <%= render "providers/overview_components/generated_report"%>
      </div>
    </div>
</div>
<%= render "providers/overview_components/overview_js"%>