<div class="form-row covering_practitioners_container mt-3 covering-practitioners-card">
	<div class="col-xl-12">
		<div class="other-name-card">
				<div class="card-body">
					<h6 class="form-heading">Covering Practitioner/Group Information</h6>
					<div class="row mt-2">
						<div class="col-xl-6">
							<label for="covering-practitioner-name">Covering Practitioner/Group
										Name:</label>
							<%= f.text_field :practitioner_name, class: 'form-control', placeholder: "Type here...", id: "covering-practitioner-name" %>
						</div>
					</div>
					<div class="row">
						<div class="col-xl-6">
							<label for="covering-practitioner-facility">Facility:</label>
							<%= f.text_field :facility, class: "form-control", placeholder: "Type here...", id: "covering-practitioner-facility" %>
						</div>
						<div class="col-xl-6">
							<label for="">Street Address:</label>
								<%= f.text_field :address, class: "form-control", placeholder: "Type here...", id: "covering-practitioner-st-address" %>
						</div>
					</div>
					<div class="row">
						<div class="col-xl-6">
							<label for="">Suite/Dept/Mail Stop:</label>
							<%= f.text_field :mail_stop, class: "form-control", placeholder: "Type here...", id: "covering-practitioner-mail-stop" %>
						</div>
						<div class="col-xl-6">
							<label for="">Additional Address:</label>
							<%= f.text_field :address2, class: "form-control", placeholder: "Type here...", id: "covering-practitioner-additional-address" %>
						</div>
					</div>
					<div class="row">
						<div class="col-xl-6">
							<label for="">City:</label>
							<%= f.text_field :city, class: "form-control", placeholder: "Type here...", id: "covering-practitioner-city" %>
						</div>
						<div class="col-xl-6">
							<label for="">County:</label>
							<%= f.text_field :country, class: "form-control", placeholder: "Type here...", id: "covering-practitioner-county" %>
						</div>
					</div>
					<div class="row">
						<div class="col-xl-4">
							<label for="covering-practitioner-state">State/Province:</label>
							<%= f.collection_select :state, State.all, :id, :name, { include_blank: "Select State" }, class: "form-select", id: "covering-practitioner-state" %>
						</div>
						<div class="col-xl-4">
							<label for="">Zip/Postal Code:</label>
							<%= f.text_field :zipcode, class: "form-control", placeholder: "Type here...", id: "ering-practitioner-zip" %>
						</div>
						<div class="col-xl-4">
							<label for="covering-practitioner-country">Country:</label>
							<%= f.text_field :country, class: "form-control", placeholder: "Type here...", id: "covering-practitioner-county" %>
						</div>
					</div>
					<div class="row">
						<div class="col-xl-4">
							<label for="">Phone Number:</label>
							<%= f.text_field :phone_number, class: "form-control", placeholder: "Type here...", id: "covering-practitioner-phone-no" %>
						</div>
						<div class="col-xl-4">
							<label for="">Fax Number:</label>
							<%= f.text_field :fax_number, class: "form-control", placeholder: "Type here...", id: "covering-practitioner-fax" %>
						</div>
						<div class="col-xl-4">
							<label for="">Email Address:</label>
							<%= f.text_field :email_address, class: "form-control", placeholder: "Type here...", id: "covering-practitioner-email" %>
						</div>
					</div>
					<div class="col-lg-1 text-center ms-auto mt-2">
						<% if f.object.id %>
						  <%= f.hidden_field :_destroy, class: "destroy-field" %>
							<button type="button" class="btn btn-xs btn-danger remove-dynamic-fields" data-model="covering_practitioners" data-id=<%= f.object.id %> id="remove-covering-practitioners"> Remove</button>
						<% else %>
							<button type="button" class="btn btn-xs btn-danger remove-dynamic-fields" data-id=0 id="remove-covering-practitioners"> Remove </button>
						<% end %>
					</div>
				</div>
		</div>
	</div>
</div>
