<tr>
	<td><%= item.program %></td>
	<td><%= item.license_number %></td>
	<td><%= item.dba %></td>
	<td><%= item.owners %></td>
	<td><%= item.status %></td>
	<td><%= item.license_expiration %></td>
</tr>