<div class="row my-3 px-3">
	<div class="col-lg-12">
		<!-- start of table info like page and limit -->
		<div class="row">
		 	<div class="col-lg-12">
		 		<div class="d-flex justify-content-between align-items-center">
		 			<div><strong>Search Results: <%= @clients&.count %> records</strong></div>
		 					<%= form_for :none, url: client_portal_path, id: "per_page_selector" ,method: :get do |f| %>
		 			<div class="d-flex gap-4 align-items-center">
		 				<div>
		 					<label>Show limit</label>
		 					<% per_page_limits = [5,10,15,20,25,30,35,40,45,50]%>
		 					<select name="per_page" class="border ms-2 px-1 bg-white" onchange="document.getElementById('per_page_selector').submit();">
		 						<% per_page_limits.each do |per_page| %>
		 							<% if per_page == @per_page.to_i%>
		 								<option selected><%= per_page %></option>
		 							<% else %>
		 								<option><%= per_page %></option>
		 							<% end %>
		 						<% end %>
		 					</select>
		 				</div>
		 				<div>
		 					<% end %>

		 					<label>Page <%= @page %> of <%= @clients.total_pages %></label>
		 					<span class="border px-3"><%= @page %></span>
		 				</div>
		 				<div>
		 					<%= link_to download_clients_path(format: 'csv'), class: 'btn btn-sm btn-primary' do %>
		 					<!-- <  class="btn btn-sm btn-primary"> -->
		 						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" style="width: 16px;height: 16px;">
								  <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3" />
								</svg>
								<span>Download Documents</span>
		 					<% end %>
		 				</div>
		 			</div>
		 		</div>
		 	</div>
		</div>
		<!-- end of table info like page and limit -->

		<!-- start of table header -->
		<div class="row mt-5 mb-3">
			<div class="col-lg-12">
				<table class="table table--default table-borderless" id="">
					<thead class="bg-primary">
						<tr class=" rounded">
						<th class="text-white">
							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="" onclick="checkAll();" id="checkAllCbs">
							</div>
						</th>
						<th class="text-white">
							<span class="status-indicator-round bg-primary"></span>
						</th>
						<th class="text-white">
							<div class="d-flex gap-2 align-items-center">
							<span>Provider Name</span>
							</div>

						</th>
						<th class="text-white">
							Birth Date
						</th>
						<th class="text-white">
							Address
						</th>
						<th class="text-white">
							Attested
						</th>
						<th class="text-white">
							P. Type
						</th>
						<th class="text-white">
							Specialty
						</th>
						<th class="text-white">
							<span style="text-transform: none;">MedvId</span>
						</th>
						<th class="text-white">
							Cred Cycle
						</th>
						</tr>
					</thead>

					<tbody class="">
						<% @clients.each do |client|%>
						<tr class="p-3 <%= (@client.present? && @client.id == client.id) ? '' : 'bg-alt-grey'%>">
							<td>
								<div class="form-check">
									<input class="form-check-input user-cbs" type="checkbox" value="" id="flexCheckDefault">
								</div>
							</td>
							<td>
								<span class="status-indicator-round <%= client.cred_status%>"></span>
							</td>
							<td>
								<a href="<%= show_client_details_path(client_id: client.id) %>" class="text-black">

								<div class="">
									<span><%= client.provider_name%></span>
								</div>
								</a>

							</td>
							<td>
								<a href="<%= show_client_details_path(client_id: client.id) %>" class="text-black">
								<%= client.birth_date.strftime('%m/%d/%Y') %>
								</a>
							</td>
							<td>
								<a href="<%= show_client_details_path(client_id: client.id) %>" class="text-black">

								<div class="table_address" style="width: 150px;">
									<%= client.address%>
								</div>
								</a>
							</td>
							<td>
								<a href="<%= show_client_details_path(client_id: client.id) %>" class="text-black">
								<%= client.attested_date.strftime('%m/%d/%Y')%>
							</a>
							</td>
							<td>
								<a href="<%= show_client_details_path(client_id: client.id) %>" class="text-black">
								<%= client.provider_type%>
							</a>
							</td>
							<td>
								<a href="<%= show_client_details_path(client_id: client.id) %>" class="text-black">

								<div class="table_specialty">
									<%= client.specialty%>
								</div>
							</a>
							</td>
							<td>
								<a  style="width: 120px;" href="<%= show_client_details_path(client_id: client.id) %>" class="text-black">
								<%= client.medv_id%>
							</a>
							</td>
							<td>
								<a href="<%= show_client_details_path(client_id: client.id) %>" class="text-black">
								<%= client.cred_cycle%>
							</a>
							</td>
						</tr>
						<% end %>
					</tbody>
				</table>

			</div>
			<div class="col-lg-12">
				<div class="d-flex justify-content-between bg-medium-grey rounded align-items-center py-3">
				<div class="page_info ms-3 text-black">
						<%= page_entries_info @clients %>
				</div>
				<% if params[:per_page ].present? %>
					<%= will_paginate @clients, :params =>  {per_page: @per_page }, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
				<% else %>
					<%= will_paginate @clients, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
				<% end %>
				</div>
			</div>
		</div>
		<!-- end of table header -->
</div>
</div>
<% content_for :js do %>
<script>
 function checkAll() {
  var checkBox = document.getElementById("checkAllCbs");
  (checkBox.checked == true) ? updateCbs(true) : updateCbs(false);
}

function updateCbs(status) {
	var cbs = document.querySelectorAll('.user-cbs');
	for (var i = cbs.length - 1; i >= 0; i--) {
		if(cbs[i].type == "checkbox") {
			cbs[i].checked = status;
		}
	}
}
</script>
<% end %>