<div class="row my-3 px-3">
	<div class="col-lg-12">
		<!-- start of table info like page and limit -->
		<div class="row">
		 	<div class="col-lg-12">
		 		<div class="d-flex justify-content-between align-items-center">
		 			<div><strong>Search Results: 8 	records</strong></div>
		 			<div class="d-flex gap-4 align-items-center">
		 				<div>
		 					<label>Show limit</label>
		 					<span class="border px-3">20</span>
		 				</div>
		 				<div>
		 					<label>Page 3 of 32</label>
		 					<span class="border px-3">3</span>
		 				</div>
		 				<div>
		 					<button class="btn btn-sm btn-primary">
		 						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" style="width: 16px;height: 16px;">
								  <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3" />
								</svg>
								<span>Download Documents</span>
		 					</button>
		 				</div>
		 			</div>
		 		</div>
		 	</div>
		</div>
		<!-- end of table info like page and limit -->

		<!-- start of table header -->
		<div class="row mt-5 mb-3">
			<div class="col-lg-12">
				<table class="" id="client_portal_table">
					<thead class="d-block w-100 bg-primary text-white rounded py-3 px-3 w-100 mb-3">
						<tr class="w-100">
						<th>
							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="" onclick="checkAll();" id="checkAllCbs">
							</div>
						</th>
						<th>
							<span class="status-indicator-round bg-primary"></span>
							
						</th>
						<th  style="width: 130px;">
							<div class="d-flex gap-2 align-items-center">
								
							<span>Provider Name</span>
							</div>

						</th>
						<th  style="width: 130px;">
							Birth Date
						</th>
						<th  style="width: 130px;">
							Address
						</th>
						<th>
							Attested
						</th>
						<th>
							P. Type
						</th>
						<th>
							Specialty
						</th>
						<th>
							MedvId
						</th>
						<th>
							Cred Cycle
						</th>
						</tr>
					</thead>

					<tbody class="d-block w-100 bg-medium-grey rounded w-100 mb-3">
						<% statuses = ['attested', 'no-application', 'complete-application', 'incomplete', 'pending', 'in-process', 'psv', 'returned']%>
						<% names = ['Hospise Home Care', 'Mercy Medical Center', 'Baptist Health', 'Mayo Clinic', 'Cleveland Clinic', 'Standford Health Care', 'UCLA Health', 'University of Michigan' ]%>
						<% for i in 1..8 do %>
						<% addresses = ['1501 N. University, 340, Little Rock, AR 72207', '4568 Chestnuut St., Apt 203, Los Angeles', '133 Main St, Suite 101, Boston', '720 Park Avenue, NY 10021', '2807 Market St, San Francisco, CA 94114', '1107 10th Ave., Seattle, WA 98122', '2043 Pine Street, Philadelphia, PA 19103', '3200 Chestnut Ridge Road, Akron, OH 443333'  ]%>
						<tr class="p-3">
							<td>
								<div class="form-check">
									<input class="form-check-input user-cbs" type="checkbox" value="" id="flexCheckDefault">
								</div>
							</td>
							<td>
								<span class="status-indicator-round <%= statuses[i-1]%>"></span>
							</td>
							<td style="width: 130px;">
								<a href="<%= show_client_details_path(provider: (i-1)) %>" class="text-black">

								<div class="d-flex justify-content-between gap-2 align-items-center">
									<span><%= names[i-1]%></span>
								</div>
								</a>

							</td>
							<td style="width: 130px;">
								<a href="<%= show_client_details_path(provider: (i-1)) %>" class="text-black">

								0<%= rand(1..9) %>/<%= rand(1..31)%>/199<%= rand(0..9) %>
								</a>
							</td>
							<td style="width: 130px;">
								<a href="<%= show_client_details_path(provider: (i-1)) %>" class="text-black">

								<div class="table_address" style="width: 150px;">
									<%= addresses[i-1]%>
								</div>
								</a>
							</td>
							<td>
								<a href="<%= show_client_details_path(provider: (i-1)) %>" class="text-black">

								0<%= rand(1..9) %>/<%= rand(1..31)%>/200<%= rand(0..9) %>
							</a>
							</td>
							<td>
								<a href="<%= show_client_details_path(provider: (i-1)) %>" class="text-black">

								FACILITY
							</a>
							</td>
							<td>
								<a href="<%= show_client_details_path(provider: (i-1)) %>" class="text-black">

								<div class="table_specialty">
									PHYSICIAN ASSISTANT
								</div>
							</a>
							</td>
							<td>
								<a  style="width: 120px;" href="<%= show_client_details_path(provider: (i-1)) %>" class="text-black">

								MedvId<%= rand(12313.33123)%>
							</a>
							</td>
							<td>
								<a href="<%= show_client_details_path(provider: (i-1)) %>" class="text-black">
								<% cred = rand(1..5)%>
								<%= cred.odd? ? 'Cred' : 'Recred'%>
							</a>
							</td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
		<!-- end of table header -->
</div>
</div>
<% content_for :js do %>
<script>
 function checkAll() {
  var checkBox = document.getElementById("checkAllCbs");
  (checkBox.checked == true) ? updateCbs(true) : updateCbs(false);
}

function updateCbs(status) {
	var cbs = document.querySelectorAll('.user-cbs');
	for (var i = cbs.length - 1; i >= 0; i--) {
		if(cbs[i].type == "checkbox") {
			cbs[i].checked = status;
		}
	}
}
</script>
<% end %>