<div class="row my-3 px-3">
	<div class="col-lg-12">
		<!-- start of table info like page and limit -->
		<div class="row">
		 	<div class="col-lg-12">
		 		<div class="d-flex justify-content-between align-items-center">
		 			<div><strong>Search Results: <%= @per_page %>	records</strong></div>
		 			<div class="d-flex gap-4 align-items-center">
		 				<%= form_for :none, url: client_portal_path, id: "per_page_selector" ,method: :get do |f| %>
		 				<%= f.hidden_field :grid, value: true%>
		 				<div>
		 					<label>Show limit</label>
		 					<% per_page_limits = [5,10,15,20,25,30,35,40,45,50]%>
		 					<select name="per_page" class="border ms-2 px-1 bg-white" onchange="document.getElementById('per_page_selector').submit();">
		 						<% per_page_limits.each do |per_page| %>
		 							<% if per_page == @per_page.to_i%>
		 								<option selected><%= per_page %></option>
		 							<% else %>
		 								<option><%= per_page %></option>
		 							<% end %>
		 						<% end %>
		 					</select>
		 				</div>
		 				<% end %>
		 				<div>
		 					<label>Page <%= @page %> of <%= @clients.total_pages %></label>
		 					<span class="border px-3"><%= @page %></span>
		 				</div>
		 				<div>
		 				<%= link_to download_clients_path(format: 'csv'), class: 'btn btn-sm btn-primary' do %>
		 						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" style="width: 16px;height: 16px;">
								  <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3" />
								</svg>
								<span>Download Documents</span>
		 					<% end %>
		 				</div>
		 			</div>
		 		</div>
		 	</div>
		</div>
		<!-- end of table info like page and limit -->

		<div class="row my-3">
			<% @clients.each do |client| %>
			<div class="col-12 col-md-4 col-lg-6 my-3" >
				<div class="border rounded p-2" >
					<div class="row">
						<div class="col-lg-12">
						<div class="d-flex justify-content-between">
							<div class="d-flex flex-grow-1 gap-4 align-items-center">
								<a href="javascript:void(0);"  data-max="5" class="btn btn-xs btn-primary <%= client.cred_status %> fw-bold btn-submit"><%= client.cred_status.titleize%></a>
								<label>Scheduled: 4</label>
								<label>Reports: 5</label>
								<label>Deadlines: 5</label>
							</div>
							<div class="flex-shrink-0">
								<div class="form-check">
									<input class="form-check-input user-cbs" type="checkbox" value="" id="flexCheckDefault">
								</div>
							</div>
						</div>
						</div>
					</div>
					<a href="<%= show_client_details_path(client_id: client.id, grid: true) %>" class="text-black">

					<div class="row my-3">
						<div class="col-12 col-md-12 col-lg-6">
							<div class="row my-2">
								<div class="col-12 col-md-12 col-lg-6">
									Provider Name:
								</div>
								<div class="col-12 col-md-12 col-lg-6">
									<strong><%= client.provider_name %></strong>
								</div>
							</div>
							<div class="row my-2">
								<div class="col-12 col-md-12 col-lg-6">
									Birth Date:
								</div>
								<div class="col-12 col-md-12 col-lg-6">
									<strong><%= client.birth_date.strftime('%B %d, %Y')%></strong>
								</div>
							</div>
							<div class="row my-2">
								<div class="col-12 col-md-12 col-lg-6">
									Address:
								</div>
								<div class="col-12 col-md-12 col-lg-6">
									<strong><%= client.address %></strong>
								</div>
							</div>
							<div class="row my-2">
								<div class="col-12 col-md-12 col-lg-6">
									Attested:
								</div>
								<div class="col-12 col-md-12 col-lg-6">
										<strong><%= client.attested_date.strftime('%M %d %Y')%></strong>
								</div>
							</div>
						</div>
						<div class="col-12 col-md-12 col-lg-6">
							<div class="row my-2">
								<div class="col-12 col-md-12 col-lg-6">
									P. Type:
								</div>
								<div class="col-12 col-md-12 col-lg-6">
									<strong><%= client.provider_type %></strong>
								</div>
							</div>
							<div class="row my-2">
								<div class="col-12 col-md-12 col-lg-6">
									Specialty:
								</div>
								<div class="col-12 col-md-12 col-lg-6">
									<strong><%= client.specialty %></strong>
								</div>
							</div>
							<div class="row my-2">
								<div class="col-12 col-md-12 col-lg-6">
									MedvId:
								</div>
								<div class="col-12 col-md-12 col-lg-6">
									<strong><%= client.medv_id%></strong>
								</div>
							</div>
							<div class="row my-2">
								<div class="col-12 col-md-12 col-lg-6">
									Cred Cycle:
								</div>
								<div class="col-12 col-md-12 col-lg-6">
									<strong><%= client.cred_cycle %></strong>
								</div>
							</div>
						</div>
					</div>
				</a>
				</div>
			</div>
			<% end %>

			<div class="col-lg-12">
				<div class="d-flex justify-content-between bg-medium-grey rounded align-items-center py-3">
				<div class="page_info ms-3 text-black">
						<%= page_entries_info @clients %>
				</div>
				<% if params[:per_page ].present? %>
					<%= will_paginate @clients, :params =>  {per_page: @per_page }, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
				<% else %>
					<%= will_paginate @clients, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
				<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
<% content_for :js do %>
<script>
var class_statuses = ['attested', 'no-application', 'complete-application', 'incomplete', 'pending', 'in-process'];
var text_statuses = ['Attested', 'No Application', 'Complete Application', 'Incomplete', 'Pending Data Entry', 'In Process'];
document.querySelectorAll('.btn-submit').forEach(item => {
  item.addEventListener('click', event => {
    // alert(item.getAttribute('data-val'));
  	var old_status = parseInt(item.getAttribute('data-val'));
  	if(old_status != 5)
  	{
	    var new_status = class_statuses[old_status + 1];
	    item.setAttribute('data-val', (old_status+1));
	    item.classList.remove(class_statuses[old_status]);
	    item.classList.add(new_status);
	    item.text = text_statuses[old_status+1];
	}
	else {
		var new_status = class_statuses[0];
	    item.setAttribute('data-val', 0);

	    item.classList.remove(class_statuses[5]);
	    item.classList.add(new_status);
	    item.text = text_statuses[0];

	}
  })
})
</script>
<% end %>