<div class="card">
   <div class="card-body bg-medium-grey">
      <div class="row my-3">
         <div class="col-12">
            <div class="d-flex justify-content-center gap-2">
               <a href="javascript:void(0);" class="btn btn-sm  btn-primary fw-bold">Simple Search</a>
               <% advanced_search_url = (params[:grid].present? ? client_portal_path(grid: true) : client_portal_path) %>
               <a href="<%= advanced_search_url %>" class="btn  btn-sm btn-light fw-bold">Advanced Search</a>
            </div>
         </div>
      </div>
      <%= form_with url: client_portal_search_path, class: "search_box", method: :get do |f|%>
        <% if params[:grid].present? %>
        <%= f.hidden_field :grid, value: 'grid'%>
        <% end %>
        <% if params[:simple_search].present? %>
        <%= f.hidden_field :simple_search, value: true%>
        <% end %>

         <!-- start row of fields -->
         <div class="row">
            <div class="col-lg-6">
               <div class="row mb-3">
                  <div class="form-group">
                     <label class="text-sm text-black">Full Name</label>
                        <%= f.text_field :full_name, value: "#{@search_inputs['full_name']}", class: "form-control py-1" %>
                  </div>
               </div>
               <div class="row mb-3">
                  <div class="col-lg-6">
                     <label class="text-sm text-black" for="">First Name:</label>
                        <%= f.text_field :first_name, value: "#{@search_inputs['first_name']}", class: "form-control py-1" %>

                  </div>
                  <div class="col-lg-6">
                     <label class="text-sm text-black" for="">Last Name:</label>
                        <%= f.text_field :last_name, value: "#{@search_inputs['last_name']}", class: "form-control py-1" %>

                  </div>
               </div>
               <div class="row mb-3">
                  <div class="col-lg-6">
                     <label class="text-sm text-black" for="">From Attest Date:</label>
                        <%= f.date_field :from_attest_date, value: "#{@search_inputs['from_attest_date']}", class: "form-control py-1" %>

                  </div>
                  <div class="col-lg-6">
                     <label class="text-sm text-black" for="">To Attest Date:</label>
                     <!-- <input type="text" class="form-control py-1" placeholder=""> -->
                        <%= f.date_field :to_attest_date, value: "#{@search_inputs['to_attest_date']}", class: "form-control py-1" %>

                  </div>
               </div>
            </div>
            <div class="col-lg-6">
               <div class="row mb-3">
                  <div class="col-lg-6">
                     <label class="text-sm text-black" for="">Provider Type:</label>
                        <select name="provider_type" class="form-select py-1">
                           <option value="">Select option</option>
                           <% @provider_types.each do |provider_type|%>
                              <option value=<%= provider_type.fch %> <%= @search_inputs['provider_type'] == provider_type.fch ? 'selected' : '' %>><%= provider_type.fch%></option>
                           <% end %>
                        </select>
                  </div>
                  <div class="col-lg-6">
                     <label class="text-sm text-black" for="">Specialty:</label>
                        <select class="form-select py-1" name="specialty" id="tset_selct">
                           <option value="">Select option</option>
                           <% @specialties.each do |specialty|%>
                           <option value="<%= specialty.bcbs%>" <%= @search_inputs['specialty'] == specialty.bcbs ? 'selected' : '' %>><%= specialty.bcbs %></option>
                           >
                           <% end %>
                        </select>
                  </div>
               </div>
               <div class="row mb-3">
                  <div class="col-lg-6">
                     <label class="text-sm text-black" for="">Cred Status:</label>
                        <select class="form-select py-1" name="cred_status">
                           <% cred_statuses = ['attested', 'in-process', 'pending', 'incomplete', 'complete-application', 'no-application', 'psv', 'returned']%>
                           <option value="">Select option</option>
                           <% cred_statuses.each do |stat|%>
                              <% if stat != 'pending'%>
                              <option value="<%= stat %>" <%= @search_inputs['cred_status'] == stat ? 'selected' : ''%>><%= stat != 'psv' ? stat.titleize : stat.upcase %></option>
                              <% else %>
                              <option value="<%= stat %>" <%= @search_inputs['cred_status'] == stat ? 'selected' : ''%>>Pending Data Entry</option>
                              <% end %>
                           <% end %>
                        </select>
                  </div>
                  <div class="col-lg-6">
                     <label class="text-sm text-black" for="">Cred Cycle:</label>
                       <select class="form-select py-1" name="cred_or_recred">
                           <option value="">Select option</option>
                           <option value="Cred" <%= @search_inputs['cred_or_recred'] == 'Cred' ? 'Selected' : ''%>>Cred</option>
                           <option value="Recred" <%= @search_inputs['cred_or_recred'] == 'Recred' ? 'Selected' : ''%>>Recred</option>
                       </select>
                  </div>
               </div>
               <div class="row mb-3">
                  <div class="col-lg-6">
                     <label class="text-sm text-black" for="">VRC Status:</label>
                        <select class="form-select py-1" name="vrc_status">
                           <% vrc_statuses = ['approved', 'denied', 'pending', 'tabled', 'terminated']%>
                              <option value="">Select option</option>
                           <% vrc_statuses.each do |stat|%>
                              <option value="<%= stat %>" <%= @search_inputs['vrc_status'] == stat ? 'Selected' : ''%>><%= stat.titleize %></option>
                           <% end %>
                        </select>
                  </div>
                  <div class="col-lg-6">
                     <label class="text-sm text-black" for="">PSV Flag:</label>
                        <% psv_flag_options = ['With PSV', 'Without PSV']%>
                        <select class="form-select py-1" name="psv_flag">
                           <option value="">Select option</option>
                           <% psv_flag_options.each do |flg|%>
                              <option value="<%= flg %>" <%= @search_inputs['psv_flag'] == flg ? 'Selected' : ''%>><%= flg %></option>
                           <% end %>
                        </select>
                  </div>
               </div>
            </div>
         </div>
         <!-- end of row of fields -->
         <!-- start of row of buttons -->
         <div class="row mt-4">
            <div class="col-lg-12 d-flex">
               <div class="flex-grow-1 justify-content-center align-items-center text-center">
                  <button class="btn btn-sm btn-primary fw-bold" style="margin-left: 10%;width: 150px;">Submit</button>
               </div>
               <div class="flex-shrink-0">
                   <% clear_url = (params[:grid].present? ? client_portal_path(grid: true) : client_portal_path)%>
                  <a href="<%= clear_url %>" class="btn btn-sm btn-danger">Clear</a>
               </div>
            </div>
         </div>
         <!-- end of row of buttons -->
      <% end %>
   </div>
</div>


