<div class="row my-2 px-3">
	<div class="col-lg-12">
		<div class="d-flex gap-2">
			<div class="flex-shrink-0">
				<div class="rounded border py-1">
			<!-- 		<span class="p-2">
						<a href="<%#=  client_portal_path(grid: true)%>" class="text-black">
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" style="width: 25px;height: 25px;">
							  <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 7.125C2.25 6.504 2.754 6 3.375 6h6c.621 0 1.125.504 1.125 1.125v3.75c0 .621-.504 1.125-1.125 1.125h-6a1.125 1.125 0 01-1.125-1.125v-3.75zM14.25 8.625c0-.621.504-1.125 1.125-1.125h5.25c.621 0 1.125.504 1.125 1.125v8.25c0 .621-.504 1.125-1.125 1.125h-5.25a1.125 1.125 0 01-1.125-1.125v-8.25zM3.75 16.125c0-.621.504-1.125 1.125-1.125h5.25c.621 0 1.125.504 1.125 1.125v2.25c0 .621-.504 1.125-1.125 1.125h-5.25a1.125 1.125 0 01-1.125-1.125v-2.25z" />
							</svg>
						</a>
					</span> -->
					<span class="p-2 bg-primary rounded">
						<a href="javascript:void(0);" class="text-white">
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" style="width: 25px;height: 25px;" class="text-white">
							  <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 6.75h12M8.25 12h12m-12 5.25h12M3.75 6.75h.007v.008H3.75V6.75zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zM3.75 12h.007v.008H3.75V12zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm-.375 5.25h.007v.008H3.75v-.008zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
							</svg>
						</a>
					</span>
				
				</div>
			</div>
			<div class="flex-grow-1 border rounded py-2 status-bar">
				<div class="d-flex align-items-center justify-content-evenly px-3">
					<div class="">
						<a href="<%= client_portal_path(status: 'attested')%>" class="d-flex justify-content-evenly gap-2 align-items-center text-black">
						<span class="status-indicator attested"></span>
						<span>Attested</span>
						</a>
					</div>
					<div class="">
						<a href="<%= client_portal_path(status: 'no-application')%>" class="d-flex justify-content-evenly gap-2 align-items-center text-black">
						<span class="status-indicator no-application"></span>
						<span>No Application</span>
					</a>
					</div>
					<div class="">
						<a href="<%= client_portal_path(status: 'complete-application')%>" class="d-flex justify-content-evenly gap-2 align-items-center text-black">
						<span class="status-indicator complete-application"></span>
						<span>Complete Application</span>
					</a>
					</div>
					<div class="">
						<a href="<%= client_portal_path(status: 'incomplete')%>" class="d-flex justify-content-evenly gap-2 align-items-center text-black">
						<span class="status-indicator incomplete"></span>
						<span>Incomplete</span>
					</a>
					</div>
					<div class="">
						<a href="<%= client_portal_path(status: 'pending')%>" class="d-flex justify-content-evenly gap-2 align-items-center text-black">
						<span class="status-indicator pending"></span>
						<span>Pending Data Entry</span>
					</a>
					</div>
					<div class="">
						<a href="<%= client_portal_path(status: 'in-process')%>" class="d-flex justify-content-evenly gap-2 align-items-center text-black">
						<span class="status-indicator in-process"></span>
						<span>In Process</span>
					</a>
					</div>
					<div class="">
						<a href="<%= client_portal_path(status: 'psv')%>" class="d-flex justify-content-evenly gap-2 align-items-center text-black">
						<span class="status-indicator psv"></span>
						<span>PSV</span>
					</a>
					</div>
					<div class="">
						<a href="<%= client_portal_path(status: 'returned')%>" class="d-flex justify-content-evenly gap-2 align-items-center text-black">
						<span class="status-indicator returned"></span>
						<span>Returned</span>
					</a>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
