<tr>
	<td><%= item.name %></td>
	<td><%= item.license_number %></td>
	<td><%= item.license_type %></td>
	<td><%= item.license_status %></td>
	<td><%= item.license_expiration %></td>
	<td><%= item.secondary_status %></td>
	<td><%= item.city %></td>
	<td><%= item.state %></td>
	<td><%= item.county %></td>
	<td><%= item.zip %></td>
</tr>