<div class="content container-fluid">
	<div class="row mb-3">
		<%= render partial: 'webscrapers/links' %>
		<div class="col-lg-12">
			<h2>
				State of California
			</h2>
			<p>Source: <code>https://search.dca.ca.gov</code></p>
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-lg-6">
			<%= form_with url: request.url, method: :get, html: { class: 'form_search_with_icon'} do |form| %>
			<div class="">
				<input type="text" name="search" value="<%= params[:search] %>" class="form-control">
				<i class="bi bi-search"></i>
			</div>
			<% end %>
		</div>
		<% if @california_states.count <= 0 %>
		<div class="col-lg-6 d-flex justify-content-end">
			<a href="<%= crawl_webscrapers_california_states_path %>" class="d-flex btn btn-primary btn-md">
				<span>Crawl</span>
			</a>
		</div>
		<% else %>
			<div class="col-lg-6 d-flex justify-content-end">
			<a href="<%= clear_webscrapers_california_states_path %>" class="d-flex btn btn-danger btn-md">
				<span>Clear Records</span>
			</a>
		</div>
		<% end %>
	</div>
	<br>
	<div class="row">
		<div class="col-lg-12">
			<table class="table">
					<thead>
								<tr>
												<th scope="col" class="bg-primary text-white">Name</th>
												<th scope="col" class="bg-primary text-white">License Number</th>
												<th scope="col" class="bg-primary text-white">License Type</th>
												<th scope="col" class="bg-primary text-white">License Status</th>
												<th scope="col" class="bg-primary text-white">License Expiration</th>
												<th scope="col" class="bg-primary text-white">Secondary Status</th>
												<th scope="col" class="bg-primary text-white">City</th>
												<th scope="col" class="bg-primary text-white">State</th>
												<th scope="col" class="bg-primary text-white">County</th>
												<th scope="col" class="bg-primary text-white">Zip</th>
								</tr>
				</thead>
				<tbody>
					<%= render partial: 'california_state', collection: @california_states, as: :item %>
				</tbody>
			</table>

			<% if @california_states %>
			<div class="col-lg-12">
							<div class="d-flex justify-content-between bg-medium-grey rounded align-items-center py-3">
							<div class="page_info ms-3 text-black">
															<%= page_entries_info @california_states %>
							</div>
							<% if params[:per_page ].present? %>
											<%= will_paginate @california_states, :params =>  {per_page: @per_page }, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
							<% else %>
											<%= will_paginate @california_states, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
							<% end %>
							</div>
			</div>
			<% end %>

		</div>
	</div>
</div>