<%
	form_path = if is_edit_mode?
			group_dco_path(@enrollment_group, @dco)
		else
			group_dcos_path(@enrollment_group, @dco)
		end
%>
<%= form_for @dco, :url => form_path, html: { multipart: true, id: 'dco-form' } do |f| %>
	<% if @dco.errors.any? %>
    <div id="error_explanation" class="row mb-3">
					<div class="col-lg-12">
							<h2><%= pluralize(@dco.errors.count, "error") %> prohibited this enrollment user from being saved:</h2>

							<ul>
									<% @dco.errors.full_messages.each do |message| %>
											<li><%= message %></li>
									<% end %>
							</ul>
					</div>
    </div>
  <% end %>
	<div class="row mb-3">
		<div class="col-lg-6">
      <label class="text-dark-grey">Practice Location Name</label>
			<%= f.text_field :dco_name, class: 'form-control', placeholder: 'DCO Name' %>
		</div>
		<div class="col-lg-6">
      <label class="text-dark-grey">Client</label>
			<select class="form-select" name="dco_client" required>
				<option>Client</option>
			</select>
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-lg-12">
      <label class="text-dark-grey">Practice Location Address</label>
			<%= f.text_field :dco_address, class: 'form-control', placeholder: 'Practice Address' %>
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-lg-6">
      <label class="text-dark-grey">City</label>
			<%= f.text_field :dco_city, class: 'form-control', placeholder: 'City' %>
		</div>
		<div class="col-lg-6">
      <label class="text-dark-grey">State</label>
			<%= f.collection_select :state, @states, :name, :name, { prompt: 'State' }, { class: 'form-control' } %>
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-lg-6">
      <label class="text-dark-grey">Zip Code</label>
			<%= f.text_field :dco_zipcode, class: 'form-control', placeholder: 'Zipcode' %>
		</div>
		<div class="col-lg-6">
      <label class="text-dark-grey">Practice Location County</label>
			<%= f.text_field :county, class: 'form-control', placeholder: 'Practice Location' %>
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-lg-6">
      <label class="text-dark-grey">Service Location Phone Number *</label>
			<%= f.text_field :service_location_phone_number, class: 'form-control', placeholder: 'Service Location Phone Number *', required: true %>
		</div>
		<div class="col-lg-6">
      <label class="text-dark-grey">Service Location Fax Number *</label>
			<%= f.text_field :service_location_fax_number, class: 'form-control', placeholder: 'Service Location Fax Number *', required: true %>
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-lg-6">
      <label class="text-dark-grey">Panel Status to New Patients *</label>
			<%= f.text_field :panel_status_to_new_patients, class: 'form-control', placeholder: 'Panel Status to New Patients', required: true %>
		</div>
		<div class="col-lg-6">
      <label class="text-dark-grey">Panel Age Limit *</label>
			<%= f.text_field :panel_age_limit, class: 'form-control', placeholder: 'Panel Age Limit', required: true%>
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-lg-6">
      <label class="text-dark-grey">Include in Directory? *</label>
			<%= f.select :include_in_directory, options_for_select(yes_or_no_options, f.object.include_in_directory), { prompt: 'Include in Directory?' }, { class: 'form-select', required: true } %>
		</div>
	</div>

	<div class="row mt-2">
		<div class="col-lg-12 mt-3">
			<h3>DCO Provider Outreach Info</h3>
		</div>
		<div class="col-lg-12">
			<div id="dco-provider-outreach-info">
					<div class="fields">
						<%= f.fields_for :provider_outreach_info do |provider_outreach_info| %>
							<%= render 'provider_outreach_info', f: provider_outreach_info %>
						<% end %>
					</div>
					<div class="links mt-2">
						<button type="button" class="add_association btn btn-primary" > <i class="bi bi-plus-circle-fill"></i> 	Add Provider Outreach Info </button>
					</div>
			</div>
		</div>
	</div>

  <div class="row mt-5">
    <div class="col-lg-6 mb-3">
      <label class="text-dark-grey">Is this location inpatient facility?</label>
      <%= f.select :inpatient_facility, options_for_select(yes_or_no_options, f.object.inpatient_facility), { prompt: 'Is this location inpatient facility?' }, { class: 'form-select' } %>
    </div>
    <div class="col-lg-6 mb-3">
      <label class="text-dark-grey">Is this location a clinic?</label>
      <%= f.select :is_clinic, options_for_select(yes_or_no_options, f.object.is_clinic), { prompt: 'Practice Location County?' }, { class: 'form-select' } %>
    </div>
    <div class="col-lg-6">
      <label class="text-dark-grey">Are you a Telehealth services provider?</label>
      <%= f.select :telehealth_provider, options_for_select(yes_or_no_options, f.object.telehealth_provider), { prompt: 'Is this location a clinic?' }, { class: 'form-select' } %>
    </div>
  </div>

	<div class="row mt-5">
		<div class="col-lg-12 mt-3">
			<h3>Schedules</h3>
		</div>
		<div id="schedules">
				<div class="fields">
					<%= f.fields_for :schedules do |schedule_fields| %>
						<%= render 'schedule_fields', f: schedule_fields %>
					<% end %>
				</div>
				<div class="links mt-2">
					<button type="button" class="add_association btn btn-primary" > <i class="bi bi-plus-circle-fill"></i> 	Add Schedule </button>
				</div>
		</div>
	</div>


	<div class="row mt-3">
		<div class="col-lg-12 d-flex justify-content-end pe-5">
			<button type="submit" class="btn btn-primary btn-md"><%= is_edit_mode? ? 'Update' : 'Add' %> DCO</button>
		</div>
	</div>
<% end %>
<% content_for :js do %>
<%= HtmlUtils.form_add_required_attribute form_id: 'dco-form',
				required_fields: 'group_dco_service_location_phone_number,group_dco_service_location_fax_number,group_dco_panel_status_to_new_patients,group_dco_panel_age_limit,group_dco_include_in_directory,group_dco_dco_provider_phone_number,group_dco_dco_provider_fax_number,group_dco_dco_provider_position'
%>
<script>
	$(document).ready(function(){
			// schedules
			$("#schedules").on("click", ".add_association", function() {
					var schedulesFields = $("#schedules .field");
					var newSchedule = schedulesFields.last().clone();
					var newId = new Date().getTime();
					newSchedule.html(newSchedule.html().replace(/schedules_attributes\]\[\d+\]/g, "schedules_attributes][" + newId + "]"));
					$("#schedules .fields").append(newSchedule);
			});

			// provider outreach info
			$("#dco-provider-outreach-info").on("click", ".add_association", function() {
					var providerOutreachInfoFields = $("#dco-provider-outreach-info .field");
					var newProviderOutreachInfo = providerOutreachInfoFields.last().clone();
					var newId = new Date().getTime();
					newProviderOutreachInfo.html(newProviderOutreachInfo.html().replace(/provider_outreach_info_attributes\]\[\d+\]/g, "provider_outreach_info_attributes][" + newId + "]"));
					$("#dco-provider-outreach-info .fields").append(newProviderOutreachInfo);
			});
	});
</script>
<% end %>