<div class="row field mb-3 p-1 border border-2">
	<div class="col-lg-2">
		<%= f.text_field :name, placeholder: 'Name', class: 'form-control' %>
	</div>
	<div class="col-lg-2">
		<%= f.text_field :email, placeholder: 'Email', class: 'form-control' %>
	</div>
	<div class="col-lg-2">
		<%= f.text_field :phone, placeholder: 'Phone', class: 'form-control' %>
	</div>
	<div class="col-lg-2">
		<%= f.text_field :fax, placeholder: 'Fax', class: 'form-control' %>
	</div>
	<div class="col-lg-2">
		<%= f.text_field :position, placeholder: 'Position', class: 'form-control' %>
	</div>
	<div class="col-lg-2">
		<%= f.check_box :_destroy %>
		<%= f.label :_destroy, "Remove" %>
	</div>
</div>