<div class="field mb-3 p-2 border border-2">

		<div class="row mb-2">
			<div class="col-lg-6">
				<label class="text-dark-grey">Name</label>
				<%= f.text_field :name, class: 'form-control', placeholder: 'Name *' %>
			</div>

			<div class="col-lg-6">
							<label class="text-dark-grey">Email</label>
			<%= f.email_field :email, class: 'form-control', placeholder: 'Email'%>
			</div>
		</div>

			<div class="row">
				<div class="col-lg-4">
					<label class="text-dark-grey">Phone Number *</label>
					<%= f.text_field :phone, class: 'form-control', placeholder: 'Phone Number *', required: true %>
				</div>

				<div class="col-lg-4">
						<label class="text-dark-grey">Fax Number *</label>
						<%= f.text_field :fax, class: 'form-control', placeholder: 'Fax Number *', required: true %>
				</div>

				<div class="col-lg-4">
					<label class="text-dark-grey">Position *</label>
					<%= f.text_field :position, class: 'form-control', placeholder: 'Position *', required: true %>
				</div>
			</div>

			<div class="col-lg-2 mt-2">
				<%= f.check_box :_destroy %>
				<%= f.label :_destroy, "Remove" %>
			</div>
</div>