<div class="row field mb-3 p-2 border border-2">
	<div class="col-lg-3">
		<% days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']%>
		<%= f.select :day, options_for_select(days, f.object.day), {prompt: 'Day'}, { class: 'form-select'} %>
	</div>
	<div class="col-lg-3">
		<%= f.text_field :start_time, placeholder: 'Start Time', class: 'form-control', onfocus: "(this.type = 'time')" %>
	</div>
	<div class="col-lg-3">
		<%= f.text_field :end_time, placeholder: 'End Time', class: 'form-control', onfocus: "(this.type = 'time')" %>
	</div>
	<div class="col-lg-3">
		<%= f.check_box :_destroy %>
		<%= f.label :_destroy, "Remove" %>
	</div>
</div>