<div class="content container-fluid">
	<%= render "enrollment_tracking_components/enrollment_nav"%>
	<div class="row mb-3">
		<div class="col-lg-12">
			<h2>
				<a href="<%= group_dcos_path(@enrollment_group) %>" class="d-flex gap-2 text-secondary">
				<i class="bi bi-arrow-left"></i>
				<span><%= @enrollment_group.group_name %></span>
				</a>
			</h2>
		</div>
	</div>
	<%= form_for @dco, :url => group_dco_path(@enrollment_group, @dco),   html: { multipart: true } do |f| %>
	<% if @dco.errors.any? %>
    <div id="error_explanation" class="row mb-3">
					<div class="col-lg-12">
							<h2><%= pluralize(@dco.errors.count, "error") %> prohibited this enrollment user from being saved:</h2>

							<ul>
									<% @dco.errors.full_messages.each do |message| %>
											<li><%= message %></li>
									<% end %>
							</ul>
					</div>
    </div>
  <% end %>
	<div class="row mb-3">
		<div class="col-lg-6">
			<%= f.text_field :dco_name, class: 'form-control', placeholder: 'DCO Name *', required: true %>
		</div>
		<div class="col-lg-6">
			<select class="form-select" name="dco_client" required>
				<option>Client *</option>
			</select>
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-lg-12">
			<%= f.text_field :dco_address, class: 'form-control', placeholder: 'DCO Address *', required: true %>
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-lg-6">
			<%= f.text_field :dco_city, class: 'form-control', placeholder: 'DCO City *', required: true %>
		</div>
		<div class="col-lg-6">
			<%= f.collection_select :state, @states, :name, :name, { prompt: 'State *' }, { class: 'form-control' } %>
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-lg-6">
			<%= f.text_field :dco_zipcode, class: 'form-control', placeholder: 'Zipcode *', required: true %>
		</div>
		<div class="col-lg-6">
			<%= f.text_field :country, class: 'form-control', placeholder: 'Country *', required: true %>
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-lg-6">
			<%= f.text_field :service_location_phone_number, class: 'form-control', placeholder: 'Service Location Phone Number *', required: true %>
		</div>
		<div class="col-lg-6">
			<%= f.text_field :service_location_fax_number, class: 'form-control', placeholder: 'Service Location Fax Number *', required: true %>
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-lg-6">
			<%= f.text_field :panel_status_to_new_patients, class: 'form-control', placeholder: 'Panel Status to New Patients'%>
		</div>
		<div class="col-lg-6">
			<%= f.text_field :panel_age_limit, class: 'form-control', placeholder: 'Panel Age Limit'%>
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-lg-6">
			<%= f.select :include_in_directory, options_for_select(['YES', 'NO'], f.object.include_in_directory), { prompt: 'Include in Directory?' }, { class: 'form-select' } %>
		</div>
	</div>

	<div class="row mt-5">
		<div class="col-lg-12">
			<h5>DCO Provider Outreach Info</h5>
		</div>
		<div class="row mb-3">
			<div class="col-lg-6">
				<%= f.text_field :dco_provider_name, class: 'form-control', placeholder: 'Name *', required: true %>
			</div>
			<div class="col-lg-6">
				<%= f.email_field :dco_provider_email, class: 'form-control', placeholder: 'Email *', required: true %>
			</div>
		</div>
		<div class="row mb-3">
			<div class="col-lg-6">
				<%= f.text_field :dco_provider_phone_number, class: 'form-control', placeholder: 'Phone Number *', required: true %>
			</div>
			<div class="col-lg-6">
				<%= f.text_field :dco_provider_fax_number, class: 'form-control', placeholder: 'Fax Number *', required: true %>
			</div>
		</div>
		<div class="row mb-3">
			<div class="col-lg-6">
				<%= f.text_field :dco_provider_position, class: 'form-control', placeholder: 'Position *', required: true %>
			</div>
		</div>
	</div>

	<div class="row mt-5" id="schedules">
		<div class="col-lg-12">
			<h5>Schedule</h5>
		</div>
		<div class="row">
			<!-- to jayson still need to convert to checkbox that accepts multiple values -->
			<div class="col-lg-8 mb-3">
				<% days = ['S', 'M', 'T', 'W', 'TH', 'F', 'S']%>
				<div class="d-flex gap-3">
					<% days.each do |day|%>
					<div class="position-relative">

					<label for="sched_day0_<%= day%>" class="day_sched d-flex justify-content-center align-items-center border">
						<span>
							<%= day %>
						</span>

					</label>
					<input type="checkbox" name="sched[]" id="sched_day0_<%= day %>" class="position-absolute center-invisible" value="0">
					</div>
					<% end %>
				</div>
			</div>
			<div class="col-lg-4 text-right">
				<a href="javascript:void(0);" id="add_another_sched">
					<i class="bi bi-plus-lg"></i>
					<span class="ms-2">Add another schedule</span>
				</a>
			</div>
		</div>
		<div class="col-lg-6">
			<input type="text" name="dco_start_time_day_0" class="form-control" placeholder="Start Time" onfocus="(this.type = 'time')">
		</div>
		<div class="col-lg-6">
			<input type="text" name="dco_end_time_day_0" class="form-control" placeholder="End Time" onfocus="(this.type = 'time')">
		</div>
	</div>
	<div class="row mt-3">
		<div class="col-lg-12 d-flex justify-content-end pe-5">
			<button type="submit" class="btn btn-primary btn-md">Update DCO</button>
		</div>
	</div>
<% end %>
</div>

<script>
		var day_count = 1;

	$(document).on('click','.day_sched',function(){
		$(this).hasClass('active') ? $(this).removeClass('active') : $(this).addClass('active');
	});

	$('#add_another_sched').on('click',function() {
		$('#schedules').append(createDays(day_count.toString()));
		day_count++;

	})

	function createDays(day_count) {
		var days = ['S', 'M', 'T', 'W', 'TH', 'F', 'S'];
		var $row = $('<div class="row mt-3"></div>');
		var $col8 = $('<div class="col-lg-8 mb-3"></div>');
		var $d_flex = $('<div class="d-flex gap-3"></div>');
		for (var i = 0; i < days.length; i++) {
			$d_flex.append(createLabelCb(days[i],day_count))
		}

		var divBtn = '<div class="col-lg-4"><a href="javascript:void(0);" class="remove_schedule"><i class="bi bi-dash-circle"></i><span class="ms-2">Remove schedule</span></a></div>';

		$col8.append($d_flex);
		$row.append($col8);
		$row.append(divBtn);
		$row.append(createTimeInputs(day_count));
		return $row;
	}

	$(document).on('click','.remove_schedule',function(){
		$(this).parent().parent().remove();
	});

	function createLabelCb(day,day_count) {
		var $div = $('<div class="position-relative"></div>');
		var label = '<label for="sched_day'+day_count+'_'+day+'" class="day_sched d-flex justify-content-center align-items-center border"><span>'+day+'</span></label>';

		var cb = '<input type="checkbox" name="sched[]" id="sched_day'+day_count+'_'+day+'" class="position-absolute center-invisible" value="0"></div>';

		$div.append(label,cb);
		return $div;
	}

	function createTimeInputs(day_count) {
		var inputs = '<div class="col-lg-6"><input type="time" name="dco_start_time_day_'+day_count+'" class="form-control" placeholder="Start Time"></div><div class="col-lg-6"><input type="time" name="dco_end_time_day_'+day_count+'" class="form-control" placeholder="End Time"></div>';

		return inputs;
	}
</script>