<div class="field card mb-3 p-2 py-3">
<div class="row mb-3">
    <div class="col-lg-6">
      <label class="text-dark-grey">Start Date</label>
      <%= f.text_field :start_date, placeholder: 'Start Date', class: 'form-control', onfocus: "(this.type = 'date')" %>
    </div>
    <div class="col-lg-6">
      <label class="text-dark-grey"></label>
      <%= f.text_field :due_date, placeholder: 'Due Date', class: 'form-control', onfocus: "(this.type = 'date')" %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-lg-6">
      <label class="text-dark-grey">Enrollment Payer</label>
      <%= f.select :enrollment_payer, options_for_select([
          ['Medicaid','medicaid'],
          ['Medicare','medicare'],
          ['Molina','molina'],
          ['Mclaren','mclaren'],
          ['Meridian','meridian'],
          ['Aetna','aetna'],
          ['Amerihealth','amerihealth'],
          ['Priority Health','priority_health']
        ], f.object.enrollment_payer), { prompt: 'Enrollment Payer' }, {:class => 'form-select'}  %>
    </div>
    <div class="col-lg-6">
      <label class="text-dark-grey">Enrollment Type</label>
      <%= f.select :enrollment_type, options_for_select([
          ['855A','855A'],
          ['855I','855I'],
          ['855R','855R']
        ], f.object.enrollment_type), { prompt: 'Enrollment Type' }, {:class => 'form-select'}  %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-lg-12">
      <label class="text-dark-grey">Enrollment Status</label>
      <%= f.select :enrollment_status, options_for_select(enrollment_status, f.object.enrollment_status), { prompt: 'Enrollment Status' }, {:class => 'form-select multi-enrollment-status'}  %>
    </div>
  </div>

   <div class="row mb-3 application-submitted-field <%= f.object&.enrollment_status == 'application-submitted' ? '' : 'd-none'%>">
    <div class="col-lg-6">
      <label class="text-dark-grey">Start Date</label>
      <%= f.text_field :start_date, placeholder: 'Type here...', class: 'form-control', onfocus: "(this.type = 'date')" %>
    </div>
     <div class="col-lg-6">
      <label class="text-dark-grey">Enrollment Tracking ID</label>
      <%= f.text_field :enrollment_tracking_id, placeholder: 'Type here...', class: 'form-control' %>
    </div>
  </div>

  <div class="row mb-3 revalidation-fields <%= f.object&.enrollment_status == 'approved' ? '' : 'd-none'%>">
      <div class="col-lg-6">
        <label class="text-dark-grey">Effective Date</label>
          <%= f.text_field :enrollment_effective_date, placeholder: 'MM-DD-YYYY', class: 'form-control', onfocus: "(this.type = 'date')" %>
      </div>
      <div class="col-lg-6">
        <label class="text-dark-grey">Association Start Date</label>
          <%= f.text_field :association_start_date, placeholder: 'MM-DD-YYYY', class: 'form-control', onfocus: "(this.type = 'date')" %>
      </div>
      <div class="col-lg-6">
        <label class="text-dark-grey">Business End Date</label>
          <%= f.text_field :business_end_date, placeholder: 'MM-DD-YYYY', class: 'form-control', onfocus: "(this.type = 'date')" %>
      </div>
      <div class="col-lg-6">
        <label class="text-dark-grey">Association End Date</label>
          <%= f.text_field :association_end_date, placeholder: 'MM-DD-YYYY', class: 'form-control', onfocus: "(this.type = 'date')" %>
      </div>
      <div class="col-lg-4">
        <label class="text-dark-grey">Revalidation Status</label>
          <%= f.text_field :revalidation_status, placeholder: 'Type here...', class: 'form-control' %>
      </div>
      <div class="col-lg-4">
        <label class="text-dark-grey">Revalidation Date</label>
          <%= f.text_field :revalidation_date, placeholder: 'MM-DD-YYYY', class: 'form-control', onfocus: "(this.type = 'date')" %>
      </div>
      <div class="col-lg-4">
        <label class="text-dark-grey">Revalidation Due Date</label>
          <%= f.text_field :revalidation_due_date, placeholder: 'MM-DD-YYYY', class: 'form-control', onfocus: "(this.type = 'date')" %>
      </div>
       <div class="col-lg-12">
        <label class="text-dark-grey">Line of Business(can be multiple)</label>
          <%= f.text_field :line_of_business, placeholder: 'Type here...', class: 'form-control' %>
      </div>
  </div>

  <div class="row mb-3 application-not-submitted-field <%= f.object&.enrollment_status == 'application-not-submitted' ? '' : 'd-none'%>">
    <div class="col-lg-6">
      <label class="text-dark-grey">Provider ID</label>
      <%= f.text_field :provider_ptan, placeholder: 'PTAN, CHAMPS, PIN, etc.', class: 'form-control' %>
    </div>
     <div class="col-lg-6">
      <label class="text-dark-grey">Group ID</label>
      <%= f.text_field :group_ptan, placeholder: 'Group PTAN, CHAMPS, PIN, etc.', class: 'form-control' %>
    </div>
  </div>


  <div class="row mb-2">
    <div class="col-lg-12">
      <label class="text-dark-grey">Notes</label>
      <%= f.text_area :comment, class: 'form-control', rows: '8'%>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 d-flex justify-content-end">
      <%= f.check_box :_destroy %>
      <%= f.label :_destroy, "Remove", class: 'mx-2 text-dark-grey' %>
    </div>
  </div>

</div>