<div class="field card mb-3 p-2 py-3 mt-3">
     <div class="col-lg-12">
        <h3>Payor Enrollment Details</h3>
     </div>
  <div class="row mb-3">
    <div class="col-lg-6">
      <label class="text-dark-grey">Enrollment Payor</label>
      <%= f.text_field :enrollment_payer, placeholder: 'Type here', class: 'form-control border border-dark' %>
    </div>
    <div class="col-lg-6">
      <label class="text-dark-grey">Enrollment Type</label>
      <%= f.select :enrollment_type, options_for_select([
          ['Add','add'],
          ['Initial','Initial'],
          ['Recred/Reval','recred'],
          ['Not part on contract','not_part_on_contract']
        ], f.object.enrollment_type), { prompt: 'Enrollment Type' }, {:class => 'form-select border border-dark'}  %>
    </div>
  </div>
  <% if current_setting.qualifacts? %>
      <div class="row mb-3 d-none">
        <div class="col-lg-6">
          <label class="text-dark-grey">CPT® Code</label>
          <%= f.text_field :cpt_code, placeholder: 'Type here', class: 'form-control border border-dark' %>
        </div>
        <div class="col-lg-6">
          <label class="text-dark-grey">Descriptor</label>
          <%= f.text_field :descriptor, placeholder: 'Type here', class: 'form-control border border-dark' %>
        </div>
     </div>
  <% end %>
  <div class="row mb-3">
    <div class="col-lg-6">
      <label class="text-dark-grey">Initial Application Status</label>
      <%= f.select :enrollment_status, options_for_select(enrollment_status, f.object.enrollment_status), { prompt: 'Enrollment Status' }, { class: 'form-select multi-enrollment-status border border-dark', id: 'enrollment_status_select' } %>
    </div>
    <div class="col-lg-6">
      <label class="text-dark-grey">State</label>
       <%= f.select :payer_state, options_for_select([]), { prompt: 'State' }, {:class => 'form-select border border-dark payer-state single-select',  data: { value: f.object.payer_state } }  %>
    </div>
  </div>

  <div class="row mb-3 application-submitted-field <%= f.object&.enrollment_status == 'application-submitted' ? '' : 'd-none'%>">
    <div class="col-lg-6">
      <label class="text-dark-grey"> Date Initial Application Submitted</label>
      <%= f.date_field :start_date, placeholder: 'MM-DD-YYYY', class: 'form-control border border-dark' %>
    </div>
  </div>

  <div class="row mb-3 " style="display:none;" id="start_date_field" >
    <div class="col-lg-6">
      <label class="text-dark-grey"> Date Initial Application Submitted</label>
      <%= f.date_field :start_date, placeholder: 'MM-DD-YYYY', class: 'form-control border border-dark' %>
    </div>
  </div>

    <div class="row mb-3 revalidation-fields <%= f.object&.enrollment_status == 'approved' ? '' : 'd-none'%>">
      <div class="col-lg-6 mb-3">
        <label class="text-dark-grey"> Initial Effective Date </label>
          <%= f.text_field :enrollment_effective_date, placeholder: 'MM-DD-YYYY', class: 'form-control border border-dark', onfocus: "(this.type = 'date')" %>
      </div>
      <div class="row mt-3 mb-3">
          <%# <div class="col-lg-4"> %>
            <%# <label class="text-dark-grey">Revalidation Status</label> %>
              <%# <%= f.text_field :revalidation_status, placeholder: 'Type here...', class: 'form-control border border-dark' %>
          <%# </div> %>
          <div class="col-lg-6">
            <label class="text-dark-grey">Most Current Revalidation Date</label>
              <%= f.text_field :revalidation_date, placeholder: 'MM-DD-YYYY', class: 'form-control border border-dark', value: Time.zone.parse(f.object.revalidation_date.to_s)&.strftime('%m-%d-%Y'), onfocus: "(this.type = 'date')" %>
          </div>
          <div class="col-lg-6">
            <label class="text-dark-grey">Revalidation Next Due Date</label>
              <%= f.text_field :revalidation_due_date, placeholder: 'MM-DD-YYYY', class: 'form-control border border-dark', value: Time.zone.parse(f.object.revalidation_due_date.to_s)&.strftime('%m-%d-%Y'), onfocus: "(this.type = 'date')" %>
          </div>
      </div>
        <div class="col-lg-12">
            <label class="text-dark-grey">Line of Business(can be multiple)</label>
              <%= f.text_field :line_of_business, placeholder: 'Type here...', class: 'form-control border border-dark' %>
        </div>
    </div>
      <div class="col-lg-12">
          <label class="text-dark-grey">Line of Business(can be multiple)</label>
            <%= f.text_field :line_of_business, placeholder: 'Type here...', class: 'form-control border border-dark' %>
      </div>
  </div>
  <div class="row mb-3 application-not-submitted-field">
    <div class="col-lg-6">
      <label class="text-dark-grey">Provider ID</label>
      <%= f.text_field :provider_id, placeholder: 'Medicare and Medicaid,  PIN, etc.', class: 'form-control border border-dark' %>
    </div>
  </div>
  <div class="row mb-3 processing-field <%= f.object&.enrollment_status == 'processing' ? '' : 'd-none'%>">
    <div class="col-lg-6">
      <label class="text-dark-grey">Processing Date</label>
      <%= f.text_field :processing_date, placeholder: 'MM-DD-YYYY', class: 'form-control border border-dark', onfocus: "(this.type = 'date')" %>
    </div>
  </div>

  <div class="row mb-3 denied-field <%= f.object&.enrollment_status == 'denied' ? '' : 'd-none'%>">
    <div class="col-lg-6">
      <label class="text-dark-grey">Denied Date</label>
      <%= f.date_field :denied_date, placeholder: 'MM-DD-YYYY', class: 'form-control border border-dark' %>
    </div>
  </div>

  <div class="row mb-3 terminated-field <%= f.object&.enrollment_status == 'terminated' ? '' : 'd-none'%>">
      <div class="col-lg-6">
        <label class="text-dark-grey">Terminated Date</label>
        <%= f.text_field :terminated_date, placeholder: 'MM-DD-YYYY', class: 'form-control border border-dark', onfocus: "(this.type = 'date')" %>
      </div>
  </div>
  <div class="row mb-2">
    <div class="col-lg-6">
      <label class="text-dark-grey">Username</label>
      <%= f.text_field :payor_username, placeholder: 'Type here...', class: 'form-control border border-dark' %>
    </div>
    <div class="col-lg-6">
      <label class="text-dark-grey">Password</label>
      <%= f.text_field :payor_password, placeholder: 'Type here...', class: 'form-control border border-dark' %>
    </div>
  </div>

  <div class="questions">
    <div class="question-fields">
      <%
        f.object.questions.build if f.object.questions.blank?
      %>
      <%= f.fields_for :questions do |questions| %>
          <%= render 'questions_fields', q: questions %>
      <% end %>
    </div>
  </div>

  <div class="row mb-2 mt-2">
    <div class="col-lg-12">
      <label class="text-dark-grey">Notes</label>
      <%= f.text_area :comment, class: 'form-control border border-dark', rows: '8'%>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-lg-12 ">
      <label >Upload</label>
      <%= f.file_field :upload_payor_file, class: 'form-control', multiple: true %>
      <div class="d-flex gap-2">
        <% f.object.upload_payor_file.each do |file| %>
        <div class="upload-payor-file">
          <%= f.hidden_field :upload_payor_file, multiple: true, value: file.identifier %>
          <%= HtmlUtils.generate_view_link file_url: file.url, link_title: file.identifier, remove_icon: true %>
        </div>
        <% end %>
      </div>
    </div>
  </div>

  <% f.object.application_status_logs.each do |status_log| %>
    <div class="row application-status-history-log">
      <div class="col-lg-12">
        <small><strong><%= status_log.display_summary %></strong></small>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-12 d-flex justify-content-sm-end justify-content-center align-items-center">
      <%= f.check_box :_destroy %>
      <%= f.label :_destroy, "Remove", class: 'mx-2 text-dark-grey' %>
    </div>
  </div>

</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const enrollmentStatusSelect = document.getElementById('enrollment_status_select');
    const startDateField = document.getElementById('start_date_field');
      
       if (enrollmentStatusSelect.value === 'terminated') {
        startDateField.style.display = 'block';
      } else if(enrollmentStatusSelect.value === 'approved'){
        startDateField.style.display = 'block';
      } else if(enrollmentStatusSelect.value === 'processing'){
        startDateField.style.display = 'block';
      } else if(enrollmentStatusSelect.value === 'revalidation'){
        startDateField.style.display = 'block';
      } else if(enrollmentStatusSelect.value === 'denied'){
        startDateField.style.display = 'block';
      } else {
        startDateField.style.display = 'none';
      }
      
    enrollmentStatusSelect.addEventListener('change', function () {
      if (enrollmentStatusSelect.value === 'terminated') {
        startDateField.style.display = 'block';
      } else if(enrollmentStatusSelect.value === 'approved'){
        startDateField.style.display = 'block';
      } else if(enrollmentStatusSelect.value === 'processing'){
        startDateField.style.display = 'block';
      } else if(enrollmentStatusSelect.value === 'revalidation'){
        startDateField.style.display = 'block';
      } else if(enrollmentStatusSelect.value === 'denied'){
        startDateField.style.display = 'block';
      } else if(enrollmentStatusSelect.value === 'application-submitted'){
        startDateField.style.display = 'block';
      }
      else {
        startDateField.style.display = 'none';
      }
    });
  });
</script>
