<%= form_for @enrollment_provider, html: { multipart: true , id: 'enrollment-provider-form'} do |f| %>
<input name="enrollment_provider_id" type="hidden" value=<%=@enrollment_provider.id%>>
<% if @enrollment_provider.errors.any? %>
<div id="error_explanation" class="row mb-3">
   <div class="col-lg-12">
      <h2><%= pluralize(@enrollment_provider.errors.count, "error") %> prohibited this enrollment provider from being saved:</h2>
      <ul>
         <% @enrollment_provider.errors.full_messages.each do |message| %>
         <li><%= message %></li>
         <% end %>
      </ul>
   </div>
</div>
<% end %>
<div class="row mb-1">
   <div class="col-lg-12 pe-5">
      <label class="text-dark-grey">Provider Name</label>
      <%= HtmlUtils.multi_select_dropdown name: 'provider_id', label: 'Provider Name', id: 'enrollment-all-providers'%>
   </div>
</div>
<div class="row">
  <div class="col-lg-12 mb-3 d-flex justify-content-start gap-2">

         <div class="d-flex gap-2">
            <label class="text-dark-grey">Filter:</label>
            <div class="form-row  d-flex align-items-center gap-2">
               <div class="form-check d-flex align-items-center gap-2">
                   <input class="form-check-input" type="radio" name="outreach_type"
                       id="provider-from-enrollment" value="provider-from-enrollment" <%= 'checked' if f.object.outreach_type == 'provider-from-enrollment' %> >
                   <label class="form-check-label" for="provider-from-enrollment">
                     Provider from Enrollment
                   </label>
               </div>
               <div class="form-check d-flex align-items-center gap-2">
                   <input class="form-check-input" type="radio" name="outreach_type"
                       id="provider-from-provider-app" value="provider-from-provider-app" <%= 'checked' if f.object.outreach_type == 'provider-from-provider-app' %> >
                   <label class="form-check-label" for="provider-from-provider-app">
                     Provider from Provider App
                   </label>
               </div>
           </div>
         </div>
  </div>
</div>

<div class="row mb-1">
      <div class="col-lg-12">
         <label class="text-dark-grey">Name of person who can answer questions related to enrollment for the provider</label>
      </div>
   </div>
   <div class="row mb-3">
      <div class="col-lg-6">
         <label class="text-dark-grey">First Name </label>
         <%= f.text_field :first_name, placeholder: 'Type here... ', class: 'form-control border border-dark' %>
      </div>
      <div class="col-lg-6">
         <label class="text-dark-grey">Middle Name(optional) </label>
         <%= f.text_field :middle_name, placeholder: 'Type here... ', class: 'form-control border border-dark' %>
      </div>
   </div>
   <div class="row mb-3">
      <div class="col-lg-6">
         <label class="text-dark-grey">Last Name </label>
         <%= f.text_field :last_name, placeholder: 'Type here... ', class: 'form-control border border-dark' %>
      </div>
      <div class="col-lg-6">
         <label class="text-dark-grey">Suffix(optional)</label>
         <%= f.select :suffix, options_for_select(['Jr.', 'Sr.', 'II', 'III', 'IV', 'V'], f.object.suffix), { prompt: 'Select Option' }, { class: 'form-select border border-dark' } %>
      </div>
   </div>
   <div class="row mb-3">
      <div class="col-lg-6">
         <label class="text-dark-grey">Telephone Number *</label>
         <%= f.telephone_field :telephone_number, placeholder: 'Type here... ', class: 'form-control border border-dark' %>
      </div>
      <div class="col-lg-6">
         <label class="text-dark-grey">Email Address *</label>
         <%= f.text_field :email_address,  placeholder: 'Type here... ', class: 'form-control border border-dark' %>
      </div>
   </div>

<div class="row mb-3">
   <div class="col-lg-12">
      <div class="row">
         <div id="details">
            <div class="fields">
               <%= f.fields_for :details do |details| %>
               <%= render 'details_fields', f: details %>
               <% end %>
            </div>
            <div class="row">
               <div class="col-lg-12 text-center">
                  <div class="links mt-2">
                     <button type="button" class="add_association btn btn-primary btn-xs" > Add New Payor </button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-lg-12 d-flex justify-content-end pe-5">
      <button class="btn btn-primary btn-md">Submit</button>
   </div>
</div>
</div>

   <% end %>


<div class="modal fade" id="enrollmentTrackingPayerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered">
       <div class="modal-content">
         <div class="modal-header px-3">
            <h4 class="modal-title">Edit Enrollment Payor</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
           <div class="modal-body px-3 pt-0">
            <div class="form-row mt-3">
               <label for="">Add Payor:</label>
               <input id="payor-name" type="text" placeholder="Type here..." class="form-control">
            </div>
            <div class="form-row mt-3 d-flex justify-content-end">
               <button class="btn btn-primary py-1" onclick="addPayor()">Add</button>
            </div>
            <h5>List of Payors</h5>
            <div class="list-of-payers">
               <table class="table table-bordered">
                  <tbody>
                     <% enrollment_payers.order(created_at: :desc).each do |payor| %>
                     <tr>
                        <td>
                           <div class="d-flex justify-content-between">
                              <%= payor.name %>
                              <%= link_to 'javascript:void(0)',  data: { confirm: 'Are you sure?', id: payor.id }, onclick: "deletePayer(this)" do %>
                                 <span class="text-danger"><i class="bx bx-x"></i></span>
                              <% end %>
                           </div>
                        </td>
                     </tr>
                     <% end %>
                  </tbody>
               </table>
            </div>
           </div>

       </div>
   </div>
</div>

<%= content_for :js do %>
<script>
   $(document).ready(function(){
    $('.enrollment-payer').each(function(){
      var id = $(this).attr('id');
      var value = $(this).data('value');

      setTimeout(function(){
         $.get('<%= enrollment_payers_multi_select_data_path %>', function(data){
            VirtualSelect.init({ele: '#' + id, search: true });
            document.querySelector('#' + id).setOptions(data['result']);
            document.querySelector('#' + id).setValue(value);
         });
      }, 1000);
    });
   });

    $(document).ready(function(){
    $('.payer-state').each(function(){
      var id = $(this).attr('id');
      var value = $(this).data('value');

      setTimeout(function(){
         $.get('<%= states_multi_select_data_path %>', function(data){
            VirtualSelect.init({ele: '#' + id, search: true });
            document.querySelector('#' + id).setOptions(data['result']);
            document.querySelector('#' + id).setValue(value);
         });
      }, 1000);
    });
   });
</script>
<% end %>

<script>
   $(document).ready(function () {

      $("#details").on("click", ".add_association", function () {
         var detailsFields = $("#details .field");
         var newEnrollmentdetails = detailsFields.last().clone();
         var lastId = detailsFields.length - 1;
         var newId = lastId + 1;
         //var enrollment_payer_id = "enrollment_provider_details_attributes_" + newId + "_enrollment_payer";
         var payer_state_id = "enrollment_provider_details_attributes_" + newId + "_payer_state";

         // Update the IDs in the cloned HTML content
         newEnrollmentdetails.find("[id^='enrollment_provider_details_attributes_']").each(function() {
            var oldId = $(this).attr("id");
            var newIdValue = oldId.replace(/\d+/, newId);
            $(this).attr("id", newIdValue);
            $(this).attr("name", $(this).attr("name").replace(/\d+/, newId));
            $(this).val('');
         });

         setTimeout(function(){
           // $.get('<%= enrollment_payers_multi_select_data_path %>', function(data){
              // VirtualSelect.init({ele: '#' + enrollment_payer_id, search: true }); // initialze virtual select first
             //  document.querySelector('#' + enrollment_payer_id).setOptions(data['result']); // other alternative for initializing collection data
              // document.querySelector('#' + enrollment_payer_id).setValue(data['value']); // other alternative for setting the value
           // });

            $.get('<%= states_multi_select_data_path %>', function(data){
               VirtualSelect.init({ele: '#' + payer_state_id, search: true });
               document.querySelector('#' + payer_state_id).setOptions(data['result']);
               document.querySelector('#' + payer_state_id).setValue(value);
            });
         }, 500);

          // find input with name _destroy
          newEnrollmentdetails.find('input[type="hidden"]').each(function(){
            if($(this).attr('name').includes('_destroy')){
               $(this).attr('name', $(this).attr('name').replace(/\d+/, newId));
            }
         });

         // find button with remove-dynamic-fields class
         newEnrollmentdetails.find('button.remove-dynamic-fields').each(function(){
            if($(this).css('display') !== 'none'){
               var parentQuestionFields = $(this).closest('.question-field');
               parentQuestionFields.remove();
            }
         });

         $("#details .fields").append(newEnrollmentdetails);
         newEnrollmentdetails.find('.application-status-history-log').remove();
         newEnrollmentdetails.find('.multi-enrollment-status').trigger('change');
      });

      $(document).on('change', '.multi-enrollment-status', function () {
         var status = $(this).val();
         if (status == 'application-not-submitted') {
            showHideDetailFields($(this), '.application-not-submitted-field', 'show')
         }
         if (status == 'approved') {
            showHideDetailFields($(this), '.application-not-submitted-field', 'show')
            showHideDetailFields($(this), '.application-submitted-field', 'hide')
            showHideDetailFields($(this), '.revalidation-fields', 'show')
         } else if (status == 'application-submitted') {
            showHideDetailFields($(this), '.application-not-submitted-field', 'show')
            showHideDetailFields($(this), '.revalidation-fields', 'hide')
            showHideDetailFields($(this), '.application-submitted-field', 'show')
         } else {
            showHideDetailFields($(this), '.revalidation-fields', 'hide')
            showHideDetailFields($(this), '.application-submitted-field', 'hide')
         }
      })

      function showHideDetailFields(dropDown, divClass, mode) {
         if (mode == 'show')
            dropDown.parent().parent().parent().find(divClass).removeClass('d-none');
         else
            dropDown.parent().parent().parent().find(divClass).addClass('d-none');
      }

   })

   // For searcheable providers
  var selected_providers = [];
  var outreach_type = "<%= @enrollment_provider.outreach_type %>";
  var enrollment_provider_id = "<%= @enrollment_provider.id %>";

  $(document).ready(function() {
   $('input[name="outreach_type"]').change(function() {
      outreach_type = $(this).val();
      enrollment_provider_id = $('input[name="enrollment_provider_id"]').val();
      $.get('<%= providers_multi_select_data_path %>', {
         authenticity_token: csrfToken,
         outreach_type: outreach_type,
         enrollment_provider_id: enrollment_provider_id,
         without_enrollments: true,
         action_name: '<%= action_name %>'
      }, function(data) {
         document.querySelector('#enrollment-all-providers').reset();
         document.querySelector('#enrollment-all-providers').setOptions(data['result']);
      });
   });
   setTimeout(function() {
      getProviders();
   }, 500);
  })

  var providers = [];
  function getProviders() {
    $.ajax({
      url: '<%= providers_multi_select_data_path %>',
      method: 'GET',
      data: {
         authenticity_token: csrfToken,
         outreach_type: outreach_type,
         enrollment_provider_id: enrollment_provider_id,
         without_enrollments: true,
         action_name: '<%= action_name %>'
      },
      success: function(data) {
        VirtualSelect.init({
            options: data['result'],
            ele: '#enrollment-all-providers',
            multiple: false,
            search: true,
            showSelectedOptionsFirst: true,
            selectedValue: data['options']['selected_provider'],
        });
      }
    })
  }
</script>

<script>
   function addPayor(){
      var payor_name = $('#payor-name').val();
      if(payor_name == ''){
         alert('Please enter payor name');
         return false;
      }

      $.post('<%= add_payer_enrollment_payers_path %>', { authenticity_token: csrfToken, name: payor_name }, function(data){
         if(data['status'] == 'success'){
            var payor_id = data['payor_id'];
            var html = '<tr><td><div class="d-flex justify-content-between">' + payor_name + '<a data-confirm="Are you sure?" data-id="' + payor_id + '" onclick="deletePayer(this)" href="javascript:void(0)"><span class="text-danger"><i class="bx bx-x"></i></span></a></div></td></tr>';
            $('.list-of-payers table tbody').prepend(html);
            $('#payor-name').val('');
         }else{
            var message = data['message'];
            alert(message);
         }
      })
   }

   function deletePayer(link){
      var confirmationMessage = $(link).data('confirm');

      if (!confirm(confirmationMessage)) {
        e.preventDefault();
      }

      var id = $(link).data('id');

      $.post('<%= delete_payer_enrollment_payers_path %>', { authenticity_token: csrfToken, id: id }, function(data){
         if(data['status'] == 'success'){
            $(link).parent().parent().parent().remove();
         }else{
            var message = data['message'];
            alert(message);
         }
      });
   }

   $(document).ready(function(){
      $('#enrollmentTrackingPayerModal').on('hidden.bs.modal', function () {
         location.reload();
      })
   })
</script>

<script>
//    $(document).ready(function() {
//     $('.add-question').click(function(e) {
//       e.preventDefault();
//       var newId = new Date().getTime();

//       var newRow = $('<div class="col-lg-6">\
//           <label class="text-dark-grey">Question</label>\
//           <input placeholder="Type here..." class="form-control border border-dark" type="text" name="enrollment_provider[details_attributes][0][questions_attributes]['+ newId +'][question]">\
//         </div>\
//         <div class="col-lg-6">\
//           <label class="text-dark-grey">Answer</label>\
//           <input placeholder="Type here..." class="form-control border border-dark" type="text" name="enrollment_provider[details_attributes][0][questions_attributes]['+ newId +'][answer]">\
//         </div>').hide();

//       $('#questions-holder').append(newRow);
//       newRow.slideDown();
//     });
//   });
</script>

<script>

$(document).ready(function () {
// Hide the delete button for the first element on page load
// find all .questions and find all .remove-dynamic-fields and hide first
   $('.questions').each(function(){
      $(this).find('.remove-dynamic-fields').first().hide();
   });
});
   // Function to add new nested fields
 function addQuestions(btn){

   var parentQuestions =  $(btn).closest('.questions');
   var parentQuestionFields = $(btn).closest('.question-fields').first();
   var questionField = $(parentQuestionFields).find('.question-field').last().clone();
   var newIndex = $(parentQuestions).find('.question-field').length;

   questionField.css('display', 'block');
   questionField.find('input[type="text"][name*="[questions_attributes]"]').each(function () {
      var name = $(this).attr('name').replace(/\[questions_attributes\]\[\d+\]/g, '[questions_attributes][' + newIndex + ']');
      var id = $(this).attr('id').replace(/\[questions_attributes\]\[\d+\]/g, '[questions_attributes][' + newIndex + ']');

      $(this).attr('name', name);
      $(this).attr('id', id);
      $(this).val(''); // Clear input values for the new fields
   });


   questionField.find('.remove-dynamic-fields').show();

   // console.log(questionField)
   parentQuestionFields.append(questionField);
   // parentQuestions.append(parentQuestionFields);
 }

 // Function to remove a nested field
 function deleteQuestions(btn){
   var parentQuestions =  $(btn).closest('.questions');
   var parentQuestionFields = $(btn).closest('.question-fields .question-field');
   // find closest checkbox _destroy and toggle it
   var checkbox = $(parentQuestionFields).find('input[type="checkbox"][name*="[questions_attributes]"]');
   checkbox.prop('checked', !checkbox.prop('checked'));
   $(parentQuestionFields).fadeOut();

 }

</script>

<style>
  .multi-select {
    padding: 0;
  }
  .single-select {
    width: 100%;
    max-width: 1000px;
    padding: 0;
   }
</style>