<div class="content container-fluid">
	<%= render "enrollment_tracking_components/enrollment_nav"%>
	<div class="row mb-1">
		<div class="col-lg-12 mb-1">
			<h2>
				<% if current_setting.qualifacts? %>
					<a href="<%= client_provider_enrollments_path %>" class="d-flex gap-2 text-secondary">
				<% else %>
					<a href="<%= enrollment_providers_path %>" class="d-flex gap-2 text-secondary">
				<% end %>
				<i class="bi bi-arrow-left h5 d-flex align-items-center"></i>
				<span class="h1">Add New Enrollment</span>
				</a>
			</h2>
		</div>
	</div>
		<div class="mb-1">
			<div class="col-lg-1 d-flex justify-content-start gap-2">
				<%= render "enrollment_components/enrollment_provider_group_nav"%>
			</div>
		</div>

	<div class="row mb-3">
				<div class="col-lg-12">
					<%= render 'form' %>
				</div>
	</div>

				</div>
			</div>
	</div>
</div>

<script>
	$('#enrollment_provider_status').on('change',function(){
		if($(this).val() != ""){
			$('.enrollment_status_hidden_fields').addClass('d-none');
			var id = "#enrollment_"+$(this).val();
			console.log(id)
			$(id).removeClass('d-none');
		}
	})
</script>