<div class="content container-fluid">
  <%= render "enrollment_tracking_components/enrollment_nav"%>
  <div class="row mb-3">
    <div class="col-lg-6">
      <%= form_with url: request.url, method: :get, html: { class: 'form_search_with_icon'} do |form| %>
      <div class="">
        <input type="text" name="enrollment_provider_search" value="<%= params[:enrollment_provider_search] %>" class="form-control">
        <i class="bi bi-search"></i>
      </div>
      <% end %>
    </div>
    <div class="col-lg-6 d-flex justify-content-end gap-2">
      <a href="<%= enroll_groups_path %>" class="btn btn-secondary text-black bg-alt-grey btn-md">
        <span class="mx-1">Enrollment Groups List</span>
      </a>
      <a href="<%= new_enrollment_provider_path %>" class="d-flex btn btn-primary btn-md">
        <i class="bi bi-plus-lg"></i>
        <span class="mx-1">New Enrollment Provider</span>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8">
      <table class="table table-striped table-bordered table-responsive">
        <thead>
          <tr>
            <th scope="col" class="bg-primary text-white">ID Number</th>
            <th scope="col" class="bg-primary text-white">Provider Name</th>
            <th scope="col" class="bg-primary text-white">NPI</th>
            <th scope="col" class="bg-primary text-white">Start Date</th>
            <th scope="col" class="bg-primary text-white">Due Date</th>
            <th scope="col" class="bg-primary text-white"></th>
          </tr>
        </thead>
        <tbody>
            <%= render @enrollment_providers %>
        </tbody>
      </table>
      <% if @enrollment_providers %>
      <div class="col-lg-12">
          <div class="d-flex justify-content-between bg-medium-grey rounded align-items-center py-3">
          <div class="page_info ms-3 text-black">
                  <%= page_entries_info @enrollment_providers %>
          </div>
          <% if params[:per_page ].present? %>
              <%= will_paginate @enrollment_providers, :params =>  {per_page: @per_page }, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
          <% else %>
              <%= will_paginate @enrollment_providers, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
          <% end %>
          </div>
      </div>
      <% end %>

    </div>
    <div class="col-lg-4" style="background-color: #eee;">
      <div class="row my-3 mb-2">
        <div class="col-lg-12">
          <div class="card rounded shadow-lg p-2">
            <p class="text-dark-grey fw-semibold mb-1">Enrolled by: <%= @enrollment_provider&.enrolled_by %> </p>
            <p class="text-dark-grey fw-semibold mb-1">Enrolled: <%= @enrollment_provider&.created_at&.strftime('%m/%d/%Y') %> </p>
            <p class="text-dark-grey fw-semibold mb-1">Assigned Agent: <%= @enrollment_provider.assigned_agent&.full_name %> </p>
            <p class="text-dark-grey fw-semibold mb-1">Type of outreach: <%= @enrollment_provider&.outreach_type&.titleize  %> </p>
          </div>
        </div>
    </div>
    <div class="row mb-3">
      <div class="col-lg-6">
        <a href="javascript:void(0);" data-model="enrollment_providers" data-status="completed" class="btn bg-white btn-lg btn-outline-primary w-100 <%= @enrollment_provider.status != 'completed' ? 'enrollment-update-status' : ' unavailable disabled'%>">
          <span class="text-dark-grey">
           Mark as Complete
          </span>
        </a>
      </div>
      <div class="col-lg-6">
        <a href="javascript:void(0);" data-model="enrollment_providers" data-status="callback" class="btn bg-white btn-lg btn-outline-primary w-100 <%= @enrollment_provider.status != 'callback' ? 'enrollment-update-status' : ' unavailable disabled'%>">
          <span class="text-dark-grey">
            Schedule for Callback
          </span>
        </a>
      </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-12">
          <div class="card rounded shadow-lg p-1 px-3 mb-3">
            <span class="fw-semibold mt-2 text-white rounded px-1" style="background: #3bc539; width: 70%;" id="status_identified">ID: <%= @enrollment_provider.id %> <%= "Enrollment #{@enrollment_provider&.status&.titleize}"%></span>
            <div class="avatar-circle mt-3" style="text-align: center">
              <img class="avatar-img" src="../dist/assets/img/400x400/img1.jpg" alt="Image Description" style="width: 100px;">
            </div>
            <h3 class="font-bold mb-0 text-center my-3"><%= @enrollment_provider.provider_name %></h3>

            <% @enrollment_provider.details.each do |detail|%>
            <div class="text-left mt-3">
              <p class="mb-1"><strong>Start Date:</strong> <%= detail&.start_date&.strftime('%m/%d/%Y') %></p>
              <p class="mb-1"><strong>End Date:</strong> <%= detail&.due_date&.strftime('%m/%d/%Y') %></p>
              <p class="mb-1"><strong>Enrollment Payer:</strong> <%= detail&.enrollment_payer %></p>
              <p class="mb-1"><strong>Type of Enrollment:</strong> <%= detail.enrollment_type %></p>
              <p class="mb-1"><strong>Status of Enrollment:</strong> <%= detail&.enrollment_status&.titleize %></p>
            </div>
            <% end %>
          </div>
        </div>
    </div>

    <div class="row mb-3">
      <div class="col-lg-12">
        <% if @enrollment_provider.status == 'submitted' %>
          <div class="card rounded shadow-lg p-1 px-3 mb-3">
              <h5 class="mt-2">Application ID/Submitted ID/Tracking ID:</h5>
              <p class="p-5 text-center">
                <%= @enrollment_provider&.application_id %>
              </p>
          </div>
        <% elsif @enrollment_provider.status == 'not_submitted' %>
          <div class="card rounded shadow-lg p-1 px-3 mb-3">
              <h5 class="mt-2">Note:  </h5>
              <p class="p-5 text-center">
                <%= @enrollment_provider&.not_submitted_note %>
              </p>
          </div>
        <% elsif @enrollment_provider.status == 'approved' %>
          <div class="card rounded shadow-lg p-1 px-3 mb-3">
            <h5 class="mt-2">Date Approved: <%= @enrollment_provider&.approved_date&.strftime('%m/%d/%Y') %> </h5>
            <h5 class="mt-2">Enrollment Confirmation: <%= @enrollment_provider&.approved_confirmation&.to_date&.strftime('%m/%d/%Y') %> </h5>
          </div>
        <% elsif @enrollment_provider.status == 'rejected' %>
          <div class="card rounded shadow-lg p-1 px-3 mb-3">
              <h5 class="mt-2">Reason for Rejection:</h5>
              <p class="p-5 text-center">
                <%= @enrollment_provider&.not_submitted_note_rejected %>
              </p>
          </div>
        <% end %>
      </div>
    </div>

    <div class="row mb-3">
        <div class="col-lg-12">
          <div class="card rounded shadow-lg p-2 px-3 mb-3">
            <% docs = [['State Medical License', 'state_license_file'], ['DEA','dea_file'], ['IRS Letter','irs_letter_file'], ['W9', 'w9_file'], ['Voided Check', 'voided_check_file'], ['Curriculum Vitae', 'curriculum_vitae_file'], ['CMS 460', 'cms_460_file'], ['Electronic File Transfer', 'eft_file'], ['Certificate of Insurance', 'cert_insurance_file'], ['Driver\'s License', 'driver_license_file'], ['Board Certification', 'board_certification_file']] %>
              <h5 class="mt-2 text-center">Uploaded Documents</h5>
              <div class="text-left text-dark-grey d-flex flex-column">
              <% docs.each do |doc|%>
              <label class="text-dark-grey mb-2">
                <% if  @enrollment_provider.doc_submitted(doc[1])%>
                  <input type="checkbox" name="" checked>
                <% else %>
                  <input type="checkbox" name="">
                <% end %>
                <%= doc[0]%>
              </label>
              <% end %>
              </div>
              <div class="text-center my-2">
                <button class="btn btn-primary btn-sm w-50">Approve Documents</button>
              </div>

              <div class="d-flex flex-column  gap-2">
                <% docs.each do |doc|%>
                <% doc_url = @enrollment_provider.doc_url(doc[1]) %>
                <% if !doc_url.nil?%>
                <div class="card p-2">
                  <div class="d-flex justify-content-between">
                    <a href="<%= doc_url %>" target="_blank" class="text-dark-grey"><%= doc[0]%></a>
                    <a href="<%= doc_url %>" target="_blank" class="text-dark-grey">
                    <i class="bi bi-eye"></i>
                    </a>
                  </div>
                </div>
                <% end %>
                <% end %>
              </div>
          </div>
        </div>
    </div>

    <div class="row-mb-3">
          <div class="card rounded shadow-lg p-1 px-3 mb-3  pb-5">
            <h3 class="text-center my-3">Comments</h3>
            <% @enrollment_provider.comments.each do |comment|%>
              <%= render partial: 'comments/comment', locals: {comment: comment}%>
            <% end %>
            <%= render partial: 'comments/form', comment: @comment %>
          </div>
    </div>

  </div>
</div>

<script>
  var csrfToken = $('meta[name="csrf-token"]').attr('content');
  var id = '<%= @enrollment_provider.id %>';
  $(document).on('click', '.enrollment-update-status',function() {
    var model = $(this).data('model');
    var status = $(this).data('status');
    var btn = $(this);
    $.ajax({
      url: '<%= change_enrollment_status_path %>',
      method: 'POST',
      data: { authenticity_token: csrfToken, model: model, status: status, id: id },
      success: function(data) {
        changeStatusOtherButton(btn);
        changeBtnToDisable(btn);
        $('#status_identified').html('ID: ' + data['id'] + ' Enrollment ' + data['status']);
      }
    })

  });

  function changeBtnToDisable(btn) {
    btn.removeClass('enrollment-update-status');
    btn.addClass('disabled');
    btn.addClass('unavailable');
  }

  function changeStatusOtherButton(btn) {
    btn.parent().parent().find('div').find('a').removeClass('unavailable');
    btn.parent().parent().find('div').find('a').removeClass('disabled');
    btn.parent().parent().find('div').find('a').addClass('enrollment-update-status');
  }
</script>