<% if client_provider_enrollment.enrollable_type == "EnrollGroup" %>
  <% url = (action_name == 'show' ?  client_provider_enrollments_path : client_provider_enrollment_path(client_provider_enrollment))%>
  <% name = client_provider_enrollment.enrollable&.group&.group_name %>
  <% type = client_provider_enrollment.enrollable&.group&.provider_type%>
  <% npi = client_provider_enrollment.enrollable&.npi%>
  <% ssn = client_provider_enrollment.enrollable&.ssn%>
  <% edit_path = edit_enroll_group_path(client_provider_enrollment.enrollable)%>
  <% delete_path = enroll_group_path(client_provider_enrollment.enrollable)%>
<% else %>
  <% url = (action_name == 'show' ?  client_provider_enrollments_path : client_provider_enrollment_path(client_provider_enrollment))%>
  <% name = client_provider_enrollment.enrollable&.provider_name %>
  <% type = client_provider_enrollment.enrollable&.provider&.practitioner_type%>
  <% npi = client_provider_enrollment.enrollable&.provider&.npi%>
  <% ssn = client_provider_enrollment.enrollable&.provider&.ssn%>
  <% edit_path = edit_enrollment_provider_path(client_provider_enrollment.enrollable)%>
  <% delete_path = enrollment_provider_path(client_provider_enrollment.enrollable)%>
<% end %>

	<td scope="row">
    <a href="javascript:void(0)" class="text-secondary show-client-provider-enrollment-button" data-client-provider-enrollment-id=<%= client_provider_enrollment.id %> data-remote="true"><%= name %></a>
  </td>
	<td scope="row">
    <a href="javascript:void(0)" class="text-dark-grey show-client-provider-enrollment-button" data-client-provider-enrollment-id=<%= client_provider_enrollment.id %> data-remote="true"><%=type%></a>
  </td>
	<td scope="row">
    <a href="javascript:void(0)" class="text-dark-grey show-client-provider-enrollment-button" data-client-provider-enrollment-id=<%= client_provider_enrollment.id %> data-remote="true"><%=npi%></a>
    <div class="d-flex gap-2" style="float:right;">
      <% if current_user.can_access?('Edit Enrollment') %>
        <%= link_to edit_path, class: 'btn btn-xs btn-primary' do %>
          <i class="bi bi-pencil"></i>
        <% end %>
      <% end %>
      <% if current_user.can_access?('Delete Enrollment') %>
        <%= button_to delete_path, method: :delete, class: 'btn btn-xs btn-danger delete-button', style: 'border: none; background-color: transparent;' do %>
          <i class="bi bi-trash"></i>
        <% end %>
      <% end %>
    </div>
  </td>
</tr>

<script>
  $(document).ready(function() {
    var csrfToken = $('meta[name="csrf-token"]').attr('content');
    $('.show-client-provider-enrollment-button').off().on('click', function() {
      if($('#client-provider-enrollment-sidebar').length) {
        var container = $('#show-client-provider-enrollment-container');
        container.html("")
        container.removeClass('col-lg-4')
        $('tr').removeClass('bg-medium-grey')
      } else {
        var client_provider_enrollment_id = $(this).data("client-provider-enrollment-id");
        getClientProviderEnrollment(client_provider_enrollment_id);
        $(this).parent().closest('tr').addClass('bg-medium-grey')
      }
    });

    function getClientProviderEnrollment(client_provider_enrollment_id) {
      $.ajax({
        url: '<%= get_client_provider_enrollment_path %>',
        method: 'GET',
        data: { authenticity_token: csrfToken, id: client_provider_enrollment_id },
        beforeSend: function() {
          $('.loading-overlay').show(); //
        },
        success: function(data) {
          var container = $('#show-client-provider-enrollment-container');
          container.addClass('col-lg-4')
          container.html(data.html)
          $('.loading-overlay').hide(); //
        }
      })
    }
  });
</script>