<div class="col-lg-4" style="background-color: #eee;">
  <div class="row my-2 mb-3 mt-3">
    <div class="col-lg-12">
      <div class="card rounded shadow-lg p-2">
        <p class="text-dark-grey fw-semibold mb-1">Enrolled by: <%= client_provider_enrollment.enrollable&.enrolled_by %> </p>
        <p class="text-dark-grey fw-semibold mb-1">Enrolled: <%= client_provider_enrollment.enrollable&.created_at&.strftime('%B %d, %Y') %> </p>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-lg-12">
      <div class="card rounded shadow-lg p-2">
        <p class="text-dark-grey fw-semibold mb-1">Assigned Agent: <%= client_provider_enrollment.enrollable.assigned_agent&.full_name %> </p>
        <p class="text-dark-grey fw-semibold mb-1">Type of outreach: <%= client_provider_enrollment.enrollable&.outreach_type&.titleize  %> </p>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-lg-6">
      <a href="javascript:void(0);" data-model="enrollment_providers" data-status="completed" class="btn bg-white btn-lg btn-outline-success w-100 <%= client_provider_enrollment.enrollable.status != 'completed' ? 'enrollment-update-status' : ' unavailable disabled'%>">
        <span class="text-dark-grey">
        Mark as Complete
        </span>
      </a>
    </div>
    <div class="col-lg-6">
      <a href="javascript:void(0);" data-model="enrollment_providers" data-status="callback" class="btn bg-white btn-lg btn-outline-primary w-100 <%= client_provider_enrollment.enrollable.status != 'callback' ? 'enrollment-update-status' : ' unavailable disabled'%>">
        <span class="text-dark-grey">
          Schedule for Callback
        </span>
      </a>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-lg-12">
      <div class="card rounded shadow-lg p-1 px-3 mb-3">
        <span class="fw-semibold mt-2 text-white rounded px-1" style="background: #3bc539; width: 70%;" id="status_identified">ID: <%= client_provider_enrollment.enrollable.id %> <%= "Enrollment #{client_provider_enrollment.enrollable&.status&.titleize}"%></span>
        <div class="avatar-circle mt-3" style="text-align: center">
          <img class="avatar-img" src="../dist/assets/img/400x400/img1.jpg" alt="Image Description" style="width: 100px;">
        </div>
        <h3 class="font-bold mb-3 text-center my-3"><%= client_provider_enrollment.enrollable&.provider_name %></h3>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-lg-12">
      <div class="card rounded shadow-lg p-1 px-3 mb-3">
        <h5 class="mt-2 text-center">Payer Enrollment Details</h5>
        <div class="card rounded shadow-lg p-1 px-3 mb-3">
          <%= render partial: "global_components/collapsible_sidebar_header", locals: {title: 'Medicare', collapse_name: 'medicare_payer'}%>
          <div class="collapsible" style="<%= current_user&.is_card_open?('medicare_payer') ? '' : 'display: none;' %>">
            <% client_provider_enrollment.enrollable&.details.each_with_index do |detail,idx|%>
              <div class="text-left mt-3">
                <p class="mb-1"><strong>Enrollment Payer:</strong> <%= detail.enrollment_payer&.titleize %></p>
                <p class="mb-1"><strong>Enrollment Type:</strong> <%= detail.enrollment_type %></p>
                <p class="mb-1"><strong>Application Status:</strong> <%= detail&.enrollment_status&.titleize %></p>
                <p class="mb-1"><strong>Provider ID:</strong> <%= detail&.provider_ptan %> </p>
                <p class="mb-1"><strong>Group ID:</strong> <%= detail&.group_ptan %> </p>
                <p class="mb-1"><strong>Notes:</strong> <%= detail&.comment %></p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-1 d-none">
    <div class="col-lg-12">
      <div class="card rounded shadow-lg p-2 px-3 mb-3">
        <% docs = [['State Medical License', 'state_license_file'], ['DEA','dea_file'], ['IRS Letter','irs_letter_file'], ['W9', 'w9_file'], ['Voided Check', 'voided_check_file'], ['Curriculum Vitae', 'curriculum_vitae_file'], ['CMS 460', 'cms_460_file'], ['Electronic File Transfer', 'eft_file'], ['Certificate of Insurance', 'cert_insurance_file'], ['Driver\'s License', 'driver_license_file'], ['Board Certification', 'board_certification_file']] %>
        <h5 class="mt-2 text-center">Uploaded Documents</h5>
        <div class="text-left text-dark-grey d-flex flex-column">
          <% docs.each do |doc|%>
            <label class="text-dark-grey mb-2">
              <% if  client_provider_enrollment.enrollable.doc_submitted(doc[1])%>
                <input type="checkbox" name="" checked>
              <% else %>
                <input type="checkbox" name="">
              <% end %>
              <%= doc[0]%>
            </label>
          <% end %>
        </div>
        <div class="text-center my-2">
          <button class="btn btn-primary btn-sm w-50">Approve Documents</button>
        </div>
        <div class="d-flex flex-column  gap-2">
          <% docs.each do |doc|%>
            <% doc_url = client_provider_enrollment.enrollable.doc_url(doc[1]) %>
            <% if !doc_url.nil?%>
              <div class="card p-2">
                <div class="d-flex justify-content-between">
                  <a href="<%= doc_url %>" target="_blank" class="text-dark-grey"><%= doc[0]%></a>
                  <a href="<%= doc_url %>" target="_blank" class="text-dark-grey">
                  <i class="bi bi-eye"></i>
                  </a>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row-mb-3">
    <div class="card rounded shadow-lg p-1 px-3 mb-3 pb-5">
      <h3 class="text-center my-3">Comments</h3>
      <p class="text-dark-grey fw-semibold mb-1"> <%= client_provider_enrollment.enrollable&.enrolled_by %> </p>
      <p class="text-dark-grey fw-semibold mb-1"> <%= client_provider_enrollment.enrollable&.created_at&.strftime('%B %d, %Y') %> </p>
      <% client_provider_enrollment.enrollable.comments.each do |comment|%>
        <%= render partial: 'comments/comment', locals: {comment: comment}%>
      <% end %>
      <%= render partial: 'comments/form', comment: @comment %>
    </div>
  </div>
</div>