<div class="col-lg-4" style="background-color: #eee;">
  <div class="row my-2 mb-2 mt-3">
    <div class="col-lg-12">
      <div class="card rounded shadow-lg p-2">
        <p class="text-dark-grey fw-semibold mb-1">Enrolled by: <%= client_provider_enrollment.enrollable&.enrolled_by %> </p>
        <p class="text-dark-grey fw-semibold mb-1">Enrolled: <%= client_provider_enrollment.enrollable&.created_at&.strftime('%B %d, %Y') %> </p>
      </div>
    </div>
  </div>
  <div class="row mb-1">
    <div class="col-lg-12">
      <div class="card rounded shadow-lg p-1 px-3 mb-1">
        <div class="avatar-circle mt-3" style="text-align: center">
          <img class="avatar-img" src="../dist/assets/img/400x400/img1.jpg" alt="Image Description" style="width: 100px;">
        </div>
        <h3 class="font-bold mb-3 text-center my-3"><%= client_provider_enrollment.enrollable.provider_name %></h3>
      </div>
    </div>
    <div class="row mb-1">
      <div class="col-lg-12">
        <div class="card rounded shadow-lg p-1 px-3 mb-1">
          <h5 class="mt-2 text-center">Payer Enrollment Details</h5>
          <% client_provider_enrollment.enrollable&.details.each_with_index do |detail,idx|%>
            <div class="card rounded shadow-lg p-1 px-3 mb-3">
              <%= render partial: "global_components/collapsible_sidebar_header", locals: { title: detail.enrollment_payer, collapse_name: "#{detail.enrollment_payer&.underscore}_payer", text_position: 'text-start' }%>
              <div class="collapsible" style="<%= current_user&.is_card_open?("#{detail.enrollment_payer&.underscore}_payer") ? '' : 'display: none;' %>">
                <div class="text-left mt-2 text-dark">
                  <p class="mb-2"><strong>Enrollment Payer:</strong> <%= detail.enrollment_payer %></p>
                  <p class="mb-2"><strong>Enrollment Type:</strong> <%= detail.enrollment_type&.titleize %></p>
                  <p class="mb-2"><strong>Application Status:</strong> <%= detail&.enrollment_status&.titleize %></p>
                  <p class="mb-2"><strong>State:</strong> <%= State.find_by(alpha_code: detail&.payer_state)&.name %></p>
                  <p class="mb-2"><strong>Provider ID:</strong> <%= detail&.provider_id %> </p>
                  <% if detail&.enrollment_status == "approved" %>
                  <p class="mb-2"><strong>Effective Date:</strong> <%= detail.enrollment_effective_date %></p>
                  <p class="mb-2"><strong>Revalidation Status:</strong> <%= detail.revalidation_status&.titleize %></p>
                  <p class="mb-2"><strong>Most Current Revalidation Date:</strong> <%= detail.revalidation_date&.strftime('%m/%d/%Y') rescue nil %></p>
                  <p class="mb-2"><strong>Revalidation Next Due Date:</strong> <%= detail.revalidation_due_date&.strftime('%m/%d/%Y') rescue nil %></p>
                  <p class="mb-2"><strong>Line of Business:</strong> <%= detail.line_of_business&.titleize %></p>
                  <% elsif detail&.enrollment_status == "application-submitted" %>
                  <p class="mb-2"><strong>Start Date:</strong> <%= detail.start_date&.strftime('%m/%d/%Y') rescue nil %></p>
                  <p class="mb-2"><strong>Enrollment Tracking ID:</strong> <%= detail.enrollment_tracking_id%></p>
                  <% elsif detail&.enrollment_status == "processing" %>
                  <p class="mb-2"><strong>Processing Date:</strong> <%= detail.processing_date %></p>
                  <% elsif detail&.enrollment_status == "terminated" %>
                  <p class="mb-2"><strong>Terminated Date:</strong> <%= detail.terminated_date %></p>
                  <% end %>
                  <h5 class="mt-2 text-center">Payor Login</h5>
                  <p class="mb-2"><strong>Username:</strong> <%= detail.payor_username %></p>
                  <p class="mb-2"><strong>Password:</strong> <%= detail.payor_password %></p>
                  <% detail&.questions.each_with_index do |question,idx|%>
                  <p class="mb-1"><strong>Question <%= idx + 1 %>:</strong> <%= question&.question %></p>
                  <p class="mb-1"><strong>Answer <%= idx + 1 %>:</strong> <%= question&.answer %></p>
                <% end %>
                <h5 class="mt-2 text-center">Payor Login</h5>
                <p class="mb-2"><strong>Username:</strong> <%= detail.payor_username %></p>
                <p class="mb-2"><strong>Password:</strong> <%= detail.payor_password %></p>
                <% detail&.questions.each_with_index do |question,idx|%>
                <p class="mb-1"><strong>Question <%= idx + 1 %>:</strong> <%= question&.question %></p>
                <p class="mb-1"><strong>Answer <%= idx + 1 %>:</strong> <%= question&.answer %></p>
              <% end %>
              <p class="mb-2"><strong>Notes:</strong> <%= detail.comment %></p>
             <% detail&.application_status_logs.each do |status_log| %>
              <div class="row application-status-history-log">
                <div class="col-lg-12">
                  <small><strong><%= status_log.display_summary %></strong></small>
                </div>
              </div>
            <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <%
=begin%>
 <div class="row-mb-3">
    <div class="card rounded shadow-lg p-1 px-3 mb-3 pb-5">
      <h3 class="text-center my-3">Comments</h3>
      <div id="comments-list">
        <% client_provider_enrollment.enrollable.comments.each do |comment|%>
          <% if comment.persisted? %>
            <%= render partial: 'comments/comment', locals: {comment: comment}%>
          <% end %>
        <% end %>
      </div>
      <%= render partial: 'comments/form_ajax', comment: @comment %>
    </div>
  </div>
<%
=end%>
</div>