<div class="col-lg-4" style="background-color: #eee;">
  <div class="row my-2 mb-3 mt-3">
    <div class="col-lg-12">
      <div class="card rounded shadow-lg p-2">
        <p class="text-dark-grey fw-semibold mb-1">Enrolled by: <%= client_provider_enrollment.enrollable&.enrolled_by %> </p>
        <p class="text-dark-grey fw-semibold mb-1">Enrolled: <%= client_provider_enrollment.enrollable&.created_at&.strftime('%B %d, %Y') %> </p>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-lg-12">
      <div class="card rounded shadow-lg p-2">
        <p class="text-dark-grey fw-semibold mb-1">Assigned Agent: <%= client_provider_enrollment.enrollable.assigned_agent&.full_name %> </p>
        <p class="text-dark-grey fw-semibold mb-1">Type of outreach: <%= client_provider_enrollment.enrollable&.outreach_type&.titleize  %> </p>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-lg-6">
      <a href="javascript:void(0);" data-model="enrollment_providers" data-status="completed" class="btn bg-white btn-lg btn-outline-success w-100 <%= client_provider_enrollment.enrollable.status != 'completed' ? 'enrollment-update-status' : ' unavailable disabled'%>">
        <span class="text-dark-grey">
          Mark as Complete
        </span>
      </a>
    </div>
    <div class="col-lg-6">
      <a href="javascript:void(0);" data-model="enrollment_providers" data-status="callback" class="btn bg-white btn-lg btn-outline-primary w-100 <%= client_provider_enrollment.enrollable.status != 'callback' ? 'enrollment-update-status' : ' unavailable disabled'%>">
        <span class="text-dark-grey">
          Schedule for Callback
        </span>
      </a>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-lg-12">
      <div class="card rounded shadow-lg p-1 px-3 mb-3">
        <span class="fw-semibold mt-2 text-white rounded px-1" style="background: #3bc539; width: 70%;" id="status_identified">ID: <%= client_provider_enrollment.enrollable.id %> <%= "Enrollment #{client_provider_enrollment.enrollable&.status&.titleize}"%></span>
        <div class="avatar-circle mt-3" style="text-align: center">
          <img class="avatar-img" src="../dist/assets/img/400x400/img1.jpg" alt="Image Description" style="width: 100px;">
        </div>
        <h3 class="font-bold mb-3 text-center my-3"><%= client_provider_enrollment.enrollable&.group&.group_name %></h3>
        <div class="text-left mt-2 text-dark">
          <p class="mb-2 h5">Name of person who can answer questions related to enrollment for the group</p>
          <p class="mb-1"><strong>Name:</strong> <%= client_provider_enrollment.enrollable&.full_name %></p>
          <p class="mb-1"><strong>Telephone Number:</strong> <%= client_provider_enrollment.enrollable&.telephone_number %></p>
          <p class="mb-1"><strong>Email Address:</strong> <%= client_provider_enrollment.enrollable&.email %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-lg-12">
      <div class="card rounded shadow-lg p-1 px-3 mb-3">
        <h5 class="mt-2 text-center">Payer Enrollment Details</h5>
        <div class="card rounded shadow-lg p-1 px-3 mb-3">
          <% client_provider_enrollment.enrollable&.details.each_with_index do |detail,idx|%>
            <%= render partial: "global_components/collapsible_sidebar_header", locals: { title: detail&.enrollment_payer&.titleize, collapse_name: "#{detail&.enrollment_payer&.underscore}_payer", text_position: 'text-start' }%>
            <div class="collapsible" style="<%= current_user&.is_card_open?("#{detail&.enrollment_payer&.underscore}_payer") ? '' : 'display: none;' %>">
              <div class="text-left mt-2 text-dark">
                <p class="mb-2"><strong>Enrollment Payer:</strong> <%= detail&.enrollment_payer&.titleize %></p>
                <p class="mb-2"><strong>Enrollment Type:</strong> <%= detail&.enrollment_type %></p>
                <p class="mb-2"><strong>State:</strong> <%= State.find_by(alpha_code: detail&.payer_state)&.name %></p>
                <p class="mb-2"><strong>Group Number:</strong> <%= detail&.group_number %> </p>
                <p class="mb-2"><strong>Effective Date:</strong> <%= detail&.effective_date %> </p>
                <p class="mb-2"><strong>Revalidation Date:</strong> <%= detail&.revalidation_date %> </p>
                <p class="mb-2"><strong>Application Status:</strong> <%= detail&.application_status&.titleize %></p>
                <p class="mb-2"><strong>Payor Type:</strong> <%= detail&.payor_type&.titleize %></p>
                <p class="mb-2"><strong>Participating with Medicare and Tricare:</strong> <%= detail&.medicare_tricare %></p>
                <h5 class="mt-2 text-center">Payer Enrollment Details</h5>
                <p class="mb-2"><strong>Name:</strong> <%= detail&.payor_name %></p>
                <p class="mb-2"><strong>Phone Number:</strong> <%= detail&.payor_phone %></p>
                <p class="mb-2"><strong>Email Address:</strong> <%= detail&.payor_email %></p>
                <p class="mb-2"><strong>Type of Enrollment Submission:</strong> <%= detail&.group_number %> </p>
                <h5 class="mt-2 text-center">Enrollment Link</h5>
                <p class="mb-2"><strong>Link:</strong> <%= detail&.enrollment_link&.titleize %></p>
                <p class="mb-2"><strong>Username:</strong> <%= detail&.payor_username %></p>
                <p class="mb-2"><strong>Password:</strong> <%= detail&.password %></p>
                <% detail&.questions.each_with_index do |question,qidx|%>
                  <p class="mb-2"><strong>Security Question <%= qidx + 1 %>:</strong> <%= question&.secret_question %> </p>
                  <p class="mb-2"><strong>Security Answer <%= qidx + 1 %>:</strong> <%= question&.answer %> </p>
                <% end %>
                <h5 class="mt-2 text-center">Portal Administrator</h5>
                <p class="mb-2"><strong>Name:</strong> <%= detail&.portal_admin_name %></p>
                <p class="mb-2"><strong>Phone Number:</strong> <%= detail&.portal_admin_phone %></p>
                <p class="mb-2"><strong>Email Address:</strong> <%= detail&.portal_admin_email %></p>
                <p class="mb-2"><strong>Is this a CAQH Payer:</strong> <%= detail&.caqh_payer&.titleize %> </p>
                <p class="mb-2"><strong>EFT:</strong> <%= detail&.eft&.titleize %> </p>
                <p class="mb-2"><strong>ERA:</strong> <%= detail&.era&.titleize %> </p>
                <p class="mb-2"><strong>Client Notes:</strong> <%= detail&.client_notes %> </p>
                <p class="mb-2"><strong>Notes:</strong> <%= detail&.notes %> </p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row-mb-3">
    <div class="card rounded shadow-lg p-1 px-3 mb-3 pb-5">
      <h3 class="text-center my-3">Comments</h3>
      <div id="comments-list">
        <% client_provider_enrollment.enrollable.comments.each do |comment|%>
          <% if comment.persisted? %>
            <%= render partial: 'comments/comment', locals: {comment: comment}%>
          <% end %>
        <% end %>
      </div>
      <%= render partial: 'comments/form_ajax', comment: @comment %>
    </div>
  </div>
</div>