<div class="row mb-3">
   <div class="col-lg-12 card p-3">
      <div class="w-100 d-flex justify-content-between">
         <h3 class="text-primary">Group Information</h3>
         <a href="javascript:void(0);" class="text-black fw-semibold collapsible-trigger" data-collapse="group_info">
         <i class="bi bi-sort-up rotate-180" style="font-size: 18px;"></i>
         </a>
      </div>
        <div class="w-100 collapsible" id="group_info">
            <div class="row mb-1">
              <div class="col-lg-6">
                  <label>Group Name as reported to IRS</label>
                  <p class="text-black fw-semibold"><%= @enrollment_group&.group_name %></p>
              </div>
              <div class="col-lg-6">
                  <label>Taxonomy Code</label>
                  <p class="text-black fw-semibold"><%= @enrollment_group&.group_code %></p>
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-lg-6">
                  <label>Platform</label>
                  <p class="text-black fw-semibold"><%= @enrollment_group&.flatform&.titleize %></p>
              </div>
            </div>
            <h3 class="text-primary">Office Address</h3>
            <div class="row mb-1">
              <div class="col-lg-6">
                  <label>Address</label>
                  <p class="text-black fw-semibold"><%= @enrollment_group&.office_address %></p>
              </div>
              <div class="col-lg-6">
                  <label>City</label>
                  <p class="text-black fw-semibold"><%= @enrollment_group&.city %></p>
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-lg-6">
                  <label>State</label>
                  <p class="text-black fw-semibold"><%= @enrollment_group&.state %></p>
              </div>
              <div class="col-lg-6">
                  <label>Zip Code</label>
                  <p class="text-black fw-semibold"><%= @enrollment_group&.zip_code %></p>
              </div>
            </div>
            <h3 class="text-primary">Pay To/Billing Address (where checks are mailed)</h3>
            <div class="row mb-1">
              <div class="col-lg-6">
                  <label>Address or P.O. Box</label>
                  <p class="text-black fw-semibold"><%= @enrollment_group&.po_box %></p>
              </div>
              <div class="col-lg-6">
                  <label>City</label>
                  <p class="text-black fw-semibold"><%= @enrollment_group&.po_box_city %></p>
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-lg-6">
                  <label>State</label>
                  <p class="text-black fw-semibold"><%= @enrollment_group&.po_box_state %></p>
              </div>
              <div class="col-lg-6">
                  <label>Zip Code</label>
                  <p class="text-black fw-semibold"><%= @enrollment_group&.po_box_zip_code %></p>
              </div>
            </div>
            <h3 class="text-primary">Remittance Address (if different from billing address)</h3>
            <div class="row mb-1">
              <div class="col-lg-6">
                  <label>Address or P.O. Box</label>
                  <p class="text-black fw-semibold"><%= @enrollment_group&.ca_po_box_address %></p>
              </div>
              <div class="col-lg-6">
                  <label>City</label>
                  <p class="text-black fw-semibold"><%= @enrollment_group&.ca_po_box_city %></p>
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-lg-6">
                  <label>State</label>
                  <p class="text-black fw-semibold"><%= @enrollment_group&.ca_po_box_state %></p>
              </div>
              <div class="col-lg-6">
                  <label>Zip Code</label>
                  <p class="text-black fw-semibold"><%= @enrollment_group&.ca_po_box_zip_code %></p>
              </div>
            </div>
        </div>
    </div>
  </div>