<div class="row bg-alt-grey g-0 comment-field rounded py-3 mb-2" data-id="<%= comment.id %>">
	<div class="col-1 col-lg-2">
		<div class="avatar-circle" style="text-align: center">
		<img class="avatar-img" src="../dist/assets/img/400x400/img1.jpg" alt="Image Description" style="width: 30px;">
		</div>
	</div>
	<div class="col-1 col-lg-8">
		<div class="row">
			<div class="col-lg-12 mb-2">
			 <p class="mb-0 text-black h5"><%= comment.user.full_name %><span class="h6 fw-light"><%= comment.user.user_role ? ", #{comment.user.user_role&.titleize}" : ''%></span></p>
				<p class="text-black h6 fw-light"><%= comment.created_at.strftime('%B %d, %Y')%></p>
			</div>
			<div class="col-lg-12">
				<p class="text-black h5"><%= comment.body %></p>
			</div>
		</div>
	</div>
	<div class="col-1 col-lg-2">
		<button type="button" class="btn remove-comment-fields w-10" data-model="comment" data-id="<%= comment.id %>" > <i class="bi bi-trash-fill button-trash-color "></i></button>
	</div>
</div>