<%= form_for @comment, url: comments_path, method: :post do |f|%>
  <div class="row mt-3 g-0">
    <div class="col-lg-12 px-2 position-relative">
      <div>
        <%= f.text_field :body, class: 'form-control py-1', style: 'border: solid 1px black;'%>
      <button class="btn btn-sm text-black position-absolute" style="top: -10%;right:0;">
        <i class="bi bi-cursor-fill"></i>
      </button>
      </div>
    </div>
  </div>
  <%= f.hidden_field :enrollment_provider_id %>
  <%= f.hidden_field :enroll_group_id %>
  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :provider_id %>
<% end %>
