
   <div class="row mb-3">
      <div class="col-xl-12 d-flex justify-content-between">
         <h2>
            <a href="<%= groups_enrollment_clients_path %>" class="d-flex gap-2 text-secondary">
            <i class="bi bi-arrow-left h3"></i>
            <span class="h3"><%= @enrollment_group&.group_name rescue 'Back' %></span>
            </a>
         </h2>
         <div>
           <a href="<%= enrollment_group_path(@enrollment_group)%>" class="btn btn-md border-0 <%= action_name == 'show' ? 'btn-primary fw-semibold text-white' : 'btn-secondary text-black bg-alt-grey'%>">Group Details</a>
           <a href="<%= enrollment_group_documents_path(@enrollment_group)%>" class="btn btn-md border-0 <%= action_name == 'documents' ? 'btn-primary fw-semibold text-white' : 'btn-secondary text-black bg-alt-grey'%>">Group Documents</a>
           <a href="<%= enrollment_group_locations_path(@enrollment_group)%>" class="btn btn-md border-0 <%= (action_name == 'index' && controller_name == 'locations') ? 'btn-primary fw-semibold text-white' : 'btn-secondary text-black bg-alt-grey'%>">Locations</a>
         </div>
      </div>
   </div>