<form>
<div class="row mb-3">
	<div class="col-lg-6">
		<select class="form-select" name="state_abbr">
	             <option value="">Employment Location*</option>
	               <% @states.each do |state|%>
	                <option value="<%= state.alpha_code %>"><%= state.name %> - <%= state.alpha_code %></option>
	               <% end %>
	       </select>
	</div>
	<div class="col-lg-6">
		<input type="texxt" name="" required placeholder="Practice/Employer Name"  class="form-control">
		<span class="d-flex">
			<input type="checkbox" name="">
			<small class="ms-2 fw-bold">No Longer in Business</small>
		</span>
	</div>
</div>
<div class="row mb-3">
	<div class="col-lg-6">
		<input type="text" name="" class="form-control" placeholder="Contact First Name">
	</div>
	<div class="col-lg-6">
		<input type="text" name="" class="form-control" placeholder="Contact Last Name">
	</div>
</div>
<div class="row mb-3">
	<div class="col-lg-6">
		<input type="text" name="" class="form-control" placeholder="Address Line 1*" required>
	</div>
	<div class="col-lg-6">
		<input type="text" name="" class="form-control" placeholder="Address Line 2">
	</div>
</div>
<div class="row mb-3">
	<div class="col-lg-6">
		<input type="text" name="" class="form-control" placeholder="City*" required>
	</div>
	<div class="col-lg-6">
		<input type="text" name="" class="form-control" placeholder="Zip Code*">
	</div>
</div>
<div class="row mb-3">
	<div class="col-lg-6">
		<div class="row">
			<div class="col-lg-8">
				<input type="" class="form-control" name="" placeholder="Telephone Number*" required>
			</div>
			<div class="col-lg-4">
				<input type="" class="form-control" name="" placeholder="Ext">
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<input type="" class="form-control" name="" placeholder="Fax Number*" required>
	</div>
</div>
<div class="row mb-3">
	<div class="col-lg-6">
		<input type="email" name="" class="form-control" placeholder="Email*" required>
	</div>
	<div class="col-lg-6">
		<input type="text" name="" class="form-control" placeholder="Name of Malpractice Carrier During Employment">
	</div>
</div>
<div class="row mb-3">
	<div class="col-lg-6">
		<select class="form-select" required>
			<option>Contact Method</option>
		<option value="Email">Email</option>
		<option value="Fax">Fax</option>
		<option value="Mail">Mail</option>
		</select>
		<!-- <input type="email" name="" class="form-control" placeholder="Email*" required> -->
	</div>
	<div class="col-lg-6">
		<input type="text" name="" class="form-control" placeholder="Position Held">
	</div>
</div>
<div class="row mb-3">
	<div class="col-lg-6">
		<input type="date" name="" class="form-control" title="Start Date" required>
	</div>
	<div class="col-lg-6">
		<input type="date" name="" class="form-control" title="End Date" required>
		<span class="d-flex">
			<input type="checkbox" name="">
			<small class="fw-bold ms-2">Present</small>
		</span>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
      <div class="d-flex justify-content-between my-3">
         <label class="form-label">Do/Did you have a collaboration agreement with a licensed physician?</label>
         <div class="d-flex me-4 gap-2">
            <span>
            <input type="radio" value="yes" name="collab">
            <span>YES</span>
            </span>
            <span>
            <input type="radio" value="no" name="collab">
            <span>NO</span>
            </span>
         </div>
      </div>
	</div>
	<div class="col-lg-12 d-none" id="collab_form">
		<div class="row card p-3">
			<div class="col-lg-12">
				<h4 class="fw-semibold text-secondary">Collaboration 1</h4>
			</div>
			<div class="row mb-3">
				<div class="col-lg-4">
					<input type="text" name="" class="form-control" required placeholder="First Name">
				</div>
				<div class="col-lg-2">
					<input type="text" name="" class="form-control" placeholder="Middle">
				</div>
				<div class="col-lg-4">
					<input type="text" name="" class="form-control" required placeholder="Last Name">
				</div>
				<div class="col-lg-2">
					<select class="form-select">
						<option selected="selected" value=""></option>
						<option value="II">II</option>
						<option value="III">III</option>
						<option value="IV">IV</option>
						<option value="Jr.">Jr.</option>
						<option value="Sr.">Sr.</option>
					</select>
				</div>
			</div>
			<div class="row mb-3">
				<input type="text" class="form-control" name="" placeholder="Degree*" required>
			</div>
			<div class="row mb-3">
				<div class="col-lg-6">
				<select class="form-select" name="state_abbr">
			             <option value="">Physician Primary License State</option>
			               <% @states.each do |state|%>
			                <option value="<%= state.alpha_code %>"><%= state.name %> - <%= state.alpha_code %></option>
			               <% end %>
			       </select>
				</div>
				<div class="col-lg-6">
					<input type="text" class="form-control" name="" placeholder="Physician Primary License Number">
				</div>
			</div>
			<div class="row mb-3">
				<div class="col-lg-6">
					<input type="text" class="form-control" name="" placeholder="Medicare Number">
				</div>
				<div class="col-lg-6">
					<input type="text" class="form-control" name="" placeholder="NPI Number">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 d-flex justify-content-end px-0 my-3">
				<button class="btn btn-outline-secondary btn-sm">Add Another Collaborating Physician </button>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-12 mb-3 d-flex justify-content-end">
		<button class="btn btn-primary">Save This Record</button>
	</div>
</div>
</form>
<script>
	$('input[name=collab]').on('change',function(){
		($(this).val() == 'yes') ? $('#collab_form').removeClass('d-none') : $('#collab_form').addClass('d-none'); 
	});
</script>