<% bar_width = 100.to_f/steps.size.to_f  %>
<div class="d-flex justify-content-between gap-2" id="multi-progress-bar">
  <% steps.each do |step|%>
  <div style="width: <%=bar_width.to_i%>%" class="px-1">
    <div class="row d-flex align-items-center">
      <div class="col-12">
        <div class="progress-bg">
          <div style=" width: <%= @provider.send(step[3])  if step[3]%>%;" class="progress" id="<%= step[3]%>">
            
          </div>
        </div>
      </div>
      <div class="col-12 text-center">
        <small class="ms-2" id="<%= step[3]%>_text"><%= @provider.send(step[3]) %>%</small>
      </div>
    </div>
  </div>
  <% end %>
</div>
