
			<div class="sub-sidenav">
				<ul class="list-group">
						<li class="list-group-item <%= params[:page].nil? ? 'bg-primary fw-bold' : 'bg-medium-grey'%> border-0">
						<div class="d-flex justify-content-between"><a class="<%= !params[:page].present? ? 'text-white' : 'text-black'%>" href="<%= provider_source_path %>">GENERAL INFORMATION</a>
							<!-- i think icon info will disappear when a info is already filled out -->
						</div>
							<ul class="list-group my-3">
								<li class="list-group-item p-1"><a href="javascript:void(0);">NAME AND HOME ADDRESS</a></li>
								<li class="list-group-item p-1"><a href="javascript:void(0);">PERSONAL INFORMATION</a></li>
							</ul>
						</li>
						<li class="list-group-item bg-medium-grey border-0"><div class="d-flex justify-content-between"><a class="text-black" href="javascript:void(0);">PROFESSION IDS</a><i class="bi bi-info-circle-fill text-danger"></i></div></li>
						<li class="list-group-item bg-medium-grey border-0"><div class="d-flex justify-content-between"><a class="text-black" href="javascript:void(0);">HEALTH PLANS	</a><i class="bi bi-info-circle-fill text-danger"></i></div></li>
						<li class="list-group-item bg-medium-grey border-0"><div class="d-flex justify-content-between"><a class="text-black" href="javascript:void(0);">SPECIALTIES</a><i class="bi bi-info-circle-fill text-danger"></i></div></li>
						<li class="list-group-item bg-medium-grey border-0"><div class="d-flex justify-content-between"><a class="text-black" href="javascript:void(0);">EDUCATING AND TRAINING</a><i class="bi bi-info-circle-fill text-danger"></i></div></li>
						<li class="list-group-item bg-medium-grey border-0"><div class="d-flex justify-content-between"><a class="text-black" href="javascript:void(0);">HEALTHCARE FACILITIES AND AFFILIATIONS</a><i class="bi bi-info-circle-fill text-danger"></i></div></li>
						<li class="list-group-item bg-medium-grey border-0"><div class="d-flex justify-content-between"><a class="text-black" href="javascript:void(0);">PROFESSIONAL LIABILITY</a><i class="bi bi-info-circle-fill text-danger"></i></div></li>
						<li class="list-group-item bg-medium-grey border-0"><div class="d-flex justify-content-between"><a class="text-black" href="javascript:void(0);">WORK HISTORY</a><i class="bi bi-info-circle-fill text-danger"></i></div></li>
						<li class="list-group-item bg-medium-grey border-0"><div class="d-flex justify-content-between"><a class="text-black" href="javascript:void(0);">PRACTICE INFORMATION</a><i class="bi bi-info-circle-fill text-danger"></i></div></li>
						<li class="list-group-item bg-medium-grey border-0"><div class="d-flex justify-content-between"><a class="text-black" href="javascript:void(0);">DISCLOSURE</a><i class="bi bi-info-circle-fill text-danger"></i></div></li>
						<li class="list-group-item bg-medium-grey border-0"><div class="d-flex justify-content-between"><a class="text-black" href="javascript:void(0);">AUDIT</a><i class="bi bi-info-circle-fill text-danger"></i></div></li>
						<li class="list-group-item bg-medium-grey border-0"><div class="d-flex justify-content-between"><a class="text-black" href="javascript:void(0);">ATTESTATION</a><i class="bi bi-info-circle-fill text-danger"></i></div></li>
						<li class="list-group-item <%= params[:page] == 'attestation_signature' ? 'bg-primary fw-bold' : 'bg-medium-grey'%> border-0"><div class="d-flex justify-content-between %>" ><a class="<%= params[:page] == 'attestation_signature' ? 'text-white' : 'text-black'%>" href="<%= provider_source_path(page: 'attestation_signature')%>">ATTESTATION AND SIGNATURE</a><i class="bi bi-info-circle-fill text-danger"></i></div></li>
						<li class="list-group-item <%= params[:page] == 'reattest_application' ? 'bg-primary fw-bold' : 'bg-medium-grey'%> border-0"><div class="d-flex justify-content-between"><a class="<%= params[:page] == 'reattest_application' ? 'text-white' : 'text-black'%>" href="<%= provider_source_path(page: 'reattest_application')%>">ATTESTATION HISTORY</a><i class="bi bi-info-circle-fill text-danger"></i></div></li>
				</ul>
				</ul>
				</ul>
			</div>