<div class="row mb-3">
	<div class="col-lg-6">
		<label class="form-label">Education Type*</label>
  	<%= select_tag :education_types, options_for_select([['Select Option']] + @education_types.map { |education| [education.name, education.name] }), required: true, class: 'form-select border-dark', placeholder: 'Education Type', id:'train-education-type' %>
	</div>
	<div class="col-lg-6">
		<label class="form-label">Graduate/Professional School Location*</label>
		<%= select_tag :states, options_for_select([['Select Option', nil]] + @states.map { |state| [state.name, state.name] }), required: true, class: 'form-select border-dark', placeholder: 'Undergraduate School Location', id:'train-school-location' %>
	</div>
</div>
<div class="row mb-3">
	<div class="col-lg-12">
		<label class="form-label">Professional School Name*</label>
		<input type="text" class="form-control border-dark" name="tf-psn">
	</div>
</div>

<div class="row mb-3">
	<div class="col-lg-6">
		<label class="form-label">Address Line 1*</label>
		<input type="text" class="form-control border-dark" name="tf-address-line1">
	</div>
	<div class="col-lg-6">
		<label class="form-label">Address Line 2</label>
		<input type="text" class="form-control border-dark" name="tf-address-line2">
	</div>
</div>

<div class="row mb-3">
	<div class="col-lg-6">
		<label class="form-label">City*</label>
		<input type="text" class="form-control border-dark" name="tf-city">
	</div>
	<div class="col-lg-6">
		<label class="form-label">Zip Code*</label>
		<input type="text" class="form-control border-dark" name="tf-zipcode">
	</div>
</div>

<div class="row mb-3">
	<div class="col-lg-6">
		<div class="row">
			<div class="col-lg-8">
				<label class="form-label">Telephone Number*</label>
				<input type="text" class="form-control border-dark" name="tf-telephone-number">
			</div>
			<div class="col-lg-4">
				<label class="form-label">Ext</label>
				<input type="text" class="form-control border-dark" name="tf-ext">
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<label class="form-label">Fax Number</label>
		<input type="text" class="form-control border-dark" name="tf-fax-number">
	</div>
</div>
<div class="row mb-3">
	<div class="col-lg-5">
		<label class="form-label">Email</label>
		<input type="email"  class="form-control border-dark" name="tf-email">
	</div>
</div>

<div class="row mb-3">
	<div class="col-lg-12">
		<label class="form-label">Type of Training*</label>
	<small>If your training program was rotating or transitional, please create a separate training record for each rotation including the specialty or department and the time associated with each. </small>
	<%= select_tag :training_types, options_for_select([['Select Option']] + @training_types.map { |training| [training.name, training.name] }), required: true, class: 'form-select border-dark', placeholder: 'Education Type', id: 'training-type' %>
	</div>
	<div class="col-lg-12">
		<label class="form-label">Specialty</label>
		<%= select_tag :specialties, options_for_select([['Select Option']] + @specialties.map { |specialty| [specialty.fch, specialty.fch] }), required: true, class: 'form-select border-dark', placeholder: 'Specialty', id: 'specialty' %>
	</div>
</div>
<div class="row mb-3">
	<div class="col-lg-6">
		<label class="form-label">Program Director First Name</label>
		<input type="text" class="form-control border-dark" name="tf-pd-first-name">
	</div>
	<div class="col-lg-6">
		<label class="form-label">Program Director Last Name</label>
		<input type="text" class="form-control border-dark" name="tf-pd-last-name">
	</div>
</div>
<div class="row mb-3">
	<div class="col-lg-12">
		<label class="form-label">Program Director Degree</label>
		<input type="text" name="tf-pf-degree" class="form-control border-dark">
	</div>
</div>
<div class="row mb-3">
	<div class="col-lg-12">
		<label class="form-label">Program Director Email Address</label>
		<input type="email" name="tf-pd-email-address" class="form-control border-dark">
	</div>
</div>
<div class="row mb-3">
	<div class="col-lg-6">
		<label class="form-label">Start Date</label>
		<input type="date" class="form-control border-dark" name="tf-start-date">
	</div>
	<div class="col-lg-6">
		<label class="form-label">End(Graduation) Date*</label>
		<input type="date" class="form-control border-dark" name="tf-end-date">
	</div>
</div>
	<div class="row mb-3">
			<div class="d-flex align-items-center my-3">
        <button type="button" class="btn btn-xs btn-toggle has-to-show to-change-value" data-tochange="" data-toshow="train_reason_info" data-toggle="button" aria-pressed="false" autocomplete="off">
          <div class="handle"></div>
        </button>
          <small class="ms-2 fw-semibold text-dark-grey">Did you not complete your training at this institution?</small>
      </div>     
						<div class="d-none" id="train_reason_info">
              <%= render "provider_source_components/training_reason_form"%>
            </div>
  </div>

  
<div class="row mb-3">
	<div class="col-lg-12">
		<label class="form-label">University Affiliated Program Location</label>
		<%= select_tag :states, options_for_select([['Select Option', nil]] + @states.map { |state| [state.name, state.name] }), required: true, class: 'form-select border-dark', placeholder: 'University Affiliate School Location', id:'train-affiliate-location' %>
	</div>
</div>
<div class="row mb-3">
	<div class="col-lg-6">
		<label class="form-label">Address Line 1*</label>
		<input type="text" class="form-control border-dark" name="tf-address-line1">
	</div>
	<div class="col-lg-6">
		<label class="form-label">Address Line 2</label>
		<input type="text" class="form-control border-dark" name="tf-address-line2">
	</div>
</div>

<div class="row mb-3">
	<div class="col-lg-6">
		<label class="form-label">City*</label>
		<input type="text" class="form-control border-dark" name="tf-city">
	</div>
	<div class="col-lg-6">
		<label class="form-label">Zip Code*</label>
		<input type="text" class="form-control border-dark" name="tf-zipcode">
	</div>
</div>

<div class="row mb-3">
	<div class="col-lg-6">
		<div class="row">
			<div class="col-lg-8">
				<label class="form-label">Telephone Number*</label>
				<input type="text" class="form-control border-dark" name="tf-telephone-number">
			</div>
			<div class="col-lg-4">
				<label class="form-label">Ext</label>
				<input type="text" class="form-control border-dark" name="tf-ext">
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<label class="form-label">Fax Number</label>
		<input type="text" class="form-control border-dark" name="tf-fax-number">
	</div>
</div>
<%# <!-- <div class="row">
	<div class="col-lg-12 mb-3 d-flex justify-content-end">
		  	<button class="btn btn-primary">Save This Record</button>
	</div>
</div> --> %>

<script>
$(document).ready(function() {
  // Retrieve the saved value from Local Storage, if it exists
  var savedValue = localStorage.getItem('trainEducationType');
  if (savedValue) {
    $('#train-education-type').val(savedValue); // Set the dropdown value
  }

  // Store the selected value in Local Storage when the dropdown value changes
  $('#train-education-type').on('change', function() {
    var selectedValue = $(this).val();
    localStorage.setItem('trainEducationType', selectedValue);
  });
});

</script>

<script>
$(document).ready(function() {
  // Retrieve the saved value from Local Storage, if it exists
  var savedValue = localStorage.getItem('trainLocation');
  if (savedValue) {
    $('#train-school-location').val(savedValue); // Set the dropdown value
  }

  // Store the selected value in Local Storage when the dropdown value changes
  $('#train-school-location').on('change', function() {
    var selectedValue = $(this).val();
    localStorage.setItem('trainLocation', selectedValue);
  });
});

</script>

<script>
$(document).ready(function() {
  // Retrieve the saved value from Local Storage, if it exists
  var savedValue = localStorage.getItem('trainType');
  if (savedValue) {
    $('#training-type').val(savedValue); // Set the dropdown value
  }

  // Store the selected value in Local Storage when the dropdown value changes
  $('#training-type').on('change', function() {
    var selectedValue = $(this).val();
    localStorage.setItem('trainType', selectedValue);
  });
});

</script>

<script>
$(document).ready(function() {
  // Retrieve the saved value from Local Storage, if it exists
  var savedValue = localStorage.getItem('trainSpecialty');
  if (savedValue) {
    $('#specialty').val(savedValue); // Set the dropdown value
  }

  // Store the selected value in Local Storage when the dropdown value changes
  $('#specialty').on('change', function() {
    var selectedValue = $(this).val();
    localStorage.setItem('trainSpecialty', selectedValue);
  });
});

</script>

<script>
$(document).ready(function() {
  // Retrieve the saved value from Local Storage, if it exists
  var savedValue = localStorage.getItem('trainAffiliateLocation');
  if (savedValue) {
    $('#train-affiliate-location').val(savedValue); // Set the dropdown value
  }

  // Store the selected value in Local Storage when the dropdown value changes
  $('#train-affiliate-location').on('change', function() {
    var selectedValue = $(this).val();
    localStorage.setItem('trainAffiliateLocation', selectedValue);
  });
});

</script>