<div class="row mb-3">
	<div class="col-lg-6">
		<%= HtmlUtils::dropdown name: 'tf-location', label: 'Training Program Location <span class="text-danger"> *</span>' %>
	</div>
</div>
<div class="row mb-3">
	<div class="col-lg-12">
		<label class="text-dark-grey">Training Program Name <span class="text-danger">*</span></label>
		<input type="text" class="form-control border-dark" name="tf-psn">
	</div>
</div>

<div class="row mb-3">
	<div class="col-lg-6">
		<label class="text-dark-grey">Address Line 1 <span class="text-danger">*</span></label>
		<input type="text" class="form-control border-dark" name="tf-address-line1">
	</div>
	<div class="col-lg-6">
		<label class="text-dark-grey">Address Line 2</label>
		<input type="text" class="form-control border-dark" name="tf-address-line2">
	</div>
</div>

<div class="row mb-3">
	<div class="col-lg-6">
		<label class="text-dark-grey">City <span class="text-danger">*</span></label>
		<input type="text" class="form-control border-dark" name="tf-city">
	</div>
	<div class="col-lg-6">
		<label class="text-dark-grey">Zip Code <span class="text-danger">*</span></label>
		<input type="text" class="form-control border-dark" name="tf-zipcode">
	</div>
</div>

<div class="row mb-3">
	<div class="col-lg-6">
		<div class="row">
			<div class="col-lg-8">
				<label class="text-dark-grey">Telephone Number</label>
				<input type="text" class="form-control border-dark" name="tf-telephone-number">
			</div>
			<div class="col-lg-4">
				<label class="text-dark-grey">Ext</label>
				<input type="text" class="form-control border-dark" name="tf-ext">
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<label class="text-dark-grey">Fax Number</label>
		<input type="text" class="form-control border-dark" name="tf-fax-number">
	</div>
</div>
<div class="row mb-3">
	<div class="col-lg-5">
		<label class="text-dark-grey">Email</label>
		<input type="email"  class="form-control border-dark" name="tf-email">
	</div>
</div>

	 <div class="row mb-3">
    <div class="col-lg-12">
			<label class="text-dark-grey">Type of Training <span class="text-danger">*</span></label>
			<small>If your training program was rotating or transitional, please create a separate training record for each rotation including the specialty or department and the time associated with each. </small>
			<%= HtmlUtils::dropdown name: 'tr_training_types', label: '' %>
		</div>
	</div>
	<div class="row mb-3">
    <div class="col-lg-12">
			<%= HtmlUtils::dropdown name: 'tr_specialties', label: 'Specialty <span class="text-danger"> *</span>' %>
		</div>
	</div>

<div class="row mb-3">
	<div class="col-lg-6">
		<label class="text-dark-grey">Program Director First Name</label>
		<input type="text" class="form-control border-dark" name="tf-pd-first-name">
	</div>
	<div class="col-lg-6">
		<label class="text-dark-grey">Program Director Last Name</label>
		<input type="text" class="form-control border-dark" name="tf-pd-last-name">
	</div>
</div>
<div class="row mb-3">
	<div class="col-lg-12">
		<label class="text-dark-grey">Program Director Degree</label>
		<input type="text" name="tf-pf-degree" class="form-control border-dark">
	</div>
</div>
<div class="row mb-3">
	<div class="col-lg-12">
		<label class="text-dark-grey">Program Director Email Address</label>
		<input type="email" name="tf-pd-email-address" class="form-control border-dark">
	</div>
</div>
<div class="row mb-3">
	<div class="col-lg-6">
		<label class="text-dark-grey">Start Date <span class="text-danger">*</span></label>
		<input type="date" class="form-control border-dark" name="tf-start-date">
	</div>
	<div class="col-lg-6">
		<label class="text-dark-grey">End(Graduation) Date <span class="text-danger">*</span></label>
		<input type="date" class="form-control border-dark" name="tf-end-date">
	</div>
</div>

	 <div class="row mb-3">
    <div class="d-flex align-items-center my-3">
      <%= HtmlUtils.radio_toggle name: 'incomplete_training',
    		label: 'Did you not complete your training at this institution? <span class="text-danger"> *</span>',
        toshow: 'training_reason_form'
      %>
      <input type="hidden" id="incomplete_training" name="incomplete_training" value="no">
    </div>
      <div id="training_reason_form" class="d-none">
        <%= render partial: 'provider_source_components/training_reason_form'%>
      </div>
	</div>
<div class="row mb-3">
	<div class="col-lg-6">
		<label class="text-dark-grey">University Affiliated Program</label>
		<input type="text" class="form-control border-dark" name="tfu-affiliated-program">
	</div>
	<div class="col-lg-6 my-1">
		<%= HtmlUtils::dropdown name: 'tfu_affiliated_location', label: 'University Affiliated Program Location' %>
	</div>
</div>
<div class="row mb-3">
	<div class="col-lg-6">
		<label class="text-dark-grey">Address Line 1</label>
		<input type="text" class="form-control border-dark" name="tfu-address-line1">
	</div>
	<div class="col-lg-6">
		<label class="text-dark-grey"">Address Line 2</label>
		<input type="text" class="form-control border-dark" name="tfu-address-line2">
	</div>
</div>

<div class="row mb-3">
	<div class="col-lg-6">
		<label class="text-dark-grey">City</label>
		<input type="text" class="form-control border-dark" name="tfu-city">
	</div>
	<div class="col-lg-6">
		<label class="text-dark-grey">Zip Code</label>
		<input type="text" class="form-control border-dark" name="tfu-zipcode">
	</div>
</div>

<div class="row mb-3">
	<div class="col-lg-6">
		<div class="row">
			<div class="col-lg-8">
				<label class="text-dark-grey">Telephone Number</label>
				<input type="text" class="form-control border-dark" name="tfu-telephone-number">
			</div>
			<div class="col-lg-4">
				<label class="text-dark-grey">Ext</label>
				<input type="text" class="form-control border-dark" name="tfu-ext">
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<label class="text-dark-grey">Fax Number</label>
		<input type="text" class="form-control border-dark" name="tfu-fax-number">
	</div>
</div>

