<div class="container mt-4">
  <div class="row justify-content-left">
    <div class="col-lg-8 col-md-10">
      <div class="card border-dark shadow-sm p-4">
        <%= form_with model: @licensure, url: provider_sources_licensures_path, local: true do |f| %>
          <div class="row mb-3">
            <div class="col-lg-12">
              <%= f.label :licensure_state, "Licensure State", class: "text-dark-grey" %>
              <%= f.text_field :licensure_state, required: true, class: "form-control border-dark", placeholder: "License Number" %>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-lg-12">
              <%= f.label :license_type, "License Type", class: "text-dark-grey" %>
              <%= f.select :license_type, options_for_select([
                ['Licensed Medical Esthetician', 'licensed_medical_esthetician'],
                ['Medical Assistant', 'medical_assistant'],
                ['Medical Doctor (MD)', 'medical_doctor'],
                ['Registered Medical Assistant', 'registered_medical_assistant']
              ]), { prompt: 'Select License Type' }, class: "form-control border-dark" %>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-lg-6">
              <%= f.label :license_number, "License Number", class: "text-dark-grey" %>
              <%= f.text_field :license_number, required: true, class: "form-control border-dark", placeholder: "License Number" %>
            </div>
            <div class="col-lg-6">
              <%= f.label :license_status, "License Status", class: "text-dark-grey" %>
              <%= f.text_field :license_status, required: true, class: "form-control border-dark" %>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-lg-6">
              <%= f.label :licensure_issue_date, "Issue Date", class: "text-dark-grey" %>
              <%= f.date_field :licensure_issue_date, required: true, class: "form-control border-dark" %>
            </div>
            <div class="col-lg-6">
              <%= f.label :licensure_expiration_date, "Expiration Date", class: "text-dark-grey" %>
              <%= f.date_field :licensure_expiration_date, required: true, class: "form-control border-dark licensure-expire" %>
              <span class="d-flex gap-2">
                <%= f.check_box :licensure_not_expire, id: "licensure-not-expire" %>
                <small>Does not expire</small>
              </span>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-lg-12">
              <%= f.label :licensure_practice_state, "Are you currently practicing in this state?", class: "form-label" %>
              <div class="d-flex gap-2">
                <%= f.radio_button :licensure_practice_state, "yes" %> YES
                <%= f.radio_button :licensure_practice_state, "no" %> NO
              </div>
            </div>
          </div>

            <div class="row mb-3">
              <div class="col-lg-12">
                <%= f.label :licensure_primary_license, "Is this your primary license?", class: "form-label" %>
                <div class="d-flex gap-2">
                  <%= f.radio_button :licensure_primary_license, "yes"%> YES
                  <%= f.radio_button :licensure_primary_license, "no" %> NO
                </div>
              </div>
            </div>

            <div class="row mb-3">
            <div class="col-lg-12">
              <%= f.label :licensure_require_supervision, "Does this license require supervision?", class: "form-label" %>
              <div class="d-flex gap-2">
                <%= f.radio_button :licensure_require_supervision, "yes" %> YES
                <%= f.radio_button :licensure_require_supervision, "no" %> NO
              </div>
            </div>
          </div>

          <div class="row mt-3 ">
            <div class="col-lg-12">
              <h5>Name of Sponsor</h5>
            </div>
            <div class="col-lg-4">
              <%= f.label :licensure_sponsor_fname, "First Name", class: "text-dark-grey" %>
              <%= f.text_field :licensure_sponsor_fname, class: "form-control border-dark" %>
            </div>
            <div class="col-lg-2">
              <%= f.label :licensure_sponsor_mname, "Middle Name", class: "text-dark-grey" %>
              <%= f.text_field :licensure_sponsor_mname, class: "form-control border-dark" %>
            </div>
            <div class="col-lg-4">
              <%= f.label :licensure_sponsor_lname, "Last Name", class: "text-dark-grey" %>
              <%= f.text_field :licensure_sponsor_lname, class: "form-control border-dark" %>
            </div>
            <div class="col-lg-2">
              <%= f.label :licensure_sponsor_suffix, "Suffix", class: "text-dark-grey" %>
              <%= f.select :licensure_sponsor_suffix, ["", "Jr.", "Sr.", "III.", "IV."], {}, class: "form-select border-dark" %>
            </div>
            <div class="col-lg-12 mt-3">
              <%= f.label :licensure_sponsor_degree, "Degree", class: "text-dark-grey" %>
              <%= f.text_field :licensure_sponsor_degree, class: "form-control border-dark" %>
            </div>
          </div>

          <div class="mt-3">
            <%= f.submit "Save Licensure", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
