<nav>
        <div class="container">
            <div class="d-flex justify-content-end gap-2">
                <a href="<%= office_managers_path %>" class="btn btn-nav  <%= params[:page].nil? ? 'btn-primary active' : 'bg-alt-grey text-black' %>">Manage Providers</a>
                <a href="<%= office_managers_path(page: 'manage_practice') %>" class="btn btn-nav <%= params[:page] == 'manage_practice' ? 'btn-primary active' : 'bg-alt-grey text-black' %> ">Manage Practice</a>
                <a href="<%= office_managers_path(page: 'office_manager_admin') %>" class="btn btn-nav <%= (params[:page] == 'office_manager_admin' or params[:page] == 'add_new_office_manager')  ? 'btn-primary active' : 'bg-alt-grey text-black' %>">Office Manager Admin</a>
            </div>
        </div>
</nav>