
    <%= render "top_button_navs"%>

    <div class="content">
        <div class="container">
            <!-- Cards -->
            <div class="row">
                <div class="col-xl-3">
                    <div class="card provider-card">
                        <div class="card-body">
                            <span class="card-head">
                                <i class="bx bx-group"></i>
                                All Provider
                            </span>
                            <div class="card-counter">
                                <h3 class="text-white"><%= ProviderSource.count %></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Filter Dropdown -->
            <div class="filter-wpr">
                <div class="row mb-3">
                    <div class="col-xl-5">
                         <label for="filter-select">Location</label>
                        <div class="form-wrp">
                            <select name="" id="filter-select" class="form-select">
                                <option value="All Location">All Location</option>
                                <option value="PP of Los Angeles">PP of Los Angeles</option>
                            </select>
                            <button class="btn btn-danger btn-xs" id="remove-location" data-bs-toggle="modal" data-bs-target="#removeLocationModal">
                                <i class="bx bx-trash"></i>
                                Remove Location
                            </button>
                        </div>
                    </div>
                    <div class="col-xl-7 button-wpr">
                        <button class="btn btn-primary btn-xs" id="add-provider" data-bs-toggle="modal" data-bs-target="#addProviderModal">
                            <i class='bx bx-plus' ></i>
                            Add Provider
                        </button>
                        <button class="btn btn-primary btn-xs" data-bs-toggle="modal" data-bs-target="#sendInviteModal">
                            <i class='bx bxs-paper-plane' ></i>
                            Send Invites
                        </button>
                        <button id="btn-bulk-remove-providers" class="btn btn-danger btn-xs delete-button" data-confirm="Are you sure?">
                            <i class="bx bx-trash"></i>
                            Remove Provider
                        </button>
                    </div>
                </div>
                <div class="row result-controls mb-4">
                    <div class="col-lg-12">
                        <div class="d-flex justify-content-between bg-medium-grey rounded align-items-center py-3">
                           <div class="page_info ms-3 text-black">
                            <%= page_entries_info @providers, entry_name: 'Providers' %>
                           </div>
                           <% if params[:per_page ].present? %>
                               <%= will_paginate @providers, :params =>  {per_page: params[:page] }, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
                           <% else %>
                               <%= will_paginate @providers, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
                           <% end %>
                        </div>
                    </div>
                </div>
            </div>



            <!-- Cards -->
            <div class="card-wpr">
             <div class="row">
                <% @providers.each do |provider| %>
                <% next unless provider.full_name.present? || provider.email_address.present?%>
                <div class="col-xl-3 mb-2">
                    <div class="border p-4 rounded shadow h-100">
                       <div class="d-flex justify-content-between">
                            <h6><%= provider.full_name %></h6>
                            <input class="form-check-input border-dark" type="checkbox" value="<%= provider.id %>">
                       </div>
                       <hr style="margin-top: 8px; margin-bottom: 8px;">
                       <div class="row">
                         <div class="col-xl-6">
                            <h6>Attest Date:</h6>
                         </div>
                         <div class="col-xl-6">
                            <p></p>
                         </div>
                       </div>
                       <div class="row">
                        <div class="col-xl-6">
                            <h6>Degree:</h6>
                        </div>
                        <div class="col-xl-6">
                            <p><%= provider.degree %></p>
                        </div>
                       </div>
                     <div class="row">
                        <div class="col-xl-6">
                            <h6>Last Invite Sent:</h6>
                        </div>
                        <div class="col-xl-6">
                            <p><%= provider&.invitation_sent_at&.strftime("%Y-%m-%d") %></p>
                        </div>
                       </div>
                       <div class="row">
                        <div class="col-xl-6">
                            <h6>Sent invite count:</h6>
                        </div>
                        <div class="col-xl-6">
                            <p><%= provider.invitation_count  %></p>
                        </div>
                       </div>
                       <div class="row mt-4">
                        <div class="col-lg-12">

                            <% if provider.user.present? && provider.user.invitation_accepted? %>
                                <%= link_to 'Manage Application', manage_applications_office_manager_path(provider), class: 'btn btn-manage btn-primary' %>
                            <% else %>
                            <!-- <button class="btn btn-manage btn-purple mt-2" data-bs-toggle="modal" data-bs-target="#sendSingleInviteModal">
                                Send Invite
                            </button> -->
                                <%= link_to 'Send Invite', 'javascript::void(0);', class: 'btn btn-manage btn-purple mt-2', onclick: "sendInvite(this)", data: { providerid: provider.id, emailaddress: provider.email_address  } %>
                            <% end%>

                            <%= button_to 'Remove', remove_provider_office_manager_path(provider), class: 'btn btn-manage btn-danger mt-2 delete-button', data: {confirm: 'Are you sure?'} %>
                        </div>
                       </div>
                    </div>
                </div>





                <% end %>
             </div>
            </div>
            <div class="row result-controls mb-4">
                <div class="col-lg-12">
                    <div class="d-flex justify-content-between bg-medium-grey rounded align-items-center py-3">
                       <div class="page_info ms-3 text-black">
                        <%= page_entries_info @providers, entry_name: 'Providers' %>
                       </div>
                       <% if params[:per_page ].present? %>
                           <%= will_paginate @providers, :params =>  {per_page: params[:page] }, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
                       <% else %>
                           <%= will_paginate @providers, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
                       <% end %>
                    </div>
                </div>
            </div>
            <hr>


            <!-- Send Invite Modal -->
            <div class="modal fade" id="sendInviteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="">
                                <div class="modal-title">
                                    <h1 class="mb-2">Send Email Invitation</h1>
                                    <!-- <p>Providers: 17 selected</p> -->
                                </div>
                                <div class="form-row row">
                                    <!-- <div class="col-xl-6">
                                        <label for="">Sender Name *</label>
                                        <input type="text" name="sender_name" class="form-control" placeholder="">
                                    </div> > -->
                                    <div class="col-xl-12">
                                        <label for="">Email To *</label>
                                        <input type="email" name="email_to" class="form-control" placeholder="" readonly>
                                    </div>
                                </div>
                                <div class="form-row row">
                                   <div class="col-xl-12">
                                        <label for="">Subject *</label>
                                        <input type="text" name="subject" class="form-control" placeholder="">
                                    </div>
                                    <div class="col-xl-12">
                                        <label for="">Email CC</label>
                                        <input type="text" name="email_cc" class="form-control" placeholder="">
                                    </div>
                                </div>
                                <div class="form-row row">
                                    <div class="col-xl-12">
                                        <label for="">Message *</label>
                                        <textarea name="message" id="" class="form-control" cols="30" rows="5"></textarea>
                                    </div>
                                </div>
                               <h6 class="note-heading mt-4">Invite link which will be added by the system</h6>
                                <p class="note">You are invited to connect to Office Manager account on (link of the website). To agree to designate him/her as your office manager, please click the link. Please do not close your browser until the page completely loads, which may take some time. If you do not wish to accept the invitation, please disregard this message. <a href="">[Click to open link]</a> </p>
                                <div class="form-row mt-3">
                                    <button class="btn btn-manage btn-primary" onclick="sendInvitation()">Send</button>
                                    <button class="btn btn-card-remove fw-bold text-black" data-bs-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Send Single Invite Modal -->
            <div class="modal fade " id="sendSingleInviteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="content">
                                <div class="modal-title">
                                    <h6 class="">Send Email Invitation</h6>
                                </div>
                                <div class="form-row row">
                                    <!-- <div class="col-xl-6">
                                        <label for="">Sender Name</label>
                                        <input type="text" class="form-control" placeholder="">
                                    </div> -->
                                    <div class="col-xl-12">
                                        <label for="">Email To *</label>
                                        <input type="text" name="sim_email_to" class="form-control" placeholder="" readonly required>
                                    </div>
                                </div>
                                <div class="form-row row">
                                    <div class="col-xl-12">
                                        <label for="">Subject *</label>
                                        <input type="text" name="sim_subject" class="form-control" placeholder="" required>
                                    </div>
                                    <div class="col-xl-12">
                                        <label for="">Email CC</label>
                                        <input type="text" name="sim_email_cc" class="form-control" placeholder="">
                                    </div>
                                </div>
                                <div class="form-row row">
                                    <div class="col-xl-12">
                                        <label for="">Message *</label>
                                        <textarea name="sim_message" id="" class="form-control" required cols="30" rows="12"><%= "You are invited to connect to Office Manager account on (link of the website).\n\nTo agree to designate him/her as your office manager, please click the link. \n\nPlease do not close your browser until the page completely loads, which may take some time. \n\nIf you do not wish to accept the invitation, please disregard this message.".html_safe %>
                                        </textarea>
                                    </div>
                                </div>
                                <!-- <h6 class="note-heading mt-4">Invite link which will be added by the system</h6>
                                <p class="note">You are invited to connect to Office Manager account on (link of the website). To agree to designate him/her as your office manager, please click the link. Please do not close your browser until the page completely loads, which may take some time. If you do not wish to accept the invitation, please disregard this message. <a href="">[Click to open link]</a> </p> -->
                                <div class="form-row mt-3">
                                    <button id="btnSendSingleInvitation" class="btn btn-manage btn-primary" onclick="sendSingleInvitationNow(this)" data-providerid="">Send</button>
                                    <button class="btn btn-card-remove fw-bold text-black" data-bs-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Remove Location Modal -->
            <div class="modal fade" id="removeLocationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="content">
                                <h6 class="remove-heading">"PP of Los Angeles"</h6>
                                <p class="remove-note">Are you sure you want to delete?</p>
                                <div class="form-row mt-3">
                                    <button class="btn btn-sm btn-danger w-100 text-center">Yes</button>
                                    <button class="btn btn-card-remove fw-bold text-black" data-bs-dismiss="modal">No</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Add Provider Modal -->
            <div class="modal fade" id="addProviderModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="content">
                                <div class="modal-title">
                                    <h6 class="">Add New Provider</h6>
                                    <button class="btn btn-cancel" data-bs-dismiss="modal">Cancel</button>
                                </div>
                                <div class="form-row row">
                                    <div class="col-xl-4">
                                        <label for="">First Name</label>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                    <div class="col-xl-4">
                                        <label for="">Middle Name</label>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                    <div class="col-xl-4">
                                        <label for="">Last Name</label>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                </div>
                                <div class="form-row row">
                                    <div class="col-xl-3">
                                        <label for="">Date of Birth</label>
                                        <input type="date" class="form-control" placeholder="">
                                    </div>
                                    <div class="col-xl-5">
                                        <label for="">Email</label>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                    <div class="col-xl-4">
                                        <label for="">SSN</label>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                </div>
                                <div class="add-note mt-4">
                                    <h6>Note:</h6>
                                    <ul>
                                        <li>Enter required fields and click "Search Provider" button.</li>
                                        <li>If the provider is located, click "Add to Roster". An invitation will be emailed to the provider.</li>
                                        <li>When the provider accepts the invitation, the office manager will be able to manage the practitioner.</li>
                                        <li>If the provider is not located, click "Add Provider" in the search box. This will generate an email to the email address provided.</li>
                                        <li>The provider will receive an email providing the opportunity to link the provider's account with the office manager or to create a new provider account.</li>
                                    </ul>
                                </div>
                                <div class="row result-controls mt-3">
                                    <div class="col-xl-6 filter-result">
                                        <h6 class="">Search result: 2 existing providers</h6>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="table-controls">
                                            <button class="btn btn-sm btn-primary">
                                                <i class="bx bx-search"></i>
                                                Search Provider
                                            </button>
                                            <button class="btn btn-sm btn-primary">
                                                <i class='bx bx-plus' ></i>
                                                Add Provider
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="dark">
                                <div class="content">
                                    <div class="modal-title">
                                        <h6 class="text-white">Add Existing Provider to Roster</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="content">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="text-white">ID</th>
                                            <th scope="col" class="text-white">First Name</th>
                                            <th scope="col" class="text-white">Middle Name</th>
                                            <th scope="col" class="text-white">Last Name</th>
                                            <th scope="col" class="text-white">SSN</th>
                                            <th scope="col" class="text-white">Project</th>
                                            <th scope="col" class="text-white"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>109411</td>
                                            <td>Denise</td>
                                            <td>Flores</td>
                                            <td>Atienza</td>
                                            <td>000-00-1234</td>
                                            <td>Healthways</td>
                                            <td>
                                                <button class="btn-plus">
                                                    <i class='bx bxs-plus-circle'></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>109411</td>
                                            <td>Denise</td>
                                            <td>Moreno</td>
                                            <td>Flores</td>
                                            <td>000-00-1244</td>
                                            <td>SVHS</td>
                                            <td>
                                                <button class="btn-plus">
                                                    <i class='bx bxs-plus-circle'></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
     $(document).ready(function() {
        $('#btn-bulk-remove-providers').click(function() {
            var checkedValues = []; // Array to store checked values

            // Select all checked checkboxes with class "myCheckbox"
            var checkedCheckboxes = $(".form-check-input:checked");

            // Loop through each checked checkbox
            checkedCheckboxes.each(function() {
                var value = $(this).val();
                checkedValues.push(value); // Add value to the array
            });

            $.ajax({
                url: "<%= bulk_remove_providers_office_managers_path %>",
                method: 'POST',
                data: {
                    authenticity_token: $('meta[name="csrf-token"]').attr('content'),
                    data: checkedValues
                },
                beforeSend: function() {
                    // Show the loading button
                    $('.loading-overlay').show(); //
                },
                success: function(data) {
                    // reload the page
                    location.reload();
                }
            });

            // Log the array of checked values
            // console.log("Checked values: ", checkedValues);
        });
     });

     function sendInvite(link){
        // show modal
        $('#sendSingleInviteModal').modal('show');
        var email_address = $(link).data('emailaddress');
        var provider_id = $(link).data('providerid');
        $('input[name="sim_email_to"]').val(email_address);
        $('#btnSendSingleInvitation').attr('data-providerid', provider_id);
     }

     function sendSingleInvitationNow(btn){
        var email_to = $('input[name="sim_email_to"]').val();
        var subject = $('input[name="sim_subject"]').val();
        var email_cc = $('input[name="sim_email_cc"]').val();
        var message = $('textarea[name="sim_message"]').val();

        // add alert if email_to, subject and message are blank; use one line condition
        if (email_to === '' || subject === '' || message === '') {
            alert('Please fill in all required fields.');
            return;
        }

        var provider_id = $(btn).data('providerid');

        $.ajax({
            url: "<%= send_invite_office_managers_path %>",
            method: 'POST',
            data: {
                authenticity_token: $('meta[name="csrf-token"]').attr('content'),
                id: provider_id,
                email_to: email_to,
                subject: subject,
                email_cc: email_cc,
                message: message
            },
            beforeSend: function() {
             // Show the loading button
             $('.loading-overlay').show(); //
            },
            success: function(data) {
             $('#sendSingleInviteModal').modal('hide');
             $('.loading-overlay').hide(); //
             $('html, body').animate({scrollTop: 0}, 'fast');
             setTimeout(function() { location.reload(); }, 1000);
            }
        });
     }

     function sendInvitation(){
        var senderName = $('input[name="sender_name"]').val();
        var emailTo = $('input[name="email_to"]').val();
        var subject = $('input[name="subject"]').val();
        var emailCC = $('input[name="email_cc"]').val();
        var message = $('textarea[name="message"]').val();

        // Perform validation
        if (senderName === '') {
            $('input[name="sender_name"]').css('border-color', 'red');
        } else {
            $('input[name="sender_name"]').css('border-color', '');
        }

        if (emailTo === '') {
            $('input[name="email_to"]').css('border-color', 'red');
        } else {
            $('input[name="email_to"]').css('border-color', '');
        }

        if (subject === '') {
            $('input[name="subject"]').css('border-color', 'red');
        } else {
            $('input[name="subject"]').css('border-color', '');
        }

        if (message === '') {
            $('textarea[name="message"]').css('border-color', 'red');
        } else {
            $('textarea[name="message"]').css('border-color', '');
        }

        // Check if any required fields are empty
        if (senderName === '' || emailTo === '' || subject === '' || message === '') {
            // Handle validation error (one or more required fields are empty)
            alert('Please fill in all required fields.');
            return;
        }

        $('.loading-overlay').show(); //

        // Add a delay before making the AJAX request (e.g., 2 seconds)
        setTimeout(function() {
            // Prepare the data to be sent
            var data = {
            senderName: senderName,
            emailTo: emailTo,
            subject: subject,
            emailCC: emailCC,
            message: message,
            authenticity_token:  $('meta[name="csrf-token"]').attr('content')
            };

            // Make the AJAX request
            $.ajax({
                url: "<%= send_invitation_office_managers_path %>",
                type: 'POST',
                data: data,
                success: function(response) {
                    // Handle the success response here
                    console.log(response);
                    // Display a success message or perform any other actions
                    $('.loading-overlay').hide();
                },
                error: function(xhr, status, error) {
                    // Handle the error response here
                    alert(xhr.responseText);
                    // Display an error message or perform any other actions
                    $('.loading-overlay').hide();
                }
            });
        }, 2000); // Adjust the delay time (in milliseconds) as needed
     }
    </script>