
      <%= render "top_button_navs"%>

    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 right-pane">
                    <div class="d-flex gap-2">
                        <a href="javascript:void(0);" class="btn btn-nav btn-sm btn-primary active">Location</a>
                        <!-- <button class="btn btn-nav btn-sm btn-primary">Hospital Affiliation</button>
                        <button class="btn btn-nav btn-sm btn-primary">Contracted Health Plans</button>
                        <button class="btn btn-nav btn-sm btn-primary">Services</button> -->
                    </div>
                    <div class="filter-wpr">
                        <div class="row mb-3">
                            <div class="col-xl-5">
                                <div class="search-wrp form-control">
                                    <input type="text" placeholder="Search" class="search-input">
                                    <i class='bx bx-search'></i>
                                </div>
                            </div>
                            <div class="col-xl-7 button-wpr">
                                <button class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#addLocationModal">
                                    <i class='bx bx-plus' ></i>
                                    Add Location
                                </button>
                            </div>
                        </div>
                        <div class="row result-controls">
                            <div class="col-xl-6 filter-result">
                                <h6 class="">Search result: 3 records</h6>
                            </div>
                            <div class="col-xl-6">
                                <div class="table-controls">
                                    <div class="control-wrp">
                                        <label for="limit">Show limit</label>
                                        <input type="text" id="limit" class="form-control" value="20">
                                    </div>
                                    <div class="control-wrp">
                                        <label for="page">Page 1 of 32</label>
                                        <input type="text" id="page" class="form-control" value="1">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <table class="table practice-table mt-4">
                        <thead>
                            <tr>
                                <th class="text-white"  scope="col">Practice Name</th>
                                <th class="text-white"  scope="col">Address</th>
                                <th class="text-white"  scope="col">City</th>
                                <th class="text-white"  scope="col">State/ZIP Code</th>
                                <th class="text-white"  scope="col">Phone</th>
                                <th class="text-white"  scope="col"></th>
                                <th class="text-white"  scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- <tr>
                                <td>PP of Santa Barbara
                                    Ventura and San Louis
                                    Obispo Counties Inc</td>
                                <td>1920 Marengo
                                    Street</td>
                                <td>Los
                                    Angeles</td>
                                <td>CA 9903</td>
                                <td>619-881</td>
                                <td><a href=""  data-bs-toggle="modal" data-bs-target=".associateProviderModal">Provider</a></td>
                                <td><a href=""><i class='bx bx-edit' ></i></a></td>
                            </tr> -->
                            <%= render @locations %>
                        </tbody>
                    </table>
                </div>
                <div class="col-xl-4">
                    <div class="side-panel">
                        <div class="side-panel-header">
                            <h6>Organization Info</h6>
                        </div>
                        <div class="side-panel-content">
                            <div class="form-row">
                                <h6>Planned Parenthood of the Pacific Southwest</h6>
                            </div>
                            <div class="form-row">
                                <p>Group NPI: 312645987</p>
                            </div>
                            <div class="form-row">
                                <p>Practice Type: 1075 Camino del Rio South s San Diego, CA 92108</p>
                            </div>
                            <div class="form-row">
                                <p>Phone: 888-743-7526</p>
                            </div>
                            <div class="form-row">
                                <p>Phone: 333-333-3333</p>
                            </div>
                            <div class="form-row mt-4">
                                <button class="btn btn-manage" data-bs-toggle="modal" data-bs-target="#editOrganizationModal">Edit Organization</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Organization Modal -->
    <div class="modal fade" id="editOrganizationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="content">
                        <div class="modal-title">
                            <h6 class="">Edit Organization</h6>
                        </div>
                        <form action="">
                            <div class="form-row row">
                                <div class="col-xl-6">
                                    <label for="">Organization Name</label>
                                    <input type="text" class="form-control" placeholder="" >
                                </div>
                                <div class="col-xl-6">
                                    <label for="">Organization Type</label>
                                    <input type="text" class="form-control" placeholder="" >
                                </div>
                            </div>
                            <div class="form-row row">
                                <div class="col-xl-6">
                                    <label for="">Organization NPI</label>
                                    <input type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="form-row">
                                <label for="" class="sub-title">Organization Physical Address</label>
                            </div>
                            <div class="form-row row">
                                <div class="col-xl-6">
                                    <label for="">Address 1</label>
                                    <input type="text" class="form-control" placeholder="" >
                                </div>
                                <div class="col-xl-6">
                                    <label for="">Address 2</label>
                                    <input type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="form-row row">
                                <div class="col-xl-6">
                                    <label for="">City</label>
                                    <input type="text" class="form-control" placeholder="" >
                                </div>
                                <div class="col-xl-6">
                                    <label for="">State</label>
                                    <input type="text" class="form-control" placeholder="" >
                                </div>
                            </div>
                            <div class="form-row row">
                                <div class="col-xl-6">
                                    <label for="">ZIP Code</label>
                                    <input type="text" class="form-control" placeholder="" >
                                </div>
                            </div>
                            <div class="form-row row">
                                <div class="col-xl-6">
                                    <label for="">Phone Number</label>
                                    <input type="text" class="form-control" placeholder="" >
                                </div>
                                <div class="col-xl-6">
                                    <label for="">Fax Number</label>
                                    <input type="text" class="form-control" placeholder="">
                                </div>
                                <div class="form-row row">
                                    <div class="col-xl-6">
                                        <label for="">Organization DBA Name</label>
                                        <input type="text" class="form-control" placeholder="" >
                                    </div>
                                    <div class="col-xl-6">
                                        <label for="">Organization Tax ID</label>
                                        <input type="text" class="form-control" placeholder="" >
                                    </div>
                                </div>
                            </div>
                            <div class="form-row mt-3">
                                <button type="submit" class="btn btn-manage btn-primary">Save</button>
                                <button type="button" class="btn btn-card-remove" data-bs-dismiss="modal">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Associate Provider Modal -->
    <div class="modal fade associateProviderModal" id="" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="content">
                        <div class="modal-title">
                            <h6 class="">Associate Providers</h6>
                            <!-- <button class="btn btn-cancel" data-bs-dismiss="modal">Cancel</button> -->
                        </div>
                        <div class="row">
                            <p class="associate-note mt-4">Instruction: Drag the name of the provider you want to associate or disassociate.</p>
                        </div>
                        <form action="">
                            <div class="row">
                                <div class="col-xl-6">
                                    <h6 class="associate-heading mt-4">Providers added to the Organization, who have accepted your invitation, but not yet associated with the selected location.</h6>
                                    <div class="associate-left-pane">
                                        <span class="provider-check">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                <label class="form-check-label" for="flexCheckDefault">
                                                    Janeen Ruth Burlison
                                                </label>
                                            </div>
                                        </span>
                                        <span class="provider-check">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1">
                                                <label class="form-check-label" for="flexCheckDefault1">
                                                    Larry De Hoyos
                                                </label>
                                            </div>
                                        </span>
                                        <span class="provider-check">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2">
                                                <label class="form-check-label" for="flexCheckDefault2">
                                                    Rose Dawson
                                                </label>
                                            </div>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <h6 class="associate-heading mt-4">Providers associated to location who have accepted your invitation.</h6>
                                    <div class="associate-right-pane">
                                        <span class="provider-check">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault3">
                                                <label class="form-check-label" for="flexCheckDefault3">
                                                    Maribel Zazueta
                                                </label>
                                            </div>
                                        </span>
                                        <span class="provider-check">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault4">
                                                <label class="form-check-label" for="flexCheckDefault4">
                                                    Mary Gatter
                                                </label>
                                            </div>
                                        </span>
                                        <span class="provider-check">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault5">
                                                <label class="form-check-label" for="flexCheckDefault5">
                                                    Jack Dawson
                                                </label>
                                            </div>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="add-note mt-4">
                            <h6>Note:</h6>
                            <h6>Please note that this window only shows Providers who have accepted your invitation. Providers who have not yet accepted your invitation cannot be associated or disassociated. </h6>
                        </div>
                        <div class="form-row mt-3">
                            <button type="submit" class="btn btn-manage btn-primary">Save</button>
                            <button type="button" class="btn btn-card-remove" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Associate Provider Modal -->
    <div class="modal fade" id="addLocationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="content">
                        <div class="modal-title">
                            <h6 class="">Add Location</h6>
                            <!-- <button class="btn btn-cancel" data-bs-dismiss="modal">Cancel</button> -->
                        </div>
                        <!-- <form action=""> -->
                            <ul class="nav nav-tabs gap-2 mt-3" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="tab active" id="tab-general-info" data-bs-toggle="tab" href="#general-info"
                                        role="tab" aria-controls="general" aria-selected="false">
                                        General Info
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="tab" id="tab-contacts" data-bs-toggle="tab" href="#contacts"
                                        role="tab" aria-controls="contact" aria-selected="false">
                                        Contacts
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="tab" id="tab-hours" data-bs-toggle="tab" href="#hours"
                                        role="tab" aria-controls="hour" aria-selected="false">
                                        Hours
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="tab" id="tab-patient-acceptance" data-bs-toggle="tab" href="#patient-acceptance"
                                        role="tab" aria-controls="acceptance" aria-selected="false">
                                        Patient Acceptance
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="tab" id="tab-patient-access" data-bs-toggle="tab" href="#patient-access"
                                        role="tab" aria-controls="access" aria-selected="false">
                                        Patient Access
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="tab" id="tab-patient-services" data-bs-toggle="tab" href="#services"
                                        role="tab" aria-controls="service" aria-selected="false">
                                        Services
                                    </a>
                                </li>
                            </ul>
                            <%= form_for PracticeLocation.new, url: practice_locations_path do |f| %>
                            <div class="tab-content mt-3" id="myTabContent">

                               <!-- location -->
                                <div class="tab-pane fade show active" id="general-info" role="tabpanel" aria-labelledby="general-info-tab">
                                  <%= render partial: "practice_locations/general_info", locals: { f: f } %>
                                </div>
                               <!-- location -->

                               <!-- contacts -->
                                <div class="tab-pane fade show" id="contacts" role="tabpanel" aria-labelledby="contacts-tab">
                                 <%= render partial: 'practice_locations/contacts', locals: { f: f } %>
                                </div>
                                <!-- contacts -->

                                <div class="tab-pane fade show" id="hours" role="tabpanel" aria-labelledby="hours-tab">
                                   <%= render partial: 'practice_locations/hours', locals: { f: f }%>
                                </div>

                                <div class="tab-pane fade show" id="patient-acceptance" role="tabpanel" aria-labelledby="patient-acceptance-tab">
                                   <%= render partial: 'practice_locations/patient_acceptance', locals: { f: f } %>
                                </div>

                                <div class="tab-pane fade show" id="patient-access" role="tabpanel" aria-labelledby="patient-access-tab">
                                   <%= render partial: 'practice_locations/patient_access', locals: { f: f } %>
                                </div>

                                <div class="tab-pane fade show" id="services" role="tabpanel" aria-labelledby="services-tab">
                                    <%= render partial: 'practice_locations/services', locals: { f:f } %>
                                </div>
                            </div>
                            <div class="form-row row mt-3">
                                <%= f.submit "Save", class: 'btn btn-manage btn-primary skip-loader'%>
                            </div>
                           <% end %>

                        <div class="form-row mt-3">
                            <button type="button" class="btn btn-card-remove" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>
$(document).ready(function() {
    var csrfToken = $('meta[name="csrf-token"]').attr('content');
    var languages_dropdown = '.multi-languages';
    function getLanguages() {
            $.ajax({
            url: '<%= get_languages_path %>',
            method: 'GET',
            data: { authenticity_token: csrfToken },
            success: function(data) {
                VirtualSelect.init({
                    options: data['languages'],
                    ele: '.multi-languages',
                    multiple: true,
                    showSelectedOptionsFirst: true
                });
            }
            })
        }

        function getStates() {
            $.ajax({
            url: '<%= get_states_with_id_path %>',
            method: 'GET',
            data: { authenticity_token: csrfToken },
            success: function(data) {
                VirtualSelect.init({
                    options: data['states'],
                    ele: '#dropdown-states',
                    showSelectedOptionsFirst: true
                });
            }
            })
        }
    setTimeout(getLanguages(),3000);
    setTimeout(getStates(),3000);
});
</script>

<style>
    .multi-languages {
    padding: 0;
    }
    #dropdown-states {
    padding: 0;
    max-width: 100%;
    }
</style>