<div class="content container-fluid">
  <%= render "enrollment_tracking_components/enrollment_nav"%>
</div>
<%= render 'user_restriction', locals: { access_key: 'Group' } do %>
  <div class="content container-fluid">
    <div class="row mb-3">
      <div class="col-lg-6">
        <form class="form_search_with_icon">
        <div class="">
          <input type="text" name="group_search" class="form-control" placeholder="Search by Name or NPI" value="<%=  params[:group_search] %>">
          <i class="bi bi-search"></i>
        </div>
        </form>
      </div>
      <% if current_user.can_access?('Add New Group') %>
        <div class="col-lg-6 d-flex justify-content-end gap-3">
          <a class="btn btn-primary btn-md" href="<%= new_group_enrollments_path %>">
            <i class="bi bi-plus-lg"></i>
            <span>
              Add New Group
            </span>
          </a>
          <a class="btn btn-primary btn-md" id="active-button">
            <span>
              Active group
            </span>
          </a>
          <a class="btn btn-primary btn-md" id="inactive-button">
            <span>
              Inactive group
            </span>
          </a>
        </div>
        </div>
      <% end %>
    </div>


    <div class="row mx-3">
    <% if @enrollment_groups.size != 0 %>
      <div id="active">
        <div class="row">
          <% @enrollment_groups.each do |enrollment_group| %>
              <% unless enrollment_group.noti_status == 'inactive-termed' %>
                <div class="col-lg-4">
                  <div class="card p-3">
                  <h4 class="mb-3"><%= enrollment_group.group_name %></h4>
                  <label class="mb-3">
                    <i class="bi bi-bookmark-fill text-warning"></i>
                    <span><%= enrollment_group.group_code %></span>
                  </label>
                  <label class="mb-3">
                    <i class="bi bi-geo-alt-fill"></i>
                    <span><%= enrollment_group.state %></span>
                  </label>
                  <label class="mb-3">
                    <i class="bi bi-people"></i>
                    <span><%= enrollment_group.dco_count_display %></span>
                  </label>
                  <div class="row">
                    <div class="col-12">
                      <a href="<%= group_dcos_path(enrollment_group) %>" class="btn btn-primary btn-md w-100">See More</a>
                    </div>
                    <div class="col col-lg-6">
                      <% if current_user.can_access?('Edit Group') %>
                        <%= link_to 'Group Details', edit_group_enrollment_path(enrollment_group), class: 'btn border btn-md w-100 mt-2' %>
                      <% end %>
                    </div>
                    <div class="col col-lg-6 text-center">
                      <% if current_user.can_access?('Delete Group') %>
                       <%= button_to 'Remove', delete_group_enrollment_path(enrollment_group), method: :post, class: 'btn border btn-md w-100 mt-2 delete-button' %>
                      <% end %>
                    </div>
                  </div>
                  </div>
                </div>
              <% end %>
          <% end %>
        </div>
      </div>
      <div id="inactive" style="display: none;">
        <div class="row">
          <% @enrollment_groups.each do |enrollment_group| %>
          <% if enrollment_group.noti_status == 'inactive-termed' %>
            <div class="col-lg-4">
              <div class="card p-3">
                <h4 class="mb-3"><%= enrollment_group.group_name %></h4>
                <label class="mb-3">
                  <i class="bi bi-bookmark-fill text-warning"></i>
                  <span><%= enrollment_group.group_code %></span>
                </label>
                <label class="mb-3">
                  <i class="bi bi-geo-alt-fill"></i>
                  <span><%= enrollment_group.state %></span>
                </label>
                <label class="mb-3">
                  <i class="bi bi-people"></i>
                  <span><%= enrollment_group.dco_count_display %></span>
                </label>
                <div class="row">
                  <div class="col-12">
                    <a href="<%= group_dcos_path(enrollment_group) %>" class="btn btn-primary btn-md w-100">See More</a>
                  </div>
                  <div class="col col-lg-6">
                    <% if current_user.can_access?('Edit Group') %>
                      <%= link_to 'Group Details', edit_group_enrollment_path(enrollment_group), class: 'btn border btn-md w-100 mt-2' %>
                    <% end %>
                  </div>
                  <div class="col col-lg-6 text-center">
                    <% if current_user.can_access?('Delete Group') %>
                     <%= button_to 'Remove', delete_group_enrollment_path(enrollment_group), method: :post, class: 'btn border btn-md w-100 mt-2 delete-button' %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="col-lg-12 mt-4">
        <div class="alert alert-danger">
          No matching groups found.
        </div>
      </div>
    </div>
  <% end %>
  </div>

  <script>
    $('#select_enrollable_type').on('change',function(){
      $("input[name='enrollable_type']").val($(this).val())
      $("#client-provider-enrollment-form").submit()
    })
    $('#select_per_page').on('change',function(){
      $("input[name='per_page']").val($(this).val())
      $("#client-provider-enrollment-form").submit()
    })
  </script>
<% end %>


<script type="text/javascript">
  const inactiveButton = document.getElementById('inactive-button');
  const activeButton = document.getElementById('active-button');

  activeButton.addEventListener("click", () => {
    document.getElementById("inactive").style.display = "none";
    document.getElementById("active").style.display = "block";
  })

  inactiveButton.addEventListener("click", () => {
    document.getElementById("active").style.display = "none";
    document.getElementById("inactive").style.display = "block";
  })
</script> 