<div class="content container-fluid">
	<%= render "enrollment_tracking_components/enrollment_nav"%>
	<div class="row">
		<div class="col-lg-12 d-flex justify-content-end">
			<a class="btn btn-primary btn-md" href="<%= new_group_enrollments_path %>">
						<i class="bi bi-plus-lg"></i>
						<span>
							Add New Client
						</span>
			</a>
		</div>
	</div>
	<div class="row">
		<% if @enrollment_groups.size != 0 %>
		<% @enrollment_groups.each do |enrollment_group| %>
		<div class="col-lg-4">
				<div class="card p-3">
					<h4 class="mb-3"><%= enrollment_group.group_name %></h4>
					<label class="mb-3">
						<i class="bi bi-bookmark-fill text-warning"></i>
						<span><%= enrollment_group.group_code %></span>
					</label>
					<label class="mb-3">
						<i class="bi bi-geo-alt-fill"></i>
						<span><%= enrollment_group.state %></span>
					</label>
					<label class="mb-3">
						<i class="bi bi-people"></i>
						<span><%= enrollment_group.dco_count_display %></span>
					</label>
					<div class="row">
						<div class="col-12">
							<a href="<%= group_dcos_path(enrollment_group) %>" class="btn btn-primary btn-md w-100">See More</a>
						</div>
						<div class="col col-lg-6">
							<%= link_to 'Edit', edit_group_enrollment_path(enrollment_group), class: 'btn border btn-md w-100 mt-2' %>
						</div>
						<div class="col col-lg-6 text-center">
						<%= button_to 'Remove', delete_group_enrollment_path(enrollment_group), method: :post, class: 'btn border btn-md w-100 mt-2' %>
						</div>
					</div>
				</div>
			</div>
		<% end %>
		<% else %>
			<div class="col-lg-12 mt-4">
				<div class="alert alert-danger">
					No groups created yet.
				</div>
			</div>
		<% end %>
		<!-- <div class="col-lg-4">
			<div class="card p-3">
				<h4 class="mb-3">Macomb Count Community Mental Health</h4>
				<label class="mb-3">
					<i class="bi bi-bookmark-fill text-warning"></i>
					<span>Macomb</span>
				</label>
				<label class="mb-3">
					<i class="bi bi-geo-alt-fill"></i>
					<span>Michigan</span>
				</label>
				<label class="mb-3">
					<i class="bi bi-people"></i>
					<span>20 Macomb Clients</span>
				</label>
				<a href="<%= provider_clients_path %>" class="btn btn-primary btn-md fluid">See More</a>
				<a href="javascript:void(0);" class="btn  btn-md fluid">Remove</a>
			</div>
		</div> -->

	</div>
</div>