<div class="content container-fluid">
	<%= render "enrollment_tracking_components/enrollment_nav"%>
	<div class="row mb-3">
	  <div class="col-lg-6">
			<form class="form_search_with_icon">
			<div class="">
				<input type="text" name="group_search" class="form-control" placeholder="Search by Name or NPI" value="<%=  params[:group_search] %>">
				<i class="bi bi-search"></i>
			</div>
			</form>
		</div>
     <div class="col-lg-6 d-flex justify-content-end">
			<a class="btn btn-primary btn-md" href="<%= new_group_enrollments_path %>">
						<i class="bi bi-plus-lg"></i>
						<span>
							Add New Group
						</span>
			</a>
		</div>
	</div>

	
	<div class="row">
  <% if @enrollment_groups.size != 0 %>
    <% @enrollment_groups.each do |enrollment_group| %>
      <div class="col-lg-4">
        <div class="card p-3">
          <h4 class="mb-3"><%= enrollment_group.group_name %></h4>
          <label class="mb-3">
            <i class="bi bi-bookmark-fill text-warning"></i>
            <span><%= enrollment_group.group_code %></span>
          </label>
          <label class="mb-3">
            <i class="bi bi-geo-alt-fill"></i>
            <span><%= enrollment_group.state %></span>
          </label>
          <label class="mb-3">
            <i class="bi bi-people"></i>
            <span><%= enrollment_group.dco_count_display %></span>
          </label>
          <div class="row">
            <div class="col-12">
              <a href="<%= group_dcos_path(enrollment_group) %>" class="btn btn-primary btn-md w-100">See More</a>
            </div>
            <div class="col col-lg-6">
              <%= link_to 'Group Details', edit_group_enrollment_path(enrollment_group), class: 'btn border btn-md w-100 mt-2' %>
            </div>
            <div class="col col-lg-6 text-center">
              <%= button_to 'Remove', delete_group_enrollment_path(enrollment_group), method: :post, class: 'btn border btn-md w-100 mt-2 delete-button',  data: { confirm: 'Are you sure to delete or cancel the record for this group?' } %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="col-lg-12 mt-4">
      <div class="alert alert-danger">
        No matching groups found.
      </div>
    </div>
  <% end %>
</div>
</div>

<script>
  $('#select_enrollable_type').on('change',function(){
    $("input[name='enrollable_type']").val($(this).val())
    $("#client-provider-enrollment-form").submit()
	})
  $('#select_per_page').on('change',function(){
    $("input[name='per_page']").val($(this).val())
    $("#client-provider-enrollment-form").submit()
	})
</script>