<div class="content container-fluid">
    <%= render partial: "verification_platform/encompass_nav"%>
</div>
<%= render 'user_restriction', locals: { access_key: 'Manage Client' } do %>
    <div class="enc-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3">
                    <%= render partial: "verification_platform/encompass_sidebar"%>
                </div>
                <div class="col-xl-9">
                    <div class="d-flex page-applicable align-items-center gap-2 mb-2">
																					<%= link_to "Add New Practitioner", new_manage_client_path, class: "btn btn-primary py-1 page-applicable" %>
                        <button class="btn btn-primary py-1 page-applicable">
                            Modify Practitioner Record
                        </button>
                        <button class="btn btn-primary py-1 page-applicable">
                            Append and Remove Practitioner from Client Group
                        </button>
                        <button class="btn btn-primary py-1 page-applicable">
                            Reply Practitioner’s Question
                        </button>
                    </div>
                    <div class="row mt-3">
                        <div class="col-xl-6">
                            <div class="form-control enc-search-wrp  border-dark">
                                <input type="text" class="enc-search-input" placeholder="Search by Committee Date">
                                <!-- <i class='bx bx-search'></i> -->
                            </div>
                        </div>
                    </div> 
                    <div class="table-responsive">
                        <table class="table table-bordered practice-table mt-3">
                            <thead>
                                <tr>
                                    <th class="text-white" scope="col">Client Organization</th>
                                    <th class="text-white">Current Client Organization</th>
                                    <th class="text-white">Encompass ID</th>
                                    <th class="text-white">Practitioner Name</th>
                                    <th class="text-white">Verification Status</th>
                                    <th class="text-white">Department/ Division</th>
                                    <th class="text-white">Status</th>
                                    <th class="text-white">Image Management</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Lorem</td>
                                    <td>Lorem</td>
                                    <td>Lorem</td>
                                    <td>Lorem</td>
                                    <td>Lorem</td>
                                    <td>Lorem</td>
                                    <td>Lorem</td>
                                    <td>
                                        <button class="btn btn-primary button-sm px-3 py-2 mx-2">
                                            <i class="fa-solid fa-upload"></i>
                                        </button>
                                        <button class="btn btn-primary button-sm px-3 py-2">
                                                <i class="fa-solid fa-eye"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div> 
                    <% if @practitioner %>
                        <div class="col-lg-12">
                            <div class="d-flex justify-content-between bg-medium-grey rounded align-items-center py-0">
                                <div class="page_info ms-3 text-black">
                                     <%= page_entries_info @practitioner %>
                                </div>
                                <% if params[:per_page ].present? %>
                                    <%= will_paginate @practitioner, :params =>  {per_page: @per_page }, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
                                <% else %>
                                    <%= will_paginate @practitioner, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
                                <% end %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
<% end %>
