<div class="enc-content">
    <%= form_with model: @practitioner, url: manage_clients_path do |form| %>  
        <div class="container-fluid ">
            <div class="row">
                <div class="col-xl-12">
                    <%= render partial: "verification_platform/encompass_nav" %>
                </div>
                </div>
            <div class="row mb-3">
                <div class="col-xl-12 mb-1">
                    <h2>
                        <a href="<%= manage_clients_path %>" class="d-flex gap-2 text-secondary">
                            <i class="bi bi-arrow-left h5 d-flex align-items-center"></i>
                            <span class="h1">Add New Practitioner</span>
                        </a>
                    </h2>
                </div>
            </div>
            <div class="row mb-3 mx-2">
                <div class="col-xl-3">
                    <label class="text-dark-grey">First Name <span class="text-red">*</span></label>
                    <%= form.text_field :first_name, class:"form-control border-dark", placeholder:"Type here...", required: true %>
                </div>
                <div class="col-xl-3">
                    <label class="text-dark-grey">Middle Name</label>
                     <%= form.text_field :middle_name, class:"form-control border-dark", placeholder:"Type here..."%>
                </div>
                <div class="col-xl-4">
                    <label class="text-dark-grey">Last Name <span class="text-red">*</span></label>
                   <%= form.text_field :last_name , class:"form-control border-dark", placeholder:"Type here...", required: true%>
                </div>
                <div class="col-xl-2">
                    <label class="text-dark-grey">Suffix</label>
                    <%= form.select :suffix, options_for_select([ 'Jr.', 'Sr.', 'II', 'III', 'IV', 'V']), {prompt: 'Select Option'}, { class: 'form-select border border-dark'} %>
                </div>
            </div>
            <div class="row mb-3 mx-2">
                <div class="col-xl-6">
                    <label class="text-dark-grey" for="gender">Gender</label>
                    <%= form.select :gender, options_for_select([ 'Male', 'Female', 'Non Binary']), {prompt: 'Select Gender'}, { class: 'form-select border border-dark'} %>

                </div>
                <div class="col-xl-6">
                    <label class="text-dark-grey">Date of Birth <span class="text-red">*</span></label>
                    <%= form.date_field :date_of_birth, class: 'form-control border-dark', placeholder: 'MM-DD-YYYY', required: true  %>
                </div>
            </div>
            <div class="row mb-3 mx-2">
                <div class="col-xl-6">
                    <label class="text-dark-grey" for="social-security-number">Social Security Number <span class="text-red">*</span></label>
                    <%= form.text_field :social_security_number, class:"form-control border-dark", placeholder:"Type here...", required: true %>
                </div>
            </div>

            <!-- Send Notification to Credentialing Contact Container -->

            <div class="border rounded shadow mx-3 mt-5 pb-2">
                <div class="row mt-4 ms-2">
                    <label class="h4">Send Notification to Credentialing Contact</label>
                </div>
                <div class="row mx-2 mb-3">
                    <div class="col-xl-3">
                        <label class="text-dark-grey">First Name </label>
                       <%= form.text_field :first_name_of_credentialing_contact , class:"form-control border-dark", placeholder:"Type here..."%>
                    </div>
                    <div class="col-xl-3">
                        <label class="text-dark-grey">Middle Name</label>
                       <%= form.text_field :middle_name_of_credentialing_contact , class:"form-control border-dark", placeholder:"Type here..."%>
                    </div>
                    <div class="col-xl-4">
                        <label class="text-dark-grey">Last Name </label>
                       <%= form.text_field :last_name_of_credentialing_contact , class:"form-control border-dark", placeholder:"Type here..."%>
                    </div>
                    <div class="col-xl-2">
                        <label class="text-dark-grey">Suffix</label>
                        <%= form.select :suffix_of_credentialing_contact, options_for_select([ 'Jr.', 'Sr.', 'II', 'III', 'IV', 'V']), {prompt: 'Select Option'}, { class: 'form-select border border-dark'} %>
                    </div>
                </div>
                <div class="row mx-2 mb-3">
                    <div class="col-xl-6">
                        <label class="text-dark-grey">Contact Method</label>
                        <%= form.text_field :contact_method, class:"form-control border-dark", placeholder:"Type here..."%>

                    </div>
                     <div class="col-xl-6">
                        <label class="text-dark-grey">Phone Number</label>
                        <%= form.number_field :phone_number, class: 'form-control border-dark', placeholder: 'Type here...' %>
                    </div>
                </div>
                <div class="row mb-3 mx-2">
                    <div class="col-xl-6">
                        <label class="text-dark-grey">Fax Number </label>
                        <%= form.text_field :fax_number, class:"form-control border-dark", placeholder:"Type here..."%>
                    </div>
                    <div class="col-xl-6">
                        <label class="text-dark-grey">Email Address </label>
                        <%= form.email_field :email_address, class: 'form-control border-dark', placeholder: 'Type here...' %>
                    </div>
                </div>
                <div class="row mb-3 mx-2">
                    <div class="col-xl-6">
                        <label class="text-dark-grey">Address </label>
                        <%= form.text_field :address, class: 'form-control border-dark', placeholder: 'Type here...' %>
                    </div>
                    <div class="col-xl-6">
                        <label class="text-dark-grey">Suit/Apt </label>
                        <%= form.text_field :suit_or_apt, class: 'form-control border-dark', placeholder: 'Type here...' %>
                    </div>
                </div>
                <div class="row mb-3 mx-2">
                    <div class="col-xl-6">
                        <label class="text-dark-grey">Additional Address </label>
                        <%= form.text_field :additional_address, class: 'form-control border-dark', placeholder: 'Type here...' %>
                    </div>
                    <div class="col-xl-6">
                        <label class="text-dark-grey">City </label>
                        <%= form.text_field :city, class: 'form-control border-dark', placeholder: 'Type here...' %>
                    </div>
                </div>
                <div class="row mb-3 mx-2">
                    <div class="col-xl-6">
                        <label class="text-dark-grey">County</label>
                        <%= form.text_field :county, class: 'form-control border-dark', placeholder: 'Type here...' %>
                    </div>
                    <div class="col-xl-6">
                        <label class="text-dark-grey">State/Province</label>
                        <%= form.select :state_or_province, options_for_select(State.where.not(name: [nil, '']).pluck(:name, :name)), { prompt: 'Select Option' }, { class: 'form-select form-select-lg' , id:"state-type-select"} %>

                    </div>
                </div>
                <div class="row mb-3 mx-2">
                    <div class="col-xl-6">
                        <label class="text-dark-grey">Zip Code</label>
                        <%= form.text_field :zipcode, class: 'form-control border-dark', placeholder: 'Type here...' %>
                    </div>
                    <div class="col-xl-6">
                        <label class="text-dark-grey">Country</label>
                        <%= form.select :country, options_for_select(Practitioner::COUNTRIES), { prompt: 'Select Option' }, { class: 'form-select form-select-lg', id: 'country-type-select' } %>
                    </div>
                </div>
            </div>

            <!-- Send Notification to Credentialing Contact Container -->

            <div class="row mb-3 mx-2 mt-5">
                <div class="col-xl-6">
                    <label class="text-dark-grey">Practitioner Type</label>
                    <%= form.select :practitioner_type, options_for_select(ProviderType.where.not(fch: [nil, '']).pluck(:fch, :fch)),{ prompt: 'Select Option' }, { class: 'form-select form-select-lg', id: 'practitioner-type-select' } %>
                </div>  
                <div class="col-xl-6">
                    <label class="text-dark-grey">Credentials Committee Date </label>
                    <%= form.date_field :credentials_committee_date, class: 'form-control border-dark', placeholder: 'MM-DD-YYYY' %>
                </div>
            </div>
            <div class="row mb-3 mx-2">
                <div class="col-xl-6">
                    <label class="text-dark-grey">Client Batch Date </label>
                    <%= form.date_field :client_batch_date, class: 'form-control border-dark', placeholder: 'MM-DD-YYYY' %>
                </div>
                <div class="col-xl-6">
                    <label class="text-dark-grey">Client Batch Name</label>
                    <%= form.text_field :client_batch_name, class: 'form-control border-dark', placeholder: 'Type here...' %>
                </div>  
            </div>
             <div class="row mb-3 mx-2">
                <div class="col-xl-6">
                    <label class="text-dark-grey">Client Batch ID </label>
                    <%= form.text_field :client_batch_id, class: 'form-control border-dark', placeholder: 'Type here...' %>
                </div>
                <div class="col-xl-6">
                    <label class="text-dark-grey">Market(s)</label>
                    <%= form.text_field :market, class: 'form-control border-dark', placeholder: 'Type here...' %>
                </div>  
            </div>
            <div class="row mb-3 mx-2">
                <div class="col-xl-6">
                        <label class="text-dark-grey">Status</label>
                        <%= form.select :status, options_for_select([ 'Credential (Appointment)', 'Recredential (Reappointment)']), {prompt: 'Select Option'}, { class: 'form-select border border-dark'} %>
                </div>  
                 <div class="col-xl-6">
                        <label class="text-dark-grey">Application Method</label>
                         <%= form.select :application_method, options_for_select([ 'Paper', 'Online']), {prompt: 'Select Option'}, { class: 'form-select border border-dark'} %>
                </div> 
            </div>
            <div class="row mb-3 mx-2">
                <div class="col-xl-6">
                        <label class="text-dark-grey">Available to be on call?</label>
                        <%= form.select :availability, options_for_select([ 'Yes', 'No']), {prompt: 'Select Option'}, { class: 'form-select border border-dark'} %>

                </div>   
            </div>
            <div class="row mt-5 ms-5">
                        <div class="col-xl-2 mt-5 ms-auto">
                        <div class="col-xl-9 ms-5">
                             <%= form.submit "Add New Practitioner", class:"btn btn-primary ms-5"%>
                        </div>
                    </div>
                </div>   
            </div>
        </div>
    <% end %>
    </div>

    <style>
      #country-type-select{
        width: 100%;
      }

      #state-type-select{
        width: 100%;
      }

      #practitioner-type-select {
            width: 100%;
      }

      .select2-selection__rendered {
        padding: 0.375rem 1.75rem 0.375rem 0.75rem;
        background-color: white; /* Background color */
        border: 1px solid black; /* Border color */
        border-radius: 0.25rem;
      }

      .select2-selection__placeholder {
        color: black;
      }
    </style>

    <script>
      $(document).ready(function() {
        $('#country-type-select').select2({
          placeholder: 'Select a Country ',
          allowClear: true,
        });
      });

       $(document).ready(function() {
        $('#practitioner-type-select').select2({
          placeholder: 'Select a practitioner ',
          allowClear: true,
        });
      });


       $(document).ready(function() {
        $('#state-type-select').select2({
          placeholder: 'Select a State/Province ',
          allowClear: true,
        });
      });
    </script>
