
<div class="content container-fluid">
  <%= render "verification_platform/encompass_nav"%>
</div>
<%= render 'user_restriction', locals: { access_key: 'Manage Tools' } do %>
  <div class="enc-content manage-tools-container">
    <div class="container">
      <div class="row">
        <div class="col-xl-3">
          <%= render partial: "verification_platform/encompass_sidebar"%>
        </div>
        <div class="col-xl-9">
          <%= render "menus"%>
            <%= yield %>
        </div>
      </div>
    </div>
  </div>
<% end %>
