<div class="mb-2 text-center">
  <div class="d-flex justify-content-between gap-1">
    <%= link_to(manage_cme_manage_tools_path, class: "enc-btn-nav w-100 manage-tools-top-nav-button #{active_manage_tool_sub_menu('manage_tools', 'manage_cme')}") do %>
      <span>Manage CME</span>
    <% end %>
    <%= link_to(meeting_attendance_manage_tools_path, class: "enc-btn-nav manage-tools-top-nav-button w-100 #{active_manage_tool_sub_menu('manage_tools', 'meeting_attendance')}") do %>
      <span>Meeting Attendance</span>
    <% end %>
    <%= link_to(call_schedule_maintenance_manage_tools_path, class: "enc-btn-nav manage-tools-top-nav-button w-100 #{active_manage_tool_sub_menu('manage_tools', 'call_schedule_maintenance')}") do %>
      <span>Call Schedule Maintenance</span>
    <% end %>
    <%= link_to(call_schedule_group_maintenance_manage_tools_path, class: "enc-btn-nav manage-tools-top-nav-button w-100 #{active_manage_tool_sub_menu('manage_tools', 'call_schedule_group_maintenance')}") do %>
      <span>Call Schedule Group Maintenance</span>
    <% end %>
  </div>
  <div class="d-flex justify-content-between gap-1 mt-1">
    <%= link_to(generate_call_schedule_manage_tools_path, class: "enc-btn-nav manage-tools-top-nav-button w-100 #{active_manage_tool_sub_menu('manage_tools', 'generate_call_schedule')}") do %>
      <span>Generate Call Schedule</span>
    <% end %>
    <%= link_to(generate_alpha_order_call_schedule_manage_tools_path, class: "enc-btn-nav manage-tools-top-nav-button w-100 #{active_manage_tool_sub_menu('manage_tools', 'generate_alpha_order_call_schedule')}") do %>
      <span>Generate Alpha Order Call Schedule</span>
    <% end %>
    <%= link_to(call_schedule_manage_tools_path, class: "enc-btn-nav manage-tools-top-nav-button w-100 #{active_manage_tool_sub_menu('manage_tools', 'call_schedule,cme_schedule,meetings_calendar')}") do %>
      <span>Calendar View</span>
    <% end %>
    <%= link_to(daily_report_manage_tools_path, class: "enc-btn-nav manage-tools-top-nav-button w-100 #{active_manage_tool_sub_menu('manage_tools', 'daily_report')}") do %>
      <span>Daily Report</span>
    <% end %>
  </div>
  <div class="d-flex justify-content-between gap-1 mt-1">
    <%= link_to(health_plan_contract_enrollment_manage_tools_path, class: "enc-btn-nav manage-tools-top-nav-button w-100 #{active_manage_tool_sub_menu('manage_tools', 'health_plan_contract_enrollment')}") do %>
      <span>Health Plan Contract Enrollment</span>
    <% end %>
    <%= link_to(site_review_questionnaire_manage_tools_path, class: "enc-btn-nav manage-tools-top-nav-button w-100 #{active_manage_tool_sub_menu('manage_tools', 'site_review_questionnaire')}") do %>
      <span>Site Review Questionnaire</span>
    <% end %>
    <%= link_to(correction_action_plan_manage_tools_path, class: "enc-btn-nav manage-tools-top-nav-button w-100 #{active_manage_tool_sub_menu('manage_tools', 'correction_action_plan')}") do %>
      <span>Correction Action Plan</span>
    <% end %>
    <%= link_to(define_privileges_manage_tools_path, class: "enc-btn-nav manage-tools-top-nav-button w-100 #{active_manage_tool_sub_menu('manage_tools', 'define_privileges')}") do %>
      <span>Define Privileges</span>
    <% end %>
  </div>
</div>