<%= render "manage_tools_container" do %>
  <div class="d-flex justify-content-end gap-2 mt-3">
    <%= button_to "Add Form", nil, class: "btn button-sm"%>
    <%= button_to "Delete Form", nil, class: "btn button-sm"%>
    <%= button_to "Preview Form", nil, class: "btn button-sm"%>
  </div>
  <form action="">
      <div class="form-row row page-applicable mt-3">
          <div class="col-xl-12">
              <div class="card other-name-card">
                  <div class="card-body">
                      <h6 class="form-heading">Define Privileges Form</h6>
                      <div class="form-row row">
                          <div class="col-xl-6">
                              <label for="sel-privileges" class="">Select Privileges Form:</label>
                              <input type="text"
                                  class="form-control form-control-lg" id="sel-privileges" name="sel-privileges" placeholder="Type here...">
                          </div>
                          <div class="col-xl-6 d-flex align-items-end">
                            <%= button_to "Search", nil, class: "btn button-sm"%>
                          </div>
                      </div>
                      <div class="form-row row">
                          <div class="col-xl-6">
                              <label for="privileges-list" class="">Privileges Form List:</label>
                              <select name="privileges-list" id="privileges-list"
                                  class="form-select ">
                                  <option value="">Select option</option>
                              </select>
                          </div>
                          <div class="col-xl-6">
                              <label for="privileges-name" class="">Privileges Form Name:</label>
                              <input type="text"
                                  class="form-control form-control-lg" id="privileges-name" name="privileges-name" placeholder="Type here...">
                          </div>
                      </div>
                      <div class="form-row row mt-3">
                          <h6 class="form-heading">Privileges Form For</h6>
                      </div>
                      <div class="form-row">
                          <div class="form-check d-flex align-items-center gap-2">
                              <input class="form-check-input" type="radio" name="privileges-radio"
                                  id="all-practitioners" value="">
                              <label class="form-check-label" for="all-practitioners">
                                  All Practitioners
                              </label>
                          </div>
                          <div class="form-check d-flex align-items-center gap-2">
                              <input class="form-check-input" type="radio" name="privileges-radio"
                                  id="sel-filter-confitions" value="" checked>
                              <label class="form-check-label" for="sel-filter-confitions">
                                  Select Filter Conditions
                              </label>
                          </div>
                      </div>
                      <div class="form-row row mt-3">
                          <div class="col-xl-6">
                              <div class="form-check d-flex aling-items-center gap-2">
                                  <input class="form-check-input" type="checkbox" value="" name="client-check" id="client-check" checked>
                                  <label class="form-check-label" for="client-check">
                                      Client:
                                  </label>
                              </div>
                              <label for="client-sel" class="d-none">client-sel</label>
                              <select name="client-sel" id="client-sel"
                                  class="form-select ">
                                  <option value="">Select option</option>
                              </select>
                          </div>
                          <div class="col-xl-6">
                              <div class="form-check d-flex aling-items-center gap-2">
                                  <input class="form-check-input" type="checkbox" value="" name="department-check" id="department-check" checked>
                                  <label class="form-check-label" for="department-check">
                                      Department:
                                  </label>
                              </div>
                              <label for="department-sel" class="d-none">client-sel</label>
                              <select name="department-sel" id="department-sel"
                                  class="form-select ">
                                  <option value="">Select option</option>
                              </select>
                          </div>
                      </div>
                      <div class="form-row row mt-2">
                          <div class="col-xl-6">
                              <div class="form-check d-flex aling-items-center gap-2">
                                  <input class="form-check-input" type="checkbox" value="" name="division-check" id="division-check" checked>
                                  <label class="form-check-label" for="division-check">
                                      Division:
                                  </label>
                              </div>
                              <label for="division-sel" class="d-none">client-sel</label>
                              <select name="division-sel" id="division-sel"
                                  class="form-select ">
                                  <option value="">Select option</option>
                              </select>
                          </div>
                          <div class="col-xl-6">
                              <div class="form-check d-flex aling-items-center gap-2">
                                  <input class="form-check-input" type="checkbox" value="" name="specialty-check" id="specialty-check" checked>
                                  <label class="form-check-label" for="specialty-check">
                                      Specialty:
                                  </label>
                              </div>
                              <label for="specialty-sel" class="d-none">client-sel</label>
                              <select name="specialty-sel" id="specialty-sel"
                                  class="form-select ">
                                  <option value="">Select option</option>
                              </select>
                          </div>
                      </div>
                      <div class="form-row row mt-2">
                          <div class="col-xl-6">
                              <div class="form-check d-flex aling-items-center gap-2">
                                  <input class="form-check-input" type="checkbox" value="" name="prac-type-check" id="prac-type-check" checked>
                                  <label class="form-check-label" for="prac-type-check">
                                      Practitioner Type:
                                  </label>
                              </div>
                              <label for="prac-type-sel" class="d-none">client-sel</label>
                              <select name="prac-type-sel" id="prac-type-sel"
                                  class="form-select ">
                                  <option value="">Select option</option>
                              </select>
                          </div>
                      </div>
                      <div class="form-row row mt-2">
                          <div class="col-xl-12">
                              <label for="" class="">Privilege Form Header:</label>
                              <textarea name="" id="" cols="30" rows="3" class="form-control"></textarea>
                          </div>
                      </div>
                      <div class="form-row row mt-2">
                          <div class="col-xl-12">
                              <label for="" class="">Beginning Text:</label>
                              <textarea name="" id="" cols="30" rows="3" class="form-control"></textarea>
                          </div>
                      </div>
                      <div class="form-row row mt-2">
                          <div class="col-xl-12">
                              <label for="" class="">End Text:</label>
                              <textarea name="" id="" cols="30" rows="3" class="form-control"></textarea>
                          </div>
                      </div>
                      <div class="form-row d-flex align-items-center gap-3 mt-2">
                          <label for="">Global Proctoring Required?</label>
                          <div class="form-check d-flex align-items-center gap-2">
                              <input class="form-check-input" type="radio" name="global-proctoring-radio"
                                  id="global-proctoring-no" value="No">
                              <label class="form-check-label" for="global-proctoring-no">
                                  No
                              </label>
                          </div>
                          <div class="form-check d-flex align-items-center gap-2">
                              <input class="form-check-input" type="radio" name="global-proctoring-radio"
                                  id="global-proctoring-client-global" value="Client Global" >
                              <label class="form-check-label" for="global-proctoring-client-global">
                                  Client Global
                              </label>
                          </div>
                          <div class="form-check d-flex align-items-center gap-2">
                              <input class="form-check-input" type="radio" name="global-proctoring-radio"
                                  id="global-proctoring-form-global" value="Form Global">
                              <label class="form-check-label" for="global-proctoring-form-global">
                                  Form Global
                              </label>
                          </div>
                      </div>
                      <div class="form-row mt-2">
                          <h6 class="form-heading">Define Privileges Category</h6>
                      </div>
                    <div class="d-flex justify-content-start mt-2">
                        <%= button_to "Define Privileges Category", nil, class: "btn button-sm"%>
                      </div>
                      <div class="form-row mt-3">
                          <div class="row">
                              <div class="col-xl-6">
                                <div class="left-pane bg-medium-grey">
                                </div>
                                <div class="d-flex justify-content-end mt-2">
                                    <%= button_to "Define Privileges Category", nil, class: "btn button-sm"%>
                                </div>
                              </div>
                              <div class="col-xl-6">
                                <div class="right-pane border-dash bg-medium-grey">
                                </div>
                                <div class="d-flex justify-content-end mt-2">
                                    <%= button_to "Remove", nil, class: "btn button-sm btn-danger"%>
                                </div>
                              </div>
                          </div>
                      </div>
                      <div class="form-row mt-2">
                          <h6 class="form-heading">Approval Signature Order</h6>
                      </div>
                      <div class="form-row row mt-2">
                          <div class="col-xl-6">
                              <label for="sign-1-text" class="">Signature 1 Text Block:</label>
                              <input type="text"
                                  class="form-control form-control-lg" id="sign-1-text" name="sign-1-text" placeholder="Type here...">
                          </div>
                          <div class="col-xl-6">
                              <label for="sign-1" class="">Signature 1:</label>
                              <input type="text"
                                  class="form-control form-control-lg" id="sign-1" name="sign-1" placeholder="Type here...">
                          </div>
                      </div>
                      <div class="form-row row">
                          <div class="col-xl-6">
                              <label for="sign-2-text" class="">Signature 2 Text Block:</label>
                              <input type="text"
                                  class="form-control form-control-lg" id="sign-2-text" name="sign-2-text" placeholder="Type here...">
                          </div>
                          <div class="col-xl-6">
                              <label for="sign-2" class="">Signature 2:</label>
                              <input type="text"
                                  class="form-control form-control-lg" id="sign-2" name="sign-2" placeholder="Type here...">
                          </div>
                      </div>
                      <div class="form-row row">
                          <div class="col-xl-6">
                              <label for="sign-3-text" class="">Signature 3 Text Block:</label>
                              <input type="text"
                                  class="form-control form-control-lg" id="sign-3-text" name="sign-3-text" placeholder="Type here...">
                          </div>
                          <div class="col-xl-6">
                              <label for="sign-3" class="">Signature 3:</label>
                              <input type="text"
                                  class="form-control form-control-lg" id="sign-3" name="sign-3" placeholder="Type here...">
                          </div>
                      </div>
                      <div class="form-row row">
                          <div class="col-xl-6">
                              <label for="sign-4-text" class="">Signature 4 Text Block:</label>
                              <input type="text"
                                  class="form-control form-control-lg" id="sign-4-text" name="sign-4-text" placeholder="Type here...">
                          </div>
                          <div class="col-xl-6">
                              <label for="sign-4" class="">Signature 4:</label>
                              <input type="text"
                                  class="form-control form-control-lg" id="sign-4" name="sign-4" placeholder="Type here...">
                          </div>
                      </div>
                      <div class="form-row row">
                          <div class="col-xl-6">
                              <label for="sign-5-text" class="">Signature 5 Text Block:</label>
                              <input type="text"
                                  class="form-control form-control-lg" id="sign-5-text" name="sign-5-text" placeholder="Type here...">
                          </div>
                          <div class="col-xl-6">
                              <label for="sign-5" class="">Signature 5:</label>
                              <input type="text"
                                  class="form-control form-control-lg" id="sign-5" name="sign-5" placeholder="Type here...">
                          </div>
                      </div>
                      <div class="form-row row">
                          <div class="col-xl-6">
                              <label for="sign-6-text" class="">Signature 6 Text Block:</label>
                              <input type="text"
                                  class="form-control form-control-lg" id="sign-6-text" name="sign-6-text" placeholder="Type here...">
                          </div>
                          <div class="col-xl-6">
                              <label for="sign-6" class="">Signature 6:</label>
                              <input type="text"
                                  class="form-control form-control-lg" id="sign-6" name="sign-6" placeholder="Type here...">
                          </div>
                      </div>
                      <div class="form-row row">
                          <div class="col-xl-6">
                              <label for="sign-7-text" class="">Signature 7 Text Block:</label>
                              <input type="text"
                                  class="form-control form-control-lg" id="sign-7-text" name="sign-7-text" placeholder="Type here...">
                          </div>
                          <div class="col-xl-6">
                              <label for="sign-7" class="">Signature 7:</label>
                              <input type="text"
                                  class="form-control form-control-lg" id="sign-7" name="sign-7" placeholder="Type here...">
                          </div>
                      </div>
                      <div class="form-row row">
                          <div class="col-xl-6">
                              <label for="sign-8-text" class="">Signature 8 Text Block:</label>
                              <input type="text"
                                  class="form-control form-control-lg" id="sign-8-text" name="sign-8-text" placeholder="Type here...">
                          </div>
                          <div class="col-xl-6">
                              <label for="sign-8" class="">Signature 8:</label>
                              <input type="text"
                                  class="form-control form-control-lg" id="sign-8" name="sign-8" placeholder="Type here...">
                          </div>
                      </div>
                      <div class="form-row row">
                          <div class="col-xl-6">
                              <label for="sign-9-text" class="">Signature 9 Text Block:</label>
                              <input type="text"
                                  class="form-control form-control-lg" id="sign-9-text" name="sign-9-text" placeholder="Type here...">
                          </div>
                          <div class="col-xl-6">
                              <label for="sign-9" class="">Signature 9:</label>
                              <input type="text"
                                  class="form-control form-control-lg" id="sign-9" name="sign-9" placeholder="Type here...">
                          </div>
                      </div>
                      <div class="form-row row">
                          <div class="col-xl-6">
                              <label for="sign-10-text" class="">Signature 10 Text Block:</label>
                              <input type="text"
                                  class="form-control form-control-lg" id="sign-10-text" name="sign-10-text" placeholder="Type here...">
                          </div>
                          <div class="col-xl-6">
                              <label for="sign-10" class="">Signature 10:</label>
                              <input type="text"
                                  class="form-control form-control-lg" id="sign-10" name="sign-10" placeholder="Type here...">
                          </div>
                      </div>
                      <div class="form-row d-flex align-items-center gap-3 mt-2">
                          <label for="">Form Status:</label>
                          <div class="form-check d-flex align-items-center gap-2">
                              <input class="form-check-input" type="radio" name="form-status-radio"
                                  id="form-status-not-active" value="Not Active">
                              <label class="form-check-label" for="form-status-not-active">
                                  Not Active
                              </label>
                          </div>
                          <div class="form-check d-flex align-items-center gap-2">
                              <input class="form-check-input" type="radio" name="form-status-radio"
                                  id="form-status-active" value="Active" >
                              <label class="form-check-label" for="form-status-active">
                                  Active
                              </label>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- <div class="form-row row">
          <div class="col-xl-6">
              <label for="sched-month" class="">Scheduler Month:</label>
              <input type="date" name="sched-month" id="sched-month" class="form-control">
          </div>
          <div class="col-xl-6">
              <label for="contact" class="">Contact:</label>
              <select class="js-example-basic-multiple form-select" name="contact[]" id="contact" multiple="multiple">
                  <option value=''>Option</option>
              </select>
          </div>
      </div> -->
      <div class="d-flex justify-content-end gap-2 mt-3">
        <%= button_to "Save Form", nil, class: "btn button-sm"%>
        <%= button_to "Save Form As", nil, class: "btn button-sm"%>
      </div>
  </form>
<% end %>