<%= render "manage_tools_container" do %>
  <div class="px-3 pb-3 rounded-1" style="border: 1px solid #dee2e6;">
    <div class="d-flex gap-2 mt-3 justify-content-end">
      <%= button_to "Manage Meeting Invitees", nil, class: "btn button-sm"%>
      <%= button_to "Manage Meeting RSVP", nil, class: "btn button-sm"%>
      <%= button_to "Manage Meeting Attendance", nil, class: "btn button-sm"%>
      <%= button_to "Generate Meeting Minutes", nil, class: "btn button-sm"%>
    </div>
    <form action="">
      <div class="form-row row mt-3">
        <div class="col-xl-6">
          <label for="MeetingTitle" class="fs-6">Meeting Title</label>
          <select name="MeetingTitle" id="MeetingTitle" class="form-select form-control form-control-lg py-3 ">
            <option value="">Select option</option>
          </select>
        </div>
        <div class="col-xl-2 d-flex align-items-center mt-4">
          <%= button_to "Add New Meeting", nil, class: "btn button-sm fs-6"%>
        </div>
      </div>
      <div class="form-row row page-applicable mt-3">
        <div class="col-xl-12">
          <div class="card other-name-card">
            <div class="card-body">
              <h6 class="fs-4">Meeting Calendar</h6>
              <div class="row">
                <div class="form-row row">
                  <div class="col-xl-4">
                    <label for="condition-name" class="fs-6">Date</label>
                    <input type="date" name="" id="" class="form-control form-control-lg py-3" placeholder="Type here...">
                  </div>
                  <div class="col-xl-4">
                    <label for="condition-name" class="fs-6">Start Time</label>
                    <input type="time" name="" id="" class="form-control form-control-lg py-3" placeholder="Type here...">
                  </div>
                  <div class="col-xl-4">
                    <label for="condition-name" class="fs-6">End Time</label>
                    <input type="time" name="" id="" class="form-control form-control-lg py-3" placeholder="Type here...">
                  </div>
                </div>
                <div class="form-row d-flex justify-content-between">
                  <div class="offset-md-5 mt-3">
                    <%= button_to "Add Date and Time", nil, class: "btn button-sm fs-6"%>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-3">
          <div class="col-xl-12">
            <label for="go-to" class="fs-6">Meeting Notes</label>
            <textarea name="" id="" cols="30" rows="4" class="form-control" placeholder="Type here..."></textarea>
          </div>
        </div>
      </div>

      <!-- Meeting Recurring Card -->
      <div class="mt-3 rounded-1" style="border: 1px solid #dee2e6;">
        <div class="my-3"> 
          <div class="form-row row mt-2">
            <div class="col-xl-12">
              <div class="form-check form-switch ms-5">
                <input class="form-check-input fs-6" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                <h6 class="fs-4">Meeting Recurring</h6>
              </div> 
            </div>
          </div>
          <div class="row mt-2 px-3">
            <div class="col-xl-4">
              <label for="go-to" class="fs-6">Recur on the </label>
              <select name="go-to" id="go-to" class="form-select form-control form-control-lg py-3">
                <option value="">Select option</option>
              </select>
            </div>
            <div class="col-xl-4">
              <label for="go-to" class="fs-6">Day of the Month </label>
              <select name="go-to" id="go-to" class="form-select form-control form-control-lg py-3">
                <option value="">Select option</option>
              </select>
            </div>
            <div class="col-xl-4">
              <label for="go-to" class="fs-6">Every </label>
              <select name="go-to" id="go-to" class="form-select form-control form-control-lg py-3">
                <option value="">Select option</option>
              </select>
            </div>
          </div>
          <div class="form-row row px-3 mt-3">
            <div class="col-xl-6">
              <label for="go-to" class="fs-6">Start Date</label>
              <input type="date" name="" id="" class="form-control form-control-lg py-3" placeholder="Type here...">
            </div>
            <div class="col-xl-6">
              <label for="condition-name" class="fs-6">End Date</label>
              <input type="date" name="" id="" class="form-control form-control-lg py-3" placeholder="Type here...">
            </div>
          </div>
          <div class="form-row row px-3 mt-3">
            <div class="col-xl-6">
              <label for="go-to" class="fs-6">Time Starts at</label>
              <label for="time-opt1" class="d-none">time-opt1</label>
              <input type="time" name="" id="" class="form-control form-control-lg py-3" placeholder="Type here...">
            </div>
            <div class="col-xl-6">
              <label for="go-to" class="fs-6">Duration time</label>
              <label for="duration-opt1" class="d-none">duration-opt1</label>
              <input type="time" name="" id="" class="form-control form-control-lg py-3" placeholder="Type here...">
            </div>
          </div>
        </div> 
      </div>
      <!-- Meeting Recurring Card -->
    </form>
  </div>
<% end %>

<!-- Edit Button -->
<div class="row justify-content-end ">
  <div class="col-xl-1">
    <%= button_to "Edit", nil, class: "btn btn-primary fw-bold px-5 fs-6"%>
  </div>
</div>
<!-- Edit Button -->
fs-6