<table class="table">
  <thead>
    <tr>
      <th scope="col" class="bg-primary text-white">Name</th>
      <th scope="col" class="bg-primary text-white">Email</th>
      <th scope="col" class="bg-primary text-white">Role</th>
      <th scope="col" class="bg-primary text-white"></th>
    </tr>
  </thead>
  <tbody>
    <% if @enrollment_users %>
      <% @enrollment_users.each do |user| %>
      <tr>
        <td scope="row"><%= user.full_name %></td>
        <td><%= user.email %></td>
        <td><%= user.role  %></td>
        <th scope="row">
          <%= link_to edit_user_enrollment_path(user), class: 'text-primary' do %>
            <i class="bi bi-pencil"></i>
          <% end %>
          <%= link_to delete_user_enrollment_path(user), class: 'text-danger' do %>
            <i class="bi bi-trash"></i>
          <% end %>
        </th>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<% if @enrollment_users %>
<div class="col-lg-12">
  <div class="d-flex justify-content-between bg-medium-grey rounded align-items-center py-3">
  <div class="page_info ms-3 text-black">
      <%= page_entries_info @enrollment_users %>
  </div>
  <% if params[:per_page ].present? %>
    <%= will_paginate @enrollment_users, :params =>  {per_page: @per_page }, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  <% else %>
    <%= will_paginate @enrollment_users, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  <% end %>
  </div>
</div>
<% end %>