<%= form_with url: request.url, method: :get, html: { class: 'form_search_with_icon'} do |form| %>
  <div class="">
    <input type="text" name="user_search" value="<%= params[:user_search] %>" placeholder="Search" class="form-control">
    <i class="bi bi-search"></i>
  </div>
  <% end %>
</div>
<div class="row">
  <div class="col">
    <h5>Search Result: <%= @users&.count %> records</h5>
  </div>

<table class="table mt-5">
  <thead>
    <tr>
      <th scope="col" class="bg-primary text-white">Name</th>
      <th scope="col" class="bg-primary text-white">Group</th>
      <th scope="col" class="bg-primary text-white">Role</th>
      <th scope="col" class="bg-primary text-white">Email</th>
      <th scope="col" class="bg-primary text-white">Status</th>
    </tr>
  </thead>
  <tbody>
    <% if @users %>
      <% @users.each do |user| %>
      <% next if current_user.email == user.email %>
      <% next if current_user.not_allowed_to_view?(user.user_role)%>
      <tr>
        <td scope="row"><%= user.full_name %></td>
        <td scope="row"><%= user.enrollment_groups.pluck(:group_name)&.join(",") %></td>
        <td><%= user.role  %></td>
        <td><%= user.email %></td>
        <td scope="row">
          <div class="d-flex gap-2 align-items-center">
            <%= user.status  %>
            <div class="d-flex gap-2" style="margin-left: auto;">
              <% if current_user.can_access?('Edit User') %>
                <%= link_to edit_user_path(user), class: 'btn btn-sm btn-primary' do %>
                  <i class="bi bi-pencil"></i>
                <% end %>
              <% end %>
              <% if current_user.can_access?('Delete User') %>
                <%= button_to user_path(user), method: :delete, class: 'btn btn-sm btn-danger delete-button', data: {confirm: 'Are you sure?'} do %>
                  <i class="bi bi-trash"></i>
                <% end %>
              <% end %>
            </div>
         </div>
        </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<% if @users %>
<div class="col-lg-12">
  <div class="d-flex justify-content-between bg-medium-grey rounded align-items-center py-3">
  <div class="page_info ms-3 text-black">
      <%= page_entries_info @users %>
  </div>
  <% if params[:per_page ].present? %>
    <%= will_paginate @users, :params =>  {per_page: @per_page }, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  <% else %>
    <%= will_paginate @users, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  <% end %>
  </div>
</div>
<% end %>