<div class="row mb-3">
   <div class="col-lg-12 card p-3">
      <div class="w-100 d-flex justify-content-between">
         <h3 class="text-primary">Admitting Privileges</h3>
         <a href="javascript:void(0);" class="text-black fw-semibold collapsible-trigger" data-collapse="provider_admitting_privileges">
         <i class="bi bi-sort-up rotate-180" style="font-size: 18px;"></i>
         </a>
      </div>
      <div class="w-100 collapsible" id="provider_admitting_privileges">
        <div class="row mb-1">
          <div class="col-lg-6">
              <label>Admitting Physician/Practice/Clinic/Group</label>
              <p class="text-black fw-semibold"><%= @provider.name_admitting_physician %></p>
          </div>
          <div class="col-lg-6">
              <label>Facility Name</label>
              <p class="text-black fw-semibold"><%= @provider.facility_name %></p>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col-lg-6">
              <label>Facility Location</label>
              <p class="text-black fw-semibold"><%= @provider.facility_location %></p>
          </div>
          <div class="col-lg-6">
              <label>Address Line 1</label>
              <p class="text-black fw-semibold"><%= @provider.admitting_facility_address_line1 %></p>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col-lg-6">
              <label>Address Line 2</label>
              <p class="text-black fw-semibold"><%= @provider.admitting_facility_address_line2 %></p>
          </div>
          <div class="col-lg-6">
              <label>City</label>
              <p class="text-black fw-semibold"><%= @provider.admitting_facility_city %></p>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col-lg-6">
              <label>State</label>
              <p class="text-black fw-semibold"><%= @provider.admitting_state %></p>
          </div>
          <div class="col-lg-6">
              <label>Zip Code</label>
              <p class="text-black fw-semibold"><%= @provider.admitting_facility_zip_code %></p>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col-lg-6">
              <label>Admitting Arrangements</label>
              <p class="text-black fw-semibold"><%= @provider.admitting_facility_arrangments %></p>
          </div>
        </div>
      </div>
    </div>
  </div>