<div class="row mb-3">
 <div class="col-lg-12 card p-3 mb-3">
   <div class="d-flex justify-content-between">
      <h3 class="text-primary">Board Certifications</h3>
       <a href="javascript:void(0);" class="text-black fw-semibold collapsible-trigger" data-collapse="board_certifications">
         <i class="bi bi-sort-up rotate-180" style="font-size: 18px;"></i>
         </a>
    </div>     
<% @provider.board_certifications.each do |board|%>
 <div class="w-100 collapsible" id="board_certifications">
<div class="row mb-1">
   <div class="col-lg-6">
      <label>Board Name</label>
      <p class="text-black fw-semibold"><%= board.bc_board_name%></p>
   </div>
   <div class="col-lg-6">
      <label>Certification Number</label>
      <p class="text-black fw-semibold"><%= board.bc_certification_number%></p>
   </div>
   <div class="col-lg-6">
      <label>Effective Date</label>
      <p class="text-black fw-semibold"> <%= board.bc_effective_date&.strftime('%B %d, %Y')%> </p>
   </div>
   <div class="col-lg-6">
      <label>Re-Certification Date</label>
      <p class="text-black fw-semibold"><%= board.bc_recertification_date&.strftime('%B %d, %Y')%></p>
   </div>
   <div class="col-lg-6">
      <label>Expiration Date</label>
      <p class="text-black fw-semibold"><%= board.bc_expiration_date&.strftime('%B %d, %Y')%></p>
   </div>
   <div class="col-lg-6">
      <label>Specialty Type</label>
      <p class="text-black fw-semibold"><%= board.bc_specialty_type%></p>
   </div>
</div>
</div>
</div>
<% end %>




