<div class="row mb-3">
   <div class="col-lg-12 card p-3">
      <div class="w-100 d-flex justify-content-between">
        <div class="d-flex gap-3 align-items-baseline">
         <h3 class="text-primary"><%= title %></h3>
         <!-- alt_enrollment_group_location_path(@enrollment_group, dco) -->
          <a href="<%= alt_enrollment_group_location_path(alt_enrollment_group_id: dco.enrollment_group_id, id: dco.id)%>" target="_blank"><h5><i class="bi bi-box-arrow-up-right"></i> see more</h5></a>
        </div>
         <a href="javascript:void(0);" class="text-black fw-semibold collapsible-trigger" data-collapse="group_dco_<%= dco.id %>">
         <i class="bi bi-sort-up rotate-180" style="font-size: 18px;"></i>
         </a>
      </div>
        <div class="w-100 collapsible" id="group_dco_<%= dco.id %>">
          <div class="row mb-1">
            <div class="col-lg-6">
                <label>Primary Location Name</label>
                <p class="text-black fw-semibold"><%= dco&.dco_name rescue nil %></p>
            </div>
            <div class="col-lg-6">
                <label>Address</label>
                <p class="text-black fw-semibold"><%= dco&.dco_address rescue nil %></p>
            </div>
          </div>
          <div class="row mb-1">
            <div class="col-lg-6">
                <label>City</label>
                <p class="text-black fw-semibold"><%= dco&.dco_city rescue nil %></p>
            </div>
            <div class="col-lg-6">
                <label>State</label>
                <p class="text-black fw-semibold"><%= dco&.state %></p>
            </div>
          </div>
          <div class="row mb-1">
            <div class="col-lg-6">
                <label>County</label>
                <p class="text-black fw-semibold"><%= dco&.county %></p>
            </div>
            <div class="col-lg-6">
                <label>Zip Code</label>
                <p class="text-black fw-semibold"><%= dco&.dco_zipcode rescue nil %></p>
            </div>
          </div>
      </div>
    </div>
  </div>



