<div class="card rounded shadow-lg py-2 px-3 mb-3">
    <% if @provider.fullname %>
      <h2 class="text-center my-2"><%= @provider.fullname %></h2>
    <% end %>

   <h3 class="text-center">Missing Documents</h3>
   <%= form_for @provider, url: provider_path(@provider) , method: :put do |f|%>
   <%= hidden_field_tag :from_notifications, 'true'%>
   <% @provider&.required_documents.each do |doc|%>
   <% doc_url = @provider.doc_url(doc[1]) %>
   <% if doc_url.nil? %>
   <div class="form-group mb-2">
      <label class="text-dark-grey"><%= doc[0]%></label>
      <%= f.file_field doc[1].to_sym, class: 'form-control'%>
   </div>
   <% end %>
   <% end %>
   <div class="form-group mt-3">
      <%= f.submit "Submit", class: "btn btn-primary btn-md w-100" %>
   </div>
   <% end %>
</div>
