<div class="card rounded shadow-lg py-2 px-3 mb-3">
    <% if @provider&.fullname %>
      <h2 class="text-center my-2"><%= @provider&.fullname %></h2>
    <% end %>

   <h3 class="text-center">Missing Documents</h3>
   <%= form_for @provider, html: { multipart: true, id: 'provider-form' } do |f|%>
   <%= hidden_field_tag :from_notifications, 'true'%>
   <% @provider&.required_documents.each do |doc|%>
   <% doc_url = @provider.doc_url(doc[1]) %>
   <% if doc_url.blank? %>
   <div class="form-group mb-2">
      <%= HtmlUtils.multiple_file_uploads model: f.object, input_field_name: doc[1] %>
   </div>
   <% end %>
   <% end %>
   <div class="form-group mt-3">
      <%= f.submit "Submit", class: "btn btn-primary btn-md w-100" %>
   </div>
   <% end %>
</div>
