<div class="row mb-3">
   <div class="col-lg-12 card p-3">
      <div class="w-100 d-flex justify-content-between">
         <h3 class="text-primary">Practitioner Personal Information</h3>
         <a href="javascript:void(0);" class="text-black fw-semibold collapsible-trigger" data-collapse="provider_info">
         <i class="bi bi-sort-up rotate-180" style="font-size: 18px;"></i>
         </a>
      </div>
      <div class="w-100 collapsible" id="provider_info">
         <div class="row mb-1">
            <div class="col-lg-6">
               <label>Notification of New Provider</label>
               <p class="text-black fw-semibold"><%= @provider.new_provider_notification&.strftime('%B %d, %Y') %></p>
            </div>
            <div class="col-lg-6">
               <label>Start Date</label>
               <p class="text-black fw-semibold"><%= @provider.notification_start_date&.strftime('%B %d, %Y') %></p>
            </div>
         </div>
         <div class="row mb-1">
            <div class="col-lg-6">
               <label>Welcome Letter Sent</label>
               <p class="text-black fw-semibold"><%= @provider.welcome_letter_sent&.strftime('%B %d, %Y') %></p>
            </div>
            <div class="col-lg-6">
               <label>Notification to begin submitting Enrollment</label>
               <p class="text-black fw-semibold"><%= @provider.notification_enrollment_submit&.strftime('%B %d, %Y') %></p>
            </div>
         </div>
         <div class="row mb-1">
            <div class="col-lg-6">
               <label>Services</label>
               <p class="text-black fw-semibold"><%= @provider.notification_services&.split(',')&.map { |val| provider_notification_services.to_h.key(val) }&.join(", ") rescue nil%></p>
            </div>
            <% if current_setting.qualifacts? %>
               <span class="col-lg-6">
                  <input type="checkbox" name="rcm_only" id="rcm_only" value="true">
                  <small>Rcm only</small>
               </span>
            <%end%>
         </div>
         <div class="row mb-1">
            <div class="col-lg-6">
               <label>Status</label>
               <p class="text-black fw-semibold"><%= provider_statuses.to_h.key(@provider.status) %></p>
            </div>
            <div class="col-lg-6 <%= @provider.status == 'inactive-termed' ? '' : 'd-none'%>">
               <label>Work End Date</label>
               <p class="text-black fw-semibold"><%= @provider&.end_date&.to_date&.strftime('%B %d, %Y') rescue nil %></p>
            </div>
         </div>

         <div class="row mb-1">
            <div class="col-lg-6">
               <label>Name</label>
               <p class="text-black fw-semibold"><%= "#{@provider.first_name} #{@provider.middle_name} #{@provider.last_name} #{@provider.suffix}" %></p>
            </div>
            <div class="col-lg-6">
               <label>Gender</label>
               <p class="text-black fw-semibold"><%= @provider.gender&.upcase %></p>
            </div>
         </div>
         <!--  <div class="row mb-1">
            <div class="col-lg-6">
               <label>Name</label>
               <p class="text-black fw-semibold">Name</p>
            </div>
            <div class="col-lg-6">
               <label>Gender</label>
               <p class="text-black fw-semibold">Name</p>
            </div>
            </div> -->
         <div class="row mb-1">
            <div class="col-lg-6">
               <label>SSN</label>
               <p class="text-black fw-semibold"><%= @provider&.ssn %></p>
            </div>
            <div class="col-lg-6">
               <label>Date of Birth</label>
               <p class="text-black fw-semibold"><%= @provider&.birth_date&.strftime('%B %d, %Y') %></p>
            </div>
            <div class="col-lg-6">
               <label>Birth City</label>
               <p class="text-black fw-semibold"><%= @provider.birth_city %></p>
            </div>
            <div class="col-lg-6">
               <label>Birth State</label>
               <p class="text-black fw-semibold"><%= @provider&.selected_birth_state&.name %></p>
            </div>
         </div>
         <div class="row mb-1">
            <div class="col-lg-6">
               <label>Address Line 1</label>
               <p class="text-black fw-semibold"><%= @provider.address_line_1 %></p>
            </div>
            <div class="col-lg-6">
               <label>Address Line 2</label>
               <p class="text-black fw-semibold"><%= @provider.address_line_2 %></p>
            </div>
         </div>
         <div class="row mb-1">
            <div class="col-lg-6">
               <label>City</label>
               <p class="text-black fw-semibold"><%= @provider.city %></p>
            </div>
            <div class="col-lg-6">
               <label>State</label>
               <p class="text-black fw-semibold"><%= @provider.state&.name %></p>
            </div>
         </div>
         <div class="row mb-1">
            <div class="col-lg-6">
               <label>Zip Code</label>
               <p class="text-black fw-semibold"><%= @provider.zip_code %></p>
            </div>
            <div class="col-lg-6">
               <label>Phone Number</label>
               <p class="text-black fw-semibold"><%= @provider&.formatted_phone %></p>
            </div>
         </div>
         <div class="row mb-1">
            <div class="col-lg-6">
               <label>Email Address</label>
               <p class="text-black fw-semibold"><%= @provider.email_address %></p>
            </div>
            <div class="col-lg-6">
               <label>Practitioner Type</label>
               <p class="text-black fw-semibold"><%= @provider.practitioner_type %></p>
            </div>
         </div>
         <div class="row mb-1">
            <div class="col-lg-6">
               <label>Taxonomy Code</label>
               <p class="text-black fw-semibold"><%= @provider.taxonomy %></p>
            </div>
            <div class="col-lg-6">
               <label>Specialty</label>
               <p class="text-black fw-semibold"><%= @provider.specialty %></p>
            </div>
         </div>
         <div class="row mb-1">

            <div class="col-lg-6">
               <label>Provider Type Effective Date</label>
               <p class="text-black fw-semibold">
                 <%= @provider&.provider_effective_date&.strftime('%B %d, %Y') %>
               </p>
            </div>
            <div class="col-lg-6">
               <label>Effective date of provider seeing patients</label>
               <p class="text-black fw-semibold"><%= @provider.effective_date_seeing_patient&.strftime('%B %d, %Y') %></p>
            </div>
         </div>
         <div class="row mb-1"><!-- 
            <div class="col-lg-6">
               <label>Are you employed by other groups or facilities?</label>
               <p class="text-black fw-semibold"><%#= @provider.employed_by_other&.upcase %></p>
            </div> -->
            <div class="col-lg-6">
               <label>Hire date of provider seeing patients</label>
               <p class="text-black fw-semibold"><%= @provider.provider_hire_date_seeing_patient&.strftime('%B %d, %Y') %></p>
            </div>
         </div>
         <div class="row mb-1">
            <div class="col-lg-6">
               <label>Does the provider require to work under a supervising licensed psychologist?</label>
               <p class="text-black fw-semibold"><%= @provider.supervised_by_psychologist&.upcase %></p>
            </div>
<!--             <div class="col-lg-6">
               <label>Have you gone recently through revalidation with any payer?</label>
               <p class="text-black fw-semibold"><%#= @provider.revalidation&.upcase %></p>
            </div> -->
         </div>
        <div class="row mb-1">
          <div class="col-lg-6">
              <label>NPI</label>
              <p class="text-black fw-semibold"><%= @provider&.npi %></p>
          </div>
        </div>
      </div>
   </div>
</div>
<script>
document.addEventListener("DOMContentLoaded", function() {
    var checkbox = document.getElementById("rcm_only");
    var providerId = <%= @provider.id %>; // Include the provider ID dynamically
    var csrfToken = document.querySelector('meta[name="csrf-token"]').content; // Fetch CSRF token from meta tags
    
    checkbox.addEventListener("change", function() {
        var isChecked = this.checked;
         
        // Send AJAX request to update RCM only field in database
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/providers/" + providerId + "/update-rcm-only", true); // Include the provider ID in the URL
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.setRequestHeader("X-CSRF-Token", csrfToken); // Include CSRF token in the request headers
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                console.log("RCM only field updated successfully!");
            }
        };
        xhr.send(JSON.stringify({ provider_id: providerId, rcm_only: isChecked }));
    });
});
</script>
