<div class="row mb-3">
   <div class="col-lg-12 card p-3">
      <div class="w-100 d-flex justify-content-between">
         <h3 class="text-primary">Professional/Medical School</h3>
         <a href="javascript:void(0);" class="text-black fw-semibold collapsible-trigger" data-collapse="provider_prof_med_school">
         <i class="bi bi-sort-up rotate-180" style="font-size: 18px;"></i>
         </a>
      </div>
      <div class="w-100 collapsible" id="provider_prof_med_school">
        <div class="row mb-1">
          <div class="col-lg-6">
            <label>Name of U.S./Canadian School</label>
            <p class="text-black fw-semibold"><%= @provider&.medical_school_name%></p>
          </div>
          <div class="col-lg-6">
            <label>Start Date</label>
            <p class="text-black fw-semibold"><%= @provider&.prof_medical_start_date&.strftime('%B %d, %Y') %></p>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col-lg-6">
            <label>End(Graduation) Date</label>
            <p class="text-black fw-semibold"><%= @provider&.graduation_date&.strftime('%B %d, %Y') %></p>
          </div>
          <div class="col-lg-6">
            <label>Did you complete your graduate education at this school?</label>
            <p class="text-black fw-semibold"><%= @provider&.medical_license&.titleize %></p>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col-lg-6">
            <label>Degree Awarded</label>
            <p class="text-black fw-semibold"><%= @provider&.prof_medical_school_degree_awarded %></p>
          </div>
        </div>
      </div>
    </div>
  </div>