<tr>
   <td  class="bg-medium-grey">
      <%= link_to "#{@provider&.last_name}", "javascript:void(0);", class: 'text-dark-grey' %>
   </td>
   <td  class="bg-medium-grey">
      <%= link_to "#{@provider&.first_name}", "javascript:void(0);", class: 'text-dark-grey' %>
   </td>
   <td  class="bg-medium-grey">
      <%= link_to "#{@provider&.middle_name}", "javascript:void(0);", class: 'text-dark-grey' %>
   </td>
   <td  class="bg-medium-grey">
      <%= link_to "#{@provider&.practitioner}", "javascript:void(0);", class: 'text-dark-grey' %>
   </td>
   <td  class="bg-medium-grey">
      <%= link_to "#{@provider&.client&.group_name}", "javascript:void(0);", class: 'text-dark-grey' %>
   </td>
   <td  class="bg-medium-grey">
      <%= link_to "#{@provider&.status&.titleize rescue nil}", "javascript:void(0);", class: 'text-dark-grey' %>
   </td>
</tr>
