<form>

  <div id="office_contact_info">
    <div class="row my-3">
      <div class="col-lg-12">
        <h3 class="mb-0 text-secondary">Office Manager/Business Office Contact</h3>
        <hr class="mt-1">
      </div>
      <div class="col-lg-12 mb-3">
        <label>Please list your Office Manager/Business Office Contact for this practice location</label>
      </div>
      <div class="col-lg-12">
        <label>
          <input type="checkbox" name="contact_am_contact_person">
          <strong>I am the contact person for office related matters</strong>
        </label>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-lg-12">
        <h4 class="text-secondary">Office Manager/Business Office Contact Name</h4>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-lg-6">
        <label>First Name *</label>
        <input type="text" name="contact_office_first_name" required class="form-control">
      </div>
      <div class="col-lg-6">
        <label>Last Name *</label>
        <input type="text" name="contact_office_last_name" required class="form-control">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-lg-6">
        <label>Address Line 1 *</label>
        <input type="text" name="contact_office_address_line_1" required class="form-control">
      </div>
      <div class="col-lg-6">
        <label>Address Line 2</label>
        <input type="text" name="contact_office_address_line_2" class="form-control">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-lg-6">
        <label>City *</label>
        <input type="text" name="contact_office_city" required class="form-control">
      </div>
      <div class="col-lg-6">
        <label>State *</label>
          <select required class="form-select" name="contact_office_state" required>
            <option value="">State *</option>
            <% @states.each do |state| %>
              <option value="<%= state.name %>"><%= state.name %></option>
            <% end %>
          </select>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-lg-6">
        <label>Zip Code *</label>
        <input type="text" name="contact_office_zip_code" required class="form-control">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-lg-6">
        <label>Telephone Number *</label>
        <input type="text" name="contact_office_telephone_number" required class="form-control">
      </div>
      <div class="col-lg-6">
        <label>Mobile Number</label>
        <input type="text" name="contact_office_mobile_number" class="form-control">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-lg-6">
        <label>Fax Number</label>
        <input type="text" name="contact_office_fax_number" required class="form-control">
      </div>
      <div class="col-lg-6">
        <label>Email Address</label>
        <input type="text" name="contact_office_email" required class="form-control">
      </div>
    </div>
  </div>
  <div id="billing_contact_info">
    
    <div class="row mb-3">
      <div class="col-lg-12">
        <h3 class="mb-0 text-secondary">Billing Contact</h3>
        <hr class="mt-1">
      </div>

      <div class="col-lg-12">
        <label>
          <input type="checkbox" name="contact_am_contact_person">
          <strong>Same as Office Manager/Business Office Contact</strong>
        </label>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-lg-12">
        <h4 class="text-secondary">Billing Contact Name</h4>
      </div>
    </div>
    </div>
    <div class="row mb-3">
      <div class="col-lg-6">
        <label>First Name</label>
        <input type="text" name="contact_billing_first_name" class="form-control">
      </div>
      <div class="col-lg-6">
        <label>Last Name</label>
        <input type="text" name="contact_billing_last_name" class="form-control">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-lg-6">
        <label>Address Line 1 *</label>
        <input type="text" name="contact_billing_address_line_1" required class="form-control">
      </div>
      <div class="col-lg-6">
        <label>Address Line 2</label>
        <input type="text" name="contact_billing_address_line_2" class="form-control">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-lg-6">
        <label>City *</label>
        <input type="text" name="contact_billing_city" required class="form-control">
      </div>
      <div class="col-lg-6">
        <label>State *</label>
          <select required class="form-select" name="contact_billing_state" required>
            <option value="">State *</option>
            <% @states.each do |state| %>
              <option value="<%= state.name %>"><%= state.name %></option>
            <% end %>
          </select>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-lg-6">
        <label>Zip Code *</label>
        <input type="text" name="contact_billing_zip_code" required class="form-control">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-lg-6">
        <label>Telephone Number *</label>
        <input type="text" name="contact_billing_telephone_number" class="form-control">
      </div>
      <div class="col-lg-6">
        <label>Mobile Number</label>
        <input type="text" name="contact_billing_mobile_number" class="form-control">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-lg-6">
        <label>Fax Number</label>
        <input type="text" name="contact_billing_fax_number" class="form-control">
      </div>
      <div class="col-lg-6">
        <label>Billing Email Address</label>
        <input type="text" name="contact_billing_email" class="form-control">
      </div>
    </div>
<div class="row mb-3">
   <div class="col-lg-12 mb-3">
      <div class="d-flex align-items-center my-3">
         <button type="button" class="btn btn-xs btn-toggle has-to-show to-change-value" data-tochange="contact_electronice_remittance_capability" data-toshow="interpreter_languages" data-toggle="button" aria-pressed="false" autocomplete="off">
            <div class="handle"></div>
         </button>
         <span class="ms-2">Do you have electronic billing capability?</span>
      </div>
      <input type="hidden" value="no" name="contact_electronice_remittance_capability">
   </div>
</div>
  </div>

   <div id="remittance_contact_info">
    
    <div class="row mb-3">
      <div class="col-lg-12">
        <h3 class="mb-0 text-secondary">Remittance Contact</h3>
        <hr class="mt-1">
      </div>

      <div class="col-lg-12">
        <label>
          <input type="checkbox" name="contact_am_contact_person">
          <strong>Same as Billing Contact</strong>
        </label>
      </div>

      <div class="col-lg-12">
        <label>
          <input type="checkbox" name="contact_am_contact_person">
          <strong>Same as Office Manager/Business Office Contact</strong>
        </label>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-lg-12">
        <h4 class="text-secondary">Remittance Contact Name</h4>
      </div>
    </div>
    </div>
    <div class="row mb-3">
      <div class="col-lg-6">
        <label>First Name</label>
        <input type="text" name="contact_remittance_first_name" class="form-control">
      </div>
      <div class="col-lg-6">
        <label>Last Name</label>
        <input type="text" name="contact_remittance_last_name" class="form-control">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-lg-6">
        <label>Address Line 1</label>
        <input type="text" name="contact_remittance_address_line_1" class="form-control">
      </div>
      <div class="col-lg-6">
        <label>Address Line 2</label>
        <input type="text" name="contact_remittance_address_line_2" class="form-control">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-lg-6">
        <label>City *</label>
        <input type="text" name="contact_remittance_city"  class="form-control">
      </div>
      <div class="col-lg-6">
        <label>State</label>
          <select class="form-select" name="contact_remittance_state">
            <option value="">State</option>
            <% @states.each do |state| %>
              <option value="<%= state.name %>"><%= state.name %></option>
            <% end %>
          </select>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-lg-6">
        <label>Zip Code</label>
        <input type="text" name="contact_remittance_zip_code" class="form-control">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-lg-6">
        <label>Telephone Number</label>
        <input type="text" name="contact_remittance_telephone_number" class="form-control">
      </div>
      <div class="col-lg-6">
        <label>Mobile Number</label>
        <input type="text" name="contact_remittance_mobile_number" class="form-control">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-lg-6">
        <label>Fax Number</label>
        <input type="text" name="contact_remittance_fax_number" class="form-control">
      </div>
      <div class="col-lg-6">
        <label>Remittance Email Address</label>
        <input type="text" name="contact_remittance_email" class="form-control">
      </div>
    </div>
    <div class="row mb-3">
   <div class="col-lg-12 d-flex justify-content-end">
      <button class="btn btn-primary btn-md">Save & Next</button>
   </div>
</div>
  </div>
</form>