<form>
<div class="col-lg-12 my-3">
   <div class="row mb-3">
      <div class="col-lg-9">
         <label class="text-dark-grey">Primary Group/Practice Name/Affilation (as you would like it to appear in a directory) <span class="text-danger">*</span></label>
         <input type="text" name="practice_name" class="form-control">
      </div>
      <div class="col-lg-3">
         <label class="text-dark-grey">Is Primary Location?</label>
         <div class="form-group">
            <label class="text-dark-grey">
            <input type="radio" value="yes" name="practice_primary_location">
            Yes
            </label>
            <label class="text-dark-grey">
            <input type="radio" value="no" name="practice_primary_location">
            No
            </label>
         </div>
      </div>
   </div>
   <div class="row mb-3">
      <div class="col-lg-6">
         <label class="text-dark-grey">Address Line 1 <span class="text-danger">*</span></label>
         <input type="text" required name="practice_address_line_1" class="form-control">
      </div>
      <div class="col-lg-6">
         <label class="text-dark-grey">Address Line 2 </label>
         <input type="text" name="practice_address_line_2" class="form-control">
      </div>
   </div>
   <div class="row mb-3">
      <div class="col-lg-6">
         <label class="text-dark-grey">City <span class="text-danger">*</span></label>
         <input type="text" required name="practice_city" class="form-control">
      </div>
      <div class="col-lg-6">
         <label class="text-dark-grey">Country</label>
         <input type="text" name="practice_county" class="form-control">
      </div>
   </div>
   <div class="row mb-3">
      <div class="col-lg-6">
         <%= HtmlUtils::dropdown name: 'dco_state', label: 'State <span class="text-danger"> *</span>' %>
      </div>
      <div class="col-lg-6">
         <label class="text-dark-grey">Zip Code <span class="text-danger">*</span></label>
         <input type="text" name="practice_zip_code" class="form-control">
      </div>
   </div>
   <div class="row mb-3">
      <div class="col-lg-4">
         <label class="text-dark-grey">Telephone Number <span class="text-danger">*</span></label>
         <input type="text" name="practice_telephone_number" class="form-control">
      </div>
      <div class="col-lg-2">
         <label class="text-dark-grey">Ext</label>
         <input type="text" name="practice_telephone_ext" class="form-control">
      </div>
      <div class="col-lg-4">
         <label class="text-dark-grey">Fax Number </label>
         <input type="text" name="practice_fax_number" class="form-control">
      </div>
   </div>
   <div class="row mb-3">
      <div class="col-lg-12 d-flex justify-content-between align-items-center mb-3">
         <label class="text-dark-grey">Do you offer Telehealth?</label>
         <div>
            <label class="text-dark-grey">
            <input type="radio" value="yes" name="offer_telehealth">
            Yes
            </label>
            <label class="text-dark-grey">
            <input type="radio" value="no" name="offer_telehealth">
            No
            </label>
            <label class="text-dark-grey">
            <input type="radio" value="n/a" name="offer_telehealth">
            N/A
            </label>
         </div>
      </div>
      <div class="col-lg-12 d-flex justify-content-between align-items-center mb-3">
         <label class="text-dark-grey">Are you exclusively Telehealth?</label>
         <div>
            <label class="text-dark-grey">
            <input type="radio" value="yes" name="practice_exclusive_telehealth">
            Yes
            </label>
            <label class="text-dark-grey">
            <input type="radio" value="no" name="practice_exclusive_telehealth">
            No
            </label>
            <label class="text-dark-grey">
            <input type="radio" value="n/a" name="practice_exclusive_telehealth">
            N/A
            </label>
         </div>
      </div>
      <div class="col-lg-12 d-flex justify-content-between align-items-center mb-3">
         <label class="text-dark-grey">If Telehealth?</label>
         <div>
            <label class="text-dark-grey">
            <input type="radio" value="Audio" name="practice_telehealth">
            Audio
            </label>
            <label class="text-dark-grey">
            <input type="radio" value="Visual" name="practice_telehealth">
            Visual
            </label>
            <label class="text-dark-grey">
            <input type="radio" value="Both" name="practice_telehealth">
            Both
            </label>
            <label class="text-dark-grey">
            <input type="radio" value="n/a" name="practice_telehealth">
            N/A
            </label>
         </div>
      </div>
   </div>
   <div class="row mb-3">
      <div class="col-lg-12">
         <h3 class="mb-3">Practice Type <span class="text-danger"> *</span></h3>
      </div>
      <% @practice_types.each do |ptype|%>
      <div class="col-lg-3 p-1">
         <label class="text-dark-grey">
         <input type="radio" name="practice_type" required value="<%= ptype.id %>">
         <%= ptype.name %>
         </label>
      </div>
      <% end %>
   </div>
   <div class="row mb-3">
      <div class="col-lg-12">
         <h3 class="mb-3">Practitioner Profile <span class="text-danger"> *</span></h3>
      </div>
      <% @profiles.each do |profile|%>
      <div class="col-lg-3 p-1">
         <label class="text-dark-grey">
         <input type="checkbox" name="practice_practitioner_profiles_<%= profile.id %>" value="<%= profile.id %>">
         <%= profile.name %>
         </label>
      </div>
      <% end %>
   </div>
   <div class="row mb-3">
      <div class="col-lg-12">
         <label class="text-dark-grey">Group/Corporate Name as it appears on W-9, if different from Physician Group/Practice Name </label>
         <input type="text" name="practice_name_on_w-9" class="form-control">
      </div>
   </div>
   <div class="row mb-3">
      <div class="col-lg-6">
         <label class="text-dark-grey">Tax ID | 
         <span>
         <input type="checkbox" name="practice_primay_tax_id">
         Primary Tax ID?
         </span>
         </label>
         <input type="text" name="practice_tax_id" class="form-control">
      </div>
      <div class="col-lg-6">
         <label class="text-dark-grey">Type of Tax ID <span class="text-danger">*</span></label>
         <select required name="practice_type_tax_id" class="form-select border-dark">
            <option value="Group">Group</option>
            <option value="Individule">Individual</option>
            <option value="Unknown">Unknown</option>
         </select>
      </div>
   </div>
   <div class="row mb-3">
      <div class="col-lg-12">
         <label class="text-dark-grey">Name Affiliated with Tax ID</label>
         <input type="text" name="practice_name_affiliated_tax_id" class="form-control">
      </div>
   </div>
   <div class="row mb-3">
      <div class="col-lg-12 mb-3">
         <div class="d-flex align-items-center my-3">
         <%= HtmlUtils.radio_toggle name: 'group_npi_field',
            label: 'Do you have Group NPI Number for this location? <span class="text-danger"> *</span>',
            toshow: 'group_npi_fields',
            hidden_field: true
          %>
      </div>
      <div class="col-lg-12 <%=toggle_hide('has_practice_group_npi')%>" id="group_npi_fields">
         <div class="row">
            <div class="col-lg-6">
               <label class="text-dark-grey">Group NPI Number <span class="text-danger">*</span></label>
               <input type="text" name="practice_group_npi" class="form-control">
            </div>
            <div class="col-lg-6">
               <label class="text-dark-grey">Group NPI Number Effective Date</label>
               <input type="text" name="practice_group_npi" class="form-control" onfocus="(this.type = 'date')">
            </div>
         </div>
      </div>
   </div>
   <div class="row mb-3">
      <div class="col-lg-6">
         <label class="text-dark-grey">Group Medicare Number</label>
         <input type="text" name="practice_group_medicare_number" class="form-control">
      </div>
      <div class="col-lg-6">
         <label class="text-dark-grey">Date you saw your first Medicare patient at this location</label>
         <input type="text" name="practice_first_medicate_patient" class="form-control" onfocus="(this.type = 'date')">
      </div>
   </div>
   <div class="row">
      <div class="col-lg-12 d-flex justify-content-end">
         <button class="btn btn-primary btn-md">Save & Next</button>
      </div>
   </div>
</div>
</form>