<form>
<div class="col-lg-12 my-3">
   <div class="row mb-3">
      <div class="col-lg-9">
         <label>Primary Group/Practice Name/Affilation (as you would like it to appear in a directory) *</label>
         <input type="text" name="practice_name" class="form-control">
      </div>
      <div class="col-lg-3">
         <label>Is Primary Location?</label>
         <div class="form-group">
            <label>
            <input type="radio" value="yes" name="practice_primary_location">
            Yes
            </label>
            <label>
            <input type="radio" value="no" name="practice_primary_location">
            No
            </label>
         </div>
      </div>
   </div>
   <div class="row mb-3">
      <div class="col-lg-6">
         <label>Address Line 1 *</label>
         <input type="text" required name="practice_address_line_1" class="form-control">
      </div>
      <div class="col-lg-6">
         <label>Address Line 2 </label>
         <input type="text" name="practice_address_line_2" class="form-control">
      </div>
   </div>
   <div class="row mb-3">
      <div class="col-lg-6">
         <label>City *</label>
         <input type="text" required name="practice_city" class="form-control">
      </div>
      <div class="col-lg-6">
         <label>County</label>
         <input type="text" name="practice_county" class="form-control">
      </div>
   </div>
   <div class="row mb-3">
      <div class="col-lg-6">
         <label>State *</label>
         <select class="form-select" name="dco_state" required>
            <option>State *</option>
            <% @states.each do |state|%>
            <option value="<%= state.name %>"><%= state.name %></option>
            <% end %>
         </select>
      </div>
      <div class="col-lg-6">
         <label>Zip Code *</label>
         <input type="text" name="practice_zip_code" class="form-control">
      </div>
   </div>
   <div class="row mb-3">
      <div class="col-lg-4">
         <label>Telephone Number *</label>
         <input type="text" name="practice_telephone_number" class="form-control">
      </div>
      <div class="col-lg-2">
         <label>Ext</label>
         <input type="text" name="practice_telephone_ext" class="form-control">
      </div>
      <div class="col-lg-4">
         <label>Fax Number </label>
         <input type="text" name="practice_fax_number" class="form-control">
      </div>
   </div>
   <div class="row mb-3">
      <div class="col-lg-12 d-flex justify-content-between align-items-center mb-3">
         <label>Do you offer Telehealth?</label>
         <div>
            <label>
            <input type="radio" value="yes" name="practice_telehealth">
            Yes
            </label>
            <label>
            <input type="radio" value="no" name="practice_telehealth">
            No
            </label>
            <label>
            <input type="radio" value="n/a" name="practice_telehealth">
            N/A
            </label>
         </div>
      </div>
      <div class="col-lg-12 d-flex justify-content-between align-items-center mb-3">
         <label>Are you exclusively Telehealth?</label>
         <div>
            <label>
            <input type="radio" value="yes" name="practice_exclusive_telehealth">
            Yes
            </label>
            <label>
            <input type="radio" value="no" name="practice_exclusive_telehealth">
            No
            </label>
            <label>
            <input type="radio" value="n/a" name="practice_exclusive_telehealth">
            N/A
            </label>
         </div>
      </div>
      <div class="col-lg-12 d-flex justify-content-between align-items-center mb-3">
         <label>If Telehealth?</label>
         <div>
            <label>
            <input type="radio" value="Audio" name="practice_exclusive_telehealth">
            Audio
            </label>
            <label>
            <input type="radio" value="Visual" name="practice_exclusive_telehealth">
            Visual
            </label>
            <label>
            <input type="radio" value="Both" name="practice_exclusive_telehealth">
            Both
            </label>
            <label>
            <input type="radio" value="n/a" name="practice_exclusive_telehealth">
            N/A
            </label>
         </div>
      </div>
   </div>
   <div class="row mb-3">
      <div class="col-lg-12">
         <h3 class="mb-3">Practice Type *</h3>
      </div>
      <% @practice_types.each do |ptype|%>
      <div class="col-lg-3 p-1">
         <label>
         <input type="radio" name="practice_type" required value="<%= ptype.id %>">
         <%= ptype.name %>
         </label>
      </div>
      <% end %>
   </div>
   <div class="row mb-3">
      <div class="col-lg-12">
         <h3 class="mb-3">Practitioner Profile *</h3>
      </div>
      <% @profiles.each do |profile|%>
      <div class="col-lg-3 p-1">
         <label>
         <input type="checkbox" name="practice_practitioner_profiles" value="<%= profile.id %>">
         <%= profile.name %>
         </label>
      </div>
      <% end %>
   </div>
   <div class="row mb-3">
      <div class="col-lg-12">
         <label>Group/Corporate Name as it appears on W-9, if different from Physician Group/Practice Name </label>
         <input type="text" name="practice_name_on_w-9" class="form-control">
      </div>
   </div>
   <div class="row mb-3">
      <div class="col-lg-6">
         <label>Tax ID | 
         <span>
         <input type="checkbox" name="practice_primay_tax_id">
         Primary Tax ID?
         </span>
         </label>
         <input type="text" name="practice_tax_id" class="form-control">
      </div>
      <div class="col-lg-6">
         <label>Type of Tax ID *</label>
         <select required name="practice_type_tax_id" class="form-select">
            <option value="Group">Group</option>
            <option value="Individule">Individual</option>
            <option value="Unknown">Unknown</option>
         </select>
      </div>
   </div>
   <div class="row mb-3">
      <div class="col-lg-12">
         <label>Name Affiliated with Tax ID</label>
         <input type="text" name="practice_name_affiliated_tax_id" class="form-control">
      </div>
   </div>
   <div class="row mb-3">
      <div class="col-lg-12 mb-3">
         <div class="d-flex align-items-center my-3">
            <button type="button" class="btn btn-xs btn-toggle has-to-show to-change-value" data-tochange="has_practice_group_npi" data-toshow="group_npi_fields" data-toggle="button" aria-pressed="false" autocomplete="off">
               <div class="handle"></div>
            </button>
            <span class="ms-2">Do you have Group NPI Number for this location? *</span>
         </div>
         <input type="hidden" value="no" name="has_practice_group_npi">
      </div>
      <div class="col-lg-12 d-none" id="group_npi_fields">
         <div class="row">
            <div class="col-lg-6">
               <label>Group NPI Number *</label>
               <input type="text" name="practice_group_npi" class="form-control">
            </div>
            <div class="col-lg-6">
               <label>Group NPI Number Effective Date</label>
               <input type="text" name="practice_group_npi" class="form-control" onfocus="(this.type = 'date')">
            </div>
         </div>
      </div>
   </div>
   <div class="row mb-3">
      <div class="col-lg-6">
         <label>Group Medicare Number</label>
         <input type="text" name="practice_group_medicare_number" class="form-control">
      </div>
      <div class="col-lg-6">
         <label>Date you saw your first Medicare patient at this location</label>
         <input type="text" name="practice_first_medicate_patient" class="form-control" onfocus="(this.type = 'date')">
      </div>
   </div>
   <div class="row">
      <div class="col-lg-12 d-flex justify-content-end">
         <button class="btn btn-primary btn-md">Save & Next</button>
      </div>
   </div>
</div>
</form>