<form>
<div class="row my-3">
   <div class="col-lg-6">
      <div class="d-flex align-items-center">
         <span class="ms-2">Do you have any partners/associates at this location? *</span>
      </div>
   </div>
   <div class="col-lg-6 d-flex justify-content-end">
     <div class="d-flex gap-2">
          <%= HtmlUtils.radio_toggle name: 'practice_partner',
            label: '',
            toshow: 'practice_partners',
            hidden_field: true
          %>
        </div>
   </div>
</div>

<div id="practice_partners" class="<%= toggle_hide('practice_partner') %>">
  <div class="row mb-3">
     <div class="col-lg-4">
      <label class="text-dark-grey">First Name *</label>
        <input type="text" class="form-control" required name="practice_partners_first_name">
      </div>
     <div class="col-lg-2">
      <label class="text-dark-grey">Middle Name</label>
        <input type="text" class="form-control" name="practice_partners_middle_name">
      </div>
     <div class="col-lg-6">
      <label class="text-dark-grey">Last Name *</label>
        <input type="text" class="form-control" required name="practice_partners_last_name">
      </div>
  </div>
  <div class="row mb-3">
     <div class="col-lg-6">
      <label class="text-dark-grey">Practitioner Degree  *</label>
        <input type="text" class="form-control" required name="practice_partners_degree">
      </div>
     <div class="col-lg-6">
      <label class="text-dark-grey">NPI Number </label>
        <input type="text" class="form-control" name="practice_partners_npi_number">
      </div>
  </div>

  <div class="row mb-3">
    <div class="col-lg-6">
      <label class="text-dark-grey">Specialty *</label>
      <select class="form-select border-dark" name="practice_partners_specialty" required>
        <% specialties.each do |specialty|%>
          <option value="<%= specialty.bcbs%>"><%= specialty.bcbs %></option>
        <% end %>
      </select>
    </div>
    <div class="col-lg-6">
      <label class="text-dark-grey">Primary License State *</label>
      <select class="form-select border-dark" name="practice_partners_state" required>
          <% @states.each do |state| %>
            <option value="<%= state.name %>"><%= state.name %></option>
          <% end %>
      </select>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-lg-12">
      <label class="text-dark-grey">Primary License Number</label>
      <input type="text" class="form-control" name="practice_partners_license_number">
    </div>
  </div>
<div class="row mb-3">
   <div class="col-lg-12 mb-3">
      <div class="d-flex align-items-center my-3">
        <%= HtmlUtils.radio_toggle name: 'practice_partners_cover',
          label: 'Does this partner/associate cover for you?',
          hidden_field: true
        %>
   </div>
</div>

<div class="row mb-3">
     <!-- <div class="col-lg-12 d-flex justify-content-end">
      <button class="btn btn-primary btn-md">Save & Next</button>
   </div> -->
</div>
</div>
</form>