<form>
<div class="row my-3">
   <div class="col-lg-12">
      <div class="row mb-3">
         <div class="col-lg-12">
            <div class="alert alert-info">
               Please select your start and end time for each day. If your office closes part of the day (e.g., closed for lunch), please select Split Day and enter the hours your practice is closed in the row marked Closed.
            </div>
         </div>
      </div>
      <div class="row mb-3">
         <% days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']%>
         <div class="col-lg-12">
            <% days.each do |day|%>
            <div class="row mb-3 d-flex align-items-center">
               <div class="col-lg-1 p-0">
                  <%= day %>
               </div>
               <div class="col-lg-3 p-0 <%= day.downcase %>_hour_from_and_to_container">
                  <div class="d-flex align-items-center gap">
                     <input type="time" name="<%= day.downcase %>_practice_hours_from" class="<%= day.downcase %>_practice_hours_from form-control">
                     <label class="mx-2">to</label>
                     <input type="time" name="<%= day.downcase %>_practice_hours_to" class="<%= day.downcase %>_practice_hours_to form-control">
                  </div>
               </div>
               <div class="col-lg-1 <%="#{day.downcase}_copy_dropdown_container"%>" style="max-width: 50px;">
                  <div class="dropdown" data-toggle="tooltip" data-placement="top" title="Copy hours">
                     <a class="navbar-dropdown-account-wrapper <%= day.downcase %>_copy_dropdown" href="javascript:;" id="accountNavbarDropdown" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside" data-bs-dropdown-animation>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-copy" viewBox="0 0 16 16">
                           <path fill-rule="evenodd" d="M4 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 5a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1h1v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h1v1z"/>
                        </svg>
                     </a>
                     <div class="dropdown-menu dropdown-checkbox-copy-hours dropdown-menu-end navbar-dropdown-menu navbar-dropdown-menu-borderless navbar-dropdown-account p-0" aria-labelledby="accountNavbarDropdown" style="width: 200px;border:1px solid #09a5be;">
                        <div class="dropdown-item-text m-0 text-center pt-3 text-bold" style="line-height:0;">
                           <p class="m-0" style="line-height:0;">Copy hours to another day</p>
                        </div>
                        <div class="dropdown-divider" style="border-color:#09a5be!important;"></div>
                        <label class="text-dark-grey w-100 px-2 py-1">
                           <input type="checkbox" id="<%= day.downcase %>_practice_hours_apply_to_all" class="copy_hour_checkbox no-auto-save" autocomplete="off">
                           All
                        </label>
                        <% days.each do |_day|%>
                           <label class="text-dark-grey w-100 px-2 py-1">
                              <input type="checkbox" id="<%= day.downcase %>_practice_hours_apply_to_<%= _day.downcase %>" autocomplete="off" class="copy_hour_checkbox no-auto-save" <%= _day.downcase == day.downcase ? 'disabled' : ''%>>
                              <%= _day %>
                           </label>
                        <% end %>
                     </div>
                  </div>
               </div>
               <div class="col-lg-2 p-0 <%="#{day.downcase}_open_24_hour_container"%>" style="max-width: 150px;">
                  <div class="form-check">
                     <input type="checkbox" class="open_24_hours no-auto-save <%= day.downcase %>_open_24_hour" id="<%= day.downcase %>_open_24_hour">
                     <label class="form-check-label" for=<%="#{day.downcase}-open-24-hour"%>>
                        Open 24-Hours
                     </label>
                  </div>
               </div>
               <div class="col-lg-2 p-0">
                  <div class="form-check">
                     <input type="checkbox" name="<%= day.downcase %>_by_appointment_only" class="<%= day.downcase %>_by_appointment_only">
                     <label class="form-check-label" for=<%="#{day.downcase}-by-appointment-only"%>>
                        By Appointment Only
                     </label>
                  </div>
               </div>
               <div class="col-lg-4 <%= day.downcase %>_by_appointment_only_phone_container d-none">
                  <label class="text-dark-grey">Appointment Phone</label>
                  <input type="number" name="<%= day.downcase %>_by_appointment_only_phone" class="form-control">
               </div>
               <div class="col-lg-4 <%= day.downcase %>_by_appointment_only_email_container d-none">
                  <label class="text-dark-grey">Appointment Email</label>
                  <input type="email" name="<%= day.downcase %>_by_appointment_only_email" class="form-control">
               </div>
               <div class="col-lg-1 p-0 <%="#{day.downcase}_practice_hours_split_day_container"%>">
                  <label class="text-dark-grey">
                  <input type="checkbox" name="practice_hours_split_day_<%= day %>" class="<%= day.downcase %>_practice_hours_split_day" id="practice_hours_split_day_<%= day.downcase %>">
                     Split Day
                  </label>
               </div>
               <div class="col-lg-1">
                  <label class="text-dark-grey">
                  <input type="checkbox" class="<%= day.downcase %>_practice_hours_closed" name="practice_hours_closed_<%= day %>" id="practice_hours_closed_<%= day.downcase %>">
                  Closed
                  </label>
               </div>
            </div>
            <% end %>
         </div>
      </div>
      <div class="row mb-3">
         <div class="col-lg-12">
            <label class="text-dark-grey">Comments</label>
            <textarea name="practice_comments" class="form-control border-dark" rows="8"></textarea>
         </div>
      </div>
      <div class="row mb-3">
         <div class="col-lg-12 mb-2">
            <label class="text-dark-grey">Patient Appointment Telephone Number (if different than listed practice telephone number)</label>
         </div>
         <div class="col-lg-4">
            <label class="text-dark-grey">Phone</label>
            <input type="text" name="practice_patient_phone" class="form-control">
         </div>
         <div class="col-lg-2">
            <label class="text-dark-grey">Ext</label>
            <input type="text" name="practice_patient_phone_ext" class="form-control">
         </div>
      </div>
      <div class="row mb-3">
         <div class="col-lg-12 mb-3">
            <div class="d-flex align-items-center my-3">
            <%= HtmlUtils.radio_toggle name: 'phone_coverage_field',
                  label: 'Does this location have 24 hours/7 days per week telephone coverage?  <span style="color: red;">*</span>',
                  toshow: 'phone_coverage_fields',
                  hidden_field: true
               %>
            </div>
         </div>
      </div>

      <div class="row mb-3 d-none <%= toggle_hide('phone_coverage_field')%> " id="phone_coverage_fields">
        <div class="col-lg-6">
          <label class="text-dark-grey">Telephone Coverage Type</label>
          <select class="form-select border-dark" name="practice_phone_coverage_type">
              <option selected="selected" value=""></option>
              <option value="Answering Service">Answering Service</option>
              <option value="Voice Mail to Answering Service">Voice Mail to Answering Service</option>
              <option value="Voice Mail Other">Voice Mail Other</option>
          </select>
        </div>
        <div class="col-lg-4">
          <label class="text-dark-grey">After Hours Telephone Number</label>
          <input type="text" name="practice_after_hour_phone_number" class="form-control">
        </div>
        <div class="col-lg-2">
          <label class="text-dark-grey">Ext</label>
          <input type="text" name="practice_after_hour_phone_number_ext" class="form-control">
        </div>
      </div>
      <div class="row">
         <div class="col-lg-12 d-flex justify-content-end">
            <%= link_to "Save & Next", provider_engage_path(component: 'patient_acceptance', page: 'practice_location'), class: "btn btn-primary btn-md" %>
         </div>
      </div>
   </div>
</div>
</form>

<script>
   var dropdown = $('.dropdown-checkbox-copy-hours');
   $(document).click(function(e){
      if (!$(e.target).closest('.dropdown-checkbox-copy-hours').length ) {
         $('.copy_hour_checkbox').removeAttr('checked')
      }
   });
   $(document).ready(function() {
      const days = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday']

      $('.open_24_hours').change((e) => {
         if($(e.target).is(':checked')){
            var id = e.target.id.split("_")
            console.log(id)
            var day = id.shift()
            $(`.${day}_practice_hours_from`).val("00:00")
            $(`.${day}_practice_hours_to`).val("00:00")
            $(`.${day}_practice_hours_from, .${day}_practice_hours_to`).trigger("change");
         }
      })

      $('.copy_hour_checkbox').change((e) => {
         if($(e.target).is(':checked')){
            var id = e.target.id.split("_")
            var copy_from = id[0]
            var copy_to = id.pop()
            var copy_from_from_value = $(`.${copy_from}_practice_hours_from`).val()
            console.log(copy_from_from_value)
            var copy_from_to_value = $(`.${copy_from}_practice_hours_to`).val()
            if(copy_to == "all"){
               for (let i = 0; i < days.length; i++) {
                  var copy_to_id = id.join("_") + `_${days[i]}`
                  $(`.${days[i]}_practice_hours_from`).val(copy_from_from_value)
                  $(`.${days[i]}_practice_hours_to`).val(copy_from_to_value)
                  $(`.${days[i]}_practice_hours_from, .${days[i]}_practice_hours_to`).trigger("change");
               }
            } else {
               $(`.${copy_to}_practice_hours_from`).val(copy_from_from_value)
               $(`.${copy_to}_practice_hours_to`).val(copy_from_to_value)
               $(`.${copy_to}_practice_hours_from, .${copy_to}_practice_hours_to`).trigger("change");
            }
         }
      })
   });
</script>