<form>
<div class="row my-3">
   <div class="col-lg-12">
      <%= HtmlUtils.radio_toggle name: 'practice_laboratory_services',
         label: 'Do you provide laboratory services at this location? *',
         hidden_field: true
      %>
   </div>
</div>
<div class="row mb-3">
   <div class="col-lg-12">
      <%= HtmlUtils.radio_toggle name: 'practice_clia_waiver',
         label: 'Does this location have a CLIA Waiver?',
         hidden_field: true
      %>
   </div>
</div>
<div class="row mb-3">
   <div class="col-lg-12">
      <%= HtmlUtils.radio_toggle name: 'practice_clia_certificate',
         label: 'Does this location have a CLIA Certificate?',
         hidden_field: true
      %>
   </div>
</div>
<div class="row mb-3">
   <div class="col-lg-12 mb-3">
      <%= HtmlUtils.radio_toggle name: 'practice_clia_radiology',
         label: 'Does this location have a CLIA Certificate?',
         hidden_field: true
      %>
   </div>
</div>


<div class="row mb-3">
   <div class="col-lg-12 mb-3">
    <label class="text-dark-grey">FDA/Radiology (Mammography) Certification Number for this location: </label>
    <input type="text" name="practice_fda_radiology" class="form-control">
    </div>
</div>

<div class="row mb-3">
  <div class="col-lg-12 px-0 mb-3">
    <label class="text-dark-grey">Please select all services offered at this location</label>
  </div>
  <% @services.each do |service|%>
    <div class="col-lg-4 p-1">
      <label class="text-dark-grey">
        <input type="checkbox" name="services[]" value="<%= service.id %>">
        <%= service.name %>
      </label>
    </div>
  <% end %>
</div>

<div class="row mb-3">
   <div class="col-lg-12 mb-3">
      <%= HtmlUtils.radio_toggle name: 'practice_administered_anesthesia',
         label: 'Is anesthesia administered at this location?',
         hidden_field: true
      %>
   </div>
</div>

<div class="row mb-3 d-none" id="anesthesia_fields">
   <div class="col-lg-12 mb-3">
      <label class="text-dark-grey">Class/Category</label>
      <div class="d-flex gap-2">
         <input type="text" name="" class="form-control" id="practice_anesthesia_class">
         <a href="javascript:void(0);" class="btn btn-md btn-primary add-text-readonly" style="width: 200px;" id="add_foreign_language_interprets" data-takefrom="practice_anesthesia_class" data-putin="add_practice_anesthesia_class">Add</a>
      </div>
   </div>
   <div class="col-lg-12 mb-3">
      <div class="d-flex gap-2">
         <input type="text" name="practice_staff_foreign_laguages" id="add_practice_anesthesia_class" class="form-control" readonly>
         <a href="javascript:void(0);" class="btn btn-md btn-danger remove-text-from-readonly" style="width: 200px;" id="remove_last_foreign_language_interprets" data-removefrom="add_practice_anesthesia_class">Remove</a>
      </div>
   </div>
</div>

<div class="row mb-3">
  <div class="col-lg-12">
    <label class="text-dark-grey">Please list any additional procedures provided at this location (including surgical procedures)</label>
    <textarea class="form-control" name="practice_additional_procedures">

    </textarea>
  </div>
</div>

<div class="row mb-3">
     <!-- <div class="col-lg-12 d-flex justify-content-end">
      <button class="btn btn-primary btn-md">Save & Next</button>
   </div> -->
</div>
</form>