
      <h3 class="text-primary">CAQH</h3>
      <div class="row mb-1">
        <div class="col-lg-6">
            <label>CAQH ID</label>
            <p class="text-black fw-semibold"><%= @provider&.caqhid %></p>
        </div>
        <div class="col-lg-6">
            <label>CAQH Attestation Date</label>
            <p class="text-black fw-semibold"><%= @provider&.caqh_attestation_date&.strftime('%B %d, %Y') %></p>
        </div>
      </div>
      <div class="row mb-1">
        <div class="col-lg-6">
            <label>CAQH PDF Date Received</label>
            <p class="text-black fw-semibold"><%= @provider&.caqh_pdf_date_received&.strftime('%B %d, %Y') %></p>
        </div>
        <div class="col-lg-6">
            <label>CAQH Username</label>
            <p class="text-black fw-semibold"><%= @provider&.caqh_username %></p>
        </div>
      </div>
      <div class="row mb-1">
        <div class="col-lg-6">
            <label>CAQH State</label>
            <p class="text-black fw-semibold"><%= @provider&.caqh_state %></p>
        </div>
        <div class="col-lg-6">
            <label>CAQH Password</label>
            <p class="text-black fw-semibold"><%= @provider&.caqh_password %></p>
        </div>
      </div>
      <% if current_setting.qualifacts? %>
       <div class="row mb-1">
        <div class="col-lg-6">
            <label>Re-Attestation must be completed by</label>
            <p class="text-black fw-semibold"><%= @provider&.caqh_reattest_completed_by %></p>
        </div>
        <div class="col-lg-6">
            <label>Current Re-Attestation</label>
            <p class="text-black fw-semibold"><%= @provider&.caqh_current_reattestation_date&.strftime('%B %d, %Y') %></p>
        </div>
      </div>
     <div class="row mb-1">
        <div class="col-lg-6">
            <label>CAQH Questions</label>
            <p class="text-black fw-semibold"><%= @provider&.caqh_question %></p>
        </div>
        <div class="col-lg-6">
            <label>CAQH Answer</label>
            <p class="text-black fw-semibold"><%= @provider&.caqh_answer %></p>
        </div>
      </div>
     <div class="row mb-1">
        <div class="col-lg-6">
            <label>CAQH PDF</label>
            <p class="text-black fw-semibold"><%= @provider&.caqh_pdf&.upcase %></p>
        </div>
        <div class="col-lg-6">
            <label>CAQH Notes</label>
            <p class="text-black fw-semibold"><%= @provider&.caqh_notes %></p>
        </div>
      </div>
      <% end %>