<div class="row mb-3">
   <div class="col-lg-12 card p-3">
      <div class="w-100 d-flex justify-content-between">
         <h3 class="text-primary">Professional Liability Insurance</h3>
         <a href="javascript:void(0);" class="text-black fw-semibold collapsible-trigger" data-collapse="liability_insurance">
         <i class="bi bi-sort-up rotate-180" style="font-size: 18px;"></i>
         </a>
      </div>
        <div class="w-100 collapsible" id="liability_insurance">
          <div class="row mb-1">
            <div class="col-lg-6">
                <label>Carrier or Self-Insured Name</label>
                <p class="text-black fw-semibold"><%= @provider&.prof_liability_carrier_name%></p>
            </div>
            <div class="col-lg-6">
                <label>Self-Insured?</label>
                <p class="text-black fw-semibold"><%= @provider&.prof_liability_self_insured&.titleize %></p>
            </div>
          </div>
          <div class="row mb-1">
            <div class="col-lg-6">
                <label>Address</label>
                <p class="text-black fw-semibold"><%= @provider&.prof_liability_address%></p>
            </div>
            <div class="col-lg-6">
                <label>City</label>
                <p class="text-black fw-semibold"><%= @provider&.prof_liability_city%></p>
            </div>
          </div>
          <div class="row mb-1">
            <div class="col-lg-6">
                <label>State</label>
                <p class="text-black fw-semibold"><%= @provider&.prof_liability_state&.name %></p>
            </div>
            <div class="col-lg-6">
                <label>Zip Code</label>
                <p class="text-black fw-semibold"><%= @provider&.prof_liability_zipcode %></p>
            </div>
          </div>
          <div class="row mb-1">
            <div class="col-lg-6">
                <label>Original Effective Date</label>
                <p class="text-black fw-semibold"><%= @provider&.prof_liability_orig_effective_date&.to_date&.strftime('%B %d, %Y') %></p>
            </div>
            <div class="col-lg-6">
                <label>Effective Date</label>
                <p class="text-black fw-semibold"><%= @provider&.prof_liability_effective_date&.to_date&.strftime('%B %d, %Y') %></p>
            </div>
          </div>
          <div class="row mb-1">
            <div class="col-lg-6">
                <label>Expiration Date</label>
                <p class="text-black fw-semibold"><%= @provider&.prof_liability_expiration_date&.to_date&.strftime('%B %d, %Y') %></p>
            </div>
            <div class="col-lg-6">
                <label>Type of Coverage</label>
                <p class="text-black fw-semibold"><%= @provider&.prof_liability_coverage_type&.titleize %></p>
            </div>
          </div>
          <div class="row mb-1">
            <div class="col-lg-6">
                <label>Do you have unlimited coverage with this insurance carrier?</label>
                <p class="text-black fw-semibold"><%= @provider&.prof_liability_unlimited_coverage&.titleize %></p>
            </div>
            <div class="col-lg-6">
                <label>Policy includes tail coverage?</label>
                <p class="text-black fw-semibold"><%= @provider&.prof_liability_tail_coverage&.titleize %></p>
            </div>
          </div>
          <div class="row mb-1">
            <div class="col-lg-6">
                <label>Amount of coverage per occurrence</label>
                <p class="text-black fw-semibold"><%= @provider&.prof_liability_coverage_amount %></p>
            </div>
            <div class="col-lg-6">
                <label>Amount of coverage aggregate</label>
                <p class="text-black fw-semibold"><%= @provider&.prof_liability_coverage_amount_aggregate %></p>
            </div>
          </div>
          <div class="row mb-1">
            <div class="col-lg-6">
                <label>Policy Number</label>
                <p class="text-black fw-semibold"><%= @provider&.prof_liability_policy_number%></p>
            </div>
          </div>
        </div>
      </div>
    </div>

  <div class="row mb-3">
    <div class="col-lg-12 card p-3">
      <div class="w-100 d-flex justify-content-between">
         <h3 class="text-primary">Disclosure Questions</h3>
         <a href="javascript:void(0);" class="text-black fw-semibold collapsible-trigger" data-collapse="disclosure_questions">
         <i class="bi bi-sort-up rotate-180" style="font-size: 18px;"></i>
         </a>
      </div>
      <div class="w-100 collapsible" id="disclosure_questions">
          <div class="row mb-1">
            <label>
              1. Has your license to practice in your profession ever been denied, suspended, revoked, restricted, voluntarily surrendered, 
              or have you ever been subject to a consent order, probation, or any conditions or limitations by any state licensing board?*
            </label>
                <p class="text-black fw-semibold"><%= @provider&.disclosure_question1%></p>
          </div>
          <div class="row mb-1">
            <label>
              2.Have you ever received a reprimand or been fined by any state licensing board?*
            </label>
                <p class="text-black fw-semibold"><%= @provider&.disclosure_question2%></p>
          </div>
          <div class="row mb-1">
            <label>
              3. Have your clinical privileges at any hospital or healthcare institution ever been denied, suspended, revoked, restricted, denied
              renewal or subject to probationary or to other disciplinary conditions (for reasons other than non-completion of medical records
              when quality of care was not adversely affected) or have proceedings toward any of those ends been instituted or recommended
              by any hospital or healthcare institution, medical staff or committee, or governing board?*
            </label>
                <p class="text-black fw-semibold"><%= @provider&.disclosure_question3%></p>
          </div>
          <div class="row mb-1">
            <label>
            4.Have you voluntarily surrendered, limited your privileges or not reapplied for privileges?*
            </label>
                <p class="text-black fw-semibold"><%= @provider&.disclosure_question4%></p>
          </div>
          <div class="row mb-1">
            <label>
              5. Have you ever been terminated for cause or not renewed for cause from participation, or been subject to any disciplinary action,
                  by any managed care organizations (including HMOs, PPOs, or provider organizations such as IPAs, PHOs)?*
            </label>
                <p class="text-black fw-semibold"><%= @provider&.disclosure_question5%></p>
          </div>
          <div class="row mb-1">
             <label>
              6. Were you ever placed on probation, disciplined, formally reprimanded, suspended or asked to resign during an internship, resi-
                  dency, fellowship, preceptorship or other clinical education program? If you are currently in a training program, have you been
                  placed on probation, disciplined, formally reprimanded, suspended or asked to resign?*
            </label>
                <p class="text-black fw-semibold"><%= @provider&.disclosure_question6%></p>
          </div>
          <div class="row mb-1">
             <label>
                7. Have you ever, while under investigation, voluntarily withdrawn or prematurely terminated your status as a student or employee
                in any internship, residency, fellowship, preceptorship, or other clinical education program?
            </label>
                <p class="text-black fw-semibold"><%= @provider&.disclosure_question7%></p>
          </div>
          <div class="row mb-1">
             <label>
              8. Have any of your board certifications or eligibility ever been revoked?*
            </label>
                <p class="text-black fw-semibold"><%= @provider&.disclosure_question8%></p>
          </div>
          <div class="row mb-1">
            <label>
                9.Have you ever chosen not to re-certify or voluntarily surrendered your board certification(s) while under investigation?*
            </label>
                <p class="text-black fw-semibold"><%= @provider&.disclosure_question9%></p>
          </div>
          <div class="row mb-1">
            <label>
            10. Have your Federal DEA and/or State Controlled Dangerous Substances (CDS) certificate(s) or authorization(s) ever been
                denied, suspended, revoked, restricted, denied renewal, or voluntarily relinquished?*
            </label>
                <p class="text-black fw-semibold"><%= @provider&.disclosure_question10%></p>
          </div>
          <div class="row mb-1">
            <label>
            11. Have you ever been disciplined, excluded from, debarred, suspended, reprimanded, sanctioned, censured, disqualified or other-
              wise restricted in regard to participation in the Medicare or Medicaid program, or in regard to other federal or state governmental
              healthcare plans or programs?*
            </label>
                <p class="text-black fw-semibold"><%= @provider&.disclosure_question11%></p>
          </div>
          <div class="row mb-1">
           <label>
              12. Are you currently or have you ever been the subject of an investigation within the last ten years by any hospital, licensing
                  NO authority, DEA or CDS authorizing entities, education or training program, Medicare or Medicaid program, or any other pri-
                  vate, federal or state health program?*
            </label>
                <p class="text-black fw-semibold"><%= @provider&.disclosure_question12%></p>
          </div>
          <div class="row mb-1">
            <label>
              13. To your knowledge, has information pertaining to you ever been reported to the National Practitioner Data Bank or Healthcare
                  Integrity and Protection Data Bank?*
            </label>
                <p class="text-black fw-semibold"><%= @provider&.disclosure_question13%></p>
          </div>
          <div class="row mb-1">
             <label>
              14. Have you ever received sanctions from or been the subject of investigation within the last ten years by any regulatory agencies
                  (e.g., CLIA, OSHA, etc.)?*
            </label>
                <p class="text-black fw-semibold"><%= @provider&.disclosure_question14%></p>
          </div>
          <div class="row mb-1">
             <label>
              15. Have you ever been convicted of, pled guilty to, pled nolo contendere to, sanctioned, reprimanded, restricted, disciplined or
                  resigned in exchange for no investigation or adverse action within the last ten years for sexual harassment or other illegal
                  misconduct?
            </label>
                <p class="text-black fw-semibold"><%= @provider&.disclosure_question15%></p>
          </div>
          <div class="row mb-1">
            <label>
              16. Have you ever been investigated, sanctioned, reprimanded or cautioned within the last ten years by a military hospital, facility, or
                  agency, or voluntarily terminated or resigned while under investigation within the last ten years by a hospital or healthcare facility
                  of any military agency?*
            </label>
                <p class="text-black fw-semibold"><%= @provider&.disclosure_question16%></p>
          </div>
          <div class="row mb-1">
            <label>
              17. Has your professional liability coverage ever been cancelled, restricted, declined or not renewed by the carrier based on your
                  individual liability history?*
            </label>
                <p class="text-black fw-semibold"><%= @provider&.disclosure_question17%></p>
          </div>
          <div class="row mb-1">
             <label>
              18.Have you ever been assessed a surcharge, or rated in a high-risk class for your specialty, by your professional liability insurance
                carrier, based on your individual liability history?
            </label>
                <p class="text-black fw-semibold"><%= @provider&.disclosure_question18%></p>
          </div>
          <div class="row mb-1">
               <label>
              19. Have you ever had any malpractice actions (pending, settled, dropped, dismissed, arbitrated, mediated or litigated)?*
                  If yes, you must complete a Supplemental Malpractice Claims History Explanation Form that was included with your
                  application materials. Use one form for each malpractice case
            </label>
                <p class="text-black fw-semibold"><%= @provider&.disclosure_question19%></p>
          </div>
          <div class="row mb-1">
            <label>
              20. Have you ever been convicted of, pled guilty to, or pled nolo contendere to any felony in the last ten years or been found
                  iable or responsible for or named as a defendant in any civil offense that is reasonably related to your qualifications, compe-
                  tence, functions, or duties as a medical professional?
            </label>
                <p class="text-black fw-semibold"><%= @provider&.disclosure_question20%></p>
          </div>
          <div class="row mb-1">
            <label>
              21. Have you ever been convicted of, pled guilty to, or pled nolo contendere to any felony in the last ten years or been found liable
                  or responsible for or been named as a defendant in any civil offense that alleged fraud, an act of violence, child abuse or a sex -
                  ual offense or sexual misconduct?*
            </label>
                <p class="text-black fw-semibold"><%= @provider&.disclosure_question21%></p>
          </div>
          <div class="row mb-1">
             <label>
              22. Have you ever been court-martialed for actions related to your duties as a medical professional?*
            </label>
                <p class="text-black fw-semibold"><%= @provider&.disclosure_question22%></p>
          </div>
          <div class="row mb-1">
             <label>
              23. Are you currently engaged in the illegal use of drugs?*
                ("Currently" means sufficiently recent to justify a reasonable belief that the use of drugs may have an ongoing impact on
                one's ability to practice medicine. It is not limited to the day of, or within a matter of days or weeks before the date of appli-
                cation, rather that it has occurred recently enough to indicate the individual is actively engaged in such conduct. "Illegal use
                of drugs" refers to drugs whose possession or distribution is unlawful under the Controlled Substances Act, 21 U.S.C. ยง
                812.22. It "does not include the use of a drug taken under supervision by a licensed health care professional, or other uses
                authorized by the Controlled Substances Act or other provision of Federal law." The term does include, however, the unlawful
                use of prescription controlled substances.)
            </label>
                <p class="text-black fw-semibold"><%= @provider&.disclosure_question23%></p>
          </div>
          <div class="row mb-1">
             <label>
              24. Do you use any chemical substances that would in any way impair or limit your ability to practice medicine and perform the func-
                  tions of your job with reasonable skill and safety?*
            </label>
                <p class="text-black fw-semibold"><%= @provider&.disclosure_question24%></p>
          </div>
          <div class="row mb-1">
             <label>
                  25. Do you have any reason to believe that you would pose a risk to the safety or well being of your patients?*
            </label>
                <p class="text-black fw-semibold"><%= @provider&.disclosure_question25%></p>
          </div>
          <div class="row mb-1">
            <label>
                26. Are you unable to perform the essential functions of a practitioner in your area of practice even with reasonable accommodation?*
            </label>
                <p class="text-black fw-semibold"><%= @provider&.disclosure_question26%></p>
          </div>
      </div>
    <div>
  </div>
  