<h3 class="text-primary">MN Medicaid</h3>
<% @provider.mn_medicaids.each do |mn_medicaid|%>
<div class="row mb-1">
   <div class="col-lg-6">
      <label>MN Medicaid Number</label>
      <p class="text-black fw-semibold"><%= mn_medicaid.mn_medicaid_number %></p>
   </div>
   <div class="col-lg-6">
      <label>MN Medicaid Portal Username</label>
      <p class="text-black fw-semibold"><%= mn_medicaid.mn_medicaid_username %></p>
   </div>
</div>
<div class="row mb-1">
   <div class="col-lg-6">
      <label>MN Medicaid Portal Password</label>
      <p class="text-black fw-semibold"><%= mn_medicaid.password %></p>
   </div>
   <div class="col-lg-6">
      <label>MN Medicaid Security Question</label>
      <p class="text-black fw-semibold"><%= mn_medicaid.question %></p>
   </div>
</div>
<div class="row mb-1">
   <div class="col-lg-6">
      <label>MN Medicaid Security Answer</label>
      <p class="text-black fw-semibold"><%= mn_medicaid.answer %></p>
   </div>
</div>
<% end %>
<% if @provider.mn_medicaids.blank? %>
<div class="row mb-1">
   <div class="col-lg-12">
      <label>No MN Medicaid to show</label>
   </div>
</div>
<% end %>
