<h3 class="text-primary">Registered Nurse License</h3>
<% @provider.rn_licenses.each do |rn_license|%>
<div class="row mb-1">
   <div class="col-lg-6">
      <label>RN License Number</label>
      <p class="text-black fw-semibold"><%= rn_license&.rn_license_number %></p>
   </div>
   <div class="col-lg-6">
      <label>RN Original License Issue Date</label>
      <p class="text-black fw-semibold"><%= rn_license&.rn_license_effective_date&.strftime('%B %d, %Y') %></p>
   </div>
</div>

<div class="row mb-1">
   <div class="col-lg-6">
      <label>RN License State</label>
      <p class="text-black fw-semibold"><%= rn_license&.state&.name rescue nil %></p>
   </div>
   <div class="col-lg-6">
      <label>RN License Renewal (Current Effective) Date</label>
      <p class="text-black fw-semibold"><%= rn_license&.rn_license_renewal_effective_date&.to_date&.strftime('%B %d, %Y') rescue nil %></p>
   </div>
</div>
<div class="row mb-1">
   <div class="col-lg-6">
      <label>RN License Expiration Date</label>
      <p class="text-black fw-semibold"><%= rn_license&.rn_license_expiration_date&.strftime('%B %d, %Y') %></p>
   </div>
   <div class="col-lg-6">
      <label>Explain if you do not have RN License Number(required if no RN Number)</label>
      <p class="text-black fw-semibold"><%= rn_license&.no_rn_license %></p>
   </div>
</div>
<% end %>
<% if @provider.rn_licenses.blank? %>
<div class="row mb-1">
   <div class="col-lg-12">
      <label>No RN License record to show</label>
   </div>
</div>
<% end %>