<h3 class="text-primary">State License</h3>

<% @provider&.licenses.each_with_index do |license, indx| %>
   <div class="mb-2 <%= "border-bottom-dash" if indx < @provider&.licenses.length - 1 %>">
      <div class="row mb-1">
         <div class="col-lg-6">
            <label>State License Number</label>
            <p class="text-black fw-semibold"><%= license.license_number %></p>
         </div>
         <div class="col-lg-6">
            <label>State License Original Issue Date</label>
            <p class="text-black fw-semibold"><%= license.license_effective_date&.strftime('%B %d, %Y') %></p>
         </div>
         <div class="col-lg-6">
            <label>State License State</label>
            <p class="text-black fw-semibold"><%= license.state&.name %></p>
         </div>
         <div class="col-lg-6">
            <label>State License Renewal (Current Effective) Date</label>
            <p class="text-black fw-semibold"><%= license.license_state_renewal_date&.to_date&.strftime('%B %d, %Y') rescue nil %></p>
         </div>
         <div class="col-lg-6">
            <label>State License Expiration Date</label>
            <p class="text-black fw-semibold"><%= license.license_expiration_date&.strftime('%B %d, %Y') %></p>
         </div>
         <div class="col-lg-6">
            <label>Explain if you do not have State License Number(required if no State License Number)</label>
            <p class="text-black fw-semibold"><%= license.no_state_license%></p>
         </div>
         <div class="col-lg-6">
            <label>License Type</label>
            <p class="text-black fw-semibold"><%= license.license_type%></p>
         </div>
      </div>
   </div>
<% end %>


