<h3 class="text-primary">WI Medicaid/Forward Health</h3>
<% @provider.wi_medicaids.each do |wi_medicaid|%>
<div class="row mb-1">
   <div class="col-lg-6">
      <label>WI Medicaid/Forward Health</label>
      <p class="text-black fw-semibold"><%= wi_medicaid&.wi_medicaid %></p>
   </div>
   <div class="col-lg-6">
      <label>Username</label>
      <p class="text-black fw-semibold"><%= wi_medicaid&.wi_medicaid_username %></p>
   </div>
</div>
<div class="row mb-1">
   <div class="col-lg-6">
      <label>Password</label>
      <p class="text-black fw-semibold"><%= wi_medicaid&.password %></p>
   </div>
   <div class="col-lg-6">
      <label>Security Question</label>
      <p class="text-black fw-semibold"><%= wi_medicaid&.question %></p>
   </div>
</div>
<div class="row mb-1">
   <div class="col-lg-6">
      <label>Security Answer</label>
      <p class="text-black fw-semibold"><%= wi_medicaid&.answer %></p>
   </div>
   <div class="col-lg-6">
      <label>WI Medicaid/Forward Health Notes</label>
      <p class="text-black fw-semibold"><%= wi_medicaid&.notes %></p>
   </div>
</div>
<% end %>
<% if @provider.wi_medicaids.blank? %>
<div class="row mb-1">
   <div class="col-lg-12">
      <label>No WI Medicaid to show</label>
   </div>
</div>
<% end %>
