<div class="content container-fluid">
   <%= render partial: "verification_platform/encompass_nav"%>
</div>   
<div class="enc-content">
   <div class="container-fluid">
      <div class="row">
         <div class="col-xl-3">
            <%= render partial: "verification_platform/encompass_sidebar"%>
         </div>
         <div class="col-xl-9">
            <%= render "work_ticker_nav"%>
            <table class="table table-bordered practice-table mt-3">
               <thead>
                  <tr>
                     <th  class="text-white" scope="col">No.</th>
                     <th class="text-white">Enrollment Work Tickler</th>
                  </tr>
               </thead>
               <tbody>
                  <button id="backToTopBtn" class="btn-back-to-top"><i class="fa-solid fa-arrow-up"></i></button>
                  <tr>
                     <td>1</td>
                     <td>
                        <%= link_to 'Practitioner Not Enrolled', enrollment_work_tickler_page_path %>
                     </td>
                  </tr>
                  <tr>
                     <td>2</td>
                     <td>
                        <%= link_to 'Sent to Practitioner', enrollment_work_tickler_page_path %>
                     </td>
                  </tr>
                  <tr>
                     <td>3</td>
                     <td>
                        <%= link_to 'Sent to Practitioner', enrollment_work_tickler_page_path %>
                     </td>
                  </tr>
                  <tr>
                     <td>4</td>
                     <td>
                        <%= link_to 'Expiring/Expired Health Plan Contracts', enrollment_work_tickler_page_path %>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>
