<div class="content container-fluid">
   <%= render partial: "verification_platform/encompass_nav"%>
</div>
<%= render 'user_restriction', locals: { access_key: 'Work Tickler' } do %>
<div class="enc-content">
   <div class="container-fluid">
      <div class="row">
         <div class="col-xl-3">
            <%= render partial: "verification_platform/encompass_sidebar"%>
         </div>
         <div class="col-xl-9">
            <%= render "work_ticker_nav"%>
            <div class="row mt-3">
               <div class="col-md-4">
                  <%= form_with url: work_ticklers_path, method: :get, local: true do |f| %>
                     <div class="input-group mb-3 d-flex align-items-center gap-2">
                        <%= f.label :committee_date, 'Date (Committee):', class: 'form-label mb-0'%>
                        <%= f.date_field :committee_date, class: 'form-control', value: params[:committee_date], placeholder: 'Select Date' %>
                        <%= f.submit 'Search', class: 'btn btn-primary' %>
                     </div>
                  <% end %>
               </div>
            </div>
            <table class="table table-bordered practice-table mt-3">
               <thead>
                  <tr>
                     <th class="text-white" scope="col">Provider</th>
                     <th class="text-white">Action</th>
                  </tr>
               </thead>
               <tbody>
                  <button id="backToTopBtn" class="btn-back-to-top"><i class="fa-solid fa-arrow-up"></i></button>
                  <% @providers.each do |provider| %>
                     <tr>
                        <td><%= provider.provider_name %></td>
                        <td>
                           <div class="d-flex gap-2" style="float:right;">
                              <button type="button" class="btn btn-xs btn-primary" data-bs-toggle="modal" data-bs-target="#peerReview_<%= provider.peer_review&.id %>">
                                 <i class="bi bi-pencil"></i>
                                 <span>Add/Edit Review</span>
                              </button>
                              <% if current_user.can_access?('Edit Provider') %>
                                 <%= link_to edit_provider_path(provider), class: 'btn btn-xs btn-secondary' do %>
                                       <i class="bi bi-person"></i>
                                       <span>View</span>
                                 <% end %>
                              <% end %>
                           </div>
                           <% if provider.peer_review.present? %>
                              <%= render partial: 'work_ticklers/peer_review_form', locals: { provider: provider, peer_review: provider.peer_review, committee_date: provider.peer_review.committee_date, request_path: peer_review_path(provider.peer_review), request_type: :patch }%>
                           <% else %>
                              <%= render partial: 'work_ticklers/peer_review_form', locals: { provider: provider, peer_review: PeerReview.new, committee_date: params[:committee_date] || nil, request_path: peer_reviews_path, request_type: :post }%>
                           <% end %>
                        </td>
                     </tr>
                  <% end %>
               </tbody>
            </table>
            <% if @providers %>
               <div class="col-lg-12">
                  <div class="d-flex justify-content-between bg-medium-grey rounded align-items-center py-3">
                     <div class="page_info ms-3 text-black">
                        <%= page_entries_info @providers %>
                     </div>
                     <% if params[:per_page ].present? %>
                        <%= will_paginate @providers, :params =>  {per_page: @per_page }, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
                     <% else %>
                        <%= will_paginate @providers, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
                     <% end %>
                  </div>
               </div>
            <% end %>
         </div>
      </div>   
   </div>
</div>
<% end %>
