<div class="content container-fluid">
   <%= render partial: "verification_platform/encompass_nav"%>
</div>
<%= render 'user_restriction', locals: { access_key: 'Work Tickler' } do %>
<div class="enc-content">
   <div class="container-fluid">
      <div class="row">
         <div class="col-xl-3">
            <%= render partial: "verification_platform/encompass_sidebar"%>
         </div>
         <div class="col-xl-9">
            <%= render "work_ticker_nav"%>
            <table class="table table-bordered practice-table mt-3">
             <thead>
                <tr>
                   <th class="text-white" scope="col">No.</th>
                   <th class="text-white">Work Tickler</th>
                </tr>
             </thead>
             <tbody>
                <button id="backToTopBtn" class="btn-back-to-top"><i class="fa-solid fa-arrow-up"></i></button>
                <tr>
                   <td>1</td>
                   <td><%= link_to 'AHP Certification Expiring', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>2</td>
                   <td><%= link_to 'AHP Certification Expired', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>3</td>
                   <td><%= link_to 'AHP Certification Not Requested', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>4</td>
                   <td><%= link_to 'AHP Certification Requested and Not Received', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>5</td>
                   <td><%= link_to 'AHP Certification Received and Not Verified', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>6</td>
                   <td><%= link_to 'Application Incomplete', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>7</td>
                   <td><%= link_to 'Application Not Received', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>8</td>
                   <td><%= link_to 'Adverse Action', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>9</td>
                   <td><%= link_to 'Audit 1', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>10</td>
                   <td><%= link_to 'Audit 2', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>11</td>
                   <td><%= link_to 'Board Certification Expiring', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>12</td>
                   <td><%= link_to 'Board Certification Expired', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>13</td>
                   <td><%= link_to 'Board Certification Verification Not Requested', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>14</td>
                   <td><%= link_to 'Board Certification Verification Requested and Not Received', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>15</td>
                   <td><%= link_to 'Board Certification Verification Received and Not Verified', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>16</td>
                   <td><%= link_to 'Board Certification Webcrawler Discrepancy', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>17</td>
                   <td><%= link_to 'CDS Expiring', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>18</td>
                   <td><%= link_to 'CDS Expired', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>19</td>
                   <td><%= link_to 'CDS Requiring Manual Monitoring', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>20</td>
                   <td><%= link_to 'CDS Verification Not Requested', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>21</td>
                   <td><%= link_to 'CDS Verification Requested and Not Received', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>22</td>
                   <td><%= link_to 'CDS Verification Received and Not Verified', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>23</td>
                   <td><%= link_to 'CDS Webcrawler Discrepancy', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>24</td>
                   <td><%= link_to 'Covering Physician Terminated', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>25</td>
                   <td><%= link_to 'DEA Expiring', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>26</td>
                   <td><%= link_to 'DEA Expired', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>27</td>
                   <td><%= link_to 'DEA Verification Not Requested', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>28</td>
                   <td><%= link_to 'DEA Verification Requested and Not Received', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>29</td>
                   <td><%= link_to 'DEA Verification Received and Not Verified', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>30</td>
                   <td><%= link_to 'DEA Webcrawler Discrepancy', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>31</td>
                   <td><%= link_to 'ECFMG Verification Not Requested', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>32</td>
                   <td><%= link_to 'ECFMG Verification Requested and Not Received', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>33</td>
                   <td><%= link_to 'ECFMG Verification Received and Not Verified', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>34</td>
                   <td><%= link_to 'Education Verification Not Requested', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>35</td>
                   <td><%= link_to 'Education Verification Requested and Not Received', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>36</td>
                   <td><%= link_to 'Education Verification Received and Not Verified', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>37</td>
                   <td><%= link_to 'Employment/Facilities History Not Verified', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>38</td>
                   <td><%= link_to 'Employment Gap', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>39</td>
                   <td><%= link_to 'Employment History Not Requested', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>40</td>
                   <td><%= link_to 'Employment History Not Requested', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>41</td>
                   <td><%= link_to 'Employment History Verification Received and Not Verified', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>42</td>
                   <td><%= link_to 'Fee Not Paid', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>43</td>
                   <td><%= link_to 'FSMB Verification Not Requested', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>44</td>
                   <td><%= link_to 'FSMB Verification Requested and Not Received', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>45</td>
                   <td><%= link_to 'FSMB Verification Received and Not Verified', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>46</td>
                   <td><%= link_to 'EPLS Verification Not Requested', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>47</td>
                   <td><%= link_to 'EPLS Verification Requested and Not Received', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>48</td>
                   <td><%= link_to 'EPLS Verification Received and Not Verified', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>49</td>
                   <td><%= link_to 'EPLS Webcrawler Discrepancy', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>50</td>
                   <td><%= link_to 'Healthcare Facilities Affiliation Verification Not Requested', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>51</td>
                   <td><%= link_to 'Healthcare Facilities Affiliation Verification Requested and Not Received', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>52</td>
                   <td><%= link_to 'Healthcare Facilities Affiliation Verification Received and Not Verified', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>53</td>
                   <td><%= link_to 'License Expiring', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>54</td>
                   <td><%= link_to 'License Expired', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>55</td>
                   <td><%= link_to 'License Verification Not Requested', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>56</td>
                   <td><%= link_to 'License Verification Requested and Not Received', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>57</td>
                   <td><%= link_to 'License Verification Received and Not Verified', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>58</td>
                   <td><%= link_to 'MALP Verification Not Requested', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>59</td>
                   <td><%= link_to 'MALP Verification Requested and Not Received', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>60</td>
                   <td><%= link_to 'MALP Verification Received and Not Verified', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>61</td>
                   <td><%= link_to 'Malpractice Coverage Expiring', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>62</td>
                   <td><%= link_to 'Malpractice Coverage Expired', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>63</td>
                   <td><%= link_to 'Malpractice Coverage Not Requested', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>64</td>
                   <td><%= link_to 'Malpractice Coverage Requested and Not Received', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>65</td>
                   <td><%= link_to 'Malpractice Coverage Received and Not Verified', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>66</td>
                   <td><%= link_to 'National Provider Identifier Expiring', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>67</td>
                   <td><%= link_to 'National Provider Identifier Expired', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>68</td>
                   <td><%= link_to 'National Provider Identifier Not Requested', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>69</td>
                   <td><%= link_to 'National Provider Identifier Requested and Not Received', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>70</td>
                   <td><%= link_to 'National Provider Identifier Received and Not Verified', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>71</td>
                   <td><%= link_to 'National Provider Identifier Webcrawler Discrepancy', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>72</td>
                   <td><%= link_to 'New License Not Received', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>73</td>
                   <td><%= link_to 'OIG Verification Not Requested', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>74</td>
                   <td><%= link_to 'OIG Verification Requested and Not Received', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>75</td>
                   <td><%= link_to 'OIG Verification Received and Not Verified', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>76</td>
                   <td><%= link_to 'Professional History Verification Not Requested', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>77</td>
                   <td><%= link_to 'Professional History Verification Requested and Not Received', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>78</td>
                   <td><%= link_to 'Professional History Verification Received and Not Verified', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>79</td>
                   <td><%= link_to 'State License Verification Not Requested', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>80</td>
                   <td><%= link_to 'State License Verification Requested and Not Received', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>81</td>
                   <td><%= link_to 'State License Verification Received and Not Verified', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>82</td>
                   <td><%= link_to 'Training and Competency Verification Not Requested', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>83</td>
                   <td><%= link_to 'Training and Competency Verification Requested and Not Received', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>84</td>
                   <td><%= link_to 'Training and Competency Verification Received and Not Verified', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>85</td>
                   <td><%= link_to 'Verification of Medical History Not Requested', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>86</td>
                   <td><%= link_to 'Verification of Medical History Requested and Not Received', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>87</td>
                   <td><%= link_to 'Verification of Medical History Received and Not Verified', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>88</td>
                   <td><%= link_to 'Verification of Professional History Not Requested', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>89</td>
                   <td><%= link_to 'Verification of Professional History Requested and Not Received', work_tickler_page_path %></td>
                </tr>
                <tr>
                   <td>90</td>
                   <td><%= link_to 'Verification of Professional History Received and Not Verified', work_tickler_page_path %></td>
                </tr>
             </tbody>
          </table>

         </div>
      </div>
   </div>
</div>
<% end %>
