	<div class="row mb-3">
		<div class="col-lg-12 d-flex justify-content-end gap-2">
			<a href="javascript:void(0);" class="btn btn-md border-0 <%= enrollment_nav_active('overview')%>">Overview</a>
			<a href="<%= providers_path %>" class="btn btn-md  border-0 <%= enrollment_nav_active('providers,provider_enrollment')%>">Providers</a>
			<a href="<%= enrollments_path %>" class="btn btn-md border-0 <%= enrollment_nav_active('enrollments,new_enrollment')%>">Enrollment</a>
			<a href="<%= clients_path %>" class="btn btn-md border-0 <%= enrollment_nav_active('all_clients,provider_clients,new_dco,new_group')%>">Groups</a>
			<a href="<%= new_user_enrollments_path %>" class="btn btn-md border-0 <%= enrollment_nav_active('new_user,edit_user')%>">Users</a>
		</div>
	</div>