
                    <div class="mb-2">
                        <div class="d-flex justify-content-between gap-1">
                          <%= link_to "Query Report", query_reports_path, class: "btn enc-btn-nav w-100 #{encompass_nav_active('query_reports','index')}"%>

                          <%= link_to "Staff Directory Report", staff_directory_query_reports_path, class: "btn enc-btn-nav w-100 #{encompass_nav_active('query_reports','staff_directory')}"%>


                          <%= link_to "Provider Directory", provider_directory_query_reports_path, class: "btn enc-btn-nav w-100 #{encompass_nav_active('query_reports','provider_directory')}"%>

                          <%= link_to "Privilege Reporting Tool", privilege_reporting_tool_query_reports_path, class: "btn enc-btn-nav w-100 #{encompass_nav_active('query_reports','privilege_reporting_tool')}"%>
                        </div>
                        <div class="d-flex justify-content-between gap-1 mt-1">

                            <%= link_to "Meeting Report by Practitioner", meeting_report_by_practitioner_query_reports_path, class: "btn enc-btn-nav w-100 #{encompass_nav_active('query_reports','meeting_report_by_practitioner')}"%>

                            <%= link_to "CME Practitioner Profile", cme_practitioner_profile_query_reports_path, class: "btn enc-btn-nav w-100 #{encompass_nav_active('query_reports','cme_practitioner_profile')}"%>

                            <%= link_to "Customize Reporting Service", customize_reporting_service_query_reports_path, class: "btn enc-btn-nav w-100 #{encompass_nav_active('query_reports','customize_reporting_service')}"%>

                        </div>
                    </div>