<aside class="js-navbar-vertical-aside navbar navbar-vertical-aside navbar-vertical navbar-vertical-fixed navbar-expand-xl navbar-bordered <%= dark_mode %>  ">
   <div class="navbar-vertical-container">
      <div class="navbar-vertical-footer-offset">
         <a class="navbar-brand" href="javascript:void(0);" aria-label="">
            <!-- <img class="navbar-brand-logo" src="./dist/assets/img/plm-logos/logo-blue.jpg" alt="Logo" data-hs-theme-appearance="default"> -->
            <img class="navbar-brand-logo-mini" src="../logos/<%= current_logo_sm %>" alt="Logo" data-hs-theme-appearance="default" style="width: auto;height: 60%;"  data-hs-theme-appearance="default">
            <img class="navbar-brand-logo" src="../logos/<%= current_logo %>" alt="Logo" data-hs-theme-appearance="default" data-hs-theme-appearance="default" style="height: 60% !important;width: auto;">
         </a>
         <button type="button" class="js-navbar-vertical-aside-toggle-invoker navbar-aside-toggler" id="navbar-aside-toggler">
         <i class="bi-arrow-bar-left navbar-toggler-short-align" data-bs-template='<div class="tooltip d-none d-md-block" role="tooltip"><div class="arrow"></div><div class="tooltip-inner"></div></div>' data-bs-toggle="tooltip" data-bs-placement="right" title="Collapse"></i>
         <i class="bi-arrow-bar-right navbar-toggler-full-align" data-bs-template='<div class="tooltip d-none d-md-block" role="tooltip"><div class="arrow"></div><div class="tooltip-inner"></div></div>' data-bs-toggle="tooltip" data-bs-placement="right" title="Expand"></i>
         </button>
         <div class="navbar-vertical-content">
            <div id="navbarVerticalMenu" class="nav nav-pills nav-vertical card-navbar-nav px-0">
               <!-- Collapse -->
               <% if can_view?('overview') %>
               <div class="nav-item mb-2 nav-item-active">
                  <!-- ph-active -->
                  <a class="nav-link <%= active_menu('pages', 'dashboard') %>" href="<%= root_path %>">
                  <i class="bi bi-box nav-icon"></i>
                  <span class="nav-link-title">Overview</span>
                  </a>
               </div>
               <% end %>

               <% if can_view?('client_portal') %>
               <div class="nav-item mb-2">
                  <div class="d-flex with-submenu align-items-center justify-content-between pe-3 <%= active_menu('pages,users', 'client_portal,virtual_review_committee,data_access,all_users,new') %>">
                      <a class="nav-link has-submenu" href="javascript:void(0);" data-placement="left" data-submenu="client_submenu">
                      <i class="bi bi-person-video2 nav-icon"></i>
                      <span class="nav-link-title ml-4">Client Portal</span>
                      </a>
                      <svg xmlns="http://www.w3.org/2000/svg" id="client_submenu_chevron" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="open_submenu <%= chevron_active('pages,users', 'client_portal,virtual_review_committee,data_access,organization_profile') %>" data-toopen="client_submenu" style="width: 20px;height: auto;">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                      </svg>
                  </div>


                  <div id="client_submenu" class="sub_menu <%= active_submenu('pages,users', 'client_portal,virtual_review_committee,data_access,organization_profile,new')%> mt-3">
                      <ul>

                        <li class="d-flex gap-2 align-items-center <%= active_submenu_link('pages', 'client_portal,data_access')%>">
                           <span></span><a href="<%= client_portal_path %>">Data Access</a>
                        </li>

                        <li class="d-flex gap-2 align-items-center <%= active_submenu_link('pages', 'virtual_review_committee')%>"><span></span><a href="<%= virtual_review_committee_path %>">VRC</a>
                        </li>

                        <!-- <li class="d-flex gap-2 align-items-center <%= active_submenu_link('users', 'all_users,edit,new,show,organization_profile')%>"><span></span><a href="<%= organization_profile_path %>">Users</a>
                        </li> -->

                       <!--  <li class="d-flex gap-2 align-items-center <%#= active_submenu_link('pages', '')%>"><span></span><a href="<%#= client_portal_path %>">Clients</a>
                        </li>

                        <li class="d-flex gap-2 align-items-center <%#= active_submenu_link('systems', 'index,acl,data_import,data_lookup,acl')%>"><span></span><a href="<%#= systems_path %>">Systems</a>
                        </li> -->

                        <li class="d-flex gap-2 align-items-center <%= active_submenu_link('pages', 'reports')%> d-none"><span></span><a href="#">Reports</a>
                        </li>

                        <li class="d-flex gap-2 align-items-center <%= active_submenu_link('pages', 'service')%> d-none"><span></span><a href="#">Service</a>
                        </li>

                        <li class="d-flex gap-2 align-items-center <%= active_submenu_link('pages', 'screening')%> d-none"><span></span><a href="#">Screening</a>
                        </li>
                        <li class="d-flex gap-2 align-items-center <%= active_submenu_link('pages', 'support')%> d-none"><span></span><a href="#">Support</a>
                        </li>
                      </ul>
                  </div>
               </div>
               <% end %>
             <!--   <div class="nav-item mb-2">
                  <a class="nav-link <%#= active_menu('pages', 'virtual_review_committee,show_virtual_review_committee') %>" href="<%#= virtual_review_committee_path %>" data-placement="left">
                  <i class="bi bi-file-bar-graph nav-icon"></i>
                  <span class="nav-link-title">Virtual Review Committee</span>
                  </a>
               </div> -->
               <% if can_view?('provider_app') %>
               <div class="nav-item mb-2">
                  <a class="nav-link <%= active_menu('pages', 'provider_source') %>" href="<%= custom_provider_source_path %>" data-placement="left">
                     <!-- <i class="bi-receipt nav-icon"></i> -->
                     <i class="bi bi-people nav-icon"></i>
                     <span class="nav-link-title">Provider App</span>
                  </a>
               </div>
               <% end %>

               <% if can_view?('office_manager') %>
               <div class="nav-item mb-2">
                  <a class="nav-link <%= active_menu('office_managers', 'index') %>" href="<%= office_managers_path %>" data-placement="left">
                     <!-- <i class="bi-receipt nav-icon"></i> -->
                     <i class="bi bi-person-rolodex nav-icon"></i>
                     <span class="nav-link-title">Office Manager</span>
                  </a>
               </div>
               <% end %>



               <% if can_view?('enrollment_clients') && current_setting.plmhealthoneapp? || current_setting.qualifacts? %>
               <div class="nav-item mb-1">
                  <a class="nav-link <%= active_menu('enrollment_clients', 'index') %> <%= active_menu('index') %>" href="<%= enrollment_clients_path %>" data-placement="left">
                     <!-- <i class="bi-receipt nav-icon"></i> -->
                     <!-- <i class="bi bi-person nav-icon"></i> -->
                     <i class="bi bi-geo-fill nav-icon"></i>
                     <span class="nav-link-title">Enrollment's Client Portal</span>
                  </a>
               </div>
               <% end %>

               <% if can_view?('enrollment_tracking') && current_setting.plmhealthoneapp? || !current_setting.hvhs? %>
               <div class="nav-item mb-2">
                  <a class="nav-link <%= active_menu('providers,enrollments,enrollment_providers,enroll_groups') %>" href="<%= overview_providers_path %>" data-placement="left">
                     <i class="bi bi-person nav-icon"></i>
                     <span class="nav-link-title">Enrollment Tracking</span>
                  </a>
               </div>
               <% end %>

               <% if can_view?('verification_platform') && current_setting.plmhealthoneapp? || !current_setting.qualifacts? %>
               <div class="nav-item mb-1">
                  <a class="nav-link <%= active_menu('verification_platform', 'index') %> <%= active_menu('manage_tools') %>" href="<%= verification_platform_index_path %>" data-placement="left">
                     <!-- <i class="bi-receipt nav-icon"></i> -->
                     <!-- <i class="bi bi-person nav-icon"></i> -->
                     <i class="bi bi-folder nav-icon"></i>
                     <span class="nav-link-title">Verification Platform</span>
                  </a>
               </div>
               <% end %>

               <% if can_view?('plm_sales_tool') %>
               <div class="nav-item mb-2">
                  <a class="nav-link <%= active_menu('pages', 'plm_sales_tool') %> d-none" target="_blank" href="<%= plm_sales_tool_path %>" data-placement="left">
                     <!-- <i class="bi-layers nav-icon"></i> -->
                     <i class="bi bi-currency-dollar nav-icon"></i>
                     <!-- <span class="nav-link-title">PLM Sales Tool <small class="fw-semibold">Coming soon</small></span> -->
                     <span class="nav-link-title">PLM Sales Tool </span>
                  </a>
               </div>
               <% end %>

               <% if can_view?('smart_contract') %>
               <div class="nav-item mb-2">
                  <a class="nav-link <%= active_menu('pages', 'smart_contract') %> text-muted d-none" href="javascript:void(0);" data-placement="left">
                     <!-- <i class="bi-layers nav-icon"></i> -->
                     <i class="bi bi-file-earmark-lock nav-icon"></i>
                     <span class="nav-link-title">
                     Smart Contract <small class="fw-semibold">Coming soon</small>
                     </span>
                  </a>
               </div>
               <% end %>

               <% if current_user&.super_administrator? && can_view?('settings') %>
               <div class="nav-item mb-2">
                  <div class="d-flex with-submenu align-items-center justify-content-between pe-3 <%= active_menu('role_based_accesses,roles') %>">
                     <a class="nav-link has-submenu" href="javascript:void(0);" data-placement="left" data-submenu="settings_submenu">
                        <i class="bi bi-gear nav-icon"></i>
                     <span class="nav-link-title ml-4">Settings</span>
                     </a>
                     <svg xmlns="http://www.w3.org/2000/svg" id="settings_submenu_chevron" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="open_submenu <%= chevron_active('role_based_accesses,roles') %>" data-toopen="settings_submenu" style="width: 20px;height: auto;">
                       <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                     </svg>
                 </div>

                 <div id="settings_submenu" class="sub_menu <%= active_submenu('role_based_accesses')%> mt-3">
                     <ul>
                        <li class="d-flex gap-2 align-items-center <%= active_submenu_link('users')%>">
                           <span></span><a href="<%= users_path %>">Users</a>
                        </li>
                        <li class="d-flex gap-2 align-items-center <%= active_submenu_link('role_based_accesses')%>">
                           <span></span><a href="<%= roles_path %>">Roles</a>
                        </li>
                        <li class="d-flex gap-2 align-items-center <%= active_submenu_link('role_based_accesses')%>">
                           <span></span><a href="<%= role_based_accesses_path %>">Role-Based Access</a>
                        </li>
                     </ul>
                  </div>
               </div>
               <% end %>
              <!--  <div class="nav-item mb-2">
                  <a class="nav-link <%= active_menu('pages', 'help') %>" href="<%= help_path %>" data-placement="left">
                  <i class="bi bi-question-circle nav-icon"></i>
                  <span class="nav-link-title">Help</span>
                  </a>
               </div>
               <div class="nav-item mb-2">
                  <a class="nav-link <%= active_menu('pages', 'settings') %>" href="<%= settings_path %>" data-placement="left">
                  <i class="bi bi-gear nav-icon"></i>
                  <span class="nav-link-title">Settings</span>
                  </a>
               </div> -->
              <!--  <div class="nav-item mb-2">
                  <%= button_to 'Logout',
                     destroy_user_session_path,
                     method: :delete,
                     class: 'nav-link'
                     %>
               </div> -->
            </div>
         </div>
         <!-- End Content -->
         <!-- Footer -->
        <!--  <div class="navbar-vertical-footer px-1">
            <div class="d-flex bd-highlight">
               <div class="p-2 flex-shrink-1 bd-highlight">
                  <span style="width: 35px;height: 35px;" class="bg-secondary rounded d-flex justify-content-center align-items-center">FW</span>
               </div>
               <div class="p-2 w-100 bd-highlight d-flex flex-column">
                  <small>Frederick Week</small>
                  <small>itsweeks@gmail.com</small>
               </div>
               <div class="px-2">
                  <a href="javascript:void(0);" style="color: #666">
                     <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="" style="width: 25px;">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM12.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM18.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
                     </svg>
                  </a>
               </div>
            </div>
         </div> -->
         <!-- End Footer -->
      </div>
   </div>
</aside>


<script>

  $('.open_submenu').on('click',function(){
    var to_open = $(this).data('toopen');
    // $('#'+to_open).removeClass('d-none');

    if($(this).hasClass('rotate-chev')){
      $(this).removeClass('rotate-chev');
      showSubMenu(to_open,false);
    }
    else{
      $(this).addClass('rotate-chev');
      showSubMenu(to_open,true);
    }
  })

  $('.has-submenu').on('click',function(){
    var to_open = $(this).data('submenu');
   //  var chevron = $('#client_submenu_chevron');
    var chevron = $('#'+to_open+'_chevron');

    if(chevron.hasClass('rotate-chev')) {
      chevron.removeClass('rotate-chev');
      showSubMenu(to_open,false);
    }
    else {
      chevron.addClass('rotate-chev');
      showSubMenu(to_open,true);
    }
  });

  function showSubMenu(submenu, show) {
    show ? $('#'+submenu).removeClass('d-none') : $('#'+submenu).addClass('d-none');
  }

  function toShow(to_show,show) {
    show ? $('#'+to_show).removeClass('d-none') : $('#'+to_show).addClass('d-none');
  }
</script>