  <aside class="js-navbar-vertical-aside navbar navbar-vertical-aside navbar-vertical navbar-vertical-fixed navbar-expand-xl navbar-bordered bg-white  ">
    <div class="navbar-vertical-container">
      <div class="navbar-vertical-footer-offset">
        <!-- Logo -->

        <a class="navbar-brand" href="javascript:void(0);" aria-label="">
          <!-- <img class="navbar-brand-logo" src="./dist/assets/img/plm-logos/logo-blue.jpg" alt="Logo" data-hs-theme-appearance="default"> -->
          <img class="navbar-brand-logo-mini" src="./logos/plm-logo-square.png" alt="Logo" data-hs-theme-appearance="default" style="width: 27px;height: 27px;"  data-hs-theme-appearance="default">
          <img class="navbar-brand-logo" src="./logos/plm-logo-rectangle.png" alt="Logo" data-hs-theme-appearance="default" data-hs-theme-appearance="default" style="height: 27px !important;">
        </a>

        <!-- End Logo -->

        <!-- Navbar Vertical Toggle -->
        <button type="button" class="js-navbar-vertical-aside-toggle-invoker navbar-aside-toggler" id="navbar-aside-toggler">
          <i class="bi-arrow-bar-left navbar-toggler-short-align" data-bs-template='<div class="tooltip d-none d-md-block" role="tooltip"><div class="arrow"></div><div class="tooltip-inner"></div></div>' data-bs-toggle="tooltip" data-bs-placement="right" title="Collapse"></i>
          <i class="bi-arrow-bar-right navbar-toggler-full-align" data-bs-template='<div class="tooltip d-none d-md-block" role="tooltip"><div class="arrow"></div><div class="tooltip-inner"></div></div>' data-bs-toggle="tooltip" data-bs-placement="right" title="Expand"></i>
        </button>

        <!-- End Navbar Vertical Toggle -->

        <!-- Content -->
        <div class="navbar-vertical-content">
          <div id="navbarVerticalMenu" class="nav nav-pills nav-vertical card-navbar-nav px-0">
            <!-- Collapse -->
            <div class="nav-item mb-2 nav-item-active">
              <!-- ph-active -->
              <a class="nav-link <%= active_menu('pages', 'dashboard') %>" href="<%= root_path %>">
                <i class="bi bi-box nav-icon"></i>
                <!-- <img src="./icons/overview.png" class="nav-icon"> -->
                <span class="nav-link-title">Overview</span>
              </a>
            </div>
            <!-- <small class="bi-three-dots nav-subtitle-replacer"></small> -->

            <div class="nav-item mb-2">
              <a class="nav-link <%= active_menu('pages', 'client_portal') %>" href="<%= client_portal_path %>" data-placement="left" >
                <!-- <i class="bi-kanban nav-icon"></i> -->
                <!-- <img src="./icons/client_portal_inactive.png" style="width: 16px;height: 16px;margin-right: 1rem;"> -->
                <i class="bi bi-person-video2 nav-icon"></i>
                <span class="nav-link-title ml-4">Client Portal</span>
              </a>
            </div>

            <div class="nav-item mb-2">
              <a class="nav-link <%= active_menu('pages', 'virtual_review_committee,show_virtual_review_committee') %>" href="<%= virtual_review_committee_path %>" data-placement="left">
                <!-- <i class="bi-calendar-week nav-icon"></i> -->
                <i class="bi bi-file-bar-graph nav-icon"></i>
                <span class="nav-link-title">Virtual Review Committee</span>
              </a>
            </div>

            <div class="nav-item mb-2">
              <!-- https://medversant-client.vercel.app/login -->
              <a class="nav-link <%= active_menu('page', 'provider_source') %>" href="<%= provider_source_path %>" data-placement="left">
                <!-- <i class="bi-receipt nav-icon"></i> -->
                <i class="bi bi-people nav-icon"></i>
                <span class="nav-link-title">Provider App</span>
              </a>
            </div>

       <!--      <div class="nav-item mb-2">
              <a class="nav-link <%#= active_menu('pages', 'app_tracker') %>" href="<%#= app_tracker_path %>" data-placement="left"> -->
                <!-- <i class="bi-folder2-open nav-icon"></i> -->
                <!-- <i class="bi bi-stopwatch nav-icon"></i>
                <span class="nav-link-title">App Tracker</span>
              </a>
            </div> -->

            <!-- <div class="nav-item mb-2">
              <a class="nav-link <%#= active_menu('pages', 'encompass') %>" href="<%#= encompass_path %>" data-placement="left"> -->
                <!-- <i class="bi-grid-1x2 nav-icon"></i> -->
                <!-- <img src="./icons/encompass.png" style="width: 17px; height: 16px;margin-right: 1rem;"> -->
             <!--    <i class="bi bi-folder nav-icon"></i>
                <span class="nav-link-title">Encompass</span>
              </a>
            </div> -->

            <!-- <div class="nav-item mb-2">
              <a class="nav-link <%#= active_menu('pages', 'microsite') %>" href="<%#= microsite_path %>" data-placement="left"> -->
                <!-- <i class="bi-book nav-icon"></i> -->
              <!--   <i class="bi bi-grid nav-icon"></i>
                <span class="nav-link-title">Microsite</span>
              </a>
            </div> -->

            <!-- <div class="nav-item mb-2">
              <a class="nav-link <%#= active_menu('pages', 'ps_office_manager') %>" href="<%#= ps_office_manager_path %>" data-placement="left"> -->
                <!-- <i class="bi-layers nav-icon"></i> -->
               <!--  <i class="bi bi-people nav-icon"></i>
                <span class="nav-link-title">PS Office Manager</span>
              </a>
            </div> -->

            <div class="nav-item mb-2">
              <a class="nav-link <%= active_menu('pages', 'plm_sales_tool') %> text-muted" href="javascript:void(0);" data-placement="left">
                <!-- <i class="bi-layers nav-icon"></i> -->
                <i class="bi bi-currency-dollar nav-icon"></i>
                <span class="nav-link-title">PLM Sales Tool <small class="fw-semibold">Coming soon</small></span>
              </a>
            </div>

            <div class="nav-item mb-2">
              <a class="nav-link <%= active_menu('pages', 'smart_contract') %> text-muted" href="javascript:void(0);" data-placement="left">
                <!-- <i class="bi-layers nav-icon"></i> -->
                <i class="bi bi-file-earmark-lock nav-icon"></i>
                <span class="nav-link-title">
                  Smart Contract <small class="fw-semibold">Coming soon</small>
                </span>
              </a>
            </div>





            <div class="nav-item mb-2">
              <a class="nav-link <%= active_menu('pages', 'help') %>" href="<%= help_path %>" data-placement="left">
                <i class="bi bi-question-circle nav-icon"></i>
                <span class="nav-link-title">Help</span>
              </a>
            </div>


            <div class="nav-item mb-2">
              <a class="nav-link <%= active_menu('pages', 'settings') %>" href="<%= settings_path %>" data-placement="left">
                <i class="bi bi-gear nav-icon"></i>
                <span class="nav-link-title">Settings</span>
              </a>
            </div>

            <div class="nav-item mb-2">

              <%= button_to 'Logout',
                destroy_user_session_path,
                method: :delete,
                class: 'nav-link'
                %>


            </div>



          </div>

        </div>
        <!-- End Content -->

        <!-- Footer -->
        <div class="navbar-vertical-footer px-1">
           <div class="d-flex bd-highlight">
               <div class="p-2 flex-shrink-1 bd-highlight">
                  <span style="width: 35px;height: 35px;" class="bg-secondary rounded d-flex justify-content-center align-items-center">FW</span>
               </div>
               <div class="p-2 w-100 bd-highlight d-flex flex-column">
                  <small>Frederick Week</small>
                  <small>itsweeks@gmail.com</small>
               </div>
               <div class="px-2">
                 <a href="javascript:void(0);" style="color: #666">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="" style="width: 25px;">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM12.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM18.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
                </svg>
                </a>
               </div>
            </div>
        </div>
        <!-- End Footer -->
      </div>
    </div>
  </aside>
