<% object_id = @index %>
<div class="field card mb-3 p-2 py-3">
  <div class="row mb-3">
    <div class="col-lg-12">
      <h4>Payor Enrollment Details</h4>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-lg-6">
      <label class="text-dark-grey">Enrollment Payor</label>
      <button type="button" class="btn btn-xs btn-link p-0" id="add-new-py" data-bs-toggle="modal" data-bs-target="#addNewPayorName" style="float:right;font-size:12px;">
        Add new payor
      </button>
      <%= f.select :enrollment_payer, options_for_select([]), { prompt: 'Enrollment Payor' }, {:class => 'form-select border border-dark payer-name single-select',  data: { value: f.object.enrollment_payer } } %>
    </div>
    <div class="col-lg-6">
      <label class="text-dark-grey">State</label>
      <%= f.select :payer_state, options_for_select([]), { prompt: 'State' }, {:class => 'form-select border border-dark payor-state single-select',  data: { value: f.object.payer_state } }  %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-lg-4">
      <label class="text-dark-grey">Group Number</label>
      <%= f.text_field :group_number, placeholder: 'Type here ', class: 'form-control border-dark' %>
    </div>
    <div class="col-lg-4">
      <label class="text-dark-grey">Initial Effective Date</label>
      <%= f.date_field :effective_date, placeholder: 'Effective Date', class: 'form-control border-dark' %>
    </div>
    <div class="col-lg-4">
      <label class="text-dark-grey">Most Current Revalidation Date</label>
      <%= f.date_field :revalidation_date, placeholder: 'MM/DD/YYYY', class: 'form-control border-dark' %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-lg-12">
      <label class="text-dark-grey">Application Status</label>
      <%= f.select :application_status, options_for_select(enrollment_status, f.object.application_status), { prompt: 'Application Status' }, {:class => 'form-select multi-application-status border border-dark '}  %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-lg-6">
      <label class="text-dark-grey">Lines of Service</label>
      <%= f.text_area :payor_type, placeholder: 'Type here ', class: 'form-control border-dark' %>
    </div>
    <div class="col-lg-6">
    <label class="text-dark-grey">Participating with Medicare and Tricare</label>
      <%= f.select :medicare_tricare, options_for_select(medicare_tricare_parties, f.object.medicare_tricare), { prompt: 'Select option' }, {:class => 'form-select border-dark'}  %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-lg-12">
      <h4>Payor Contact Details</h4>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-lg-4">
      <label class="text-dark-grey">Name</label>
      <%= f.text_field :payor_name, placeholder: 'Type here', class: 'form-control border-dark' %>
    </div>
    <div class="col-lg-4">
      <label class="text-dark-grey">Phone Number</label>
      <%= f.text_field :payor_phone, placeholder: 'Type here', class: 'form-control border-dark' %>
    </div>
    <div class="col-lg-4">
      <label class="text-dark-grey">Email</label>
      <%= f.text_field :payor_email, placeholder: 'Type here', class: 'form-control border-dark' %>
    </div>
  </div>

   <div class="row mb-3">
    <div class="col-lg-12">
      <label class="text-dark-grey">Type of Enrollment Submission</label>
      <%= f.select :payor_submission_type, options_for_select(payor_submission_types, f.object.payor_submission_type), { prompt: 'Select option' }, {:class => 'form-select border-dark'}  %>
    </div>
   </div>

  <div class="row mb-3" id="enrollment_link_container">
  <div class="col-lg-12">
    <%= HtmlUtils.radio_toggle name: "enroll_group[details_attributes][#{object_id}][enrollment_link]",
      label: 'Enrollment Portal',
      toshow: "payor_login_info-#{object_id}",
      hidden_field: true,
      active: "#{f.object.enrollment_link == 'yes' ? 'active' : ''}",
      data_value: f.object.enrollment_link
    %>
  </div>
</div>

<div class="toggle-container row mb-3 <%= f.object.enrollment_link == 'yes' ? '' : 'd-none' %>" id="payor_login_info-<%= object_id %>">
  <div class="col-lg-4">
    <label class="text-dark-grey">Link</label>
    <%= f.text_field :payor_link, placeholder: 'Type here', class: 'form-control border-dark' %>
  </div>
  <div class="col-lg-4">
    <label class="text-dark-grey">Username</label>
    <%= f.text_field :payor_username, placeholder: 'Type here', class: 'form-control border-dark' %>
  </div>
  <div class="col-lg-4">
    <label class="text-dark-grey">Password</label>
    <%= f.text_field :password, placeholder: 'Type here', class: 'form-control border-dark' %>
  </div>
</div>

  <div class="row mb-3">
    <div class="col-lg-12">
      <%= HtmlUtils.radio_toggle name: "enroll_group[details_attributes][#{object_id}][portal_admin]",
      label: 'Portal Administrator',
      toshow: "portal_admin_info-#{object_id}",
      hidden_field: true,
      active: "#{f.object.portal_admin == 'yes' ? 'active' : ''}",
      data_value: f.object.portal_admin
      %>
    </div>
  </div>
  <div class="toggle-container row mb-3 <%= f.object.portal_admin == 'yes' ? '' : 'd-none' %>" id="portal_admin_info-<%= object_id %>">
    <div class="col-lg-4">
      <label class="text-dark-grey">Administrator Name</label>
      <%= f.text_field :portal_admin_name, placeholder: 'Type here', class: 'form-control border-dark' %>
    </div>
    <div class="col-lg-4">
      <label class="text-dark-grey">Username </label>
      <%= f.text_field :portal_username, placeholder: 'Type here', class: 'form-control border-dark' %>
    </div>
    <div class="col-lg-4">
      <label class="text-dark-grey">Password</label>
      <%= f.text_field :portal_password, placeholder: 'Type here', class: 'form-control border-dark' %>
    </div>

    <div class="questions">
      <div class="question-fields">
        <%= f.fields_for :questions do |questions| %>
            <%= render 'questions_fields', q: questions %>
        <% end %>
      </div>
    </div>

  </div>

  <div class="row mb-3">
      <div class="col-lg-4">
        <label class="text-dark-grey">Is this a CAQH Payer?</label>
        <%= f.select :caqh_payer, options_for_select([['Yes','yes'],['No', 'no']], f.object.caqh_payer), { prompt: 'Select option' }, {:class => 'form-select border-dark'}  %>
      </div>
      <div class="col-lg-4">
        <label class="text-dark-grey">EFT</label>
        <%= f.select :eft, options_for_select([['Yes','yes'],['No', 'no']], f.object.eft), { prompt: 'Select option' }, {:class => 'form-select border-dark'}  %>
      </div>
      <div class="col-lg-4">
        <label class="text-dark-grey">ERA</label>
        <%= f.select :era, options_for_select([['Yes','yes'],['No', 'no']], f.object.era), { prompt: 'Select option' }, {:class => 'form-select border-dark'}  %>
      </div>
  </div>
  <div class="row mb-4">
    <div class="col-lg-12">
      <h4>ATTEMPTS</h4>
    </div>
    <div class="col-lg-3">
      <label class="text-dark-grey">Date Field</label>
      <%= f.date_field :date, placeholder: 'MM/DD/YYYY', class: 'form-control border-dark' %>
    </div>
    <div class="col-lg-3">
      <label class="text-dark-grey">Attempt Status </label>
        <%= f.select :attempt_status, options_for_select([['Submitted','submitted'],['Collection', 'collection'],['Completion', 'completion'],['Current Attempt', 'currentattempt'],['Complete', 'complete'],['Processing', 'processing'],['On going identification of status', 'ongoingidentificationofstatus'],['Initial status please load', 'initialstatuspleaseload']], f.object.era), { prompt: 'Select option' }, {:class => 'form-select border-dark'}  %>
    </div>
    <div class="col-lg-3">
      <label class="text-dark-grey">Note</label>
      <%= f.text_field :note, placeholder: 'Type here', class: 'form-control border-dark' %>
    </div>
    <div class="col-lg-3">
      <label class="text-dark-grey">Agent User ID</label>
      <%= f.text_field :agent_user_id, value: current_user.id, placeholder: 'Type here', class: 'form-control border-dark' %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-lg-12 d-flex justify-content-center pe-5">
        <button class="btn btn-primary btn-md">Add New Attempt</button>
    </div>
  </div>

  <%# <div class="row mb-3">
    <div class="col-lg-12">
      <label class="text-dark-grey">Client Notes</label>
      <%= f.text_area :client_notes, class: 'form-control', rows: '8'%>
    <%# </div> %>
  <%# </div> %> 
  <%# <div class="row mb-3">
    <div class="col-lg-12">
      <label class="text-dark-grey">Notes</label>
      <%= f.text_area :notes, class: 'form-control', rows: '8'%>
    <%# </div> %>
  <%# </div> %> 
  <div class="row mb-3">
    <div class="col-lg-12">
      <label >Upload</label>
      <%= f.file_field :upload_payor_file, class: 'form-control', multiple: true %>
      <div class="d-flex gap-2">
        <% f.object.upload_payor_file.each do |file| %>
        <div class="upload-payor-file">
          <%= f.hidden_field :upload_payor_file, multiple: true, value: file.identifier %>
          <%= HtmlUtils.generate_view_link file_url: file.url, link_title: file.identifier, remove_icon: true %>
        </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 d-flex justify-content-sm-end justify-content-center align-items-center">
      <%= f.check_box :_destroy %>
      <%= f.label :_destroy, "Remove", class: 'mx-2 text-dark-grey' %>
    </div>
  </div>
</div>

<% @index = @index + 1 %>
