<div class="field card mb-3 p-2 py-3">
  <div class="row mb-3">
    <div class="col-lg-12">
      <h4>Payor Enrollment Details</h4>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-lg-6">
      <label class="text-dark-grey">Enrollment Payor</label>
      <%= f.select :enrollment_payer, options_for_select(enrollment_payer, f.object.enrollment_payer), { prompt: 'Enrollment Payor' }, {:class => 'form-select border-dark'}  %>
    </div>
    <div class="col-lg-6">
      <label class="text-dark-grey">State</label>
      <%= f.select :enrollment_payer, options_for_select(states.pluck(:name, :id)), { prompt: 'State' }, {:class => 'form-select border-dark'}  %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-lg-4">
      <label class="text-dark-grey">Group Number</label>
      <%= f.text_field :group_number, placeholder: 'Group Number', class: 'form-control border-dark' %>
    </div>
    <div class="col-lg-4">
      <label class="text-dark-grey">Effective Date</label>
      <%= f.date_field :effective_date, placeholder: 'Effective Date', class: 'form-control border-dark' %>
    </div>
    <div class="col-lg-4">
      <label class="text-dark-grey">Revalidation Date</label>
      <%= f.date_field :revalidation_date, placeholder: 'Revalidation Date', class: 'form-control border-dark' %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-lg-12">
      <label class="text-dark-grey">Application Status</label>
      <%= f.select :application_status, options_for_select(enrollment_status_options), { prompt: 'Application Status' }, {:class => 'form-select border-dark'}  %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-lg-6">
      <label class="text-dark-grey">Payor Type</label>
      <%= f.select :payor_type, options_for_select(enrollment_payer), { prompt: 'Payor Type' }, {:class => 'form-select border-dark'}  %>
    </div>
    <div class="col-lg-6">
    <label class="text-dark-grey">Participating with Medicare and Tricare</label>
      <%= f.text_field :medicare_tricare, placeholder: 'Group PTAN, CHAMPS, PIN, etc.', class: 'form-control border-dark' %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-lg-12">
      <h4>Payor Contact Details</h4>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-lg-4">
      <label class="text-dark-grey">Name</label>
      <%= f.text_field :payor_name, placeholder: 'Type here', class: 'form-control border-dark' %>
    </div>
    <div class="col-lg-4">
      <label class="text-dark-grey">Phone Number</label>
      <%= f.text_field :payor_phone, placeholder: 'Type here', class: 'form-control border-dark' %>
    </div>
    <div class="col-lg-4">
      <label class="text-dark-grey">Email</label>
      <%= f.text_field :payor_email, placeholder: 'Type here', class: 'form-control border-dark' %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-lg-12">
      <%= HtmlUtils.radio_toggle name: 'enroll_group[details_attributes][0][enrollment_link]',
      label: 'Enrollment Link',
      toshow: 'payor_login_info',
      hidden_field: true,
      active: "#{f.object.enrollment_link == 'yes' ? 'active' : 'active'}"
      %>
    </div>
  </div>
  <div class="row mb-3 <%= f.object.enrollment_link == 'yes' ? '' : 'd-none' %>" id="payor_login_info">
    <div class="col-lg-6">
      <label class="text-dark-grey">Username</label>
      <%= f.text_field :payor_username, placeholder: 'Type here', class: 'form-control border-dark' %>
    </div>
    <div class="col-lg-6">
      <label class="text-dark-grey">Password</label>
      <%= f.password_field :password, placeholder: 'Type here', class: 'form-control border-dark' %>
    </div>
  </div>

  <div class="questions">
  <div id="question-fields">
    <%= f.fields_for :questions do |questions| %>
        <%= render 'questions_fields', q: questions %>
    <% end %>
  </div>
</div>
 <!--  <div class="row mb-3">
    <div class="col-lg-12">
      <div class="d-flex justify-content-center">
        <a href="javascript:void(0);" class="btn btn-xs btn-primary add_questions" >
          <i class="bi bi-plus-lg"></i>
        </a>
      </div>
    </div>
  </div> -->
  <div class="row mb-3">
    <div class="col-lg-12">
      <%= HtmlUtils.radio_toggle name: 'enroll_group_details_attributes_0_portal_admin',
      label: 'Portal Admin',
      toshow: 'portal_admin_info',
      hidden_field: true,
      active: "#{f.object.portal_admin == 'yes' ? 'active' : 'active'}"
      %>
    </div>
  </div>
  <div class="row mb-3 <%= f.object.portal_admin == 'yes' ? '' : 'd-none' %>" id="portal_admin_info">
    <div class="col-lg-4">
      <label class="text-dark-grey">Name</label>
      <%= f.text_field :portal_admin_name, placeholder: 'Type here', class: 'form-control border-dark' %>
    </div>
    <div class="col-lg-4">
      <label class="text-dark-grey">Phone Number</label>
      <%= f.text_field :portal_admin_phone, placeholder: 'Type here', class: 'form-control border-dark' %>
    </div>
    <div class="col-lg-4">
      <label class="text-dark-grey">Email</label>
      <%= f.text_field :portal_admin_email, placeholder: 'Type here', class: 'form-control border-dark' %>
    </div>
  </div>

  <div class="row mb-3">
      <div class="col-lg-4">
        <label class="text-dark-grey">Is this a CAQH Payer?</label>
        <%= f.select :caqh_payer, options_for_select([['Yes','yes'],['No', 'no']]), { prompt: 'Select option' }, {:class => 'form-select border-dark'}  %>
      </div>
      <div class="col-lg-4">
        <label class="text-dark-grey">EFT</label>
        <%= f.select :eft, options_for_select([['Yes','yes'],['No', 'no']]), { prompt: 'Select option' }, {:class => 'form-select border-dark'}  %>
      </div>
      <div class="col-lg-4">
        <label class="text-dark-grey">ERA</label>
        <%= f.select :era, options_for_select([['Yes','yes'],['No', 'no']]), { prompt: 'Select option' }, {:class => 'form-select border-dark'}  %>
      </div>
  </div>
  <div class="row mb-3">
    <div class="col-lg-12">
      <label class="text-dark-grey">Client Notes</label>
      <%= f.text_area :client_notes, class: 'form-control', rows: '8'%>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-lg-12">
      <label class="text-dark-grey">Notes</label>
      <%= f.text_area :notes, class: 'form-control', rows: '8'%>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 d-flex justify-content-end">
      <%= f.check_box :_destroy %>
      <%= f.label :_destroy, "Remove", class: 'mx-2 text-dark-grey' %>
    </div>
  </div>
</div>