<div class="col-lg-8">
   <%= form_for @enroll_group, html: { multipart: true } do |f| %>
   <% if @enroll_group.errors.any? %>
   <div id="error_explanation" class="row mb-3">
      <div class="col-lg-12">
         <h2><%= pluralize(@enroll_group.errors.count, "error") %> prohibited this enrollment provider from being saved:</h2>
         <ul>
            <% @enroll_group.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
         </ul>
      </div>
   </div>
   <% end %>
   <div class="row mb-3">
    <div class="col-lg-12">
      <h5 class="mb-0">Group Information</h5>
      <small class="text-black">Please fill out all required fields. Optional field are marked as (optional)</small>
    </div>
</div>
   <div class="row mb-3">
      <div class="col-lg-12">
         <label for="" class="text-dark-grey">Group Name</label>
         <%= f.select :group_id, options_for_select(EnrollmentGroup.pluck(:group_name, :id), @enroll_group.group_id), {prompt: 'Select Option'}, {:class => 'form-select border border-dark'}  %>
      </div>
   </div>
   <div class="row mb-1">
      <div class="col-lg-12">
         <label class="text-dark-grey">Name of person who can answer questions related to enrollment for the group</label>
      </div>
   </div>
   <div class="row mb-3">
      <div class="col-lg-6">
         <label class="text-dark-grey">First Name </label>
         <%= f.text_field :first_name, placeholder: 'Type here... ', class: 'form-control border border-dark' %>
      </div>
      <div class="col-lg-6">
         <label class="text-dark-grey">Middle Name(optional) </label>
         <%= f.text_field :middle_name, placeholder: 'Type here... ', class: 'form-control border border-dark' %>
      </div>
   </div>
   <div class="row mb-3">
      <div class="col-lg-6">
         <label class="text-dark-grey">Last Name </label>
         <%= f.text_field :last_name, placeholder: 'Type here... ', class: 'form-control border border-dark' %>
      </div>
      <div class="col-lg-6">
         <label class="text-dark-grey">Suffix(optional)</label>
         <%= f.select :suffix, options_for_select(['Jr.', 'Sr.', 'II', 'III', 'IV', 'V'], f.object.suffix), { prompt: 'Select Option' }, { class: 'form-select border border-dark' } %>
      </div>
   </div>
   <div class="row mb-3">
      <div class="col-lg-6">
         <label class="text-dark-grey">Telephone Number *</label>
         <%= f.telephone_field :telephone_number, placeholder: 'Type here... ', class: 'form-control border border-dark' %>
      </div>
      <div class="col-lg-6">
         <label class="text-dark-grey">Email Address *</label>
         <%= f.text_field :email,  placeholder: 'Type here... ', class: 'form-control border border-dark' %>
      </div>
   </div>
   <div class="row mb-3">
   <div class="col-lg-12">
      <div class="row">
         <div id="details">
            <div class="fields">
               <%= f.fields_for :details do |details| %>
                <%= render 'details_fields', f: details %>
               <% end %>
            </div>
            <div class="row">
               <div class="col-lg-12 text-center">
                  <div class="links mt-2">
                     <button type="button" class="add_association btn btn-primary btn-xs" > Add New Payer </button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
   <div class="row">
   <div class="col-lg-12 d-flex justify-content-end pe-5">
      <button class="btn btn-primary btn-md">Submit</button>
   </div>
</div>
</div>
      <div class="col-lg-4">
       <div class="text white" style="background-color: #377dff; border-radius: 10px;">
         <div class="col-lg-12">
            <div class="p-3 text-white">
               <h5 class="mb-3 text-white">Data Encoded Agent</h5>
               <div class="p-2" style="background-color: #5491ff; border-radius: 10px;">
                  <label>Username: <%= current_user&.full_name %> </label>
                  <label>Email: <%= current_user&.email %></label>
               </div>
            </div>
         </div>
      
         <div class="col-lg-12">
            <div class="p-3 text-white">
               <h5 class="mb-3 text-white" >Assign Agent</h5>
               <%= f.select :user_id, options_for_select(User.from_enrollment.map{ |user| [user.full_name, user.id] }, @enroll_group&.user_id), {prompt: 'Select Option'}, {:class => 'form-select mb-2'} %>

               <%= f.select :outreach_type, options_for_select([
                  ['Email','email'],
                  ['Call','call']
                  ], @enroll_group.outreach_type), { prompt: 'Select Option' }, {:class => 'form-select'}  %>
                </div>
         </div>
      </div>
       <% end %>
   </div>
<script>
   $(document).ready(function () {
      $("#details").on("click", ".add_association", function () {
         var detailsFields = $("#details .field");
         var newEnrollmentdetails = detailsFields.last().clone();
         var newId = new Date().getTime();
         newEnrollmentdetails.html(newEnrollmentdetails.html().replace(/details_attributes\]\[\d+\]/g, "details_attributes][" + newId + "]"));
         $("#details .fields").append(newEnrollmentdetails);
      });

      $(document).on('click', '.add_questions',function() {
          var detailsFields = $('#question-fields .field');
          var newQuestionFields = detailsFields.last().clone();
          var newId = new Date().getTime();
          newQuestionFields.html(newQuestionFields.html().replace(/questions_attributes\]\[\d+\]/g, "questions_attributes][" + newId + "]"));
          $('#question-fields .field').append(newQuestionFields);
      })


      // $(document).on('change', '.multi-enrollment-status', function () {
      //    var status = $(this).val();
      //    if (status == 'approved') {

      //       showHideDetailFields($(this), '.application-submitted-field', 'hide')
      //       showHideDetailFields($(this), '.revalidation-fields', 'show')
      //    } else if (status == 'application-submitted') {

      //       showHideDetailFields($(this), '.revalidation-fields', 'hide')
      //       showHideDetailFields($(this), '.application-submitted-field', 'show')
      //    } else {
      //       showHideDetailFields($(this), '.revalidation-fields', 'hide')
      //       showHideDetailFields($(this), '.application-submitted-field', 'hide')
      //    }
      // })
      


      $(document).on('change', '.select-show', function () {
         var revalidated = $(this).val();
         if (revalidated == 'yes') {

            showHideDetailFields($(this), '.revalidated-select', 'show')
         } else {
            showHideDetailFields($(this), '.revalidated-select', 'hide')
         }
      })

      $(document).on('change', '.select-show-contracts', function () {
         var contracts = $(this).val();
         if (contracts == 'yes') {

            showHideDetailFields($(this), '.contracts-name', 'show')
         } else {
            showHideDetailFields($(this), '.contracts-name', 'hide')
         }
      })

      function showHideDetailFields(dropDown, divClass, mode) {
         if (mode == 'show')
            dropDown.parent().parent().parent().find(divClass).removeClass('d-none');
         else
            dropDown.parent().parent().parent().find(divClass).addClass('d-none');
      }

   })
</script>