<div class="content container-fluid">
  <%= render "enrollment_tracking_components/enrollment_nav"%>
  <div class="row mb-3">
    <div class="col-lg-6">
      <%= form_with url: request.url, method: :get, html: { class: 'form_search_with_icon'} do |form| %>
      <div class="">
        <input type="text" name="enroll_group_search" value="<%= params[:enroll_group_search] %>" class="form-control">
        <i class="bi bi-search"></i>
      </div>
      <% end %>
    </div>
    <div class="col-lg-6 d-flex justify-content-end gap-2">
      <a href="<%= enrollment_providers_path %>" class="btn btn-secondary text-black bg-alt-grey btn-md">
        <span class="mx-1">Enrollment Providers List</span>
      </a>
      <a href="<%= new_enroll_group_path %>" class="d-flex btn btn-primary btn-md">
        <i class="bi bi-plus-lg"></i>
        <span class="mx-1">New Enrollment Group</span>
      </a>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-lg-8">  <table class="table table-striped table-bordered table-responsive">
        <thead>
          <tr>
            <th scope="col" class="bg-primary text-white">ID Number</th>
            <th scope="col" class="bg-primary text-white">Group Name</th>
            <th scope="col" class="bg-primary text-white">Name</th>
            <th scope="col" class="bg-primary text-white">Status</th>
            <th scope="col" class="bg-primary text-white"></th>
          </tr>
        </thead>
        <tbody>
            <%= render @enroll_groups %>
        </tbody>
      </table>
      <% if @enroll_groups %>
      <div class="col-lg-12">
          <div class="d-flex justify-content-between bg-medium-grey rounded align-items-center py-3">
          <div class="page_info ms-3 text-black">
                  <%= page_entries_info @enroll_groups %>
          </div>
          <% if params[:per_page ].present? %>
              <%= will_paginate @enroll_groups, :params =>  {per_page: @per_page }, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
          <% else %>
              <%= will_paginate @enroll_groups, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
          <% end %>
          </div>
      </div>
      <% end %>
    </div>
    <div class="col-lg-4"  style="background-color: #eee;">
        <div class="row my-3 mb-2">
          <div class="col-lg-12">
            <div class="card rounded shadow-lg p-2">
              <p class="text-dark-grey fw-semibold mb-1">Enrolled by: <%= @enroll_group&.enrolled_by %> </p>
              <p class="text-dark-grey fw-semibold mb-1">Enrolled: <%= @enroll_group&.created_at&.strftime('%m/%d/%Y') %> </p>
            </div>
          </div>
        </div>
        <div class="row my-3 mb-1">
          <div class="col-lg-12">
            <div class="card rounded shadow-lg p-2">
              <p class="text-dark-grey fw-semibold mb-1">Assigned Agent: <%= @enroll_group.assigned_agent&.full_name %> </p>
              <p class="text-dark-grey fw-semibold mb-1">Type of outreach: <%= @enroll_group&.outreach_type&.titleize  %> </p>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-lg-6">
            <a href="javascript:void(0);" data-model="enroll_groups" data-status="completed" class="btn bg-white btn-lg btn-outline-primary w-100 <%= @enroll_group.status != 'completed' ? 'enrollment-update-status' : ' unavailable disabled'%>">
              <span class="text-dark-grey">
               Mark as Complete
              </span>
            </a>
          </div>
          <div class="col-lg-6">
            <a href="javascript:void(0);" data-model="enroll_groups" data-status="callback" class="btn bg-white btn-lg btn-outline-primary w-100 <%= @enroll_group.status != 'callback' ? 'enrollment-update-status' : ' unavailable disabled'%>">
              <span class="text-dark-grey">
                Schedule for Callback
              </span>
            </a>
          </div>
        </div>
    <div class="row mb-3">
        <div class="col-lg-12">
          <div class="card rounded shadow-lg p-1 px-3 mb-3">
            <span class="fw-semibold mt-2 text-white rounded px-1" style="background: #3bc539; width: 70%;" id="status_identified">ID: <%= @enroll_group.id %> <%= "Enrollment #{@enroll_group&.status&.titleize}"%></span>
            <div class="avatar-circle mt-3" style="text-align: center">
              <img class="avatar-img" src="../dist/assets/img/400x400/img1.jpg" alt="Image Description" style="width: 100px;">
            </div>
            <h3 class="font-bold mb-0 text-center my-3"><%= @enroll_group.name %></h3>

            <p class="text-dark-grey"><strong>Name of person who can answer questions related to enrollment for the group</strong></p>
            <p class="text-dark-grey m-0 mb-2"><%= @enroll_group.full_name %></p>
            <p class="text-dark-grey my-1"><strong>Telephone: </strong> <%= @enroll_group.telephone_number%></p><p class="text-dark-grey"><strong>Email: </strong> <%= @enroll_group.email%></p>
            <p class="text-dark-grey my-1"><strong>Telephone: </strong> <%= @enroll_group.telephone_number%></p>
            <p class="text-dark-grey my-1"><strong>Medical PTAN: </strong> <%= @enroll_group.medicare_ptan %></p>
            <p class="text-dark-grey my-1"><strong>Medicaid Group Number: </strong> <%= @enroll_group.medicaid_group_number %></p>
            <p class="text-dark-grey my-1"><strong>BCBS Number: </strong> <%= @enroll_group.bcbs_number %></p>
            <p class="text-dark-grey my-1 mb-2"><strong>Are you enrolled in TRICARE: </strong> <%= @enroll_group.tricate_military&.upcase %></p>
            <p class="text-dark-grey my-1"><strong>Commercial Name: </strong> <%= @enroll_group.commercial_name %></p>
            <p class="text-dark-grey my-1 mb-2"><strong>Contracted: </strong> <%= @enroll_group.contracted&.upcase %></p>

            <p class="text-dark-grey my-1"><strong>Has the group recently been revalidated with any payor:  </strong> <%= @enroll_group.revalidated&.upcase %></p>
            <p class="text-dark-grey my-1 mb-2"><strong>Payer Name:  </strong> <%= @enroll_group.revalidated_payer_name %></p>
            <p class="text-dark-grey my-1"><strong>Are there currently any group applications or contracts in process at a payer:   </strong> <%= @enroll_group.application_contracts&.upcase %></p>
            <p class="text-dark-grey my-1 mb-2"><strong>Payer Name:  </strong> <%= @enroll_group.revalidated_payer_name %></p>
            <p class="text-dark-grey my-1 mb-2"><strong>Is the group participating with Medicare:   </strong> <%= @enroll_group.with_medicare&.upcase %></p>
            <p class="text-dark-grey my-1 mb-2"><strong>Do you currently have EFT (Electronic Fund Transfer) established:  </strong> <%= @enroll_group.with_eft&.upcase %></p>

            <p class="text-dark-grey my-1 mb-2"><strong>EDI (Electronic Data Interchange) Do you  want us to indicate Yes on applications:</strong> <%= @enroll_group.with_edi&.upcase %></p>
          </div>
        </div>
    </div>    
    <div class="row mb-3">
      <div class="col-lg-12">
          <div class="card rounded shadow-lg p-1 px-3 mb-3">
              <h5 class="mt-2 text-center">Enrollment Details</h5>
          <% @enroll_group.details.each do |detail|%>
          <p class="text-dark-grey my-1"><strong>Start Date: </strong><%= detail.start_date&.strftime('%B %d, %Y') %></p>
          <p class="text-dark-grey my-1"><strong>End Date:</strong> <%= detail.due_date&.strftime('%B %d, %Y') %></p>
          <p class="text-dark-grey my-1"><strong>Enrollment Payer:</strong> <%= detail.enrollment_payer %></p>
          <p class="text-dark-grey my-1"><strong>Enrollment Type:</strong> <%= detail.start_date %><%= detail.enrollment_type %></p>
          <p class="text-dark-grey my-1"><strong>Status of Enrollment:</strong> <%= detail.enrollment_status.titleize %></p>

          <p class="text-dark-grey my-1"><strong>Approved Date:</strong> <%= detail.approved_date&.strftime('%B %d, %Y') %></p>
          <p class="text-dark-grey my-1"><strong>Revalidation Date:</strong> <%= detail.revalidation_date&.strftime('%B %d, %Y') %></p>
          <p class="text-dark-grey my-1"><strong>Revalidation Due Date:</strong> <%= detail.revalidation_due_date&.strftime('%B %d, %Y') %></p>
          <p class="text-dark-grey my-1"><strong>Comment: </strong> <%= detail.comment %></p>
          <hr>
          <% end %>
          </div>
      </div>
    </div>

    <div class="row-mb-3">
          <div class="card rounded shadow-lg p-1 px-3 mb-3  pb-5">
            <h3 class="text-center my-3">Comments</h3>
            <% @enroll_group.comments.each do |comment|%>
              <%= render partial: 'comments/comment', locals: {comment: comment}%>
            <% end %>
            <%= render partial: 'comments/form', comment: @comment %>
          </div>
    </div>
    </div>
  </div>
</div>
<input type="hidden" id="enrollment_model_id" value="<%= @enroll_group.id%>">