<div class="row p-4" id="page6">
	<div class="col-lg-12 text-black border border-dark py-3 px-0 pb-0">
		<%= HtmlUtils.table_section_header title: '10.2 Practice Information - Practice Location' %>

		<div class="row g-0 border-bottom border-dark">
			<% titles = ['Is this location accessible by public transportation?', 'If Yes, Please select from the following:']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '6' %>
			<% end %>
		</div>

		<%= HtmlUtils.single_column title: 'Are Gender Affirming treatment services offered? ', height: 'h-50px'%>

		<%= HtmlUtils.table_sub_section_header title: 'Services' %>


		<div class="row g-0 border-bottom border-dark">
			<% titles = ['Do you provide laboratory services at this location?', 'Please select all accrediting/certifying programs:']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '6' %>
			<% end %>
		</div>

		<div class="row g-0 border-bottom border-dark">
			<% titles = ['Does this location have a CLIA Waiver?', 'CLIA Waiver Number:', 'Expiration Date:']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '4' %>
			<% end %>
		</div>

		<div class="row g-0 border-bottom border-dark">
			<% titles = ['Does this location have a CLIA Certificate?', 'CLIA Certificate Number:', 'Expiration Date:']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '4' %>
			<% end %>
		</div>

		<div class="row g-0 border-bottom border-dark">
			<% titles = ['Do you provide radiology services at this location?', 'Please list all X-ray certifications:']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '6' %>
			<% end %>
		</div>

		<%= HtmlUtils.single_column title: 'FDA/Radiology (Mammography) Certification Number for this location:', height: 'h-50px'%>

		<%= HtmlUtils.single_column title: 'Please select all services offered at this location:', height: 'h-75px'%>

		<div class="row g-0 border-bottom border-dark">
			<% titles = ['Is anesthesia administered at this location?', 'Class/Category:']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '6' %>
			<% end %>
		</div>
		<%= render "view_summary/components/firstname_lastname_middlename"%>

		<%= HtmlUtils.single_column title: 'Degree:', height: 'h-50px'%>
		<%= HtmlUtils.single_column title: 'Please list any additional procedures provided at this location (including surgical procedures):', height: 'h-75px'%>

		<%= HtmlUtils.table_sub_section_header title: 'Mid-Level Practitioners' %>
		<%= HtmlUtils.single_column title: 'Do mid-level practitioners (nurse practitioners, nurse midwives, physician assistants, registered nurse first assistant, etc.) care for patients at this location?', height: 'h-50px'%>
		<%= render "view_summary/components/firstname_lastname_middlename"%>
		<%= HtmlUtils.single_column title: 'Mid-Level Practitioner Degree:', height: 'h-50px'%>

		<div class="row g-0 border-bottom border-dark">
			<% titles = ['Primary License State:', 'Primary License Number:']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '6' %>
			<% end %>
		</div>
		<%= HtmlUtils.table_sub_section_header title: 'Partners' %>
		<%= render "view_summary/components/firstname_lastname_middlename"%>

		<div class="row g-0 border-bottom border-dark">
			<% titles = ['Primary License State:', 'Primary License Number:']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '6' %>
			<% end %>
		</div>

		<%= HtmlUtils.single_column title: 'Practitioner Degree:', height: 'h-50px'%>
		<%= HtmlUtils.single_column title: 'NPI Number:', height: 'h-50px'%>
		<%= HtmlUtils.single_column title: 'Specialty:', height: 'h-50px'%>


		<div class="row g-0 border-bottom border-dark">
			<% titles = ['Primary License State:', 'Primary License Number:']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '6' %>
			<% end %>
		</div>
		<%= HtmlUtils.single_column title: 'Does this partner/associate cover for you?', height: 'h-50px'%>

	</div>
	<%= HtmlUtils.summary_footer page: 11 %>

</div>


<div class="row">
	<div class="col-lg-12 d-flex justify-content-end px-5 gap-3">
		<a href="<%= view_summary_index_path(page: 10) %>" class="btn btn-primary btn-md">Previous Page</a>
		<a href="<%= view_summary_index_path(page: 12)%>" class="btn btn-primary btn-md">Next Page</a>
	</div>
</div>