<div class="row p-4" id="page6">
	<div class="col-lg-12 text-black border border-dark py-3 px-0 pb-0">
		<%= HtmlUtils.table_section_header title: '11. Disclosure Questions' %>
		<%= HtmlUtils.table_sub_section_header title: 'Hospital Privileges and Other Affiliations' %>

		<%= HtmlUtils.two_column_with_yes text1: '5. Have you ever been terminated for cause or not renewed for cause from participation, or been subject to any disciplinary action, by any managed care organizations (including HMOs, PPOs, or provider organizations such as IPAs, PHOs)?', height: 'h-50px' %>

		<%= HtmlUtils.table_sub_section_header title: 'Education, Training, and Board Certification' %>

		<%= HtmlUtils.two_column_with_yes text1: '6. Were you ever placed on probation, disciplined, formally reprimanded, suspended or asked to resign during an internship, residency, fellowship, preceptorship or other clinical education program? If you are currently in a training program, have you been placed on probation, disciplined, formally reprimanded, suspended or asked to resign?' %>

		<%= HtmlUtils.two_column_with_yes text1: '7. Have you ever, while under investigation or to avoid an investigation, voluntarily withdrawn or prematurely terminated your status as a student or employee in any internship, residency, fellowship, preceptorship, or other clinical education program?', height: 'h-50px' %>

		<%= HtmlUtils.two_column_with_yes text1: '8. Have any of your board certifications or eligibility ever been revoked?', height: 'h-50px' %>
		<%= HtmlUtils.two_column_with_yes text1: '9. Have you ever chosen not to re-certify or voluntarily surrendered your board certification(s) while under investigation?', height: 'h-50px' %>

		<%= HtmlUtils.table_sub_section_header title: 'DEA or CDS' %>
		<%= HtmlUtils.two_column_with_yes text1: '10. Have your Federal DEA and/or State Controlled Dangerous Substances (CDS) certificate(s) or authorization(s) ever been challenged, denied, suspended, revoked, restricted, denied renewal, or voluntarily or involuntarily relinquished?' %>

		<%= HtmlUtils.table_sub_section_header title: 'Medicare, Medicade, or other Governmental Program Participation' %>

		<%= HtmlUtils.two_column_with_yes text1: '11. Have you ever been disciplined, excluded from, debarred, suspended, reprimanded, sanctioned, censured, disqualified or otherwise restricted in regard to participation in the Medicare or Medicaid program, or in regard to other federal or state governmental health care plans or programs?' %>

		<%= HtmlUtils.table_sub_section_header title: 'Other Sanctions or Investigations' %>

		<%= HtmlUtils.two_column_with_yes text1: '12. Are you currently the subject of an investigation by any hospital, licensing authority, DEA or CDS authorizing entities, education or training program, Medicare or Medicaid program, or any other private, federal or state health program or a defendant in any civil action that is reasonably related to your qualifications, competence, functions, or duties as a medical professional for alleged fraud, an act of violence, child abuse or a sexual offense or sexual misconduct?' %>

		<%= HtmlUtils.two_column_with_yes text1: '13. To your knowledge, has information pertaining to you ever been reported to the National Practitioner Data Bank or Healthcare Integrity and Protection Data Bank?', height: 'h-50px' %>


	</div>
	<%= HtmlUtils.summary_footer page: 13 %>

</div>


<div class="row">
	<div class="col-lg-12 d-flex justify-content-end px-5 gap-3">
		<a href="<%= view_summary_index_path(page: 12) %>" class="btn btn-primary btn-md">Previous Page</a>
		<a href="<%= view_summary_index_path(page: 14)%>" class="btn btn-primary btn-md">Next Page</a>
	</div>
</div>