<div class="row p-4" id="page6">
	<div class="col-lg-12 text-black border border-dark py-3 px-0 pb-0">

		<%= HtmlUtils.table_section_header title: '11. Disclosure Questions' %>

		<%= HtmlUtils.table_sub_section_header title: 'Other Sanctions or Investigations' %>

		<%= HtmlUtils.two_column_with_yes text1: '14. To your knowledge, has information pertaining to you ever been reported to the National Practitioner Data Bank or Healthcare Integrity and Protection Data Bank?', height: 'h-50px' %>

		<%= HtmlUtils.two_column_with_yes text1: '15. Have you ever been convicted of, pled guilty to, pled nolo contendere to, sanctioned, reprimanded, restricted, disciplined or resigned in exchange for no investigation or adverse action within the last ten years for sexual harassment or other illegal misconduct?' %>

		<%= HtmlUtils.two_column_with_yes text1: '16. Are you currently being investigated or have you ever been sanctioned, reprimanded, or cautioned by a military hospital, facility, or agency, or voluntarily terminated or resigned while under investigation or in exchange for no investigation by a hospital or healthcare facility of any military agency?' %>

		<%= HtmlUtils.table_sub_section_header title: 'Professional Liability Insurance Information and Claims History' %>

		<%= HtmlUtils.two_column_with_yes text1: '17. Has your professional liability coverage ever been cancelled, restricted, declined or not renewed by the carrier based on your individual liability history?' %>

		<%= HtmlUtils.two_column_with_yes text1: '18. Have you ever been assessed a surcharge, or rated in a high-risk class for your specialty, by your professional liability insurance carrier, based on your individual liability history?' %>

		<%= HtmlUtils.table_sub_section_header title: 'Malpractice Claims History' %>

		<%= HtmlUtils.two_column_with_yes text1: '19. Have you ever had any professional liability actions (pending, settled, arbitrated, mediated or litigated) within the past 10 years? If yes, provide information for each case under Professional Liability Claims History.', height: 'h-50px' %>

		<%= HtmlUtils.table_sub_section_header title: 'Criminal/Civil History' %>

		<%= HtmlUtils.two_column_with_yes text1: '20. Have you ever been convicted of, pled guilty to, or pled nolo contendere to any felony?', height: 'h-50px' %>

		<%= HtmlUtils.two_column_with_yes text1: '21. In the past ten years have you been convicted of, pled guilty to, or pled nolo contendere to any misdemeanor (excluding minor traffic violations) or been found liable or responsible for any civil offense that is reasonably related to your qualifications, competence, functions, or duties as a medical professional, or for fraud, an act of violence, child abuse or a sexual offense or sexual misconduct?' %>

		<%= HtmlUtils.two_column_with_yes text1: '22. Have you ever been court-martialed for actions related to your duties as a medical professional?', height: 'h-50px' %>


	</div>
	<%= HtmlUtils.summary_footer page: 14 %>

</div>


<div class="row">
	<div class="col-lg-12 d-flex justify-content-end px-5 gap-3">
		<a href="<%= view_summary_index_path(page: 13) %>" class="btn btn-primary btn-md">Previous Page</a>
		<a href="<%= view_summary_index_path(page: 15)%>" class="btn btn-primary btn-md">Next Page</a>
	</div>
</div>