<div class="row p-4" id="page6">
	<div class="col-lg-12 text-black border border-dark py-3 px-0 pb-0">

		<%= HtmlUtils.table_section_header title: '11. Disclosure Questions' %>

		<%= HtmlUtils.table_sub_section_header title: 'Ability to Perform Job' %>

		<%= HtmlUtils.two_column_with_yes answer: @current_provider_source.fetch(:q23)&.titleize, explanation: @current_provider_source.fetch(:q23_explanation), text1: '23. Are you currently engaged in the illegal use of drugs? ("Currently" means sufficiently recent to justify a reasonable belief that the use of drugs may have an ongoing impact on one\'s ability to practice medicine. It is not limited to the day of, or within a matter of days or weeks before the date of application, rather that it has occurred recently enough to indicate the individual is actively engaged in such conduct. "Illegal use of drugs" refers to drugs whose possession or distribution is unlawful under the Controlled Substances Act, 21 U.S.C. 812.22. It "does not include the use of a drug taken under supervision by a licensed health care professional, or other uses authorized by the controlled Substances Act or other provision of Federal law." The term does include, however, the unlawful use of prescription controlled substances.)' %>


		<%= HtmlUtils.two_column_with_yes answer: @current_provider_source.fetch(:q24)&.titleize, explanation: @current_provider_source.fetch(:q24_explanation), text1: '24. Do you use any chemical substances that would in any way impair or limit your ability to practice medicine and perform the functions of your job with reasonable skill and safety?' %>

		<%= HtmlUtils.two_column_with_yes answer: @current_provider_source.fetch(:q25)&.titleize, explanation: @current_provider_source.fetch(:q25_explanation), text1: '25. Do you have any reason to believe that you would pose a risk to the safety or well being of your patients?', height: 'h-50px' %>

		<%= HtmlUtils.two_column_with_yes answer: @current_provider_source.fetch(:q26)&.titleize, explanation: @current_provider_source.fetch(:q26_explanation), text1: '26. Are you unable to perform the essential functions of a practitioner in your area of practice even with reasonable accommodation?', height: 'h-50px' %>

		<%= HtmlUtils.table_sub_section_header title: '12. Attestation & Signature' %>
		<%= HtmlUtils.single_column title: 'To complete your application, please read and agree to the following attestation and release agreement.You must click the "I Attest" button to certify that you have carefully reviewed all information, including supporting documentation, contained within your ProviderSource™ application and that all information provided is true, correct, current and complete, to the best of your knowledge. By clicking "I Attest", you also acknowledge that you must create an electronic signature in order to complete your application.'%>

		<div class="row">
			<div class="col-lg-12 ">
			<p>	I understand and agree that, as part of the credentialing application process for participation, membership and/or clinical privileges (hereinafter, referred to as ""Participation"") at or with each healthcare organization indicated on the ""List of Authorized Organizations"" that accompanies this Provider Application (hereinafter, each healthcare organization on the ""List of Authorized Organizations"" is individually referred to as the ""Entity""), and any of the Entity's affiliated entities, I am required to provide sufficient and accurate information for a proper evaluation of my current licensure, relevant training and/or experience, clinical competence, health status, character, ethics, and any other criteria used by the Entity for determining initial and ongoing eligibility for Participation. Each Entity and its representatives, employees, and agent(s) acknowledge that the information obtained relating to the application process will be held confidential to the extent permitted by law.
			</p>
			<p>
				I acknowledge that each Entity has its own criteria for acceptance, and I may be accepted or rejected by each independently. I further acknowledge and understand that my cooperation in obtaining information and my consent to the release of information do not guarantee that any Entity will grant me clinical privileges or contract with me as a provider of services. I understand that my application for Participation with the Entity is not an application for employment with the Entity and that acceptance of my application by the Entity will not result in my employment by the Entity.
			</p>
			<p>
				Authorization of Investigation Concerning Application for Participation. I authorize the following individuals including, without limitation, the Entity, its representatives, employees, and/or designated agent(s); the Entity's affiliated entities and their representatives, employees, and/or designated agents; and the Entity's designated professional credentials verification organization (collectively referred to as ""Agents""), to investigate information, which includes both oral and written statements, records, and documents, concerning my application for Participation. I agree to allow the Entity and/or its Agent(s) to inspect and copy all records and documents relating to such an investigation.
			</p>

			<p>
				Authorization of Third-Party Sources to Release Information Concerning Application for Participation. I authorize any third party, including, but not limited to, individuals, agencies, medical groups responsible for credentials verification, corporations, companies, employers, former employers, hospitals, health plans, health maintenance organizations, managed care organizations, law enforcement or licensing agencies, insurance companies, educational and other institutions, military services, medical credentialing and accreditation agencies, professional medical societies, the Federation of State Medical Boards, the National Practitioner Data Bank, and the Health Care Integrity and Protection Data Bank, to release to the Entity and/or its Agent(s), information, including otherwise privileged or confidential information, concerning my professional qualifications, credentials, clinical competence, quality assurance and utilization data, character, mental condition, physical condition, alcohol or chemical dependency diagnosis and treatment, ethics, behavior, or any other matter reasonably having a bearing on my qualifications for Participation in, or with, the Entity. I authorize my current and past professional liability carrier(s) to release my history of claims that have been made and/or are currently pending against me. I specifically waive written notice from any entities and individuals who provide information based upon this Authorization, Attestation and Release.
			</p>

			<br><br><br>

			</div>
		</div>

	</div>
	<%= HtmlUtils.summary_footer page: 15 %>

</div>


<div class="row">
	<div class="col-lg-12 d-flex justify-content-end px-5 gap-3">
		<a href="javascript:void(0);" class="btn btn-primary btn-md btn-print" data-toprint="page15">Print/Download</a>
		<a href="<%= view_summary_index_path(page: 14) %>" class="btn btn-primary btn-md">Previous Page</a>
		<a href="<%= view_summary_index_path(page: 16)%>" class="btn btn-primary btn-md">Next Page</a>
	</div>
</div>