<div class="row p-4" id="page2">
	<div class="col-lg-12 text-black border border-dark py-3 px-0 pb-0">
		<%= HtmlUtils.table_section_header title: '3.1 Professional IDs - Registration IDs' %>
		<%= HtmlUtils.single_column title: 'NPI Number:', height: 'h-50px'%>
		<div class="row g-0 border-bottom border-dark">
			<% titles = ['DEA Registration Number:', 'Registration State:', 'Issue Date:']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '4' %>
			<% end %>
		</div>


		<div class="row g-0 border-bottom border-dark">
			<% titles = ['Expiration Date:', 'Full Sched (2 2N 3 3N 4 5):']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '6' %>
			<% end %>
		</div>

		<%= HtmlUtils.single_column title: 'Please explain why you do not have a DEA registration number:', height: 'h-75px'%>

		<div class="row g-0 border-bottom border-dark">
			<% titles = ['CDS Registration Number:', 'Registration State:', 'Issue Date:']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '4' %>
			<% end %>
		</div>

		<div class="row g-0 border-bottom border-dark">
			<% titles = ['Expiration Date:', 'Full Sched ( 2 2N 3 3N 4 5):', 'Are you currently practicing in this state?']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '4' %>
			<% end %>
		</div>

		<%= HtmlUtils.single_column title: 'Please explain why you do not have a CDS registration number:', height: 'h-75px'%>


		<div class="row g-0 border-bottom border-dark">
			<% titles = ['Registration Number:', 'Registration State:', 'Specialty:']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '4' %>
			<% end %>
		</div>

		<div class="row g-0 border-bottom border-dark">
			<% titles = ['Issuing Board:', 'Address Line 1:', 'City:']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '4' %>
			<% end %>
		</div>

		<div class="row g-0 border-bottom border-dark">
			<!-- in this case had to make two level array title[0] for title and title[1] for colum size-->
			<% titles = [['Zip Code:', '4'], ['Telephone Number:', '4'], ['Ext:', '1'], ['Fax Number:', '3']]%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title[0], height: 'h-50px', last: ((titles.count-1) == idx ), size: title[1] %>
			<% end %>
		</div>


		<div class="row g-0 border-bottom border-dark">
			<% titles = ['Issue Date:', 'Expiration Date:', 'Are you currently practicing under this number?']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '4' %>
			<% end %>
		</div>
		<%= HtmlUtils.table_section_header title: '3.2 Professional IDs - Licensure IDs' %>


		<div class="row g-0 border-bottom border-dark">
			<% titles = ['License State:', 'License Type:', 'License Number:']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '4' %>
			<% end %>
		</div>

		<div class="row g-0 border-bottom border-dark">
			<% titles = ['License Status:', 'Issue Date:', 'Expiration Date:']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '4' %>
			<% end %>
		</div>

		<div class="row g-0 border-bottom border-dark">
			<% titles = ['Are you currently practicing in this state?', 'Is this your primary license?', 'Does this license require supervision?']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '4' %>
			<% end %>
		</div>

		<div class="row g-0 border-bottom border-dark">
			<!-- in this case had to make two level array title[0] for title and title[1] for colum size-->
			<% titles = [['First Name:', '4'], ['Middle Name:', '4'], ['Last Name:', '3'], ['Suffix:', '1']]%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title[0], height: 'h-50px', last: ((titles.count-1) == idx ), size: title[1] %>
			<% end %>
		</div>

		<%= HtmlUtils.single_column title: 'Degree:', height: 'h-50px'%>

		<%= HtmlUtils.table_section_header title: '3.3 Professional IDs - Other IDs and Certifications' %>


		<div class="row g-0 border-bottom border-dark">
			<% titles = ['Have you ever voluntarily opted out of Medicare?', 'Are you a participating Medicare Provider? ']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '6' %>
			<% end %>
		</div>

		<div class="row g-0 border-bottom border-dark">
			<% titles = ['Medicare Number:', 'Medicare State:']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '6' %>
			<% end %>
		</div>

		<div class="row g-0 border-bottom border-dark">
			<% titles = ['Medicaid Number:', 'Medicaid State:']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '6' %>
			<% end %>
		</div>

		<div class="row g-0 border-bottom border-dark">
			<% titles = ['TRICARE Provider Number:', 'USLME Number:', 'Worker’s Compensation Number:']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '4' %>
			<% end %>
		</div>

		<%= HtmlUtils.single_column title: 'Certification Type:', height: 'h-50px'%>

		<div class="row g-0 border-bottom border-dark">
			<% titles = ['State:', 'Certification Number:']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '6' %>
			<% end %>
		</div>

		<div class="row g-0">
			<% titles = ['Issue Date:', 'Expiration Date:']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '6' %>
			<% end %>
		</div>

	</div>

	<%= HtmlUtils.summary_footer page: 2 %>
</div>