<div class="row p-4" id="page3">
	<div class="col-lg-12 text-black border border-dark py-3 px-0 pb-0">
		<%= HtmlUtils.table_section_header title: '4.Health Plans - Authorization and Release' %>
		<%= HtmlUtils.single_column title: 'Health Plans:', value: @current_provider_source.fetch(:hp_health_plans),  height: 'h-50px'%>
		<%= HtmlUtils.single_column title: 'Hospitals:', value: @current_provider_source.fetch(:hp_hospitals), height: 'h-50px'%>
		<%= HtmlUtils.single_column title: 'Directories:', value: @current_provider_source.fetch(:hp_directories), height: 'h-50px'%>
		<%= HtmlUtils.table_section_header title: '5. Specialties' %>


		<div class="row g-0 border-bottom border-dark">
			<% titles = [['Ranking:', :special_ranking], ['Specialty:', :specialty]]%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title[0], value: @current_provider_source.fetch(title[1]), height: 'h-50px', last: ((titles.count-1) == idx ), size: '6' %>
			<% end %>
		</div>

		<div class="row g-0 border-bottom border-dark">
			<% titles = [['Do you wish to listed in the Provider Directory under this specialty?', :specialties_provider_directory], ['Do you wish to listed in the HMO Directory under this specialty?', :specialties_hmo_directory]]%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title[0], value: @current_provider_source.fetch(title[1])&.titleize, height: 'h-50px', last: ((titles.count-1) == idx ), size: '6' %>
			<% end %>
		</div>

		<div class="row g-0 border-bottom border-dark">
			<% titles = [['Do you wish to listed in the PPO Directory under this specialty?', :specialties_ppo_directory], ['Do you wish to listed in the POS Directory under this specialty?', :specialties_pos_directory]]%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title[0], value: @current_provider_source.fetch(title[1])&.titleize, height: 'h-50px', last: ((titles.count-1) == idx ), size: '6' %>
			<% end %>
		</div>

		<div class="row g-0 border-bottom border-dark">
			<% titles = [['Are/Were you certified by any board in this specialty?', :specialties_board], ['Are you eligible to be certified in this specialty:', :specialties_certified]]%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title[0], value: @current_provider_source.fetch(title[1])&.titleize, height: 'h-50px', last: ((titles.count-1) == idx ), size: '6' %>
			<% end %>
		</div>
		<div class="row g-0 border-bottom border-dark">
			<% titles = ['Admissibility Expiration Date:', 'Do you have board exam results pending for this specialty?']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '6' %>
			<% end %>
		</div>
		<div class="row g-0 border-bottom border-dark">
			<% titles = ['Have you applied for this certification exam?', 'Have you been accepted to take this
certification exam?','Board Exam Date:']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '4' %>
			<% end %>
		</div>
		<div class="row g-0 border-bottom border-dark">
			<% titles = ['Do you intend to apply for this certification exam?', 'Date you intend to apply:']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '6' %>
			<% end %>
		</div>
		<%= HtmlUtils.single_column title: 'Please explain why you do not intend to sit for a Board exam:', height: 'h-50px'%>

		<div class="row g-0 border-bottom border-dark">
			<% titles = ['Address Line 1:', 'Address Line 2:']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '6' %>
			<% end %>
		</div>

		<div class="row g-0 border-bottom border-dark">
			<% titles = ['City:', 'State:', 'Zip Code:']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '4' %>
			<% end %>
		</div>


		<div class="row g-0 border-bottom border-dark">
			<!-- in this case had to make two level array title[0] for title and title[1] for colum size-->
			<% titles = [['Board Certification Number:', '4'], ['Telephone Number:', '4'], ['Ext:', '1'], ['Fax Number:', '3']]%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title[0], height: 'h-50px', last: ((titles.count-1) == idx ), size: title[1] %>
			<% end %>
		</div>

		<div class="row g-0 border-bottom border-dark">
			<% titles = ['Initial Certification Date:', 'Certification Expiration Date:', 'Recertification Date:']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '4' %>
			<% end %>
		</div>

		<div class="row g-0 border-bottom border-dark">
			<%= HtmlUtils.table_column title: "Have you ever failed to pass a specialty board exam?", value: @current_provider_source.fetch(:specialties_board_exam)&.titleize, height: 'h-50px', last: false, size: '6' %>
			<% date = Date.parse(@current_provider_source.fetch(:failed_board_date))&.strftime('%B %d, %Y') rescue nil%>
			<%= HtmlUtils.table_column title: 'Board Exam Date', value: date, height: 'h-50px', last: true, size: '6' %>
		</div>
		<%= HtmlUtils.single_column title: 'Certifying Board:', value: @current_provider_source.fetch(:failed_exam_certifying_board)&.titleize, height: 'h-50px'%>

		<%= HtmlUtils.single_column title: 'Reason for Failure:', value: @current_provider_source.fetch(:failed_board_reason), height: 'h-50px'%>

		<%= HtmlUtils.single_column title: 'Other areas of professional practice interest, activities, procedures, diagnoses or populations:', value: @current_provider_source.fetch(:'populations-served')&.titleize, height: 'h-50px'%>

		<%= HtmlUtils.table_section_header title: '6.1 Education and Training - Education' %>


		<div class="row g-0 border-bottom border-dark">
			<% titles = [['Did you attend an undergraduate school?', :undergraduate_school], ['Undergraduate School Location:', :usd_school_location], ['Undergraduate School Name:', :usd_undergraduate_school_name]]%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title[0], value: @current_provider_source.fetch(title[1])&.titleize, height: 'h-50px', last: ((titles.count-1) == idx ), size: '4' %>
			<% end %>
		</div>
		<div class="row g-0 border-bottom border-dark">
			<% titles = [['Address Line 1:', :usd_address_line1], ['City:', :usd_city], ['Zip Code:', :usd_zipcode]]%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title[0], value: @current_provider_source.fetch(title[1])&.titleize, height: 'h-50px', last: ((titles.count-1) == idx ), size: '4' %>
			<% end %>
		</div>
		<div class="row g-0 border-bottom border-dark">
			<!-- in this case had to make two level array title[0] for title and title[1] for colum size-->
			<% titles = [['Telephone Number:', '4', :usd_telephone_number], ['Ext:', '1', :usd_ext], ['Fax Number:', '3', :usd_fax_number], ['Undergraduate Major:', '4', :usd_undergraduate_major]]%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title[0], value: @current_provider_source.fetch(title[2]), height: 'h-50px', last: ((titles.count-1) == idx ), size: title[1] %>
			<% end %>
		</div>
		<%= HtmlUtils.single_column title: 'Degree Awarded:', value: @current_provider_source.fetch(:usd_degree_awarded), height: 'h-50px'%>

		<div class="row g-0 border-bottom border-dark">
				<%= HtmlUtils.table_column title: 'Did you complete your undergraduate education at this school?', value: @current_provider_source.fetch(:incomplete_undergrad), height: 'h-50px', last: false, size: '4' %>

			<% titles = [['Start Date:', :usd_date_start], ['End (Graduation) Date:', :usd_date_graduation]]%>
			<% titles.each_with_index do |title,idx|%>
				<% date = Date.parse(@current_provider_source.fetch(title[1]))&.strftime('%B %d, %Y') rescue nil%>
				<%= HtmlUtils.table_column title: title[0], value: date, height: 'h-50px', last: ((titles.count-1) == idx ), size: '4' %>
			<% end %>
		</div>

		<%= HtmlUtils.single_column title: 'Please explain why you did not complete your undergraduate education at this school.', value: @current_provider_source.fetch(:'usd-reason'), height: 'h-50px'%>


	</div>

	<%= HtmlUtils.summary_footer page: 3 %>

</div>

<div class="row">
	<div class="col-lg-12 d-flex justify-content-end px-5 gap-3">
		<a href="javascript:void(0);" class="btn btn-primary btn-md btn-print" data-toprint="page3">Print/Download</a>
		<a href="<%= view_summary_index_path(page: 2) %>" class="btn btn-primary btn-md">Previous Page</a>
		<a href="<%= view_summary_index_path(page: 4)%>" class="btn btn-primary btn-md">Next Page</a>
	</div>
</div>