<div class="row p-4" id="page3">
	<div class="col-lg-12 text-black border border-dark py-3 px-0 pb-0">
		<%= HtmlUtils.table_section_header title: '4.Health Plans - Authorization and Release' %>
		<%= HtmlUtils.single_column title: 'Health Plans:', height: 'h-50px'%>
		<%= HtmlUtils.single_column title: 'Hospitals:', height: 'h-50px'%>
		<%= HtmlUtils.single_column title: 'Directories:', height: 'h-50px'%>
		<%= HtmlUtils.table_section_header title: '5. Specialties' %>


		<div class="row g-0 border-bottom border-dark">
			<% titles = ['Ranking:', 'Specialty:']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '6' %>
			<% end %>
		</div>

		<div class="row g-0 border-bottom border-dark">
			<% titles = ['Do you wish to listed in the Provider Directory under this specialty?', 'Do you wish to listed in the HMO Directory under this specialty?']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '6' %>
			<% end %>
		</div>


		<div class="row g-0 border-bottom border-dark">
			<% titles = ['Do you wish to listed in the PPO Directory under this specialty?', 'Do you wish to listed in the POS Directory under this specialty?']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '6' %>
			<% end %>
		</div>


		<div class="row g-0 border-bottom border-dark">
			<% titles = ['Are/Were you certified by any board in this specialty?', 'Are you eligible to be certified in this specialty:']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '6' %>
			<% end %>
		</div>
		<div class="row g-0 border-bottom border-dark">
			<% titles = ['Admissibility Expiration Date:', 'Do you have board exam results pending for this specialty?']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '6' %>
			<% end %>
		</div>
		<div class="row g-0 border-bottom border-dark">
			<% titles = ['Have you applied for this certification exam?', 'Have you been accepted to take this 
certification exam?','Board Exam Date:']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '4' %>
			<% end %>
		</div>
		<div class="row g-0 border-bottom border-dark">
			<% titles = ['Do you intend to apply for this certification exam?', 'Date you intend to apply:']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '6' %>
			<% end %>
		</div>
		<%= HtmlUtils.single_column title: 'Please explain why you do not intend to sit for a Board exam:', height: 'h-50px'%>
		<%= HtmlUtils.single_column title: 'Certifying Board:', height: 'h-50px'%>

		<div class="row g-0 border-bottom border-dark">
			<% titles = ['Address Line 1:', 'Address Line 2:']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '6' %>
			<% end %>
		</div>

		<div class="row g-0 border-bottom border-dark">
			<% titles = ['City:', 'State:', 'Zip Code:']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '4' %>
			<% end %>
		</div>


		<div class="row g-0 border-bottom border-dark">
			<!-- in this case had to make two level array title[0] for title and title[1] for colum size-->
			<% titles = [['Board Certification Number:', '4'], ['Telephone Number:', '4'], ['Ext:', '1'], ['Fax Number:', '3']]%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title[0], height: 'h-50px', last: ((titles.count-1) == idx ), size: title[1] %>
			<% end %>
		</div>

		<div class="row g-0 border-bottom border-dark">
			<% titles = ['Initial Certification Date:', 'Certification Expiration Date:', 'Recertification Date:']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '4' %>
			<% end %>
		</div>

		<div class="row g-0 border-bottom border-dark">
			<% titles = ['Have you ever failed to pass a specialty board exam?', 'Board Exam Date:']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '6' %>
			<% end %>
		</div>
		<%= HtmlUtils.single_column title: 'Certifying Board:', height: 'h-50px'%>

		<%= HtmlUtils.single_column title: 'Reason for Failure:', height: 'h-50px'%>

		<%= HtmlUtils.single_column title: 'Other areas of professional practice interest, activities, procedures, diagnoses or populations:', height: 'h-50px'%>

		<%= HtmlUtils.table_section_header title: '6.1 Education and Training - Education' %>


		<div class="row g-0 border-bottom border-dark">
			<% titles = ['Did you attend an undergraduate school?', 'Undergraduate School Location:', 'Undergraduate School Name:']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '4' %>
			<% end %>
		</div>
		<div class="row g-0 border-bottom border-dark">
			<% titles = ['Address Line 1:', 'City:', 'Zip Code:']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '4' %>
			<% end %>
		</div>

		<div class="row g-0 border-bottom border-dark">
			<!-- in this case had to make two level array title[0] for title and title[1] for colum size-->
			<% titles = [['Telephone Number:', '4'], ['Ext:', '1'], ['Fax Number:', '3'], ['Undergraduate Major:', '4']]%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title[0], height: 'h-50px', last: ((titles.count-1) == idx ), size: title[1] %>
			<% end %>
		</div>
		<%= HtmlUtils.single_column title: 'Degree Awarded:', height: 'h-50px'%>

		<div class="row g-0 border-bottom border-dark">
			<% titles = ['Did you complete your undergraduate 
education at this school?', '', 'End (Graduation) Date:']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '4' %>
			<% end %>
		</div>

		<%= HtmlUtils.single_column title: 'Please explain why you did not complete your undergraduate education at this school.', height: 'h-50px'%>


	</div>

	<%= HtmlUtils.summary_footer page: 3 %>

</div>