<div class="row p-4 view-summary" id="page4">
	<div class="col-lg-12 text-black border border-dark px-0 pb-0">
		<%= HtmlUtils.table_section_header title: '6.1 Education and Training - Education' %>
		<div class="row g-0 border-bottom border-dark">
			<% titles = [['Have you ever attended a Graduate/Professional School?', :professional_school], ['Education Type:', :education_types]]%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title[0], value: @current_provider_source.fetch(title[1])&.titleize, height: 'h-50px', last: ((titles.count-1) == idx ), size: '6' %>
			<% end %>
		</div>
		<div class="row g-0 border-bottom border-dark">
			<% titles = [['Graduate/Professional School Location:', :prof_school_location], ['Professional School Name:', :'psd-psn']]%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title[0], value: @current_provider_source.fetch(title[1])&.titleize, height: 'h-50px', last: ((titles.count-1) == idx ), size: '6' %>
			<% end %>
		</div>
		<div class="row g-0 border-bottom border-dark">
			<% titles = [['Address Line 1:', :'psd-address-line1'], ['City:', :'psd-city'], ['Zip Code:', :'psd-zipcode']]%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title[0], value: @current_provider_source.fetch(title[1])&.titleize, height: 'h-50px', last: ((titles.count-1) == idx ), size: '4' %>
			<% end %>
		</div>

		<div class="row g-0 border-bottom border-dark">
			<!-- in this case had to make two level array title[0] for title and title[1] for colum size-->
			<% titles = [['Telephone Number:', '4', :'psd-telephone-number'], ['Ext:', '1', :'psd-ext'], ['Fax Number:', '3', :'psd-fax-number'], ['Graduate Type:', '4']]%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title[0], value: @current_provider_source.fetch(title[2]), height: 'h-50px', last: ((titles.count-1) == idx ), size: title[1] %>
			<% end %>
		</div>
		<%= HtmlUtils.single_column title: 'Specialization:', value: @current_provider_source.fetch(:'psd-undergraduate-major')&.titleize, height: 'h-50px'%>
		<%= HtmlUtils.single_column title: 'Degree Awarded:', value: @current_provider_source.fetch(:'psd-degree-awarded')&.titleize, height: 'h-50px'%>


		<div class="row g-0 border-bottom border-dark">
			<% titles = [['Faculty Director First Name:', :'psd-fd-first-name'], ['Faculty Director Last Name:', :'psd-fd-last-name']]%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title[0], value: @current_provider_source.fetch(title[1])&.titleize, height: 'h-50px', last: ((titles.count-1) == idx ), size: '6' %>
			<% end %>
		</div>
		<%= HtmlUtils.single_column title: 'Director Degree:', value: @current_provider_source.fetch(:'psd-director-degree'), height: 'h-50px'%>
		<div class="row g-0 border-bottom border-dark">
			<%= HtmlUtils.table_column title: 'Did you complete your professional education at this school?', value: @current_provider_source.fetch(:incomplete_prof), height: 'h-50px', last: false, size: '4' %>

			<% titles = [['Start Date:', :prof_date_start], ['End (Graduation) Date:', :prof_date_graduation]]%>
			<% titles.each_with_index do |title,idx|%>
				<% date = Date.parse(@current_provider_source.fetch(title[1]))&.strftime('%B %d, %Y') rescue nil%>
				<%= HtmlUtils.table_column title: title[0], value: date, height: 'h-50px', last: ((titles.count-1) == idx ), size: '4' %>
			<% end %>
		</div>
		<%= HtmlUtils.single_column title: 'Please explain why you did not complete your professional education at this school.', value: @current_provider_source.fetch(:'psd-reason'), height: 'h-75px'%>

		<%= HtmlUtils.table_section_header title: '6.2 Education and Training - Training' %>

		<div class="row g-0 border-bottom border-dark">
			<% titles = [['Did/Do you attend a training program?', :has_training_program], ['Training Program Location:', :'tf-location'], ['Training Program Name:', :'tf-psn']]%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title[0], value: @current_provider_source.fetch(title[1])&.titleize, height: 'h-50px', last: ((titles.count-1) == idx ), size: '4' %>
			<% end %>
		</div>
		<div class="row g-0 border-bottom border-dark">
			<% titles = [['Address Line 1:', :'tf-address-line1'], ['City:', :'tf-city'], ['Zip Code:', :'tf-zipcode']]%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title[0], value: @current_provider_source.fetch(title[1])&.titleize, height: 'h-50px', last: ((titles.count-1) == idx ), size: '4' %>
			<% end %>
		</div>
		<div class="row g-0 border-bottom border-dark">
			<!-- in this case had to make two level array title[0] for title and title[1] for colum size-->
			<% titles = [['Telephone Number:', '4', :'tf-telephone-number'], ['Ext:', '1', :'tf-ext'], ['Fax Number:', '3', :'tf-fax-number'], ['Email Address:', '4', :'tf-email']]%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title[0], value: @current_provider_source.fetch(title[2]), height: 'h-50px', last: ((titles.count-1) == idx ), size: title[1] %>
			<% end %>
		</div>
		<div class="row g-0 border-bottom border-dark">
			<% titles = [['Type of Training:', :tr_training_types], ['Specialty:', :tr_specialties]]%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title[0], value: @current_provider_source.fetch(title[1]), height: 'h-50px', last: ((titles.count-1) == idx ), size: '6' %>
			<% end %>
		</div>
		<div class="row g-0 border-bottom border-dark">
			<% titles = [['Program Director First Name:', :'tf-pd-first-name'], ['Program Director Last Name:', :'tf-pd-last-name']]%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title[0], value: @current_provider_source.fetch(title[1])&.titleize, height: 'h-50px', last: false, size: '4' %>
			<% end %>
			<%= HtmlUtils.table_column title: 'Program Director Email Address:', value: @current_provider_source.fetch(:'tf-pd-email-address'), height: 'h-50px', last: true, size: '4' %>

		</div>
		<%= HtmlUtils.single_column title: 'Program Director Degree:', value: @current_provider_source.fetch(:'tf-pf-degree'), height: 'h-50px'%>
		<div class="row g-0 border-bottom border-dark">
			<% titles = [['Start Date:', :'tf-start-date'], ['End of Training Date:', :'tf-end-date']]%>
			<% titles.each_with_index do |title,idx|%>
				<% date = Date.parse(@current_provider_source.fetch(title[1]))&.strftime('%B %d, %Y') rescue nil%>
				<%= HtmlUtils.table_column title: title[0], value: date, height: 'h-50px', last: false, size: '4' %>
			<% end %>
			<%= HtmlUtils.table_column title: 'Did you complete your training at this institution?', value: @current_provider_source.fetch(:incomplete_training)&.titleize, height: 'h-50px', last: true, size: '4' %>
		</div>
		<%= HtmlUtils.single_column title: 'Please explain why you did not complete your training at this institution:', value: @current_provider_source.fetch(:'tf-reason'), height: 'h-75px'%>
		<div class="row g-0 border-bottom border-dark">
			<% titles = [['University Affiliated Program Location:', :tfu_affiliated_location], ['University Affiliated Program:']]%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title[0], value: @current_provider_source.fetch(title[1])&.titleize, height: 'h-50px', last: ((titles.count-1) == idx ), size: '6' %>
			<% end %>
		</div>
		<div class="row g-0 border-bottom border-dark">
			<% titles = [['Address Line 1:', :'tfu-address-line1'], ['City:', :'tfu-city'], ['Zip Code:', :'tfu-zipcode']]%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title[0], value: @current_provider_source.fetch(title[1]), height: 'h-50px', last: ((titles.count-1) == idx ), size: '4' %>
			<% end %>
		</div>
		<div class="row g-0 border-bottom border-dark">
			<% titles = [['Telephone Number:', :'tfu-telephone-number'], ['Ext:', :'tfu-ext'], ['Fax Number:', :'tfu-fax-number']]%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title[0], value: @current_provider_source.fetch(title[1]), height: 'h-50px', last: ((titles.count-1) == idx ), size: '4' %>
			<% end %>
		</div>
		<%= HtmlUtils.table_section_header title: '6.3 Education and Training - Teaching Appointments' %>
		<div class="row g-0 border-bottom border-dark">
			<% titles = [['Are/Were you an instructor or faculty for a teaching program?', :an_instructor], ['Teaching Program Location:', :'taf-location'], ['Teaching Program Name:', :'taf-psn']]%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title[0], value: @current_provider_source.fetch(title[1])&.titleize, height: 'h-50px', last: ((titles.count-1) == idx ), size: '4' %>
			<% end %>
		</div>
		<div class="row g-0 border-bottom border-dark">
			<% titles = [['Address Line 1:', :'taf-address-line1'], ['City:', :'taf-city'], ['Zip Code:', :'taf-zipcode']]%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title[0], value: @current_provider_source.fetch(title[1])&.titleize, height: 'h-50px', last: ((titles.count-1) == idx ), size: '4' %>
			<% end %>
		</div>

		<div class="row g-0">
			<!-- in this case had to make two level array title[0] for title and title[1] for colum size-->
			<% titles = [['Telephone Number:', '4', :'taf-telephone-number'], ['Ext:', '1', :'taf-ext'], ['Fax Number:', '3', :'taf-fax-number'], ['Email Address:', '4', :'taf-email']]%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title[0], value: @current_provider_source.fetch(title[2]), height: 'h-50px', last: ((titles.count-1) == idx ), size: title[1] %>
			<% end %>
		</div>
	</div>
	<%= HtmlUtils.summary_footer page: 4 %>
</div>
<div class="row">
	<div class="col-lg-12 d-flex justify-content-end px-5 gap-3">
		<a href="javascript:void(0);" class="btn btn-primary btn-md btn-print" data-toprint="page4">Print/Download</a>
		<a href="<%= view_summary_index_path(page: 3) %>" class="btn btn-primary btn-md">Previous Page</a>
		<a href="<%= view_summary_index_path(page: 5)%>" class="btn btn-primary btn-md">Next Page</a>
	</div>
</div>