<div class="row p-4" id="page5">
	<div class="col-lg-12 text-black border border-dark py-3 px-0 pb-0">
		<%= HtmlUtils.table_section_header title: '6.3 Education and Training - Teaching Appointments' %>
		<div class="row g-0 border-bottom border-dark">
			<% titles = ['Program Director First Name:', 'Program Director Last Name:']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '6' %>
			<% end %>
		</div>

		<div class="row g-0 border-bottom border-dark">
			<% titles = ['Program Director Degree:', 'Academic Rank or Title:']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '6' %>
			<% end %>
		</div>
		
		<div class="row g-0 border-bottom border-dark">
			<% titles = ['Start Date:', 'End Date:']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '6' %>
			<% end %>
		</div>
		<%= HtmlUtils.table_section_header title: '7. Healthcare Facility Affiliations' %>
		
		<div class="row g-0 border-bottom border-dark">
			<% titles = ['Do/Did you have hospital privileges?', 'Facility Location:','Facility Name:']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '4' %>
			<% end %>
		</div>
		<div class="row g-0 border-bottom border-dark">
			<% titles = ['Medical Staff Office Address Line 1:', 'City:','Zip Code:']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '4' %>
			<% end %>
		</div>

		<div class="row g-0 border-bottom border-dark">
			<!-- in this case had to make two level array title[0] for title and title[1] for colum size-->
			<% titles = [['Medical Staff Office Telephone Number:', '4'], ['Ext:', '1'], ['Medical Staff Office Fax Number:', '3'], ['Medical Staff/Credentialing E-mail Address:', '4']]%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title[0], height: 'h-50px', last: ((titles.count-1) == idx ), size: title[1] %>
			<% end %>
		</div>
		<div class="row g-0 border-bottom border-dark">
			<% titles = ['Department Name:', 'Division Name:']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '6' %>
			<% end %>
		</div>
		<div class="row g-0 border-bottom border-dark">
			<% titles = ['Department/Division Director First Name:', 'Department/Division Director Last Name:']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '6' %>
			<% end %>
		</div>
		<div class="row g-0 border-bottom border-dark">
			<% titles = ['Do/Did you have full, unrestricted privileges?', 'Are/Were your privileges temporary?']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '6' %>
			<% end %>
		</div>
		<div class="row g-0 border-bottom border-dark">
			<% titles = ['Privileges Status:', 'Appointment Date:', 'Expiration Date:']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '4' %>
			<% end %>
		</div>
		<div class="row g-0 border-bottom border-dark">
			<% titles = ['Does Not Expire:', 'Is this your primary facility?', 'Of your total annual admissions, what percentage is to this hospital?']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '4' %>
			<% end %>
		</div>
		<div class="row g-0 border-bottom border-dark">
			<% titles = ['Do you have an admitting arrangement?', 'Name of Admitting Physician/Practice/Clinic/Group:']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '6' %>
			<% end %>
		</div>
		<div class="row g-0 border-bottom border-dark">
			<% titles = ['Facility Location:', 'Facility Name:']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '6' %>
			<% end %>
		</div>
		<div class="row g-0 border-bottom border-dark">
			<% titles = ['Address Line 1:', 'City:', 'Zip Code:']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '4' %>
			<% end %>
		</div>
		<%= HtmlUtils.single_column title: 'Please explain your admitting arrangements:', height: 'h-75px'%>

		<%= HtmlUtils.single_column title: 'Please explain why you do not have admitting arrangements:', height: 'h-75px'%>

		<%= HtmlUtils.table_section_header title: '8. Professional Liability - Affiliation Information' %>
		<div class="row g-0 border-bottom border-dark">
			<% titles = ['Do you have a Sovereign Immunity document?', 'Do/Did you have professional liability coverage within the past ten (10) years:']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '6' %>
			<% end %>
		</div>

		<%= HtmlUtils.single_column title: 'Please explain your lack of Professional Liability Coverage:', height: 'h-75px'%>

		<div class="row g-0 border-bottom border-dark">
			<% titles = ['Are you self-insured:', 'Self Insured Policy Name:', 'Policy Number:']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '4' %>
			<% end %>
		</div>
		<div class="row g-0 border-bottom border-dark">
			<% titles = ['Carrier Name:', 'Email Address:']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '6' %>
			<% end %>
		</div>

		<div class="row g-0 border-bottom border-dark">
			<% titles = ['Telephone Number:', 'Ext:', 'Email Address:']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '4' %>
			<% end %>
		</div>
		<div class="row g-0 border-bottom border-dark">
			<% titles = ['Amount of Coverage per Occurrence:', 'Amount of Aggregate Coverage:']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '6' %>
			<% end %>
		</div>
		<div class="row g-0">
			<% titles = ['Original Effective (Retroactive):', 'Effective Date:', 'Expiration Date:']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '4' %>
			<% end %>
		</div>
	</div>
	<%= HtmlUtils.summary_footer page: 5 %>
</div>