<div class="row p-4 view-summary" id="page6">
	<div class="col-lg-12 text-black border border-dark px-0 pb-0">
		<%= HtmlUtils.table_section_header title: '8. Professional Liability - Affiliation Information' %>
		<%= HtmlUtils.single_column title: 'Was this policy involved in a malpractice claim:', height: 'h-50px'%>
		<%= HtmlUtils.table_section_header title: 'Claim 1' %>
		<div class="row g-0 border-bottom border-dark">
			<% titles = ['Date of Occurrence:', 'Date Claim was Filed:', 'Status of Claim:']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '4' %>
			<% end %>
		</div>
		<div class="row g-0 border-bottom border-dark">
			<% titles = ['Amount of Award or Settlement:', 'Amount of Award or Settlement Attributed:']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '6' %>
			<% end %>
		</div>
		<div class="row g-0 border-bottom border-dark">
			<% titles = ['Method of Resolution:', 'Date of Settlement, Judgement, or Dismissal:']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '6' %>
			<% end %>
		</div>
		<%= HtmlUtils.single_column title: 'Description of Allegations:', height: 'h-75px'%>
		<div class="row g-0 border-bottom border-dark">
			<% titles = ['Were you the primary defendant or co-defendant:', 'Number of Defendants:', 'Your involvement in the case:']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '4' %>
			<% end %>
		</div>
		<%= HtmlUtils.single_column title: 'Your Specific Responsibility:', height: 'h-75px'%>
		<%= HtmlUtils.single_column title: 'Description of alleged injury to the patient, including clinical details, with preceding events:', height: 'h-75px'%>
		<%= HtmlUtils.single_column title: 'Subsequent events, including patient’s clinical outcome:', height: 'h-75px'%>
		<div class="row g-0 border-bottom border-dark">
			<% titles = ['Did the alleged injury result to death:', 'To the case of your knowledge, is the case included in the NPDB:, or Dismissal:']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '6' %>
			<% end %>
		</div>
		<%= HtmlUtils.table_section_header title: 'Claim 2' %>
		<div class="row g-0 border-bottom border-dark">
			<% titles = ['Date of Occurrence:', 'Date Claim was Filed:', 'Status of Claim:']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '4' %>
			<% end %>
		</div>
		<div class="row g-0 border-bottom border-dark">
			<% titles = ['Amount of Award or Settlement:', 'Amount of Award or Settlement Attributed:']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '6' %>
			<% end %>
		</div>
		<div class="row g-0 border-bottom border-dark">
			<% titles = ['Method of Resolution:', 'Date of Settlement, Judgement, or Dismissal:']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '6' %>
			<% end %>
		</div>
		<%= HtmlUtils.single_column title: 'Description of Allegations:', height: 'h-75px'%>
		<div class="row g-0 border-bottom border-dark">
			<% titles = ['Were you the primary defendant or co-defendant:', 'Number of Defendants:', 'Your involvement in the case:']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '4' %>
			<% end %>
		</div>
		<%= HtmlUtils.single_column title: 'Your Specific Responsibility:', height: 'h-75px'%>
		<%= HtmlUtils.single_column title: 'Description of alleged injury to the patient, including clinical details, with preceding events:', height: 'h-75px'%>
		<%= HtmlUtils.single_column title: 'Subsequent events, including patient’s clinical outcome:', height: 'h-75px'%>
		<div class="row g-0 border-bottom border-dark">
			<% titles = ['MDid the alleged injury result to death:', 'To the case of your knowledge, is the case included in the NPDB:']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '6' %>
			<% end %>
		</div>
		<%= HtmlUtils.table_section_header title: 'Claim 3' %>
		<div class="row g-0 border-bottom border-dark">
			<% titles = ['Date of Occurrence:', 'Date Claim was Filed:', 'Status of Claim:']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '4' %>
			<% end %>
		</div>

		<div class="row g-0 border-bottom border-dark">
			<% titles = ['Amount of Award or Settlement:', 'Amount of Award or Settlement Attributed:']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '6' %>
			<% end %>
		</div>


		<div class="row g-0 border-bottom border-dark">
			<% titles = ['Method of Resolution:', 'Date of Settlement, Judgement, or Dismissal:']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '6' %>
			<% end %>
		</div>
		<%= HtmlUtils.single_column title: 'Description of Allegations:', height: 'h-75px'%>
		<div class="row g-0 border-bottom border-dark">
			<% titles = ['Were you the primary defendant or co-defendant:', 'Number of Defendants:', 'Your involvement in the case:']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '4' %>
			<% end %>
		</div>
		<%= HtmlUtils.single_column title: 'Your Specific Responsibility:', height: 'h-75px'%>
		<%= HtmlUtils.single_column title: 'Description of alleged injury to the patient, including clinical details, with preceding events:', height: 'h-75px'%>
		<%= HtmlUtils.single_column title: 'Subsequent events, including patient’s clinical outcome:', height: 'h-75px'%>


		<div class="row g-0">
			<% titles = ['Did the alleged injury result to death:', 'To the case of your knowledge, is the case included in the NPDB:']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '6' %>
			<% end %>
		</div>
	</div>
	<%= HtmlUtils.summary_footer page: 6 %>
</div>

<div class="row">
	<div class="col-lg-12 d-flex justify-content-end px-5 gap-3">
		<a href="javascript:void(0);" class="btn btn-primary btn-md btn-print" data-toprint="page6">Print/Download</a>
		<a href="<%= view_summary_index_path(page: 5) %>" class="btn btn-primary btn-md">Previous Page</a>
		<a href="<%= view_summary_index_path(page: 7)%>" class="btn btn-primary btn-md">Next Page</a>
	</div>
</div>