<div class="row p-4" id="page6">
	<div class="col-lg-12 text-black border border-dark py-3 px-0 pb-0">
		<%= HtmlUtils.table_section_header title: '10.1 Practice Information - Credentialing Contact' %>
		<div class="row g-0 border-bottom border-dark">
			<% titles = ['Preferred Method of Contact:', 'First Name:', 'Last Name:']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '4' %>
			<% end %>
		</div>
		<div class="row g-0 border-bottom border-dark">
			<% titles = ['Address Line 1:', 'City:', 'State:']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '4' %>
			<% end %>
		</div>

		<div class="row g-0 border-bottom border-dark">
			<!-- in this case had to make two level array title[0] for title and title[1] for colum size-->
			<% titles = [['Telephone Number:', '4'], ['Ext:', '1'], ['Fax Number:', '3'], ['Email Address:', '4']]%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title[0], height: 'h-50px', last: ((titles.count-1) == idx ), size: title[1] %>
			<% end %>
		</div>
		<div class="row g-0 border-bottom border-dark">
			<% titles = ['Mobile Number:', 'Email Address:']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '6' %>
			<% end %>
		</div>
		<%= HtmlUtils.table_section_header title: '10.2 Practice Information - Practice Location' %>
		<%= HtmlUtils.table_sub_section_header title: 'General Information' %>
		<%= HtmlUtils.single_column title: 'Has your Office/ Credentialing Manager added all your practice locations?', height: 'h-50px'%>
		<div class="row g-0 border-bottom border-dark">
			<% titles = ['Primary Group/Practice Name/Affiliation (as you would like it to appear in a directory):', 'Is Primary Location?']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '6' %>
			<% end %>
		</div>
		<div class="row g-0 border-bottom border-dark">
			<% titles = ['Address Line 1:', 'City:']%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title, height: 'h-50px', last: ((titles.count-1) == idx ), size: '6' %>
			<% end %>
		</div>

	</div>
</div>