<div id="printableDiv"><!-- Content you want to print goes here --></div>
<div class="content container-fluid ps-0">
	<%= render "provider_source_components/top_buttons"%>
<div class="row p-4" id="page1">
	<div class="col-lg-12 d-flex justify-content-end mb-3">
		<h3>Provider Application</h3>
	</div>

	<div class="col-lg-12 text-black border border-dark py-3 px-2 mb-3">
		<h5>To use the Washington Practitioner Application (WPA), follow these instructions:</h5>
		<ul>
			<li><strong>Keep an unsigned and undated copy of the application on file for future requests.</strong>When a request is received, send a copy of the completed application, making sure that all information is complete, current and accurate.</li>
			<li>Please sign and date pages 11 and 13.</li>
			<li>Please document any YES responses on the Attestation Question page.</li>
			<li>Identify the health care related organization(s) to which this application is being submitted in the space provided below.</li>
			<li>Attach copies of requested documents each time the application is submitted.</li>
			<li>If changes must be made to the completed application, strike out the information and write in the modification, initial and date.</li>
			<li>If a section does not apply to you, please check the provided box at the top of the section.</li>
			<li>Expect addendums from the requesting organizations for information not included on the WPA.</li>
		</ul>
	</div>

	<div class="col-lg-12 text-black border border-dark py-3 px-2 mb-3">
		<p>This application is submitted to:</p>
		<br>
	</div>

	<div class="col-lg-12 text-black border border-dark py-3 px-2 mb-3">
		<h5>1. INSTRUCTIONS</h5>
		<p class="text-black mb-3">This form should be typed or legibly printed in black or blue ink. If more space is needed than provided on original, attach additional sheets and reference the question being answered. Please do not use abbreviations. Current copies of the following documents must be submitted with this application: (all are required for MDs, DOs; as applicable for other health practitioners).</p>

		<ul>
			<li>DEA Certificate</li>
			<li>Face Sheet of Professional Liability Policy or Certificate</li>
			<li>Curriculum Vitae (Not an acceptable substitute for completing the application. Dates need to be listed in mm/yyyy Format)</li>
		</ul>
		<div class="row">
			<div class="col-lg-12 d-flex justify-content-center"><h3 class="m-0">**All sections must be completed in their entirety.**</h3></div>
		</div>
	</div>

	<div class="col-lg-12 text-black border border-dark py-3 px-2">
		<div class="row g-0 border-bottom border-dark">
			<div class="col-lg-12">
				<h3>2.1 General Information - Name and Home Address</h3>
			</div>
		</div>


		<div class="row g-0 border-bottom border-dark">
			<% titles = [['Last Name:', '4', :last_name], ['Suffix:', '2', :suffix], ['First Name:', '3', :first_name], ['Middle Name:', '3', :middle_name]]%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title[0], value: @current_provider_source.fetch(title[2])&.titleize, height: 'h-50px', last: ((titles.count-1) == idx ), size: title[1] %>
			<% end %>
		</div>

		<%= HtmlUtils.single_column title: 'List any other name(s) under which you have been known by reference, licensing and or educational institutions, including the date of name change(s) if known (mm/dd/yy):', value: @current_provider_source.fetch(:other_names), height: 'h-50px'%>

		<div class="row g-0 border-bottom border-dark">
			<%= HtmlUtils.table_column title: 'Degree Title:', value: @current_provider_source.fetch(:degree_titles)&.titleize, height: 'h-50px', last: false, size: '6' %>
			<%= HtmlUtils.table_column title: 'State(s) of Practice:', value: State.where(alpha_code: @current_provider_source.fetch(:state_of_practice)).first&.name, height: 'h-50px', last: true, size: '6' %>
		</div>

		<%= HtmlUtils.single_column title: 'Primary Practitioner Type:', value: @current_provider_source.fetch(:'primary-practioner-type'), height: 'h-50px'%>

		<div class="row g-0 border-bottom border-dark">
			<% titles = [['County:', @current_provider_source.fetch(:'county')], ['Home Mailing Address:', @current_provider_source.fetch(:email_address)]] %>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title[0], value: title[1], height: 'h-50px', last: ((titles.count-1) == idx ), size: '6' %>
			<% end %>
		</div>

		<!-- some partials were added late but some of them are repeating -->
		<%= render partial: "view_summary/components/city_state_zipcode", locals: { city_key: :city, zipcode_key: :zipcode, state_key: :'ps-state'} %>

		<div class="row g-0 border-bottom border-dark">
			<% titles = [['Home Telephone Number:', @current_provider_source.fetch(:telephone)], ['Mobile Phone Number:', @current_provider_source.fetch(:mobile_number)], ['Fax Number:', @current_provider_source.fetch(:fax_number)]]%>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title[0], value: title[1], height: 'h-50px', last: ((titles.count-1) == idx ), size: '4' %>
			<% end %>
		</div>

		<div class="row g-0 border-bottom border-dark">
			<% titles = [['Page Number:', @current_provider_source.fetch(:page_number)], ['Ext:', @current_provider_source.fetch(:ext)], ['Email Address:', @current_provider_source.fetch(:email_address)]] %>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title[0], value: title[1], height: 'h-50px', last: ((titles.count-1) == idx ), size: '4' %>
			<% end %>
		</div>


		<%= HtmlUtils.table_section_header title: '2.2 General Information - Personal Information' %>

		<div class="row g-0 border-bottom border-dark">
			<%= HtmlUtils.table_column title: 'Gender:', value: @current_provider_source.fetch(:'ps-gender')&.titleize, height: 'h-50px', last: false, size: '3' %>
			<% date = Date.parse(@current_provider_source.fetch(:'ps-dob'))&.strftime('%B %d, %Y') rescue nil%>
			<%= HtmlUtils.table_column title: 'Date of Birth:', value: date, height: 'h-50px', last: false, size: '3' %>
			<%= HtmlUtils.table_column title: 'Country of Birth:', value: @current_provider_source.fetch(:'ps-cob')&.titleize, height: 'h-50px', last: true, size: '3' %>
		</div>

		<div class="row g-0 border-bottom border-dark">
			<% titles = [['Social Security Number:', @current_provider_source.fetch(:'social-security-number')], ['Ethnicity:', @current_provider_source.fetch(:'ethnicity')], ['Marital Status:', @current_provider_source.fetch(:'marital-status')]] %>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title[0], value: title[1], height: 'h-50px', last: ((titles.count-1) == idx ), size: '4' %>
			<% end %>
		</div>

		<div class="row g-0 border-bottom border-dark">
			<% titles = [['Languages that you speak:', @current_provider_source.fetch(:'languages-you-speak')], ['Languages that you write:', @current_provider_source.fetch(:'languages-you-write')]] %>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title[0], value: title[1], height: 'h-75px', last: ((titles.count-1) == idx ), size: '6' %>
			<% end %>
		</div>


		<%= HtmlUtils.table_sub_section_header title: 'Emergency Contact Person' %>

		<%= render partial: "view_summary/components/firstname_lastname_middlename", locals: { first_name_key: :'emergency-first-name', last_name_key: :'emergency-last-name', middle_name_key: :'emergency-middle-name' } %>

		<%= HtmlUtils.single_column title: 'Mobile Number:', value: @current_provider_source.fetch(:'emergency-contact-phone-number'), height: 'h-50px'%>

	</div>

</div>
<div class="row">
	<div class="col-lg-12 d-flex justify-content-end px-5 gap-3">
		<a href="javascript:void(0);" class="btn btn-primary btn-md btn-print" data-toprint="page1">Print/Download</a>
		<a href="<%= view_summary_index_path(page: 2)%>" class="btn btn-primary btn-md">Next Page</a>
	</div>
</div>
</div>

<





