<% client_names = ['Beverly Lindsay', 'John Willis', 'Brian Dillahunty' 'Peter Murray', 'John Steven', 'Richard Nueves', 'Aaron McBeth', 'Clark Steven', 'William Richardson']%>
<% sns_names = ['@lindsay', '@jwillis', '@bill_hunty' '@p_ray', '@j_steven', '@rNueves', '@arron_mac', '@cl_steven', '@will_rich']%>
<div class="row">
	<div class="col-lg-12">
		<h5 class="header-badge mb-4">Client's Name</h5>
		<div class="avatar-circle" style="text-align: center">
			<img class="avatar-img" src="./dist/assets/img/400x400/img1.jpg" alt="Image Description" style="width: 100px;">
			<%x = rand(0..8)%>
			<h5 class="mt-2 font-bold mb-0"><%= client_names[x]%></h5>
			<small><%= sns_names[x]%></small>
		</div>
		<div class="card mt-2">
			<div class="card-body">
				<div class="row text-center">
					<div class="col-lg-4">
						<small>Provider ID</small> <br>
						<strong>1</strong>
					</div>
					<div class="col-lg-4">
						<small>Average Act.</small> <br>
						<strong>3.6 Hours</strong>
					</div>
					<div class="col-lg-4">
						<small>Status</small> <br>
						<strong>Active</strong>
					</div>
				</div>
			</div>
		</div>
		<hr>
	</div>
	<div class="col-lg-12">
		<h5 class="header-badge">June 18, 2022</h5>
		<%= render 'temporary_calendar' %>
	</div>
	<div class="col-lg-12">
		<div class="row">
			<div class="col-lg-10">
					<h5 class="header-badge mt-4">Scheduled (4)
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" style="width: 18px;">
							<path fill-rule="evenodd" d="M12.53 16.28a.75.75 0 01-1.06 0l-7.5-7.5a.75.75 0 011.06-1.06L12 14.69l6.97-6.97a.75.75 0 111.06 1.06l-7.5 7.5z" clip-rule="evenodd" />
					</svg>
					</h5>
			</div>
			<div class="col-lg-2">
				<h5 class="mt-4">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" style="width: 18px;">
						<path fill-rule="evenodd" d="M12 3.75a.75.75 0 01.75.75v6.75h6.75a.75.75 0 010 1.5h-6.75v6.75a.75.75 0 01-1.5 0v-6.75H4.5a.75.75 0 010-1.5h6.75V4.5a.75.75 0 01.75-.75z" clip-rule="evenodd" />
				</svg>
				</h5>
			</div>
		</div>
		<div class="row mt-2">
			<%= render 'schedule_list' %>
			<%= render 'schedule_list' %>
			<%= render 'schedule_list' %>
			<%= render 'schedule_list' %>
		</div>
	</div>
	<div class="col-lg-12">
		<div class="row">
			<div class="col-lg-12">
					<h5 class="header-badge mt-4">Reports to be submitted (5)
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" style="width: 18px;">
							<path fill-rule="evenodd" d="M16.28 11.47a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 01-1.06-1.06L14.69 12 7.72 5.03a.75.75 0 011.06-1.06l7.5 7.5z" clip-rule="evenodd" />
					</svg>
					</h5>
			</div>
		</div>
	</div>
	<div class="col-lg-12">
		<div class="row">
			<div class="col-lg-10">
					<h5 class="header-badge mt-4">Upcoming deadlines (5)
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" style="width: 18px;">
							<path fill-rule="evenodd" d="M12.53 16.28a.75.75 0 01-1.06 0l-7.5-7.5a.75.75 0 011.06-1.06L12 14.69l6.97-6.97a.75.75 0 111.06 1.06l-7.5 7.5z" clip-rule="evenodd" />
					</svg>
					</h5>
			</div>
			<div class="col-lg-2">
				<h5 class="mt-4">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" style="width: 18px;">
						<path fill-rule="evenodd" d="M12 3.75a.75.75 0 01.75.75v6.75h6.75a.75.75 0 010 1.5h-6.75v6.75a.75.75 0 01-1.5 0v-6.75H4.5a.75.75 0 010-1.5h6.75V4.5a.75.75 0 01.75-.75z" clip-rule="evenodd" />
				</svg>
				</h5>
			</div>
		</div>
		<div class="row mt-2">
			<%= render 'upcoming_deadline_list' %>
			<%= render 'upcoming_deadline_list' %>
			<%= render 'upcoming_deadline_list' %>
			<%= render 'upcoming_deadline_list' %>
		</div>
	</div>
</div>
