<% names = ['Lindsay Bennet', 'Bose, Paul', 'Diaz, Fynn', 'Calibre, Reese']%>
<div class="row mt-3 mb-2 px-6">
	<div class="col-lg-6">
		<h5>Search Result: <%= @vrcs.count %> records</h5>
	</div>
	<div class="col-lg-6 d-flex justify-content-end gap-2">
	<div class="">
		<%= form_with url: request.url, method: :get, html: { id: 'vrc-progress-status-form'} do |form| %>
			<div style="float: right;">
				<%= form.select :'vrc-progress-status', [["All", "all"], ["Completed", "completed"],["Assigned", "assigned"], ["To Be Assigned", "to_be_assigned"]], { selected: params[:'vrc-progress-status'] }, { style: "padding:8px; background-color: #ddd; border: 0px; border-radius: 5px; margin-left: 4px;",  onchange: 'this.form.submit();'  } %>
			</div>
		<% end %>
	</div>
	<div>
	 	<%= link_to download_clients_path(format: 'csv'), class: 'btn btn-sm btn-primary' do %>
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" style="width: 16px;height: 16px;">
				<path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3" />
			</svg>
			<span>Download Documents</span>
		<% end %>
	</div>
</div>
	
</div>
<div class="row mt-2 px-6">
	<table id="vrc-table" class="table table-striped table-bordered table-responsive" >
		<thead style="background-color: #377dff; color: #fff;">
			<tr>
				<th>
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
				</div>
				</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>State</th>
				<th>Review Level</th>
				<th>Status</th>
				<th>Review Date</th>
				<th>Provider Type</th>
				<th>Specialty</th>
				<th>Cred Cycle</th>
				<th>MedvId</th>
			</tr>
		</thead>
		<tbody>
			<% @vrcs.each_with_index do |vrc, index| %>
				<tr data-val="<%= vrc.id %>">
					<td>
						<div class="form-check"><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></div>
					</td>
					<td><%= vrc&.first_name %></td>
					<td><%= vrc&.last_name %></td>
					<td><%= vrc&.state %></td>
					<td><%= vrc&.review_level %></td>
					<td><%= vrc&.status %></td>
					<td><%= vrc&.review_date&.strftime("%m/%d/%Y") %></td>
					<td><%= vrc&.provider_type %></td>
					<td><%= vrc&.specialty %></td>
					<td><%= vrc&.cred_or_recred %></td>
					<td><%= vrc&.medv_id %></td>
				</tr>
			<% end %>
		</tbody>
	</table>

	<div class="col-lg-12">
				<div class="d-flex justify-content-between bg-medium-grey rounded align-items-center py-3">
				<div class="page_info ms-3 text-black">
						<%= page_entries_info @vrcs %>
				</div>
				<% if params[:per_page ].present? %>
					<%= will_paginate @vrcs, :params =>  {per_page: @per_page }, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
				<% else %>
					<%= will_paginate @vrcs, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
				<% end %>
				</div>
			</div>

</div>

<% content_for :js do %>
<script>
		$('#vrc-table tbody tr').on('click', function(){
			var selected = $(this).data('val');
			// alert(selected);
			location.href = "/show-virtual-review-committee?client_id="+selected
		});
</script>
<% end %>
