
<% names = ['Lindsay Bennet', 'Bose, Paul', 'Diaz, Fynn', 'Calibre, Reese'] %>

<div class="row mt-3 mb-2 px-6">
  <div class="col-lg-6">
    <h5>Search Result: <%= @vrcs.count %> records</h5>
  </div>
  <div class="col-lg-6 d-flex justify-content-end gap-2">
    <div>
      <%= form_with url: request.url, method: :get, html: { id: 'vrc-progress-status-form' } do |form| %>
        <div style="float: right;">
          <%= form.select :'vrc-progress-status', [["All", "all"], ["Completed", "completed"], ["Assigned", "assigned"], ["To Be Assigned", "to_be_assigned"]], { selected: params[:'vrc-progress-status'] }, { style: "padding:8px; background-color: #ddd; border: 0px; border-radius: 5px; margin-left: 4px;", onchange: 'this.form.submit();' } %>
        </div>
      <% end %>
    </div>
    <div>
      <%= link_to download_clients_path(format: 'csv'), class: 'btn btn-sm btn-primary' do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" style="width: 16px;height: 16px;">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3" />
        </svg>
        <span>Download Documents</span>
      <% end %>
    </div>
  </div>
</div>

<div class="row mt-2">
	<div id="alert-notification" class="alert alert-danger text-white fs-4" style="background-color:#ff0000; display: none;" role="alert">
	   No provider selection is made. Please select provider(s).
  </div>
</div>
  <table class="table table-striped table-bordered table-responsive">
    <thead style="background-color: #377dff; color: #fff;">
      <tr>
        <th class="text-white">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="selectAllCheckbox">
          </div>
        </th>
        <th class="text-white">First Name</th>
        <th class="text-white">Last Name</th>
        <th class="text-white">State</th>
        <th class="text-white">Review Level</th>
        <th class="text-white">Status</th>
        <th class="text-white">Review Date</th>
        <th class="text-white">Provider Type</th>
        <th class="text-white">Specialty</th>
        <th class="text-white">Cred Cycle</th>
        <th class="text-white">MedvId</th>
      </tr>
    </thead>
    <tbody>
      <% @vrcs.each do |vrc| %>
        	<td class="option form-check-input">
            <%= check_box_tag "selected_ids[]", vrc.id, nil, id: "selected_#{vrc.id}" %>
          </td>
          <td><%= vrc&.first_name %></td>
          <td><%= vrc&.last_name %></td>
          <td><%= vrc&.state %></td>
          <td><%= vrc&.review_level %></td>
          <td><%= vrc&.status %></td>
          <td><%= vrc&.review_date&.strftime("%m/%d/%Y") %></td>
          <td><%= vrc&.provider_type %></td>
          <td><%= vrc&.specialty %></td>
          <td><%= vrc&.cred_cycle %></td>
          <td>
            <button id="backToTopBtn" class="btn-back-to-top"><i class="fa-solid fa-arrow-up"></i></button>
            <%= vrc&.medv_id %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <!-- Below the table -->
	<%= form_with url: '/virtual_review_committee/update_review_committee_dates', method: :put, html: { id: 'review-committee-form-1' } do |form| %>
	    <%= hidden_field_tag 'selected_ids[]', '', id: 'selected-ids-input-form1' %>
			<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			    <div class="modal-dialog modal-dialog-centered" >
			        <div class="modal-content">
			            <div class="modal-header">
			              <h5 class="modal-title fs-4" id="exampleModalLabel">Assign Reviewer(s) and Date</h5>
			              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			            </div>
			            <div class="modal-body">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault">
                        ASSIGN TO ALL
                      </label>
                    </div>
                    <hr>
  		              <div class="row">
                      <form>
                        <div class="col-lg-6 overflow-auto" style="max-height: 300px;">
                          <% @vrc_directors.each do |vrc_director| %>
                            <% if vrc_director.director? %>
                              <div class="m-3">
                                 <input type="checkbox" name="vrc_directors[]" value="<%= vrc_director.id %>">
                                 <p class="d-inline ms-2 text-dark"><%= vrc_director.full_name%></p>
                              </div>
                            <% end %>
                           <% end %>
                        </div>
                      </form>
                      <div class="col-lg-6 ">
                        <div class="mb-4">
                          <%= form.label :review_date, class: 'form-label' %>
                          <%= form.date_field :review_date, class: 'form-control', required: true %>
                        </div>
                       <div>
                            <%= form.label :committee_date, class: 'form-label' %>
                            <%= form.date_field :committee_date, class: 'form-control', required: true %>
                            <% unless params[:'vrc-progress-status'] == "assigned" || params[:'vrc-progress-status'] == "completed" %>
                              <%= form.text_field :progress_status, value: "assigned", class: 'form-control', style: 'display: none;' %>
                            <% end %>
                         </div>
                        </div>
                       </div>
                    </div>
                    <div class="modal-footer">
                      <%= form.submit 'Update', class: 'btn btn-primary', id:"update-btn" %>
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    </div>
					    		</div>
					    	</div>
							  </div>     
			        </div>
			    </div>
			</div>
	<% end %>

	<div class="col-lg-12">
	  <div class="d-flex justify-content-between bg-medium-grey rounded align-items-center py-3">
	    <div class="page_info ms-3 text-black">
	      <%= page_entries_info @vrcs %>
	    </div>
	    <% if params[:per_page].present? %>
	      <%= will_paginate @vrcs, params: { per_page: @per_page }, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
	    <% else %>
	      <%= will_paginate @vrcs, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
	    <% end %>
	  </div>
	</div>

 <div class="d-flex mt-4 justify-content-end">
    <button type="button" class="btn btn-primary" id="submit-button" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Assign to Committee Members
    </button>
    <% if params[:'vrc-progress-status'] == "assigned" || params[:'vrc-progress-status'] == "completed"%>
	    <%= form_with url: '/virtual_review_committee/unassigned_records', method: :put, html: { id: 'review-committee-form-2' } do |form| %>
	            <%= hidden_field_tag 'selected_ids[]', '', id: 'selected-ids-input-form2' %>
	            <div class="mx-3">
	                <%= form.submit 'Unassign Providers', class: 'btn btn-primary', id:"update-btn" %>
	            </div>
	    <% end %>
    <% end %>
</div>

<script>
 document.addEventListener("DOMContentLoaded", function () {
  const submitButton = document.getElementById("submit-button");
  const checkboxes = document.querySelectorAll("input[name='selected_ids[]']");
  const modal = new bootstrap.Modal(document.getElementById("exampleModal"));
  const alertMessage = document.getElementById("alert-notification");
  const selectedIdsInputForm1 = document.getElementById("selected-ids-input-form1");
  const selectedIdsInputForm2 = document.getElementById("selected-ids-input-form2");

  checkboxes.forEach(function (checkbox) {
    checkbox.addEventListener("change", function () {
      updateSelectedIds();
    });
  });

  submitButton.addEventListener("click", function (event) {
    let atLeastOneCheckboxChecked = updateSelectedIds();

    if (!atLeastOneCheckboxChecked) {
      event.preventDefault();
      alertMessage.style.display = "block";
    } else {
      modal.show();
    }
  });

  function updateSelectedIds() {
    let selectedIds = [];

    checkboxes.forEach(function (checkbox) {
      if (checkbox.checked) {
        selectedIds.push(checkbox.value);
      }
    });

    selectedIdsInputForm1.value = selectedIds.join(',');
    selectedIdsInputForm2.value = selectedIds.join(',');
    return selectedIds.length > 0;
  }
});

</script>
