<div class="content container-fluid">
   <div class="row">
      <div class="col-lg-12">
         <h1>Status Chart</h1>
      </div>
   </div>
   <div class="row">
      <div class="col-lg-7">
         <div class="row g-1 mb-3" >
            <div class="col-lg-3">
               <div class="card p-2 attested" style="min-height: 185px;">
                  <h5 class="text-white text-center">Attested</h5>
                  <h5 class="text-transparent">spacer</h5>
                  <div class="w-100 d-flex justify-content-center align-items-center" style="height: 100px;">
                     <h1 style="font-size: 40px;" class="text-white">
                        <%= Client.attested.count %>
                     </h1>
                  </div>
               </div>
            </div>
            <div class="col-lg-3">
               <div class="card p-2 no-application" style="min-height: 185px;">
                  <h5 class="text-white text-center">No Application</h5>
                  <h5 class="text-transparent">spacer</h5>
                  <div class="w-100 d-flex justify-content-center align-items-center" style="height: 100px;">
                     <h1 style="font-size: 40px;" class="text-white">
                        <%= Client.no_application.count %>
                     </h1>
                  </div>
               </div>
            </div>
            <div class="col-lg-3">
               <div class="card p-2 complete-application" style="min-height: 185px;">
                  <h5 class="text-white text-center">Complete Application</h5>
                  <h5 class="text-transparent">spacer</h5>
                  <div class="w-100 d-flex justify-content-center align-items-center" style="height: 100px;">
                     <h1 style="font-size: 40px;" class="text-white">
                        <%= Client.no_application.count %>
                     </h1>
                  </div>
               </div>
            </div>
            <div class="col-lg-3">
               <div class="card p-2 incomplete" style="min-height: 185px;">
                  <h5 class="text-white text-center">Incomplete</h5>
                  <h5 class="text-transparent">spacer</h5>
                  <div class="w-100 d-flex justify-content-center align-items-center" style="height: 100px;">
                     <h1 style="font-size: 40px;" class="text-white">
                        <%= Client.incomplete.count %>
                     </h1>
                  </div>
               </div>
            </div>
         </div>
         <div class="row g-1 mb-3" >
            <div class="col-lg-3">
               <div class="card p-2 pending" style="min-height: 185px;">
                  <h5 class="text-white text-center">Pending Data Entry</h5>
                  <h5 class="text-transparent">spacer</h5>
                  <div class="w-100 d-flex justify-content-center align-items-center" style="height: 100px;">
                     <h1 style="font-size: 40px;" class="text-white">
                        <%= Client.pending_data.count %>
                     </h1>
                  </div>
               </div>
            </div>
            <div class="col-lg-3">
               <div class="card p-2 in-process" style="min-height: 185px;">
                  <h5 class="text-white text-center">In Process</h5>
                  <h5 class="text-transparent">spacer</h5>
                  <div class="w-100 d-flex justify-content-center align-items-center" style="height: 100px;">
                     <h1 style="font-size: 40px;" class="text-white">
                        <%= Client.in_process.count %>
                     </h1>
                  </div>
               </div>
            </div>
            <div class="col-lg-3">
               <div class="card p-2 psv" style="min-height: 185px;">
                  <h5 class="text-white text-center">PSV</h5>
                  <h5 class="text-transparent">spacer</h5>
                  <div class="w-100 d-flex justify-content-center align-items-center" style="height: 100px;">
                     <h1 style="font-size: 40px;" class="text-white">
                        <%= Client.psv.count %>
                     </h1>
                  </div>
               </div>
            </div>
            <div class="col-lg-3">
               <div class="card p-2 returned" style="min-height: 185px;">
                  <h5 class="text-white text-center">Returned</h5>
                  <h5 class="text-transparent">spacer</h5>
                  <div class="w-100 d-flex justify-content-center align-items-center" style="height: 100px;">
                     <h1 style="font-size: 40px;" class="text-white">
                        <%= Client.returned.count %>
                     </h1>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-lg-5">
         <div class="row mb-3">
            <div class="col-lg-12">
               <div class="card mb-3" style="background: #eaf4ff;
                  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
                  border-radius: 9.03012px;">
                  <div class="card-header">
                     <h5 class="card-title" style="color:#000000; font-size:15px;">Status</h5>
                  </div>
                  <div class="card-body">
                     <div class="chart">
                        <canvas id="chartjs-bar"></canvas>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-lg-12">
               <div class="card" style="background-color: #eaf4ff;">
                  <div class="card-header">
                     <h5 class="card-title" style="color:#000000;">Status</h5>
                  </div>
                  <div class="card-body">
                     <div class="row">
                        <div class="col-md-6">
                           <div class="chart chart-sm">
                              <canvas id="chartjs-doughnut"></canvas>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <table class="">
                              <tbody>
                                 <tr>
                                    <td class="">
                                       <div class="d-flex align-items-center gap-2">
                                          <span class="status-span attested"></span><span style="font-size: 12px;
                                             ">Attested</span>
                                       </div>
                                    </td>
                                    <td class="col-attested"></td>
                                 </tr>
                                 <tr>
                                    <td class="">
                                       <div class="d-flex align-items-center gap-2">
                                          <span class="status-span no-application"></span>
                                          <span style="font-size: 12px;
                                             ">No Application</span>
                                       </div>
                                    </td>
                                    <td  class="col-no-application"></td>
                                 </tr>
                                 <tr>
                                    <td>
                                    <div class="d-flex align-items-center gap-2">
                                      <span class="status-span incomplete"></span> <span style="font-size: 12px;
                                       ">Incomplete Application</span>
                                     </div>
                                     </td>
                                     <td  class="col-incomplete-application"></td>
                                 </tr>
                                 <tr>
                                  <td>
                                    <div class="d-flex align-items-center gap-2">
                                      <span class="status-span complete-application"></span> <span style="font-size: 12px;
                                       ">Complete Application</span>
                                     </div>
                                     </td>
                                    <td  class="col-complete-application"></td>
                                 </tr>
                                 <tr>
                                  <td>
                                    <div class="d-flex align-items-center gap-2">
                                      <span class="status-span pending"></span> <span style="font-size: 12px;
                                       ">Pending Data Entry</span>
                                     </div>
                                     </td>
                                    <td  class="col-pending-data-entry"></td>

                                 </tr>
                                 <tr>
                                  <td>
                                    <div class="d-flex align-items-center gap-2">
                                      <span class="status-span in-process"></span> <span style="font-size: 12px;
                                       ">In Process</span>
                                     </div>
                                     </td>
                                    <td  class="col-in-process"></td>

                                 </tr>
                                 <tr>
                                  <td>
                                    <div class="d-flex align-items-center gap-2">
                                      <span class="status-span psv"></span> <span style="font-size: 12px;
                                       ">PSV</span>
                                     </div>
                                     </td>
                                    <td  class="col-psv"></td>

                                 </tr>
                                 <tr>
                                  <td>
                                    <div class="d-flex align-items-center gap-2">
                                      <span class="status-span returned"></span> <span style="font-size: 12px;
                                       ">Returned</span>
                                     </div>
                                     </td>
                                    <td  class="col-returned"></td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<script src="/dist/app.js" > </script>
<script >
   document.addEventListener("DOMContentLoaded", function () {
   var clientData = [];
   getClientDataForDoughnutGraph();
   createDoughnutGraph();

   function createDoughnutGraph() {
      new Chart(document.getElementById("chartjs-doughnut"), {
            type: "doughnut",
            data: {
              labels: ["Attested", "No Application", "Complete Application", "Incomplete Application","Pending Data Entry","In Process", "PSV", "Returned"],
              datasets: [{
                data: clientData,
                backgroundColor: [
                "#00a2ff",
                "#8f00ff",
                "#7bb31a",  
                "#ff0032",
                "#ffc107",
                "#ff9800",
                "#000000",
                "#b74200"
                ],
                borderColor: "transparent"
              }]
            },
            options: {
              maintainAspectRatio: false,
              cutoutPercentage: 30,
              legend: {
                display: false
              }
            }
          });
   }

   function createBarGraph() {
    new Chart(document.getElementById("chartjs-bar"), {
       type: "bar",
       data: {
          labels: ["", "", "", "", "", "", "", ""],
          datasets: [{
             label: "",
             backgroundColor: [
                "#00a2ff",
                "#8f00ff",
                "#7bb31a",
                "#ff0032",
                "#ffc107",
                "#ff9800",
                "#000000",
                "#b74200"
             ],
             // borderColor: window.theme.primary,
             // hoverBackgroundColor: window.theme.primary,
             // hoverBorderColor: window.theme.primary,
             data: clientData,
             barPercentage: .75,
             categoryPercentage: .9
          }]
       },
       options: {
          maintainAspectRatio: false,
          legend: {
             display: false
          },
          scales: {
             yAxes: [{
                gridLines: {
                   display: false
                },
                stacked: false,
                ticks: {
                   stepSize: 20
                }
             }],
             xAxes: [{
                stacked: false,
                gridLines: {
                   color: "transparent"
                }
             }]
          },
          tooltips: {
             callbacks: {
                label: function (tooltipItem, data) {
                   var value = tooltipItem.value;
                   return value;
                }
             }
          }
       }
    });
   }
         var csrfToken = $('meta[name="csrf-token"]').attr('content');
         function getClientDataForDoughnutGraph()
         {
            $.ajax({
              url: "<%= doughnut_data_path %>",
              method: "GET",
              data: { authenticity_token: csrfToken },
              success: function(data) {
                clientData = data['clients'];
                clientPercentage = data['percentages'];
                createBarGraph();
                createDoughnutGraph();

                var order_of_status = ["attested", "no-application", "complete-application", "incomplete-application","pending-data-entry","in-process", "psv", "returned"]

                for (var i = 0; i < clientPercentage.length; i++) {
                  $('.col-'+order_of_status[i]).html(clientPercentage[i]+'%');
                  $('.col-'+order_of_status[i]).addClass('text-center');
                }
              }
            })
         }
});
 </script>