<div class="content container-fluid">
   <div class="row">
      <div class="col-lg-12">
         <h1>Analytics</h1>
      </div>
   </div>
   <div class="row">
      <div class="col-lg-7">
         <div class="row g-1 mb-3" >
            <div class="col-lg-4">
               <div class="card p-2 rounded-15 pale-green ps-3 pb-0" style="min-height: 112px;">
                  <h5 class="text-black text-left">All Providers</h5>
                  <!-- <h5 class="text-transparent">spacer</h5> -->
                  <div class="w-100 d-flex d-flex align-items-end">
                     <h1 style="font-size: 40px;" class="text-black mt-2">
                        <%= EnrollmentProvider.count %>
                     </h1>
                  </div>
               </div>
            </div>
            <div class="col-lg-4">
               <div class="card p-2 rounded-15 pale-blue ps-3 pb-0" style="min-height: 112px;">
                  <h5 class="text-black text-left">Attested</h5>
                  <!-- <h5 class="text-transparent">spacer</h5> -->
                  <div class="w-100 d-flex d-flex align-items-end">
                     <h1 style="font-size: 40px;" class="text-black mt-2">
                        <%= Client.attested.count %>
                     </h1>
                  </div>
               </div>
            </div>
            <div class="col-lg-4">
               <div class="card p-2 rounded-15 pale-blue ps-3 pb-0" style="min-height: 112px;">
                  <h5 class="text-black text-left">No Application</h5>
                  <!-- <h5 class="text-transparent">spacer</h5> -->
                  <div class="w-100 d-flex d-flex align-items-end">
                     <h1 style="font-size: 40px;" class="text-black mt-2">
                        <%= Client.no_application.count %>
                     </h1>
                  </div>
               </div>
            </div>
         </div>
         <div class="row g-1 mb-3" >
            <div class="col-lg-4">
               <div class="card p-2 rounded-15 pale-blue ps-3 pb-0" style="min-height: 112px;">
                  <h5 class="text-black text-left">Complete Application</h5>
                  <!-- <h5 class="text-transparent">spacer</h5> -->
                  <div class="w-100 d-flex d-flex align-items-end">
                     <h1 style="font-size: 40px;" class="text-black mt-2">
                        <%= Client.complete.count %>
                     </h1>
                  </div>
               </div>
            </div>
            <div class="col-lg-4">
               <div class="card p-2 rounded-15 pale-blue ps-3 pb-0" style="min-height: 112px;">
                  <h5 class="text-black text-left">Incomplete</h5>
                  <!-- <h5 class="text-transparent">spacer</h5> -->
                  <div class="w-100 d-flex d-flex align-items-end">
                     <h1 style="font-size: 40px;" class="text-black mt-2">
                        <%= Client.incomplete.count %>
                     </h1>
                  </div>
               </div>
            </div>
            <div class="col-lg-4">
               <div class="card p-2 rounded-15 pale-blue ps-3 pb-0" style="min-height: 112px;">
                  <h5 class="text-black text-left">Pending Data Entry</h5>
                  <!-- <h5 class="text-transparent">spacer</h5> -->
                  <div class="w-100 d-flex d-flex align-items-end">
                     <h1 style="font-size: 40px;" class="text-black mt-2">
                        <%= Client.pending_data.count %>
                     </h1>
                  </div>
               </div>
            </div>
         </div>
         <div class="row g-1 mb-3" >
            <div class="col-lg-4">
               <div class="card p-2 rounded-15 pale-blue ps-3 pb-0" style="min-height: 112px;">
                  <h5 class="text-black text-left">In Process</h5>
                  <!-- <h5 class="text-transparent">spacer</h5> -->
                  <div class="w-100 d-flex d-flex align-items-end">
                     <h1 style="font-size: 40px;" class="text-black mt-2">
                        <%= Client.in_process.count %>
                     </h1>
                  </div>
               </div>
            </div>
            <div class="col-lg-4">
               <div class="card p-2 rounded-15 pale-blue ps-3 pb-0" style="min-height: 112px;">
                  <h5 class="text-black text-left">PSV</h5>
                  <!-- <h5 class="text-transparent">spacer</h5> -->
                  <div class="w-100 d-flex d-flex align-items-end">
                     <h1 style="font-size: 40px;" class="text-black mt-2">
                        <%= Client.psv.count %>
                     </h1>
                  </div>
               </div>
            </div>
            <div class="col-lg-4">
               <div class="card p-2 rounded-15 pale-blue ps-3 pb-0" style="min-height: 112px;">
                  <h5 class="text-black text-left">Returned</h5>
                  <!-- <h5 class="text-transparent">spacer</h5> -->
                  <div class="w-100 d-flex d-flex align-items-end">
                     <h1 style="font-size: 40px;" class="text-black mt-2">
                        <%= Client.returned.count %>
                     </h1>
                  </div>
               </div>
            </div>
         </div>
         <div class="row mb-3">
            <div class="col-lg-12 mb-3">
               <select class="form-select rounded-15 provider-range-selector" style="width: 150px;">
                  <option value="this_month">Monthly</option>
                  <option value="this_week">Weekly</option>
                  <option value="today">Today</option>
               </select>
            </div>
            <div class="col-lg-12">
               <div class="row mb-3 g-1">
                  <div class="col-lg-4">
                     <div class="card p-2 rounded-15 pale-green ps-3 pb-0" style="min-height: 112px;" >
                        <h5>New Providers</h5>
                        <div class="w-100 d-flex d-flex align-items-end">
                           <h1 id="new_providers" style="font-size: 40px;" class="text-black mt-2">
                              <%= EnrollmentProvider.this_month.count %>
                           </h1>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4">
                     <div class="card p-2 rounded-15 pale-blue ps-3 pb-0" style="min-height: 112px;" >
                        <h5>Assigned Providers</h5>
                        <div class="w-100 d-flex d-flex align-items-end">
                           <h1 id="assigned_providers" style="font-size: 40px;" class="text-black mt-2">
                              <%= EnrollmentProvider.this_month.assigned.count %>
                           </h1>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4">
                     <div class="card p-2 rounded-15 pale-blue ps-3 pb-0" style="min-height: 112px;">
                        <h5>Completed Providers</h5>
                        <div class="w-100 d-flex d-flex align-items-end">
                           <h1 id="completed_providers" style="font-size: 40px;" class="text-black mt-2">
                              <%= EnrollmentProvider.this_month.completed.count %>
                           </h1>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row g-1">
                  <div class="col-lg-4">
                     <div class="card p-2 rounded-15 pale-blue ps-3 pb-0" style="min-height: 112px;">
                        <h5>Votes</h5>
                        <div class="w-100 d-flex d-flex align-items-end">
                           <h1 id="completed_providers" style="font-size: 40px;" class="text-black mt-2">
                              0
                           </h1>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4">
                     <div class="card p-2 rounded-15 pale-blue ps-3 pb-0" style="min-height: 112px;">
                        <h5>Terminated</h5>
                        <div class="w-100 d-flex d-flex align-items-end">
                           <h1 id="terminated_providers" style="font-size: 40px;" class="text-black mt-2">
                              <%= EnrollmentProvider.this_month.terminated.count %>
                           </h1>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4">
                     <div class="card p-2 rounded-15 pale-blue ps-3 pb-0" style="min-height: 112px;">
                        <h5>Unassigned Providers</h5>
                        <div class="w-100 d-flex d-flex align-items-end">
                           <h1 id="unassigned_providers" style="font-size: 40px;" class="text-black mt-2">
                              <%= EnrollmentProvider.this_month.unassigned.count %>
                           </h1>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
           <div class="col-lg-12">
             <div class="card pale-blue rounded px-2 py-4">
              <h5>Server Storage</h5>
              <h4>Total Storage: <%= @total_size_gb %>GB</h4>
              <h6>Used space</h6>
              <div class="bg-secondary rounded-15 mb-2 d-flex align-items-center mb-4">
                <div class="bg-primary d-flex justify-content-between text-white align-items-center rounded-15 px-2" style="width: <%= @used_size_percent %>%">
                  <p class="m-0 py-2 fw-bold"><%= @used_size_gb %>GB</p>
                  <p class="m-0 py-2 fw-bold"><%= @used_size_percent %>%</p>
                </div>
              </div>
              <h6>Free space</h6>
              <div class="bg-secondary rounded-15 d-flex align-items-center">
                <div class="bg-primary d-flex justify-content-between text-white align-items-center rounded-15 px-2" style="width: <%= @free_size_percent %>%">
                  <p class="m-0 py-2 fw-bold"><%= @free_size_gb %>GB</p>
                  <p class="m-0 py-2 fw-bold"><%= @free_size_percent %>%</p>
                </div>
              </div>
             </div>
           </div>
         </div>
      </div>
      <div class="col-lg-5">
         <div class="row g-1 mb-3">
            <div class="col-lg-12">
               <div class="card mb-3 rounded-15" style="background: #eaf4ff;
                  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
                  border-radius: 9.03012px;">
                  <div class="card-header">
                     <h5 class="card-title" style="color:#000000; font-size:15px;">Status</h5>
                  </div>
                  <div class="card-body">
                     <div class="chart">
                        <canvas id="chartjs-bar"></canvas>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-lg-12">
               <div class="card rounded-15" style="background-color: #eaf4ff;">
                  <div class="card-header">
                     <h5 class="card-title" style="color:#000000;">Status</h5>
                  </div>
                  <div class="card-body">
                     <div class="row">
                        <div class="col-md-6">
                           <div class="chart chart-sm">
                              <canvas id="chartjs-doughnut"></canvas>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <table class="">
                              <tbody>
                                 <tr>
                                    <td class="">
                                       <div class="d-flex align-items-center gap-2">
                                          <span class="status-span attested"></span><span style="font-size: 12px;
                                             ">Attested</span>
                                       </div>
                                    </td>
                                    <td class="col-attested"></td>
                                 </tr>
                                 <tr>
                                    <td class="">
                                       <div class="d-flex align-items-center gap-2">
                                          <span class="status-span no-application"></span>
                                          <span style="font-size: 12px;
                                             ">No Application</span>
                                       </div>
                                    </td>
                                    <td  class="col-no-application"></td>
                                 </tr>
                                 <tr>
                                    <td>
                                       <div class="d-flex align-items-center gap-2">
                                          <span class="status-span incomplete"></span> <span style="font-size: 12px;
                                             ">Incomplete Application</span>
                                       </div>
                                    </td>
                                    <td  class="col-incomplete-application"></td>
                                 </tr>
                                 <tr>
                                    <td>
                                       <div class="d-flex align-items-center gap-2">
                                          <span class="status-span complete-application"></span> <span style="font-size: 12px;
                                             ">Complete Application</span>
                                       </div>
                                    </td>
                                    <td  class="col-complete-application"></td>
                                 </tr>
                                 <tr>
                                    <td>
                                       <div class="d-flex align-items-center gap-2">
                                          <span class="status-span pending"></span> <span style="font-size: 12px;
                                             ">Pending Data Entry</span>
                                       </div>
                                    </td>
                                    <td  class="col-pending-data-entry"></td>
                                 </tr>
                                 <tr>
                                    <td>
                                       <div class="d-flex align-items-center gap-2">
                                          <span class="status-span in-process"></span> <span style="font-size: 12px;
                                             ">In Process</span>
                                       </div>
                                    </td>
                                    <td  class="col-in-process"></td>
                                 </tr>
                                 <tr>
                                    <td>
                                       <div class="d-flex align-items-center gap-2">
                                          <span class="status-span psv"></span> <span style="font-size: 12px;
                                             ">PSV</span>
                                       </div>
                                    </td>
                                    <td  class="col-psv"></td>
                                 </tr>
                                 <tr>
                                    <td>
                                       <div class="d-flex align-items-center gap-2">
                                          <span class="status-span returned"></span> <span style="font-size: 12px;
                                             ">Returned</span>
                                       </div>
                                    </td>
                                    <td  class="col-returned"></td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
