<div class="content container-fluid">
   <div class="row">
      <div class="col-lg-12">
         <h1>Status Chart</h1>
      </div>
   </div>
   <div class="row">
      <div class="col-lg-7">
         <div class="row g-1 mb-3" >
            <div class="col-lg-3">
               <div class="card p-2 rounded-15 attested" style="min-height: 185px;">
                  <h5 class="text-white text-center">Attested</h5>
                  <h5 class="text-transparent">spacer</h5>
                  <div class="w-100 d-flex justify-content-center align-items-center" style="height: 100px;">
                     <h1 style="font-size: 40px;" class="text-white">
                        <%= Client.attested.count %>
                     </h1>
                  </div>
               </div>
            </div>
            <div class="col-lg-3">
               <div class="card p-2 rounded-15 no-application" style="min-height: 185px;">
                  <h5 class="text-white text-center">No Application</h5>
                  <h5 class="text-transparent">spacer</h5>
                  <div class="w-100 d-flex justify-content-center align-items-center" style="height: 100px;">
                     <h1 style="font-size: 40px;" class="text-white">
                        <%= Client.no_application.count %>
                     </h1>
                  </div>
               </div>
            </div>
            <div class="col-lg-3">
               <div class="card p-2 rounded-15 complete-application" style="min-height: 185px;">
                  <h5 class="text-white text-center">Complete Application</h5>
                  <h5 class="text-transparent">spacer</h5>
                  <div class="w-100 d-flex justify-content-center align-items-center" style="height: 100px;">
                     <h1 style="font-size: 40px;" class="text-white">
                        <%= Client.no_application.count %>
                     </h1>
                  </div>
               </div>
            </div>
            <div class="col-lg-3">
               <div class="card p-2 rounded-15 incomplete" style="min-height: 185px;">
                  <h5 class="text-white text-center">Incomplete</h5>
                  <h5 class="text-transparent">spacer</h5>
                  <div class="w-100 d-flex justify-content-center align-items-center" style="height: 100px;">
                     <h1 style="font-size: 40px;" class="text-white">
                        <%= Client.incomplete.count %>
                     </h1>
                  </div>
               </div>
            </div>
         </div>
         <div class="row g-1 mb-3" >
            <div class="col-lg-3">
               <div class="card p-2 rounded-15 pending" style="min-height: 185px;">
                  <h5 class="text-white text-center">Pending Data Entry</h5>
                  <h5 class="text-transparent">spacer</h5>
                  <div class="w-100 d-flex justify-content-center align-items-center" style="height: 100px;">
                     <h1 style="font-size: 40px;" class="text-white">
                        <%= Client.pending_data.count %>
                     </h1>
                  </div>
               </div>
            </div>
            <div class="col-lg-3">
               <div class="card p-2 rounded-15 in-process" style="min-height: 185px;">
                  <h5 class="text-white text-center">In Process</h5>
                  <h5 class="text-transparent">spacer</h5>
                  <div class="w-100 d-flex justify-content-center align-items-center" style="height: 100px;">
                     <h1 style="font-size: 40px;" class="text-white">
                        <%= Client.in_process.count %>
                     </h1>
                  </div>
               </div>
            </div>
            <div class="col-lg-3">
               <div class="card p-2 rounded-15 psv" style="min-height: 185px;">
                  <h5 class="text-white text-center">PSV</h5>
                  <h5 class="text-transparent">spacer</h5>
                  <div class="w-100 d-flex justify-content-center align-items-center" style="height: 100px;">
                     <h1 style="font-size: 40px;" class="text-white">
                        <%= Client.psv.count %>
                     </h1>
                  </div>
               </div>
            </div>
            <div class="col-lg-3">
               <div class="card p-2 rounded-15 returned" style="min-height: 185px;">
                  <h5 class="text-white text-center">Returned</h5>
                  <h5 class="text-transparent">spacer</h5>
                  <div class="w-100 d-flex justify-content-center align-items-center" style="height: 100px;">
                     <h1 style="font-size: 40px;" class="text-white">
                        <%= Client.returned.count %>
                     </h1>
                  </div>
               </div>
            </div>
         </div>

       <div class="row">
         <div class="col-lg-12 mb-3">
           <select class="form-select rounded-15 provider-range-selector" style="width: 150px;">
             <option value="this_month">Monthly</option>
             <option value="this_week">Weekly</option>
             <option value="today">Today</option>
           </select>
         </div>
         <div class="col-lg-12">
           <div class="row mb-3">
             <div class="col-lg-4">
               <div class="card p-3 pale-green rounded-15" >
                  <h4>New Providers</h4>
                  <h1 id="new_providers"><%= EnrollmentProvider.this_month.count %></h1>
               </div>
             </div>
             <div class="col-lg-4">
               <div class="card p-3 pale-blue rounded-15" >
                  <h4>Assigned Providers</h4>
                  <h1 id="assigned_providers"><%= EnrollmentProvider.this_month.assigned.count %></h1>
               </div>
             </div>
             <div class="col-lg-4">
               <div class="card p-3 pale-blue rounded-15" >
                  <h4>Completed Providers</h4>
                  <h1 id="completed_providers"><%= EnrollmentProvider.this_month.completed.count %></h1>
               </div>
             </div>
           </div>
           <div class="row">
             <div class="col-lg-4">
               <div class="card p-3 pale-green rounded-15" >
                  <h4>Votes</h4>
                  <h1>0</h1>
               </div>
             </div>
             <div class="col-lg-4">
               <div class="card p-3 pale-blue rounded-15" >
                  <h4>Terminated</h4>
                  <h1 id="terminated_providers"><%= EnrollmentProvider.this_month.terminated.count %></h1>
               </div>
             </div>
             <div class="col-lg-4">
               <div class="card p-3 pale-blue rounded-15" >
                  <h4>Unassigned Providers</h4>
                  <h1 id="unassigned_providers"><%= EnrollmentProvider.this_month.unassigned.count %></h1>
               </div>
             </div>
           </div>
         </div>
       </div>
      </div>
      <div class="col-lg-5">
         <div class="row mb-3">
            <div class="col-lg-12">
               <div class="card mb-3 rounded-15" style="background: #eaf4ff;
                  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
                  border-radius: 9.03012px;">
                  <div class="card-header">
                     <h5 class="card-title" style="color:#000000; font-size:15px;">Status</h5>
                  </div>
                  <div class="card-body">
                     <div class="chart">
                        <canvas id="chartjs-bar"></canvas>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-lg-12">
               <div class="card rounded-15" style="background-color: #eaf4ff;">
                  <div class="card-header">
                     <h5 class="card-title" style="color:#000000;">Status</h5>
                  </div>
                  <div class="card-body">
                     <div class="row">
                        <div class="col-md-6">
                           <div class="chart chart-sm">
                              <canvas id="chartjs-doughnut"></canvas>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <table class="">
                              <tbody>
                                 <tr>
                                    <td class="">
                                       <div class="d-flex align-items-center gap-2">
                                          <span class="status-span attested"></span><span style="font-size: 12px;
                                             ">Attested</span>
                                       </div>
                                    </td>
                                    <td class="col-attested"></td>
                                 </tr>
                                 <tr>
                                    <td class="">
                                       <div class="d-flex align-items-center gap-2">
                                          <span class="status-span no-application"></span>
                                          <span style="font-size: 12px;
                                             ">No Application</span>
                                       </div>
                                    </td>
                                    <td  class="col-no-application"></td>
                                 </tr>
                                 <tr>
                                    <td>
                                    <div class="d-flex align-items-center gap-2">
                                      <span class="status-span incomplete"></span> <span style="font-size: 12px;
                                       ">Incomplete Application</span>
                                     </div>
                                     </td>
                                     <td  class="col-incomplete-application"></td>
                                 </tr>
                                 <tr>
                                  <td>
                                    <div class="d-flex align-items-center gap-2">
                                      <span class="status-span complete-application"></span> <span style="font-size: 12px;
                                       ">Complete Application</span>
                                     </div>
                                     </td>
                                    <td  class="col-complete-application"></td>
                                 </tr>
                                 <tr>
                                  <td>
                                    <div class="d-flex align-items-center gap-2">
                                      <span class="status-span pending"></span> <span style="font-size: 12px;
                                       ">Pending Data Entry</span>
                                     </div>
                                     </td>
                                    <td  class="col-pending-data-entry"></td>

                                 </tr>
                                 <tr>
                                  <td>
                                    <div class="d-flex align-items-center gap-2">
                                      <span class="status-span in-process"></span> <span style="font-size: 12px;
                                       ">In Process</span>
                                     </div>
                                     </td>
                                    <td  class="col-in-process"></td>

                                 </tr>
                                 <tr>
                                  <td>
                                    <div class="d-flex align-items-center gap-2">
                                      <span class="status-span psv"></span> <span style="font-size: 12px;
                                       ">PSV</span>
                                     </div>
                                     </td>
                                    <td  class="col-psv"></td>

                                 </tr>
                                 <tr>
                                  <td>
                                    <div class="d-flex align-items-center gap-2">
                                      <span class="status-span returned"></span> <span style="font-size: 12px;
                                       ">Returned</span>
                                     </div>
                                     </td>
                                    <td  class="col-returned"></td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<script src="/dist/app.js" > </script>
<script >
   document.addEventListener("DOMContentLoaded", function () {
   var clientData = [];
   getClientDataForDoughnutGraph();
   createDoughnutGraph();

   function createDoughnutGraph() {
      new Chart(document.getElementById("chartjs-doughnut"), {
            type: "doughnut",
            data: {
              labels: ["Attested", "No Application", "Complete Application", "Incomplete Application","Pending Data Entry","In Process", "PSV", "Returned"],
              datasets: [{
                data: clientData,
                backgroundColor: [
                "#00a2ff",
                "#8f00ff",
                "#7bb31a",
                "#ff0032",
                "#ffc107",
                "#ff9800",
                "#000000",
                "#b74200"
                ],
                borderColor: "transparent"
              }]
            },
            options: {
              maintainAspectRatio: false,
              cutoutPercentage: 30,
              legend: {
                display: false
              }
            }
          });
   }

   function createBarGraph() {
    new Chart(document.getElementById("chartjs-bar"), {
       type: "bar",
       data: {
          labels: ["", "", "", "", "", "", "", ""],
          datasets: [{
             label: "",
             backgroundColor: [
                "#00a2ff",
                "#8f00ff",
                "#7bb31a",
                "#ff0032",
                "#ffc107",
                "#ff9800",
                "#000000",
                "#b74200"
             ],
             // borderColor: window.theme.primary,
             // hoverBackgroundColor: window.theme.primary,
             // hoverBorderColor: window.theme.primary,
             data: clientData,
             barPercentage: .75,
             categoryPercentage: .9
          }]
       },
       options: {
          maintainAspectRatio: false,
          legend: {
             display: false
          },
          scales: {
             yAxes: [{
                gridLines: {
                   display: false
                },
                stacked: false,
                ticks: {
                   stepSize: 20
                }
             }],
             xAxes: [{
                stacked: false,
                gridLines: {
                   color: "transparent"
                }
             }]
          },
          tooltips: {
             callbacks: {
                label: function (tooltipItem, data) {
                   var value = tooltipItem.value;
                   return value;
                }
             }
          }
       }
    });
   }

  $('.provider-range-selector').on('change',function() {
    // alert('hah')
    getProviderCount($(this).val());
  })
  var csrfToken = $('meta[name="csrf-token"]').attr('content');

  function getProviderCount(range) {
    $.ajax({
      url: '<%= get_dashboard_providers_path %>',
      method: 'POST',
      data: { authenticity_token: csrfToken, range: range },
      success: function(data) {       
        var providers = data['providers'];
        var order_of_providers = ["new","assigned","completed","terminated","unassigned"];
        for (var i = 0; i < providers.length; i++) {
          $('#'+order_of_providers[i]+"_providers").html(providers[i]);
        }
      }
    })
  }

  function getClientDataForDoughnutGraph()
    {
      $.ajax({
        url: "<%= doughnut_data_path %>",
        method: "GET",
        data: { authenticity_token: csrfToken },
        success: function(data) {
          clientData = data['clients'];
          clientPercentage = data['percentages'];
          createBarGraph();
          createDoughnutGraph();

          var order_of_status = ["attested", "no-application", "complete-application", "incomplete-application","pending-data-entry","in-process", "psv", "returned"]

          for (var i = 0; i < clientPercentage.length; i++) {
            $('.col-'+order_of_status[i]).html(clientPercentage[i]+'%');
            $('.col-'+order_of_status[i]).addClass('text-center');
          }
        }
      })
  }
});
 </script>