<div class="content container-fluid">
	<div class="row">
		<div class="col-lg-7">

				<div class="input-group">
						<input type="text" class="form-control bg-light" placeholder="Search Documents">
						<div class="input-group-append">
							 <i class="bi bi-search input-group-text"></i>
								<i class="bi bi-three-dots-vertical input-group-text"></i>
						</div>
				</div>

		</div>
		<div class="col-lg-5">
					<div class="row">
						<div class="col-lg-3 d-flex gap-1 doc_icons">
								<%= link_to 'javascript:void(0);' do %>
                       				 <i class="bi bi-folder-fill"></i>
								<% end %>
								<%= link_to 'javascript:void(0);' do %>
								    <i class="bi bi-calendar2-event-fill"></i>
								<% end %>
								<%= link_to 'javascript:void(0);' do %>
                        			<i class="bi bi-bell-fill"></i>	
								<% end %>
						</div>
						<div class="col-lg-9 d-flex justify-content-end" style="padding: 0px;">
							<%= link_to virtual_review_committee_path(vrc: 'documents'), class: 'btn btn-xs btn-primary d-flex align-items-center', style: 'float: right; margin-left: 0.5rem;' do %>
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="svg-icon">
									<path d="M5.625 1.5c-1.036 0-1.875.84-1.875 1.875v17.25c0 1.035.84 1.875 1.875 1.875h12.75c1.035 0 1.875-.84 1.875-1.875V12.75A3.75 3.75 0 0016.5 9h-1.875a1.875 1.875 0 01-1.875-1.875V5.25A3.75 3.75 0 009 1.5H5.625z" />
									<path d="M12.971 1.816A5.23 5.23 0 0114.25 5.25v1.875c0 .207.168.375.375.375H16.5a5.23 5.23 0 013.434 1.279 9.768 9.768 0 00-6.963-6.963z" />
							</svg>
								Documents
								<% end %>

							<%= link_to virtual_review_committee_path(vrc: 'work-tickler'), class: 'btn btn-xs btn-light d-flex align-items-center', style: 'float: right; margin-left: 0.5rem;' do %>
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="svg-icon">
									<path d="M19.906 9c.382 0 .749.057 1.094.162V9a3 3 0 00-3-3h-3.879a.75.75 0 01-.53-.22L11.47 3.66A2.25 2.25 0 009.879 3H6a3 3 0 00-3 3v3.162A3.756 3.756 0 014.094 9h15.812zM4.094 10.5a2.25 2.25 0 00-2.227 2.568l.857 6A2.25 2.25 0 004.951 21H19.05a2.25 2.25 0 002.227-1.932l.857-6a2.25 2.25 0 00-2.227-2.568H4.094z" />
							</svg>
								Work Tickler
								<% end %>

							<%= link_to virtual_review_committee_path, class: 'btn btn-xs d-flex btn-light  align-items-center', style: 'float: right; margin-left: 0.5rem;' do %>
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="svg-icon">
										<path d="M12.75 12.75a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM7.5 15.75a.75.75 0 100-1.5.75.75 0 000 1.5zM8.25 17.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM9.75 15.75a.75.75 0 100-1.5.75.75 0 000 1.5zM10.5 17.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM12 15.75a.75.75 0 100-1.5.75.75 0 000 1.5zM12.75 17.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM14.25 15.75a.75.75 0 100-1.5.75.75 0 000 1.5zM15 17.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM16.5 15.75a.75.75 0 100-1.5.75.75 0 000 1.5zM15 12.75a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM16.5 13.5a.75.75 0 100-1.5.75.75 0 000 1.5z" />
										<path fill-rule="evenodd" d="M6.75 2.25A.75.75 0 017.5 3v1.5h9V3A.75.75 0 0118 3v1.5h.75a3 3 0 013 3v11.25a3 3 0 01-3 3H5.25a3 3 0 01-3-3V7.5a3 3 0 013-3H6V3a.75.75 0 01.75-.75zm13.5 9a1.5 1.5 0 00-1.5-1.5H5.25a1.5 1.5 0 00-1.5 1.5v7.5a1.5 1.5 0 001.5 1.5h13.5a1.5 1.5 0 001.5-1.5v-7.5z" clip-rule="evenodd" />
								</svg>
								Scheduler
								<% end %>
						</div>

					</div>
		</div>
	</div>
	<div class="row mt-3">
		<%= render 'vrc_list_documents' %>
	</div>
</div>