<div class="content container-fluid">
   <%= render "vrc_components/vrc_nav" %>

   <div class="row">
      <div class="col-lg-4">
         <div class="card">
            <div class="card-container" id="cardContainer">
               <i class="fa-solid fa-arrow-up" id="toggleButton" style="position: absolute; right: 15px; top: 7px; color: black; transition: 0.5s ease; font-size: 16px; padding-inline: 8px;"></i>
                     <div class="card-body p-4 bg-light">
                        <%= form_with url: '/virtual_review_committee/minutes', method: 'get' do |form| %>
                           <div class="row justify-content-center">
                              <div class="col-lg-12">
                                 <div class="row mb-4">
                                    <label for="">Committee Date</label>
                                    <div class="col-lg-6">
                                       <%= form.date_field :from_committee_date, class:"form-control"%>
                                    </div>
                                    <div class="col-lg-6">
                                       <%= form.date_field :to_committee_date, class:"form-control"%>
                                    </div>
                                 </div>

                                 <div class="row mb-3">
                                    <div class="col-lg-6">
                                       <label for="">First Name</label>
                                       <%= form.text_field :first_name, class:"form-control"%>
                                    </div>
                                    <div class="col-lg-6">
                                       <label for="">Last Name</label>
                                       <%= form.text_field :last_name  , class:"form-control"%>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-lg-12 text-center">
                                 <%= form.submit "Submit", class:"btn btn-primary btn-block btn-sm mt-3", style:"width: 40%;"%>
                                    <br>
                                 <button type="button" class="btn btn-danger btn-block btn-sm mt-2" style="width: 40%; background-color: red">Reset</button>
                               </div>
                           </div>
                        <% end %>
                     </div>
            </div>
         </div>
      </div>
      <div class="col-lg-4">

      </div>
   </div>
   <div class="row mt-3 mb-3">
      <div class="col-lg-6">
         <h5>Search Result: <%= @completed_records.count %> records </h5>
      </div>
      <div class="col-lg-6" style="padding: 0;">
         <div style="float: right;" class="d-flex gap-4">
            <div>
               <label class="text-dark-grey">Show limit</label>
               <% per_page_limits = [5,10,15,20,25,30,35,40,45,50]%>
               <select name="per_page" class="border ms-2 px-1 <%= dark_mode %>" onchange="document.getElementById('per_page_selector').submit();">
                  <% per_page_limits.each do |per_page| %>
                     <% if per_page == @per_page.to_i %>
                        <option selected><%= per_page %></option>
                     <% else %>
                        <option><%= per_page %></option>
                     <% end %>
                  <% end %>
               </select>
            </div>
            <label for="">Page 3 of 32 </label>
            <input type="text" value="1" style="width: 35px; text-align: center; font-size: 12px;" class="">
         </div>
      </div>
   </div>

   <div class="row mt-2">
     <table id="vrc-table" class="border shadow p-3 mb-5 me-2 <%= dark_mode %> rounded table table-striped">
      <thead style="background-color: #377dff; color: #fff;">
         <tr class="text-center">
            <th>
               <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
               </div>
            </th>
            <th>Provider Name</th>
            <th>Type</th>
            <th>Category</th>
            <th>Cred Cycle</th>
            <th>Review Level</th>
            <th>Review Date</th>
            <th>Committee Date</th>
            <th>Status</th>
         </tr>
      </thead>
      <tbody class="bg-light">
         <% if @params_present.present? %>
           <% VirtualReviewCommittee.where(build_filter_conditions).each do |completed_record|%>
               <% if completed_record.progress_status == "completed" %>
                 <tr class="text-center">
                    <td>
                       <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                       </div>
                    </td>
                    <td class="text-start">
                       <i class="bi bi-file-earmark-check-fill" style="font-size: 1rem; color: #1CC775;"></i>
                    <%= completed_record.provider_name %>
                  </td>
                    <td><%= completed_record.provider_type %></td>
                    <td>Director</td>
                    <td><%= completed_record.cred_cycle %></td>
                    <td><%= completed_record.review_level %></td>
                    <td><%= completed_record.review_date.to_date %></td>
                    <td><%= completed_record.committee_date.to_date %></td>
                    <td>
                       <button id="backToTopBtn" class="btn-back-to-top"><i class="fa-solid fa-arrow-up"></i></button>
                       <%= completed_record.status %>
                    </td>
                 </tr>
               <% end %>
           <% end %>
         <% else %>
            <% @completed_records.each do |completed_record|%>
                 <tr class="text-center">
                    <td>
                       <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                       </div>
                    </td>
                    <td class="text-start">
                       <i class="bi bi-file-earmark-check-fill" style="font-size: 1rem; color: #1CC775;"></i>
                    <%= completed_record.provider_name %>
                  </td>
                    <td><%= completed_record.provider_type %></td>
                    <td>Director</td>
                    <td><%= completed_record.cred_cycle %></td>
                    <td><%= completed_record.review_level %></td>
                    <td><%= completed_record.review_date.to_date %></td>
                    <td><%= completed_record.committee_date.to_date %></td>
                    <td>
                       <button id="backToTopBtn" class="btn-back-to-top"><i class="fa-solid fa-arrow-up"></i></button>
                       <%= completed_record.status %>
                    </td>
                 </tr>
              <% end %>
            <% end %>
      </tbody>
     </table>
   </div>
</div>
