<div class="content container-fluid">
	<%= render "enrollment_tracking_components/enrollment_nav"%>
	<div class="row mb-3">
		<div class="col-lg-12 mb-3">
			<h2>
				<a href="<%= new_enrollment_provider_path %>" class="d-flex gap-2 text-secondary">
				<i class="bi bi-arrow-left"></i>
				<span>Add New Enrollment</span>
				</a>
			</h2>
		</div>
		<div class="col-lg-12">
			<a href="<%= new_enrollment_path %>" class="btn <%= enrollment_nav_active('pages','new_enrollment') %> btn-md">Provider</a>
			<a href="<%= new_group_enrollment_path %>" class="btn <%= enrollment_nav_active('pages','new_group_enrollment')%> btn-md">Group</a>
		</div>
	</div>
	<div class="row mb-3">
				<div class="col-lg-8">
					<form>
						<div class="row mb-3">
							<div class="col-lg-12 pe-5">
                <label class="text-dark-grey">Provider Name</label>
								<select class="form-select border-dark border border-dark" name="enrollment_provider_name">
									<option>Provider Name</option>
								</select>
							</div>
						</div>
					<div class="row mb-3">
						<div class="col-lg-12">
							<h3>Enrollment Details</h3>
						</div>
						<div class="row mb-3">
							<div class="col-lg-6">
              <label class="text-dark-grey">Start Date *</label>
							<input type="text" name="enrollment_start_date" required class="form-control border border-dark" placeholder="Start Date *" onfocus="(this.type = 'date')">
							</div>
							<div class="col-lg-6">
              <label class="text-dark-grey">Due Date *</label>
								<input type="text" name="enrollment_due_date" required class="form-control border border-dark" placeholder="Due Date *" onfocus="(this.type = 'date')">
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-12">
                <label class="text-dark-grey">Enrollment Payer *</label>
								<select class="form-select border-dark border border-dark" required name="enrollment_payer">
									<option>Enrollment Payer</option>
								</select>
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-6">
              <label class="text-dark-grey">Payer Revalidation Date (for Medicare/Medicaid) *</label>
							<input type="text" name="enrollment_revalidation_date" class="form-control border border-dark" placeholder="Payer Revalidation Date (for Medicare/Medicaid) *" onfocus="(this.type = 'date')">
							</div>
							<div class="col-lg-6">
                <label class="text-dark-grey">Enrollment Type *</label>
								<select class="form-select border-dark border border-dark" required name="enrollment_type">
									<option>Enrollment Type</option>
								</select>
							</div>
						</div>
					</div>

					<div class="row mb-3">
						<div class="col-lg-12">
							<h3>Documents</h3>
						</div>
						<div class="row mb-3">
							<div class="col-lg-6">
								<label class="text-dark-grey">State Medical License</label>
								<input type="text" name="enrollment_state_license_submitted" required class="form-control border border-dark" placeholder="Date Submitted" onfocus="(this.type = 'date')">
							</div>
							<div class="col-lg-6">
								<label class="text-white">File upload</label>
								<input type="file" class="form-control border border-dark" name="enrollment_state_license_file">
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-6">
								<label class="text-dark-grey">DEA</label>
								<input type="text" name="enrollment_dea_submitted" required class="form-control border border-dark" placeholder="Date Submitted" onfocus="(this.type = 'date')">
							</div>
							<div class="col-lg-6">
								<label class="text-white">File upload</label>
								<input type="file" class="form-control border border-dark" name="enrollment_dea_file">
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-6">
								<label class="text-dark-grey">IRS Letter</label>
								<input type="text" name="enrollment_irs_letter_submitted" required class="form-control border border-dark" placeholder="Date Submitted" onfocus="(this.type = 'date')">
							</div>
							<div class="col-lg-6">
								<label class="text-white">File upload</label>
								<input type="file" class="form-control border border-dark" name="enrollment_irs_letter_file">
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-6">
								<label class="text-dark-grey">W9</label>
								<input type="text" name="enrollment_w9_submitted" required class="form-control border border-dark" placeholder="Date Submitted" onfocus="(this.type = 'date')">
							</div>
							<div class="col-lg-6">
								<label class="text-white">File upload</label>
								<input type="file" class="form-control border border-dark" name="enrollment_w9_file">
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-6">
								<label class="text-dark-grey">Voided Check</label>
								<input type="text" name="enrollment_voided_check_submitted" required class="form-control border border-dark" placeholder="Date Submitted" onfocus="(this.type = 'date')">
							</div>
							<div class="col-lg-6">
								<label class="text-white">File upload</label>
								<input type="file" class="form-control border border-dark" name="enrollment_voided_check_file">
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-6">
								<label class="text-dark-grey">Curriculum Vitae</label>
								<input type="text" name="enrollment_curriculum_vitae_submitted" required class="form-control border border-dark" placeholder="Date Submitted" onfocus="(this.type = 'date')">
							</div>
							<div class="col-lg-6">
								<label class="text-white">File upload</label>
								<input type="file" class="form-control border border-dark" name="enrollment_curriculum_vitae_file">
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-6">
								<label class="text-dark-grey">CMS 460</label>
								<input type="text" name="enrollment_cms_460_submitted" required class="form-control border border-dark" placeholder="Date Submitted" onfocus="(this.type = 'date')">
							</div>
							<div class="col-lg-6">
								<label class="text-white">File upload</label>
								<input type="file" class="form-control border border-dark" name="enrollment_cms_460_file">
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-6">
								<label class="text-dark-grey">Electronic File Transfer (EFT)</label>
								<input type="text" name="enrollment_eft_submitted" required class="form-control border border-dark" placeholder="Date Submitted" onfocus="(this.type = 'date')">
							</div>
							<div class="col-lg-6">
								<label class="text-white">File upload</label>
								<input type="file" class="form-control border border-dark" name="enrollment_eft_file">
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-6">
								<label class="text-dark-grey">Certificate of Insurance</label>
								<input type="text" name="enrollment_cert_insurance_submitted" required class="form-control border border-dark" placeholder="Date Submitted" onfocus="(this.type = 'date')">
							</div>
							<div class="col-lg-6">
								<label class="text-white">File upload</label>
								<input type="file" class="form-control border border-dark" name="enrollment_cert_insurance_file">
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-6">
								<label class="text-dark-grey">Driver's License</label>
								<input type="text" name="enrollment_driver_license_submitted" required class="form-control border border-dark" placeholder="Date Submitted" onfocus="(this.type = 'date')">
							</div>
							<div class="col-lg-6">
								<label class="text-white">File upload</label>
								<input type="file" class="form-control border border-dark" name="enrollment_driver_license_file">
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-6">
								<label class="text-dark-grey">Board Certification</label>
								<input type="text" name="enrollment_board_certification_submitted" required class="form-control border border-dark" placeholder="Date Submitted" onfocus="(this.type = 'date')">
							</div>
							<div class="col-lg-6">
								<label class="text-white">File upload</label>
								<input type="file" class="form-control border border-dark" name="enrollment_board_certification_file">
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-12 mb-3">
                <label class="text-dark-grey">Status of Enrollment</label>
								<select class="form-select border-dark border border-dark" name="enrollment_status" id="enrollment_status">
									<option value="">Status of Enrollment</option>
									<option value="submitted">Submitted</option>
									<option value="not_submitted">Not Submitted</option>
									<option value="approved">Approved</option>
									<option value="rejected">Rejected</option>
								</select>
							</div>
							<div class="col-lg-12 d-none enrollment_status_hidden_fields" id="enrollment_submited">
								<input type="text" name="enrollment_application_id" class="form-control border border-dark" placeholder="Application ID/Submitted ID/Tracking ID" required>
							</div>
							<div class="col-lg-12 d-none enrollment_status_hidden_fields" id="enrollment_not_submitted">
								<input type="text" name="enrollment_not_submitted_note" class="form-control border border-dark" placeholder="Note*" required>
							</div>
							<div class="col-lg-12 d-none enrollment_status_hidden_fields" id="enrollment_rejected">
								<input type="text" name="enrollment_not_submitted_note" class="form-control border border-dark" placeholder="Reason for rejection*" required>
							</div>
							<div class="col-lg-12 d-none enrollment_status_hidden_fields" id="enrollment_approved">
								<div class="row">
									<div class="col-lg-6">
										<input type="date" name="enrollment_approved_date" class="form-control border border-dark" required>
									</div>
									<div class="col-lg-6">
										<input type="text" name="enrollment_approved_confirmation" class="form-control border border-dark" placeholder="Enrollment Confirmation" required>
									</div>
								</div>
							</div>
							<div class="col-lg-12 d-none enrollment_status_hidden_fields" id="enrollment_submitted">
								<input type="text" name="enrollment_application_id" class="form-control border border-dark" placeholder="Application ID/Submitted ID/Tracking ID" required>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 d-flex justify-content-end pe-5">
							<button class="btn btn-primary btn-md">Submit</button>
						</div>
					</div>
				</form>
			</div>
			<div class="col-lg-4">
				<div class="row mb-3">
					<div class="col-lg-12">
						<div class="card border border-2 p-3">
							<h5 class="mb-3">Data Encoded Agent</h5>
							<label class="text-dark-grey">Username: th_admin</label>
							<label class="text-dark-grey">Email: enrollmentadmin@gmail.com</label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="card border border-2 p-3">
							<form>
							<h5 class="mb-3">Assign Call Agent</h5>
							<select class="form-select border-dark border border-dark mb-3"  required name="assigned_call_agent">
								<option>Agent Name *</option>
							</select>
							<select class="form-select border-dark border border-dark"  required name="assigned_call_agent">
								<option>Type of Outreach *</option>
							</select>

							</form>
						</div>
					</div>
				</div>
			</div>
	</div>
</div>

<script>
	$('#enrollment_status').on('change',function(){
		if($(this).val() != ""){
			$('.enrollment_status_hidden_fields').addClass('d-none');
			var id = "#enrollment_"+$(this).val();
			$(id).removeClass('d-none');
		}
	})
</script>