<div class="content container-fluid">
	<%= render "enrollment_tracking_components/enrollment_nav"%>
	<div class="row mb-3">
		<div class="col-lg-12 mb-3">
			<h2>
				<a href="<%= enrollments_path %>" class="d-flex gap-2 text-secondary">
				<i class="bi bi-arrow-left"></i>
				<span>Add New Enrollment</span>
				</a>
			</h2>
		</div>
		<div class="col-lg-12">
			<a href="<%= new_enrollment_path %>" class="btn <%=enrollment_nav_active('new_enrollment')%> btn-md">Provider</a>
			<a href="<%= new_group_enrollment_path %>" class="btn <%=enrollment_nav_active('new_group_enrollment')%> btn-md">Group</a>
		</div>
	</div>
	<div class="row mb-3">
			<div class="col-lg-8">
				<form>
					<div class="row mb-3">
						<div class="col-lg-12 pe-5">
							<select class="form-select" name="enrollment_group_name">
								<option>Group Name</option>
							</select>
						</div>
					</div>

					<div class="row mb-1">
						<div class="col-lg-12">
							<label>Name of person who can answer questions related to enrollment for the group.</label>
						</div>
					</div>
					<div class="row mb-3">
						<div class="col-lg-6">
							<input type="text" name="enrollment_first_name" class="form-control" required placeholder="First Name *">
						</div>
						<div class="col-lg-6">
							<input type="text" name="enrollment_middle_name" class="form-control" placeholder="Middle Name">
						</div>
					</div>
					<div class="row mb-3">
						<div class="col-lg-6">
							<input type="text" name="enrollment_last_name" class="form-control" required placeholder="Last Name *">
						</div>
						<div class="col-lg-6">
							<select class="form-select" placeholder="Suffix" name="client_suffix">
								<option>Suffix</option>
								<option>Jr.</option>
								<option>Sr.</option>
								<option>III.</option>
								<option>IV.</option>
							</select>
						</div>
					</div>
					<div class="row mb-3">
						<div class="col-lg-6">
							<input type="text" name="enrollment_telephone" class="form-control" required placeholder="Telephone Number *">
						</div>
						<div class="col-lg-6">
							<input type="email" name="enrollment_email" class="form-control" required placeholder="Email Address *">
						</div>
					</div>
					<div class="row mb-3">
						<div class="col-lg-6">
							<input type="text" name="enrollment_medicare_ptan" class="form-control" required placeholder="Medicare PTAN">
						</div>
						<div class="col-lg-6">
							<input type="email" name="enrollment_medicaid_group_number" class="form-control" required placeholder="Medicaid Group Number">
						</div>
					</div>
					<div class="row mb-3">
						<div class="col-lg-6">
							<input type="text" name="enrollment_bcbs_number" class="form-control" required>
						</div>
						<div class="col-lg-6">
							<select class="form-select">
								<option>Are you enrolled in Tricare (Military)?</option>
								<option value="yes">YES</option>
								<option value="no">No</option>
							</select>
						</div>
					</div>
					<div class="row mb-3">
						<div class="col-lg-12 mb-1">
							<label>Commercial</label>
						</div>
						<div class="col-lg-6">
							<input type="text" name="enrollment_commercial_name" class="form-control" placeholder="Name">
						</div>
						<div class="col-lg-6">
							<select class="form-select" name="enrollment_contracted">
								<option>Contracted?</option>
								<option value="yes">YES</option>
								<option value="no">No</option>
							</select>
						</div>
					</div>
					<div class="row mb-3">
						<div class="col-lg-12 mb-1">
							<label>Has the group recently been revalidated with any payor?</label>
						</div>
						<div class="col-lg-6">
							<select class="form-select" name="enrollment_revalidated">
								<option value="yes">YES</option>
								<option value="no">No</option>
							</select>
						</div>
						<div class="col-lg-6">
							<input type="text" name="enrollment_revalidated_payer_name" class="form-control" placeholder="Name">
						</div>
					</div>
					<div class="row mb-3">
						<div class="col-lg-12 mb-1">
							<label>Are there currently any group applications or contracts in process at a payer?</label>
						</div>
						<div class="col-lg-6">
							<select class="form-select" name="enrollment_application_contracts">
								<option value="yes">YES</option>
								<option value="no">No</option>
							</select>
						</div>
						<div class="col-lg-6">
							<input type="text" name="enrollment_application_payer_name" class="form-control" placeholder="Name">
						</div>
					</div>
					<div class="row mb-3">
						<div class="col-lg-12 mb-1">
							<label>Is the group participating with Medicare?</label>
						</div>
						<div class="col-lg-6">
							<select class="form-select" name="enrollment_with_medicare">
								<option value="yes">YES</option>
								<option value="no">No</option>
							</select>
						</div>
					</div>
					<div class="row mb-3">
						<div class="col-lg-12 mb-1">
							<label>Do you currently have EFT (Electronic Fund Transfer) established?</label>
						</div>
						<div class="col-lg-6">
							<select class="form-select" name="enrollment_with_eft">
								<option value="yes">YES</option>
								<option value="no">No</option>
							</select>
						</div>
					</div>
					<div class="row mb-3">
						<div class="col-lg-12 mb-1">
							<label>EDI (Electronic Data Interchange) Do you want us to indicate Yes on application?</label>
						</div>
						<div class="col-lg-6">
							<select class="form-select" name="enrollment_edi">
								<option value="yes">YES</option>
								<option value="no">No</option>
							</select>
						</div>
					</div>
					<div class="row mb-3">
						<div class="col-lg-12">
							<h3>Enrollment Details</h3>
						</div>
						<div class="row mb-3">
							<div class="col-lg-6">
							<input type="text" name="enrollment_start_date" required class="form-control" placeholder="Start Date *" onfocus="(this.type = 'date')">
							</div>
							<div class="col-lg-6">
								<input type="text" name="enrollment_due_date" required class="form-control" placeholder="Due Date *" onfocus="(this.type = 'date')">
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-12">
								<select class="form-select" required name="enrollment_payer">
									<option>Enrollment Payer</option>
								</select>
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-6">
							<input type="text" name="enrollment_revalidation_date" class="form-control" placeholder="Payer Revalidation Date (for Medicare/Medicaid) *" onfocus="(this.type = 'date')">
							</div>
							<div class="col-lg-6">
								<select class="form-select" required name="enrollment_type">
									<option>Enrollment Type</option>
								</select>
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-12">
								<label>Enrollment Status</label>
								<select class="form-select" required name="enrollment_status">
									<option value="">Enrollment Status</option>
									<option value="active">Active</option>
									<option value="inactive">Inactive</option>
								</select>
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-12 d-flex justify-content-end">
								<button class="btn btn-primary btn-md">Submit</button>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="col-lg-4">
				<div class="row mb-3">
					<div class="col-lg-12">
						<div class="card border border-2 p-3">
							<h5 class="mb-3">Data Encoded Agent</h5>
							<label>Username: th_admin</label>
							<label>Email: enrollmentadmin@gmail.com</label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="card border border-2 p-3">
							<form>
							<h5 class="mb-3">Assign Call Agent</h5>
							<select class="form-select mb-3"  required name="assigned_call_agent">
								<option>Agent Name *</option>
							</select>
							<select class="form-select"  required name="assigned_call_agent">
								<option>Type of Outreach *</option>
							</select>
				
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>