<div class="content container-fluid ps-0">
	<%= render "provider_source_components/top_buttons"%>
	<div class="row">
		<div class="col-lg-3">
			<%= render "provider_source_components/sub_navbar"%>
		</div>
		<div class="col-lg-9">
			<div class="row border border-4 p-3">
				<!-- start of form header -->
				<div class="col-lg-12">
					<div class="d-flex gap-2">
				 		<span class="bg-medium-grey circle d-flex justify-content-center align-items-center" style="width: 40px;height: 40px;">
				 			<i class="bi bi-person-plus-fill text-white" style="font-size: 25px;"></i>
				 		</span>
				 		<div class="d-flex flex-column">
				 			<label class="text-dark-grey">General Information	</label>
				 			<small>Please fill out 	all required fields</small>
				 		</div>
					</div>
				</div>
				<% steps = [['NAME AND HOME ADDRESS','active', custom_provider_source_path, 'home_and_address_progress'], ['PERSONAL INFORMATION', 'inactive', custom_provider_source_path(page: 'personal_info'), 'personal_info_progress']]%>

        <%= render partial: "provider_source_components/progress_bar", locals: { steps: steps }%>
				<%= render partial: "provider_source_components/form_wizard", locals: {steps: steps}%>
				<div class="col-lg-12 my-3">
					<form>
						<div class="row">
							<div class="col-lg-6">
								<div class="row">
									<div class="col-lg-7">
                    <label class="text-dark-grey">First Name <span class="text-danger">*</span></label>
										<input type="text" required name="first_name" placeholder="First Name *" class="form-control border-dark">
									</div>
									<div class="col-lg-5">
                    <label class="text-dark-grey">Middle Name</label>
										 <input type="text" name="middle_name" placeholder="Middle Name" class="form-control border-dark" >
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="row">
									<div class="col-lg-7">
                    <label class="text-dark-grey">Last Name <span class="text-danger">*</span></label>
										<input type="text" required name="last_name" placeholder="Last Name *" class="form-control border-dark">
									</div>
									<div class="col-lg-5">
                    <label class="text-dark-grey">Suffix</label>
										<select name="suffix" class="form-select border-dark" placeholder="Suffix">
											<option value="">Suffix</option>
											<option>Jr.</option>
											<option>Sr.</option>
											<option>III.</option>
											<option>IV.</option>
										</select>
									</div>
								</div>
							</div>
						</div>

						<div class="row my-3">
							<div class="col-lg-12">
                <label class="text-dark-grey">Degree Titles <span class="text-danger">*</span> </label>
								<span class="ms-2" data-bs-toggle="tooltip" data-bs-placement="right" 
										title="Please enter professional degrees earned in the order you like them to appear after last name">
										<i class="bi bi-info-circle text-primary fs-5"></i>
								</span>
								<input type="text" name="degree_titles" placeholder="Degree Titles *" class="form-control border-dark">
							</div>
							<div class="col-lg-6"></div>
						</div>

						<div class="row my-3">
							<div class="col-lg-12">
								<%= HtmlUtils::dropdown name: 'state_of_practice', label: 'State(s) of Practice <span class="text-danger">*</span>', multiple: true %>
							</div>
						</div>

						<div class="row my-3">
							<div class="col-lg-12">
								<%= HtmlUtils::dropdown name: 'primary-practioner-type', label: 'Primary Practitioner Type <span class="text-danger">*</span>', multiple: true %>
							</div>
						</div>

						<div class="row my-3">
							<div class="col-lg-12">
								<div class="d-flex align-items-center gap-2 my-3">
									<p class="my-0 text-dark-grey fw-semibold"><span class="text-danger">*</span> Have you ever used another name?</p>
									<label class="text-dark-grey">
										<input type="radio" name="other_name" value="yes" class="other_name_rbtn">
										Yes
									</label>
									<label class="text-dark-grey">
										<input type="radio" name="other_name" value="no" class="other_name_rbtn">
										No
									</label>
								</div>
								<div id="other_name_section">
								  <div id="other_names_container">
								    <% current_provider_source.other_names.each_with_index do |other_name, index| %>
								      <div class="row other-name-entry" data-id="<%= other_name.id %>">
								      	<%= hidden_field_tag :other_name_id, other_name.id %>
								        <div class="col-lg-12 card py-3 mb-3">
								          <h3>Other Names <i class="bi bi-info-circle text-primary fs-5"></i></h3>
								          <div class="other-name-form">
								            <div class="row my-3">
								              <div class="col-lg-6">
								                <label class="text-dark-grey">Name type</label>
								                <select name="other_names[<%= index %>][name_type]" class="form-select border-dark">
								                  <option value="Legal" <%= "selected" if other_name.name_type == "Legal" %>>Legal</option>
								                  <option value="Maiden" <%= "selected" if other_name.name_type == "Maiden" %>>Maiden</option>
								                  <option value="Professional" <%= "selected" if other_name.name_type == "Professional" %>>Professional</option>
								                </select>
								              </div>
								            </div>
								            <div class="row mb-3">
								              <div class="col-lg-3">
								                <label class="text-dark-grey">Other First Name <span class="text-danger">*</span></label>
								                <input type="text" name="other_names[<%= index %>][first_name]" value="<%= other_name.first_name %>" class="form-control border-dark">
								              </div>
								              <div class="col-lg-3">
								                <label class="text-dark-grey">Other Middle Name</label>
								                <input type="text" name="other_names[<%= index %>][middle_name]" value="<%= other_name.middle_name %>" class="form-control border-dark">
								              </div>
								              <div class="col-lg-3">
								                <label class="text-dark-grey">Other Last Name <span class="text-danger">*</span></label>
								                <input type="text" name="other_names[<%= index %>][last_name]" value="<%= other_name.last_name %>" class="form-control border-dark">
								              </div>
								              <div class="col-lg-3">
								                <label class="text-dark-grey">Other Suffix</label>
								                <select name="other_names[<%= index %>][suffix]" class="form-select border-dark">
								                  <option value="II" <%= "selected" if other_name.suffix == "II" %>>II</option>
								                  <option value="III" <%= "selected" if other_name.suffix == "III" %>>III</option>
								                  <option value="IV" <%= "selected" if other_name.suffix == "IV" %>>IV</option>
								                  <option value="Jr." <%= "selected" if other_name.suffix == "Jr." %>>Jr.</option>
								                  <option value="Sr." <%= "selected" if other_name.suffix == "Sr." %>>Sr.</option>
								                </select>
								              </div>
								            </div>
								            <div class="row mb-3">
								              <div class="col-lg-6">
								                <label class="text-dark-grey">Date Started Using Other Name</label>
								                <input type="date" name="other_names[<%= index %>][date_started]" value="<%= other_name.date_started %>" class="form-control border-dark">
								              </div>
								              <div class="col-lg-6">
								                <label class="text-dark-grey">Date Stopped Using Other Name</label>
								                <input type="date" name="other_names[<%= index %>][date_stopped]" value="<%= other_name.date_stopped %>" class="form-control border-dark">
								                <span class="d-flex mt-2">
								                  <input type="checkbox" name="other_names[<%= index %>][in_use]" class="me-2 other_name_still_use" <%= "checked" if other_name.in_use %>>
								                  <label>Name is still in use</label>
								                </span>
								              </div>
								            </div>
								            <button type="button" class="btn btn-danger remove_other_name">Remove</button>
								          </div>  
								        </div>
								      </div>
								    <% end %>
								  </div>

								  <!-- Hidden template for new Other Name entries -->
								  <div id="other_name_field" style="display: none;">
								    <div class="row other-name-entry">
								      <div class="col-lg-12 card py-3 mb-3">
								        <h3>Other Names <i class="bi bi-info-circle text-primary fs-5"></i></h3>
								        <div class="other-name-form">
								          <div class="row my-3">
								            <div class="col-lg-6">
								              <label class="text-dark-grey">Name type</label>
								              <select name="other_names[][name_type]" class="form-select border-dark">
								                <option value="Legal">Legal</option>
								                <option value="Maiden">Maiden</option>
								                <option value="Professional">Professional</option>
								              </select>
								            </div>
								          </div>
								          <div class="row mb-3">
								            <div class="col-lg-3">
								              <label class="text-dark-grey">Other First Name <span class="text-danger">*</span></label>
								              <input type="text" name="other_names[][first_name]" class="form-control border-dark">
								            </div>
								            <div class="col-lg-3">
								              <label class="text-dark-grey">Other Middle Name</label>
								              <input type="text" name="other_names[][middle_name]" class="form-control border-dark">
								            </div>
								            <div class="col-lg-3">
								              <label class="text-dark-grey">Other Last Name <span class="text-danger">*</span></label>
								              <input type="text" name="other_names[][last_name]" class="form-control border-dark">
								            </div>
								            <div class="col-lg-3">
								              <label class="text-dark-grey">Other Suffix</label>
								              <select name="other_names[][suffix]" class="form-select border-dark">
								                <option value="II">II</option>
								                <option value="III">III</option>
								                <option value="IV">IV</option>
								                <option value="Jr.">Jr.</option>
								                <option value="Sr.">Sr.</option>
								              </select>
								            </div>
								          </div>
								          <div class="row mb-3">
											      <div class="col-lg-3">
											        <label class="text-dark-grey">Date From</label>
											        <input type="date" name="other_names[][date_from]" class="form-control border-dark other-name-input" data-field="date_from">
											      </div>
											      <div class="col-lg-3">
											        <label class="text-dark-grey">Date To</label>
											        <input type="date" name="other_names[][date_to]" class="form-control border-dark other-name-input" data-field="date_to">
											      </div>
											      <div class="col-lg-6">
											        <label class="text-dark-grey">Is this name currently in use?</label>
											        <div>
											          <div class="form-check form-check-inline">
											            <input class="form-check-input other-name-input" type="radio" name="other_names[][in_use]" value="yes" data-field="in_use">
											            <label class="form-check-label">Yes</label>
											          </div>
											          <div class="form-check form-check-inline">
											            <input class="form-check-input other-name-input" type="radio" name="other_names[][in_use]" value="no" data-field="in_use">
											            <label class="form-check-label">No</label>
											          </div>
											        </div>
											      </div>
											    </div>
								          <button type="button" class="btn btn-danger remove_other_name">Remove</button>
								        </div>  
								      </div>
								    </div>
								  </div>

								  <button type="button" id="add_other_name" class="btn btn-primary mt-3">Add Another Name</button>
								</div>
							</div>
						</div>

						<!--  start of divider -->
						<div class="row my-3">
							<div class="col-lg-12">
								<div class="d-flex align-items-center divider gap-3 ">
									<span class="line flex-grow-1 bg-medium-grey"></span>
									<div class="bg-medium-grey rounded px-3 py-2">
										<h6 class="my-0 text-secondary">PRIMARY RESIDENCE
										 <span class="ms-2" data-bs-toggle="tooltip" data-bs-placement="right" 
												title="Please enter your primary residence address here and not your Practice Location.">
												<i class="bi bi-info-circle text-primary fs-5"></i>
										</span></h6>
									</div>
									<span class="line flex-grow-1 bg-medium-grey"></span>
								</div>
							</div>
						</div>
						<!-- end of divider -->

						<!-- start of search -->
						<!-- <div class="row my-3">
							<div class="input-group mb-3">
							  <input type="text" class="form-control border-dark" placeholder="Address Search">
							  <button class="btn btn-primary" type="button" id="inputGroupFileAddon03">
							  	<i class="bi bi-search mr-2"></i>
							  	<span class="fw-bold">SEARCH</span>
							  </button>
							  <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon03">
							  	<i class="bi bi-geo mr-2"></i>
							  	<span class="fw-bold">AUTOLOCATE</span>
							  </button>
							</div>
						</div> -->
						<!-- end of search -->

						<div class="row my-3">
							<div class="col-lg-12">
								<div class="alert alert-warning">
									<i class="bi bi-exclamation-triangle text-danger" style="font-size: 20px"></i>
									<label class="ml-3">Please enter your primary residence address here and not your Practice Location.</label>
								</div>
							</div>
						</div>

						
						<div class="row my-3">
							<div class="col-lg-6">
								<label class="text-dark-grey">Country <span class="text-danger">*</span></label>
								<div class="single-select multi-select-gi-country form-select border-dark" name="gi-country" id="gi-country" placeholder="Country"></div>
							</div>
						</div>

						<div class="row my-3">
							<div class="col-lg-6">
                <label class="text-dark-grey">Adress Line 1 <span class="text-danger">*</span></label>
								<input type="text" class="form-control border-dark" name="address_line_1" placeholder="Adress Line 1 *">
							</div>
							<div class="col-lg-6">
                <label class="text-dark-grey">Adress Line 2</label>
								<input type="text" class="form-control border-dark" name="address_line_2" placeholder="Adress Line 2">
							</div>
						</div>

						<div class="row my-3">
							<div class="col-lg-6">
                <label class="text-dark-grey">City <span class="text-danger">*</span></label>
								<input type="text" required class="form-control border-dark" name="city" placeholder="City *">
							</div>
							<div class="col-lg-6">
                <label class="text-dark-grey">Country</label>
								<input type="text" class="form-control border-dark" name="county" placeholder="County">
							</div>
						</div>

						<div class="row my-3">
							<div class="col-lg-6">
								<%= HtmlUtils::dropdown name: 'ps-state', label: 'State <span class="text-danger">*</span>' %>
							</div>
							<div class="col-lg-6">
							 <label class="text-dark-grey">Zip Code <span class="text-danger">*</span></label>
								<input type="text" class="form-control border-dark" name="zipcode" placeholder="Zip Code">
							</div>
						</div>


						<div class="row my-3">
							<div class="col-lg-6">
                <label class="text-dark-grey">Telephone <span class="text-danger">*</span></label>
								<input type="text" class="form-control border-dark" name="telephone" placeholder="Telephone *">
							</div>
							<div class="col-lg-6">
                <label class="text-dark-grey">Fax Number</label>
								<input type="text" class="form-control border-dark" name="fax_number" placeholder="Fax Number">
							</div>
						</div>

						<div class="row my-3">
							<div class="col-lg-12">
								<div class="form-check">
									  <input class="form-check-input" name="unlisted-number" type="checkbox"  id="flexCheckDefault">
									  <label class="form-check-label text-dark-grey fw-semibold" for="flexCheckDefault">
									    Unlisted Number
									  </label>
								</div>
							</div>
						</div>

						<div class="row my-3">
							<div class="col-lg-6">
                <label class="text-dark-grey">Mobile Number</label>
								<input type="text" class="form-control border-dark" name="mobile_number" placeholder="Mobile Number">
							</div>
							<div class="col-lg-6">
								<div class="row">
									<div class="col-lg-6">
                    <label class="text-dark-grey">Page Number</label>
										<input type="text" name="page_number" class="form-control border-dark" placeholder="Page Number">
									</div>
									<div class="col-lg-6">
                    <label class="text-dark-grey">Ext</label>
										<input type="text" name="ext" class="form-control border-dark" placeholder="Ext">
									</div>
								</div>
							</div>
						</div>

						<div class="row my-3">
							<div class="col-lg-12">
                <label class="text-dark-grey">Email Address <span class="text-danger">*</span></label>
								<input type="email" name="email_address" class="form-control border-dark" placeholder="Email Address *">
							</div>
						</div>

						<!--  -->

					</form>
				</div>
				<!-- end of form fields -->
			</div>

		</div>
	</div>

</div>


<script>
	var csrfToken = $('meta[name="csrf-token"]').attr('content');

	$('.select-search').select2();

	$('.other_name_rbtn').on('change',function(){
		// console.log($(this).val());
		($(this).val() == 'yes') ?	$('#other_name_field').removeClass('d-none') : $('#other_name_field').addClass('d-none');
	})
	$(document).ready(function () {
	  let index = $("#other_names_container .other-name-entry").length;
	  const debounceTimeouts = {}; // For debounce per field

	  $("#add_other_name").on("click", function () {
	    let newEntry = $("#other_name_field").clone();
	    newEntry.removeClass("d-none").css("display", "block").removeAttr("id");

	    // Clear values and update names
	    newEntry.find("input, select").each(function () {
	      let oldName = $(this).attr("name");
	      if (oldName) {
	        let newName = oldName.replace(/\[\]/, `[${index}]`);
	        $(this).attr("name", newName);
	      }

	      if ($(this).is("select")) {
	        $(this).val("");
	      } else if ($(this).attr("type") === "checkbox" || $(this).attr("type") === "radio") {
	        $(this).prop("checked", false);
	      } else {
	        $(this).val("");
	      }

	      $(this).data("last-saved-value", ""); // Initialize last saved value
	    });

	    newEntry.attr("data-id", ""); // Reset data-id
	    index++;
	    $("#other_names_container").append(newEntry);
	  });

	  $(document).on("click", ".remove_other_name", function () {
	    let entry = $(this).closest(".other-name-entry");
	    let otherNameId = entry.data("id");

	    entry.remove();

	    if (otherNameId) {
	      $.ajax({
	        url: `/provider_sources/autosave`,
	        type: "POST",
	        dataType: "json",
	        data: { delete_other_name_id: otherNameId },
	        headers: { "X-CSRF-Token": $("meta[name='csrf-token']").attr("content") },
	        success: function () {
	          console.log("Other Name entry deleted.");
	        }
	      });
	    }
	  });

	  let autosaveTimeout;

		$(document).on("input", "#other_names_container input, #other_names_container select", function () {
		  const $input = $(this);
		  const $entry = $input.closest(".other-name-entry");

		  // Delay to avoid immediately sending before ID is set
		  clearTimeout(autosaveTimeout);
		  autosaveTimeout = setTimeout(() => {
		    let field = $input.attr("name");
		    let value = $input.val();
		    let otherNameId = $entry.data("id");

		    $.ajax({
		      url: "/provider_sources/autosave",
		      type: "POST",
		      dataType: "json",
		      data: {
		        field_name: field,
		        value: value,
		        other_name_id: otherNameId,
		        nested_form: true
		      },
		      headers: {
		        "X-CSRF-Token": $("meta[name='csrf-token']").attr("content")
		      },
		      success: function (response) {
		        if (response.id && !otherNameId) {
		          // Set new ID only once
		          $entry.attr("data-id", response.id);
		        }
		      },
		      error: function (xhr, status, error) {
		        console.error("Autosave failed:", error);
		      }
		    });
		  }, 800); // Debounce slightly to avoid race
		});
	});
</script>


