<div class="content container-fluid ps-0">
	<%= render "provider_source_components/top_buttons"%>
	<div class="row">
		<div class="col-lg-3">
			<%= render "provider_source_components/sub_navbar"%>
		</div>
		<div class="col-lg-9">
			<div class="row border border-4 p-3">
				<!-- start of form header -->
				<div class="col-lg-12">
					<div class="d-flex gap-2">
				 		<span class="bg-medium-grey circle d-flex justify-content-center align-items-center" style="width: 40px;height: 40px;">
				 			<i class="bi bi-person-plus-fill text-white" style="font-size: 25px;"></i>
				 		</span>
				 		<div class="d-flex flex-column">
				 			<label>General Information	</label>
				 			<small>Please fill out 	all required fields</small>
				 		</div>
					</div>
				</div>
				<%= render partial: "provider_source_components/progress_bar", locals: {percent: 50}%>
				<% steps = [['NAME AND HOME ADDRESS','active', provider_source_path], ['PERSONAL INFORMATION', 'inactive', provider_source_path(page: 'personal_info')]]%>
				<%= render partial: "provider_source_components/form_wizard", locals: {steps: steps}%>
				<div class="col-lg-12 my-3">
					<form>
						<div class="row">
							<div class="col-lg-6">
								<div class="row">
									<div class="col-lg-7">
										<input type="text" name="" placeholder="First Name *" class="form-control">
									</div>
									<div class="col-lg-5">
										 <input type="text" name="" placeholder="Middle Name" class="form-control">
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="row">
									<div class="col-lg-7">
										<input type="text" name="" placeholder="Last Name *" class="form-control">
									</div>
									<div class="col-lg-5">
										<select class="form-select" placeholder="Suffix">
											<option>Suffix</option>
											<option>Jr.</option>
											<option>Sr.</option>
											<option>III.</option>
											<option>IV.</option>
										</select>
									</div>
								</div>
							</div>
						</div>

						<div class="row my-3">
							<div class="col-lg-6">
								<input type="text" name="" placeholder="Degree Titles *" class="form-control">
							</div>
							<div class="col-lg-6"></div>
						</div>

						<div class="row my-3">
							<div class="col-lg-12">
								<select class="multi-select" id="multi-select" placeholder="State(s) or Practice *" multiple>
									<option value="">Select option</option>
									<% @states.each do |state|%>
									<option value="<%= state.alpha_code %>"><%= state.name %></option>
									<% end %>
								</select>
							</div>
						</div>

						<div class="row my-3">
							<div class="col-lg-12">
								<select class="form-select select-search py-3" placeholder="Primary Practitioner Type *">
									<option>Primary Practitioner Type *</option>
									<% @provider_types.each do |provider_type|%>
									<option value="<%= provider_type.fch %>"><%= provider_type.fch %></option>
									<% end %>
								</select>
							</div>
						</div>

						<div class="row my-3">
							<div class="col-lg-12">
								<div class="d-flex align-items-center gap-2 my-3">
									<p class="my-0">Have you ever used another name?</p>
									<label>
										<input type="radio" name="other_name" value="yes" class="other_name_rbtn">
										Yes
									</label>
									<label>
										<input type="radio" name="other_name" value="no" class="other_name_rbtn">
										No
									</label>
								</div>
								<input type="text" name="" class="form-control d-none" placeholder="Other Names" id="other_name_field">
							</div>
						</div>

						<!--  start of divider -->
						<div class="row my-3">
							<div class="col-lg-12">
								<div class="d-flex align-items-center divider gap-3 ">
									<span class="line flex-grow-1 bg-medium-grey"></span>
									<div class="bg-medium-grey rounded px-3 py-2">
										<h6 class="my-0 text-secondary">PRIMARY RESIDENCE</h6>
									</div>
									<span class="line flex-grow-1 bg-medium-grey"></span>
								</div>
							</div>
						</div>
						<!-- end of divider -->

						<!-- start of search -->
						<div class="row my-3">
							<div class="input-group mb-3">
							  <input type="text" class="form-control" placeholder="Address Search">
							  <button class="btn btn-primary" type="button" id="inputGroupFileAddon03">
							  	<i class="bi bi-search mr-2"></i>
							  	<span class="fw-bold">SEARCH</span>
							  </button>
							  <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon03">
							  	<i class="bi bi-geo mr-2"></i>
							  	<span class="fw-bold">AUTOLOCATE</span>
							  </button>
							</div>
						</div>
						<!-- end of search -->

						<div class="row my-3">
							<div class="col-lg-12">
								<div class="alert alert-warning">
									<i class="bi bi-exclamation-triangle text-danger" style="font-size: 20px"></i>
									<label class="ml-3">Please enter your primary residence address here and not your Practice Location.</label>
								</div>
							</div>
						</div>

						<!--  -->
						<div class="row my-3">
							<div class="col-lg-6">
								<input type="text" class="form-control" placeholder="Country" name="">
							</div>
							<div class="col-lg-6"></div>
						</div>

						<div class="row my-3">
							<div class="col-lg-6">
								<input type="text" class="form-control" name="" placeholder="Adress Line 1 *">
							</div>
							<div class="col-lg-6">
								<input type="text" class="form-control" name="" placeholder="Adress Line 2">
							</div>
						</div>

						<div class="row my-3">
							<div class="col-lg-6">
								<input type="text" class="form-control" name="" placeholder="City">
							</div>
							<div class="col-lg-6">
								<input type="text" class="form-control" name="" placeholder="County">
							</div>
						</div>

						<div class="row my-3">
							<div class="col-lg-6">
								<select class="form-select ">
									<option value="">Select option</option>
									<% @states.each do |state|%>
									<option value="<%= state.alpha_code %>"><%= state.name %></option>
									<% end %>
								</select>
								<!-- <input type="text" class="form-control" name="" placeholder="State"> -->
							</div>
							<div class="col-lg-6">
								<input type="text" class="form-control" name="" placeholder="Zip Code">
							</div>
						</div>


						<div class="row my-3">
							<div class="col-lg-6">
								<input type="text" class="form-control" name="" placeholder="Telephone *">
							</div>
							<div class="col-lg-6">
								<input type="text" class="form-control" name="" placeholder="Fax Number">
							</div>
						</div>

						<div class="row my-3">
							<div class="col-lg-12">
								<div class="form-check">
									  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
									  <label class="form-check-label" for="flexCheckDefault">
									    Unlisted Number
									  </label>
								</div>
							</div>
						</div>

						<div class="row my-3">
							<div class="col-lg-6">
								<input type="text" class="form-control" name="" placeholder="Mobile Number">
							</div>
							<div class="col-lg-6">
								<div class="row">
									<div class="col-lg-6">
										<input type="text" name="" class="form-control" placeholder="Page Number">
									</div>
									<div class="col-lg-6">
										<input type="text" name="" class="form-control" placeholder="Ext">
									</div>
								</div>
							</div>
						</div>

						<!--  -->

					</form>
				</div>
				<!-- end of form fields -->
			</div>

		</div>
	</div>

</div>

<% content_for :js do %>
	<script>

		VirtualSelect.init({
		  ele: '.multi-select'
		  // options: myOptions
		});

	</script>
<% end %>

<script>
	$('.select-search').select2();

	$('.other_name_rbtn').on('change',function(){
		// console.log($(this).val());
		($(this).val() == 'yes') ?	$('#other_name_field').removeClass('d-none') : $('#other_name_field').addClass('d-none');
	})
</script>