<div class="content container-fluid ps-0">
	<%= render "provider_source_components/top_buttons"%>
	<div class="row">
		<div class="col-lg-3">
			<%= render "provider_source_components/sub_navbar"%>
		</div>
		<div class="col-lg-9">
			<div class="row border border-4 p-3">
				<!-- start of form header -->
				<div class="col-lg-12">
					<div class="d-flex gap-2">
				 		<span class="bg-medium-grey circle d-flex justify-content-center align-items-center" style="width: 40px;height: 40px;">
				 			<i class="bi bi-person-plus-fill text-white" style="font-size: 25px;"></i>
				 		</span>
				 		<div class="d-flex flex-column">
				 			<label class="text-dark-grey">General Information	</label>
				 			<small>Please fill out 	all required fields</small>
				 		</div>
					</div>
				</div>
				<% steps = [['NAME AND HOME ADDRESS','active', custom_provider_source_path, 'home_and_address_progress'], ['PERSONAL INFORMATION', 'inactive', custom_provider_source_path(page: 'personal_info'), 'personal_info_progress']]%>

        <%= render partial: "provider_source_components/progress_bar", locals: { steps: steps }%>
				<%= render partial: "provider_source_components/form_wizard", locals: {steps: steps}%>
				<div class="col-lg-12 my-3">
					<form>
						<div class="row">
							<div class="col-lg-6">
								<div class="row">
									<div class="col-lg-7">
                    <label class="text-dark-grey">First Name *</label>
										<input type="text" required name="first_name" placeholder="First Name *" class="form-control border-dark">
									</div>
									<div class="col-lg-5">
                    <label class="text-dark-grey">Middle Name</label>
										 <input type="text" name="middle_name" placeholder="" class="form-control border-dark">
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="row">
									<div class="col-lg-7">
                    <label class="text-dark-grey">Last Name *</label>
										<input type="text" required name="last_name" placeholder="Last Name *" class="form-control border-dark">
									</div>
									<div class="col-lg-5">
                    <label class="text-dark-grey">Suffix</label>
										<select name="suffix" class="form-select border-dark" placeholder="Suffix">
											<option>Suffix</option>
											<option>Jr.</option>
											<option>Sr.</option>
											<option>III.</option>
											<option>IV.</option>
										</select>
									</div>
								</div>
							</div>
						</div>

						<div class="row my-3">
							<div class="col-lg-6">
                <label class="text-dark-grey">Degree Titles *</label>
								<input type="text" name="degree_titles" placeholder="Degree Titles *" class="form-control border-dark">
							</div>
							<div class="col-lg-6"></div>
						</div>

						<div class="row my-3">
							<div class="col-lg-12">
								<%= HtmlUtils::dropdown name: 'state_of_practice', label: 'State(s) of Practice *', multiple: true %>
							</div>
						</div>

						<div class="row my-3">
							<div class="col-lg-12">
								<%= HtmlUtils::dropdown name: 'primary-practioner-type', label: 'Primary Practitioner Type *', multiple: true %>
							</div>
						</div>

						<div class="row my-3">
							<div class="col-lg-12">
								<div class="d-flex align-items-center gap-2 my-3">
									<p class="my-0 text-dark-grey fw-semibold">Have you ever used another name?</p>
									<label class="text-dark-grey">
										<input type="radio" name="other_name" value="yes" class="other_name_rbtn">
										Yes
									</label>
									<label class="text-dark-grey">
										<input type="radio" name="other_name" value="no" class="other_name_rbtn">
										No
									</label>
								</div>
                <div id="other_name_field" class="d-none">
                <label class="text-dark-grey">Other Names</label>
								<input type="text" name="other_names" class="form-control border-dark" placeholder="Other Names" >
                </div>
							</div>
						</div>

						<!--  start of divider -->
						<div class="row my-3">
							<div class="col-lg-12">
								<div class="d-flex align-items-center divider gap-3 ">
									<span class="line flex-grow-1 bg-medium-grey"></span>
									<div class="bg-medium-grey rounded px-3 py-2">
										<h6 class="my-0 text-secondary">PRIMARY RESIDENCE</h6>
									</div>
									<span class="line flex-grow-1 bg-medium-grey"></span>
								</div>
							</div>
						</div>
						<!-- end of divider -->

						<!-- start of search -->
						<div class="row my-3">
							<div class="input-group mb-3">
							  <input type="text" class="form-control border-dark" placeholder="Address Search">
							  <button class="btn btn-primary" type="button" id="inputGroupFileAddon03">
							  	<i class="bi bi-search mr-2"></i>
							  	<span class="fw-bold">SEARCH</span>
							  </button>
							  <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon03">
							  	<i class="bi bi-geo mr-2"></i>
							  	<span class="fw-bold">AUTOLOCATE</span>
							  </button>
							</div>
						</div>
						<!-- end of search -->

						<div class="row my-3">
							<div class="col-lg-12">
								<div class="alert alert-warning">
									<i class="bi bi-exclamation-triangle text-danger" style="font-size: 20px"></i>
									<label class="ml-3">Please enter your primary residence address here and not your Practice Location.</label>
								</div>
							</div>
						</div>

						
						<div class="row my-3">
							<div class="col-lg-6">
								<label class="text-dark-grey">Country *</label>
								<div class="single-select multi-select-gi-country form-select border-dark" name="gi-country" id="gi-country" placeholder="Country"></div>
							</div>
						</div>

						<div class="row my-3">
							<div class="col-lg-6">
                <label class="text-dark-grey">Adress Line 1 *</label>
								<input type="text" class="form-control border-dark" name="address_line_1" placeholder="Adress Line 1 *">
							</div>
							<div class="col-lg-6">
                <label class="text-dark-grey">Adress Line 2</label>
								<input type="text" class="form-control border-dark" name="address_line_2" placeholder="Adress Line 2">
							</div>
						</div>

						<div class="row my-3">
							<div class="col-lg-6">
                <label class="text-dark-grey">City *</label>
								<input type="text" required class="form-control border-dark" name="city" placeholder="City *">
							</div>
							<div class="col-lg-6">
                <label class="text-dark-grey">Country</label>
								<input type="text" class="form-control border-dark" name="county" placeholder="County">
							</div>
						</div>

						<div class="row my-3">
							<div class="col-lg-6">
								<%= HtmlUtils::dropdown name: 'ps-state', label: 'State *' %>
							</div>
							<div class="col-lg-6">
							 <label class="text-dark-grey">Zip Code</label>
								<input type="text" class="form-control border-dark" name="zipcode" placeholder="Zip Code">
							</div>
						</div>


						<div class="row my-3">
							<div class="col-lg-6">
                <label class="text-dark-grey">Telephone *</label>
								<input type="text" class="form-control border-dark" name="telephone" placeholder="Telephone *">
							</div>
							<div class="col-lg-6">
                <label class="text-dark-grey">Fax Number</label>
								<input type="text" class="form-control border-dark" name="fax_number" placeholder="Fax Number">
							</div>
						</div>

						<div class="row my-3">
							<div class="col-lg-12">
								<div class="form-check">
									  <input class="form-check-input" name="unlisted-number" type="checkbox"  id="flexCheckDefault">
									  <label class="form-check-label text-dark-grey fw-semibold" for="flexCheckDefault">
									    Unlisted Number
									  </label>
								</div>
							</div>
						</div>

						<div class="row my-3">
							<div class="col-lg-6">
                <label class="text-dark-grey">Mobile Number</label>
								<input type="text" class="form-control border-dark" name="mobile_number" placeholder="Mobile Number">
							</div>
							<div class="col-lg-6">
								<div class="row">
									<div class="col-lg-6">
                    <label class="text-dark-grey">Page Number</label>
										<input type="text" name="page_number" class="form-control border-dark" placeholder="Page Number">
									</div>
									<div class="col-lg-6">
                    <label class="text-dark-grey">Ext</label>
										<input type="text" name="ext" class="form-control border-dark" placeholder="Ext">
									</div>
								</div>
							</div>
						</div>

						<div class="row my-3">
							<div class="col-lg-12">
                <label class="text-dark-grey">Email Address *</label>
								<input type="email" name="email_address" class="form-control border-dark" placeholder="Email Address *">
							</div>
						</div>

						<!--  -->

					</form>
				</div>
				<!-- end of form fields -->
			</div>

		</div>
	</div>

</div>


<script>
	var csrfToken = $('meta[name="csrf-token"]').attr('content');

	$('.select-search').select2();

	$('.other_name_rbtn').on('change',function(){
		// console.log($(this).val());
		($(this).val() == 'yes') ?	$('#other_name_field').removeClass('d-none') : $('#other_name_field').addClass('d-none');
	})
</script>


