<div class="content container-fluid" >
	<div class="row">
		<div class="col-lg-9">

			<div class="row">
				<div class="col-lg-10">
					<%= link_to virtual_review_committee_path, class: 'btn btn-sm btn-danger d-inline-flex align-items-center' do %>
					  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" style="width: 16px; margin-right: 0.5rem;">
					    <path stroke-linecap="round" stroke-linejoin="round" d="M9 15L3 9m0 0l6-6M3 9h12a6 6 0 010 12h-3" />
					  </svg>
					  <span>Back</span>
					<% end %>
					<button id="btn-profile" class="btn btn-sm btn-primary d-inline-flex align-items-center">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" style="width: 16px; margin-right: 0.5rem;">
							<path fill-rule="evenodd" d="M18.685 19.097A9.723 9.723 0 0021.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 003.065 7.097A9.716 9.716 0 0012 21.75a9.716 9.716 0 006.685-2.653zm-12.54-1.285A7.486 7.486 0 0112 15a7.486 7.486 0 015.855 2.812A8.224 8.224 0 0112 20.25a8.224 8.224 0 01-5.855-2.438zM15.75 9a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z" clip-rule="evenodd" />
						</svg>
						<span>Profile</span>
					</button>
					<button id="btn-change-review-level" class="btn btn-sm btn-light d-inline-flex align-items-center">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" style="width: 16px; margin-right: 0.5rem;">
							<path d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32l8.4-8.4z" />
							<path d="M5.25 5.25a3 3 0 00-3 3v10.5a3 3 0 003 3h10.5a3 3 0 003-3V13.5a.75.75 0 00-1.5 0v5.25a1.5 1.5 0 01-1.5 1.5H5.25a1.5 1.5 0 01-1.5-1.5V8.25a1.5 1.5 0 011.5-1.5h5.25a.75.75 0 000-1.5H5.25z" />
						</svg>
						<span>Change Review Level</span>
					</button>
				</div>
				<div class="col-lg-2">
					<div style="float: right">
						<button type="button" class="btn btn-primary d-inline-flex align-items-center" data-bs-toggle="modal" data-bs-target="#exampleModal">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" style="width: 16px; margin-right: 0.5rem;">
							<path d="M5.625 1.5c-1.036 0-1.875.84-1.875 1.875v17.25c0 1.035.84 1.875 1.875 1.875h12.75c1.035 0 1.875-.84 1.875-1.875V12.75A3.75 3.75 0 0016.5 9h-1.875a1.875 1.875 0 01-1.875-1.875V5.25A3.75 3.75 0 009 1.5H5.625z" />
							<path d="M12.971 1.816A5.23 5.23 0 0114.25 5.25v1.875c0 .207.168.375.375.375H16.5a5.23 5.23 0 013.434 1.279 9.768 9.768 0 00-6.963-6.963z" />
						</svg>
						  Verified Profile
						</button>

						<!-- Modal -->
						<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
						  <div class="modal-dialog modal-xl" >
						    <div class="modal-content">
						      <div class="modal-header">
						        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						      </div>
						      <div class="modal-body">
						        <%= render 'mhc/manage_clients/verified_profile' %>
						      </div>
						    </div>
						  </div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12">
					<table id="show-vrc-table" class="mt-4 table border">
						<thead style="background-color: #377dff; color: #fff;">
							<tr>
								<th width="20%" style="text-align: center;">Provider Name</th>
								<th width="15%" style="text-align: left;">Phone/Email</th>
								<th width="10%">Date of Birth</th>
								<th width="10%">SSN</th>
								<th width="10%">NPI</th>
								<th width="8%">TIN</th>
								<th width="15%">Medicare #</th>
								<th width="15%" style="text-align: left;">Group Name</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><h5><%= @vrc.provider_name %></h5></td>
								<td>
									+2 839 332 <br>
									medversant@link.em
								</td>
								<td>01/01/1990</td>
								<td>99999673223</td>
								<td>1823525342</td>
								<td>123-233-221</td>
								<td>123-233-221</td>
								<td>Medversant</td>
							</tr>
						</tbody>
					</table>
					<hr style="margin: 0;">
					<table class="table border">
						<tbody>
							<tr>
								<td>
									<strong for="">Received Date:</strong> <br>
									2/10/2016
								</td>
								<td>
									<strong for="">Completed Date:</strong> <br>
									2/10/2016
								</td>
								<td>
									<strong for="">PSV Date:</strong> <br>
									<%= @vrc.psv_completed_date&.strftime("%m/%d/%Y") %>
								</td>
								<td>
									<strong for="">Cred Cycle Cred:</strong> <br>
									<%= @vrc.cred_cycle %>
								</td>
								<td>
									<strong for="">Recred Due Date:</strong> <br>
								</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>
									<strong for="">Level of Review:</strong> <br>
									<span id="review-level"><%= @vrc.review_level %></span>
								</td>
								<td>
									<strong for="">Review Details:</strong> <br>
									<%= @vrc.review_details %>
								</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</tbody>
					</table>
					<table id="show-vrc-table" class="mt-4 table border">
						<thead style="background-color: #377dff; color: #fff;">
							<tr>
								<th width="20%" style="text-align: center;">Provider Name</th>
								<th width="15%" style="text-align: left;">Phone/Email</th>
								<th width="10%">Date of Birth</th>
								<th width="10%">SSN</th>
								<th width="10%">NPI</th>
								<th width="8%">TIN</th>
								<th width="15%">Medicare #</th>
								<th width="15%" style="text-align: left;">Group Name</th>
							</tr>
						</thead>
						<tbody>
							<% if @provider_personal_informations.present? %>
								<% @provider_personal_informations.each do |provider| %>
									<tr>
										<td><h5><%= provider.fullname %></h5></td>
										<td style="word-break: break-word; max-width: 200px; white-space: normal;">
											<%= provider.cell_phone_number %><br>
											<%= provider.email_address%>
										</td>
										<td><%= provider.date_of_birth %></td>
										<td><%= provider.ssn %></td>
										<td><%= provider.npi %></td>
										<td> TIN </td>
										<td><%= provider.medicare_provider_flag %></td>
										<td>group_name</td>
									</tr>
								<% end %>
							<% else %>
								<tr>
									<td colspan="8" class="text-center text-muted">No provider data available.</td>
								</tr>
							<% end %>
						</tbody>
					</table>
				</div>
				<% if @vrc.progress_status == "completed" %>
					<div class="content-box">
			      <div class="content-box-header">
			        <h3>Licensure and Registration</h3>
			      </div>
			      <div class="content-box-content">
			        <table class="fullwidth table">
			          <thead>
			            <tr>
			              <th class="text-white">Number</th>
			              <th class="text-white">Type</th>
			              <th class="text-white">State</th>
			              <th style="text-align:center;" class="text-white">From Date</th>
			              <th style="text-align:center;" class="text-white">To Date</th>
			              <th style="text-align:center;" class="text-white">Source</th>
			              <th style="text-align:center;" class="text-white">Status</th>
			              <th style="text-align:center;" class="text-white">Verify Date</th>
			            </tr>
			          </thead>
			          <tbody>
			            <tr class="alt-row">
			              <td>098007252RN</td>
			              <td>RN</td>
			              <td>OR</td>
			              <td style="text-align:center;">1998-11-16</td>
			              <td style="text-align:center;">2017-02-15</td>
			              <td style="text-align:center;">State Board </td>
			              <td style="text-align:center;">ACTIVE</td>
			              <td style="text-align:center;">2016-04-06</td>
			            </tr>
			            <tr>
			              <td>200250117NP</td>
			              <td>NP</td>
			              <td>OR</td>
			              <td style="text-align:center;">2002-08-15</td>
			              <td style="text-align:center;">2017-02-15</td>
			              <td style="text-align:center;">State Board </td>
			              <td style="text-align:center;">ACTIVE</td>
			              <td style="text-align:center;">2016-05-23</td>
			            </tr>
			          </tbody>
			        </table>
			        <span class="clear">
			        </span>
			      </div>
			    </div>
			    <div class="content-box">
			      <div class="content-box-header">
			        <h3>Reviews</h3>
			      </div>
			      <div class="content-box-content">
			        <table class="fullwidth table">
			          <thead>
			            <tr class="TableHeaderStyle2">
			              <th class="text-white">Voted Date</th>
			              <th class="text-white">Reviewer</th>
			              <th class="text-white">Role</th>
			              <th class="text-white">Comment/Note</th>
			              <th class="text-white">Action</th>
			            </tr>
			          </thead>
			          <tbody>
			            <tr class="alt-row">
			              <td class="text-white">2022-03-23</td>
			              <td class="text-white">DemoDirector Test</td>
			              <td class="text-white">VRC Director</td>
			              <td class="text-white"></td>
			              <td class="text-white">Approved</td>
			            </tr>
			            <tr>
			              <td>2022-03-23</td>
			              <td>DemoMember Test</td>
			              <td>VRC Member</td>
			              <td></td>
			              <td>Approved</td>
			            </tr>
			          </tbody>
			        </table>
			        <span class="clear">
			        </span>
			      </div>
			    </div>
			    <div class="content-box">
			      <div class="content-box-header">
			        <h3>Minutes</h3>
			      </div>
			      <div class="content-box-content">
			        <table class="fullwidth table">
			          <thead>
			            <tr class="TableHeaderStyle2">
			              <th style="width:80px" class="text-white">Medv Id</th>
			              <th style="width:80px" class="text-white">ProviderId</th>
			              <th style="width:80px" class="text-white">Review Level</th>
			              <th class="text-white">Issues</th>
			              <th class="text-white">Result</th>
			            </tr>
			          </thead>
			          <tbody>
			            <tr class="alt-row">
			              <td clas>154459</td>
			              <td clas>538699</td>
			              <td clas>Expedited</td>
			              <td clas></td>
			              <td clas></td>
			            </tr>
			          </tbody>
			        </table>
			        <span class="clear">
			        </span>
			      </div>
			    </div>
			    <div class="content-box">
			      <div class="content-box-header">
			        <h3>Verification Log</h3>
			      </div>
			      <div class="content-box-content">
			        <table class="fullwidth table">
			          <thead>
			            <tr class="TableHeaderStyle2">
			              <th class="text-white">Verification Date</th>
			              <th class="text-white">Verification Item</th>
			            </tr>
			          </thead>
			          <tbody>
			          </tbody>
			        </table>
			        <span class="clear">
			        </span>
			      </div>
			    </div>
			    <div class="content-box">
			      <div class="content-box-header">
			        <h3>Review Level Changes</h3>
			      </div>
			      <div class="content-box-content">
			        <table class="fullwidth table">
			          <thead>
			            <tr class="TableHeaderStyle2">
			              <th class="text-white">Change Date</th>
			              <th class="text-white">From</th>
			              <th class="text-white">To</th>
			              <th class="text-white">By</th>
			              <th class="text-white">Reason</th>
			            </tr>
			          </thead>
			          <tbody>
			          </tbody>
			        </table>
			        <span class="clear">
			        </span>
			      </div>
			    </div>
			  <% end %>  

				<div id="change-review-level-container" class="col-lg-12 mt-2" style="display: none">
					<h3 class="mt-2 p-3" style="background-color: #E9E9E9;">Review Level Change</h3>
					<%= form_with model: @record, url: record_approval_path, method: :patch do |form| %>
						<div class="form-group mb-3">
							<label for="record_status">Review Level:</label>
							<%= form.hidden_field :id, value: @vrc.id %>
							<%= form.select :status, options_for_select([['All', ''], 'Expedited', 'Non-Expedited']), {}, { id: 'record_status', class: 'form-control' } %>
						</div>
						
					  <div class="form-group mb-3" style="position: relative;">
					    <label for="">Reason to Change:</label>
					    <%= form.text_area :description, class:"form-control", style:"border: 1px solid #000;", cols:25 , rows:10, required: true %>

					    <!-- Placeholder for the checkbox, initially hidden -->
					    <div id="other-checkbox" style="position: absolute; top: 18px; left: 0; padding: 8px 0 0 10px; display: none;">
					      <input id="description" type="checkbox" name="description" value="OTHER:" tabindex="12">
					      <label for="description">OTHER: </label>
					    </div>
					  </div>

						<%= form.submit "Submit", class: "btn btn-primary" %>
					<% end %>	
				</div>
			</div>


		</div>
		<div class="col-lg-3">
			<%#= render 'sidebar_profile'%>
		</div>
	</div>
</div>

<% content_for :js do %>
<script>
	if($('body.navbar-vertical-aside-mini-mode').length == 0){
		setTimeout(function () {$('#navbar-aside-toggler').click();}, 1000);
	}

	$('#btn-change-review-level').on('click', function(){
		$('#change-review-level-container').fadeIn();
		$('#btn-profile').removeClass('btn-primary	').addClass('btn-light')
		$(this).removeClass('btn-light').addClass('btn-primary');
	});

	// $('#record_status').change(function() {
  //   $('#review-level')[0].innerHTML = this.value;
	// })

	$('#btn-profile').on('click', function(){
		$('#change-review-level-container').fadeOut();
		$('#btn-change-review-level').removeClass('btn-primary').addClass('btn-light');
		$(this).removeClass('btn-light	').addClass('btn-primary')
	});
	$(document).ready(function () {
	  const $recordStatus = $('#record_status');
	  const $descriptionTextarea = $('#description');
	  const $otherCheckbox = $('#other-checkbox input');

	  // Handle the change event on the select dropdown
	  $recordStatus.on('change', function () {
	    const selectedStatus = $(this).val();

	    if (selectedStatus === 'Non-Expedited') {
	      $descriptionTextarea[0].setAttribute('disabled', 'true');

	      // Show the disabled checkbox and label
	      $('#other-checkbox').show();

	    } else {
	      $descriptionTextarea[0].removeAttribute('disabled');

	      // Hide the checkbox
	      $('#other-checkbox').hide();
	    }
	  });

	  $recordStatus.trigger('change');
	});

</script>
<% end %>