<div class="content container-fluid" >
	<div class="row">
		<div class="col-lg-9">
			<div class="row">
				<div class="col-lg-8">
			    	<%= render "client_portal_components/header_searchbar"%>
				</div>
		         <div class="col-lg-4">
		         	<%= render "client_portal_components/document_list_buttons"%>
		         </div>
			</div>
			<div class="row">
				<div class="col-lg-8">
					<div class="row">
						<div class="col-lg-12">
				             <% if params[:reports].present? %>
				             	<%= render "client_portal_components/report_searchbox"%>
				             	<%= render "client_portal_components/report_table_info"%>
				             <% else %>
				               <%= render (params[:simple_search].present? ? "client_portal_components/simple_searchbox" : "client_portal_components/advanced_searchbox") %>
				            <% end %>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<%= render "client_portal_components/document_list"%>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12 px-0">
				   <%= render (params[:grid].present?  ? "client_portal_components/status_bar_with_count" : "client_portal_components/status_bar" )%>
				   <%= render (params[:grid].present? ? "client_portal_components/grid_table" : "client_portal_components/custom_table")%>
				</div>
			</div>
		</div>
		<div class="col-lg-3">
			<%= render "client_portal_components/modified_profile_sidebar"%>
		</div>
	</div>
</div>
<% content_for :js do %>
<script>
	if($('body.navbar-vertical-aside-mini-mode').length == 0){
		setTimeout(function () {$('#navbar-aside-toggler').click();}, 1000);
	}
</script>
<% end %>

<style>
	div.bg-medium-grey > nav ul.pagination {
		margin: 0 1rem !important;
	}
</style>