<div class="content container-fluid">
   <%= render "vrc_components/vrc_nav"%>
   <div class="d-flex flex-row">
      <div class="col-lg-8">
         <%= render "vrc_components/search_form_one"%>
      </div>
      <div class="col-lg-8 ms-3">
         <div class="">
            <div class="col-lg-4">
               <div class="card" style="border-radius: 5px; background-color: #00c9a7;">
                  <div class="card-header" style=" padding: 5px; border: none;">
                     <%= link_to 'javascript:void(0);', class: 'text-white' do %>
                     <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" style="width: 18px;">
                        <path fill-rule="evenodd" d="M9 1.5H5.625c-1.036 0-1.875.84-1.875 1.875v17.25c0 1.035.84 1.875 1.875 1.875h12.75c1.035 0 1.875-.84 1.875-1.875V12.75A3.75 3.75 0 0016.5 9h-1.875a1.875 1.875 0 01-1.875-1.875V5.25A3.75 3.75 0 009 1.5zm6.61 10.936a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 14.47a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
                        <path d="M12.971 1.816A5.23 5.23 0 0114.25 5.25v1.875c0 .207.168.375.375.375H16.5a5.23 5.23 0 013.434 1.279 9.768 9.768 0 00-6.963-6.963z" />
                     </svg>
                     Completed
                     <% end %>
                  </div>
                  <div class="card-body" style="padding: 0px;">
                     <div class="text-center">
                        <h1 class="text-white"><%= VirtualReviewCommittee.completed.count %></h1>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="mt-3">
            <div class="col-lg-4">
               <div class="card" style="border-radius: 5px; background-color: #377dff;">
                  <div class="card-header" style=" padding: 5px; border: none;">
                     <%= link_to 'javascript:void(0);', class: 'text-white' do %>
                     <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" style="width: 18px;">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
                     </svg>
                     Assigned
                     <% end %>
                  </div>
                  <div class="card-body" style="padding: 0px;">
                     <div class="text-center">
                        <h1 class="text-white"><%= VirtualReviewCommittee.assigned.count %></h1>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="mt-3">
            <div class="col-lg-4">
               <div class="card" style="border-radius: 5px; background-color: red;">
                  <div class="card-header" style=" padding: 5px; border: none;">
                     <%= link_to 'javascript:void(0);', class: 'text-white' do %>
                     <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" style="width: 18px;">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z" />
                     </svg>
                     To Be Assigned
                     <% end %>
                  </div>
                  <div class="card-body" style="padding: 0px;">
                     <div class="text-center">
                        <h1 class="text-white"><%= VirtualReviewCommittee.to_be_assigned.count %></h1>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="row mt-3">
      <%= render 'vrc_list' %>
   </div>
</div>
<% content_for :js do %>
  <script>
     $('#btn-reset').on('click', function(){
      $('#vrc-search-form')[0].reset();
     });
  </script>
<% end %>
<!-- had to place this outside content_for :js for some reason it doesn't work on there -->
<script>
   $('.form-select border-dark').select2();
</script>
