<div class="contact_list_container row my-2 py-2 border-dash" data-id=0>
		<%# <div class="col text-end"> %>
			<%# if f.object.id %>
				<%# <button type="button" class="btn btn-xs btn-danger remove-dynamic-fields" data-model="qualifacts_contacts" data-id=<%= f.object.id> <i class="bi bi-trash-fill"></i></button> %>
			<%# else %>
				<%# <button type="button" class="btn btn-xs btn-danger remove-dynamic-fields" data-id=0> <i class="bi bi-trash-fill"></i></button> %>
			<%# end %>
		<%# </div> %>
		<div class="row mb-2">
			<div class="col-lg-6">
				<label class="text-dark-grey">Office/Department</label>
				<%= f.text_field :department, class: 'form-control', placeholder: 'Type here...' %>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6">
				<label class="text-dark-grey">Name</label>
				<%= f.text_field :name, class: 'form-control', placeholder: 'Type here...' %>
			</div>
			<div class="col-lg-6">
				<label class="text-dark-grey">Role</label>
				<%= f.text_field :role, class: 'form-control', placeholder: 'Type here...' %>
			</div>
		</div>
    <div class="row">
			<div class="col-lg-6">
				<label class="text-dark-grey">Phone Number</label>
				<%= f.text_field :phone, class: 'form-control', placeholder: 'Type here...' %>
			</div>
			<div class="col-lg-6">
				<label class="text-dark-grey">Email Address</label>
				<%= f.text_field :email, class: 'form-control', placeholder: 'Type here...' %>
			</div>
		</div>
</div>