<% index_of_object = f.object.enrollment_group.details_ids.index(f.object.id) rescue 0 %>
<div class="field mb-3 p-3 py-3 border-dash border-1">
	<div class="row mb-3">
		<div class="col-lg-3">
			<label class="text-dark-grey">Title</label>
			<%#= f.text_field :individual_ownership_title, class: 'form-control border border-dark', placeholder: 'Type here... ' %>
			<%= f.select :individual_ownership_title, options_for_select(titles, f.object.individual_ownership_title), { prompt: 'Select option' }, { class: 'form-select border-dark' } %>
			<!-- titles -->
		</div>
		<div class="col-lg-3">
			<label class="text-dark-grey">First Name</label>
			<%= f.text_field :individual_ownership_first_name, class: 'form-control border border-dark', placeholder: 'Type here... ' %>
		</div>
		<div class="col-lg-3">
			<label class="text-dark-grey">Middle Name</label>
			<%= f.text_field :individual_ownership_middle_name, class: 'form-control border border-dark', placeholder: 'Type here... ' %>
		</div>
		<div class="col-lg-3">
			<label class="text-dark-grey">Last Name</label>
			<%= f.text_field :individual_ownership_last_name, class: 'form-control border border-dark', placeholder: 'Type here... ' %>
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-lg-3">
			<label class="text-dark-grey">SSN</label>
			<%= f.text_field :individual_ownership_ssn, class: 'form-control border border-dark', placeholder: 'Type here...' %>
		</div>
		<div class="col-lg-3">
			<label class="text-dark-grey">DOB</label>
			<%= f.text_field :individual_ownership_dob, class: 'form-control border border-dark', placeholder: 'MM/DD/YYYY', onfocus: "(this.type = 'date')" %>
		</div>
		<div class="col-lg-3">
			<label class="text-dark-grey">% of Ownership</label>
			<%= f.number_field :individual_ownership_percent_of_ownership, class: 'form-control border border-dark', placeholder: 'Type here...' %>
		</div>
		<div class="col-lg-3">
			<label class="text-dark-grey">Email</label>
			<%= f.email_field :email_address, class: 'form-control border border-dark', placeholder: 'Type here...' %>
		</div>
	</div>
	<div class="row mb-3 mt-3">
			  <div class="col-lg-6">
				  <h5 class="fst-italic">Note: Add both dates if applicable.</h5>
				</div>
				<div class="col-lg-6">
				  <h5 class="fst-italic">Roles:</h5>
				</div>

				<div class="col-lg-3">
					<label class="text-dark-grey">Effective Date of Ownership:</label>
					<%= f.text_field :individual_ownership_effective_date, placeholder: 'MM/DD/YYYY', class: 'form-control border border-dark', value:display_mdy(f.object.individual_ownership_effective_date), onfocus: "(this.type = 'date')" %>
				</div>
				<div class="col-lg-3">
					<label class="text-dark-grey">Acquired Managing Control Date:</label>
					<%= f.text_field :individual_ownership_control_date, placeholder: 'MM/DD/YYYY', class: 'form-control border border-dark', value: display_mdy(f.object.individual_ownership_control_date),  onfocus: "(this.type = 'date')" %>
				</div>
				 <div class="col-lg-6">
						<label class="text-dark-grey">Select all that apply: </label>
         		<%= HtmlUtils.multi_select_dropdown name: "enrollment_group[details_attributes][#{index_of_object}][group_role]]", id: "group_role_#{index_of_object}_group_role", classes: "#{f.object.id ? ('edit-role-dropdown-'+index_of_object.to_s) : 'ownership-role-dropdown'}"%>
				</div>
	 </div>
	<div class="row">
		<div class="col-lg-12 d-flex justify-content-end">
			<%= f.check_box :_destroy %>
			<%= f.label :_destroy, "Remove", class: 'mx-2 text-dark-grey' %>
		</div>
	</div>
</div>

<% chosen_group_roles = f.object.selected_group_roles %>

<script>
  $(document).ready(function() {
   var group_roles = '<%= chosen_group_roles %>';
   var selected_group_roles  = stringArrayModifier(group_roles);
   var group_roles_dropdown = '.edit-role-dropdown-'+'<%= index_of_object.to_s %>';

  function getDetailsGroupRoles() {
          $.ajax({
            url: '<%= get_group_roles_path %>',
            method: 'GET',
            data: { authenticity_token: csrfToken },
            success: function(data) {
              VirtualSelect.init({
                  options: data['group_roles'],
                  ele: group_roles_dropdown,
                  multiple: true,
                  showSelectedOptionsFirst: true,
                  selectedValue: selected_group_roles
              });
			 document.querySelector(group_roles_dropdown).setOptions(data['group_roles'])
         	 document.querySelector(group_roles_dropdown).setValue(selected_group_roles);
            }
          })
      }

    setTimeout(getDetailsGroupRoles(),3000);

  })

</script>