<% roles = f.object&.roles&.split(",") %>
<div class="field mb-3 p-3 py-3 border-dash border-1">
	<div class="row mb-3">
		<div class="col-lg-3">
			<label class="text-dark-grey">Title</label>
			<%#= f.text_field :individual_ownership_title, class: 'form-control border border-dark', placeholder: 'Type here... ' %>
			<%= f.select :individual_ownership_title, options_for_select(titles, f.object.individual_ownership_title), { prompt: 'Select option' }, { class: 'form-select border-dark' } %>
			<!-- titles -->
		</div>
		<div class="col-lg-3">
			<label class="text-dark-grey">First Name</label>
			<%= f.text_field :individual_ownership_first_name, class: 'form-control border border-dark', placeholder: 'Type here... ' %>
		</div>
		<div class="col-lg-3">
			<label class="text-dark-grey">Middle Name</label>
			<%= f.text_field :individual_ownership_middle_name, class: 'form-control border border-dark', placeholder: 'Type here... ' %>
		</div>
		<div class="col-lg-3">
			<label class="text-dark-grey">Last Name</label>
			<%= f.text_field :individual_ownership_last_name, class: 'form-control border border-dark', placeholder: 'Type here... ' %>
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-lg-3">
			<label class="text-dark-grey">SSN</label>
			<%= f.text_field :individual_ownership_ssn, class: 'form-control border border-dark', placeholder: 'Type here...' %>
		</div>
		<div class="col-lg-3">
			<label class="text-dark-grey">DOB</label>
			<%= f.text_field :individual_ownership_dob, class: 'form-control border border-dark', placeholder: 'MM-DD-YYYY', onfocus: "(this.type = 'date')" %>
		</div>
		<div class="col-lg-3">
			<label class="text-dark-grey">% of Ownership</label>
			<%= f.number_field :individual_ownership_percent_of_ownership, class: 'form-control border border-dark', placeholder: 'Type here...' %>
		</div>
		<div class="col-lg-3">
			<label class="text-dark-grey">Email</label>
			<%= f.email_field :email_address, class: 'form-control border border-dark', placeholder: 'Type here...' %>
		</div>
	</div>
	<div class="row mb-1 mt-3">
		<div class="col-lg-5 text-start row">
			<div class="col-lg-12">
				<h5 class="fst-italic">Note: Add both dates if applicable.</h5>
			</div>
			<div class="col-lg-12 row">
				<div class="col-lg-6">
					<label class="text-dark-grey">Effective Date of Ownership:</label>
					<%= f.text_field :individual_ownership_effective_date, placeholder: 'MM-DD-YYYY', class: 'form-control border border-dark', onfocus: "(this.type = 'date')" %>
				</div>
				<div class="col-lg-6">
					<label class="text-dark-grey">Acquired Managing Control Date:</label>
					<%= f.text_field :individual_ownership_control_date, placeholder: 'MM-DD-YYYY', class: 'form-control border border-dark', onfocus: "(this.type = 'date')" %>
				</div>
			</div>
		</div>
		<div class="col-lg-7">
			<h5 class="fst-italic">Select all that apply</h5>
			<div class="">
				<%= f.hidden_field :roles, class: 'hid-roles' %>
				<!-- <input type="hidden" class="hid-roles" name=""> -->
				<span class="mx-3">
					<input type="checkbox" class="role-cb" name="" value="Director or Officer" <%= roles&.include?("Director or Officer") ? "checked" : ""%>>
					Director or Officer
				</span>
				<span class="mx-3">
					<input type="checkbox" class="role-cb" name="" value="DO Delegated Official" <%= roles&.include?("Director or Officer") ? "checked" : ""%>>
					DO Delegated Official
				</span>
				<span class="mx-3">
					<input type="checkbox" class="role-cb" name="" value="Managing Employee" <%= roles&.include?("Managing Employee") ? "checked" : ""%>>
					Managing Employee
				</span>
				<span class="mx-3">
					<input type="checkbox" class="role-cb" name="" value="AO Authorized Official" <%= roles&.include?("AO Authorized Official") ? "checked" : ""%>>
					AO Authorized Official
				</span>
				<span class="mx-3">
					<input type="checkbox" class="role-cb" name="" value="Partner" <%= roles&.include?("Partner") ? "checked" : ""%>>
					Partner
				</span>
				<span class="mx-3">
					<input type="checkbox" class="role-cb" name="" value="W2 Employee" <%= roles&.include?("W2 Employee") ? "checked" : ""%>>
					W2 Employee
				</span>
				<span class="mx-3">
					<input type="checkbox" class="role-cb" name="" value="PECOS AO Authorized Official" <%= roles&.include?("PECOS AO Authorized Official") ? "checked" : ""%>>
					PECOS AO Authorized Official
				</span>
				<span class="mx-3">
					<input type="checkbox" class="role-cb" name="" value="PECOS AM Access Manager" <%= roles&.include?("PECOS AM Access Manager") ? "checked" : ""%>>
					PECOS AM Access Manager
				</span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12 d-flex justify-content-end">
			<%= f.check_box :_destroy %>
			<%= f.label :_destroy, "Remove", class: 'mx-2 text-dark-grey' %>
		</div>
	</div>
				<%
=begin%>
 <hr class="divider" style="border: none; height: 0.5px; background-color: #808080; width: 95%; margin: 20px auto;">
<%
=end%>
</div>