<% content_for :js do %>
  <%= render "enrollments/js_components/string_array_modifier"%>
<% end %>

<%= form_for @enrollment_group, :url => {action: action_name} , html: { multipart: true } do |f| %>
   <% if @enrollment_group.errors.any? %>
      <div id="error_explanation" class="row mb-3">
         <div class="col-lg-12">
            <h2><%= pluralize(@enrollment_group.errors.count, "error") %> prohibited this enrollment user from being saved:</h2>
            <ul>
               <% @enrollment_group.errors.full_messages.each do |message| %>
               <li><%= message %></li>
               <% end %>
            </ul>
         </div>
      </div>
   <% end %>


  <div class="row mb-3">
      <div class="col-lg-12">
        <label class="text-dark-grey">Notes</label>
        <%= f.text_area :group_note, placeholder: 'Type here...', class: 'form-control border border-dark' %>
      </div>
  </div>

   <div class="row-mb-5">
   <div class="row mb-3">
     <div class="col-lg-6">
       <label class="text-dark-grey">Notification of New Group</span></label>
        <%= f.text_field :new_group_notification, placeholder: 'MM/DD/YYYY',class: 'form-control border border-dark', value: display_mdy(f.object.new_group_notification), onfocus: "(this.type = 'date')" %>
     </div>
     <div class="col-lg-6">
       <label class="text-dark-grey">Start Date</span></label>
       <%= f.text_field :noti_group_start_date, placeholder: 'MM/DD/YYYY',class: 'form-control border border-dark', value: display_mdy(f.object.noti_group_start_date), onfocus: "(this.type = 'date')" %>
     </div>
   </div>
   <div class="row mb-3 mt-2">
     <div class="col-lg-6">
       <label class="text-dark-grey">Welcome Letter Sent </span></label>
       <%= f.text_field :noti_welcome_letter_sent, placeholder: 'MM/DD/YYYY', class: 'form-control border border-dark', value: display_mdy(f.object.noti_welcome_letter_sent), onfocus: "(this.type = 'date')" %>
     </div>
     <div class="col-lg-6">
       <label class="text-dark-grey">Notification to begin submitting Enrollment</label>
       <%= f.text_field :notification_enrollment_submit_group, placeholder: 'MM/DD/YYYY', class: 'form-control border border-dark', value: display_mdy(f.object.notification_enrollment_submit_group), onfocus: "(this.type = 'date')" %>
     </div>
   </div>
   <div class="row mb-3 mt-2">
     <div class="col-lg-6">
      <label class="text-dark-grey">Services</label>
      <%= HtmlUtils.multi_select_dropdown name: 'enrollment_group[noti_group_services]', id: 'noti_group_services'%>
     </div>
   </div>
    <div class="row mb-3">
   <div class="col-lg-6">
       <label class="text-dark-grey">Status</label>
       <%= f.select :noti_status, options_for_select(group_statuses, @enrollment_group.noti_status), {prompt: 'Select Option'}, {class: 'form-select group-status border border-dark'}  %>
   </div>
   <div class="col-lg-6">
   <div class="row mb-3 my-1 status-inactive-field <%= f.object.noti_status == 'inactive-termed' ? '' : 'd-none'%>">
           <label class="text-dark-grey">Work End Date</label>
           <%= f.text_field :noti_work_end_date, placeholder: 'MM/DD/YYYY', value: display_mdy(f.object.noti_work_end_date), onfocus: "(this.type = 'date')", class: 'form-control border border-dark' %>
   </div>
   </div>
 </div>
<%# <div class="row mb-3"> %>
   <%# <div class="col-lg-12"> %>
      <%# <% if !f.object.sent_welcome_letter? %> 
         <%# <div class="field dea-licenses-field mb-2 border-dash border-1 p-2"> %>
            <%# <div class="col-lg-12 mb-2"> %>
               <%# <%= f.check_box :welcome_letter_status %> 
               <%# <%= f.label :welcome_letter_status, "Send Welcome Letter to Group Personnels", class: 'mx-2 text-dark-grey' %> 
            <%# </div> %>
            <%# <div class="col-lg-12 mb-2"> %>
               <%# <label class="text-dark-grey">Subject</label> %>
               <%# <%= f.text_field :welcome_letter_subject,  placeholder: 'Type here...', class: 'form-control border border-dark', value: 'Request for Credentialing Documentation' %> 
            <%# </div> %>
            <%# <div class="col-lg-12 mb-2"> %>
               <%# <label class="text-dark-grey">Message</label> %>
               <%# <textarea name="enrollment_group[welcome_letter_message]" id="enrollment_group_welcome_letter_message" cols="20" rows="12" class="form-control border border-dark"><%= Setting.take.t('enrollment_dashboard.groups.add_new_group.welcome_letter.welcome_message_default').html_safe</textarea>  %>
            <%# </div> %>
            <%# <h6>Choose files to send or upload from computer</h6> %>
            <%# <div class="col-lg-12 mb-2"> %>

               <%# <%= f.check_box :check_welcome_letter %> 
               <%# <%= f.label :check_welcome_letter, "Provider Welcome Letter", class: 'mx-2 text-dark-grey' %> 

               <%# <%= f.check_box :check_co_caqh %>
               <%# <%= f.label :check_co_caqh, "CO CAQH Authorization-Attestation and Release Form", class: 'mx-2 text-dark-grey' %>

               <%# <%= f.check_box :check_mn_caqh_state_release_form %> 
               <%# <%= f.label :check_mn_caqh_state_release_form, "MN CAQH State Release Form", class: 'mx-2 text-dark-grey' %> 

               <%# <%= f.check_box :check_mn_caqh_authorization_form %> 
               <%# <%= f.label :check_mn_caqh_authorization_form, "MN CAQH Authorization Form", class: 'mx-2 text-dark-grey' %>

               <%# <%= f.check_box :check_caqh_standard_authorization %> 
               <%# <%= f.label :check_caqh_standard_authorization, "CAQH Standard Authorization", class: 'mx-2 text-dark-grey' %> 

            <%# </div> %>
            <%# <div class="col-lg-12 mb-2"> %>
               <%# <label >Upload files from computer</label> %>
               <%# <%= f.file_field :welcome_letter_attachments, class: 'form-control border border-dark', multiple: true %> 
            <%# </div> %>
         <%# </div> %>
      <%# <% else %> 
         <%# <div class="border-dash border-1 p-2"> %>
            <%# <h5 class="m-auto">Welcome letter has already been sent to the Group Personnels</h5> %>
         <%# </div> %>
      <%# <% end %> 
   <%# </div> %>
<%# </div> %>

   <div class="row mb-3">
      <div class="col-lg-12">
         <h5 class="mb-0">Group Information</h5>
         <small class="text-black">Please fill out all required fields. Required fields are marked with <span class="text-red">*</span>.</small>
      </div>
   </div>
   <div class="row mb-5">
      <div class="col-lg-6 mb-3">
         <label class="text-dark-grey">Group Name as reported to the IRS <span class="text-danger">*</span></label>
         <%= f.text_field :group_name, class: form_control_classes(danger: @enrollment_group.group_name.blank? && @enrollment_group.persisted?), required: true, placeholder: 'Type here...' %>
      </div>
      <div class="col-lg-6 mb-3">
         <label class="text-dark-grey">Taxonomy Code (can be multiple) <span class="text-danger">*</span></label>
         <%= f.text_field :group_code, class: form_control_classes(danger: @enrollment_group.group_code.blank? && @enrollment_group.persisted?), required: true, placeholder: 'Type here...' %>
      </div>
						<!-- update this if required specs are don't show on multiple clients | hide for now on dcs -->
						<% if !current_setting.dcs? %>
							<div class="col-lg-6 mb-3">
										<label class="text-dark-grey">Platform</label>
									<%= f.select :flatform, options_for_select(flatforms, f.object.flatform), { prompt: 'Select option' }, {:class => 'form-select border-dark'}  %>
							</div>
						<% end %>
      <div class="col-lg-6 mb-3">
         <label class="text-dark-grey"><%= Setting.take.t('enrollment_dashboard.groups.add_new_group.group_information.contract_effective_date')%></label>
         <%= f.text_field :qualifacts_contract_effective_date, class: 'form-control border border-dark', placeholder: 'MM/DD/YYYY', value: display_mdy(f.object.qualifacts_contract_effective_date), onfocus: "(this.type = 'date')" %>
      </div>
   </div>
   <div class="row mb-3">
      <div class="col-lg-12">
         <%= HtmlUtils.radio_toggle name: 'enrollment_group[another_business_name]',
            label: 'Do you have another business name?',
            toshow: 'other_name'
            %>
         <%= f.hidden_field :another_business_name %>
      </div>
   </div>
   <div class="<%= @enrollment_group.another_business_name == 'yes' ? '' : 'd-none'%>" id="other_name">
      <div class="row mb-3">
         <div class="col-lg-6">
            <label class="text-dark-grey">Other Business Name</label>
            <%= f.text_field :other_business_name, class: 'form-control border border-dark', placeholder: 'Type here...' %>
         </div>
         <div class="col-lg-6">
            <label class="text-dark-grey">Business Type</label>
            <%= f.select :other_business_type, options_for_select(['Former Business Name', 'DBA', 'Other'], f.object.other_business_type), { prompt: 'Select option' }, { class: 'form-select border border-dark' } %>
         </div>
      </div>
   </div>
   <div class="row mb-3">
      <div class="row mb-3">
         <div class="col-lg-6">
            <label class="text-dark-grey">Group NPI (if different from main Type NPI)<span class="text-danger">*</span></label>
            <%= f.text_field :npi_digit_type, class: form_control_classes(danger: @enrollment_group.npi_digit_type.blank? && @enrollment_group.persisted?), required: true, placeholder: 'Type here...' %>
         </div>
         <div class="col-lg-6">
            <label class="text-dark-grey">Group TIN (If different from main TIN)<span class="text-danger">*</span></label>
            <%= f.text_field :tin_digit, class: form_control_classes(danger: @enrollment_group.tin_digit.blank? && @enrollment_group.persisted?), required: true, placeholder: 'Type here...' %>
         </div>
      </div>
      <div class="row mb-3">
         <div class="col-lg-6">
            <label class="text-dark-grey">Group Type (Tax Classification) <span class="text-danger">*</span></label>
            <%= f.select :specify_type_of_group, options_for_select([
               'LLC', 'Partnership', 'Incorporated', 'Other(Specify)'
               ], f.object.specify_type_of_group), { prompt: 'Select option' }, { class: form_select_classes(danger: @enrollment_group.specify_type_of_group.blank? && @enrollment_group.persisted?), id: 'group_type_select', required: true } %>
         </div>
      </div>
      <div class="row mb-3">
         <div class="col-lg-6">
            <label class="text-dark-grey">Group Specialty (Is the group Single or Multi Specialty, choose one) <span class="text-danger">*</span></label>
            <%= f.select :npi_digit_type_group, options_for_select([
         'Multi-Specialty Group- 193200000X', 'Single Specialty Group-193400000X'
         ], f.object.npi_digit_type_group), { prompt: 'Select option' }, { class: form_select_classes(danger: @enrollment_group.npi_digit_type_group.blank? && @enrollment_group.persisted?), id: 'group_type_select', required: true } %>
         </div>
         <div class="col-lg-6">
            <label class="text-dark-grey">Which of the following provider types do you employ?</label>
            <div class="multi-select provider-type form-control border border-dark" name="enrollment_group[provider_type]" id="provider_practitioner_type"></div>
         </div>
      </div>
   </div>
   <div class="row mb-3">
      <div class="col-lg-12">
         <h5 class="mb-0">Administration Office Address</h5>
      </div>
   </div>
   <div class="row mb-3">
      <div class="col-lg-6">
         <label class="text-dark-grey">Address <span class="text-danger">*</span></label>
         <%= f.text_field :office_address, class: form_control_classes(danger: @enrollment_group.office_address.blank? && @enrollment_group.persisted?), required: true, placeholder: 'Type here...', id: 'office_address' %>
      </div>
      <div class="col-lg-6">
         <label class="text-dark-grey">City <span class="text-danger">*</span></label>
         <%= f.text_field :city, class: form_control_classes(danger: @enrollment_group.city.blank? && @enrollment_group.persisted?), required: true, placeholder: 'Type here...', id: 'city' %>
      </div>
   </div>
   <div class="row mb-5">
      <div class="col-lg-6">
         <label class="text-dark-grey">State <span class="text-danger">*</span></label>
         <%= f.collection_select :state, @states, :name, :name, { prompt: 'Select option' }, { class: form_select_classes(danger: @enrollment_group.state.blank? && @enrollment_group.persisted?), required: true, id: 'state' } %>
      </div>
      <div class="col-lg-6">
         <label class="text-dark-grey">Zip Code (+4 Zip Code) <span class="text-danger">*</span></label>
         <%= f.text_field :zip_code, class: form_control_classes(danger: @enrollment_group.zip_code.blank? && @enrollment_group.persisted?), required: true, placeholder: 'Type here...', id: 'zip_code' %>
      </div>
   </div>

   <div class="row mb-3">
      <div class="col-lg-12">
         <h5 class="mb-0">Pay To/Billing Address (where checks are mailed)</h5>
      </div>
   </div>
   <div class="row mb-3">
      <div class="col-lg-6">
         <label class="text-dark-grey">Address or P.O. Box</label>
         <%= f.text_field :po_box, class: 'form-control border border-dark', placeholder: 'Type here...', id: 'po_box' %>
      </div>
      <div class="col-lg-6">
         <label class="text-dark-grey">City</label>
         <%= f.text_field :po_box_city, class: 'form-control border border-dark', placeholder: 'Type here...', id: 'po_box_city' %>
      </div>
   </div>
   <div class="row mb-5">
      <div class="col-lg-6">
         <label class="text-dark-grey">State</label>
         <%= f.collection_select :po_box_state, @states, :name, :name, { prompt: 'Select option' }, { class: 'form-select border border-dark', id: 'po_box_state' } %>
      </div>
      <div class="col-lg-6">
         <label class="text-dark-grey">Zip Code (+4 Zip Code)</label>
         <%= f.text_field :po_box_zip_code, class: 'form-control border border-dark', placeholder: 'Type here...', id: 'po_box_zip_code' %>
      </div>
   </div>
   <div class="row mb-5">
      <div class="col-lg-6">
         <label class="text-dark-grey">Contact Personnel Name</label>
         <%= f.text_field :billing_contact_name, class: 'form-control border border-dark', placeholder: 'Type here...' %>
      </div>
      <div class="col-lg-6">
         <label class="text-dark-grey">Contact Personnel Phone Number</label>
         <%= f.text_field :billing_contact_number, class: 'form-control border border-dark', placeholder: 'Type here...' %>
      </div>
   </div>
   <div class="row mb-5">
      <div class="col-lg-6 mb-2">
         <label class="text-dark-grey">Contact Personnel Email Address</label>
         <%= f.email_field :billing_contact_email, class: 'form-control border border-dark', placeholder: 'Type here...' %>
      </div>
     <div class="form-row d-flex align-items-center gap-1">
      <%= f.check_box :billing_address_autofill, id: 'billing-admin-autofill' %>
      <%= f.label :billing_address_autofill, "Same as Administration Office Address", class: 'text-dark-grey' %>
      </div>
   </div>

   <div class="row mb-3">
      <div class="col-lg-12">
         <h5 class="mb-0">Remittance Address (if different from billing address)</h5>
      </div>
   </div>
   <div class="row mb-3">
      <div class="col-lg-6">
         <label class="text-dark-grey">Address or PO Box</label>
         <%= f.text_field :ca_po_box_address, class: 'form-control border border-dark', placeholder: 'Type here...', id: 'remit-po-box' %>
      </div>
      <div class="col-lg-6">
         <label class="text-dark-grey">City</label>
         <%= f.text_field :ca_po_box_city, class: 'form-control border border-dark', placeholder: 'Type here...', id: 'remit-city' %>
      </div>
   </div>
   <div class="row mb-3">
      <div class="col-lg-6">
         <label class="text-dark-grey">State</label>
         <%= f.collection_select :ca_po_box_state, @states, :name, :name, { prompt: 'Select option' }, { class: 'form-select border border-dark', id: 'remit-state'  } %>
      </div>
      <div class="col-lg-6">
         <label class="text-dark-grey">Zip Code (+4 Zip Code)</label>
         <%= f.text_field :ca_po_box_zip_code, class: 'form-control border border-dark', placeholder: 'Type here...', id: 'remit-zipcode'  %>
      </div>
   </div>
   <div class="row mb-5">
      <div class="col-lg-6">
         <label class="text-dark-grey">Contact Personnel Name</label>
         <%= f.text_field :remmitance_contact_name, class: 'form-control border border-dark', placeholder: 'Type here...' %>
      </div>
      <div class="col-lg-6 mb-2">
         <label class="text-dark-grey">Contact Personnel Phone Number</label>
         <%= f.text_field :remmitance_contact_number, class: 'form-control border border-dark', placeholder: 'Type here...' %>
      </div>
       <div class="form-row  d-flex align-items-center gap-1">
            <%= f.check_box :remittance_address_autofill, id: 'remittance-admin-autofill' %>
            <%= f.label :remittance_address_autofill, "Same as Administration Office Address", class: 'text-dark-grey' %>
      </div>
   </div>
   <div class="row mb-5">
      <div class="col-lg-6">
         <label class="text-dark-grey">Contact Personnel Email Address</label>
         <%= f.email_field :remmitance_contact_email, class: 'form-control border border-dark', placeholder: 'Type here...' %>
      </div>
   </div>
   <div class="row field mb-3 p-2 border border-2">
		<%= render partial: "global_components/collapsible_sidebar_header", locals: { title: 'Group Contact Personnel', collapse_name: 'contact_personnel_list', text_position: 'text-start'}%>
		<div class="collapsible" style="<%= current_user&.is_card_open?('contact_personnel_list') ? '' : 'display: none;' %>">
			<div id="contacts-info">
					<div class="fields field mb-3">
						<%= f.fields_for :contact_personnels do |contact_personnels| %>
							<%= render 'enrollments/contact_personnel_fields', f: contact_personnels %>
						<% end %>
					</div>
					<div class="links mt-2 text-center">
						<button type="button" class="add_association btn btn-xs btn-primary m-auto">Add New Contact</button>
					</div>
			</div>
		</div>
	</div>
   <div class="row mb-3">
      <div class="col-lg-12">
         <h5 class="mb-0">Multiple Ownership</h5>
      </div>
   </div>
   <div class="row mb-5">
      <div class="col-lg-12 mb-1">
         <label class="text-dark-grey">Upload a list for each Individual with ownership interest and or managing control in the group to include the following information, <a href="javascript:void(0)">download template here</a>:</label>
      </div>
      <div class="col-lg-6">
         <%= f.file_field :ownership_file, class: 'form-control border border-dark' %>
         <%= HtmlUtils.generate_view_link file_url: @enrollment_group.ownership_file.url %>
      </div>
   </div>
   <div class="row field mb-3 p-2 border border-2">
		<%= render partial: "global_components/collapsible_sidebar_header", locals: { title: 'Individual Ownership', collapse_name: 'details_list', text_position: 'text-start'}%>
		<div class="collapsible" style="<%= current_user&.is_card_open?('details_list') ? '' : 'display: none;' %>">
			<div id="details-info">
					<div class="fields field mb-3">
						<%= f.fields_for :details do |details| %>
							<%= render 'enrollments/details_fields', f: details %>
						<% end %>
					</div>
					<div class="links mt-2 text-center">
						<button type="button" class="add_association btn btn-xs btn-primary m-auto">Add New</button>
					</div>
			</div>
		</div>
	</div>
   <div class="row field mb-3 p-2 border border-2">
		<%= render partial: "global_components/collapsible_sidebar_header", locals: { title: Setting.take.t('enrollment_dashboard.groups.add_new_group.contact_list.title'), collapse_name: 'contacts_list', text_position: 'text-start'}%>
		<div class="collapsible" style="<%= current_user&.is_card_open?('contacts_list') ? '' : 'display: none;' %>">
			<div id="qualifacts-contacts">
				<div class="fields field mb-3">
					<%= f.fields_for :qualifacts_contacts do |qualifacts_contact_fields| %>
						<%= render 'enrollments/contact_list', f: qualifacts_contact_fields %>
					<% end %>
				</div>
				<div class="links mt-2 text-center">
					<button type="button" class="add_association btn btn-xs btn-primary m-auto">Add New</button>
				</div>
			</div>
		</div>
	</div>

   <div class="row mb-2">
      <div class="col-lg-12">
         <h5 class="mb-0">W9 Form</h5>
      </div>
   </div>
   <div class="row mb-3">
      <div class="col-lg-6">
         <label class="text-dark-grey">Last Signed Date <em>(must be current within 6months)</em></label>
         <%= f.text_field :w9_signed_date, class: 'form-control border border-dark', placeholder: 'MM/DD/YYYY', value: display_mdy(f.object.w9_signed_date), onfocus: "(this.type = 'date')" %>
      </div>
      <div class="col-lg-6 mb-3">
         <label class="text-dark-grey">Sign Date Expiration<em>(expiry date is 1 month prior to the actual date)</em></label>
         <%= f.text_field :w9_sign_date_expiration, class: 'form-control border border-dark', placeholder: 'MM/DD/YYYY', value: display_mdy(f.object.w9_sign_date_expiration), onfocus: "(this.type = 'date')" %>
      </div>
   </div>
   <div class="row mb-2">
      <div class="col-lg-12">
         <h5 class="mb-0">Voided Check</h5>
      </div>
   </div>
   <div class="row mb-3">
      <div class="col-lg-6">
         <label class="text-dark-grey">Last Signed Date <em>(must be current within 6months)</em></label>
         <%= f.text_field :void_check_signed_date, class: 'form-control border border-dark', placeholder: 'MM/DD/YYYY', value: display_mdy(f.object.void_check_signed_date), onfocus: "(this.type = 'date')" %>
      </div>
      <div class="col-lg-6 mb-3">
         <label class="text-dark-grey">Sign Date Expiration<em>(expiry date is 1 month prior to the actual date)</em></label>
         <%= f.text_field :void_check_date_expiration, class: 'form-control border border-dark', placeholder: 'MM/DD/YYYY', value: display_mdy(f.object.void_check_date_expiration), onfocus: "(this.type = 'date')" %>
      </div>
   </div>
   <div class="row mb-2">
      <div class="col-lg-12">
         <h5 class="mb-0">Bank Letter</h5>
      </div>
   </div>
   <div class="row mb-3">
      <div class="col-lg-6">
         <label class="text-dark-grey">Last Signed Date <em>(must be current within 6months)</em></label>
        <%= f.text_field :bank_letter_signed_date, class: 'form-control border border-dark', placeholder: 'MM/DD/YYYY', value: display_mdy(f.object.bank_letter_signed_date), onfocus: "(this.type = 'date')" %>
      </div>
      <div class="col-lg-6 mb-3">
         <label class="text-dark-grey">Sign Date Expiration<em>(expiry date is 1 month prior to the actual date)</em></label>
         <%= f.text_field :bank_letter_date_expiration, class: 'form-control border border-dark', placeholder: 'MM/DD/YYYY', value: display_mdy(f.object.bank_letter_date_expiration), onfocus: "(this.type = 'date')" %>
      </div>
   </div>

			<% if !current_setting.dcs? %>
   <div class="row">
          <%# <div class="col-lg-6">
            <!-- new field -->
            <%= HtmlUtils.radio_toggle name: 'enrollment_group[telehealth_providers]',
                    label: 'Are you a Telehealth Provider?',
                    container_class: 'd-flex align-items-center my-3',
                    toshow: 'service_locations_fields'
                  %>
          <%# <%= f.hidden_field :telehealth_providers %>
          <%# </div> %>
          <%# <div class="row mb-1">
            <div id="service_locations">
               <div class="row" id="service_locations_fields">
                  <div class="fields">
                    <%= f.fields_for :service_locations do |service_location_fields| %>
                      <%# <%= render 'service_location_fields', f: service_location_fields %>
                    <%# <% end %>
                  <%# </div>
                </div>
            </div>
          </div>
        </div>  %>
    <div class="row mb-3">
      <div class="col-lg-6">
        <!-- new field -->
        <%= HtmlUtils.radio_toggle name: 'enrollment_group[admitting_privileges]',
                label: 'Admitting Privileges?',
                container_class: 'd-flex align-items-center my-3',
                toshow: 'admitting_privileges_fields'
              %>
      <%= f.hidden_field :admitting_privileges %>
      </div>
      <div class="col-lg-12 mt-1">
        <div class="row d-none" id="admitting_privileges_fields">
          <div class="col-lg-6 mb-3">
            <label class="text-dark-grey">Name of Admitting Physician/Practice/Clinic/Group</label>
            <%= f.text_field :name_admitting_physician, placeholder:'Type here...', class: 'form-control border-dark' %>
          </div>

          <div class="col-lg-6 mb-3">
            <label class="text-dark-grey">Facility Name</label>
            <%= f.text_field :facility_name, placeholder:'Type here...', class: 'form-control border-dark' %>
          </div>

          <div class="col-lg-6 mb-3">
            <label class="text-dark-grey">Facility Location</label>
            <%= f.text_field :facility_location, placeholder:'Type here...', class: 'form-control border-dark' %>
          </div>

          <div class="col-lg-6 mb-3">
            <label class="text-dark-grey">Address Line 1</label>
            <%= f.text_field :admitting_facility_address_line1, placeholder:'Type here...', class: 'form-control border-dark' %>
          </div>

          <div class="col-lg-6 mb-3">
            <label class="text-dark-grey">Address Line 2</label>
            <%= f.text_field :admitting_facility_address_line2, placeholder:'Type here...', class: 'form-control border-dark'%>
          </div>

          <div class="col-lg-6 mb-3">
            <label class="text-dark-grey">City</label>
            <%= f.text_field :admitting_facility_city, placeholder:'Type here...', class: 'form-control border-dark'%>
          </div>

           <div class="col-lg-6 mb-3">
            <label class="text-dark-grey">State</label>
           <%#= f.select :admitting_facility_state, options_for_select(states.pluck(:name, :id), @provider.admitting_facility_state), {prompt: 'Select Option'}, {:class => 'form-select border border-dark'}  %>
            <div class="search-select state-search-select form-control border border-dark" name="enrollment_group[admitting_facility_state]" id="admitting_state">
            </div>
          </div>

          <div class="col-lg-6 mb-3">
            <label class="text-dark-grey">Zip Code (+4 Zip Code)</label>
            <%= f.text_field :admitting_facility_zip_code, placeholder:'Type here...', class: 'form-control border-dark'%>
          </div>

          <div class="col-lg-12 mb-3">
            <label class="text-dark-grey">Please explain your admitting arrangements</label>
            <%= f.text_area :admitting_facility_arrangments, placeholder:'Type here...', class: 'form-control border-dark', rows: '8'%>
          </div>
        </div>
      </div>
    </div>
	<% end %>
   <hr>
   <div class="documents">
      <h3>Documents</h3>
      <%= link_to 'Deleted Logs', 'javascript:void(0);', class: 'btn btn-xs m-auto text-black', style: "background-color: #E9E9E9;font-size: 12px;font-weight: 600;", "data-bs-toggle": 'modal', "data-bs-target": '#deletedLogsModal' %>
      <div class="row my-3">
         <div class="col-lg-6 mb-3">
            <label class="text-dark-grey">W9 Form, <a href="https://www.irs.gov/pub/irs-pdf/fw9.pdf" target="_blank">download template here</a></label>
            <%= f.file_field :w9_file, class: 'form-control border border-dark' %>
            <%= render partial: 'enrollments/document', locals: { key: 'w9_file', slug: 'w9-form' } %>
         </div>

         <div class="col-lg-6 mb-3">
            <label class="text-dark-grey">CP575 or Proof of TIN</label>
            <%= f.file_field :cp575_file, class: 'form-control border border-dark' %>
            <%= render partial: 'enrollments/document', locals: { key: 'cp575_file', slug: 'CP575 or Proof of TIN Document' } %>
         </div>
      </div>
      <div class="row my-3">
         <div class="col-lg-6 mb-3">
            <label class="text-dark-grey"><%= Setting.take.t('enrollment_dashboard.groups.add_new_group.documents.payor_contract') %></label>
            <%= f.file_field :payer_contracts,class: 'form-control border border-dark' %>
            <%= render partial: 'enrollments/document', locals: { key: 'payer_contracts', slug: 'Qualifacts Document' } %>
         </div>
         <div class="col-lg-6 mb-3">
            <label class="text-dark-grey">Other Group Documents</label>
            <%= f.file_field :group_type_documents, class: 'form-control border border-dark' %>
            <%= render partial: 'enrollments/document', locals: { key: 'group_type_documents', slug: 'Other Group Document' } %>
         </div>
      </div>
      <div class="row my-3">
         <div class="col-lg-6 mb-3">
            <label class="text-dark-grey">Liability Insurance</label>
            <%= f.file_field :eft_file, class: 'form-control border border-dark' %>
            <%= render partial: 'enrollments/document', locals: { key: 'eft_file', slug: 'Liability Insurance Document' } %>
         </div>
         <div class="col-lg-6 mb-3">
            <label class="text-dark-grey">Voided Check</label>
            <%= f.file_field :voided_check_file, class: 'form-control border border-dark' %>
            <%= render partial: 'enrollments/document', locals: { key: 'voided_check_file', slug: 'Voided Check Document' } %>
         </div>
      </div>
      <div class="row my-3">
         <div class="col-lg-6 mb-3">
            <label class="text-dark-grey">Articles of Incorporation</label>
            <%= f.file_field :specific_type_file, class: 'form-control border border-dark' %>
            <%= render partial: 'enrollments/document', locals: { key: 'specific_type_file', slug: 'Articles of Incorporation Document' } %>
         </div>
      </div>
   </div>

   <div class="row">
      <div class="col-lg-12 d-flex justify-content-end">
         <% if !@view_only %>
            <button id="btn-group-submit" type="submit" class="btn btn-primary btn-md">
            <%= action_name == 'edit_group' ? 'Update Group' : 'Add Group' %>
            </button>
         <% end %>
      </div>
   </div>
 <% end %>
<div class="modal fade" id="deleteFormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered">
         <div class="modal-content">
            <div class="modal-body">
               <div class="">
                  <div class="modal-title">
                     <h1 class="mb-2">Delete existing <strong id="documentTitle">W9 Form</strong>?</h1>
                  </div>
                  <div class="form-row row">
                     <div class="col-xl-12">
                        <label for="">Note</label>
                        <textarea name="note" id="delete-form-note" cols="30" rows="10" class="form-control"></textarea>
                     </div>
                  </div>
                  <div class="form-row mt-3">
                     <button id="btnDelete" class="btn btn-manage btn-danger" onclick="deleteDocument(this)" data-enrollmentGroupId="" data-documentholder="" remote="true">Yes</button>
                     <button id="btnCancel" class="btn btn-card-remove fw-bold text-black" data-bs-dismiss="modal" onclick="clearNote()">No</button>
                  </div>
               </div>
            </div>
         </div>
   </div>
</div>
<div class="modal fade" id="deletedLogsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
         <div class="modal-body">
            <div class="">
               <div class="modal-title border-1 border-bottom mb-2">
                  <h3>Deleted Logs</h3>
               </div>
               <div class="form-row row">
                  <div id="deleted-logs" class="col-xl-12">
                     <!-- loading -->
                     <div class="d-flex justify-content-center">
                        <div class="spinner-border text-primary" role="status">
                           <span class="visually-hidden">Loading...</span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<%= render "enrollments/js_components/add_remove_association_buttons" %>
 <%= render "enrollments/js_components/ajax_set_dropdown_options" %>


<script>
   var csrfToken = $('meta[name="csrf-token"]').attr('content');

   $('#btn-group-submit').on('click', function(e) {
      $('input[required], select[required], textarea[required]').each(function() {
         $(this).removeAttr('required');
      })
   });


   $("#contacts-info").on("click", ".add_association", function () {
      var detailsFields = $("#contacts-info .field");
      var newEnrollmentdetails = detailsFields.last().clone();
      var newId = new Date().getTime();
      newEnrollmentdetails.html(newEnrollmentdetails.html().replace(/contact_personnels_attributes\]\[\d+\]/g, "contact_personnels_attributes][" + newId + "]"));
      $("#contacts-info .fields").append(newEnrollmentdetails);
    });

    $(document).on('change', '.group-status', function () {
         var status = $(this).val();
         if (status == 'inactive-termed') {
            showHideDetailFields($(this), '.status-inactive-field', 'show')
         } else {
            showHideDetailFields($(this), '.status-inactive-field', 'hide')
         }
      })

      //Autofill Billing Address
      $(document).ready(function () {
    $('#billing-admin-autofill').click(function () {
      if ($(this).is(':checked')) {
        // Copy values from Administration Office Address to Billing Address
        var adminAddress = $('#office_address').val();
        var adminCity = $('#city').val();
        var adminState = $('#state').val();
        var adminZipCode = $('#zip_code').val();

        $('#po_box').val(adminAddress);
        $('#po_box_city').val(adminCity);
        $('#po_box_state').val(adminState);
        $('#po_box_zip_code').val(adminZipCode);
      } else {
        // Clear Billing Address fields if the checkbox is unchecked
        $('#po_box').val('');
        $('#po_box_city').val('');
        $('#po_box_state').val('');
        $('#po_box_zip_code').val('');
      }
    });
  });

   //Autofill Remittance Address
   $(document).ready(function () {
    $('#remittance-admin-autofill').click(function () {
      if ($(this).is(':checked')) {
        var adminAddress = $('#office_address').val();
        var adminCity = $('#city').val();
        var adminState = $('#state').val();
        var adminZipCode = $('#zip_code').val();

        $('#remit-po-box').val(adminAddress);
        $('#remit-city').val(adminCity);
        $('#remit-state').val(adminState);
        $('#remit-zipcode').val(adminZipCode);
      } else {
        $('#remit-po-box').val('');
        $('#remit-city').val('');
        $('#remit-state').val('');
        $('#remit-zipcode').val('');
      }
    });
  });

        function showHideDetailFields(dropDown, divClass, mode) {
          if (mode == 'show')
              dropDown.parent().parent().parent().find(divClass).removeClass('d-none');
          else
              dropDown.parent().parent().parent().find(divClass).addClass('d-none');
        }

  $('#group_type_picker').on('change',function(){
    $(this).val() == 'other' ? changeToInput() : '';
  })

  function changeToInput() {
    $('#group_type_picker').addClass('d-none');
    $('#other_type').removeClass('d-none');
  }
  var provider_types = [];
  var selected_provider_types = [];
   $(document).ready(function() {
      var action_name = "<%= action_name %>";

      var selected_notification_services  = stringArrayModifier('<%= @enrollment_group.noti_group_services&.split(",") %>');

      $.ajax({
         url: '<%= get_group_notification_services_path %>',
         type: 'get',
         data: { authenticity_token: csrfToken },
         success: function(data) {
         VirtualSelect.init({
            ele: '#noti_group_services',
            multiple: true,
            showSelectedOptionsFirst: true
         });
         document.querySelector('#noti_group_services').setOptions(data['notification_services'])
         document.querySelector('#noti_group_services').setValue(selected_notification_services);
         }
      })

      if(action_name == 'edit_group'){
        var group_id = '<%= @enrollment_group.id %>';
        getSelectedProviderTypes(group_id);
      }
      getProviderTypes();

      // qualifacts-contacts
      $("#qualifacts-contacts").on("click", ".add_association", function() {
         var qualifactsContactsFields = $("#qualifacts-contacts .field .contact_list_container");
         var qualifactsContact = qualifactsContactsFields.last().clone();
         var newId = new Date().getTime();
         qualifactsContact.html(qualifactsContact.html().replace(/qualifacts_contacts_attributes\]\[\d+\]/g, "qualifacts_contacts_attributes][" + newId + "]"));
         $("#qualifacts-contacts .fields").append(qualifactsContact);

         $(qualifactsContact).find("input").each(function() {
            $(this).val("")
         });

         qualifactsContact.find('.remove-dynamic-fields').attr('data-id', newId);
         qualifactsContact.attr('data-id', newId);
         $("#qualifacts-contacts .fields").append(qualifactsContact);
      });
      $("#qualifacts-contacts").on("click", ".remove-dynamic-fields", function() {
         var field = document.getElementsByClassName("contact_list_container");
         qualifactsContactsField = $(this).attr("data-id");
         var qualifactsContactsFields = $('.contact_list_container[data-id='+qualifactsContactsField+']');
         if(field.length > 1) {
            var id = $(this).data('id');
            var model = $(this).data('model');
            deleteDynamicAttr(id,model,$(this));
         }
      });
  })

  function getSelectedProviderTypes(group_id) {
    $.ajax({
      url: '<%= get_selected_provider_types_path %>',
      method: 'POST',
      data: { authenticity_token: csrfToken, group_id: group_id },
      success: function(data) {
        selected_provider_types = data['selected_provider_types'];
      }
    })
  }

  function getProviderTypes() {
    $.ajax({
      url: '<%= get_provider_types_path %>',
      method: 'GET',
      data: { authenticity_token: csrfToken },
      success: function(data) {
        VirtualSelect.init({
            options: data['provider_types'],
            ele: '#provider_practitioner_type',
            multiple: true,
            showSelectedOptionsFirst: true,
            selectedValue: selected_provider_types
        });
      }
    })
  }

   var deleteFormModals = document.querySelectorAll('#deleteFormModal');
   var deleteButtons = document.querySelectorAll('[data-bs-target="#deleteFormModal"]');
   var deletedLogsModal = document.getElementById('deletedLogsModal');
   var documentTitle = document.getElementById('documentTitle');
   var enrollment_group_id = "<%= @enrollment_group.id %>";
   deleteButtons.forEach(function (button) {
      button.addEventListener('click', function (event) {
         var enrollmentGroupId = button.getAttribute('data-enrollmentGroupId');
         var documentholder = button.getAttribute('data-documentholder');
         var key = button.getAttribute('data-key');
         var title = button.getAttribute('data-title');
         btnDelete.setAttribute('data-enrollmentGroupId', enrollmentGroupId);
         btnDelete.setAttribute('data-documentholder', documentholder);
         btnDelete.setAttribute('data-key', key);
         documentTitle.innerHTML = title;
      });
   });

   deleteFormModals.forEach(function (modal) {
      modal.addEventListener('show.bs.modal', function () {
         btnDelete.setAttribute('data-enrollmentGroupId', '');
         btnDelete.setAttribute('data-documentholder', '');
         btnDelete.setAttribute('data-key', '');
         documentTitle.innerHTML = '';
      });
   });

   deletedLogsModal.addEventListener('show.bs.modal', function(){
      $.get("<%= document_deleted_logs_enrollments_path %>", { authenticity_token: csrfToken, id: enrollment_group_id }, function(data){
         var results = data['results'];
         var html = '';
         //  make a ul list of deleted logs
         results.forEach(function(result){
            html += '<p style="color: red; margin: 0;">' + result + '</p>';
         });
         // put it on ul tag
         $('#deleted-logs').html(html);
      });
   });
   // close modal


   function deleteDocument(btn){
      var note = $('#delete-form-note').val();
      if(note == ''){
         alert('Please enter note');
         return false;
      }

      var enrollmentGroupId = $(btn).data('enrollmentGroupId');
      var documentholder = $(btn).data('documentholder');
      var key = $(btn).data('key');

      $('.loading-overlay').show();
      $.ajax({
      url: '<%= delete_document_enrollments_path %>',
      method: 'POST',
      data: { authenticity_token: csrfToken, note: note, id: enrollment_group_id, key: key },
      success: function(data) {
        $('#' + documentholder).html('<span class="text-muted">No File Uploaded</span>');
         $('.loading-overlay').hide();
         location.reload();
      }
    })
   }

   function clearNote(){
      $('#delete-form-note').val('');
   }
</script>

<style type="text/css">
  .multi-select, .search-select, .single-select .group_role {
    padding: 0;
      width: 100%;
      max-width: 1000px;
  }
</style>

