<%= form_for @enrollment_group, :url => {action: action_name} , html: { multipart: true } do |f| %>
<% if @enrollment_group.errors.any? %>
   <div id="error_explanation" class="row mb-3">
      <div class="col-lg-12">
         <h2><%= pluralize(@enrollment_group.errors.count, "error") %> prohibited this enrollment user from being saved:</h2>
         <ul>
            <% @enrollment_group.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
         </ul>
      </div>
   </div>
   <% end %>
   <div class="row mb-3">
      <div class="col-lg-12">
         <h5 class="mb-0">Group Information</h5>
         <small class="text-black">Please fill out all required fields. Optional fields are marked as (optional).</small>
      </div>
   </div>
   <div class="row mb-5">
      <div class="col-lg-6">
         <label class="text-dark-grey">Group Name as reported to the IRS <span class="text-danger">*</span></label>
         <%= f.text_field :group_name, class: 'form-control border border-dark', required: true, placeholder: 'Type here...' %>
      </div>
      <div class="col-lg-6">
         <label class="text-dark-grey">Taxonomy Code (can be multiple) <span class="text-danger">*</span></label>
         <%= f.text_field :group_code, class: 'form-control border border-dark', required: true, placeholder: 'Type here...' %>
      </div>
   </div>
   <div class="row mb-3">
      <div class="col-lg-12">
         <h5 class="mb-0">Office Address</h5>
      </div>
   </div>
   <div class="row mb-3">
      <div class="col-lg-6">
         <label class="text-dark-grey">Address <span class="text-danger">*</span></label>
         <%= f.text_field :office_address, class: 'form-control border border-dark', required: true, placeholder: 'Type here...' %>
      </div>
      <div class="col-lg-6">
         <label class="text-dark-grey">City <span class="text-danger">*</span></label>
         <%= f.text_field :city, class: 'form-control border border-dark', required: true, placeholder: 'Type here...' %>
      </div>
   </div>
   <div class="row mb-5">
      <div class="col-lg-6">
         <label class="text-dark-grey">State <span class="text-danger">*</span></label>
         <%= f.collection_select :state, @states, :name, :name, { prompt: 'Select option' }, { class: 'form-control border border-dark', required: true } %>
      </div>
      <div class="col-lg-6">
         <label class="text-dark-grey">Zip Code <span class="text-danger">*</span></label>
         <%= f.text_field :zip_code, class: 'form-control border border-dark', required: true, placeholder: 'Type here...' %>
      </div>
   </div>
   <div class="row mb-3">
      <div class="col-lg-12">
         <h5 class="mb-0">Pay To/Billing Address (where checks are mailed)</h5>
      </div>
   </div>
   <div class="row mb-3">
      <div class="col-lg-6">
         <label class="text-dark-grey">Address or P.O. Box</label>
         <%= f.text_field :po_box, class: 'form-control border border-dark', placeholder: 'Type here...' %>
      </div>
      <div class="col-lg-6">
         <label class="text-dark-grey">City</label>
         <%= f.text_field :po_box_city, class: 'form-control border border-dark', placeholder: 'Type here...' %>
      </div>
   </div>
   <div class="row mb-5">
      <div class="col-lg-6">
         <label class="text-dark-grey">State</label>
         <%= f.collection_select :po_box_state, @states, :name, :name, { prompt: 'Select option' }, { class: 'form-control border border-dark' } %>
      </div>
      <div class="col-lg-6">
         <label class="text-dark-grey">Zip Code</label>
         <%= f.text_field :po_box_zip_code, class: 'form-control border border-dark', placeholder: 'Type here...' %>
      </div>
   </div>
   <div class="row mb-3">
      <div class="col-lg-12">
         <h5 class="mb-0">Remittance Address (if different from billing address)</h5>
      </div>
   </div>
   <div class="row mb-3">
      <div class="col-lg-6">
         <label class="text-dark-grey">Address or PO Box</label>
         <%= f.text_field :ca_po_box_address, class: 'form-control border border-dark', placeholder: 'Type here...' %>
      </div>
      <div class="col-lg-6">
         <label class="text-dark-grey">City</label>
         <%= f.text_field :ca_po_box_city, class: 'form-control border border-dark', placeholder: 'Type here...' %>
      </div>
   </div>
   <div class="row mb-3">
      <div class="col-lg-6">
         <label class="text-dark-grey">State</label>
         <%= f.collection_select :ca_po_box_state, @states, :name, :name, { prompt: 'Select option' }, { class: 'form-control border border-dark' } %>
      </div>
      <div class="col-lg-6">
         <label class="text-dark-grey">Zip Code</label>
         <%= f.text_field :ca_po_box_zip_code, class: 'form-control border border-dark', placeholder: 'Type here...' %>
      </div>
   </div>
   <div class="row mb-5">
      <div class="col-lg-4">
         <label class="text-dark-grey">Telephone Number</label>
         <%= f.text_field :phone_number, class: 'form-control border border-dark', placeholder: 'Type here...' %>
      </div>
      <div class="col-lg-2">
         <label class="text-dark-grey">Ext</label>
         <%= f.text_field :ext, class: 'form-control border border-dark', placeholder: 'Type here...' %>
      </div>
      <div class="col-lg-6">
         <label class="text-dark-grey">Fax Number</label>
         <%= f.text_field :fax_number, class: 'form-control border border-dark', placeholder: 'Type here...' %>
      </div>
   </div>
   <div class="row field mb-3 p-2 border border-2">
		<%= render partial: "global_components/collapsible_sidebar_header", locals: { title: 'Group Contact Personnel', collapse_name: 'contact_personnel_list', text_position: 'text-start'}%>
		<div class="collapsible" style="<%= current_user&.is_card_open?('contact_personnel_list') ? '' : 'display: none;' %>">
			<div id="contacts-info">
					<div class="fields field mb-3">
						<%= f.fields_for :contact_personnels do |contact_personnels| %>
							<%= render 'contact_personnel_fields', f: contact_personnels %>
						<% end %>
					</div>
					<div class="links mt-2 text-center">
						<button type="button" class="add_association btn btn-xs btn-primary m-auto">Add New Contact</button>
					</div>
			</div>
		</div>
	</div>
   <div class="row mb-3">
      <div class="col-lg-12">
         <%= HtmlUtils.radio_toggle name: 'enrollment_group[another_business_name]',
            label: 'Do you have another business name?',
            toshow: 'other_name'
            %>
         <%= f.hidden_field :another_business_name %>
      </div>
   </div>
   <div class="<%= @enrollment_group.another_business_name == 'yes' ? '' : 'd-none'%>" id="other_name">
      <div class="row mb-3">
         <div class="col-lg-6">
            <label class="text-dark-grey">Other Business Name</label>
            <%= f.text_field :other_business_name, class: 'form-control border border-dark', placeholder: 'Type here...' %>
         </div>
         <div class="col-lg-6">
            <label class="text-dark-grey">Business Type</label>
            <%= f.select :other_business_type, options_for_select(['Former Business Name', 'DBA', 'Other'], f.object.other_business_type), { prompt: 'Select option' }, { class: 'form-select border border-dark' } %>
         </div>
      </div>
   </div>
   <div class="row mb-3">
      <div class="row mb-3">
         <div class="col-lg-6">
            <label class="text-dark-grey">Group NPI <span class="text-danger">*</span></label>
            <%= f.text_field :npi_digit_type, class: 'form-control border border-dark', required: true, placeholder: 'Type here...' %>
         </div>
         <div class="col-lg-6">
            <label class="text-dark-grey">Group TIN <span class="text-danger">*</span></label>
            <%= f.text_field :tin_digit, class: 'form-control border border-dark', required: true, placeholder: 'Type here...' %>
         </div>
      </div>
      <div class="row mb-3">
         <div class="col-lg-6">
            <label class="text-dark-grey">Group Type (Tax Classification) <span class="text-danger">*</span></label>
            <%= f.select :specify_type_of_group, options_for_select([
               'LLC', 'Partnership', 'Incorporated', 'Other(Specify)'
               ], f.object.specify_type_of_group), { prompt: 'Select option' }, { class: 'form-select border border-dark', id: 'group_type_select', required: true } %>
         </div>
      </div>
      <div class="row mb-3">
         <div class="col-lg-6">
            <label class="text-dark-grey">Group Specialty (Is the group Single or Multi Specialty, choose one) <span class="text-danger">*</span></label>
            <%= f.select :npi_digit_type_group, options_for_select([
         'Multi-Specialty Group- 193200000X', 'Single Specialty Group-193400000X'
         ], f.object.npi_digit_type_group), { prompt: 'Select option' }, { class: 'form-select border border-dark', id: 'group_type_select', required: true } %>
         </div>
         <div class="col-lg-6">
            <label class="text-dark-grey">Which of the following provider types do you employ?</label>
            <div class="multi-select form-control border border-dark" name="enrollment_group[provider_type]"></div>
         </div>
      </div>
   </div>
   <div class="row mb-3">
      <div class="col-lg-12">
         <h5 class="mb-0">Multiple Ownership</h5>
      </div>
   </div>
   <div class="row mb-5">
      <div class="col-lg-12 mb-1">
         <label class="text-dark-grey">Upload a list for each Individual with ownership interest and or managing control in the group to include the following information, <a href="javascript:void()">download template here</a>:</label>
      </div>
      <div class="col-lg-6">
         <%= f.file_field :ownership_file, class: 'form-control border border-dark' %>
         <%= HtmlUtils.generate_view_link file_url: @enrollment_group.ownership_file.url %>
      </div>
   </div>
   <div class="row field mb-3 p-2 border border-2">
		<%= render partial: "global_components/collapsible_sidebar_header", locals: { title: 'Individual Ownership', collapse_name: 'details_list', text_position: 'text-start'}%>
		<div class="collapsible" style="<%= current_user&.is_card_open?('details_list') ? '' : 'display: none;' %>">
			<div id="details-info">
					<div class="fields field mb-3">
						<%= f.fields_for :details do |details| %>
							<%= render 'details_fields', f: details %>
						<% end %>
					</div>
					<div class="links mt-2 text-center">
						<button type="button" class="add_association btn btn-xs btn-primary m-auto">Add New</button>
					</div>
			</div>
		</div>
	</div>
   <div class="documents">
      <h3>Documents</h3>
      <button type="button" class="btn btn-xs m-auto text-black" style="background-color: #E9E9E9;font-size: 12px;font-weight: 600;">Deleted logs</button>
      <div class="row my-3">
         <div class="col-lg-6 mb-2">
            <!-- <a href="" class="btn bg-alt-grey fw-bold text-primary" target="_blank">Complete W9</a> -->
            <label class="text-dark-grey">W9 Form, <a href="https://www.irs.gov/pub/irs-pdf/fw9.pdf" target="_blank">download template here.</a></label>
            <%= f.file_field :w9_file, class: 'form-control border border-dark' %>
            <%= HtmlUtils.generate_view_link file_url: @enrollment_group.w9_file.url %>
         </div>
         <div class="col-lg-6">
            <label class="text-dark-grey">CP575 or Proof of TIN</label>
            <%= f.file_field :cp575_file, class: 'form-control border border-dark' %>
            <%= HtmlUtils.generate_view_link file_url: @enrollment_group.cp575_file.url %>
         </div>
      </div>
      <div class="row my-3">
         <div class="col-lg-6 mb-2">
            <!-- <a href="" class="btn bg-alt-grey fw-bold text-primary" target="_blank">Complete W9</a> -->
            <label class="text-dark-grey">Qualifacts Documents</label>
            <%= f.file_field :payer_contracts, class: 'form-control border border-dark'%>
            <%= HtmlUtils.generate_view_link file_url: @enrollment_group.payer_contracts.url %>
         </div>
         <div class="col-lg-6">
            <label class="text-dark-grey">Other Group Documents</label>
            <%= f.file_field :group_type_documents, class: 'form-control border border-dark' %>
            <%= HtmlUtils.generate_view_link file_url: @enrollment_group.group_type_documents.url %>
         </div>
      </div>
      <div class="row my-3">
         <div class="col-lg-6 mb-2">
            <!-- <a href="" class="btn bg-alt-grey fw-bold text-primary" target="_blank">Complete W9</a> -->
            <label class="text-dark-grey">Liability Insurance</label>
            <%= f.file_field :eft_file, class: 'form-control border border-dark' %>
            <%= HtmlUtils.generate_view_link file_url: @enrollment_group.eft_file.url %>
         </div>
         <div class="col-lg-6">
            <label class="text-dark-grey">Voided Check</label>
            <%= f.file_field :voided_check_file, class: 'form-control border border-dark' %>
            <%= HtmlUtils.generate_view_link file_url: @enrollment_group.voided_check_file.url %>
         </div>
      </div>
      <div class="row my-3">
         <div class="col-lg-6 mb-2">
            <!-- <a href="" class="btn bg-alt-grey fw-bold text-primary" target="_blank">Complete W9</a> -->
            <label class="text-dark-grey">Articles of Incorporation</label>
            <%= f.file_field :specific_type_file, class: 'form-control border border-dark' %>
            <%= HtmlUtils.generate_view_link file_url: @enrollment_group.specific_type_file.url %>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-lg-12 d-flex justify-content-end">
         <button type="submit" class="btn btn-primary btn-md">
         <%= action_name == 'edit_group' ? 'Update Group' : 'Add Group' %>
         </button>
      </div>
   </div>
   </form>
   </div>
<% end %>


<script>
   var csrfToken = $('meta[name="csrf-token"]').attr('content');
   $("#contacts-info").on("click", ".add_association", function () {
      var detailsFields = $("#contacts-info .field");
      var newEnrollmentdetails = detailsFields.last().clone();
      var newId = new Date().getTime();
      newEnrollmentdetails.html(newEnrollmentdetails.html().replace(/contact_personnels_attributes\]\[\d+\]/g, "contact_personnels_attributes][" + newId + "]"));
      $("#contacts-info .fields").append(newEnrollmentdetails);
    });
    var selected_roles = "";
    $(document).on('change', '.role-cb',function() {
      var hiddenValues = [];
      $('.role-cb').each(function() {
      if ($(this).is(':checked')) {
        hiddenValues.push($(this).val());
      }
     });
      var $hidden_role = $(this).parent().parent().find('.hid-roles');
      $hidden_role.val(hiddenValues.join(','));

    })

	 $("#details-info").on("click", ".add_association", function () {
         var detailsFields = $("#details-info .field");
         var newEnrollmentdetails = detailsFields.last().clone();
         var newId = new Date().getTime();
         newEnrollmentdetails.html(newEnrollmentdetails.html().replace(/details_attributes\]\[\d+\]/g, "details_attributes][" + newId + "]"));
         $("#details-info .fields").append(newEnrollmentdetails);
    });

  $('#group_type_picker').on('change',function(){
    $(this).val() == 'other' ? changeToInput() : '';
  })

  function changeToInput() {
    $('#group_type_picker').addClass('d-none');
    $('#other_type').removeClass('d-none');
  }
  var provider_types = [];
  var selected_provider_types = [];
  $(document).ready(function() {
      var action_name = "<%= action_name %>";
      if(action_name == 'edit_group'){
        var group_id = '<%= @enrollment_group.id %>';
        getSelectedProviderTypes(group_id);
      }
      getProviderTypes();
  })

  function getSelectedProviderTypes(group_id) {
    $.ajax({
      url: '<%= get_selected_provider_types_path %>',
      method: 'POST',
      data: { authenticity_token: csrfToken, group_id: group_id },
      success: function(data) {
        selected_provider_types = data['selected_provider_types'];
      }
    })
  }

  function getProviderTypes() {
    $.ajax({
      url: '<%= get_provider_types_path %>',
      method: 'GET',
      data: { authenticity_token: csrfToken },
      success: function(data) {
        VirtualSelect.init({
            options: data['provider_types'],
            ele: '.multi-select',
            multiple: true,
            showSelectedOptionsFirst: true,
            selectedValue: selected_provider_types
        });
      }
    })
  }

</script>

<style>
  .multi-select {
    padding: 0;
  }
</style>

