	<%= form_for @enrollment_group, :url => {action: action_name} , html: { multipart: true } do |f| %>
	<% if @enrollment_group.errors.any? %>
    <div id="error_explanation" class="row mb-3">
					<div class="col-lg-12">
							<h2><%= pluralize(@enrollment_group.errors.count, "error") %> prohibited this enrollment user from being saved:</h2>

							<ul>
									<% @enrollment_group.errors.full_messages.each do |message| %>
											<li><%= message %></li>
									<% end %>
							</ul>
					</div>
    </div>
  <% end %>
		<div class="row mb-3">
			<div class="col-lg-6">
        <label class="text-dark-grey">Group Name *</label>
				<%= f.text_field :group_name, class: 'form-control border border-dark', required: true, placeholder: 'Group Name *' %>
			</div>
			<div class="col-lg-6">
        <label class="text-dark-grey">Group Code *</label>
				<%= f.text_field :group_code, class: 'form-control border border-dark', required: true, placeholder: 'Group Code *' %>
			</div>
		</div>
		<div class="row mb-3">
			<div class="col-lg-6">
        <label class="text-dark-grey">Office Address *</label>
				<%= f.text_field :office_address, class: 'form-control border border-dark', required:  true,  placeholder: 'Office Address *' %>
			</div>
			<div class="col-lg-6">
        <label class="text-dark-grey">City *</label>
				<%= f.text_field :city, class: 'form-control border border-dark', required: true, placeholder: 'City *' %>
			</div>
		</div>
		<div class="row mb-3">
			<div class="col-lg-6">
        <label class="text-dark-grey">State *</label>
				<%= f.collection_select :state, @states, :name, :name, { prompt: 'State *' }, { class: 'form-control border border-dark', required: true } %>
			</div>
			<div class="col-lg-6">
        <label class="text-dark-grey">Zip Code *</label>
				<%= f.text_field :zip_code, class: 'form-control border border-dark', required: true, placeholder: 'Zipcode *' %>
			</div>
		</div>
		<div class="row mb-3">
			<div class="col-lg-4">
        <label class="text-dark-grey">Telephone Number *</label>
				<%= f.text_field :phone_number, class: 'form-control border border-dark', placeholder: 'Telephone Number *' %>
			</div>
			<div class="col-lg-2">
        <label class="text-dark-grey">Ext</label>
				<%= f.text_field :ext, class: 'form-control border border-dark', placeholder: 'Ext' %>
			</div>
			<div class="col-lg-6">
        <label class="text-dark-grey">Fax Number *</label>
				<%= f.text_field :fax_number, class: 'form-control border border-dark', required:  true ,placeholder: 'Fax Number *' %>
			</div>
		</div>
		<div class="row mb-3">
			<div class="col-lg-12">
							<%= HtmlUtils.radio_toggle name: 'enrollment_group[business_group]',
								label: 'Are you an established business group? If yes, enter your legal business name as reported to IRS.',
								toshow: 'established_business_group'
							%>
					<%= f.hidden_field :business_group %>
			</div>
		    <div class="d-none" id="established_business_group">
            <label class="text-dark-grey">Legal Business Name</label>
							<%= f.text_field :legal_business_name, class: 'form-control border border-dark', placeholder: 'Legal Business Name' %>
		    </div>
		</div>
		<div class="row mb-3">
			<div class="col-lg-12">
				<%= HtmlUtils.radio_toggle name: 'enrollment_group[another_business_name]',
					label: 'Do you have another name?',
					toshow: 'other_name'
				%>
				<%= f.hidden_field :another_business_name %>
			</div>
			<div class="row mb-3" id="other_name">
				<div class="col-lg-6">
          <label class="text-dark-grey">Other Business Name</label>
					<%= f.text_field :other_business_name, class: 'form-control border border-dark', placeholder: '' %>
				</div>
				<div class="col-lg-6">
          <label class="text-dark-grey">Business Type</label>
					<%= f.select :other_business_type, options_for_select(['Former Business Name', 'DBA', 'Other'], f.object.other_business_type), { prompt: 'Type' }, { class: 'form-select border border-dark' } %>
				</div>
			</div>
      <div class="row mb-3">
        <div class="col-lg-6">
          <label class="text-dark-grey">9-digit TIN (XX-XXXXXXX)</label>
          <%= f.text_field :tin_digit, class: 'form-control border border-dark'%>
        </div>

        <div class="col-lg-6">
          <label class="text-dark-grey d-none" id='more_details'>Type in additional details</label>
          <label class="text-dark-grey" id="obtained_from_irs">Have you obtained your 9-digit TIN from IRS?</label>
          <%= f.text_field :tin_digit, class: 'form-control border border-dark'%>
        </div>
      </div>
			<div class="row mb-3">
				<div class="col-lg-6">
					<%= HtmlUtils.radio_toggle name: 'enrollment_group[shared_tin]',
						label: 'Is this a shared TIN?',
            toshow: 'more_details',
            tohide: 'obtained_from_irs'
					%>
					<%= f.hidden_field :shared_tin %>
				</div>
				<div class="col-lg-6">
          <label class="text-dark-grey">Upload CP575 or Proof of TIN</label>
					<input type="text" name="group_cp575" placeholder="Upload CP575 or Proof of TIN" class="form-control border border-dark" onfocus="(this.type = 'file')" >
				</div>
			</div>
			<div class="row mb-3">
				<div class="col-lg-6">
          <label class="text-dark-grey">Specify type of Group</label>
					<select class="form-select border border-dark" id="group_type_select" required name="group_specific_type">
            <option value="LLC">LLC</option>
            <option value="Partnership">Partnership</option>
            <option value="Incorporated">Incorporated</option>
            <option value="Other">Other(Specify)</option>
					</select>
				</div>
				<div class="col-lg-6">
          <label class="text-dark-grey" id="group_specific_label">Upload File</label>
					<input type="text" name="group_type_file" placeholder="Upload File" class="form-control border border-dark" onfocus="(this.type = 'file')" >
				</div>
			</div>
			<div class="row mb-3">
				<div class="col-lg-6">
          <label class="text-dark-grey">10 Digit Type II NPI (XXXXXXXXXX)</label>
					<%= f.text_field :npi_digit_type, class: 'form-control border border-dark', placeholder: '10 Digit Type II NPI (XXXXXXXXXX)' %>
				</div>
				<div class="col-lg-6">
          <label class="text-dark-grey">Group *</label>
					<select class="form-select border border-dark" required name="group_group">
						<option value="Single">Single</option>
            <option value="Multi Specialty">Multi Specialty</option>
					</select>
				</div>
			</div>
			<div class="row mb-5">
				<div class="col-lg-6">
					<label class="text-dark-grey">Which of the following provider types do you employ?</label>
					<%= f.collection_select :provider_type, @provider_types, :fch, :fch, { prompt: 'Provider Type *' }, { class: 'form-control border border-dark' } %>
				</div>
			</div>
			<div class="row mb-5">
				<div class="col-lg-12 mb-1">
					<label class="text-dark-grey">Pay To/Billing Address (where checks are mailed)</label>
				</div>
				<div class="col-lg-6">
          <label class="text-dark-grey">P.O. Box</label>
					<%= f.text_field :po_box, class: 'form-control border border-dark', placeholder: 'Address or PO Box' %>
				</div>
				<div class="col-lg-6">
          <label class="text-dark-grey">City</label>
					<%= f.text_field :po_box_city, class: 'form-control border border-dark', placeholder: 'City' %>
				</div>
				<div class="col-lg-6 mt-1">
          <label class="text-dark-grey">State</label>
					<%= f.collection_select :po_box_state, @states, :name, :name, { prompt: 'Select option' }, { class: 'form-control border border-dark' } %>
				</div>
				<div class="col-lg-6 mt-1">
          <label class="text-dark-grey">Zip Code</label>
					<%= f.text_field :po_box_zip_code, class: 'form-control border border-dark', placeholder: 'Zip code' %>
				</div>
			</div>
			<div class="row mb-2">
				<div class="col-lg-12 mb-1">
					<label class="text-dark-grey">Correspondence Address (if different from biling address)</label>
				</div>
				<div class="col-lg-6">
          <label class="text-dark-grey">Address or PO Box</label>
					<%= f.text_field :ca_po_box_address, class: 'form-control border border-dark', placeholder: 'Address or PO Box' %>
				</div>
				<div class="col-lg-6">
          <label class="text-dark-grey">City</label>
					<%= f.text_field :ca_po_box_city, class: 'form-control border border-dark', placeholder: 'City' %>
				</div>
				<div class="col-lg-6 mt-1">
          <label class="text-dark-grey">State</label>
					<%= f.collection_select :ca_po_box_state, @states, :name, :name, { prompt: 'Select option' }, { class: 'form-control border border-dark' } %>
				</div>
				<div class="col-lg-6 mt-1">
          <label class="text-dark-grey">Zip Code</label>
					<%= f.text_field :ca_po_box_zip_code, class: 'form-control border border-dark', placeholder: 'Zip code' %>
				</div>
			</div>

      <div class="row mt-3 mb-5">
        <div class="col-lg-12">
          <a href="https://www.irs.gov/pub/irs-pdf/fw9.pdf" class="btn bg-alt-grey fw-bold text-primary" target="_blank">Complete W9</a>
        </div>
      </div>
			<div class="row mb-5">
				<div class="col-lg-12 mb-1">
					<label class="text-dark-grey">Upload a list for each individual with ownership interest and or managing control in the group to include the following information:</label>
				</div>
				<div class="col-lg-12">
					<input type="file" name="group_ownership_files" class="form-control border border-dark">
				</div>
			</div>
			<div class="row">
			<div class="col-lg-12 d-flex justify-content-end">
				<button type="submit"  class="btn btn-primary btn-md">
					<%= action_name == 'edit_group' ? 'Update Group' : 'Add Group' %>
				</button>
			</div>
		</div>


	</form>
</div>

<script>
	$('#group_type_picker').on('change',function(){
		$(this).val() == 'other' ? changeToInput() : '';
	})

	function changeToInput() {
		$('#group_type_picker').addClass('d-none');
		$('#other_type').removeClass('d-none');

	}
</script>
<% end %>