<%= form_for @enrollment_user, :url => {action: action_name} , html: { multipart: true, id: 'user-form' } do |f| %>
	<% if @enrollment_user.errors.any? %>
    <div id="error_explanation" class="row mb-3">
					<div class="col-lg-12">
							<h2><%= pluralize(@enrollment_user.errors.count, "error") %> prohibited this enrollment user from being saved:</h2>

							<ul>
									<% @enrollment_user.errors.full_messages.each do |message| %>
											<li><%= message %></li>
									<% end %>
							</ul>
					</div>
    </div>
  <% end %>
		<div class="row mb-3 bg-medium-grey rounded p-2 py-3">
			<div class="col-lg-12">
				<div class="row mb-3">
					<div class="col-lg-6">
            <label class="text-dark-grey">Following Request</label>
						<%= f.text_field :following_request, class: 'form-control border border-dark', placeholder: 'Following Request' %>
					</div>
					<div class="col-lg-6">
            <label class="text-dark-grey">Role</label>
						<%= f.select :user_role, options_for_select(User.enum_list('user_roles'), f.object.user_role), {}, class: 'form-select border border-dark', placeholder: 'Role' %>
					</div>
				</div>
				<div class="row mb-3">
					<div class="col-lg-4">
            <label class="text-dark-grey">First Name</label>
						<%= f.text_field :first_name, class: 'form-control border border-dark', placeholder: 'First Name' %>
					</div>
					<div class="col-lg-2">
            <label class="text-dark-grey">Middle Name</label>
						<%= f.text_field :middle_name, class: 'form-control border border-dark optional', placeholder: 'Middle Name' %>
					</div>
					<div class="col-lg-4">
            <label class="text-dark-grey">Last Name</label>
						<%= f.text_field :last_name, class: 'form-control border border-dark', placeholder: 'Last Name' %>
					</div>
					<div class="col-lg-2">
            <label class="text-dark-grey">Suffix</label>
						<%= f.select :suffix, options_for_select(['Jr.', 'Sr.', 'II', 'III', 'IV', 'V'], f.object.suffix), { prompt: 'Suffix' }, { class: 'form-select border border-dark' } %>
				 </div>
				</div>
				<div class="row mb-3">
					<div class="col-lg-6">
            <label class="text-dark-grey">Email</label>
						<%= f.email_field :email, class: 'form-control border border-dark', placeholder: 'Email' %>
					</div>
					<div class="col-lg-6">
            <label class="text-dark-grey">Temporary Password</label>
						<%= f.text_field :password, value: @enrollment_user.temporary_password, class: 'form-control border border-dark', placeholder: 'Password' %>
					</div>
				</div>
				<div class="row mb-3">
					<div class="col-lg-6">
            <label class="text-dark-grey">Status</label>
						<%= f.select :status, options_for_select(['Active', 'Inactive'], f.object.status), { prompt: 'Status' }, { class: 'form-select border border-dark' } %>
					</div>
					<div class="col-lg-6">
            <label class="text-dark-grey">Password Confirmation</label>
						<%= f.text_field :password_confirmation, value: @enrollment_user.temporary_password_confirmation, class: 'form-control border border-dark', placeholder: 'Confirm Password' %>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 d-flex justify-content-end gap-2">
						<button type="submit" class="d-flex btn btn-primary btn-md">
              <%= action_name == 'edit_user' ? '<i class="bi bi-pencil-square me-2"></i>'.html_safe : '<i class="bi bi-plus-lg me-2"></i>'.html_safe %>
							<span><%= action_name == 'edit_user' ? 'Update User' : 'Add New User' %></span>
						</button>
					</div>
				</div>
			</div>
		</div>
<% end %>

<div class="row my-5">
	<div class="col-lg-6">

		<%= form_with url: request.url, method: :get, html: { class: 'form_search_with_icon'} do |form| %>
		<div class="">
			<input type="text" name="user_search" value="<%= params[:user_search] %>" class="form-control border border-dark">
			<i class="bi bi-search"></i>
		</div>
		<% end %>
	</div>

</div>

<div class="row">
	<div class="col-lg-12">
		<%= render "users/users_table"%>
	</div>
</div>

<%= HtmlUtils.form_add_required_attribute form_id: 'user-form' %>