<div class="content container-fluid">
	<div class="row mb-4">
		<div class="col-lg-12 ">
			<h1>Activity History</h1>
			<code>
				NOTE: User, Provider & EnrollmentProvidersDetail are supported for displaying the SOURCE of the changes.
			</code>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
				<table class="table table-striped table-bordered table-responsive">
					<thead>
						<tr>
							<th class="bg-primary text-white" width="25%">Source Info</th>
							<th class="bg-primary text-white" width="70%">Changes</th>
							<th class="bg-primary text-white">Date Created</th>
						</tr>
					</thead>
					<tbody>
						<% @audit_trails.order("created_at desc").each do |audit_trail| %>
						<% next if audit_trail.empty_changes? %>
						<tr>
							<td>
								<strong>Source: </strong> <%= audit_trail.display_source %> <br>
								<strong>Source Type: </strong> <%= audit_trail.auditable_type %> <br>
								<strong>Action Taken: </strong> <%= audit_trail.action %> <br>
								<strong>Action By: </strong> <%= audit_trail.user&.full_name %> <br>
							</td>
							<td>
									<% audit_trail.dislay_changes.each_with_index do |changes, index| %>
										<p style="margin: 0; text-wrap: wrap !important;"><%= index + 1 %>.) <%= changes.html_safe %></p>
									<% end %>
							</td>
							<td><%= audit_trail.created_at.strftime("%m/%d/%Y") %></td>
						</tr>
						<% end %>
					</tbody>
				</table>
		</div>
	</div>
</div>

