<div class="col-xl-12 mb-3">
    <div class="d-flex justify-content-end gap-2">
    <a href="<%= dashboard_enrollment_clients_path %>" class="btn border-0 <%= action_name == 'dashboard' ? 'btn-primary text-white fw-semibold' : 'btn-secondary text-black bg-alt-grey'%>">Dashboard</a>
    <a href="<%= enrollment_clients_path %>" class="btn border-0 <%= action_name == 'index' ? 'btn-primary text-white fw-semibold' : 'btn-secondary text-black bg-alt-grey'%>">Provider Data</a>
    <a href="<%= reports_enrollment_clients_path %>" class="btn border-0 <%= action_name == 'reports' ? 'btn-primary text-white fw-semibold' : 'btn-secondary text-black bg-alt-grey'%>">Reports</a>
    <% if !@incomplete_providers.blank? %>
      <a href="<%= notifications_enrollment_clients_path %>" class="btn border-0 <%= action_name == 'notifications' ? 'btn-primary text-white fw-semibold' : 'btn-secondary text-black bg-alt-grey'%>">Notifications</a>
    <% end %>
    </div>
</div>