
   <div class="row mb-3">
      <div class="col-xl-12 d-flex justify-content-between">
         <h2>
            <a href="<%= enrollment_clients_path %>" class="d-flex gap-2 text-secondary">
            <i class="bi bi-arrow-left h3"></i>
            <span class="h3"><%= @provider&.fullname rescue 'Back' %></span>
            </a>
         </h2>
         <div>
           <a href="<%= enrollment_client_path(@provider)%>" class="btn btn-md border-0 <%= params[:mode].nil? ? 'btn-primary fw-semibold text-white' : 'btn-secondary text-black bg-alt-grey'%>">Provider Profile</a>


           <a href="<%= enrollment_client_path(@provider, mode: 'enrollment_details')%>" class="btn btn-md border-0 <%= params[:mode] == 'enrollment_details' ? 'btn-primary fw-semibold text-white' : 'btn-secondary text-black bg-alt-grey'%>">Enrollment Details</a>
           <a href="<%= enrollment_client_path(@provider,mode: 'uploaded_documents')%>" class="btn btn-md border-0 <%= params[:mode] == 'uploaded_documents' ? 'btn-primary fw-semibold text-white' : 'btn-secondary text-black bg-alt-grey'%>">Uploaded Documents</a>
         </div>
      </div>
   </div>