<div class="content container-fluid">
  <%= render "enrollment_clients/nav"%>
  <% if @provider.enrollments%>
   <% @provider&.enrollments.each do |enrollment|%>
   <% enrollment&.details.each do |detail|%>
   <% if detail %>
   <div class="row mb-3">
     <div class="col-lg-12 card p-3">
        <div class="w-100 d-flex justify-content-between">
           <h3 class="text-primary"><%= detail.enrollment_payer %></h3>
           <a href="javascript:void(0);" class="text-black fw-semibold collapsible-trigger" data-collapse="provider_enrollment_<%= detail.id%>">
           <i class="bi bi-sort-up rotate-180" style="font-size: 18px;"></i>
           </a>
        </div>
      <div class="w-100 collapsible" id="provider_enrollment_<%= detail.id%>">
        <div class="row mb-3">
          <div class="col-lg-2">
            <label>Enrollment Type</label>
            <p class="text-black fw-semibold"><%= detail.enrollment_type %></p>
          </div>
          <div class="col-lg-2">
            <label>Application Status</label>
            <p class="text-black fw-semibold"><%= detail.enrollment_status&.titleize %></p>
          </div>
          <div class="col-lg-2">
            <label>Provider ID</label>
            <p class="text-black fw-semibold"><%= detail.provider_id %></p>
          </div>
          <div class="col-lg-2">
            <label>Notes</label>
            <p class="text-black fw-semibold"><%= detail.comment %></p>
          </div>
        </div>

        <% if ['application-submitted'].include?(detail.enrollment_status)%>
          <div class="row mb-3">
            <div class="col-lg-2">
              <label>Enrollment Tracking ID</label>
              <p class="text-black fw-semibold"><%= detail&.enrollment_tracking_id  rescue nil %></p>
            </div>
          </div>
        <% end %>
        <% if ['approved'].include?(detail.enrollment_status) %>
          <div class="row mb-3">
            <div class="col-lg-2">
              <label>Effective Date</label>
              <p class="text-black fw-semibold"><%= detail.enrollment_effective_date&.to_date&.strftime('%B %d, %Y') rescue nil %></p>
            </div>
            <div class="col-lg-2">
              <label>Association Start Date</label>
              <p class="text-black fw-semibold"><%= detail.association_start_date&.to_date&.strftime('%B %d, %Y')  rescue nil %></p>
            </div>
            <div class="col-lg-2">
              <label>Business End Date</label>
              <p class="text-black fw-semibold"><%= detail.business_end_date&.to_date&.strftime('%B %d, %Y') rescue nil %></p>
            </div>
            <div class="col-lg-2">
              <label>Association End Date</label>
              <p class="text-black fw-semibold"><%= detail.association_end_date&.to_date&.strftime('%B %d, %Y') rescue nil %></p>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-lg-2">
              <label>Revalidation Status</label>
              <p class="text-black fw-semibold"><%= detail.revalidation_status rescue nil %></p>
            </div>
            <div class="col-lg-2">
              <label>Revalidation Date</label>
              <p class="text-black fw-semibold"><%= detail.revalidation_date&.strftime('%B %d, %Y') rescue nil %></p>
            </div>
            <div class="col-lg-2">
              <label>Revalidation Due Date</label>
              <p class="text-black fw-semibold"><%= detail.revalidation_due_date&.strftime('%B %d, %Y') rescue nil %></p>
            </div>
            <div class="col-lg-2">
              <label>Line of Business</label>
              <p class="text-black fw-semibold"><%= detail.line_of_business rescue nil %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
  <% end %>
  <% end %>
  <% end %>
 </div>