<style>
   .vscomp-ele{
      max-width: inherit;
      padding: 0;
   }
</style>
<div class="content container-fluid">
  <%= render "enrollment_clients_nav"%>
   <div class="row">
      <div class="col-xl-12">
         <div class="card card-payer">
            <div class="card-body">
               <%= form_with url: request.url, method: :get, html: { class: 'form_search_with_icon'} do |f| %>
                  <h5>Search</h5>
                  <div class="row mt-3">
                     <div class="col-xl-4">
                        <label for="">Enrollment Status</label>
                        <%= select_tag('status', options_for_select(enrollment_status), class: 'form-select', prompt: 'Select option')%>
                     </div>
                     <div class="col-xl-4">
                        <label for="">Group</label>
                        <%= select_tag('provider_enrollment_group_id', options_for_select(groups.pluck(:group_name, :id)), class: 'form-select', prompt: 'Select option')%>
                     </div>
                     <div class="col-xl-4">
                        <label for="">Location</label>
                        <!-- used dco name here since dco_name is saved on provider table -->
                        <%= select_tag('dco_name', options_for_select(GroupDco.pluck(:dco_name, :dco_name)), class: 'form-select', prompt: 'Select option')%>
                     </div>
                  </div>
                  <div class="row mt-3">
                     <div class="col-xl-4">
                        <label for="">First Name</label>
                        <input type="text" name="first_name" id="first_name" class="form-control" placeholder="Type here...">
                     </div>
                     <div class="col-xl-4">
                        <label for="">Middle Name</label>
                        <input type="text" name="middle_name" id="middle_name" class="form-control" placeholder="Type here...">
                     </div>
                     <div class="col-xl-4">
                        <label for="">Last Name</label>
                        <input type="text" name="last_name" id="last_name" class="form-control" placeholder="Type here...">
                     </div>
                  </div>
                  <div class="row mt-3">
                     <div class="col-xl-4">
                        <label for="">Practitioner Type</label>
                        <%= select_tag('practitioner_type', options_for_select(provider_types.map{|m| [m.fch, m.fch]}), class: 'form-control',  prompt: 'Select option')%>
                        <%= content_for :js do %>
                           <%= HtmlUtils::virtual_select id: 'practitioner_type', collection: provider_types.map{|m| {label: m.fch, value: m.fch} }, multiple: false %>
                        <% end %>
                     </div>
                     <div class="col-xl-4">
                        <label for="">NPI</label>
                        <input type="text" name="npi" id="npi" class="form-control" placeholder="Type here...">
                     </div>
                     <div class="col-xl-4">
                        <label for="">Provider Status</label>
                        <%= select_tag('status', options_for_select(provider_statuses), class: 'form-control',  prompt: 'Select option')%>
                     </div>
                  </div>
                  <div class="d-flex justify-content-center mt-4">
                     <button class="btn btn-primary py-1">Submit</button>
                  </div>
               <% end %>
            </div>
         </div>
         <div class="row mt-5 mb-2">
            <div class="col-xl-6 d-flex align-items-center">
            </div>
            <div class="col-xl-6 d-flex justify-content-end align-items-center">
               <%= link_to download_documents_enrollment_clients_path(format: :csv, **params.except(:action, :controller).permit!), class: 'btn btn-primary py-1 d-flex align-items-center gap-2', format: :csv do %>
                  <i class="bx bx-download"></i>
                  Download Documents
               <% end %>
            </div>
         </div>
         <div class="table-wpr">
            <%= render "providers_table"%>
         </div>
      </div>
   </div>
</div>

<% content_for :js do %>
<script>

</script>
<% end %>