<div class="content container-fluid">
  <%= render "enrollment_clients_nav"%>
</div>
<%= render 'user_restriction', locals: { access_key: 'Reports' } do %>
 <div class="content container-fluid">
   <div class="card rounded p-2 py-3">
      <div class="row mb-3">
         <div class="col-lg-12">
            <h4>Generate Report</h4>
         </div>
      </div>
      <%= form_with(url: '/enrollment-clients/download_documents.csv', method: :get, local: true, class: 'no-loader') do |f| %>
         <div class="row">
            <div class="col-lg-6">
               <div class="form-group">
               <label class="text-dark-grey">Report Type</label>
               <select class="form-select border-dark" name="template" required >
                  <option value="" selected="selected">Select option</option>
                  <% if current_setting.qualifacts? %>
                     <% qualifacts_provider_generate_report_options.each do |option|%>
                        <option value=<%= option[1]%>><%= option[0] %></option>
                     <% end %>
                  <% else%>
                     <% provider_generate_report_options.each do |option|%>
                        <option value=<%= option[1]%>><%= option[0] %></option>
                     <% end %>
                  <% end %>
               </select>
               </div>
            </div>
            <div class="col-lg-6">
               <label class="text-dark-grey">Year & Month</label>
               <span>
                  <input class="form-control border-dark" type="text" onfocus="(this.type='month')" id="start" name="month" placeholder="Select option" required/>
               </span>
            </div>
            <div class="col-lg-12 d-flex justify-content-center mt-3">
               <button class="btn btn-primary btn-sm px-5 py-1">Generate</button>
            </div>
         </div>
      <% end %>
   </div>
 </div>
<% end %>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    var monthInput = document.getElementById('start');

    // Listen for changes in the template dropdown
    document.querySelector('[name="template"]').addEventListener('change', function() {
      // Check if the selected template is in the list where month is not required
      var isMonthNotRequired = ['group_detail_report', 'group_revalidation', 'provider_enrollment_details_report', 'provider_revalidation_report', 'dea', 'caqh', 'liability', 'qualifacts_inventory', 'qualifacts_enrollment_report'].includes(this.value);

      // Set the 'required' attribute based on the template
      monthInput.required = !isMonthNotRequired;

      // Change the input type to 'month' or 'text' based on the template
      monthInput.type = isMonthNotRequired ? 'text' : 'month';
    });
  });
</script>
