<p style="color: green"><%= notice %></p>

<%= render @help_code %>

<div>
  <%= link_to "Edit this help code", edit_help_code_path(@help_code) %> |
  <%= link_to "Back to help codes", help_codes_path %>

  <%= button_to "Destroy this help code", @help_code, method: :delete %>
</div>
