<div class="row mb-3">
   <div class="col-lg-12 card p-3">
      <div class="w-100 d-flex justify-content-between">
         <h3 class="text-primary">Group Information</h3>
         <a href="javascript:void(0);" class="text-black fw-semibold collapsible-trigger" data-collapse="group_info">
         <i class="bi bi-sort-up rotate-180" style="font-size: 18px;"></i>
         </a>
      </div>
      <div class="w-100 collapsible" id="group_info">
        <div class="row mb-1">
          <div class="col-lg-6">
              <label>Notification of New Provider</label>
              <p class="text-black fw-semibold"><%= @enrollment_group.new_group_notification&.strftime('%B %d, %Y') %></p>
          </div>
          <div class="col-lg-6">
              <label>Start Date</label>
              <p class="text-black fw-semibold"><%= @enrollment_group.noti_group_start_date&.strftime('%B %d, %Y') %></p>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col-lg-6">
              <label>Welcome Letter Sent</label>
              <p class="text-black fw-semibold"><%= @enrollment_group.noti_welcome_letter_sent&.strftime('%B %d, %Y') %></p>
          </div>
          <div class="col-lg-6">
              <label>Notification to begin submitting Enrollment</label>
              <p class="text-black fw-semibold"><%= @enrollment_group.notification_enrollment_submit_group&.strftime('%B %d, %Y') %></p>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col-lg-6">
              <label>Services</label>
              <p class="text-black fw-semibold"><%= @enrollment_group.noti_group_services&.split(',')&.map { |val| group_notification_services.to_h.key(val) }&.join(", ") rescue nil %></p>
          </div>
          <% if current_setting.qualifacts? %>
            <span class="col-lg-6">
                <input type="checkbox" name="rcm_only" id="rcm_only" value="true">
                <small>Rcm only</small>
            </span>
          <%end%>
        </div>
        <div class="row mb-1">
        <div class="col-lg-6">
            <label>Status</label>
            <p class="text-black fw-semibold"><%= group_statuses.to_h.key(@enrollment_group.noti_status) %></p>
        </div>
        <div class="col-lg-6 <%= @enrollment_group.noti_status == 'inactive-termed' ? '' : 'd-none'%>">
            <label>Work End Date</label>
            <p class="text-black fw-semibold"><%= @enrollment_group&.noti_work_end_date&.to_date&.strftime('%B %d, %Y') rescue nil %></p>
        </div>
        </div>
        <div class="row mb-1">
          <div class="col-lg-6">
              <label>Group Name as reported to IRS</label>
              <p class="text-black fw-semibold"><%= @enrollment_group&.group_name %></p>
          </div>
          <div class="col-lg-6">
              <label>Taxonomy Code</label>
              <p class="text-black fw-semibold"><%= @enrollment_group&.group_code %></p>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col-lg-6">
              <label>Platform</label>
              <p class="text-black fw-semibold"><%= @enrollment_group&.flatform&.titleize %></p>
          </div>
          <div class="col-lg-6">
              <label><%= Setting.take.t('enrollment_dashboard.groups.group_details.group_information.contact_effective_date') %></label>
              <p class="text-black fw-semibold"><%= @enrollment_group&.qualifacts_contract_effective_date&.strftime('%B %d, %Y') %></p>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col-lg-6">
              <label>Other Business Name</label>
              <p class="text-black fw-semibold"><%= @enrollment_group&.other_business_name %></p>
          </div>
          <div class="col-lg-6">
              <label>Business Type</label>
              <p class="text-black fw-semibold"><%= @enrollment_group&.other_business_type %></p>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col-lg-6">
              <label>Group NPI</label>
              <p class="text-black fw-semibold"><%= @enrollment_group&.npi_digit_type %></p>
          </div>
          <div class="col-lg-6">
              <label>Group TIN</label>
              <p class="text-black fw-semibold"><%= @enrollment_group&.tin_digit %></p>
          </div>
        </div>
          <div class="row mb-1">
          <div class="col-lg-6">
              <label>Group Type (Tax Classification)</label>
              <p class="text-black fw-semibold"><%= @enrollment_group&.specify_type_of_group %></p>
          </div>
          <div class="col-lg-6">
              <label>Group Specialty</label>
              <p class="text-black fw-semibold"><%= @enrollment_group&.npi_digit_type_group %></p>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col-lg-6">
              <label>Which of the following provider types do you employ?</label>
              <p class="text-black fw-semibold"><%= @enrollment_group&.provider_type %></p>
          </div>
        </div>
        <h3 class="text-primary">Administration Office Address</h3>
        <div class="row mb-1">
          <div class="col-lg-6">
              <label>Address</label>
              <p class="text-black fw-semibold"><%= @enrollment_group&.office_address %></p>
          </div>
          <div class="col-lg-6">
              <label>City</label>
              <p class="text-black fw-semibold"><%= @enrollment_group&.city %></p>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col-lg-6">
              <label>State</label>
              <p class="text-black fw-semibold"><%= @enrollment_group&.state %></p>
          </div>
          <div class="col-lg-6">
              <label>Zip Code</label>
              <p class="text-black fw-semibold"><%= @enrollment_group&.zip_code %></p>
          </div>
        </div>
        <h3 class="text-primary">Pay To/Billing Address (where checks are mailed)</h3>
        <div class="row mb-1">
          <div class="col-lg-6">
              <label>Address or P.O. Box</label>
              <p class="text-black fw-semibold"><%= @enrollment_group&.po_box %></p>
          </div>
          <div class="col-lg-6">
              <label>City</label>
              <p class="text-black fw-semibold"><%= @enrollment_group&.po_box_city %></p>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col-lg-6">
              <label>State</label>
              <p class="text-black fw-semibold"><%= @enrollment_group&.po_box_state %></p>
          </div>
          <div class="col-lg-6">
              <label>Zip Code</label>
              <p class="text-black fw-semibold"><%= @enrollment_group&.po_box_zip_code %></p>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col-lg-6">
            <label>Contact Personnel Name</label>
            <p class="text-black fw-semibold"><%= @enrollment_group&.billing_contact_name %></p>
          </div>
          <div class="col-lg-6">
            <label>Contact Personnel Phone Number</label>
            <p class="text-black fw-semibold"><%= @enrollment_group&.billing_contact_number %></p>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col-lg-6">
            <label>Contact Personnel Email Address</label>
            <p class="text-black fw-semibold"><%= @enrollment_group&.billing_contact_email %></p>
          </div>
        </div>
        <h3 class="text-primary">Remittance Address (if different from billing address)</h3>
        <div class="row mb-1">
          <div class="col-lg-6">
              <label>Address or P.O. Box</label>
              <p class="text-black fw-semibold"><%= @enrollment_group&.ca_po_box_address %></p>
          </div>
          <div class="col-lg-6">
              <label>City</label>
              <p class="text-black fw-semibold"><%= @enrollment_group&.ca_po_box_city %></p>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col-lg-6">
              <label>State</label>
              <p class="text-black fw-semibold"><%= @enrollment_group&.ca_po_box_state %></p>
          </div>
          <div class="col-lg-6">
              <label>Zip Code</label>
              <p class="text-black fw-semibold"><%= @enrollment_group&.ca_po_box_zip_code %></p>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col-lg-6">
            <label>Contact Personnel Name</label>
            <p class="text-black fw-semibold"><%= @enrollment_group&.remmitance_contact_name %></p>
          </div>
          <div class="col-lg-6">
            <label>Contact Personnel Phone Number</label>
            <p class="text-black fw-semibold"><%= @enrollment_group&.remmitance_contact_number %></p>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col-lg-6">
            <label>Contact Personnel Email Address</label>
            <p class="text-black fw-semibold"><%= @enrollment_group&.remmitance_contact_email %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
<script>
document.addEventListener("DOMContentLoaded", function() {
    var checkbox = document.getElementById("rcm_only");
    var enrollmentgroupId = <%= @enrollment_group.id %>; // Include the provider ID dynamically
    var csrfToken = document.querySelector('meta[name="csrf-token"]').content; // Fetch CSRF token from meta tags

    checkbox.addEventListener("change", function() {
        var isChecked = this.checked;

        // Send AJAX request to update RCM only field in database
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/enrollments/enrollmentgroupId %>/update-rcm-only", true); // Assuming @enrollment is available in your view
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.setRequestHeader("X-CSRF-Token", csrfToken); // Include CSRF token in the request headers
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                console.log("RCM only field updated successfully!");
            }
        };
        xhr.send(JSON.stringify({ enrollment_group_id: <%= @enrollment_group.id %>, rcm_only: isChecked }));
    });
});
</script>