<div class="row mb-3">
   <div class="col-lg-12 card p-3">
      <div class="w-100 d-flex justify-content-between">
         <h3 class="text-primary"><%= title %></h3>
         <a href="javascript:void(0);" class="text-black fw-semibold collapsible-trigger" data-collapse="individual_ownership_<%= detail.id %>">
         <i class="bi bi-sort-up rotate-180" style="font-size: 18px;"></i>
         </a>
      </div>
        <div class="w-100 collapsible" id="individual_ownership_<%= detail.id %>">
            <div class="row mb-1">
              <div class="col-lg-6">
                  <label>Title</label>
                  <p class="text-black fw-semibold"><%= detail&.individual_ownership_title %></p>
              </div>
              <div class="col-lg-6">
                  <label>Name</label>
                  <p class="text-black fw-semibold"><%= detail&.full_name %></p>
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-lg-6">
                  <label>SSN</label>
                  <p class="text-black fw-semibold"><%= detail&.individual_ownership_ssn %></p>
              </div>
              <div class="col-lg-6">
                  <label>DOB</label>
                  <p class="text-black fw-semibold"><%= detail&.individual_ownership_dob %></p>
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-lg-6">
                  <label>% of Ownership</label>
                  <p class="text-black fw-semibold"><%= detail&.individual_ownership_percent_of_ownership %></p>
              </div>
              <div class="col-lg-6">
                  <label>Email</label>
                  <p class="text-black fw-semibold"><%= detail&.email_address %></p>
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-lg-6">
                  <label>Effective Date of Ownership</label>
                  <p class="text-black fw-semibold"><%= detail&.individual_ownership_effective_date&.strftime('%B %d, %Y') %></p>
              </div>
              <div class="col-lg-6">
                  <label>Acquired Managing Control Date</label>
                  <p class="text-black fw-semibold"><%= detail&.individual_ownership_control_date&.strftime('%B %d, %Y') %></p>
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-lg-6">
                  <label>Position</label>
                  <p class="text-black fw-semibold"><%= detail&.roles %></p>
              </div>
            </div>
        </div>
      </div>
    </div>