<div class="row mb-3">
   <div class="col-lg-12 card p-3">
      <div class="w-100 d-flex justify-content-between">
         <h3 class="text-primary">W9 Form</h3>
         <a href="javascript:void(0);" class="text-black fw-semibold collapsible-trigger" data-collapse="w9_form_info">
         <i class="bi bi-sort-up rotate-180" style="font-size: 18px;"></i>
         </a>
      </div>
        <div class="w-100 collapsible" id="w9_form_info">
            <div class="row mb-1">
              <div class="col-lg-6">
                  <label>Last Signed Date</label>
                  <p class="text-black fw-semibold"><%= @enrollment_group&.w9_signed_date&.strftime('%B %d, %Y') %></p>
              </div>
              <div class="col-lg-6">
                  <label>Sign Date Expiration</label>
                  <p class="text-black fw-semibold"><%= @enrollment_group&.w9_sign_date_expiration&.strftime('%B %d, %Y') %></p>
              </div>
            </div>
          <h3 class="text-primary">Voided Check</h3>
            <div class="row mb-1">
              <div class="col-lg-6">
                  <label>Last Signed Date</label>
                  <p class="text-black fw-semibold"><%= @enrollment_group&.void_check_signed_date&.strftime('%B %d, %Y') %></p>
              </div>
              <div class="col-lg-6">
                  <label>Sign Date Expiration</label>
                  <p class="text-black fw-semibold"><%= @enrollment_group&.void_check_date_expiration&.strftime('%B %d, %Y') %></p>
              </div>
            </div>
          <h3 class="text-primary">Bank Letter</h3>
            <div class="row mb-1">
              <div class="col-lg-6">
                  <label>Last Signed Date</label>
                  <p class="text-black fw-semibold"><%= @enrollment_group&.bank_letter_signed_date&.strftime('%B %d, %Y') %></p>
              </div>
              <div class="col-lg-6">
                  <label>Sign Date Expiration</label>
                  <p class="text-black fw-semibold"><%= @enrollment_group&.bank_letter_date_expiration&.strftime('%B %d, %Y') %></p>
              </div>
            </div>

        </div>
      </div>
  </div>