<div class="col-lg-12 mb-3">
    <div class="row card p-3">
      <div class="col-lg-12">
        <div class="d-flex align-items-center justify-content-between">
          <h4 class="fw-semibold text-secondary">Collaborating Physician</h4>
          <a href="<%= custom_provider_source_path(page: 'employment', remove_record: 'collaborating_physicians', id: collaborating_physician.id)%>" class="btn btn-danger btn-xs">Delete</a>
        </div>
      
      </div>
      <div class="row mb-3">
        <div class="col-lg-4">
        <label class="text-dark-grey">First Name</label>
          <input type="text" name="first_name" class="form-control multi-field border-dark" required placeholder="First Name"  value="<%= collaborating_physician.first_name%>" data-model="collaborating_physician" data-id="<%= collaborating_physician.id %>">
        </div>
        <div class="col-lg-2">
        <label class="text-dark-grey">Middle Name</label>
          <input type="text" name="middle_name" class="form-control border-dark multi-field" placeholder="Middle" value="<%= collaborating_physician.middle_name%>" data-model="collaborating_physician" data-id="<%= collaborating_physician.id %>">
        </div>
        <div class="col-lg-4">
          <label class="text-dark-grey">Last Name</label>
          <input type="text" name="last_name" class="form-control border-dark multi-field" required placeholder="Last Name"  value="<%= collaborating_physician.last_name%>" data-model="collaborating_physician" data-id="<%= collaborating_physician.id %>">
        </div>
        <div class="col-lg-2">
         <label class="text-dark-grey">Suffix</label>
          <select class="form-select border-dark" required name="suffix" data-model="collaborating_physician" data-id="<%= collaborating_physician.id %>">
            <option selected="selected" value="">Suffix</option>
            <option value="II">II</option>
            <option value="III">III</option>
            <option value="IV">IV</option>
            <option value="Jr.">Jr.</option>
            <option value="Sr.">Sr.</option>
          </select>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-lg-12">
          <label class="text-dark-grey">Degree <span class="text-danger">*</span></label>
          <input type="text" class="form-control border-dark multi-field" name="degree" placeholder="Degree*"  value="<%= collaborating_physician.degree %>" data-model="collaborating_physician" data-id="<%= collaborating_physician.id %>">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-lg-6">
        <%#= HtmlUtils::dropdown name: 'state_abbr', label: 'Physician Primary License State' %>
        <%= HtmlUtils::dropdown_with_model name: 'state_license', label: 'Physician Primary License State Registration State', model: 'collaborating_physician', modelId: "#{collaborating_physician.id}" %>
        </div>
        <div class="col-lg-6">
          <label class="text-dark-grey">Physician Primary License Number</label>
          <input type="text" class="form-control border-dark multi-field" name="license_number" placeholder="Physician Primary License Number"  value="<%= collaborating_physician.license_number%>" data-model="collaborating_physician" data-id="<%= collaborating_physician.id %>"> 
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-lg-6">
          <label class="text-dark-grey">Medicare Number</label>
          <input type="text" class="form-control border-dark multi-field" name="medicare_number" placeholder="Medicare Number" value="<%= collaborating_physician.medicare_number%>" data-model="collaborating_physician" data-id="<%= collaborating_physician.id %>">
        </div>
        <div class="col-lg-6">
          <label class="text-dark-grey">NPI Number</label>

          <input type="text" class="form-control border-dark multi-field" name="npi_number" placeholder="NPI Number"  value="<%= collaborating_physician.npi_number%>" data-model="collaborating_physician" data-id="<%= collaborating_physician.id %>">
        </div>
      </div>
    </div>
  </div>