<div class="content container-fluid ps-0">
	<%= render "provider_source_components/top_buttons"%>
	<div class="row">
		<div class="col-lg-3">
			<%= render "provider_source_components/sub_navbar"%>
		</div>
		<div class="col-lg-9">
			<div class="row border border-4 p-3">
				<!-- start of form header -->
				<div class="col-lg-12 mb">
					<div class="d-flex gap-2">
				 		<span class="bg-medium-grey circle d-flex justify-content-center align-items-center" style="width: 40px;height: 40px;">
				 			<i class="bi bi-mortarboard-fill text-white" style="font-size: 25px;"></i>
				 		</span>
				 		<div class="d-flex flex-column">
				 			<label class="text-dark-grey">Healthcare Facility Affiliations</label>
				 			<small>Please fill out 	all required fields</small>
				 		</div>
					</div>
				</div>
				<%#= render partial: "provider_source_components/progress_bar", locals: {percent: (@provider.specialties_progress)}%>
				<% steps = [['AFFILIATION INFORMATION','active', custom_provider_source_path(page: 'affiliation_information'),'affiliation_info_progress']]%>
			 
        <%= render partial: "provider_source_components/progress_bar", locals: { steps: steps }%>
      	<%= render partial: "provider_source_components/form_wizard", locals: {steps: steps}%>
				<div class="col-lg-12 card py-3 my-3">
					<h4 class="fw-semibold text-secondary mb-3">Affiliation Information</h4>

				 <div class="row">
				 	<div class="col-lg-12">
		                  <div class="d-flex align-items-center my-3">
                        <%= HtmlUtils.radio_toggle name: 'has_hospital_privilege',
                          label: 'Do/Did you have hospital privileges? <span class="text-danger"> *</span>',
                          toshow: 'hospital_privileges',
                          hidden_field: true
                        %>
          		        </div>
		                <div class="<%= toggle_hide('has_hospital_privilege') %>" id="hospital_privileges">
		               		<%= render "provider_source_components/hospital_privileges"%>
		                </div>
				 	</div>
				 </div>
				 <div class="row">
				 	<div class="col-lg-12">
	                  <div class="d-flex align-items-center my-3">
                          <%= HtmlUtils.radio_toggle name: 'has_admitting_arrangement',
                          label: 'Do you have an admitting arrangement? <span class="text-danger"> *</span>',
                          toshow: 'admitting_arrangements',
                         	hidden_field: true
                        %>
	                  </div>

		                <div class="<%= toggle_hide('has_admitting_arrangement') %>" id="admitting_arrangements">
		               		<%= render "provider_source_components/admitting_arrangements"%>
		                </div>
              		</div>
				 </div>

                  <div class="row mb-3">
                  	<div class="col-lg-12">
                  		<label class="text-dark-grey">Please explain why you do not have an admitting arrangement.</label>
                  		<textarea class="form-control border-dark" placeholder="2500 max characters" name="admitting_arrangement_comment" rows="8"></textarea>
                  	</div>
                  </div>
				</div>
			</div>


		</div>
	</div>
</div>

