<div class="content container-fluid ps-0">
	<%= render "provider_source_components/top_buttons"%>
	<div class="row">
		<div class="col-lg-3">
			<%= render "provider_source_components/sub_navbar"%>
		</div>
		<div class="col-lg-9">
			<div class="row border border-4 p-3">
				<!-- start of form header -->
				<div class="col-lg-12 mb">
					<div class="d-flex gap-2">
				 		<span class="bg-medium-grey circle d-flex justify-content-center align-items-center" style="width: 40px;height: 40px;">
				 			<i class="bi bi-mortarboard-fill text-white" style="font-size: 25px;"></i>
				 		</span>
				 		<div class="d-flex flex-column">
				 			<label class="text-dark-grey">Disclosure</label>
				 			<small>Please fill out 	all required fields</small>
				 		</div>
					</div>
				</div>
				<%= render partial: "provider_source_components/progress_bar", locals: {percent: 100}%>
				<% steps = [['Disclosure Questions','active', custom_provider_source_path(page: 'disclosure')]]%>
				<%= render partial: "provider_source_components/form_wizard", locals: {steps: steps}%>
				<% @disclosures.each do |disclosure|%>
				<div class="col-lg-12 card py-3 my-3">
					<h4 class="fw-semibold text-secondary mb-3"><%= disclosure.title %></h4>
					<%= disclosure.note.nil? ? '' : "<div class='#{disclosure.alert_type}'>#{disclosure.note}</div>".html_safe %>
					<% disclosure.questions.each do |question|%>
							<table>
							   <tbody>
                  <tr>
							      <td width="10%" class="text-center">
							         <button type="button" class="btn btn-xs btn-toggle has-to-show to-change-value <%= @provider.is_answer_yes?(question.slug) ? 'active' : ''%> " data-tochange="<%= question.slug %>" data-toshow="<%= question.slug %>_explain_field" data-toggle="button" aria-pressed="false" autocomplete="off">
							            <div class="handle"></div>
							         </button>
							         <input type="text" name="<%= question.slug %>" value="no" class='invisible-input'>
							      </td>
							      <td width="90%">
							         <p class="text-black">
							            <p class="text-black"><span class="text-danger">*</span><%= question.slug[1..-1]%>. <%= question.question %>
													</p>
										<%= question.note.nil? ? '' : "<div class='#{question.alert_type}'>#{question.note}</div>".html_safe %>
							         </p>
							      </td>
                    </tr>
                    <tr>
                      <td width="">
                      </td>
                      <td>
                        <div id="<%= question.slug %>_explain_field" class="<%= @provider.is_answer_yes?(question.slug) ? '' : 'd-none'%>">
                        <label class="text-black">Please provide an explanation below *</label>
                          <textarea class="form-control" rows="3" name="<%= question.slug%>_explanation">
                            <%= @provider.disclosure_explanation(question.slug)%>
                          </textarea>
                       </div>
                      </td>
                    </tr>
							   </tbody>
							</table>
					<% end %>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>

<script>
	$('.btn-toggle').on('click',function(e){
    if($(this).hasClass('to-change-value')) {
      var to_change = $(this).data('tochange');
      !$(this).hasClass('active') ? $('input[name='+to_change+']').val('yes') : $('input[name='+to_change+']').val('no');
    }
  });
</script>