<div class="content container-fluid ps-0">
	<%= render "provider_source_components/top_buttons"%>
	<div class="row">
		<div class="col-lg-3">
			<%= render "provider_source_components/sub_navbar"%>
		</div>
		<div class="col-lg-9">
			<div class="row border border-4 p-3">
				<!-- start of form header -->
				<div class="col-lg-12 mb">
					<div class="d-flex gap-2">
				 		<span class="bg-medium-grey circle d-flex justify-content-center align-items-center" style="width: 40px;height: 40px;">
				 			<i class="bi bi-mortarboard-fill text-white" style="font-size: 25px;"></i>
				 		</span>
				 		<div class="d-flex flex-column">
				 			<label class="text-dark-grey">Disclosure</label>
				 			<small>Please fill out 	all required fields</small>
				 		</div>
					</div>
				</div>
				<%#= render partial: "provider_source_components/progress_bar", locals: {percent: (@provider.disclosure_progress)}%>
				<% steps = [['Disclosure Questions','active', custom_provider_source_path(page: 'disclosure'), 'disclosure_progress_v2']]%>

        <%= render partial: "provider_source_components/progress_bar", locals: { steps: steps }%>
				<%= render partial: "provider_source_components/form_wizard", locals: {steps: steps}%>
				<% @disclosures.each do |disclosure|%>
				<div class="col-lg-12 card py-3 my-3">
					<h4 class="fw-semibold text-secondary mb-3"><%= disclosure.title %></h4>
					<%= disclosure.note.nil? ? '' : "<div class='#{disclosure.alert_type}'>#{disclosure.note}</div>".html_safe %>
					<% disclosure.questions.each do |question|%>
							<table>
							   <tbody>
                  <tr>
							      <td width="10%" class="text-center">
										<select class="form-select disclosure-select-option" aria-label="select option">
											<% if @provider.no_answer?(question.slug) %>
												<option value="" <%= @provider.no_answer?(question.slug) ? 'selected' : '' %>>Select option</option>
											<% end %>
											<option value="yes" <%= @provider.is_answer_yes?(question.slug) ? 'selected' : '' %>>Yes</option>
											<option value="no" <%= @provider.is_answer_no?(question.slug) ? 'selected' : '' %>>No</option>
										</select>
											<button type="button" class="d-none disclosure-toggle-button btn btn-xs disclosure-btn-toggle has-to-show to-change-value <%= @provider.is_answer_yes?(question.slug) ? 'active' : ''%> " data-tochange="<%= question.slug %>" data-toshow="<%= question.slug %>_explain_field" data-toggle="button" aria-pressed="false" autocomplete="off">
												<div class="handle"></div>
											</button>
											<input type="text" name="<%= question.slug %>" value="no" class='invisible-input no-auto-save'>
							      </td>
							      <td width="90%" style="padding-left: 10px;">
							         <p class="text-black">
							            <p class="text-black"><span class="text-danger">*</span><%= question.slug[1..-1]%>. <%= question.question %>
													</p>
													<%= question.note.nil? ? '' : "<div class='#{question.alert_type}'>#{question.note}</div>".html_safe %>
							         </p>
							      </td>
                    </tr>
                    <tr>
                      <td width="">
                      </td>
                      <td style="padding-left: 10px;">
                        <div id="<%= question.slug %>_explain_field" class="<%= @provider.is_answer_yes?(question.slug) ? '' : 'd-none'%>">
                        <label class="text-black">Please provide an explanation below <span class="text-danger">*</span></label>
                          <textarea class="form-control no-auto-save" rows="3" name="<%= question.slug%>_explanation">
                            <%= @provider.disclosure_explanation(question.slug) %>
                          </textarea>
                       </div>
                      </td>
                    </tr>
							   </tbody>
							</table>
					<% end %>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>

<script>
  $(document).ready(function() {
		$(body).on('change', '.disclosure-select-option', function(e) {
			$(e.target).siblings('.disclosure-btn-toggle').trigger('click');
		})
	})
</script>