<div class="content container-fluid ps-0">
	<%= render "provider_source_components/top_buttons"%>
	<div  class="row">
		<div class="col-lg-3">
			<%= render "provider_source_components/sub_navbar"%>
		</div>
		<div class="col-lg-9">
			<div class="row border border-4 p-3">
				<div class="col-lg-12">
					<%= render partial: "provider_source_components/header_title", locals: {title: "Health Plans", icon: 'bi-shield-fill-plus'}%>
					<%= render partial: "provider_source_components/progress_bar", locals: {percent: 0}%>
				</div>
				<div class="col-lg-12 card py-3 mb-3">
					<h4 class="fw-semibold text-secondary mb-3">Other IDs</h4>
					<div class="alert alert-info alert-light-blue">
						<i class="bi bi-info-circle" style="font-size: 20px;"></i>
						<br>
						<small>- In order to protect the confidentiality of your provider information, please use the section below to designate which healthcare entities you allow to access your ProviderSource™ application data for user in credentialing.</small>
						<small>- Please note that we do not notify selected Health Plans or Hospitals that you have allowed them to access your ProviderSource application data.</small>
						<small>- Select all health plans and directories for which you authorize to release of information.</small>
						<small>- Select healthcare facilities for which you authorize to release of information.</small>
					</div>
					<div class="row mb-2">
						<div class="col-lg-12 mb-2">
							<div class="form-group  w-100">
								<label class="text-dark-grey">Health Plans</label>
								<!-- multi-select | this is for frontend devs - you should be responsible for preparing the data value to be submitted and handle the data back to the element when retrieving -->
								<div class="row my-3">
							<div class="col-lg-12">
								<!-- select-search | this is for frontend devs - you should be responsible for preparing the data value to be submitted and handle the data -->
								<%= select_tag :health_plan, options_for_select([['Health Plan *', nil]] + @health_plans.map { |plan| [plan.name, plan.name] }), required: true, class: 'form-select border-dark py-3', placeholder: 'Health Plan' %>
								<!-- <input type="text" name="" placeholder="Health Plans*" class="form-control border-dark"> -->
							</div>
						</div>
						<div class="col-lg-12 mb-2">
							<div class="form-group">
								<label class="text-dark-grey">Hospitals</label>
								<!-- multi-select | this is for frontend devs - you should be responsible for preparing the data value to be submitted and handle the data back to the element when retrieving -->
								<%= select_tag :hospitals, options_for_select([['Hospital *', nil]] + @hospitals.map { |hospital| [hospital.name, hospital.name] }), required: true, class: 'form-select border-dark py-3', placeholder: 'Hospitals' %>
							</div>
						</div>
						<div class="col-lg-12 mb-2">
							<div class="form-group">
								<label class="text-dark-grey">Directories</label>
								<!-- multi-select | this is for frontend devs - you should be responsible for preparing the data value to be submitted and handle the data back to the element when retrieving -->
								<%= select_tag :directories, options_for_select([['Directory *', nil]] + @directories.map { |directory| [directory.name, directory.name] }), required: true, class: 'form-select border-dark py-3', placeholder: 'Directories' %>
							</div>
						</div>
					</div>
				</div>
				<!-- <div class="col-lg-12 mb-3 d-flex justify-content-end px-0">
		            <button class="btn btn-primary">Save Changes</button>
		        </div> -->

			</div>
		</div>
	</div>
</div>

<% content_for :js do %>
	<script>

		VirtualSelect.init({
		  ele: '.multi-select'
		  // options: myOptions
		});

	</script>
<% end %>