<div class="content container-fluid ps-0">
	<%= render "provider_source_components/top_buttons"%>
	<div  class="row">
		<div class="col-lg-3">
			<%= render "provider_source_components/sub_navbar"%>
		</div>
		<div class="col-lg-9">
			<div class="row border border-4 p-3">
				<div class="col-lg-12">
					<%= render partial: "provider_source_components/header_title", locals: {title: "Health Plans", icon: 'bi-shield-fill-plus'}%>
					<%#= render partial: "provider_source_components/progress_bar", locals: {percent: 0}%>
        <% steps = [['Health Plans','active','javascript:void(0);','health_plans_progress_v2']]%>
        <%= render partial: "provider_source_components/progress_bar", locals: { steps: steps }%>
				</div>
				<div class="col-lg-12 card py-3 mb-3">
					<h4 class="fw-semibold text-secondary mb-3">Health Plans</h4>
					<div class="alert alert-info alert-light-blue">
						<i class="bi bi-info-circle" style="font-size: 20px;"></i>
						<br>
						<small> In order to protect the confidentiality of your provider information, please use the section below to designate which healthcare entities you allow to access your OneApp application data for user in credentialing.</small>
						<br>
						<small> Please note that we do not notify selected Health Plans or Hospitals that you have allowed them to access your OneApp application data.</small>
					</div>
					<div class="row mb-2">
						<div class="col-lg-12 mb-2">
							<label class="text-dark-grey mb-2">Select healthcare facilities for which you authorize to release of information.(please select at least one)</label>
							<div class="form-group">
									<label class="text-dark-grey mb-2">Hospitals (select all health plans and directories for which you authorize to release of information.)<span class="text-danger"> *</span></label>
									<%= HtmlUtils::dropdown name: 'hp_health_plans', multiple: true, placeholder: 'Health Plans' %>
							</div>
						</div>	
						<div class="col-lg-12 mb-2">
							<div class="form-group">
								<label class="text-dark-grey mb-2">Hospitals (select all healthcare facilities for which you authorize to release of information.)</label>
								<%= HtmlUtils::dropdown name: 'hp_hospitals', multiple: true %>
							</div>
						</div>
						<div class="col-lg-12 mb-2">
							<div class="form-group">
								<label class="text-dark-grey mb-2">Directories</label>
								<%= HtmlUtils::dropdown name: 'hp_directories', multiple: true %>
							</div>
						</div>
					</div>
				</div>
				<!-- <div class="col-lg-12 mb-3 d-flex justify-content-end px-0">
		            <button class="btn btn-primary">Save Changes</button>
		        </div> -->

			</div>
		</div>
	</div>
</div>

