<div class="content container-fluid ps-0">
	<%= render "provider_source_components/top_buttons"%>
	<div  class="row">
		<div class="col-lg-3">
			<%= render "provider_source_components/sub_navbar"%>
		</div>
		<div class="col-lg-9">
			<div class="row border border-4 p-3">
				<div class="col-lg-12">
					<%= render partial: "provider_source_components/header_title", locals: {title: "Professional IDs", icon: 'bi-person-badge-fill'}%>
					<%#= render partial: "provider_source_components/progress_bar", locals: {percent: (@provider.professional_ids_progress)}%>
               <% steps = [['Registration IDs','finished', custom_provider_source_path(page: 'professional_ids'), 'registration_ids_progress'],
                     ['Licensure','finished', custom_provider_source_path(page: 'licensure'), 'licensure_progress'],
                     ['Other IDs and Cerfifications','active', custom_provider_source_path(page: 'other_ids'), 'other_ids_certifications_progress'],
            ]%>

        <%= render partial: "provider_source_components/progress_bar", locals: { steps: steps }%>
            <%= render partial: "provider_source_components/form_wizard", locals: {steps: steps}%>
				</div>
				<div class="col-lg-12 card py-3 my-3">
					<h4 class="fw-semibold text-secondary">Medicare</h4>
					<div class="d-flex align-items-center my-3">
								<%= HtmlUtils.radio_toggle name: 'other_id_voluntarily_medicare',
								label: 'Have you ever voluntarily opted for Medicare?',
								hidden_field: true
								%>
					</div>
					<div class="d-flex align-items-center my-3">
								<%= HtmlUtils.radio_toggle name: 'medicare_field',
									label: 'Are you a participating Medicare provider? <span class="text-danger"> *</span>',
									toshow: 'medicare_fields_test',
									hidden_field: true
								%>
					</div>
					<div class="row <%= toggle_hide('medicare_field')%>" id="medicare_fields_test">
						<div class="col-lg-6">
							<label class="text-dark-grey">Medicare Number <span class="text-danger">*</span></label>
							<input type="text" name="participating_medicare_number" required class="form-control border-dark">
						</div>
						<div class="col-lg-6">
							<%= HtmlUtils::dropdown name: 'participating_medicare_state', label: 'Medicare State <span class="text-danger"> *</span>' %>
						</div>
					</div>
				</div>
				<div class="col-lg-12 card py-3 mb-3">
					<h4 class="fw-semibold text-secondary">Medicaid</h4>
					<div class="d-flex align-items-center my-3">
							<%= HtmlUtils.radio_toggle name: 'medicaid_field',
									label: 'Are you a participating Medicaid provider? <span class="text-danger"> *</span>',
									toshow: 'medicaid_fields',
									hidden_field: true
								%>
					</div>
					<div class="row <%=toggle_hide('medicaid_field')%> " id="medicaid_fields">
						<div class="col-lg-6">
							<%= HtmlUtils::dropdown name: 'participating_medicaid_state', label: 'Medicaid State <span class="text-danger"> *</span>' %>
						</div>
						<div class="col-lg-6">
							<label class="text-dark-grey">Medicaid Number <span class="text-danger">*</span></label>
							<input type="text" name="participating_medicaid_number" required class="form-control border-dark medicaid-number">
							<label class="text-dark-grey">
								<input type="checkbox" name="participating_medicaid_no_number" id="participating-medicaid-no-number">
								<strong>I don't have a number</strong>
							</label>
						</div>
					</div>
				</div>
				<div class="col-lg-12 card py-3 mb-3">
					<h4 class="fw-semibold text-secondary mb-3">Other IDs</h4>
					<div class="row mb-2">
						<div class="col-lg-6">
							<div class="form-group">
								<label class="text-dark-grey">TRICARE Provider Number </label>
								<input type="text" name="tricare-provider-name" placeholder="TRICARE Provider Number" class="form-control border-dark">
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group">
								<label class="text-dark-grey">USLME Number </label>
								<input type="text" name="usmle-number" placeholder="USMLE Number" class="form-control border-dark">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6">
							<div class="form-group">
								<label class="text-dark-grey">Workers Compensation Number </label>
								<input type="text" name="workers-compensastion-number" placeholder="Workers Compensation Number" class="form-control border-dark">
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-12 card py-3 mb-3">
					<h4 class="fw-semibold text-secondary">Other Certifications</h4>
					<div class="d-flex align-items-center my-3">
									<%= HtmlUtils.radio_toggle name: 'other_cert_field',
									label: 'Do you hold any other non-specialty related certifications? (e.g., ACLS, BLS, ATLS, CPR, PALS, NALS, Fluoroscopy, Radiography, etc.)',
									toshow: 'other_cert_fields',
									hidden_field: true
								%>
					</div>
					<div class="row <%=toggle_hide('other_cert_field')%>" id="other_cert_fields">
						<div class="col-lg-12 mb-3">
							<label class="text-dark-grey">Certification Type <span class="text-danger">*</span></label>
							<input type="text" class="form-control border-dark" name="other_certification_type" required>
						</div>
						<div class="col-lg-6 mb-3">
							<%= HtmlUtils::dropdown name: 'other_certification_state', label: 'State' %>
						</div>
						<div class="col-lg-6 mb-3">
							<label class="text-dark-grey">Certification Number</label>
							<input type="text" class="form-control border-dark" name="other_certification_number">
						</div>

						<div class="col-lg-6 mb-3">
							<label class="text-dark-grey">Issue Date</label>
							<input type="text" name="other_certification_issue_date" required class="form-control border-dark" placeholder="MM/DD/YYYY" onfocus="(this.type = 'date')">
						</div>
						<div class="col-lg-6 mb-3">
							<label class="text-dark-grey">Expiration Date <span class="text-danger">*</span></label>
							<input type="text" name="other_certification_expiration_date" required class="form-control border-dark other-cert-expire" placeholder="MM/DD/YYYY" onfocus="(this.type = 'date')">
							<label class="text-dark-grey">
								<input type="checkbox" name="other_certification_not_expire" id="other-certification-not-expire">
								<strong>Does not expire</strong>
							</label>
						</div>
					</div>
				</div>
		</div>
	</div>
</div>

<script>
$('#participating-medicaid-no-number').on('change',function(){
    console.log($(this).prop('checked'));
    if($(this).prop('checked'))
    {
      $('.medicaid-number').prop('disabled', true);
      $('.medicaid-number').val('');
    }
    else
      $('.medicaid-number').removeAttr('disabled');
});

$('#other-certification-not-expire').on('change',function(){
    console.log($(this).prop('checked'));
    if($(this).prop('checked'))
    {
      $('.other-cert-expire').prop('disabled', true);
      $('.other-cert-expire').val('');
    }
    else
      $('.other-cert-expire').removeAttr('disabled');

});
</script>
