<div class="content container-fluid ps-0">
	<%= render "provider_source_components/top_buttons"%>
	<div  class="row">
		<div class="col-lg-3">
			<%= render "provider_source_components/sub_navbar"%>
		</div>
		<div class="col-lg-9">
			<div class="row border border-4 p-3">
				<div class="col-lg-12">
					<%= render partial: "provider_source_components/header_title", locals: {title: "Professional IDs", icon: 'bi-person-badge-fill'}%>
					<%= render partial: "provider_source_components/progress_bar", locals: {percent: (@provider.professional_ids_progress)}%>
               <% steps = [['Registration IDs','finished', custom_provider_source_path(page: 'professional_ids')],
                     ['Licensure','finished', custom_provider_source_path(page: 'licensure')],
                     ['Other IDs and Cerfifications','active', custom_provider_source_path(page: 'other_ids')],
            ]%>
            <%= render partial: "provider_source_components/form_wizard", locals: {steps: steps}%>
				</div>
				<div class="col-lg-12 card py-3 my-3">
					<h4 class="fw-semibold text-secondary">Medicare</h4>
					<div class="d-flex align-items-center my-3">
								<%= HtmlUtils.radio_toggle name: 'other_id_voluntarily_medicare',
								label: 'Have you ever voluntarily opted for Medicare?',
								hidden_field: true,
                find_by: @provider.finder('other_id_voluntarily_medicare')
								%>
					</div>
					<div class="d-flex align-items-center my-3">
								<%= HtmlUtils.radio_toggle name: 'medicare_field',
									label: 'Are you a participating Medicare provider? *',
									toshow: 'medicare_fields_test',
									hidden_field: true,
                  find_by: @provider.finder('medicare_field')
								%>
					</div>
					<div class="row <%= toggle_hide('medicare_field')%>" id="medicare_fields_test">
						<div class="col-lg-6">
							<label class="text-dark-grey">Medicare Number *</label>
							<input type="text" name="participating_medicare_number" required class="form-control border-dark">
						</div>
						<div class="col-lg-6">
							<label class="text-dark-grey">Medicare State *</label>
							<select class="form-select border-dark" required name="participating_medicare_state" required>

								<option>Medicare State *</option>
								<% @states.each do |state|%>
								<option value="<%= state.name %>"><%= state.name %></option>
								<% end %>
							</select>
						</div>
					</div>
				</div>
				<div class="col-lg-12 card py-3 mb-3">
					<h4 class="fw-semibold text-secondary">Medicaid</h4>
					<div class="d-flex align-items-center my-3">
							<%= HtmlUtils.radio_toggle name: 'medicaid_field',
									label: 'Are you a participating Medicaid provider? *',
									toshow: 'medicaid_fields',
									hidden_field: true,
                  find_by: @provider.finder('medicaid_field')
								%>
					</div>
					<div class="row <%=toggle_hide('medicaid_field')%> " id="medicaid_fields">
						<div class="col-lg-6">
							<label class="text-dark-grey">Medicaid State *</label>
							<select class="form-select border-dark" required name="participating_medicaid_state" required>

								<option>Medicaid State *</option>
								<% @states.each do |state|%>
								<option value="<%= state.name %>"><%= state.name %></option>
								<% end %>
							</select>
						</div>
						<div class="col-lg-6">
							<label class="text-dark-grey">Medicaid Number *</label>
							<input type="text" name="participating_medicaid_number" required class="form-control border-dark">
							<label class="text-dark-grey">
								<input type="checkbox" name="participating_medicaid_no_number">
								<strong>I don't have a number</strong>
							</label>
						</div>
					</div>
				</div>
				<div class="col-lg-12 card py-3 mb-3">
					<h4 class="fw-semibold text-secondary mb-3">Other IDs</h4>
					<div class="alert alert-info alert-light-blue">
						<i class="bi bi-info-circle" style="font-size: 20px;"></i>
						<br>
						<small>Identification number assigned by TRICARE, a government agency designated to provider healthcare for military personel</small>
						<small>Identification number assigned by United States Medical Licensing Examination (Do not enter hyphen)</small>
						<small>Identification number assigned by United States Department of Labor</small>
					</div>
					<div class="row mb-2">
						<div class="col-lg-6">
							<div class="form-group">
								<label class="text-dark-grey">TRICARE Provider Number </label>
								<input type="text" name="tricare-provider-name" placeholder="TRICARE Provider Number" class="form-control border-dark">
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group">
								<label class="text-dark-grey">USLME Number </label>
								<input type="text" name="usmle-number" placeholder="USMLE Number" class="form-control border-dark">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6">
							<div class="form-group">
								<label class="text-dark-grey">Workers Compensation Number </label>
								<input type="text" name="workers-compensastion-number" placeholder="Workers Compensation Number" class="form-control border-dark">
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-12 card py-3 mb-3">
					<h4 class="fw-semibold text-secondary">Other Certifications</h4>
					<div class="d-flex align-items-center my-3">
									<%= HtmlUtils.radio_toggle name: 'other_cert_field',
									label: 'Do you hold any other non-specialty related certifications? (e.g., ACLS, BLS, ATLS, CPR, PALS, NALS, Fluoroscopy, Radiography, etc.)',
									toshow: 'other_cert_fields',
									hidden_field: true,
                  find_by: @provider.finder('other_cert_field')
								%>
					</div>
					<div class="row <%=toggle_hide('other_cert_field')%>" id="other_cert_fields">
						<div class="col-lg-12 mb-3">
							<label class="text-dark-grey">Certification Type *</label>
							<input type="text" class="form-control border-dark" name="other_certification_type" required>
						</div>
						<div class="col-lg-6 mb-3">
							<label class="text-dark-grey">State</label>
							<select class="form-select border-dark" name="other_certification_state" required>
								<option>State</option>
								<% @states.each do |state|%>
								<option value="<%= state.name %>"><%= state.name %></option>
								<% end %>
							</select>
						</div>
						<div class="col-lg-6 mb-3">
							<label class="text-dark-grey">Certification Number</label>
							<input type="text" class="form-control border-dark" name="other_certification_number">
						</div>

						<div class="col-lg-6 mb-3">
							<label class="text-dark-grey">Issue Date</label>
							<input type="text" name="other_certification_issue_date" required class="form-control border-dark" placeholder="MM/DD/YYYY" onfocus="(this.type = 'date')">
						</div>
						<div class="col-lg-6 mb-3">
							<label class="text-dark-grey">Expiration Date *</label>
							<input type="text" name="other_certification_expiration_date" required class="form-control border-dark" placeholder="MM/DD/YYYY" onfocus="(this.type = 'date')">
							<label class="text-dark-grey">
								<input type="checkbox" name="other_certification_not_expire">
								<strong>Does not expire</strong>
							</label>
						</div>
					</div>
				</div>
		</div>
	</div>
</div>

