<div class="content container-fluid ps-0">
   <%= render "provider_source_components/top_buttons"%>
   <div class="row">
      <div class="col-lg-3">
         <%= render "provider_source_components/sub_navbar"%>
      </div>
      <div class="col-lg-9">
         <div class="row border border-4 p-3">
            <!-- start of form header -->
            <div class="col-lg-12">
               <div class="d-flex gap-2">
                  <span class="bg-medium-grey circle d-flex justify-content-center align-items-center" style="width: 40px;height: 40px;">
                  <i class="bi bi-person-plus-fill text-white" style="font-size: 25px;"></i>
                  </span>
                  <div class="d-flex flex-column">
                     <label>General Information	</label>
                     <small>Please fill out 	all required fields</small>
                  </div>
               </div>
            </div>
            <%= render partial: "provider_source_components/progress_bar", locals: {percent: (@provider.general_information_progress)}%>
            <% steps = [['NAME AND HOME ADDRESS','finished', custom_provider_source_path], ['PERSONAL INFORMATION', 'active', custom_provider_source_path(page: 'personal_info')]]%>
            <%= render partial: "provider_source_components/form_wizard", locals: {steps: steps}%>
            <div class="col-lg-12 my-3">
               <form>
                  <div class="row mb-3">
                     <div class="col-lg-6">
                        <label class="form-label">Gender*</label>
                        <select name="ps-gender" class="form-select">
                           <option value="male">Male</option>
                           <option value="female">Female</option>
                           <option value="non-binary">Non-binary</option>
                           <option value="x">X</option>
                        </select>
                     </div>
                     <div class="col-lg-6">
                        <label class="form-label">Date for Birth*</label>
                        <input name="ps-dob" type="date" class="form-control" name="">
                     </div>
                  </div>
                  <div class="row mb-3">
                     <div class="col-lg-6">
                        <label class="form-label">Citizenship*</label>
                        <select name="ps-citizenship" class="form-select">
                           <% @countries.each do |country|%>
                           <option value="<%= country%>"><%= country%></option>
                           <% end %>
                        </select>
                     </div>
                     <div class="col-lg-6">
                        <label class="form-label">Country of Birth</label>
                        <select name="ps-cob" class="form-select"></select>
                     </div>
                  </div>
                  <div class="row mb-3">
                     <div class="d-flex justify-content-between ">
                        <label class="form-label">Do you have a Social Security Number?</label>
                        <div class="d-flex me-4 gap-2">
                           <span>
                           <input type="radio" value="yes" name="ps-ssn">
                           <span>YES</span>
                           </span>
                           <span>
                           <input type="radio" value="no" name="ps-ssn">
                           <span>NO</span>
                           </span>
                        </div>
                     </div>
                     <div class="col-lg-12 d-none" id="ssn_field">
                        <label class="form-label">Social Security Number*</label>
                        <input type="text" name="social-security-number" id="social-security-number" class="form-control">
                     </div>
                  </div>
                  <hr>
                  <div class="row mb-3">
                     <div class="d-flex justify-content-between ">
                        <label class="form-label">Do you have a legal right to reside in the United States?*</label>
                        <div class="d-flex me-4 gap-2">
                           <span>
                           <input type="radio" value="yes" name="reside-on-us">
                           <span>YES</span>
                           </span>
                           <span>
                           <input type="radio" value="no" name="reside-on-us">
                           <span>NO</span>
                           </span>
                        </div>
                     </div>
                  </div>
                  <div class="row mb-3">
                     <div class="d-flex justify-content-between ">
                        <label class="form-label">Do you have a legal right to work in the United States*</label>
                        <div class="d-flex me-4 gap-2">
                           <span>
                           <input type="radio" value="yes" name="work-on-us">
                           <span>YES</span>
                           </span>
                           <span>
                           <input type="radio" value="no" name="work-on-us">
                           <span>NO</span>
                           </span>
                        </div>
                     </div>
                  </div>
                  <div class="row mb-3">
                     <div class="d-flex justify-content-between ">
                        <label class="form-label">Do you hold a permanent work permit?*</label>
                        <div class="d-flex me-4 gap-2">
                           <span>
                           <input type="radio" value="yes" name="permanent-work-permit">
                           <span>YES</span>
                           </span>
                           <span>
                           <input type="radio" value="no" name="permanent-work-permit">
                           <span>NO</span>
                           </span>
                        </div>
                     </div>
                  </div>
                  <div class="row mb-3">
                     <div class="col-lg-6">
                        <label class="form-label">Foreign National Identification Number</label>
                        <input type="text" name="foreign-national-identification-number" class="form-control" name="">
                     </div>
                     <div class="col-lg-6">
                        <label class="form-label">FNIN Country of Issue</label>
                        <select name="fnin-country-of-issue" class="form-select">
                           <% @countries.each do |country|%>
                           <option value="<%= country %>"><%= country %></option>
                           <% end %>
                        </select>
                     </div>
                  </div>
                  <div class="row mb-3">
                     <div class="col-lg-6">
                        <label class="form-label">Visa Number</label>
                        <input type="text" name="visa-number" class="form-control" name="">
                     </div>
                     <div class="col-lg-6">
                        <label class="form-label">Visa Type</label>
                        <select name="visa-type" class="form-select">
                           <option selected="selected" value=""></option>
                           <option value="A-1">A-1</option>
                           <option value="A-2">A-2</option>
                           <option value="A-3">A-3</option>
                           <option value="B-1">B-1</option>
                           <option value="B-2">B-2</option>
                           <option value="C-1">C-1</option>
                           <option value="C-2">C-2</option>
                           <option value="C-3">C-3</option>
                           <option value="C-4">C-4</option>
                           <option value="D-1">D-1</option>
                           <option value="D-2">D-2</option>
                           <option value="E-1">E-1</option>
                           <option value="E-2">E-2</option>
                           <option value="E-3">E-3</option>
                           <option value="F-1">F-1</option>
                           <option value="F-2">F-2</option>
                           <option value="G-1">G-1</option>
                           <option value="G-2">G-2</option>
                           <option value="G-3">G-3</option>
                           <option value="G-4">G-4</option>
                           <option value="G-5">G-5</option>
                           <option value="H-1B">H-1B</option>
                           <option value="H-1B1">H-1B1</option>
                           <option value="H-1C">H-1C</option>
                           <option value="H-2A">H-2A</option>
                           <option value="H-2B">H-2B</option>
                           <option value="H-3">H-3</option>
                           <option value="H-4">H-4</option>
                           <option value="I">I</option>
                           <option value="J-1">J-1</option>
                           <option value="J-2">J-2</option>
                           <option value="L-1">L-1</option>
                           <option value="L-2">L-2</option>
                           <option value="M-1">M-1</option>
                           <option value="M-2">M-2</option>
                           <option value="NATO 1-7">NATO 1-7</option>
                           <option value="O-1">O-1</option>
                           <option value="O-2">O-2</option>
                           <option value="O-3">O-3</option>
                           <option value="P-1">P-1</option>
                           <option value="P-2">P-2</option>
                           <option value="P-3">P-3</option>
                           <option value="P-4">P-4</option>
                           <option value="Q-1">Q-1</option>
                           <option value="Q-2">Q-2</option>
                           <option value="Q-3">Q-3</option>
                           <option value="R-1">R-1</option>
                           <option value="R-2">R-2</option>
                           <option value="TD">TD</option>
                           <option value="TN-1">TN-1</option>
                           <option value="WB">WB</option>
                           <option value="WT">WT</option>
                        </select>
                     </div>
                  </div>
                  <div class="row mb-3">
                     <div class="col-lg-6">
                        <label class="form-label">Visa Status</label>
                        <select name="visa-status" class="form-select">
                           <option selected="selected" value=""></option>
                           <option value="In Status">In Status</option>
                           <option value="Out of Status">Out of Status</option>
                        </select>
                     </div>
                  </div>
                  <div class="row my-3">
                     <div class="col-lg-12">
                        <label class="form-label">Please select all the languages you speak *</label>
                        <!-- multi-select -->
                        <select name="languages-you-speak" required class="form-control" id="multi-select" multiple style="height: 150px;">
                           <option value="">Select option</option>
                           <% @languages.each do |language|%>
                           <option value="<%= language.name %>"><%= language.name %></option>
                           <% end %>
                        </select>
                     </div>
                  </div>
                  <div class="row my-3">
                     <div class="col-lg-12">
                        <label class="form-label">Please select all the languages you write *</label>
                        <select name="languages-you-write" class="form-control" id="multi-select" multiple style="height: 150px;">
                           <!-- multi-select -->
                           <option value="">Select option</option>
                           <% @languages.each do |language|%>
                           <option value="<%= language.name %>"><%= language.name %></option>
                           <% end %>
                        </select>
                     </div>
                  </div>
                  <div class="row mb-3">
                     <div class="col-lg-6">
                        <label class="form-label">Ethnicity*</label>
                        <select class="form-control" required name="ethnicity">
                           <option value=""></option>
                           <option value="American Indian/Alaska Native American">American Indian/Alaska Native American</option>
                           <option selected="selected" value="Asian/Pacific Islander">Asian/Pacific Islander</option>
                           <option value="Black/African American">Black/African American</option>
                           <option value="Caucasian">Caucasian</option>
                           <option value="Hispanic/Latino">Hispanic/Latino</option>
                           <option value="Not Listed">Not Listed</option>
                        </select>
                     </div>
                     <div class="col-lg-6">
                        <label class="form-label">Marital Status</label>
                        <select class="form-control">
                           <option selected="selected" value=""></option>
                           <option value="Domestic Partner">Domestic Partner</option>
                           <option value="Divorced">Divorced</option>
                           <option value="Married">Married</option>
                           <option value="Single">Single</option>
                           <option value="Widowed">Widowed</option>
                        </select>
                     </div>
                  </div>
                  <div class="row card mb-3 p-3">
                     <div class="col-lg-12">
                        <h4 class="fw-semibold text-secondary mb-3">Emergency Contact</h4>
                        <div class="row mb-3">
                           <div class="col-lg-4">
                              <label class="form-label">First Name</label>
                              <input type="text" name="emergency-first-name" class="form-control">
                           </div>
                           <div class="col-lg-4">
                              <label class="form-label">Middle Name</label>
                              <input type="text" name="emergency-middle-name" class="form-control">
                           </div>
                           <div class="col-lg-4">
                              <label class="form-label">Last Name</label>
                              <input type="text" name="emergency-last-name" class="form-control">
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-lg-12">
                              <label class="form-label">Emergency Contact Phone Number</label>
                              <input type="text" name="emergency-contact-phone-number" class="form-control">
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-lg-12 mb-3 d-flex justify-content-end px-0">
                        <button class="btn btn-primary">Save Changes</button>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>
<% content_for :js do %>
<script>
   VirtualSelect.init({
   	 ele: '.multi-select'
   });

   $('input[name="ps-ssn"]').on('change',function(){
   	$(this).val() == 'yes' ? $('#ssn_field').removeClass('d-none') : $('#ssn_field').addClass('d-none');
   });
</script>
<% end %>
