<div class="content container-fluid ps-0">
   <%= render "provider_source_components/top_buttons"%>
   <div class="row">
      <div class="col-lg-3">
         <%= render "provider_source_components/sub_navbar"%>
      </div>
      <div class="col-lg-9">
         <div class="row border border-4 p-3">
            <!-- start of form header -->
            <div class="col-lg-12">
               <div class="d-flex gap-2">
                  <span class="bg-medium-grey circle d-flex justify-content-center align-items-center" style="width: 40px;height: 40px;">
                  <i class="bi bi-person-plus-fill text-white" style="font-size: 25px;"></i>
                  </span>
                  <div class="d-flex flex-column">
                     <label class="text-dark-grey">General Information	</label>
                     <small>Please fill out 	all required fields</small>
                  </div>
               </div>
            </div>
            <%#= render partial: "provider_source_components/progress_bar", locals: {percent: (@provider.general_information_progress)}%>
            <% steps = [['NAME AND HOME ADDRESS','finished', custom_provider_source_path, 'home_and_address_progress'], ['PERSONAL INFORMATION', 'active', custom_provider_source_path(page: 'personal_info'), 'personal_info_progress']]%>

        <%= render partial: "provider_source_components/progress_bar", locals: { steps: steps }%>
            <%= render partial: "provider_source_components/form_wizard", locals: {steps: steps}%>
            <div class="col-lg-12 my-3">
               <form>
                  <div class="row mb-3">
                     <div class="col-lg-6">
                        <label class="text-dark-grey">Gender<span class="text-danger">*</span></label>
                        <select name="ps-gender" class="form-select border-dark"  >
                           <option value ="">Gender</option>
                           <option value="male">Male</option>
                           <option value="female">Female</option>
                           <option value="non-binary">Non-binary</option>
                           <option value="x">X</option>
                        </select>
                     </div>
                     <div class="col-lg-6">
                        <label class="text-dark-grey">Date for Birth<span class="text-danger">*</span></label>
                        <span class="ms-2" data-bs-toggle="tooltip" data-bs-placement="right" 
                           title="- Required Fields Type the date as mm/dd/yyyy or select from the calendar.">
                           <i class="bi bi-info-circle text-primary fs-5"></i>
                        </span>
                        <input name="ps-dob" type="date" class="form-control border-dark" name="">
                     </div>
                  </div>
                  <div class="row mb-3">
                     <div class="col-lg-6">
                        <label class="text-dark-grey">Citizenship<span class="text-danger">*</span></label>
                        <div class="single-select multi-select-ps-citizenship form-select border-dark" name="ps-citizenship" id="ps-citizenship" placeholder="Citizenship* "></div>
                     </div>
                     <div class="col-lg-6">
                        <label class="text-dark-grey">Country of Birth</label>
                        <div class="single-select multi-select-ps-cob form-select border-dark" name="ps-cob" id="ps-cob" placeholder="Country of Birth "></div>
                     </div>

                  </div>
                  <div class="row mb-3">
                     <div class="d-flex justify-content-between ">
                        <label class="text-dark-grey">Do you have a Social Security Number?<span class="text-danger">*</label>
                        <div class="d-flex me-4 gap-2">
                           <span>
                           <input type="radio" value="yes" name="ps-ssn">
                           <span>YES</span>
                           </span>
                           <span>
                           <input type="radio" value="no" name="ps-ssn">
                           <span>NO</span>
                           </span>
                        </div>
                     </div>
                     <div class="col-lg-12 d-none" id="ps-ssn-holder">
                        <label class="text-dark-grey">Social Security Number<span class="text-danger">*</span></label>
                        <input type="text" name="social-security-number" id="social-security-number" class="form-control border-dark" placeholder="Social Security Number">
                     </div>
                  </div>
                  <hr>
                  <div class="row mb-3">
                     <div class="d-flex justify-content-between ">
                        <label class="text-dark-grey">Do you have a legal right to reside in the United States?<span class="text-danger">*</span></label>
                        <div class="d-flex me-4 gap-2">
                           <span>
                           <input type="radio" value="yes" name="reside-on-us">
                           <span>YES</span>
                           </span>
                           <span>
                           <input type="radio" value="no" name="reside-on-us">
                           <span>NO</span>
                           </span>
                        </div>
                     </div>
                  </div>
                  <div class="row mb-3">
                     <div class="d-flex justify-content-between ">
                        <label class="text-dark-grey">Do you have a legal right to work in the United States<span class="text-danger">*</span></label>
                        <div class="d-flex me-4 gap-2">
                           <span>
                           <input type="radio" value="yes" name="work-on-us">
                           <span>YES</span>
                           </span>
                           <span>
                           <input type="radio" value="no" name="work-on-us">
                           <span>NO</span>
                           </span>
                        </div>
                     </div>
                  </div>
                  <div class="row mb-3">
                     <div class="d-flex justify-content-between ">
                        <label class="text-dark-grey">Do you hold a permanent work permit?<span class="text-danger">*</span></label>
                        <div class="d-flex me-4 gap-2">
                           <span>
                           <input type="radio" value="yes" name="permanent-work-permit">
                           <span>YES</span>
                           </span>
                           <span>
                           <input type="radio" value="no" name="permanent-work-permit">
                           <span>NO</span>
                           </span>
                        </div>
                     </div>
                  </div>
                  <div class="row mb-3">
                     <div class="col-lg-6">
                        <label class="text-dark-grey">Foreign National Identification Number (assigned by Internal Revenue Service) </label>
                        <input type="text" name="foreign-national-identification-number" class="form-control border-dark" placeholder="Foreign National Identification Number">
                     </div>
                     <div class="col-lg-6">
                        <label class="text-dark-grey">FNIN Country of Issue</label>
                        <div class="single-select multi-select-fnin-country-of-issue form-select border-dark" name="fnin-country-of-issue" id="fnin-country-of-issue" placeholder="FNIN Country of Issue "></div>
                     </div>
                  </div>
                  <div class="row mb-3">
                     <div class="col-lg-6">
                        <label class="text-dark-grey">Visa Number</label>
                        <input type="text" name="visa-number" class="form-control border-dark" placeholder="Visa Number">
                     </div>
                     <div class="col-lg-6">
                        <%= HtmlUtils::dropdown name: 'gi-visa-types', label: 'Visa Type' %>
                     </div>
                  </div>
                  <div class="row mb-3">
                     <div class="col-lg-6">
                        <label class="text-dark-grey">Visa Status</label>
                        <select name="visa-status" class="form-select border-dark">
                            <option value ="">Visa Status</option>
                           <option value="In Status">In Status</option>
                           <option value="Out of Status">Out of Status</option>
                        </select>
                     </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-lg-6">
                      <label class="text-dark-grey">Visa Issue Date</label>
                      <input id="visa-issue-date" name="ps-vid" type="date" class="form-control border-dark">
                    </div>
                    <div class="col-lg-6">
                      <label class="text-dark-grey">Visa Expiration Date</label>
                      <input id="visa-expire-date" name="ps-ved" type="date" class="form-control border-dark" disabled>
                    </div>
                  </div>
                  <div class="row my-3">
                      <div class="col-lg-12">
                        <span class="ms-2" data-bs-toggle="tooltip" data-bs-placement="right" 
                           title="Type the first few letters of the language. Click on the correct language, then click the Add to List button. Repeat to add more languages.">
                           <i class="bi bi-info-circle text-primary fs-5"></i>
                        </span>
                        <div class="custom-dropdown-wrapper position-relative">
                          <%= HtmlUtils::dropdown name: 'languages-you-speak', label: 'Please select all the languages you speak <span class="text-danger">*</span>', multiple: true, class: 'custom-dropdown form-select pe-5' %>
                          <i class="fa fa-chevron-down dropdown-icon"></i>
                        </div>
                     </div>
                  </div>
                  <div class="row my-3">
                     <div class="col-lg-12">
                        <span class="ms-2" data-bs-toggle="tooltip" data-bs-placement="right" 
                           title="Type the first few letters of the language. Click on the correct language, then click the Add to List button. Repeat to add more languages.">
                           <i class="bi bi-info-circle text-primary fs-5"></i>
                        </span>
                        <div class="custom-dropdown-wrapper position-relative">
                          <%= HtmlUtils::dropdown name: 'languages-you-write', label: 'Please select all the languages you write <span class="text-danger">*</span>', multiple: true, class: 'custom-dropdown form-select pe-5' %>
                          <i class="fa fa-chevron-down dropdown-icon"></i>
                        </div>
                     </div>
                  </div>
                  <div class="row mb-3">
                     <div class="col-lg-6">
                        <label class="text-dark-grey">Ethnicity<span class="text-danger"> *</span></label>
                        <select class="form-select border-dark" required name="ethnicity">
                           <option value="">Ethnicity</option>
                           <option value="American Indian/Alaska Native American">American Indian/Alaska Native American</option>
                           <option selected="selected" value="Asian/Pacific Islander">Asian/Pacific Islander</option>
                           <option value="Black/African American">Black/African American</option>
                           <option value="Caucasian">Caucasian</option>
                           <option value="Hispanic/Latino">Hispanic/Latino</option>
                           <option value="Not Listed">Not Listed</option>
                        </select>
                     </div>
                     <div class="col-lg-6">
                        <label class="text-dark-grey">Marital Status</label>
                        <select class="form-select border-dark select2" required name="marital-status">
                           <option value="">Marital Status</option>
                           <option value="Domestic Partner">Domestic Partner</option>
                           <option value="Divorced">Divorced</option>
                           <option value="Married">Married</option>
                           <option value="Single">Single</option>
                           <option value="Widowed">Widowed</option>
                        </select>
                     </div>
                  </div>
                  <div class="row card mb-3 p-3">
                     <div class="col-lg-12">
                        <h4 class="fw-semibold text-secondary mb-3">Emergency Contact</h4>
                        <div class="row mb-3">
                          <div class="col-lg-4">
                            <label class="text-dark-grey">First Name</label>
                            <input type="text" id="emergency-first-name" name="emergency-first-name" class="form-control border-dark" placeholder="First Name" oninput="validateEmergencyName(this)">
                            <small id="emergency-first-name-error" class="text-danger d-none">Only alphabets and spaces are allowed</small>
                          </div>
                          <div class="col-lg-4">
                            <label class="text-dark-grey">Middle Name</label>
                            <input type="text" id="emergency-middle-name" name="emergency-middle-name" class="form-control border-dark" placeholder="Middle Name" oninput="validateEmergencyName(this)">
                            <small id="emergency-middle-name-error" class="text-danger d-none">Only alphabets and spaces are allowed</small>
                          </div>
                          <div class="col-lg-4">
                            <label class="text-dark-grey">Last Name</label>
                            <input type="text" id="emergency-last-name" name="emergency-last-name" class="form-control border-dark" placeholder="Last Name" oninput="validateEmergencyName(this)">
                            <small id="emergency-last-name-error" class="text-danger d-none">Only alphabets and spaces are allowed</small>
                          </div>
                        </div>

                        <div class="row">
                              <div class="form-group">
                                <label class="text-dark-grey">Emergency Contact Phone Number</label>
                                <input 
                                  type="text" 
                                  name="emergency-contact-phone-number" 
                                  class="form-control border-dark"
                                  id="emergency-contact-phone"
                                  maxlength="10"
                                  oninput="validateEmergencyPhone()"
                                  placeholder="Enter 10-digit Phone Number"
                                >
                                <small id="phone-error" class="text-danger d-none">Phone number must be exactly 10 digits. Alphabets are not allowed.</small>
                              </div>
                        </div>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>

<% content_for :js do %>
<script>
   $('input[name="ps-ssn"]').on('change',function(){
       $(this).val() == 'yes' ? $('#ps-ssn-holder').removeClass('d-none') : $('#ps-ssn-holder').addClass('d-none');
   });
  document.addEventListener("DOMContentLoaded", () => {
    function setupDateFields(issueId, expireId) {
      const issueDateInput = document.getElementById(issueId);
      const expireDateInput = document.getElementById(expireId);

      if (!issueDateInput || !expireDateInput) return;

      // When issue date changes
      issueDateInput.addEventListener("change", () => {
        const issueDateValue = issueDateInput.value;
        if (issueDateValue) {
          const issueDate = new Date(issueDateValue);
          const today = new Date();
          today.setHours(0, 0, 0, 0);

          const minExpireDate = issueDate > today ? issueDate : today;
          const minDateStr = minExpireDate.toISOString().split('T')[0];

          expireDateInput.disabled = false;
          expireDateInput.min = minDateStr;

          if (expireDateInput.value && new Date(expireDateInput.value) < minExpireDate) {
            alert(`Expiration date must be after ${minDateStr}`);
            expireDateInput.value = '';
          }
        } else {
          expireDateInput.disabled = true;
          expireDateInput.value = '';
          expireDateInput.removeAttribute("min");
        }
      });

      // Prevent focusing Expire Date before Issue Date
      expireDateInput.addEventListener("focus", () => {
        if (expireDateInput.disabled) {
          alert("Please select Issue Date first.");
          expireDateInput.blur();
        }
      });
    }

    // ✅ Apply only to Visa
    setupDateFields("visa-issue-date", "visa-expire-date");
  });
  function validateEmergencyPhone() {
    const input = document.getElementById("emergency-contact-phone");
    const error = document.getElementById("phone-error");

    // Remove non-digit characters
    input.value = input.value.replace(/\D/g, '');

    // Show error if not 10 digits and field is not empty
    if (input.value.length > 0 && input.value.length !== 10) {
      error.classList.remove("d-none");
    } else {
      error.classList.add("d-none");
    }
  }

  function validateEmergencyName(input) {
     const cleaned = input.value.replace(/[^a-zA-Z\s]/g, '');
     const error = document.getElementById(`${input.id}-error`);

     if (input.value !== cleaned) {
       input.value = cleaned;
       error.classList.remove("d-none");
     } else {
       error.classList.add("d-none");
     }
   }

</script>
<% end %>
<style>
  .custom-dropdown-wrapper {
    position: relative;
    width: 100%;
  }

  .custom-dropdown {
    width: 100%;
    padding-right: 2.5rem; /* Space for icon */
  }

  .dropdown-icon {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    pointer-events: none;
    color: #888;
  }
</style>