<div class="content container-fluid ps-0">
	<%= render "provider_source_components/top_buttons"%>
	<div class="row">
		<div class="col-lg-3">
			<%= render "provider_source_components/sub_navbar"%>
		</div>
		<div class="col-lg-9">
			<div class="row border border-4 p-3">
				<!-- start of form header -->
				<div class="col-lg-12 mb">
					<div class="d-flex gap-2">
				 		<span class="bg-medium-grey circle d-flex justify-content-center align-items-center" style="width: 40px;height: 40px;">
				 			<!-- <i class="bi "></i> -->
				 			<i class="bi bi-arrow-counterclockwise text-white" style="font-size: 25px;"></i>
				 		</span>
				 		<div class="d-flex flex-column">
				 			<label>Practice Information</label>
				 			<small>Please fill out 	all required fields</small>
				 		</div>
					</div>
				</div>
				<%= render partial: "provider_source_components/progress_bar", locals: {percent: 0}%>
				<% steps = [['Credentialing Contact','active', custom_provider_source_path(page: 'practical_information')],
							['Practice Location','inactive', custom_provider_source_path(page: 'practice_location')],
							# ['Employment Gap','active', custom_provider_source_path(page: 'employment_gap')],
							['Covering Colleagues','inactive', custom_provider_source_path(page: 'covering_colleagues')],
							['Unique Circumstances','inactive', custom_provider_source_path(page: 'unique_circumstances')],
				]%>
				<%= render partial: "provider_source_components/form_wizard", locals: {steps: steps}%>
				<div class="col-lg-12 my-3">
					<div class="alert alert-info alert-light-blue">
						<i class="bi bi-info-circle" style="font-size: 20px;"></i>
						<small>Please designate a single contact for your credentialing information.</small>
					</div>
				</div>
				<%= render "provider_source_components/credentialing_contact_form"%>
			</div>
		</div>
	</div>
</div>