<div class="content container-fluid ps-0">
	<%= render "provider_source_components/top_buttons"%>
	<div class="row">
		<div class="col-lg-3">
			<%= render "provider_source_components/sub_navbar"%>
		</div>
		<div class="col-lg-9">
			<div class="row border border-4 p-3">
				<!-- start of form header -->
				<div class="col-lg-12 mb">
					<div class="d-flex gap-2">
				 		<span class="bg-medium-grey circle d-flex justify-content-center align-items-center" style="width: 40px;height: 40px;">
				 			<!-- <i class="bi "></i> -->
				 			<i class="bi bi-arrow-counterclockwise text-white" style="font-size: 25px;"></i>
				 		</span>
				 		<div class="d-flex flex-column">
				 			<label class="text-dark-grey">Employment</label>
				 			<small>Please fill out 	all required fields</small>
				 		</div>
					</div>
				</div>
				<%#= render partial: "provider_source_components/progress_bar", locals: {percent: (@provider.work_history_progress)}%>
				<% steps = [['Military History','finished', custom_provider_source_path(page: 'work_history'), 'work_history_military_progress'],
							['Employment','finished', custom_provider_source_path(page: 'employment'), 'work_history_employment_progress'],
							['Employment Gap','finished', custom_provider_source_path(page: 'employment_gap'), 'work_history_employment_gap_progress'],
							['Professional References','active', custom_provider_source_path(page: 'prof_references'), 'professional_references_progress'],
							['Professional Organization','inactive', custom_provider_source_path(page: 'prof_organization'), 'professional_organization_progress'],
				]%>


        <%= render partial: "provider_source_components/progress_bar", locals: { steps: steps }%>
				<%= render partial: "provider_source_components/form_wizard", locals: {steps: steps}%>
				<div class="col-lg-12 my-3">
					<div class="alert alert-info alert-light-blue">
						<i class="bi bi-info-circle" style="font-size: 20px;"></i>
						<small>Please provide three professional references to whom you are not related and who are not partners in your practice. </small>
					</div>
				</div>
				<div class="col-lg-12">
					<%= render "provider_source_components/references_form"%>
				</div>
			</div>
		</div>
	</div>
</div>