<div class="content container-fluid ps-0">
	<%= render "provider_source_components/top_buttons"%>
	<div class="row">
		<div class="col-lg-3">
			<%= render "provider_source_components/sub_navbar"%>
		</div>
		<div class="col-lg-9">
			<div class="row border border-4 p-3">
				<!-- start of form header -->
				<div class="col-lg-12 mb">
					<div class="d-flex gap-2">
				 		<span class="bg-medium-grey circle d-flex justify-content-center align-items-center" style="width: 40px;height: 40px;">
				 			<i class="bi bi-mortarboard-fill text-white" style="font-size: 25px;"></i>
				 		</span>
				 		<div class="d-flex flex-column">
				 			<label>Professional Liability Coverage and Claims History</label>
				 			<small>Please fill out 	all required fields</small>
				 		</div>
					</div>
				</div>
				<%= render partial: "provider_source_components/progress_bar", locals: {percent: 0}%>
				<% steps = [['PROFESSIONAL LIABILITY','active', custom_provider_source_path(page: 'professional_liability')]]%>
				<%= render partial: "provider_source_components/form_wizard", locals: {steps: steps}%>
				<div class="col-lg-12 card py-3 my-3">
					<h4 class="fw-semibold text-secondary mb-3">Professional Liability Coverage and Claims History</h4>

					<div class="alert alert-info alert-light-blue">
						<i class="bi bi-info-circle" style="font-size: 20px;"></i><br>
						<small>Please enter all professional liability coverage and claims history information. For claims made against you at any time provide information for each case under Professional Liability Claims History. </small><br>
						<small>Please ensure your current professional liability coverage is not expiring within 30 days.</small>
					</div>

					<div class="row">
						<div class="col-lg-12">
							<div class="d-flex align-items-center my-3">
						      <button type="button" class="btn btn-xs btn-toggle" data-toggle="button" aria-pressed="false" autocomplete="off">
						        <div class="handle"></div>
						      </button>
						    	<label class="ms-2">Do you have a Sovereign Immunity document?*</label>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="d-flex align-items-center my-3">
						      <button type="button" class="btn btn-xs btn-toggle" data-toggle="button" aria-pressed="false" autocomplete="off">
						        <div class="handle"></div>
						      </button>
						    	<label class="ms-2">Do/Did you have professional liability coverage within the past ten (10) years?</label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<div class="alert alert-info alert-light-blue">
								<i class="bi bi-info-circle" style="font-size: 20px;"></i>
								<small>Self-insurance claims are paid by a self-insurance trust fund or employer. Answer
            no if you are insured through an insurance carrier.</small>
							</div>
						</div>
					</div><!--  start of divider -->
						<div class="row my-3">
							<div class="col-lg-12">
								<div class="d-flex align-items-center divider gap-3 ">
									<span class="line flex-grow-1 bg-medium-grey"></span>
									<div class="bg-medium-grey rounded px-3 py-2">
										<h6 class="my-0 text-secondary">POLICY 1</h6>
									</div>
									<span class="line flex-grow-1 bg-medium-grey"></span>
								</div>
							</div>
						</div>
						<!-- end of divider -->
					<div class="row">
						<div class="col-lg-12">
							<div class="d-flex align-items-center my-3">
						      <button type="button" class="btn btn-xs btn-toggle" data-toggle="button" aria-pressed="false" autocomplete="off">
						        <div class="handle"></div>
						      </button>
						    	<label class="ms-2">Are you self-insured?</label>
							</div>
						</div>
						<div class="col-lg-12">
							<%= render "provider_source_components/liability_form"%>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>