<div class="content container-fluid ps-0">
	<%= render "provider_source_components/top_buttons"%>
	<div class="row">
		<div class="col-lg-3">
			<%= render "provider_source_components/sub_navbar"%>
		</div>
		<div class="col-lg-9">
			<div class="row border border-4 p-3">
				<!-- start of form header -->
				<div class="col-lg-12 mb">
					<div class="d-flex gap-2">
				 		<span class="bg-medium-grey circle d-flex justify-content-center align-items-center" style="width: 40px;height: 40px;">
				 			<i class="bi bi-mortarboard-fill text-white" style="font-size: 25px;"></i>
				 		</span>
				 		<div class="d-flex flex-column">
				 			<label class="text-dark-grey">Professional Liability Coverage and Claims History</label>
				 			<small>Please fill out 	all required fields. Required fields are marked with <span class="text-danger"> *</span>. </small>
				 		</div>
					</div>
				</div>
				<%#= render partial: "provider_source_components/progress_bar", locals: {percent: 0}%>
				<% steps = [['PROFESSIONAL LIABILITY','active', custom_provider_source_path(page: 'professional_liability'), 'professional_liability_progress_v2']]%>
        
        <%= render partial: "provider_source_components/progress_bar", locals: { steps: steps }%>
				<%= render partial: "provider_source_components/form_wizard", locals: {steps: steps}%>
				<div class="col-lg-12 card py-3 my-3">
					<h4 class="fw-semibold text-secondary mb-3">Coverage and Claims History</h4>

					<div class="alert alert-info alert-light-blue">
						<i class="bi bi-info-circle" style="font-size: 20px;"></i><br>
						<small>Please enter all professional liability coverage and claims history information. For claims made against you at any time provide information for each case under Professional Liability Claims History. </small><br>
						<small>Please ensure your current professional liability coverage is not expiring within 30 days.</small>
					</div>
					<div class="row mb-3">
						<div class="col-lg-12">
								<div class="d-flex justify-content-between my-3">
										<%= HtmlUtils.radio_options name: 'has_sovereign_immunity', label: 'Do you have a Sovereign Immunity document? <span class="text-danger"> *</span>' %>
								</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-12">
								<div class="d-flex justify-content-between">
										<label class="text-dark-grey">Do/Did you have professional liability coverage within the past ten (10) years? <span class="text-danger"> *</span></label>
									<div class="d-flex me-4 gap-2">
										<div class="gap-2">
											<input type="radio" name="has_liability_coverage" class="liability-coverage-rbtn" data-form='self_insurance_fields' value="yes">
											<span>YES</span>
										</div>	
										<div class="gap-2">
											<input type="radio" name="has_liability_coverage" class="liability-coverage-rbtn" data-form='self_insurance_fields' value="no" >
											<span>NO</span>
										</div>
									</div>
								</div>	
						    </div>	
						<div class="col-lg-12" id="lack_of_liability_form" style="display: none;">
							<label class="text-dark-grey">Please explain your lack of Professional Liability Coverage.</label>
							<textarea class="form-control border-dark" name="lf_lack_of_liability_coverage" rows="5"></textarea>
						</div>
					</div>
   <div class="<%= toggle_hide_current_provider_source('has_liability_coverage', @provider) %>" id="self_insurance_fields">
						<div class="row my-3">
							<div class="col-lg-12">
								<div class="d-flex align-items-center divider gap-3 ">
									<span class="line flex-grow-1 bg-medium-grey"></span>
									<div class="bg-medium-grey rounded px-3 py-2">
										<h6 class="my-0 text-secondary">POLICY 1</h6>
									</div>
									<span class="line flex-grow-1 bg-medium-grey"></span>
								</div>
							</div>
						</div>
						<!-- end of divider -->
						<div class="col-lg-12 card p-3">	
						<div class="row mb-3 mt-3">	
							<div class="col-lg-12">
							<div class=" d-flex align-items-center my-3">
									<%= HtmlUtils.radio_toggle name: 'is_self_insured',
													label: 'Are you self-insured? <span class="text-danger"> *</span>
													<span class="ms-2" data-bs-toggle="tooltip" data-bs-placement="right" 
														title="Self-insured claims are paid by a self-insurance trust fund or employer, and not through an insurance carrier. Answer NO if you are insured through a carrier. Please start with your latest insurance details.">
														<i class="bi bi-info-circle text-primary fs-5"></i>
													</span>
													',
													toshow: 'insured_form_fields',
													tochange: 'is_self_insured',
													tohide: 'not_insured_form_fields'
											%>
							</div>
						</div>
						</div>
						<div class="col-lg-12">
              <div id="not_insured_form_fields" class="<%= @provider.fetch('is_self_insured') == 'no' ? '' : 'd-none' %>">
							<%= render "provider_source_components/not_insured_form"%>
              </div>
              <div id="insured_form_fields" class="<%= @provider.fetch('is_self_insured') == 'yes' ? '' : 'd-none' %>">
                <%= render "provider_source_components/insured_form"%>
              </div>
						</div>
					</div>
          </div>
					<div class="col-lg-12 card p-3 mt-3">	
						<div class="row mb-3 mt-3">	
							<div class="col-lg-12">
					 <div class="d-flex justify-content-between">
							 <label class="text-dark-grey">Was this policy involved in a malpractice claim? <span class="text-danger"> *</label>
						 <div class="d-flex me-4 gap-2">
							 <div class="gap-2">
								 <input type="radio" name="has_malpractice_claim" class="radio-with-form" data-form='malpractice_form' value="yes" checked='checked'>
								 <span>YES</span>
							 </div>	
							 <div class="gap-2">
								 <input type="radio" name="has_malpractice_claim" class="radio-with-form" data-form='malpractice_form' value="no" >
								 <span>NO</span>
							 </div>
						 </div>
					 </div>	
					 </div>	
			 </div>	
				 <div class="<%= toggle_hide_current_provider_source('has_malpractice_claim', @provider) %>" id="malpractice_form">
					 <%= render partial: 'provider_source_components/malpractice_form'%>
				 </div>
				</div>
			</div>

			<!--	<div class="row">
					<div class="col-lg-12">
							<div class="col-lg-12">
									<div class="d-flex justify-content-between my-3">
										<%= HtmlUtils.radio_options name: 'has_malpractice_claim', label: 'Was this policy involved in a malpractice claim? *' %>
									</div>
							</div>
					</div>
				</div>	-->
			</div>
		</div>
	</div>
</div>


<script>
$('.liability-coverage-rbtn').on('change',function(){
		// console.log($(this).val());
		($(this).val() == 'yes') ?	$('#self_insurance_fields').removeClass('d-none') : $('#self_insurance_fields').addClass('d-none');
})
</script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const radioButtons = document.querySelectorAll(".liability-coverage-rbtn");
    const lackOfLiabilityForm = document.getElementById("lack_of_liability_form");

    radioButtons.forEach(radio => {
      radio.addEventListener("change", function () {
        if (this.value === "no") {
          lackOfLiabilityForm.style.display = "block";
        } else {
          lackOfLiabilityForm.style.display = "none";
        }
      });
    });
  });
</script>