<div class="content container-fluid ps-0">
	<%= render "provider_source_components/top_buttons"%>
	<div class="row">
		<div class="col-lg-3">
			<%= render "provider_source_components/sub_navbar"%>
		</div>
		<div class="col-lg-9">
			<div class="row border border-4 p-3">
				<!-- start of form header -->
				<div class="col-lg-12 mb">
					<div class="d-flex gap-2">
				 		<span class="bg-medium-grey circle d-flex justify-content-center align-items-center" style="width: 40px;height: 40px;">
				 			<!-- <i class="bi "></i> -->
				 			<i class="bi bi-arrow-counterclockwise text-white" style="font-size: 25px;"></i>
				 		</span>
				 		<div class="d-flex flex-column">
				 			<label class="text-dark-grey">Employment</label>
				 			<small>Please fill out 	all required fields</small>
				 		</div>
					</div>
				</div>
				<%= render partial: "provider_source_components/progress_bar", locals: {percent: (@provider.work_history_progress)}%>
				<% steps = [['Military History','finished', custom_provider_source_path(page: 'work_history')],
							['Employment','finished', custom_provider_source_path(page: 'employment')],
							['Employment Gap','finished', custom_provider_source_path(page: 'employment_gap')],
							['Professional References','finished', custom_provider_source_path(page: 'prof_references')],
							['Professional Organization','active', custom_provider_source_path(page: 'prof_organization')],
				]%>
				<%= render partial: "provider_source_components/form_wizard", locals: {steps: steps}%>

				<div class="row">
					<div class="col-lg-12">
		                  <div class="d-flex align-items-center my-3">
                             <%= HtmlUtils.radio_toggle name: 'belonged_to_prog_org',
                            label: 'Do/Did you belong to any Professional Organizations or Societies *',
                            toshow: 'prof_org_form',
														hidden_field: true,
                            find_by: @provider.finder('belonged_to_prog_org')
                          %>
		                  </div>
					</div>
				</div>
				<div class="col-lg-12 <%= toggle_hide('belonged_to_prog_org') %>" id="prof_org_form">
					<%= render "provider_source_components/prof_org_form"%>
				</div>
			</div>
		</div>
	</div>
</div>
<input type="text" name="belonged_to_prog_org" value="no" class="invisible-input">
