<div class="content container-fluid ps-0">
	<%= render "provider_source_components/top_buttons"%>
	<div class="row">
		<div class="col-lg-3">
			<%= render "provider_source_components/sub_navbar"%>
		</div>
		<div class="col-lg-9">
			<div class="row border border-4 p-3">
				<!-- start of form header -->
				<div class="col-lg-12 mb">
					<div class="d-flex gap-2">
				 		<span class="bg-medium-grey circle d-flex justify-content-center align-items-center" style="width: 40px;height: 40px;">
				 			<i class="bi bi-mortarboard-fill text-white" style="font-size: 25px;"></i>
				 		</span>
				 		<div class="d-flex flex-column">
				 			<label class="text-dark-grey">Professional Liability Coverage and Claims History</label>
				 			<small>Please fill out 	all required fields</small>
				 		</div>
					</div>
				</div>
				<%= render partial: "provider_source_components/progress_bar", locals: {percent: 0}%>
				<% steps = [['PROFESSIONAL LIABILITY','active', custom_provider_source_path(page: 'professional_liability')]]%>
				<%= render partial: "provider_source_components/form_wizard", locals: {steps: steps}%>
				<div class="col-lg-12 card py-3 my-3">
					<h4 class="fw-semibold text-secondary mb-3">Professional Liability Coverage and Claims History</h4>

					<div class="alert alert-info alert-light-blue">
						<i class="bi bi-info-circle" style="font-size: 20px;"></i><br>
						<small>Please enter all professional liability coverage and claims history information. For claims made against you at any time provide information for each case under Professional Liability Claims History. </small><br>
						<small>Please ensure your current professional liability coverage is not expiring within 30 days.</small>
					</div>

					<div class="row">
						<div class="col-lg-12">
							<div class="d-flex align-items-center my-3">
							 <%= HtmlUtils.radio_toggle name: 'has_sovereign_immunity',
									label: 'Do you have a Sovereign Immunity document? *',
									hidden: true
        %>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="d-flex align-items-center my-3">
							 <%= HtmlUtils.radio_toggle name: 'has_liability_coverage',
										label: 'Do/Did you have professional liability coverage within the past ten (10) years? *',
										toshow: 'self_insurance_fields',
										hidden_field: true
								%>
							</div>
						</div>
            <div class="col-lg-12 <%= @provider.fetch('has_liability_coverage') ? 'd-none' : ''%>" id="lack_of_liability_form">
              <label class="text-dark-grey">Please explain your lack of Professional Liability Coverage.</label>
              <textarea class="form-control" name="lf-lack-of-liability-coverage" rows="5"></textarea>
            </div>
					</div>
   <div class="<%= toggle_hide('has_liability_coverage') %>" id="self_insurance_fields">
					<div class="row mt-2" id="">
						<div class="col-lg-12">
							<div class="alert alert-info alert-light-blue">
								<i class="bi bi-info-circle" style="font-size: 20px;"></i>
								<small>Self-insurance claims are paid by a self-insurance trust fund or employer. Answer
            no if you are insured through an insurance carrier.</small>
							</div>
						</div>
					</div><!--  start of divider -->
						<div class="row my-3">
							<div class="col-lg-12">
								<div class="d-flex align-items-center divider gap-3 ">
									<span class="line flex-grow-1 bg-medium-grey"></span>
									<div class="bg-medium-grey rounded px-3 py-2">
										<h6 class="my-0 text-secondary">POLICY 1</h6>
									</div>
									<span class="line flex-grow-1 bg-medium-grey"></span>
								</div>
							</div>
						</div>
						<!-- end of divider -->
					<div class="row">
						<div class="col-lg-12">
							<div class="d-flex align-items-center my-3">
									<%= HtmlUtils.radio_toggle name: 'is_self_insured',
													label: 'Are you self-insured? *',
													toshow: 'insured_form_fields',
													tochange: 'is_self_insured',
													tohide: 'not_insured_form_fields'
											%>
							</div>
						</div>
						<div class="col-lg-12">
              <div id="not_insured_form_fields" class="<%= @provider.fetch('is_self_insured') == 'no' ? '' : 'd-none' %>">
							<%= render "provider_source_components/not_insured_form"%>
              </div>
              <div id="insured_form_fields" class="<%= @provider.fetch('is_self_insured') == 'yes' ? '' : 'd-none' %>">
                <%= render "provider_source_components/insured_form"%>
              </div>
						</div>
					</div>
          </div>
				</div>
			</div>
		</div>
	</div>
</div>
<input type="text" name="has_sovereign_immunity" value="no" class="invisible-input">
<input type="text" name="has_liability_coverage" value="no" class="invisible-input">
<input type="text" name="is_self_insured" value="no" class="invisible-input">