<div class="content container-fluid ps-0">
  <%=render "provider_source_components/top_buttons"%>
  <div class="row">
    <div class="col-lg-3">
      <%= render "provider_source_components/sub_navbar"%>
    </div>
    <div class="col-lg-9">
      <div class="row border border-4 p-3">
        <div class="col-lg-12">
          <%=render partial: "provider_source_components/header_title", locals:
          {title: "Specialties", icon: 'bi-person-bounding-box'}%>
            <%#=render partial: "provider_source_components/progress_bar", locals:
            {percent: (@provider.specialties_progress)}%>
              <% steps=[ [ 'Specialties', 'active', 'javascript:void(0);',
              'specialties_progress_v2']]%>
                <%=render partial: "provider_source_components/progress_bar", locals:
                { steps: steps }%>
        </div>
        <div class="col-lg-12 px-0">
          <div class="alert alert-info alert-light-blue d-flex align-items-center">
            <i class="bi bi-info-circle" style="font-size: 20px;">
            </i>
            <small class="ms-2 fw-semibold text-dark-grey">
              Please add all specialty types you with to be credentialed in.
            </small>
          </div>
        </div>
        <!-- START: Specialty Form Section -->
        <div class="col-lg-12 card py-3 mb-3" id="specialtie-section">
          <h4 class="fw-semibold text-secondary mb-3">Specialties</h4>

          <div class="alert alert-info alert-light-blue d-flex align-items-center">
            <i class="bi bi-info-circle" style="font-size: 20px;"></i>
            <small class="ms-2 fw-semibold text-dark-grey">Please enter all practicing specialty information.</small>
          </div>

          <div id="specialties_container">
            <% current_provider_source.provider_source_specialities.each_with_index do |specialty, index| %>
              <div class="row specialties-entry" data-id="<%= specialty&.id %>">
                <div class="d-flex align-items-center divider gap-3 my-3">
                  <span class="line flex-grow-1 bg-medium-grey"></span>
                  <div class="bg-medium-grey rounded px-3 py-2">
                    <h6 class="my-0 text-secondary">SPECIALTY</h6>
                  </div>
                  <span class="line flex-grow-1 bg-medium-grey"></span>
                </div>

                <div class="row mb-3">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="text-dark-grey">Ranking <span class="text-danger">*</span></label>
                      <select name="provider_source_specialities[<%= index %>][ranking]" class="form-select border-dark">
                        <option value="">Ranking*</option>
                        <option value="Primary">Primary</option>
                        <option value="Secondary">Secondary</option>
                        <option value="Tertiary">Tertiary</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <%= HtmlUtils::dropdown name: "provider_source_specialities[#{index}][specialty]", label: 'Specialty <span class="text-danger"> *</span>' %>
                    </div>
                  </div>
                </div>

                <!-- Certified Specialty Section -->
                <div class="d-flex align-items-center my-3 gap-3">
                  <label class="mb-0"><span class="text-danger">*</span> Are/We you certified by any board in this specialty?</label>
                  <div class="d-flex gap-2">
                    <input type="radio" name="provider_source_specialities[<%= index %>][board_certified]" value="yes" id="certified_yes">
                    <span>YES</span>
                  </div>
                  <div class="d-flex gap-2">
                    <input type="radio" name="provider_source_specialities[<%= index %>][board_certified]" value="no" id="certified_no">
                    <span>NO</span>
                  </div>
                </div>

                <div id="certification_fields" style="display: none;">
                  <div class="row">
                    <% ["certifying_board", "address_line_1", "address_line_2", "city", "state", "zipcode"].each do |field| %>
                      <div class="col-lg-6 mb-3">
                        <label class="text-dark-grey"><%= field.titleize.gsub("_", " ") %> <span class="text-danger">*</span></label>
                        <input type="text" name="provider_source_specialities[<%= index %>][<%= field %>]" class="form-control border-dark">
                      </div>
                    <% end %>
                    <div class="col-lg-6 mb-3">
                      <label class="text-dark-grey">Telephone <span class="text-danger">*</span></label>
                      <input type="text" name="provider_source_specialities[<%= index %>][telephone]" class="form-control border-dark">
                    </div>
                    <div class="col-lg-6 mb-3">
                      <label class="text-dark-grey">Ext</label>
                      <input type="text" name="provider_source_specialities[<%= index %>][ext]" class="form-control border-dark">
                    </div>
                    <div class="col-lg-6 mb-3">
                      <label class="text-dark-grey">Fax Number</label>
                      <input type="text" name="provider_source_specialities[<%= index %>][fax_number]" class="form-control border-dark">
                    </div>
                    <div class="col-lg-6 mb-3">
                      <label class="text-dark-grey">Board Certificate Number</label>
                      <input type="text" name="provider_source_specialities[<%= index %>][bord_certificate_number]" class="form-control border-dark">
                    </div>
                    <div class="col-lg-6 mb-3">
                      <label class="text-dark-grey">Initial Certification Date</label>
                      <input type="date" name="provider_source_specialities[<%= index %>][initial_date]" class="form-control border-dark">
                    </div>
                    <div class="col-lg-6 mb-3">
                      <label class="text-dark-grey">Expiration Certification Date</label>
                      <input type="date" name="provider_source_specialities[<%= index %>][exipration_date]" class="form-control border-dark">
                    </div>
                    <div class="col-lg-6 mb-3">
                      <label class="text-dark-grey">Recertification Date</label>
                      <input type="date" name="provider_source_specialities[<%= index %>][recertification_date]" class="form-control border-dark">
                    </div>
                  </div>
                </div>

                <div id="eligibility_section" style="display: none;">
                  <div class="d-flex align-items-center my-3 gap-3">
                    <label class="mb-0"><span class="text-danger">*</span>Are you eligible to be certified in this specialty?</label>
                    <div class="d-flex gap-2">
                      <input type="radio" name="provider_source_specialities[<%= index %>][eligible_certified]" value="yes" id="eligible_yes">
                      <span>YES</span>
                    </div>
                    <div class="d-flex gap-2">
                      <input type="radio" name="provider_source_specialities[<%= index %>][eligible_certified]" value="no" id="eligible_no">
                      <span>NO</span>
                    </div>
                  </div>

                  <!-- Admissibility Expiration Date (only if eligible is yes) -->
                  <div id="admissibility_expiration" class="mb-3" style="display: none;">
                    <label class="text-dark-grey">Admissibility Expiration Date</label>
                    <input type="date" name="provider_source_specialities[<%= index %>][admissibility_expiration_date]" class="form-control border-dark">
                  </div>
                </div>

                <div id="board-cert-section" style="display: none">
                  <!-- Board Exam Pending Section -->
                  <div class="d-flex align-items-center my-3 gap-3 specialties_board_exam_pending">
                    <label class="mb-0">Do you have board exam results pending for this specialty?</label>
                    <div class="d-flex gap-2">
                      <input type="radio" name="provider_source_specialities[<%= index %>][board_exam_results_pending]" value="yes" id="exam_pending_yes">
                      <span>YES</span>
                    </div>
                    <div class="d-flex gap-2">
                      <input type="radio" name="provider_source_specialities[<%= index %>][board_exam_results_pending]" value="no" id="exam_pending_no">
                      <span>NO</span>
                    </div>
                  </div>

                  <div id="pending_certification_fields" style="display: none;">
                    <div class="row">
                      <% ["certifying_board", "address_line_1", "address_line_2", "city", "state", "zipcode"].each do |field| %>
                        <div class="col-lg-6 mb-3">
                          <label class="text-dark-grey">Pending <%= field.titleize.gsub("_", " ") %></label>
                          <input type="text" name="provider_source_specialities[<%= index %>][pending_<%= field %>]" class="form-control border-dark">
                        </div>
                      <% end %>
                      <div class="col-lg-6 mb-3">
                        <label class="text-dark-grey">Pending Telephone</label>
                        <input type="text" name="provider_source_specialities[<%= index %>][pending_telephone]" class="form-control border-dark">
                      </div>
                      <div class="col-lg-6 mb-3">
                        <label class="text-dark-grey">Pending Ext</label>
                        <input type="text" name="provider_source_specialities[<%= index %>][pending_ext]" class="form-control border-dark">
                      </div>
                      <div class="col-lg-6 mb-3">
                        <label class="text-dark-grey">Pending Fax Number</label>
                        <input type="text" name="provider_source_specialities[<%= index %>][pending_fax_number]" class="form-control border-dark">
                      </div>
                      <div class="col-lg-6 mb-3">
                        <label class="text-dark-grey">Board Exam Date</label>
                        <input type="date" name="provider_source_specialities[<%= index %>][board_exam_date]" class="form-control border-dark">
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Shown only when specialties_board_exam_pending is NO -->
                <div id="applied_certification_field" style="display: none !important;">
                  <div class="d-flex align-items-center my-3 gap-3">
                    <label class="mb-0">
                      <span class="text-danger">*</span>
                      Have you applied for this certification exam?
                    </label>
                    <div class="d-flex gap-2">
                      <input type="radio" name="provider_source_specialities[<%= index %>][applied_for_certification_exam]" value="yes" id="applied_yes">
                      <span>YES</span>
                    </div>
                    <div class="d-flex gap-2">
                      <input type="radio" name="provider_source_specialities[<%= index %>][applied_for_certification_exam]" value="no" id="applied_no">
                      <span>NO</span>
                    </div>
                  </div>
                </div>
                <!-- Accepted to Take Certification Exam -->
                <div id="accepted_certification_field" style="display: none !important;">
                  <div class="d-flex align-items-center my-3 gap-3">
                    <label class="mb-0">
                      <span class="text-danger">*</span>
                      Have you been accepted to take this certification exam?
                    </label>
                    <div class="d-flex gap-2">
                      <input type="radio" name="provider_source_specialities[<%= index %>][accepted_for_certification_exam]" value="yes" id="accepted_yes">
                      <span>YES</span>
                    </div>
                    <div class="d-flex gap-2">
                      <input type="radio" name="provider_source_specialities[<%= index %>][accepted_for_certification_exam]" value="no" id="accepted_no">
                      <span>NO</span>
                    </div>
                  </div>
                  <!-- Admissibility Expiration Date (only if eligible is yes) -->
                  <div id="board-exm-date" class="mb-3" style="display: none;">
                    <label class="text-dark-grey">Board Exam Date (MM/DD/YYYY) </label>
                    <input type="date" name="provider_source_specialities[<%= index %>][board_exam_date]" class="form-control border-dark">
                  </div>
                </div>
                <div id="intend_accepted_certification_field" style="display: none !important;">
                  <div class="d-flex align-items-center my-3 gap-3">
                    <label class="mb-0">
                      <span class="text-danger">*</span>
                      Do you intend to apply for this certification exam?
                    </label>
                    <div class="d-flex gap-2">
                      <input type="radio" name="provider_source_specialities[<%= index %>][intend_applied_for_certification_exam]" value="yes" id="intend_accepted_yes">
                      <span>YES</span>
                    </div>
                    <div class="d-flex gap-2">
                      <input type="radio" name="provider_source_specialities[<%= index %>][intend_applied_for_certification_exam]" value="no" id="intend_accepted_no">
                      <span>NO</span>
                    </div>
                  </div>
                  <!-- Admissibility Expiration Date (only if eligible is yes) -->
                  <div id="intend-date-apply" class="mb-3" style="display: none;">
                    <label class="text-dark-grey">Date you intend to apply (MM/DD/YYYY)  </label>
                    <input type="date" name="provider_source_specialities[<%= index %>][intend_date_apply]" class="form-control border-dark">
                  </div>
                  <div id="no_board_exam_reason_field" style="display: none;">
                    <div class="mb-3">
                      <label class="text-dark-grey">
                        <span class="text-danger">*</span>
                        Please explain why you do not intend to sit for a Board exam.
                      </label>
                      <textarea name="provider_source_specialities[<%= index %>][specialties_no_board_exam_reason]" class="form-control border-dark" rows="4"></textarea>
                      <span>2500 characters max.</span>
                    </div>
                  </div>
                </div>
                <button type="button" class="btn btn-danger remove_speciality">Remove</button>
              </div>
            <% end %>  
          </div>
          <div id="specialties_field" style="display: none;">
            <div class="row specialties-entry">
              <div class="d-flex align-items-center divider gap-3 my-3">
                <span class="line flex-grow-1 bg-medium-grey"></span>
                <div class="bg-medium-grey rounded px-3 py-2">
                  <h6 class="my-0 text-secondary">SPECIALTY</h6>
                </div>
                <span class="line flex-grow-1 bg-medium-grey"></span>
              </div>

              <div class="row mb-3">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="text-dark-grey">Ranking <span class="text-danger">*</span></label>
                    <select name="provider_source_specialities[][ranking]" class="form-select border-dark">
                      <option value="">Ranking*</option>
                      <option value="Primary">Primary</option>
                      <option value="Secondary">Secondary</option>
                      <option value="Tertiary">Tertiary</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <%= HtmlUtils::dropdown name: "provider_source_specialities[][specialty]", label: 'Specialty <span class="text-danger"> *</span>' %>
                  </div>
                </div>
              </div>

              <!-- Certified Specialty Section -->
              <div class="d-flex align-items-center my-3 gap-3">
                <label class="mb-0"><span class="text-danger">*</span> Are/We you certified by any board in this specialty?</label>
                <div class="d-flex gap-2">
                  <input type="radio" name="provider_source_specialities[][board_certified]" value="yes" id="certified_yes">
                  <span>YES</span>
                </div>
                <div class="d-flex gap-2">
                  <input type="radio" name="provider_source_specialities[][board_certified]" value="no" id="certified_no">
                  <span>NO</span>
                </div>
              </div>

              <div id="certification_fields" style="display: none;">
                <div class="row">
                  <% ["certifying_board", "address_line_1", "address_line_2", "city", "state", "zipcode"].each do |field| %>
                    <div class="col-lg-6 mb-3">
                      <label class="text-dark-grey"><%= field.titleize.gsub("_", " ") %> <span class="text-danger">*</span></label>
                      <input type="text" name="provider_source_specialities[][<%= field %>]" class="form-control border-dark">
                    </div>
                  <% end %>
                  <div class="col-lg-6 mb-3">
                    <label class="text-dark-grey">Telephone <span class="text-danger">*</span></label>
                    <input type="text" name="provider_source_specialities[][telephone]" class="form-control border-dark">
                  </div>
                  <div class="col-lg-6 mb-3">
                    <label class="text-dark-grey">Ext</label>
                    <input type="text" name="provider_source_specialities[][ext]" class="form-control border-dark">
                  </div>
                  <div class="col-lg-6 mb-3">
                    <label class="text-dark-grey">Fax Number</label>
                    <input type="text" name="provider_source_specialities[][fax_number]" class="form-control border-dark">
                  </div>
                  <div class="col-lg-6 mb-3">
                    <label class="text-dark-grey">Board Certificate Number</label>
                    <input type="text" name="provider_source_specialities[][bord_certificate_number]" class="form-control border-dark">
                  </div>
                  <div class="col-lg-6 mb-3">
                    <label class="text-dark-grey">Initial Certification Date</label>
                    <input type="date" name="provider_source_specialities[][initial_date]" class="form-control border-dark">
                  </div>
                  <div class="col-lg-6 mb-3">
                    <label class="text-dark-grey">Expiration Certification Date</label>
                    <input type="date" name="provider_source_specialities[][exipration_date]" class="form-control border-dark">
                  </div>
                  <div class="col-lg-6 mb-3">
                    <label class="text-dark-grey">Recertification Date</label>
                    <input type="date" name="provider_source_specialities[][recertification_date]" class="form-control border-dark">
                  </div>
                </div>
              </div>

              <div id="eligibility_section" style="display: none;">
                <div class="d-flex align-items-center my-3 gap-3">
                  <label class="mb-0"><span class="text-danger">*</span>Are you eligible to be certified in this specialty?</label>
                  <div class="d-flex gap-2">
                    <input type="radio" name="provider_source_specialities[][eligible_certified]" value="yes" id="eligible_yes">
                    <span>YES</span>
                  </div>
                  <div class="d-flex gap-2">
                    <input type="radio" name="provider_source_specialities[][eligible_certified]" value="no" id="eligible_no">
                    <span>NO</span>
                  </div>
                </div>

                <!-- Admissibility Expiration Date (only if eligible is yes) -->
                <div id="admissibility_expiration" class="mb-3" style="display: none;">
                  <label class="text-dark-grey">Admissibility Expiration Date</label>
                  <input type="date" name="provider_source_specialities[][admissibility_expiration_date]" class="form-control border-dark">
                </div>
              </div>

              <div id="board-cert-section" style="display: none">
                <!-- Board Exam Pending Section -->
                <div class="d-flex align-items-center my-3 gap-3 specialties_board_exam_pending">
                  <label class="mb-0">Do you have board exam results pending for this specialty?</label>
                  <div class="d-flex gap-2">
                    <input type="radio" name="provider_source_specialities[][board_exam_results_pending]" value="yes" id="exam_pending_yes">
                    <span>YES</span>
                  </div>
                  <div class="d-flex gap-2">
                    <input type="radio" name="provider_source_specialities[][board_exam_results_pending]" value="no" id="exam_pending_no">
                    <span>NO</span>
                  </div>
                </div>

                <div id="pending_certification_fields" style="display: none;">
                  <div class="row">
                    <% ["certifying_board", "address_line_1", "address_line_2", "city", "state", "zipcode"].each do |field| %>
                      <div class="col-lg-6 mb-3">
                        <label class="text-dark-grey">Pending <%= field.titleize.gsub("_", " ") %></label>
                        <input type="text" name="provider_source_specialities[][pending_<%= field %>]" class="form-control border-dark">
                      </div>
                    <% end %>
                    <div class="col-lg-6 mb-3">
                      <label class="text-dark-grey">Pending Telephone</label>
                      <input type="text" name="provider_source_specialities[][pending_telephone]" class="form-control border-dark">
                    </div>
                    <div class="col-lg-6 mb-3">
                      <label class="text-dark-grey">Pending Ext</label>
                      <input type="text" name="provider_source_specialities[][pending_ext]" class="form-control border-dark">
                    </div>
                    <div class="col-lg-6 mb-3">
                      <label class="text-dark-grey">Pending Fax Number</label>
                      <input type="text" name="provider_source_specialities[][pending_fax_number]" class="form-control border-dark">
                    </div>
                    <div class="col-lg-6 mb-3">
                      <label class="text-dark-grey">Board Exam Date</label>
                      <input type="date" name="provider_source_specialities[][board_exam_date]" class="form-control border-dark">
                    </div>
                  </div>
                </div>
              </div>

              <!-- Shown only when specialties_board_exam_pending is NO -->
              <div id="applied_certification_field" style="display: none !important;">
                <div class="d-flex align-items-center my-3 gap-3">
                  <label class="mb-0">
                    <span class="text-danger">*</span>
                    Have you applied for this certification exam?
                  </label>
                  <div class="d-flex gap-2">
                    <input type="radio" name="provider_source_specialities[][applied_for_certification_exam]" value="yes" id="applied_yes">
                    <span>YES</span>
                  </div>
                  <div class="d-flex gap-2">
                    <input type="radio" name="provider_source_specialities[][applied_for_certification_exam]" value="no" id="applied_no">
                    <span>NO</span>
                  </div>
                </div>
              </div>
              <!-- Accepted to Take Certification Exam -->
              <div id="accepted_certification_field" style="display: none !important;">
                <div class="d-flex align-items-center my-3 gap-3">
                  <label class="mb-0">
                    <span class="text-danger">*</span>
                    Have you been accepted to take this certification exam?
                  </label>
                  <div class="d-flex gap-2">
                    <input type="radio" name="provider_source_specialities[][accepted_for_certification_exam]" value="yes" id="accepted_yes">
                    <span>YES</span>
                  </div>
                  <div class="d-flex gap-2">
                    <input type="radio" name="provider_source_specialities[][accepted_for_certification_exam]" value="no" id="accepted_no">
                    <span>NO</span>
                  </div>
                </div>
                <!-- Admissibility Expiration Date (only if eligible is yes) -->
                <div id="board-exm-date" class="mb-3" style="display: none;">
                  <label class="text-dark-grey">Board Exam Date (MM/DD/YYYY) </label>
                  <input type="date" name="provider_source_specialities[][board_exam_date]" class="form-control border-dark">
                </div>
              </div>
              <div id="intend_accepted_certification_field" style="display: none !important;">
                <div class="d-flex align-items-center my-3 gap-3">
                  <label class="mb-0">
                    <span class="text-danger">*</span>
                    Do you intend to apply for this certification exam?
                  </label>
                  <div class="d-flex gap-2">
                    <input type="radio" name="provider_source_specialities[][intend_applied_for_certification_exam]" value="yes" id="intend_accepted_yes">
                    <span>YES</span>
                  </div>
                  <div class="d-flex gap-2">
                    <input type="radio" name="provider_source_specialities[][intend_applied_for_certification_exam]" value="no" id="intend_accepted_no">
                    <span>NO</span>
                  </div>
                </div>
                <!-- Admissibility Expiration Date (only if eligible is yes) -->
                <div id="intend-date-apply" class="mb-3" style="display: none;">
                  <label class="text-dark-grey">Date you intend to apply (MM/DD/YYYY)  </label>
                  <input type="date" name="provider_source_specialities[][intend_date_apply]" class="form-control border-dark">
                </div>
                <div id="no_board_exam_reason_field" style="display: none;">
                  <div class="mb-3">
                    <label class="text-dark-grey">
                      <span class="text-danger">*</span>
                      Please explain why you do not intend to sit for a Board exam.
                    </label>
                    <textarea name="provider_source_specialities[][specialties_no_board_exam_reason]" class="form-control border-dark" rows="4"></textarea>
                    <span>2500 characters max.</span>
                  </div>
                </div>
              </div>
              <button type="button" class="btn btn-danger remove_speciality">Remove</button>
            </div>
          </div> 
          <button type="button" id="add_speciality" class="btn btn-primary mt-3">Add Speciality</button>    
        </div>

        <div class="col-lg-12 card py-3 mb-3">
          <h4 class="fw-semibold text-secondary mb-3">
            Population Served
          </h4>
          <div class="row mb-3">
            <div class="col-lg-6">
              <label class="text-dark-grey">
                Requesting privileges for the target populations (can be multiple)
              </label>
              <select class="form-select border-dark" placeholder="Suffix" name="target_population_privileges">
                <option value="">
                  Select Option
                </option>
                <option value="children">
                  Children
                </option>
                <option value="adults">
                  Adults
                </option>
                <option value="none">
                  None
                </option>
              </select>
            </div>
            <div class="col-lg-6">
              <label class="text-dark-grey">
                Employment Type (can be multiple)
              </label>
              <select class="form-select border-dark" name="populations_employment_type">
                <option value="">
                  Select Option
                </option>
                <option value="children_0_8">
                  Children (0-8 years)
                </option>
                <option value="children_idd_dd_7_17">
                  Children with IDD/DD (7-17 years)
                </option>
                <option value="children_sed_7_17">
                  Children with SED (7-17 years)
                </option>
                <option value="autism_benefit_screening">
                  Autism Benefit Screening
                </option>
                <option value="infant_mental_health">
                  Infant Mental Health
                </option>
                <option value="aba_services">
                  ABA Services
                </option>
                <option value="adults_mental_illness">
                  Adults with Mental Illness
                </option>
                <option value="adults_idd_dd">
                  Adults with IDD/DD
                </option>
                <option value="adults_sud">
                  Adults with SUD
                </option>
                <option value="children_sud">
                  Children with SUD
                </option>
                <option value="co_occurring">
                  Co-Occurring
                </option>
              </select>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-lg-6">
              <label class="text-dark-grey">
                Population being served (can be multiple)
              </label>
              <%=HtmlUtils::dropdown name: 'populations_served', multiple: true %>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="d-flex justify-content-between">
              <%=HtmlUtils.radio_options name: 'specialty_student_intern', label:
              'Are you student intern?' %>
            </div>
          </div>
          <div class="form-group mb-3">
            <label class="text-dark-grey">
              Other informations
            </label>
            <textarea name="populations-infos" class="form-control border-dark" rows="8">
            </textarea>
            <label class="text-dark-grey">
              2500 max characters
            </label>
          </div>
          <div class="form-group">
            <label class="text-dark-grey">
              Other areas of professional practice interest, activieties, procedures,
              diagnoses or populations:
            </label>
            <textarea name="populations-served" class="form-control border-dark" rows="8">
            </textarea>
            <label class="text-dark-grey">
              2500 max characters
            </label>
          </div>
        </div>
      </div>
      <%=link_to "Add More Specialties", new_specialty_detail_path, class:
      "btn btn-primary" %>
        <%=link_to "Show More Specialty", specialty_details_path, class:
        "btn btn-secondary" %>
    </div>
  </div>
</div>
<script>
$(document).ready(function () {
  let index = $("#specialties_container .specialties-entry").length;

  // Add new specialty entry
  $("#add_speciality").on("click", function () {
    let template = $("#specialties_field").html(); // Use html, not clone
    let newHtml = template.replace(/\[\]/g, `[${index}]`);
    let newEntry = $('<div class="row specialties-entry" data-id="">').html(newHtml);

    // Append new form block
    $("#specialties_container").append(newEntry);

    // Rebind logic to new entry
    bindConditionalDisplay(newEntry);

    index++;
  });

  // Remove specialty entry
  $(document).on("click", ".remove_speciality", function () {
    let entry = $(this).closest(".specialties-entry");
    let specialityId = entry.data("id");

    if (specialityId) {
      $.ajax({
        url: "/provider_sources/autosave",
        type: "POST",
        dataType: "json",
        data: { delete_speciality_id: specialityId },
        headers: { "X-CSRF-Token": $("meta[name='csrf-token']").attr("content") },
        success: function () {
          console.log("Specialty entry deleted.");
        },
      });
    }

    entry.remove();
  });

  // Autosave on input change
  $(document).on("change", "#specialties_container input, #specialties_container select, #specialties_container textarea", function () {
    let $this = $(this);
    let field = $this.attr("name");
    let value = $this.is(":radio") || $this.is(":checkbox") ? ($this.prop("checked") ? $this.val() : null) : $this.val();

    if (value === null) return;

    let specialityEntry = $this.closest(".specialties-entry");
    let specialityId = specialityEntry.data("id");

    $.ajax({
      url: "/provider_sources/autosave",
      type: "POST",
      dataType: "json",
      data: {
        field_name: field,
        value: value,
        speciality_id: specialityId,
        nested_form: true
      },
      headers: {
        "X-CSRF-Token": $("meta[name='csrf-token']").attr("content")
      },
      success: function (response) {
        if (response.id) {
          specialityEntry.attr("data-id", response.id);
        }
      },
      error: function (xhr, status, error) {
        console.error("Autosave failed:", error);
      }
    });
  });

  // Init conditional logic for existing entries
  $("#specialties_container .specialties-entry").each(function () {
    bindConditionalDisplay($(this));
  });

  function bindConditionalDisplay(entry) {
    const get = (id) => entry.find(`[id$="${id}"]`);
    const section = {
      certified: entry.find("#certification_fields"),
      eligibility: entry.find("#eligibility_section"),
      admissibility: entry.find("#admissibility_expiration"),
      board: entry.find("#board-cert-section"),
      pending: entry.find("#pending_certification_fields"),
      applied: entry.find("#applied_certification_field"),
      accepted: entry.find("#accepted_certification_field"),
      intend: entry.find("#intend_accepted_certification_field"),
      intendDate: entry.find("#intend-date-apply"),
      boardExamDate: entry.find("#board-exm-date"),
      noExamReason: entry.find("#no_board_exam_reason_field"),
    };


    function updateVisibility() {
      const certifiedName = entry.find('#certified_yes').attr('name');
      let certified = entry.find(`input[name="${certifiedName}"]:checked`).val();

      const eligibleName = entry.find('#eligible_yes').attr('name');
      let eligible = entry.find(`input[name="${eligibleName}"]:checked`).val();

      const pendingName = entry.find('#exam_pending_yes').attr('name');
      let pending = entry.find(`input[name="${pendingName}"]:checked`).val();

      const intendName = entry.find('#intend_accepted_yes').attr('name');
      let intend = entry.find(`input[name="${intendName}"]:checked`).val();

      const appliedName = entry.find('#applied_yes').attr('name');
      let applied = entry.find(`input[name="${appliedName}"]:checked`).val();

      const acceptedName = entry.find('#accepted_yes').attr('name');
      let accepted = entry.find(`input[name="${acceptedName}"]:checked`).val();



    // Certified
    if (certified === "yes") {
      section.certified.show();
      section.eligibility.hide();
    } else if (certified === "no") {
      section.certified.hide();
      section.eligibility.show();
    } else {
      section.certified.hide();
      section.eligibility.hide();
    }

    // Eligible
    if (eligible === "yes") {
      section.admissibility.show();
      section.board.show();
    } else {
      section.admissibility.hide();
      section.board.hide();
      section.pending.hide();
    }

    // Exam Pending
    if (pending === "yes") {
      section.pending.show();
      section.applied.hide();
      section.accepted.hide();
      section.intend.hide();
      section.noExamReason.hide();
    } else if (pending === "no") {
      section.pending.hide();
      section.applied.show();
      section.accepted.show();
      section.intend.show();
      section.noExamReason.show();
    } else {
      section.pending.hide();
      section.applied.hide();
      section.accepted.hide();
      section.intend.hide();
      section.noExamReason.hide();
    }

    // Intend
    if (intend === "yes") {
      section.intendDate.show();
      section.noExamReason.hide();
    } else if (intend === "no") {
      section.intendDate.hide();
      section.noExamReason.show();
    } else {
      section.intendDate.hide();
      section.noExamReason.hide();
    }

    // Applied
    if (applied === "yes") {
      section.accepted.show();
      section.intend.hide();
    } else if (applied === "no") {
      section.accepted.hide();
      section.intend.show();
    } else {
      section.accepted.hide();
      section.intend.hide();
    }

    // Accepted
    if (accepted === "yes") {
      section.boardExamDate.show();
    } else {
      section.boardExamDate.hide();
    }
  }

  // Attach listeners
  entry.find('input[type="radio"]').on("change", updateVisibility);

  // Trigger on load
  updateVisibility();
  }
});


</script>

