<div class="content container-fluid ps-0">
   <%= render "provider_source_components/top_buttons"%>
   <div  class="row">
      <div class="col-lg-3">
         <%= render "provider_source_components/sub_navbar"%>
      </div>
      <div class="col-lg-9">
         <div class="row border border-4 p-3">
            <div class="col-lg-12">
               <%= render partial: "provider_source_components/header_title", locals: {title: "Specialties", icon: 'bi-person-bounding-box'}%>
               <%#= render partial: "provider_source_components/progress_bar", locals: {percent: (@provider.specialties_progress)}%>
            
        <% steps = [['Specialties', 'active', 'javascript:void(0);', 'specialties_progress_v2']]%>
        <%= render partial: "provider_source_components/progress_bar", locals: { steps: steps }%>
            </div>
            <div class="col-lg-12 px-0">
               <div class="alert alert-info alert-light-blue d-flex align-items-center">
                  <i class="bi bi-info-circle" style="font-size: 20px;"></i>
                  <small class="ms-2 fw-semibold text-dark-grey">Please add all specialty types you with to be credentialed in.</small>
               </div>
            </div>
            <div class="col-lg-12 card py-3 mb-3">
               <h4 class="fw-semibold text-secondary mb-3">Specialties</h4>
               <div class="alert alert-info alert-light-blue d-flex align-items-center">
                  <i class="bi bi-info-circle" style="font-size: 20px;"></i>
                  <small class="ms-2 fw-semibold text-dark-grey">Please enter all practicing specialty information.</small>
               </div>
               <div class="d-flex align-items-center divider gap-3 my-3">
                  <span class="line flex-grow-1 bg-medium-grey"></span>
                  <div class="bg-medium-grey rounded px-3 py-2">
                     <h6 class="my-0 text-secondary">SPECIALTY</h6>
                  </div>
                  <span class="line flex-grow-1 bg-medium-grey"></span>
               </div>
               <div class="row mb-3">
                  <div class="col-lg-6">
                     <div class="form-group">
                        <!-- <input type="" name="ranking" class="form-control border-dark" placeholder="Ranking*"> -->
                        <label class="text-dark-grey">Ranking <span class="text-danger">*</span></label>
                        <select name="special_ranking" class="form-select border-dark">
                           <option value="">Ranking*</option>
                           <option value="Primary">Primary</option>
                           <option value="Secondary">Secondary</option>
                        </select>
                     </div>
                  </div>
                  <div class="col-lg-6">
                     <div class="form-group">
                       <%= HtmlUtils::dropdown name: 'specialty', label: 'Specialty <span class="text-danger"> *</span>' %>
                     </div>
                  </div>
               </div>
               <div class="row mb-3">
                  <!-- <div class="col-lg-6"> -->
                  <div class="col-lg-6">
                     <div class="d-flex align-items-center my-3">
                        <%= HtmlUtils.radio_toggle name: 'specialties_ppo_directory',
                        label: 'Do you wish to be listed in the PPO Directory under this specialty? <span class="text-danger"> *</span>',
                        hidden_field: true
                        %>
                     </div>
                  </div>
                  <div class="col-lg-6">
                     <div class="d-flex align-items-center my-3">
                        <%= HtmlUtils.radio_toggle name: 'specialties_pos_directory',
                        label: 'Do you wish to be listed in the POS Directory under this specialty? <span class="text-danger"> *</span>',
                        hidden_field: true
                        %>
                     </div>
                  </div>
               </div>
               <div class="row mb-2">
                  <div class="col-lg-6">
                     <div class="d-flex align-items-center my-3">
                        <%= HtmlUtils.radio_toggle name: 'specialties_provider_directory',
                        label: 'Do you wish to be listed in the Provider Directory under this specialty?',
                        hidden_field: true
                        %>
                     </div>
                  </div>
                  <div class="col-lg-6">
                     <div class="d-flex align-items-center my-3">
                        <%= HtmlUtils.radio_toggle name: 'specialties_hmo_directory',
                        label: 'Do you wish to be listed in the HMO Directory under this specialty?',
                        hidden_field: true
                        %>
                     </div>
                  </div>
               </div>
               <div class="row mb-2">
                  <div class="col-lg-6">
                     <div class="d-flex align-items-center my-3">
                        <%= HtmlUtils.radio_toggle name: 'specialties_board',
                        label: 'Are/Were you certified by any board in this specialty?',
                        hidden_field: true
                        %>
                     </div>
                  </div>
                  <div class="col-lg-6">
                     <div class="d-flex align-items-center my-3">
                        <%= HtmlUtils.radio_toggle name: 'specialties_certified',
                        label: 'Are you eligible to be certified in this specialty?',
                        hidden_field: true
                        %>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-12 card py-3 mb-3">
               <div class="row mb-3">
   							<div class="col-lg-12">
								<div class="d-flex justify-content-between">
										<label class="text-dark-grey">Have you ever failed to pass a specialty board examination? <span class="text-danger"> *</span></label>
									<div class="d-flex me-4 gap-2">
										<div class="gap-2">
											<input type="radio" name="specialties_board_exam" class="radio-with-form" data-form='failed_exam_board' value="yes" checked='checked'>
											<span>YES</span>
										</div>	
										<div class="gap-2">
											<input type="radio" name="specialties_board_exam" class="radio-with-form" data-form='failed_exam_board' value="no" >
											<span>NO</span>
										</div>
									</div>
								</div>	
						    </div>	
						</div>	
							<div class="<%= toggle_hide_current_provider_source('specialties_board_exam', @provider) %>" id="failed_exam_board">
								<%= render partial: 'provider_source_components/failed_exam_form'%>
							</div>
               <!-- <h4 class="fw-semibold text-secondary mb-3">Failed Exams</h4>
               <div class="d-flex align-items-center my-3">
                  <%= HtmlUtils.radio_toggle name: 'specialties_board_exam',
                     label: 'Have you ever failed to pass a specialty board examination? <span class="text-danger"> *</span>',
                     toshow: 'failed_exam_board',
                     hidden_field: true
                  %>
               </div>
                <div class="<%=toggle_hide('specialties_board_exam')%>" id="failed_exam_board">
               <%= render "provider_source_components/failed_exam_form"%>
               </div> -->
            </div>
            <div class="col-lg-12 card py-3 mb-3">
               <h4 class="fw-semibold text-secondary mb-3">Population Served</h4>
               <div class="row mb-3">
                  <div class="col-lg-6">
                     <label class="text-dark-grey">Requesting priviliges for the target populations (can be multiple)</label>
                     <select class="form-select border-dark" placeholder="Suffix" name="target_population_privileges">
                        <option value="">Select Option</option>
                     </select>
                  </div>
                  <div class="col-lg-6">
                     <label class="text-dark-grey">Employment Type (can be multiple)</label>
                     <select class="form-select border-dark" placeholder="Suffix" name="populations_employment_type">
                         <option value="">Select Option</option>
                     </select>
                  </div>
               </div>
               <div class="row mb-3">
                  <div class="col-lg-6">
                  <label class="text-dark-grey">Population being served (can be multiple)</label>
                  <%= HtmlUtils::dropdown name: 'populations_served', multiple: true %>
                  </div>
               </div>
               <div class="col-lg-12">
								<div class="d-flex justify-content-between">
									<%= HtmlUtils.radio_options name: 'specialty_student_intern', label: 'Are you student intern?' %>
								</div>
					</div>
               <div class="form-group mb-3">
               	<label class="text-dark-grey">Other informations</label>
               	<textarea name="populations-infos" class="form-control border-dark" rows="8">
               	</textarea>
               	<label class="text-dark-grey">2500 max characters</label>
               </div>
               <div class="form-group">
               	<label class="text-dark-grey">Other areas of professional practice interest, activieties, procedures, diagnoses or populations:</label>
               	<textarea name="populations-served" class="form-control border-dark" rows="8">

               	</textarea>
               	<label class="text-dark-grey">2500 max characters</label>
               </div>

            </div>
         </div>
      </div>
   </div>
</div>

