<div class="content container-fluid ps-0">
   <%= render "provider_source_components/top_buttons"%>
   <div  class="row">
      <div class="col-lg-3">
         <%= render "provider_source_components/sub_navbar"%>
      </div>
      <div class="col-lg-9">
         <div class="row border border-4 p-3">
            <div class="col-lg-12">
               <%= render partial: "provider_source_components/header_title", locals: {title: "Teaching Appointments", icon: 'bi-mortarboard-fill'}%>
               <%#= render partial: "provider_source_components/progress_bar", locals: {percent: 0}%><% steps = [['Education','finished', custom_provider_source_path(page: 'education_training'), 'education_progress_v2'],
                     # ['Practice Location','inactive', custom_provider_source_path(page: 'practice_location')],
                     # ['Employment Gap','active', custom_provider_source_path(page: 'employment_gap')],
                     ['Training','finished', custom_provider_source_path(page: 'training'),'training_progress_v2'],
                     ['Teaching Appointments','active', custom_provider_source_path(page: 'teaching_appointments'),'teaching_appointments_progress_v2'],
            ]%>

        <%= render partial: "provider_source_components/progress_bar", locals: { steps: steps }%>
            <%= render partial: "provider_source_components/form_wizard", locals: {steps: steps}%>
            </div>

             <div class="col-lg-12 card py-3 my-3">
               <h4 class="fw-semibold text-secondary">Teaching Appointments</h4>
                  <div class="d-flex align-items-center my-3">
                     <%= HtmlUtils.radio_toggle name: 'an_instructor',
                        label: 'Are/Were you an instructor for a teaching program? <span class="text-danger"> *</span>',
                        toshow: 'teaching_app_form',
                        hidden_field: true
                     %>

                  </div>
                     <div id="teaching_app_form" class="<%= toggle_hide('an_instructor') %>">
                        <%= render partial: 'provider_source_components/teaching_app_form'%>
                     </div>
            </div>
         </div>
      </div>
   </div>
</div>
