<div class="content container-fluid ps-0">
	<%= render "provider_source_components/top_buttons"%>
	<div class="row">
		<div class="col-lg-3">
			<%= render "provider_source_components/sub_navbar"%>
		</div>
		<div class="col-lg-9">
			<div class="row border border-4 p-3">
				<!-- start of form header -->
				<div class="col-lg-12 mb">
					<div class="d-flex gap-2">
				 		<span class="bg-medium-grey circle d-flex justify-content-center align-items-center" style="width: 40px;height: 40px;">
				 			<!-- <i class="bi "></i> -->
				 			<i class="bi bi-arrow-counterclockwise text-white" style="font-size: 25px;"></i>
				 		</span>
				 		<div class="d-flex flex-column">
				 			<label>Work History</label>
				 			<small>Please fill out 	all required fields</small>
				 		</div>
					</div>
				</div>
				<%= render partial: "provider_source_components/progress_bar", locals: {percent: 0}%>
				<% steps = [['Military History','active', custom_provider_source_path(page: 'work_history')],
							['Employment','inactive', custom_provider_source_path(page: 'employment')],
							['Employment Gap','inactive', custom_provider_source_path(page: 'employment_gap')],
							['Professional References','inactive', custom_provider_source_path(page: 'prof_references')],
							['Professional Organization','inactive', custom_provider_source_path(page: 'prof_organization')],
				]%>
				<%= render partial: "provider_source_components/form_wizard", locals: {steps: steps}%>
		<!-- 		<div class="col-lg-12 card py-3 my-3">
					<h4 class="fw-semibold text-secondary mb-3">Professional Liability Coverage and Claims History</h4>
					<div class="alert alert-info alert-light-blue">
						<i class="bi bi-info-circle" style="font-size: 20px;"></i>
					</div>
				</div> -->
				<div class="col-lg-12">
		                  <div class="d-flex align-items-center my-3">
		                        <button type="button" class="btn btn-xs btn-toggle has-to-show" data-toshow="work_history" data-toggle="button" aria-pressed="false" autocomplete="off">
		                           <div class="handle"></div>
		                        </button>
		                        <small class="ms-2">Have you served in the U.S. Military?*</small>
		                  </div>
		                <div class="d-none" id="work_history">
		                	<%= render "provider_source_components/military_info" %>
		                </div>
				 	</div>
			</div>
		</div>
	</div>
</div>