<div class="row mb-3">
   <div class="col-lg-12 card p-3">
      <div class="w-100 d-flex justify-content-between">
         <h3 class="text-primary">Location Information</h3>
         <a href="javascript:void(0);" class="text-black fw-semibold collapsible-trigger" data-collapse="location_info">
         <i class="bi bi-sort-up rotate-180" style="font-size: 18px;"></i>
         </a>
      </div>
        <div class="w-100 collapsible" id="location_info">
            <div class="row mb-1">
              <div class="col-lg-6">
                  <label>Location Name</label>
                  <p class="text-black fw-semibold"><%= @location&.dco_name %></p>
              </div>
              <div class="col-lg-6">
                  <label>Address</label>
                  <p class="text-black fw-semibold"><%= @location&.dco_address %></p>
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-lg-6">
                  <label>City</label>
                  <p class="text-black fw-semibold"><%= @location&.dco_city %></p>
              </div>
              <div class="col-lg-6">
                  <label>State</label>
                  <p class="text-black fw-semibold"><%= @location&.state %></p>
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-lg-6">
                  <label>County</label>
                  <p class="text-black fw-semibold"><%= @location&.county %></p>
              </div>
              <div class="col-lg-6">
                  <label>Zip Code</label>
                  <p class="text-black fw-semibold"><%= @location&.dco_zipcode %></p>
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-lg-6">
                  <label>Location Phone Number</label>
                  <p class="text-black fw-semibold"><%= @location&.service_location_phone_number %></p>
              </div>
              <div class="col-lg-6">
                  <label>Location Fax Number</label>
                  <p class="text-black fw-semibold"><%= @location&.service_location_fax_number %></p>
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-lg-6">
                  <label>Panel Status to New Patients</label>
                  <p class="text-black fw-semibold"><%= @location&.panel_status_to_new_patients %></p>
              </div>
              <div class="col-lg-6">
                  <label>Panel Age Limit</label>
                  <p class="text-black fw-semibold"><%= @location&.panel_age_limit %></p>
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-lg-6">
                  <label>Include in Directory?</label>
                  <p class="text-black fw-semibold"><%= @location&.include_in_directory&.upcase rescue nil %></p>
              </div>
              <div class="col-lg-6">
                  <label>Is this location inpatient facility?</label>
                  <p class="text-black fw-semibold"><%= @location&.inpatient_facility&.upcase %></p>
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-lg-6">
                  <label>Is this location a clinic?</label>
                  <p class="text-black fw-semibold"><%= @location&.is_clinic&.upcase rescue nil %></p>
              </div>
              <div class="col-lg-6">
                  <label>Does this location offer Telehealth services?</label>
                  <p class="text-black fw-semibold"><%= @location&.telehealth_provider&.upcase %></p>
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-lg-6">
                  <label>Website</label>
                  <p class="text-black fw-semibold"><%= @location&.website rescue nil %></p>
              </div>
              <div class="col-lg-6">
                  <label>Telehealth video conferencing technology used</label>
                  <p class="text-black fw-semibold"><%= @location&.telehealth_video_conferencing_technology %></p>
              </div>
            </div>
        </div>
      </div>
    </div>