<div class="row mb-3">
   <div class="col-lg-12 card p-3">
      <div class="w-100 d-flex justify-content-between">
         <h3 class="text-primary"><%= title %></h3>
         <a href="javascript:void(0);" class="text-black fw-semibold collapsible-trigger" data-collapse="old_location_address_<%= address.id %>">
         <i class="bi bi-sort-up rotate-180" style="font-size: 18px;"></i>
         </a>
      </div>
        <div class="w-100 collapsible" id="old_location_address_<%= address.id %>">

            <div class="row mb-1">
              <div class="col-lg-6">
                  <label>Address</label>
                  <p class="text-black fw-semibold"><%= address&.old_address %></p>
              </div>
              <div class="col-lg-6">
                  <label>City</label>
                  <p class="text-black fw-semibold"><%= address&.old_city %></p>
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-lg-6">
                  <label>State</label>
                  <p class="text-black fw-semibold"><%= address&.old_state %></p>
              </div>
              <div class="col-lg-6">
                  <label>County</label>
                  <p class="text-black fw-semibold"><%= address&.old_county %></p>
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-lg-6">
                  <label>Zip Code</label>
                  <p class="text-black fw-semibold"><%= address&.old_zipcode %></p>
              </div>
            </div>
        </div>
      </div>
    </div>