<%= form_with model: @doctor, local: true, multipart: true do |form| %>
  <div class="row">
  	<div class="form-group col-lg-6 mt-2 mb-2">
	  	<%= form.label :first_name %>
	  	<%= form.text_field :first_name, placeholder: "First Name", class: 'form-control border-dark', autocomplete: "off" %>
	  </div>

	  <div class="form-group col-lg-6 mt-2 mb-2">
	  	<%= form.label :last_name %>
	  	<%= form.text_field :last_name, placeholder: "Last Name", class: 'form-control border-dark', autocomplete: "off" %>
	  </div>
  </div>

  <div class="row">
  	<div class="form-group col-lg-6 mt-2 mb-2">
	  	<%= form.label :specialty %>
	  	<%= form.text_field :specialty, placeholder: "Specialty", class: 'form-control border-dark', autocomplete: "off" %>
	  </div>

	  <div class="form-group col-lg-6 mt-2 mb-2">
	  	<%= form.label :license_number %>
	  	<%= form.text_field :license_number, placeholder: "License Number", class: 'form-control border-dark', autocomplete: "off" %>
	  </div>
  </div>

  <div class="row">
  	<div class="form-group col-lg-6 mt-2 mb-2">
	  	<%= form.label :email %>
	  	<%= form.email_field :email, placeholder: "Email Address", class: 'form-control border-dark', autocomplete: "off" %>
	  </div>

	  <div class="form-group col-lg-6 mt-2 mb-2">
	  	<%= form.label :phone %>
	  	<%= form.telephone_field :phone, placeholder: "Phone Number", class: 'form-control border-dark', autocomplete: "off" %>
	  </div>
  </div>

  <div class="row">
  	<div class="form-group col-lg-6 mt-2 mb-2">
	  	<%= form.label :clinic_name %>
	  	<%= form.text_field :clinic_name, placeholder: "Clinic Name", class: 'form-control border-dark', autocomplete: "off" %>
	  </div>

	  <div class="form-group col-lg-6 mt-2 mb-2">
	  	<%= form.label :clinic_address %>
	  	<%= form.text_field :clinic_address, placeholder: "Clinic Address", class: 'form-control border-dark', autocomplete: "off" %>
	  </div>
  </div>

  <div class="form-group col-lg-6 mt-2 mb-2">
  	<%= form.label :location %>
  	<%= form.text_field :location, placeholder: "Location", class: 'form-control border-dark', autocomplete: "off" %>
  </div>
  <%#= form.password_field :password %>
  <%#= form.password_field :password_confirmation %>
  <%#= form.file_field :profile_picture %>

  <div>
  	<%= form.submit class: 'btn btn-primary mt-2' %>
  </div>
<% end %>