<div class="container mt-5">
  <div class="table-responsive">
	  <table class="table table-bordered table-striped">
	    <thead>
	      <tr>
	        <th class="text-white">ID</th>
	        <th class="text-white">First Name</th>
	        <th class="text-white">Last Name</th>
	        <th class="text-white">Specialty</th>
	        <th class="text-white">License Number</th>
	        <th class="text-white">Email</th>
	        <th class="text-white">Phone</th>
	        <th class="text-white">Clinic Name</th>
	        <th class="text-white">Actions</th>
	      </tr>
	    </thead>
	    <tbody>
	      <%# @doctors.each do |doctor| %>
	        <tr>
	          <td><%= @doctor.id %></td>
	          <td><%= @doctor.first_name %></td>
	          <td><%= @doctor.last_name %></td>
	          <td><%= @doctor.specialty %></td>
	          <td><%= @doctor.license_number %></td>
	          <td><%= @doctor.email %></td>
	          <td><%= @doctor.phone %></td>
	          <td><%= @doctor.clinic_name %></td>
	          <td>
	            <%= link_to 'Show', doctor_path(@doctor), class: "btn btn-sm btn-primary" %>
	          </td>
	        </tr>
	      <%# end %>
	    </tbody>
	  </table>
  </div>
</div>
