<div class="row my-2 py-2 border-dash field">
	<div class="col text-end">
		<%= f.check_box :_destroy, style: 'display: none' %>
		<button type="button" class="btn btn-xs btn-danger" onclick="deleteNestedField(this)">
			<i class="bi bi-trash-fill"></i>
		</button>
	</div>
	<div class="row mb-3" >
		<div class="col-lg-6">
						<label class="text-dark-grey">Address</label>
			<%= f.text_field :old_address, class: 'form-control border border-dark', placeholder: 'Type here...' %>
		</div>
		<div class="col-lg-6">
						<label class="text-dark-grey">City</label>
			<%= f.text_field :old_city, class: 'form-control border border-dark', placeholder: 'Type here...' %>
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-lg-4">
						<label class="text-dark-grey">State</label>
			<%= f.collection_select :old_state, @states, :name, :name, { prompt: 'Select option' }, { class: 'form-control border border-dark' } %>
		</div>
		<div class="col-lg-4">
						<label class="text-dark-grey">County</label>
				<%= f.text_field :old_county, class: 'form-control border border-dark', placeholder: 'Type here...' %>
		</div>
		<div class="col-lg-4">
			<label class="text-dark-grey">Zip Code (+4 Zip Code)</label>
			<%= f.text_field :old_zipcode, class: 'form-control border border-dark', placeholder: 'Type here...' %>
		</div>
	</div>
</div>

<script>
	function deleteNestedField(btn){
		$(btn).parent().find('input[type=checkbox]').click();
		$(btn).parent().parent().hide();
	}
</script>