<div class="col-lg-3" style="background: #eee;">
  <div class="row">
      <div class="col-lg-12">
        <div class="card rounded shadow-lg p-1 px-3 mb-3 mt-3">
          <div class="text-left mt-2">
            <p class="mb-1"><strong>Data Encoder:</strong> <%= current_user.full_name %></p>
            <p class="mb-1"><strong>Data Encoded:</strong> <%= @dco&.created_at&.strftime("%B %d,%Y") %></p>
            </br>
            <p class="mb-1"><strong>Updated by:</strong> <%= current_user.full_name %></p>
            <p class="mb-1"><strong>Last update:</strong> <%= @dco&.updated_at&.strftime("%B %d,%Y") %></p>
          </div>
        </div>
      </div>
  </div>
  <div class="row">
      <div class="col-lg-12">
        <div class="card rounded shadow-lg p-1 px-3 mb-3">
            <h3 class="font-bold mb-0 text-dark-grey fw-semibold text-center my-3"><%= @dco&.dco_name %></h3>
            <span class="text-center text-dark-grey fw-semibold"><i class="bi bi-pin-map me-2"></i><%= @dco.dco_address %></span>
            <div class="text-left mt-3">
              <p class="mb-2"><strong>City:</strong> <%= @dco&.dco_city %></p>
              <p class="mb-2"><strong>State:</strong> <%= @dco&.state %></p>
              <p class="mb-2"><strong>Zip Code:</strong> <%= @dco&.dco_zipcode %></p>
              <p class="mb-2"><strong>Phone Number:</strong> <%= @dco&.service_location_phone_number %></p>
              <p class="mb-2"><strong>Fax Number:</strong> <%= @dco&.service_location_fax_number %></p>
              <p class="mb-2"><strong>Panel Status to New Patients:</strong> <%= @dco&.panel_status_to_new_patients %></p>
              <p class="mb-2"><strong>Panel Age Limits:</strong> <%= @dco&.panel_age_limit %></p>
              <p class="mb-2"><strong>Include in Directory?</strong> <%= @dco&.include_in_directory %></p>
              <h5 class="font-bold mb-0 text-dark-grey fw-semibold text-center py-1">Old Address</h5>
              <p class="mb-2"><strong>Address:</strong> <%= @dco&.old_address %></p>
              <p class="mb-2"><strong>City:</strong> <%= @dco&.old_city %></p>
              <p class="mb-2"><strong>State:</strong> <%= @dco&.old_state %></p>
              <p class="mb-2"><strong>County:</strong> <%= @dco&.old_county %></p>
              <p class="mb-2"><strong>Zip Code:</strong> <%= @dco&.old_zipcode %></p>
            </div>
        </div>
      </div>
  </div>
  <div class="row">
      <div class="col-lg-12">
        <div class="card rounded shadow-lg p-1 px-3 mb-3">
          <%= render partial: "global_components/collapsible_sidebar_header", locals: {title: 'Schedules', collapse_name: 'schedules' }%>
          <div class="collapsible" style="<%= current_user&.is_card_open?('schedules') ? '' : 'display: none;' %>">
          <% @dco.schedules.each do |sched|%>
          <div class="d-flex gap-2 mb-2">
            <% days_options.each do |day|%>
              <span class="<%= day[0] == sched.day ? 'bg-primary' : 'border'%> d-flex p-2 <%= day[0] == sched.day ? 'text-white' : 'text-dark-grey'%> justify-content-center align-items-center" style="border-radius: 50%;width:30px;height: 30px;"><%= day[1]%></span>
            <% end %>
          </div>
            <p class="m-0 mb-2"><strong>Start time:</strong> <%= sched.start_time %></p>
            <p class="m-b"><strong>End time:</strong> <%= sched.end_time %></p>
          <% end %>
          </div>
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card rounded shadow-lg p-1 px-3 mb-3">
        <%= render partial: "global_components/collapsible_sidebar_header", locals: {title: 'Service Contact List', collapse_name: 'dco_outreach' }%>
        <div class="collapsible" style="<%= current_user&.is_card_open?('dco_outreach') ? '' : 'display: none;' %>">
        <% @dco.provider_outreach_info.each do |dco| %>
        <div class="mb-4">
          <p class="mb-2"><strong>Name:</strong> <%= dco&.name %></p>
          <p class="mb-2"><strong>Email:</strong> <%= dco&.email %> </p>
          <p class="mb-2"><strong>Phone Number:</strong> <%= dco&.phone %></p>
          <p class="mb-2"><strong>Fax Number:</strong> <%= dco&.fax %></p>
          <p class="mb-2"><strong>Role:</strong> <%= dco&.position %></p>
        </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card rounded shadow-lg p-1 px-3 mb-3">
        <%= render partial: "global_components/collapsible_sidebar_header", locals: {title: 'Others', collapse_name: 'dco_other_fields' }%>
        <div class="collapsible" style="<%= current_user&.is_card_open?('dco_other_fields') ? '' : 'display: none;' %>">
          <div class="text-left mt-3">
            <p class="mb-2"><strong>Is this location inpatient facility?</strong> <%= @dco&.inpatient_facility %></p>
            <p class="mb-2"><strong>Is this location a clinic?</strong> <%= @dco&.is_clinic %></p>
            <p class="mb-2"><strong>Are you a Telehealth service provider?</strong> <%= @dco&.telehealth_provider %></p>
            <p class="mb-2"><strong>Website:</strong> <%= @dco&.website %></p>
            <p class="mb-2"><strong>TAX ID:</strong> <%= @dco&.tax_id %></p>
            <p class="mb-2"><strong>Facility Billing NPI:</strong> <%= @dco&.facility_billing_npi %></p>
            <p class="mb-2"><strong>MN Medicaid Number:</strong> <%= @dco&.mn_medicaid_number %></p>
            <p class="mb-2"><strong>WI Medicaid Number:</strong> <%= @dco&.wi_medicaid_number %></p>
            <p class="mb-2"><strong>Medicare ID PTAN:</strong> <%= @dco&.medicare_id_ptan %></p>
            <p class="mb-2"><strong>Taxonomy:</strong> <%= @dco&.taxonomy %></p>
            <p class="mb-2"><strong>Telehealth video conferencing technology used:</strong> <%= @dco&.telehealth_video_conferencing_technology %></p>
            <p class="mb-2"><strong>Does the provider offer Gender Affirming Treatment:</strong> <%= @dco&.is_gender_affirming_treatment %></p>
            <p class="mb-2"><strong>Panel Size:</strong> <%= @dco&.panel_size %></p>
            <p class="mb-2"><strong>Medicare Authorized Official:</strong> <%= @dco&.medicare_authorized_official %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card rounded shadow-lg p-1 px-3 mb-3">
        <%= render partial: "global_components/collapsible_sidebar_header", locals: {title: 'Collaborating/Supervising', collapse_name: 'dco_collab_fields' }%>
        <div class="collapsible" style="<%= current_user&.is_card_open?('dco_collab_fields') ? '' : 'display: none;' %>">
          <div class="text-left mt-3">
            <p class="mb-2"><strong>Name</strong> <%= @dco&.collab_name %></p>
            <p class="mb-2"><strong>NPI</strong> <%= @dco&.collab_npi %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card rounded shadow-lg p-1 px-3 mb-3">
        <%= render partial: "global_components/collapsible_sidebar_header", locals: {title: 'Qualifacts Contact List', collapse_name: 'dco_qualifacts_contact' }%>
        <div class="collapsible" style="<%= current_user&.is_card_open?('dco_qualifacts_contact') ? '' : 'display: none;' %>">
        <% @dco.group_dco_contacts.each do |dco| %>
          <div class="mb-4">
            <p class="mb-2"><strong>Office/Department:</strong> <%= dco&.department %></p>
            <p class="mb-2"><strong>Name:</strong> <%= dco&.name %> </p>
            <p class="mb-2"><strong>Role:</strong> <%= dco&.role %></p>
            <p class="mb-2"><strong>Phone Number:</strong> <%= dco&.phone %></p>
            <p class="mb-2"><strong>Email Address:</strong> <%= dco&.email %></p>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="addGroupDcoNote" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
      <div class="modal-content">
        <div class="p-4">
          <h2 class="text-center">Add New Note</h3>
          <form name="myForm" id="group-dco-note-form" method="post">
            <div class="col-xl-12 py-2">
              <label class="h5 text-secondary" for="">Title</label>
              <input type="text" name="title" class="form-control" placeholder="Type here..." required="true">
            </div>
            <div class="col-xl-12 mb-2 py-2">
              <label class="h5 text-secondary" for="">Note</label>
              <textarea class="form-control" name="description" placeholder="Type here..." rows="8" required="true"></textarea>
            </div>
              <input type="hidden" name="group_dco_id" class="form-control" value=<%= @dco&.id %>>
            <button type="submit" class="btn btn-primary btn-md w-100" id="add-note">
              <strong>Add Note</strong>
            </button>
          </form>
          <button class="btn btn-cancel w-100" data-bs-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card rounded shadow-lg p-1 px-3 py-2 mb-3 text-dark">
        <%= render partial: "global_components/collapsible_sidebar_header", locals: {title: 'Notes', collapse_name: 'dco_notes' }%>
        <div class="collapsible" style="<%= current_user&.is_card_open?('dco_notes') ? '' : 'display: none;' %>">
          <div id="group-dco-notes-list">
            <%= render partial: 'dcos/qualifacts/group_dco_note', collection: @dco.notes, as: :group_dco_note %>
          </div>
          <button class="btn btn-primary btn-xs w-100 py-2" id="add-group-dco-note " data-bs-toggle="modal" data-bs-target="#addGroupDcoNote">
            <strong>Add Note</strong>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    var csrfToken = $('meta[name="csrf-token"]').attr('content');
    var form = document.getElementById('group-dco-note-form');
    form.onsubmit = function(event){
        var title = form.elements.namedItem("title").value;
        var description = form.elements.namedItem("description").value;
        var group_dco_id = form.elements.namedItem("group_dco_id").value;
        createGrouDcoNote(group_dco_id, title, description, form)
        return false;
    }

    $("#group-dco-notes-list").on("click", ".remove-dynamic-fields", function() {
				var field = document.getElementsByClassName("group_dco_note");
				if(field.length > 1) {
					var id = $(this).data('id');
        	var model = $(this).data('model');
					deleteDynamicAttr(id,model,$(this));
				}
			});

    function createGrouDcoNote(group_dco_id, title, description, form) {
      $.ajax({
        url: '<%= group_dco_note_path %>',
        method: 'POST',
        data: { authenticity_token: csrfToken, data: {title: title, description: description, group_dco_id: group_dco_id} },
        success: function(data) {
          console.log(data)
          var container = document.getElementById('group-dco-notes-list');
          var newElement = document.createElement('div')
          newElement.innerHTML = data.html
          container.appendChild(newElement)
          $('#addGroupDcoNote').modal('hide');
          form.elements.namedItem("title").value = ""
          form.elements.namedItem("description").value = ""
        }
      })
    }

    function  deleteDynamicAttr(id,model,button) {
      $.ajax({
        url: '<%= delete_record_path %>',
        method: 'POST',
        data: { authenticity_token: csrfToken, id: id, model: model },
        success: function(data) {
            button.parent().parent().remove();
        }
      })
    }
  })
</script>