<div class="content container-fluid">
  <%= render partial: "mhc/verification_platform/encompass_nav"%>
</div>
<%= render 'user_restriction', locals: { access_key: 'Manage Client' } do %>
  <div class="enc-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-3">
          <%= render partial: "mhc/verification_platform/encompass_sidebar"%>
        </div>
        <div class="col-xl-9">
          <div class="d-flex page-applicable align-items-center gap-2 mb-2">
						<%= link_to "Add New Practitioner", new_manage_client_path, class: "btn btn-primary py-1 page-applicable" %>
              <button class="btn btn-primary py-1 page-applicable">
                  Modify Practitioner Record
              </button>
              <button class="btn btn-primary py-1 page-applicable">
                  Append and Remove Practitioner from Client Group
              </button>
              <button class="btn btn-primary py-1 page-applicable">
                  Reply Practitioner’s Question
              </button>
          </div>
          <%# <div class="row mt-3">
              <div class="col-xl-6">
                  <div class="form-control enc-search-wrp  border-dark">
                      <input type="text" class="enc-search-input" placeholder="Search by Committee Date">
                      <!-- <i class='bx bx-search'></i> -->
                  </div>
              </div>
          </div>  %> 
            <div class="table-responsive mt-3 mb-3">
              <table class="table table-bordered practice-table mt-3">
                <thead>
                  <tr>
                    <%# <th class="text-white" scope="col">Client Organization</th>
                    <th class="text-white">Current Client Organization</th> %>
                    <th class="text-white">Encompass ID</th>
                    <th class="text-white">Practitioner Name</th>
                    <th class="text-white">Verification Status</th>
                    <th class="text-white">Department/ Division</th>
                    <th class="text-white">Status</th>
                    <th class="text-white">Image Management</th>
                  </tr>
                </thead>
                <tbody>
                  <% @provider_personal_informations.each do |provider_personal_information| %>
                    <tr>
                      <%# <td>Lorem</td>
                      <td>Lorem</td> %>
                      <td><%= provider_personal_information.provider_attest_id %></td>
                      <td>
                        <%= link_to mhc_verification_platform_path(provider_personal_information) do %>
                          <%= "#{provider_personal_information&.fullname}, #{provider_personal_information.provider_type_provider_type_abbreviation}" %>
                        <% end %>
                      </td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary button-sm px-3 py-2 mx-2" data-bs-toggle="modal" data-bs-target="#downloadModal">
                          <i class="fa-solid fa-upload"></i>
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="downloadModal" tabindex="-1" aria-labelledby="downloadModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h1 class="modal-title" id="downloadModalLabel">Image Management</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                <%=form_for(@document, url: provider_personal_uploaded_docs_mhc_manage_clients_path, html: { multipart: true }) do |f| %>
                                  <% if @document.errors.any? %>
                                    <div id="error_explanation" class="row my-2 text-red">
                                      <div class="col-lg-12">
                                        <h2><%= pluralize(@document.errors.count, "error") %> prohibited this document from being saved:</h2>
                                        <ul>
                                          <% @document.errors.full_messages.each do |message| %>
                                            <li><%= message %></li>
                                          <% end %>
                                        </ul>
                                      </div>
                                    </div>
                                  <% end %>

                                  <%= f.hidden_field :provider_id, value: provider_personal_information.provider_id %>
                                  <%= f.hidden_field :provider_attest_id, value: provider_personal_information.provider_attest_id %>

                                  <div class="form-group my-2">
                                    <label for="">Image Classification: </label>
                                    <%= f.select :image_classification, options_for_select(['', ''] + ProviderPersonalUploadedDoc.image_classifications.keys.map(&:titleize), f.object.image_classification), {}, class: 'form-select', placeholder: 'Image Classification' %>
                                  </div>

                                  <div class="form-group my-2">
                                    <label for="">Sub Section: </label>
                                    <%= f.select :sub_section, options_for_select(['', ''] + ProviderPersonalUploadedDoc.enum_list('sub_sections'), f.object.sub_section), {}, class: 'form-select', placeholder: 'Sub Section' %>
                                  </div>

                                  <div class="form-group my-2">
                                    <label for="">Description: </label>
                                    <%= f.text_area :description, class: 'form-control' %>
                                  </div>

                                  <div class="form-group my-2">
                                    <label for="">Exclude From Profile: </label>
                                    <%= f.check_box :exclude_from_profile %>
                                  </div>

                                  <div class="form-group my-2">
                                    <label for="">File Upload:</label>
                                    <%= f.file_field :file_upload, class: 'form-control' %>
                                  </div>

                                   <div class="form-group my-2">
                                      <%= link_to 'Back', manage_clients_path, class: 'btn btn-default'  %>
                                      <%= f.submit "Upload & Save", class: 'btn btn-success' %>
                                    </div>

                                <% end %>
                              </div>
                            </div>
                          </div>
                        </div>

                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary button-sm px-3 py-2" data-bs-toggle="modal" data-bs-target="#viewDocumentModal">
                          <i class="fa-solid fa-eye"></i>
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="viewDocumentModal" tabindex="-1" aria-labelledby="viewDocumentModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h1 class="modal-title" id="viewDocumentModalLabel">View Document List</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                <table class="table table-striped table-bordered table-responsive">
                                  <thead>
                                    <tr>
                                      <th scope="col" class="bg-primary text-white">Image Classification</th>
                                      <th scope="col" class="bg-primary text-white">Sub Section</th>
                                      <th scope="col" class="bg-primary text-white">File</th>
                                      <th scope="col" class="bg-primary text-white">Create Date</th>
                                      <th scope="col" class="bg-primary text-white">Action</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <% provider_personal_information.provider_personal_uploaded_docs.each do |doc| %>
                                      <% next unless doc.persisted? %>
                                      <tr>
                                        <td><%= doc.image_classification %></td>
                                        <td><%= doc.sub_section %></td>
                                        <td><%= link_to doc.file_upload.identifier, doc.file_upload.url, target: '_blank' %></td>
                                        <td><%= doc.created_at %></td>
                                        <td>
                                          <%= button_to delete_provider_personal_docs_mhc_manage_clients_path(doc_id: doc), method: :delete, data: { confirm: 'Are you sure you want to delete?' }, class: 'btn btn-xs btn-danger' do %>
                                            <i class="bi bi-trash"></i>
                                          <% end %>
                                        </td>
                                      </tr>
                                    <% end %>
                                    <% if provider_personal_information.provider_personal_uploaded_docs.empty? %>
                                      <tr>
                                        <td colspan="5">No documents available.</td>
                                      </tr>
                                    <% end %>
                                  </tbody>
                                </table>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                  <% end %>  
                </tbody>
              </table>
            </div>
            <% if @provider_personal_informations %>
              <div class="col-lg-12">
                <div class="d-flex justify-content-between bg-medium-grey rounded align-items-center py-0">
                  <div class="page_info ms-3 text-black">
                    <%= page_entries_info @provider_personal_informations %>
                  </div>
                  <% if params[:per_page ].present? %>
                    <%= will_paginate @provider_personal_informations, :params =>  {per_page: @per_page }, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
                  <% else %>
                    <%= will_paginate @provider_personal_informations, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
                  <% end %>
                </div>
              </div>
            <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>