<div class="enc-content">
  <%= form_with model: @provider_personal_information, url: manage_clients_path do |form| %>
      <div class="container-fluid">
          <div class="row">
              <div class="col-xl-12">
                  <%= render partial: "verification_platform/encompass_nav" %>
              </div>
              </div>
          <div class="row mb-3">
              <div class="col-xl-12 mb-1">
                  <h2>
                      <a href="<%= mhc_manage_clients_path %>" class="d-flex gap-2 text-secondary">
                          <i class="bi bi-arrow-left h5 d-flex align-items-center"></i>
                          <span class="h1">Add New Practitioner</span>
                      </a>
                  </h2>
              </div>
          </div>
          <div class="row mb-3 mx-2">
              <div class="col-xl-3">
                  <label class="text-dark-grey">First Name <span class="text-red">*</span></label>
                  <%= text_field_tag "provider_personal_information[first_name]", nil, class: "form-control border-dark" %>
              </div>
              <div class="col-xl-3">
                  <label class="text-dark-grey">Middle Name</label>
                  <%= text_field_tag "provider_personal_information[middle_name]", nil, class: "form-control border-dark", placeholder: "Type here..." %>
              </div>
              <div class="col-xl-4">
                  <label class="text-dark-grey">Last Name <span class="text-red">*</span></label>
                <%= text_field_tag "provider_personal_information[last_name]", nil, class: "form-control border-dark", placeholder: "Type here...", required: true %>
              </div>
              <div class="col-xl-2">
                  <label class="text-dark-grey">Suffix</label>
                  <%= select_tag "provider_personal_information[suffix]", options_for_select(['Jr.', 'Sr.', 'II', 'III', 'IV', 'V']), prompt: 'Select Option', class: 'form-select border border-dark' %>
              </div>
          </div>
          <div class="row mb-3 mx-2">
              <div class="col-xl-6">
                  <label class="text-dark-grey" for="gender">Gender</label>
                  <%= select_tag "provider_personal_information[gender]", options_for_select(['Male', 'Female', 'Non Binary']), prompt: 'Select Gender', class: 'form-select border border-dark' %>
              </div>
              <div class="col-xl-6">
                  <label class="text-dark-grey">Date of Birth  <span class="text-red">*</span></label>
                  <%= date_field_tag "provider_personal_information[date_of_birth]", nil, class: 'form-control border-dark', placeholder: 'MM/DD/YYYY', required: true %>
              </div>
          </div>
          <div class="row mb-3 mx-2">
              <div class="col-xl-6">
                  <label class="text-dark-grey" for="social-security-number">Social Security Number  <span class="text-red">*</span></label>
                  <%= text_field_tag "provider_personal_information[ssn]", nil, class: "form-control border-dark", placeholder: "Type here...", required: true %>
              </div>
          </div>
          <!-- Send Notification to Credentialing Contact Container -->
              <%= form.fields_for :provider_personal_information_credentialing_contact do |contact_fields| %>
                <div class="border rounded shadow mx-3 mt-5 pb-2">
                    <div class="row mt-4 ms-2">
                        <label class="h4">Send Notification to Credentialing Contact</label>
                    </div>
                    <div class="row mx-2 mb-3">
                        <div class="col-xl-3">
                            <label class="text-dark-grey">First Name </label>
                          <%= contact_fields.text_field :firstname , class:"form-control border-dark", placeholder:"Type here..."%>
                        </div>
                        <div class="col-xl-3">
                            <label class="text-dark-grey">Middle Name</label>
                          <%= contact_fields.text_field :middlename , class:"form-control border-dark", placeholder:"Type here..."%>
                        </div>
                        <div class="col-xl-4">
                            <label class="text-dark-grey">Last Name </label>
                          <%= contact_fields.text_field :lastname , class:"form-control border-dark", placeholder:"Type here..."%>
                        </div>
                        <div class="col-xl-2">
                            <label class="text-dark-grey">Suffix</label>
                            <%= contact_fields.select :suffix_of_credentialing_contact, options_for_select([ 'Jr.', 'Sr.', 'II', 'III', 'IV', 'V']), {prompt: 'Select Option'}, { class: 'form-select border border-dark'} %>

                        </div>
                    </div>
                    <div class="row mx-2 mb-3">
                        <div class="col-xl-6">
                            <label class="text-dark-grey">Contact Method</label>
                            <%= contact_fields.select :contact_method, options_for_select([ 'Do not send.', 'Email.', 'Fax', 'Letter']), {prompt: 'Select Option'}, { class: 'form-select border border-dark'} %>
                        </div>
                        <div class="col-xl-6">
                            <label class="text-dark-grey">Phone Number</label>
                            <%= contact_fields.number_field :phone_number, class: 'form-control border-dark', placeholder: 'Type here...' %>
                        </div>
                    </div>
                    <div class="row mb-3 mx-2">
                        <div class="col-xl-6">
                            <label class="text-dark-grey">Fax Number </label>
                            <%= contact_fields.text_field :fax_number, class:"form-control border-dark", placeholder:"Type here..."%>
                        </div>
                        <div class="col-xl-6">
                            <label class="text-dark-grey">Email Address </label>
                            <%= contact_fields.email_field :email_address, class: 'form-control border-dark', placeholder: 'Type here...' %>
                        </div>
                    </div>
                    <div class="row mb-3 mx-2">
                        <div class="col-xl-6">
                            <label class="text-dark-grey">Address </label>
                            <%= contact_fields.text_field :address, class: 'form-control border-dark', placeholder: 'Type here...' %>
                        </div>
                        <div class="col-xl-6">
                            <label class="text-dark-grey">Suit/Apt </label>
                            <%= contact_fields.text_field :suit_or_apt, class: 'form-control border-dark', placeholder: 'Type here...' %>
                        </div>
                    </div>
                    <div class="row mb-3 mx-2">
                        <div class="col-xl-6">
                            <label class="text-dark-grey">Additional Address </label>
                            <%= contact_fields.text_field :additional_address, class: 'form-control border-dark', placeholder: 'Type here...' %>
                        </div>
                        <div class="col-xl-6">
                            <label class="text-dark-grey">City </label>
                            <%= contact_fields.text_field :city, class: 'form-control border-dark', placeholder: 'Type here...' %>
                        </div>
                    </div>
                    <div class="row mb-3 mx-2">
                        <div class="col-xl-6">
                            <label class="text-dark-grey">County</label>
                            <%= contact_fields.text_field :county, class: 'form-control border-dark', placeholder: 'Type here...' %>
                        </div>
                        <div class="col-xl-6">
                            <label class="text-dark-grey">State/Province</label>
                             <%= contact_fields.text_field :state_or_province, class: 'form-control border-dark', placeholder: 'Type here...' %>

                        </div>
                    </div>
                    <div class="row mb-3 mx-2">
                        <div class="col-xl-6">
                            <label class="text-dark-grey">Zip Code</label>
                            <%= contact_fields.text_field :zipcode, class: 'form-control border-dark', placeholder: 'Type here...' %>
                        </div>
                        <div class="col-xl-6">
                            <label class="text-dark-grey">Country</label>
                            <%= contact_fields.text_field :country, class: 'form-control border-dark', placeholder: 'Type here...' %>

                        </div>
                    </div>
                </div>
              <% end %>
          <!-- Send Notification to Credentialing Contact Container -->

          <div class="row mb-3 mx-2 mt-5">
              <div class="col-xl-6">
                  <label class="text-dark-grey">Practitioner Type</label>
                      <%= text_field_tag "provider_personal_information[practitioner_type]", nil, class: 'form-control border-dark', placeholder: 'Type here...' %>
              </div>
              <div class="col-xl-6">
                  <label class="text-dark-grey">Credentials Committee Date </label>
                  <%= date_field_tag "provider_personal_information[credentials_committee_date]", nil, class: 'form-control border-dark', placeholder: 'MM/DD/YYYY' %>
              </div>
          </div>
          <div class="row mb-3 mx-2">
              <div class="col-xl-6">
                  <label class="text-dark-grey">Client Batch Date </label>
                  <%= date_field_tag "provider_personal_information[client_batch_date]", nil, class: 'form-control border-dark', placeholder: 'MM/DD/YYYY' %>
              </div>
              <div class="col-xl-6">
                  <label class="text-dark-grey">Client Batch Name</label>
                  <%= text_field_tag "provider_personal_information[client_batch_name]", nil, class: 'form-control border-dark', placeholder: 'Type here...' %>
              </div>
          </div>
          <div class="row mb-3 mx-2">
              <div class="col-xl-6">
                  <label class="text-dark-grey">Client Batch ID </label>
                  <%= text_field_tag "provider_personal_information[client_batch_id]", nil, class: 'form-control border-dark', placeholder: 'Type here...' %>
              </div>
              <div class="col-xl-6">
                  <label class="text-dark-grey">Market(s)</label>
                  <%= text_field_tag "provider_personal_information[market]", nil, class: 'form-control border-dark', placeholder: 'Type here...' %>
              </div>
          </div>
          <div class="row mb-3 mx-2">
              <div class="col-xl-6">
                      <label class="text-dark-grey">Status</label>
                      <%= select_tag "provider_personal_information[status]", options_for_select(['Credential (Appointment)', 'Recredential (Reappointment)']), prompt: 'Select Option', class: 'form-select border border-dark' %>
              </div>
              <div class="col-xl-6">
                      <label class="text-dark-grey">Application Method</label>
                      <%= select_tag "provider_personal_information[application_method]", options_for_select(['Paper', 'Online']), prompt: 'Select Option', class: 'form-select border border-dark' %>
              </div>
          </div>
          <div class="row mb-3 mx-2">
              <div class="col-xl-6">
                      <label class="text-dark-grey">Available to be on call?</label>
                      <%= select_tag "provider_personal_information[availability]", options_for_select(['Yes', 'No']), prompt: 'Select Option', class: 'form-select border border-dark' %>
              </div>
          </div>
          <div class="row mt-5 ms-5">
              <div class="col-xl-3 ms-auto">
                      <div class="col-xl-9 ms-5">
                          <%= form.submit "Add New Practitioner", class:"btn btn-primary ms-5"%>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  <% end %>
</div>
