	<%= form_for @enrollment_group, :url => {action: action_name} , html: { multipart: true } do |f| %>
	<% if @enrollment_group.errors.any? %>
    <div id="error_explanation" class="row mb-3">
					<div class="col-lg-12">
							<h2><%= pluralize(@enrollment_group.errors.count, "error") %> prohibited this enrollment user from being saved:</h2>

							<ul>
									<% @enrollment_user.errors.full_messages.each do |message| %>
											<li><%= message %></li>
									<% end %>
							</ul>
					</div>
    </div>
  <% end %>
		<div class="row mb-3">
			<div class="col-lg-6">
				<input type="text" class="form-control" name="group_name" required placeholder="Group Name *">
			</div>
			<div class="col-lg-6">
				<input type="text" class="form-control" name="group_code" required placeholder="Group Code *">
			</div>
		</div>
		<div class="row mb-3">
			<div class="col-lg-6">
				<input type="text" class="form-control" name="group_office_address" required placeholder="Office Address*">
			</div>
			<div class="col-lg-6">
				<input type="text" class="form-control" name="group_city" required placeholder="City *">
			</div>
		</div>
		<div class="row mb-3">
			<div class="col-lg-6">
				<select required class="form-select">
					<option value="">State *</option>
					<% @states.each do |state| %>
						<option value="<%= state.name %>"><%= state.name %></option>
					<% end %>
				</select>
			</div>
			<div class="col-lg-6">
				<input type="text" class="form-control" name="group_zip_code" required placeholder="Zip Code *">
			</div>
		</div>
		<div class="row mb-3">
			<div class="col-lg-4">
				<input type="text" class="form-control" name="group_telephone" required placeholder="Telephone Number *">
			</div>
			<div class="col-lg-2">
				<input type="text" class="form-control" name="group_telephone_ext"  placeholder="Ext">
			</div>
			<div class="col-lg-6">
				<input type="text" class="form-control" name="group_fax_number" required placeholder="Fax Number *">
			</div>
		</div>
		<div class="row mb-3">
			<div class="col-lg-12">
		                  <div class="d-flex align-items-center my-3">
		                        <button type="button" class="btn btn-xs btn-toggle has-to-show" data-toshow="established_business_group" data-toggle="button" aria-pressed="false" autocomplete="off">
		                           <div class="handle"></div>
		                        </button>
		                        <small class="ms-2">Are you an established business group? If yes, enter your legal business name as reported to IRS.</small>
		                  </div>
			</div>
		    <div class="d-none" id="established_business_group">
		    	<input type="text" name="group_esablished_name" class="form-control" placeholder="Legal Business Name" required>
		    </div>
		</div>
		<div class="row mb-3">
			<div class="col-lg-12">
		        <div class="d-flex align-items-center my-3">
		              <button type="button" class="btn btn-xs btn-toggle has-to-show" data-toshow="other_name" data-toggle="button" aria-pressed="false" autocomplete="off">
		                 <div class="handle"></div>
		              </button>
		              <small class="ms-2">Do you have another name?</small>
		        </div>
			</div>
			<div class="row mb-3">
				<div class="col-lg-6" id="other_name">
					<input type="text" name="group_other_established_name" class="form-control" required>
				</div>
				<div class="col-lg-6">
					<select class="form-select" required name="group_type" id="group_type_picker">
						<option>Type</option>
						<option>Former Business Name</option>
						<option value="dba">DBA</option>
						<option value="other">Other</option>
					</select>
					<input type="text" name="group_type" class="form-control d-none" id="other_type" placeholder="Type here">
				</div>
			</div>
			<div class="row mb-3">
				<div class="col-lg-6">
					<select class="form-select" required name="group_specific_type">
						<option>Specify type of Group</option>
					</select>
				</div>
			<div class="row mb-3">
				<div class="col-lg-6">
			        <div class="d-flex align-items-center my-3">
			              <button type="button" class="btn btn-xs btn-toggle has-to-show to-change-value" data-tochange="group_shared_tin" data-toshow="other_name" data-toggle="button" aria-pressed="false" autocomplete="off">
			                 <div class="handle"></div>
			              </button>
			              <small class="ms-2">Is this a shared TIN?</small>
			              <input type="hidden" name="group_shared_tin" value="no">
			        </div>
				</div>
				<div class="col-lg-6">
					<input type="text" name="group_cp575" placeholder="Upload CP575 or Proof of TIN" class="form-control" onfocus="(this.type = 'file')" >
				</div>
			</div>
			<div class="row mb-3">
				<div class="col-lg-6">
					<select class="form-select" required name="group_specific_type">
						<option>Specify type of Group</option>
					</select>
				</div>
				<div class="col-lg-6">
					<input type="text" name="group_type_file" placeholder="Upload File" class="form-control" onfocus="(this.type = 'file')" >
				</div>
			</div>
			<div class="row mb-3">
				<div class="col-lg-6">
					<input type="text" name="group_npi_ii_number" placeholder="10 Digit Type II NPI (XXXXXXXXXX)" class="form-control" >
				</div>
				<div class="col-lg-6">
					<select class="form-select" required name="group_group">
						<option>Group*</option>
					</select>
				</div>
			</div>
			<div class="row mb-5">
				<div class="col-lg-6">
					<label>Which of the following provider types do you employ?</label>
					<select class="form-select" required name="group_group">
						<option>Provider Type</option>
		                  	<% @provider_types.each do |provider_type|%>
		                  		<option value=<%= provider_type.fch %>><%= provider_type.fch%></option>
		                  	<% end %>
					</select>
				</div>
			</div>
			<div class="row mb-5">
				<div class="col-lg-12 mb-1">
					<label>Pay To/Billing Address (where checks are mailed)</label>
				</div>
				<div class="col-lg-6">
					<input type="text" name="group_billing_po_box" class="form-control" placeholder="Address or PO Box">
				</div>
				<div class="col-lg-6">
					<input type="text" name="group_biling_city" class="form-control" placeholder="City">
				</div>
				<div class="col-lg-6 mt-1">
					<select class="form-select" name="group_biling_state">
	                     	<option value="">Select option</option>
	                     	<% @states.each do |state|%>
	                     		<option value="<%= state.name %>"><%= state.name %></option>
	                     	<% end %>
	                     </select>
				</div>
				<div class="col-lg-6 mt-1">
					<input type="text" name="group_biling_zipcode" class="form-control" placeholder="Zip code">
				</div>
			</div>
			<div class="row mb-5">
				<div class="col-lg-12 mb-1">
					<label>Correspondence Address (if different from biling address)</label>
				</div>
				<div class="col-lg-6">
					<input type="text" name="group_correspondence_po_box" class="form-control" placeholder="Address or PO Box">
				</div>
				<div class="col-lg-6">
					<input type="text" name="group_correspondence_city" class="form-control" placeholder="City">
				</div>
				<div class="col-lg-6 mt-1">
					<select class="form-select" name="group_correspondence_state">
	                     	<option value="">Select option</option>
	                     	<% @states.each do |state|%>
	                     		<option value="<%= state.name %>"><%= state.name %></option>
	                     	<% end %>
	                     </select>
				</div>
				<div class="col-lg-6 mt-1">
					<input type="text" name="group_correspondence_zipcode" class="form-control" placeholder="Zip code">
				</div>
			</div>
			<div class="row mb-5">
				<div class="col-lg-12 mb-1">
					<label>Upload a list for each individual with ownership interest and or managing control in the group to include the following information:</label>
				</div>
				<div class="col-lg-12">
					<input type="file" name="group_ownership_files" class="form-control">
				</div>
			</div>
			<div class="row mb-3">
				<div class="col-lg-12 d-flex justify-content-end">
					<button class="btn btn-primary
					btn-md">Add Group</button>
				</div>
			</div>


		</div>
	</form>
</div>

<script>
	$('#group_type_picker').on('change',function(){
		$(this).val() == 'other' ? changeToInput() : '';
	})

	function changeToInput() {
		$('#group_type_picker').addClass('d-none');
		$('#other_type').removeClass('d-none');

	}
</script>
<% end %>