<nav>
   <div class="enc-navs">
      <%= link_to 'Autoverify', auto_verifies_path, class: "btn enc-btn-nav #{encompass_nav_active('auto_verifies','index')}"%>
      <%= link_to "Client Home", verification_platform_index_path, class: "btn enc-btn-nav #{encompass_nav_active('verification_platform','index')}"%>
      <%= link_to "Manage Client", 'javascript:void(0);', class: "btn enc-btn-nav #{encompass_nav_active('manage_clients', 'index')}"%>
      <%= link_to "Manage Practitioner", 'javascript:void(0);', class: "btn enc-btn-nav #{encompass_nav_active('manage_practitioners','index')}"%>
      <%= link_to "Manage Tools", 'javascript:void(0);', class: "btn enc-btn-nav #{encompass_nav_active('manage_tools','index')}"%>
      <%= link_to "Query Report", query_reports_path, class: "btn enc-btn-nav #{encompass_nav_active('query_reports','index,staff_directory,provider_directory,privilege_reporting_tool,meeting_report_by_practitioner,cme_practitioner_profile,customize_reporting_service')}"%>
      <%= link_to "Work Tickler", 'javascript:void(0);', class: "btn enc-btn-nav #{encompass_nav_active('manage_tools','index')}"%>
   </div>
</nav>
