 <div class="row">
                <div class="col-xl-6 d-flex align-items-center">
                    <div class="d-flex align-items-center gap-3">
                        <a href="<%= verification_platform_index_path %>" class="link-back">
                            <i class='bx bx-left-arrow-alt' ></i>
                        </a>
                        <h4 class="page-heading">Quirin, Jayce Drave - ENCE2130231</h4>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="enc-navs">
                        <button class="btn enc-btn-nav btn-sm btn-primary active">Home</button>
                        <button class="btn enc-btn-nav btn-sm btn-primary">Profile</button>
                        <button class="btn enc-btn-nav btn-sm btn-primary">Application</button>
                    </div>
                </div>
            </div>
            <div class="enc-tabs-wrp mt-4">
                <a href="<%= verification_platform_index_path(page: 'overview')%>" class="btn enc-btn-nav btn-sm  <%= params[:page] == 'overview' ? 'active btn-primary fw-bold' : 'bg-alt-grey text-black fw-semibold' %>">Overview</a>
                <a href="<%= verification_platform_index_path(page: 'agreement')%>" class="btn enc-btn-nav btn-sm <%= params[:page] == 'agreement' ? 'active btn-primary fw-bold' : 'bg-alt-grey text-black fw-semibold' %>">Agreement</a>

                <a href="<%= verification_platform_index_path(page: 'practitioner_info')%>" class="btn enc-btn-nav btn-sm  <%= params[:page] == 'practitioner_info' ? 'active btn-primary fw-bold' : 'bg-alt-grey text-black fw-semibold' %>">Practitioner Info</a>

                <a href="<%= verification_platform_index_path(page: 'practice_info')%>" class="btn enc-btn-nav btn-sm <%= params[:page] == 'practice_info' ? 'active btn-primary fw-bold' : 'bg-alt-grey text-black fw-semibold' %>">Practice Info</a>

                <a href="<%= verification_platform_index_path(page: 'education')%>" class="btn enc-btn-nav btn-sm <%= params[:page] == 'education' ? 'active btn-primary fw-bold' : 'bg-alt-grey text-black fw-semibold' %>">Education</a>

                <a href="<%= verification_platform_index_path(page: 'training')%>" class="btn enc-btn-nav btn-sm <%= params[:page] == 'training' ? 'active btn-primary fw-bold' : 'bg-alt-grey text-black fw-semibold' %>">Training</a>

                <a href="<%= verification_platform_index_path(page: 'board_cert')%>" class="btn enc-btn-nav btn-sm <%= params[:page] == 'board_cert' ? 'active btn-primary fw-bold' : 'bg-alt-grey text-black fw-semibold' %>">Board Cert</a>

                <a href="<%= verification_platform_index_path(page: 'registration')%>" title="Currently Unavailable" class="btn enc-btn-nav btn-sm <%= params[:page] == 'registration' ? 'active btn-primary fw-bold' : 'bg-alt-grey text-black fw-semibold' %>">Registration</a>

                <a href="javascript:void(0);" title="Currently Unavailable" class="unavailable btn enc-btn-nav btn-sm bg-alt-grey text-black fw-semibold">Licensure</a>
                <a href="javascript:void(0);" title="Currently Unavailable" class="unavailable btn enc-btn-nav btn-sm bg-alt-grey text-black fw-semibold">Liability</a>
                <a href="javascript:void(0);" title="Currently Unavailable" class="unavailable btn enc-btn-nav btn-sm bg-alt-grey text-black fw-semibold">App Tracking</a>
                <a href="javascript:void(0);" title="Currently Unavailable" class="unavailable btn enc-btn-nav btn-sm bg-alt-grey text-black fw-semibold">Facilities</a>
                <a href="javascript:void(0);" title="Currently Unavailable" class="unavailable btn enc-btn-nav btn-sm bg-alt-grey text-black fw-semibold">NPDB</a>
                <a href="javascript:void(0);" title="Currently Unavailable" class="unavailable btn enc-btn-nav btn-sm bg-alt-grey text-black fw-semibold">Additional Forms</a>
                <a href="javascript:void(0);" title="Currently Unavailable" class="unavailable btn enc-btn-nav btn-sm bg-alt-grey text-black fw-semibold">Disclosures</a>
                <a href="javascript:void(0);" title="Currently Unavailable" class="unavailable btn enc-btn-nav btn-sm bg-alt-grey text-black fw-semibold">OIG</a>
                <a href="javascript:void(0);" title="Currently Unavailable" class="unavailable btn enc-btn-nav btn-sm bg-alt-grey text-black fw-semibold">SAM</a>
                <a href="javascript:void(0);" title="Currently Unavailable" class="unavailable btn enc-btn-nav btn-sm bg-alt-grey text-black fw-semibold">NPI</a>
                <a href="javascript:void(0);" title="Currently Unavailable" class="unavailable btn enc-btn-nav btn-sm bg-alt-grey text-black fw-semibold">SSA</a>
                <a href="javascript:void(0);" title="Currently Unavailable" class="unavailable btn enc-btn-nav btn-sm bg-alt-grey text-black fw-semibold">Billing Info</a>
                <a href="javascript:void(0);" title="Currently Unavailable" class="unavailable btn enc-btn-nav btn-sm bg-alt-grey text-black fw-semibold">CME</a>
                <a href="javascript:void(0);" title="Currently Unavailable" class="unavailable btn enc-btn-nav btn-sm bg-alt-grey text-black fw-semibold">Teaching</a>
                <a href="javascript:void(0);" title="Currently Unavailable" class="unavailable btn enc-btn-nav btn-sm bg-alt-grey text-black fw-semibold">Other Cert</a>
                <a href="javascript:void(0);" title="Currently Unavailable" class="unavailable btn enc-btn-nav btn-sm bg-alt-grey text-black fw-semibold">Peer Ref</a>
                <a href="javascript:void(0);" title="Currently Unavailable" class="unavailable btn enc-btn-nav btn-sm bg-alt-grey text-black fw-semibold">Employment</a>
                <a href="javascript:void(0);" title="Currently Unavailable" class="unavailable btn enc-btn-nav btn-sm bg-alt-grey text-black fw-semibold">Liability Action</a>
                <a href="javascript:void(0);" title="Currently Unavailable" class="unavailable btn enc-btn-nav btn-sm bg-alt-grey text-black fw-semibold">Affiliations</a>
                <a href="javascript:void(0);" title="Currently Unavailable" class="unavailable btn enc-btn-nav btn-sm bg-alt-grey text-black fw-semibold">Fee Paid</a>
                <a href="javascript:void(0);" title="Currently Unavailable" class="unavailable btn enc-btn-nav btn-sm bg-alt-grey text-black fw-semibold">TB Status</a>
            </div>