 <div class="row">
                <div class="col-xl-6 d-flex align-items-center">
                    <div class="d-flex align-items-center gap-3">
                        <a href="<%= verification_platform_index_path %>" class="link-back">
                            <i class='bx bx-left-arrow-alt' ></i>
                        </a>
                        <h4 class="page-heading">Quirin, Jayce Drave - ENCE2130231</h4>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="enc-navs">
                        <button class="btn enc-btn-nav btn-sm btn-primary active">Home</button>
                        <button class="btn enc-btn-nav btn-sm btn-primary">Profile</button>
                        <button class="btn enc-btn-nav btn-sm btn-primary">Application</button>
                    </div>
                </div>
            </div>
            <div class="enc-tabs-wrp mt-4">
                <a href="<%= verification_platform_index_path(page: 'overview')%>" class="btn enc-btn-nav btn-sm  <%= params[:page] == 'overview' ? encompass_active_classes : encompass_idle_classes %>">Overview</a>
                <a href="<%= verification_platform_index_path(page: 'agreement')%>" class="btn enc-btn-nav btn-sm <%= params[:page] == 'agreement' ? encompass_active_classes : encompass_idle_classes %>">Agreement</a>

                <a href="<%= verification_platform_index_path(page: 'practitioner_info')%>" class="btn enc-btn-nav btn-sm  <%= params[:page] == 'practitioner_info'? encompass_active_classes : encompass_idle_classes %>">Practitioner Info</a>

                <a href="<%= verification_platform_index_path(page: 'practice_info')%>" class="btn enc-btn-nav btn-sm <%= ['practice_info_record', 'practice_info', 'add_practice_info'].include?(params[:page])  ? encompass_active_classes : encompass_idle_classes %>">Practice Info</a>

                <a href="<%= verification_platform_index_path(page: 'education')%>" class="btn enc-btn-nav btn-sm <%= (params[:page] == 'education' or params[:page] == 'education') ? encompass_active_classes : encompass_idle_classes %>">Education</a>

                <a href="<%= verification_platform_index_path(page: 'training')%>" class="btn enc-btn-nav btn-sm <%=(params[:page] == 'training' or params[:page] == 'add_new_training') ? encompass_active_classes : encompass_idle_classes %>">Training</a>

                <a href="<%= verification_platform_index_path(page: 'board_cert')%>" class="btn enc-btn-nav btn-sm <%= params[:page] == 'board_cert' ? encompass_active_classes : encompass_idle_classes %>">Board Cert</a>

                <a href="<%= verification_platform_index_path(page: 'registration')%>"  class="btn enc-btn-nav btn-sm <%= params[:page] == 'registration' ? encompass_active_classes : encompass_idle_classes %>">Registration</a>
                
                <a href="<%= verification_platform_index_path(page: 'licensure')%>" class="btn enc-btn-nav btn-sm <%= (params[:page] == 'licensure' or params[:page] == 'add_new_license') ? encompass_active_classes : encompass_idle_classes %>">Licensure</a>
            
                <a href="<%= verification_platform_index_path(page: 'liability')%>" class="btn enc-btn-nav btn-sm <%= (params[:page] == 'liability' or params[:page] == 'add_new_liability' or params[:page] == 'liability_info') ? encompass_active_classes : encompass_idle_classes %>">Liability</a>

                <a href="<%= verification_platform_index_path(page: 'app_tracking')%>"  class="btn enc-btn-nav btn-sm <%= (params[:page] == 'app_tracking' or params[:page] == 'add_new_application') ? encompass_active_classes : encompass_idle_classes %>">App Tracking</a>

                <a href="<%= verification_platform_index_path(page: 'facilities')%>"  class="btn enc-btn-nav btn-sm <%= (params[:page] == 'facilities' or params[:page] == 'add_new_facility' or params[:page] == 'facility_record') ? encompass_active_classes : encompass_idle_classes %>">Facilities</a>

                <a href="<%= verification_platform_index_path(page: 'npdb')%>"  class="btn enc-btn-nav btn-sm <%= (params[:page] == 'npdb') ? encompass_active_classes : encompass_idle_classes %>">NPDB</a>

                <a href="<%= verification_platform_index_path(page: 'additional_forms')%>"  class="btn enc-btn-nav btn-sm <%= (params[:page] == 'additional_forms') ? encompass_active_classes : encompass_idle_classes %>">Additional Forms</a>

                <a href="<%= verification_platform_index_path(page: 'disclosures')%>"  class="btn enc-btn-nav btn-sm <%= (params[:page] == 'disclosures') ? encompass_active_classes : encompass_idle_classes %>">Disclosures</a>

                <a href="<%= verification_platform_index_path(page: 'oig')%>"  class="btn enc-btn-nav btn-sm  <%= ['add_oig_info', 'oig', 'oig_info'].include?(params[:page])  ? encompass_active_classes : encompass_idle_classes %>">OIG</a>

                <a href="<%= verification_platform_index_path(page: 'sam')%>"  class="btn enc-btn-nav btn-sm <%= ['sam', 'add_new_sam', 'sam_record'].include?(params[:page]) ? encompass_active_classes : encompass_idle_classes %>">SAM</a>

                <a href="<%= verification_platform_index_path(page: 'npi')%>"  class="btn enc-btn-nav btn-sm <%= (params[:page] == 'npi') ? encompass_active_classes : encompass_idle_classes %>">NPI</a>

                <a href="<%= verification_platform_index_path(page: 'ssa')%>"  class="btn enc-btn-nav btn-sm <%= (params[:page] == 'ssa') ? encompass_active_classes : encompass_idle_classes %>">SSA</a>

                <a href="<%= verification_platform_index_path(page: 'billing_info')%>"  class="btn enc-btn-nav btn-sm <%= (params[:page] == 'billing_info') ? encompass_active_classes : encompass_idle_classes %>">Billing Info</a>

                <a href="<%= verification_platform_index_path(page: 'cme')%>"  class="btn enc-btn-nav btn-sm <%= (params[:page] == 'cme' or params[:page] == 'add_new_cme') ? encompass_active_classes : encompass_idle_classes %>">CME</a>

                <a href="<%= verification_platform_index_path(page: 'teaching')%>"  class="btn enc-btn-nav btn-sm <%= ['teaching', 'add_new_teaching', 'teaching_record'].include?(params[:page]) ? encompass_active_classes : encompass_idle_classes %>">Teaching</a>

                <a href="<%= verification_platform_index_path(page: 'other_cert')%>"  class="btn enc-btn-nav btn-sm <%=  ['other_cert', 'add_other_cert', 'other_cert_info'].include?(params[:page]) ? encompass_active_classes : encompass_idle_classes %>">Other Cert</a>

                <a href="<%= verification_platform_index_path(page: 'peer_ref')%>"  class="btn enc-btn-nav btn-sm <%= ['peer_ref', 'add_new_peer_ref', 'peer_ref_record'].include?(params[:page]) ? encompass_active_classes : encompass_idle_classes %>">Peer Ref</a>

                <a href="<%= verification_platform_index_path(page: 'employment')%>"  class="btn enc-btn-nav btn-sm <%= (params[:page] == 'employment' or params[:page] == 'add_new_employment' or params[:page] == 'employment_record') ? encompass_active_classes : encompass_idle_classes %>">Employment</a>

                <a href="<%= verification_platform_index_path(page: 'liability_action')%>"  class="btn enc-btn-nav btn-sm <%= (params[:page] == 'liability_action' or params[:page] == 'add_new_liability_action' or params[:page] == 'liability_action_record')  ? encompass_active_classes : encompass_idle_classes %>">Liability Action</a>

                <a href="<%= verification_platform_index_path(page: 'affiliations')%>"  class="btn enc-btn-nav btn-sm <%= (params[:page] == 'affiliations' or params[:page] == 'add_new_affiliation' or params[:page] == 'affiliation_record') ? encompass_active_classes : encompass_idle_classes %>">Affiliations</a>

                <a href="<%= verification_platform_index_path(page: 'fee_paid')%>"  class="btn enc-btn-nav btn-sm <%= (params[:page] == 'fee_paid' or params[:page] == 'fee_paid_record') ? encompass_active_classes : encompass_idle_classes %>">Fee Paid</a>

                <a href="<%= verification_platform_index_path(page: 'tb_status')%>"  class="btn enc-btn-nav btn-sm <%= (params[:page] == 'tb_status') ? encompass_active_classes : encompass_idle_classes %>">TB Status</a>

                <a href="<%= verification_platform_index_path(page: 'facility_disclosures')%>"  class="btn enc-btn-nav btn-sm <%= ['facility_disclosures'].include?(params[:page]) ? encompass_active_classes : encompass_idle_classes %>">Facility Disclosures</a>

                <a href="<%= verification_platform_index_path(page: 'accreditation')%>"  class="btn enc-btn-nav btn-sm <%= ['accreditation', 'accreditation_info', 'add_new_accreditation'].include?(params[:page]) ? encompass_active_classes : encompass_idle_classes %>">Accreditation</a>

                <a href="<%= verification_platform_index_path(page: 'medicare_cert')%>"  class="btn enc-btn-nav btn-sm <%= ['medicare_cert'].include?(params[:page]) ? encompass_active_classes : encompass_idle_classes %>">Medicare Cert</a>

                <a href="<%= verification_platform_index_path(page: 'medicare_part')%>"  class="btn enc-btn-nav btn-sm <%= ['medicare_part'].include?(params[:page]) ? encompass_active_classes : encompass_idle_classes %>">Medicare Part</a>

                <a href="<%= verification_platform_index_path(page: 'site_survey')%>"  class="btn enc-btn-nav btn-sm <%= ['site_survey'].include?(params[:page]) ? encompass_active_classes : encompass_idle_classes %>">Site Survey</a>

                <a href="<%= verification_platform_index_path(page: 'certifications')%>"  class="btn enc-btn-nav btn-sm <%= ['certifications', 'add_new_certification', 'certification_info'].include?(params[:page]) ? encompass_active_classes : encompass_idle_classes %>">Certifications</a>

                <a href="<%= verification_platform_index_path(page: 'ins_coverage')%>"  class="btn enc-btn-nav btn-sm <%= ['ins_coverage', 'add_insurance_coverage', 'insurance_coverage_info'].include?(params[:page]) ? encompass_active_classes : encompass_idle_classes %>">Ins. Coverage</a>

                <a href="<%= verification_platform_index_path(page: 'org_information')%>"  class="btn enc-btn-nav btn-sm <%= ['org_information'].include?(params[:page]) ? encompass_active_classes : encompass_idle_classes %>">Organization Information</a>
            </div>