<%= form_with model: @education, local: true do |f| %>
    <div class="enc-content">
        <div class="container">
            <%= render "top_nav_buttons"%>
   
            <div class="mt-4">
                <div class="d-flex align-items-center gap-3">
                    <h4 class="page-heading">Add New Education</h4>
                </div>
            </div>
            <form action="">
                <div class="form-row row mt-4">
                    <div class="col-xl-12">
                        <div class="card other-name-card">
                            <div class="card-body">
                                <div class="form-row row mt-2">
                                    <div class="col-xl-6">
                                                <label class="text-dark-grey">Provider Education Id:</label>
                                                <%= f.text_field :provider_education_id,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                                    </div>
                                    <div class="col-lg-6">
                                        <label class="text-dark-grey">Provider Attest:</label>
                                        <%= f.text_field :provider_attest,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                                    </div>
                                </div>
                                <div class="form-row row">
                                    <div class="col-lg-6">
                                        <label class="text-dark-grey">Institution Name:</label>
                                        <%= f.text_field :institution_name,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                                    </div>                                                                   
                                    <div class="col-lg-6">
                                        <label class="text-dark-grey">Address:</label>
                                        <%= f.text_field :address,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                                    </div>                                   
                                </div>
                                <div class="form-row row">
                                    <div class="col-lg-4">
                                        <label class="text-dark-grey">Address:</label>
                                        <%= f.text_field :address2,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                                    </div>
                                    <div class="col-lg-4">
                                        <label class="text-dark-grey">City:</label>
                                        <%= f.text_field :city,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                                    </div>
                                    <div class="col-lg-4">
                                        <label class="text-dark-grey">Province:</label>
                                        <%= f.text_field :province,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                                    </div>
                                </div>
                                <div class="form-row row">                                   
                                    <div class="col-lg-4">
                                        <label class="text-dark-grey">State:</label>
                                        <%= f.text_field :state,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                                    </div>
                                    <div class="col-lg-4">
                                        <label class="text-dark-grey">Postal Code:</label>
                                        <%= f.text_field :postal_code,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                                    </div>                    
                                    <div class="col-lg-4">
                                        <label class="text-dark-grey">Start Date:</label>
                                        <%= f.date_field :start_date, placeholder: 'Select a date...', class: 'form-control border border-dark' %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row row">
                    <div class="col-lg-4">
                        <label class="text-dark-grey">End Date:</label>
                        <%= f.date_field :end_date, placeholder: 'Select a date...', class: 'form-control border border-dark' %>
                    </div>
                    <div class="col-lg-4">
                        <label class="text-dark-grey">Affiliated University Name:</label>
                        <%= f.text_field :affiliated_university_name,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                    </div>                   
                    <div class="col-lg-4">
                        <label class="text-dark-grey">Hospital Department Name:</label>
                        <%= f.text_field :hospital_department_name, placeholder: 'Type here...', class: 'form-control border border-dark' %>
                    </div>
                </div>
                <div class="form-row row">
                    <div class="col-lg-4">
                        <label class="text-dark-grey">Training Area:</label>
                        <%= f.text_field :training_area,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                    </div>
                    <div class="col-lg-4">
                        <label class="text-dark-grey">Email Address:</label>
                        <%= f.text_field :email_address,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                    </div>                   
                    <div class="col-lg-4">
                        <label class="text-dark-grey">Certificate Issued By:</label>
                        <%= f.text_field :certificate_issued_by, placeholder: 'Type here...', class: 'form-control border border-dark' %>
                    </div>
                </div>
                <div class="checkboxes" style="display: flex; gap: 10px; margin-top: 20px;">
                  <div>
                    <%= f.label :apa_approved_flag, "Apa Approved Flag" %>
                    <%= f.check_box :apa_approved_flag %>
                  </div>

                  <div>
                    <%= f.label :program_completed_flag, "Program Completed Flag" %>
                    <%= f.check_box :program_completed_flag %>
                  </div>

                  <div>
                    <%= f.label :disciplinary_action_flag, "Disciplinary Action flag " %>
                    <%= f.check_box :disciplinary_action_flag %>
                  </div>
                </div>
                <div class="form-row row mt-4">
                    <div class="col-lg-6">
                        <label class="text-dark-grey">Program Title</label>
                        <%= f.text_field :program_title,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                    </div>                   
                    <div class="col-lg-6">
                        <label class="text-dark-grey">Program Director:</label>
                        <%= f.text_field :program_director,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                    </div>
                </div>            
                <div class="form-row row mt-3">
                     <div class="col-lg-6">
                        <label class="text-dark-grey">Completion Date:</label>
                        <%= f.date_field :completion_date, placeholder: 'Select a date...', class: 'form-control border border-dark' %>
                    </div>
                    <div class="col-lg-6">
                        <label class="text-dark-grey">Certificate Awarded:</label>
                        <%= f.text_field :certificate_awarded,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                    </div>
                </div>
                <div class="form-row row mt-3">
                     <div class="col-lg-6">
                        <label class="text-dark-grey">Teaching Position:</label>
                        <%= f.text_field :teaching_position,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                    </div>
                    <div class="col-lg-6">
                        <label class="text-dark-grey">Current Program Director:</label>
                        <%= f.text_field :current_program_director,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                    </div>
                </div>
                <div class="form-row row mt-3">
                     <div class="col-lg-6">
                        <label class="text-dark-grey">Incomplete Explanation:</label>
                        <%= f.text_field :incomplete_explanation,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                    </div>
                    <div class="col-lg-6">
                        <label class="text-dark-grey">Phone Number:</label>
                        <%= f.text_field :phone_number,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                    </div>
                </div>
                <div class="form-row row mt-3">
                     <div class="col-lg-6">
                        <label class="text-dark-grey">Fax Number:</label>
                        <%= f.text_field :fax_number,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                    </div>
                    <div class="col-lg-6">
                        <label class="text-dark-grey">Disciplinary Action Explanation:</label>
                        <%= f.text_field :disciplinary_action_explanation,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                    </div>
                </div>
              <div class="form-row row mt-3">
                     <div class="col-lg-6">
                        <label class="text-dark-grey">Program Director Degree:</label>
                        <%= f.text_field :program_director_degree,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                    </div>
                    <div class="col-lg-6">
                        <label class="text-dark-grey">Program Type:</label>
                        <%= f.text_field :program_type,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                    </div>
              </div>
              <div class="form-row row mt-3">
                     <div class="col-lg-6">
                        <label class="text-dark-grey">Additional Training Description:</label>
                        <%= f.text_field :additional_training_description,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                    </div>
                    <div class="col-lg-6">
                        <label class="text-dark-grey">Education Type Name:</label>
                        <%= f.text_field :education_type_name,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                    </div>
              </div>
              <div class="form-row row mt-3">
                     <div class="col-lg-4">
                        <label class="text-dark-grey">Hours:</label>
                        <%= f.text_field :hours,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                    </div>
                    <div class="col-lg-4">
                        <label class="text-dark-grey">Country Country Name:</label>
                        <%= f.text_field :country_country_name,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                    </div>
                    <div class="col-lg-4">
                        <label class="text-dark-grey">Degree Degree Abbreviation:</label>
                        <%= f.text_field :degree_degree_abbreviation,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                    </div>
              </div>
              <div class="form-row row mt-3">
                     <div class="col-lg-6">
                        <label class="text-dark-grey">Specialty Specialty Name:</label>
                        <%= f.text_field :specialty_specialty_name,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                    </div>
                    <div class="col-lg-6">
                        <label class="text-dark-grey">Institution Type Institution Type Description:</label>
                        <%= f.text_field :institution_type_institution_type_description,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                    </div>
              </div>
            </form>
            <div class="col-xl-6 text-left" style="margin-top: 20px;">
              <%= f.submit 'Submit', class: 'btn btn-primary', style: 'width: 200px;' %> 
            </div>
        </div>
    </div>
<% end %>