  <%= form_with model: @provider_insurance_coverage, local: true do |f| %>
    <div class="enc-content">
        <div class="container">
           <%= render "top_nav_buttons"%>

					 
            <div class="row mt-4">
                <div class="col-xl-6 d-flex align-items-center">
                    <div class="d-flex align-items-center gap-3">
                        <a href="<%= verification_platform_index_path(page: 'liability')%>" class="link-back">
                            <i class='bx bx-left-arrow-alt'></i>
                        </a>
                        <h4 class="page-heading">Add New Liability</h4>
                    </div>
                </div>
            </div>

            <form action="">
                <div class="form-row row mt-3">
                    <div class="col-xl-4">
                        <label for="SelfIssued">Provider Attest Id:</label>
                        <%= f.text_field :provider_attest_id,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                    </div>
                    <div class="col-xl-4">
                        <label for="SelfIssued">Insurance Carrier Name:</label>
                        <%= f.text_field :insurance_carrier_name,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                    </div>
                    <div class="col-xl-4">
                        <label for="SelfIssued">Original Start Date:</label>
												<%= f.date_field :original_start_date, placeholder: 'Select a date...', class: 'form-control border border-dark' %>
                    </div>
                </div>

                <div class="page-applicable">
                    <div class="card mt-3">
                        <div class="form-row row p-2">
                            <div class="form-row row">
                                <div class="col-xl-6">
																		<label for="SelfIssued">Start Date:</label>
																		<%= f.date_field :start_date, placeholder: 'Select a date...', class: 'form-control border border-dark' %>
																</div>
																<div class="col-xl-6">
																		<label for="SelfIssued">End Date:</label>
																		<%= f.date_field :end_date, placeholder: 'Select a date...', class: 'form-control border border-dark' %>
																</div>
														</div>
                            <div class="form-row row">
                                <div class="col-xl-6">
																		<label for="SelfIssued">Address:</label>
																		<%= f.text_field :address,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
																</div>
                                <div class="col-xl-6">
																		<label for="SelfIssued">Additional Address:</label>
																		<%= f.text_field :address2,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
																</div>
                            </div>
                            <div class="form-row row">
                                <div class="col-xl-6">
																		<label for="SelfIssued">City:</label>
																		<%= f.text_field :city,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
																</div>
                                 <div class="col-xl-6">
																		<label for="SelfIssued">State:</label>
																		<%= f.text_field :state,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
																</div>
                            </div>
                            <div class="form-row row">
                                 <div class="col-xl-4">
																		<label for="SelfIssued">Province:</label>
																		<%= f.text_field :province,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
																</div>
                                <div class="col-xl-4">
																		<label for="SelfIssued">Postal Code:</label>
																		<%= f.text_field :postal_code,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
																</div>
                                <div class="col-xl-4">
																		<label for="SelfIssued">Phone Number:</label>
																		<%= f.text_field :phone_number,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
																</div>
                            </div>
                            <div class="form-row row">
                                <div class="col-xl-4">
																		<label for="SelfIssued">Policy Number:</label>
																		<%= f.text_field :policy_number,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
																</div>
                                <div class="col-xl-4">
																		<label for="SelfIssued">Coverage Amount Occurrence:</label>
																		<%= f.text_field :coverage_amount_occurrence,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
																</div>
                                <div class="col-xl-4">
																		<label for="SelfIssued">Coverage Amount Aggregate:</label>
																		<%= f.text_field :coverage_amount_aggregate,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
																</div>
                            </div>
                            <div class="form-row row">
														    <div class="col-xl-6">
																		<label for="SelfIssued">Agent First Name:</label>
																		<%= f.text_field :agent_first_name,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
																</div>
                                <div class="col-xl-6">
																		<label for="SelfIssued">Agent Last Name:</label>
																		<%= f.text_field :agent_last_name,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
																</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row row mb-2">
                          <div class="col-xl-4">
															<label for="SelfIssued">Policy Holder:</label>
															<%= f.text_field :policy_holder,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
													</div>
                        <div class="col-xl-4">
															<label for="SelfIssued">Tail Nose Coverage Explanation:</label>
															<%= f.text_field :tail_nose_coverage_explanation,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
													</div>
                       <div class="col-xl-4">
													<label for="SelfIssued">Retroactive Date:</label>
													<%= f.date_field :retroactive_date, placeholder: 'Select a date...', class: 'form-control border border-dark' %>
											</div>
                    </div>
										<div class="form-row row mb-2">
                          <div class="col-xl-4">
															<label for="SelfIssued">Time With Carrier:</label>
															<%= f.text_field :time_with_carrier,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
													</div>
                        <div class="col-xl-4">
															<label for="SelfIssued">Fax Number:</label>
															<%= f.text_field :fax_number,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
													</div>
                       <div class="col-xl-4">
													<label for="SelfIssued">Website:</label>
													<%= f.text_field :website, placeholder: 'Type here...', class: 'form-control border border-dark' %>
											</div>
                    </div>
										<div class="form-row row mb-2">
                          <div class="col-xl-4">
															<label for="SelfIssued">Agent Address:</label>
															<%= f.text_field :agent_address,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
													</div>
                        <div class="col-xl-4">
															<label for="SelfIssued">Agent Address2:</label>
															<%= f.text_field :agent_address2,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
													</div>
                       <div class="col-xl-4">
													<label for="SelfIssued">Agent City:</label>
													<%= f.text_field :agent_city, placeholder: 'Type here...', class: 'form-control border border-dark' %>
											</div>
                    </div>
										<div class="form-row row mb-2">
                          <div class="col-xl-4">
															<label for="SelfIssued">Agent State:</label>
															<%= f.text_field :agent_state,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
													</div>
                        <div class="col-xl-4">
															<label for="SelfIssued">Agent Postal Code:</label>
															<%= f.text_field :agent_postal_code,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
													</div>
                       <div class="col-xl-4">
													<label for="SelfIssued">Agent Province:</label>
													<%= f.text_field :agent_province, placeholder: 'Type here...', class: 'form-control border border-dark' %>
											</div>
                    </div>
										<div class="form-row row mb-2">
                          <div class="col-xl-4">
															<label for="SelfIssued">Surcharge Explanation:</label>
															<%= f.text_field :surcharge_explanation,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
													</div>
                        <div class="col-xl-4">
															<label for="SelfIssued">Excess Coverage Amount:</label>
															<%= f.text_field :excess_coverage_amount,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
													</div>
                       <div class="col-xl-4">
													<label for="SelfIssued">Phone Extension:</label>
													<%= f.text_field :phone_extension, placeholder: 'Type here...', class: 'form-control border border-dark' %>
											</div>
                    </div>
										<div class="form-row row mb-2">
                          <div class="col-xl-4">
															<label for="SelfIssued">Underwriter Name:</label>
															<%= f.text_field :underwriter_name,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
													</div>
                        <div class="col-xl-4">
															<label for="SelfIssued">Affiliated Organization Name:</label>
															<%= f.text_field :affiliated_organization_name,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
													</div>
                       <div class="col-xl-4">
													<label for="SelfIssued">Agent Country Name:</label>
													<%= f.text_field :agent_country_country_name, placeholder: 'Type here...', class: 'form-control border border-dark' %>
											</div>
                    </div>
										<div class="form-row row mb-2">
                          <div class="col-xl-4">
															<label for="SelfIssued">Country Name:</label>
															<%= f.text_field :country_country_name,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
													</div>
                        <div class="col-xl-4">
															<label for="SelfIssued">Insurance Type Description:</label>
															<%= f.text_field :insurance_type_insurance_type_description,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
													</div>
                       <div class="col-xl-4">
													<label for="SelfIssued">Insurance Coverage Type Description:</label>
													<%= f.text_field :insurance_coverage_type_insurance_coverage_type_description, placeholder: 'Type here...', class: 'form-control border border-dark' %>
											</div>
                    </div>
                    <div class="checkboxes" style="display: flex; gap: 30px; margin-top: 20px;">
											<div>
												<%= f.label :self_insured_flag, "Self Insured Flag" %>
												<%= f.check_box :self_insured_flag %>
											</div>
											<div>
												<%= f.label :individual_coverage_flag, "Individual Coverage Flag" %>
												<%= f.check_box :individual_coverage_flag %>
											</div>
											<div>
												<%= f.label :no_malpractice_claims_flag, "No Malpractice Claims Flag" %>
												<%= f.check_box :no_malpractice_claims_flag %>
											</div>
											<div>
												<%= f.label :tail_nose_coverage_flag, "Tail Nose Coverage Flag" %>
												<%= f.check_box :tail_nose_coverage_flag %>
											</div>
											<div>
												<%= f.label :coverage_limit_exceeded_flag, "Coverage Limit Exceeded Flag" %>
												<%= f.check_box :coverage_limit_exceeded_flag %>
											</div>
											<div>
												<%= f.label :unlimited_coverage_flag, "Unlimited Coverage Flag" %>
												<%= f.check_box :unlimited_coverage_flag %>
											</div>
											<div>
												<%= f.label :renewal_date, "Renewal Date" %>
												<%= f.check_box :renewal_date %>
											</div>
										</div>
										<div class="col-xl-6 text-left" style="margin-top: 20px;">
											<%= f.submit 'Submit', class: 'btn btn-primary', style: 'width: 200px;' %> 
										</div>
                </div>
            </form>
        </div>
    </div>
	<% end %>

