<div class="d-flex gap-2 mt-3">
   <a href="<%= acl_systems_path %>" class="btn cp-btn-nav <%= params[:page].nil? ? encompass_active_classes : encompass_idle_classes %>">Groups/Roles</a>
   <a href="<%= acl_systems_path(page: 'access')%>" class="btn cp-btn-nav <%= params[:page] == 'access' ? encompass_active_classes : encompass_idle_classes %>">Access</a>
   <a href="<%= acl_systems_path(page: 'securables')%>" class="btn cp-btn-nav <%= params[:page] == 'securables' ? encompass_active_classes : encompass_idle_classes %> ">Securables</a>
   <a href="<%= acl_systems_path(page: 'landing_page')%>" class="btn cp-btn-nav <%= params[:page] == 'landing_page' ? encompass_active_classes : encompass_idle_classes %> ">Landing Page</a>
   <a href="<%= acl_systems_path(page: 'import_data_provider')%>" class="btn cp-btn-nav <%= params[:page] == 'import_data_provider' ? encompass_active_classes : encompass_idle_classes %> ">Import Data Provider</a>
   <a href="<%= acl_systems_path(page: 'verification_item')%>" class="btn cp-btn-nav <%= params[:page] == 'verification_item' ? encompass_active_classes : encompass_idle_classes %> ">Verification Item</a>
   <a href="<%= acl_systems_path(page: 'review_level')%>" class="btn cp-btn-nav <%= params[:page] == 'review_level' ? encompass_active_classes : encompass_idle_classes %> ">Review Level</a>
   <a href="<%= acl_systems_path(page: 'app_setting')%>" class="btn cp-btn-nav <%= params[:page] == 'app_setting' ? encompass_active_classes : encompass_idle_classes %> ">App Setting</a>
   <a href="<%= acl_systems_path(page: 'auto_config')%>" class="btn cp-btn-nav <%= params[:page] == 'auto_config' ? encompass_active_classes : encompass_idle_classes %>">Auto Config</a>
</div>
