<div class="d-flex gap-2 mt-3">
   <a href="<%= data_lookup_systems_path %>" class="btn cp-btn-nav <%= params[:page].nil? ? encompass_active_classes : encompass_idle_classes %>">Group/Roles</a>
   <a href="<%= data_lookup_systems_path(page: 'verification_group') %>" class="btn cp-btn-nav <%= params[:page] == 'verification_group' ? encompass_active_classes : encompass_idle_classes %> ">Verification Group</a>
   <a href="<%= data_lookup_systems_path(page: 'verification_item') %>" class="btn cp-btn-nav <%= params[:page] == 'verification_item' ? encompass_active_classes : encompass_idle_classes %>">Verification Items</a>
</div>
