<table class="table">
	<thead>
				<tr>
								<th scope="col" class="bg-primary text-white">Program</th>
								<th scope="col" class="bg-primary text-white">License Number</th>
								<th scope="col" class="bg-primary text-white">DBA</th>
								<th scope="col" class="bg-primary text-white">Owners</th>
								<th scope="col" class="bg-primary text-white">Status</th>
								<th scope="col" class="bg-primary text-white">License Expiration</th>
				</tr>
</thead>
<tbody>
	<% @results.each do |item|%>
		<tr>
			<td><%= item['Program'] %></td>
			<td><%= item['License Number'] %></td>
			<td><%= item['DBA'] %></td>
			<td><%= item['Owners'] %></td>
			<td><%= item['Status'] %></td>
			<td><%= item['License Expiration'] %></td>
	</tr>
	<% end %>
</tbody>
</table>