<table class="table">
	<thead>
				<tr>
								<th scope="col" class="bg-primary text-white">Name</th>
								<th scope="col" class="bg-primary text-white">License Number</th>
								<th scope="col" class="bg-primary text-white">License Type</th>
								<th scope="col" class="bg-primary text-white">License Status</th>
								<th scope="col" class="bg-primary text-white">License Expiration</th>
								<th scope="col" class="bg-primary text-white">Secondary Status</th>
								<th scope="col" class="bg-primary text-white">City</th>
								<th scope="col" class="bg-primary text-white">State</th>
								<th scope="col" class="bg-primary text-white">County</th>
								<th scope="col" class="bg-primary text-white">Zip</th>
				</tr>
</thead>
<tbody>
	<% @results.each do |item|%>
	<tr>
		<td><%= item.name %></td>
		<td><%= item.license_number %></td>
		<td><%= item.license_type %></td>
		<td><%= item.license_status %></td>
		<td><%= item.license_expiration %></td>
		<td><%= item.secondary_status %></td>
		<td><%= item.city %></td>
		<td><%= item.state %></td>
		<td><%= item.county %></td>
		<td><%= item.zip %></td>
	</tr>
	<% end %>
</tbody>
</table>
