<table class="table table table-striped table-bordered table-responsive">
	<thead>
				<tr>
								<th scope="col" class="bg-primary text-white">Full Name</th>
								<th scope="col" class="bg-primary text-white">License Number</th>
								<th scope="col" class="bg-primary text-white">Board/Commission</th>
								<th scope="col" class="bg-primary text-white">License Type</th>
								<th scope="col" class="bg-primary text-white">Status</th>
								<th scope="col" class="bg-primary text-white">Address</th>
				</tr>
</thead>
<tbody>
	<% @results.each do |pal| %>
		<tr>
			<td><%= "#{pal['FullName']}" %></td>
			<td><%= pal['LicenseNumber'] %></td>
			<td><%= pal['ProfessionType'] %></td>
			<td><%= pal['LicenceType'] %></td>
			<td><%= pal['Status'] %></td>
			<td><%= "#{pal['City']}, #{pal['State']} #{pal['zipcode']}" %></td>
		</tr>
	<% end %>
</tbody>
</table>