<div class="px-3 py-2 mx-2">
	<div>
		<%= render "verification_platform/top_nav_buttons" %>
	</div>
	<div class="mt-3">	
		<h3>Initial Application Received Date is - </h3>
		<h3>Last submitted date is - </h3>
		<h3>Latest Audit Completed Sent Date is - </h3>
		<h3>Sugnature Date is - </h3>
		<%= link_to "SRFD Complete (2.0 Date Only)", 'javascrript:void(0)', class: 'btn btn-primary btn-sm' %>
		<%= link_to "SRFD Complete (2.0 Notification Only)", 'javascrript:void(0)', class: 'btn btn-primary btn-sm' %>
		<%= link_to "Contact Us", 'javascrript:void(0)', class: 'btn btn-primary btn-sm' %>
	</div>
	<div class="mt-3">
		<h3>Section II - Practitioner Information</h3>
		<div class="card shadow">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6">
						<h5>Practitioner Name : <%= @practitioner.practitioner_name %></h5>
						<h5>Social Security No : <%= @practitioner.social_security_number %></h5>
						<h5>Specialty 1 : </h5>
					</div>
					<div class="col-lg-6">
						<h5>Practitioner Type : <%= @practitioner.practitioner_type %></h5>
						<h5>Date of Birth : <%= @practitioner.date_of_birth %></h5>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="mt-3">
		<h3>Section III - Practice Information</h3>
		<div class="card shadow">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6">
						<h5>Practice/Facility Name : <%#= @practitioner.practitioner_name %></h5>
						<h5>Office Address : <%= @practitioner.address %></h5>
					</div>
					<div class="col-lg-6">
						<h5>Office Phone : <%= @practitioner.phone_number %></h5>
						<h5>Office Fax : <%= @practitioner.fax_number %></h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>