<div class="enc-sidebar-new">
   <div class="enc-sidebar-title">
      <h6>Client Organization Tree</h6>
   </div>
   <div class="enc-sidebar-content">
      <div>
         <%= search_form_for @q, url: mhc_manage_clients_path, method: :get, html: { class: 'form_search_with_icon' } do |f| %>
            <div class="input-group mb-3">
              <%= f.text_field :name_or_attest_id_cont, 
                  value: "#{params.dig(:q, :name_or_attest_id_cont)}", 
                  placeholder: 'Search Name or Attest ID', 
                  class: "form-control py-1"  %>
              <%= f.submit class: "btn btn-primary" %>
            </div>
         <% end %>
      </div>
      <div class="form-row mt-3">

         <div class="enc-sidebar-content-heading">
            <i class='bx bx-buildings' ></i>
            <h6 class="fs-5"><%= current_setting.client_name.upcase %></h6>
         </div>

         <div class="enc-sidebar-content-heading">
           <% if @client_organizations.present? %>
             <ul class="list-unstyled">
               <% @client_organizations.each do |client_organization| %>
                 <li class="mb-2 d-flex align-items-center">
                   <i class='bx bx-buildings me-2'></i>
                   <span><%= client_organization.organization_name %></span>
                 </li>
               <% end %>
             </ul>
           <% end %>
         </div>

         <%# <hr class="text-dark"> %>

         <%# <ul class="enc-sidebar-content-submenu">
            <li>Providers</li>
         </ul> %>
      </div>
   </div>
</div>
