<nav>
   <div class="enc-navs d-flex justify-content-center mb-3">
      <%= link_to 'Upload CAQH Flat File', caqh_upload_path, class: "btn enc-btn-nav #{encompass_nav_active('hvhs','index')}" if current_user.can_access?('Manage DB') %>
      <% if !current_setting.dcm? %>
         <%= link_to 'Manage DB', hvhs_data_path, class: "btn enc-btn-nav #{encompass_nav_active('hvhs','index')}" if current_user.can_access?('Manage DB') %>
      <% end %>
      <%= link_to 'Autoverify', auto_verifies_path, class: "btn enc-btn-nav #{encompass_nav_active('auto_verifies','index')}" if current_user.can_access?('Autoverify')%>
      <%= link_to "Client Home", verification_platform_index_path, class: "btn enc-btn-nav #{encompass_nav_active('verification_platform','index')}" if current_user.can_access?('Client Home')%>
      <% if !current_setting.dcm? %>
         <%= link_to "Manage Client", manage_clients_path, class: "btn enc-btn-nav #{encompass_nav_active('manage_clients', 'index')}" if current_user.can_access?('Manage Client')%>
         <%= link_to "Manage Practitioner", manage_practitioners_path, class: "btn enc-btn-nav #{encompass_nav_active('manage_practitioners','index')}" if current_user.can_access?('Manage Practitioner')%>
         <%= link_to "Manage Tools", manage_cme_manage_tools_path, class: "btn enc-btn-nav #{encompass_nav_active('manage_tools')}" if current_user.can_access?('Manage Tools') %>
         <%= link_to "Query Report", query_reports_path, class: "btn enc-btn-nav #{encompass_nav_active('query_reports','index,staff_directory,provider_directory,privilege_reporting_tool,meeting_report_by_practitioner,cme_practitioner_profile,customize_reporting_service')}" if current_user.can_access?('Query Report')%>
         <%= link_to "Work Tickler", work_ticklers_path, class: "btn enc-btn-nav #{encompass_nav_active('work_ticklers','index')}" if current_user.can_access?('Work Tickler')%>
      <% end %>
   </div>
</nav>
