<div class="container mt-5">
	<h2 class="text-center">Verified Profile</h2>
	<p class="text-center">Profile Generated Date: 09/26/2024</p>

	<div class="table-responsive">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th class="fw-bold text-dark">File Status:</th>
					<th class="fw-bold text-dark">File Issue Reason</th>
					<th class="fw-bold text-dark">File Review Reason</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td>None</td>
					<td>None</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="section-title mt-4">Practitioner Name</div>
	<div class="table-responsive">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th class="fw-bold text-dark">First Name</th>
					<th class="fw-bold text-dark">Middle Name</th>
					<th class="fw-bold text-dark">Last Name</th>
					<th class="fw-bold text-dark">Suffix</th>
					<th class="fw-bold text-dark">Type</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><%= provider_personal_information&.first_name %></td>
					<td><%= provider_personal_information&.middle_name %></td>
					<td><%= provider_personal_information&.last_name %></td>
					<td><%= provider_personal_information&.suffix %></td>
					<td><%= provider_personal_information&.practitioner_type%></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="table-responsive">
		<table class="table table-bordered">
			<tbody>
				<tr>
					<td class="fw-bold text-dark">Application Received Date:</td>
					<td>05/30/2022</td>
					<td class="fw-bold text-dark">Application Completed Date:</td>
					<td>05/30/2022</td>
				</tr>
				<tr>
					<td class="fw-bold text-dark">Signature Date:</td>
					<td>05/30/2022</td>
					<td class="fw-bold text-dark">Verifications Complete Date:</td>
					<td>Not Available</td>
				</tr>
				<tr>
					<td class="fw-bold text-dark">ClientID:</td>
					<td><%= provider_personal_information&.id %></td>
					<td class="fw-bold text-dark">CAQH ID:</td>
					<td><%= provider_personal_information&.caqh_provider_id %></td>
				</tr>
				<tr>
					<td class="fw-bold text-dark">Social Security No.:</td>
					<td><%= provider_personal_information&.ssn %></td>
					<td class="fw-bold text-dark">Date of Birth:</td>
					<td><%= provider_personal_information&.birth_date %></td>
				</tr>
				<tr>
					<td class="fw-bold text-dark">NPI:</td>
					<td><%= provider_personal_information&.npi %></td>
					<td class="fw-bold text-dark">Country of Birth:</td>
					<td><%= provider_personal_information&.birth_country_country_name %></td>
				</tr>
				<tr>
					<td class="fw-bold text-dark">US Citizen:</td>
					<td><%= provider_personal_information&.citizenship_status %></td>
					<td class="fw-bold text-dark">PMRS ID:</td>
					<td><%= provider_personal_information&.citizenship_status %></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="table-responsive">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th class="fw-bold text-dark">Participating Specialties</th>
					<th class="fw-bold text-dark">Board Certification</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="section-title mt-4">Primary Practice Location</div>

	<div class="section-title mt-4">Additional Practice Location</div>
	<div class="table-responsive">
		<table class="table table-bordered">
			<tbody>
				<tr>
					<td>
						<strong class="text-dark">Practice Address:</strong><br>
						<%= provider_personal_information.practice_informations.map(&:complete_address).join(", ") %>
					</td>
					<td>
						<strong class="text-dark">Practice Phone:</strong><%= provider_personal_information.practice_informations.map(&:phone_number).join(", ") %> <br>
						<strong class="text-dark">Practice Fax:</strong><%= provider_personal_information.practice_informations.map(&:fax_number).join(", ") %><br>
						<strong class="text-dark">TIN Number:</strong><%= provider_personal_information.practice_informations.map(&:practice_name).join(", ") %>
					</td>
				</tr>
				<tr>
					<td class="fw-bold text-dark">TIN Name:</td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="container mt-4">
		<div class="license-box">
				<h5>Primary License</h5>
				<div class="row">
						<div class="col-6">
								<p>
									<strong>License Number:</strong> <%= provider_personal_information.provider_medical_licenses.map { |license| license.license_number }.join(", ") %>
								</p>
								<p><strong>Issue Date:</strong><%= provider_personal_information.provider_medical_licenses.map { |license| license.issue_date }.join(", ") %> </p>
								<p><strong>Status:</strong> <%= provider_personal_information.provider_medical_licenses.map { |license| license.license_status_license_status_description }.join(", ") %></p>
								<p><strong>Source:</strong> State Board</p>
								<p><strong>Source Date:</strong> 03/25/2021</p>
								<p><strong>Review Criteria:</strong> None</p>
						</div>
						<div class="col-6">
								<p><strong>License Type:</strong><%= provider_personal_information.provider_medical_licenses.map { |license| license.license_type }.join(", ") %></p>
								<p><strong>State:</strong><%= provider_personal_information.provider_medical_licenses.map { |license| license.state }.join(", ") %></p>
								<p><strong>Expiration Date:</strong><%= provider_personal_information.provider_medical_licenses.map { |license| license.expiration_date }.join(", ") %></p>
								<p><strong>Adverse Action:</strong> None</p>
								<p><strong>Verifier:</strong> th_angelo</p>
								<p><strong>Verification Date:</strong> 03/25/2021</p>
						</div>
				</div>
				<div class="row comments">
						<div class="col-12">
								<p><strong>Comments:</strong> Education verified by license state board</p>
						</div>
				</div>
		</div>
    <div class="section-title mt-4">Additional License</div><br>
		<div class="license-box">
				<h5>DEA Registration</h5>
				<% provider_personal_information.provider_deas.each do |dea| %>
					<div class="row">
							<div class="col-6">
									<p><strong>DEA Number:</strong> <%= dea.dea_number %></p>
									<p><strong>Schedule:</strong> <%= dea.schedules_held.join(" ")%></p>
									<p><strong>Source:</strong> DEA</p>
									<p><strong>Source Date:</strong> <%= dea_details[0]&.source_date %></p>
									<p><strong>Review Criteria:</strong> None</p>
							</div>
							<div class="col-6">
									<p><strong>Status:</strong> <%= dea_details[0]&.status %></p>
									<p><strong>State:</strong> <%= dea.state %></p>
									<p><strong>Verifier:</strong> <%= dea_details[0]&.verifier %></p>
									<p><strong>Expiration Date:</strong> <%= dea.expiration_date&.strftime('%B %d, %Y') %></p>
									<p><strong>Verification Date:</strong> <%= dea_details[0]&.verification_date %></p>
							</div>
							<div class="col-12">
									<p><strong>Comments:</strong>  <%= dea_details[0]&.verification_comments %></p>
							</div>
							<hr>
					</div>
				<% end %>
		</div>

		<div class="license-box">
				<h5>NPDB</h5>
				<div class="row">
						<div class="col-6">
								<p><strong>Source:</strong> IQRS</p>
								<p><strong>Source Date:</strong> 03/25/2021</p>
								<p><strong>Review Criteria:</strong> None</p>
						</div>
						<div class="col-6">
								<p><strong>Verifier:</strong> lhan</p>
								<p><strong>Verification Date:</strong> 03/25/2021</p>
						</div>
				</div>
				<div class="row comments">
						<div class="col-12">
								<p><strong>Comments:</strong> None</p>
						</div>
				</div>
		</div>
</div>
<div class="container mt-4">
		<div class="section">
				<div class="section-title">SAM Exclusions:</div>
				<div class="section-content">
						<div class="row">
								<div class="col-6">
										<strong>First Name:</strong> <%= provider_personal_information.provider_personal_information_sam_records.pluck(:first_name).join(", ") %>
										<p><strong>Search Results:</strong> No Match</p>
										<p><strong>Finding:</strong> None</p>
										<p><strong>Verified By:</strong> SAM</p>
										<p><strong>Verifier:</strong> System</p>
										<p><strong>Comments:</strong> None</p>
								</div>
								<div class="col-6">
										<p><strong>Source Date:</strong> 03/25/2021</p>
										<p><strong>Verification Date:</strong> 03/25/2021</p>
								</div>
						</div>
				</div>
		</div>

		<div class="section mt-4">
				<div class="section-title">NPI</div>
				<div class="section-content">
						<div class="row">
								<div class="col-6">
										<p><strong>NPI Number:</strong><%= provider_personal_information&.npi %></p>
										<p><strong>Search Results:</strong> <%= provider_personal_information&.npi_verification_status %></p>
										<p><strong>Verified By:</strong> NPI</p>
										<p><strong>Verifier:</strong> System</p>
								</div>
								<div class="col-6">
										<p><strong>Source Date:</strong> 03/25/2021</p>
										<p><strong>Verification Date:</strong> 03/25/2021</p>
								</div>
						</div>
				</div>
		</div>

		<div class="section mt-4">
				<div class="section-title">Medicare Opt Out</div>
				<div class="section-content">
						<div class="row">
								<%# <div class="col-6"> %>
										<%# <strong>State:</strong> <%#= provider_personal_information.provider_medicares.pluck(:state).join(", ") %>
										<%# <p><strong>On Opt Out List:</strong> No</p> %>
										<%# <strong>Effective Date:</strong> <%#= provider_personal_information.provider_medicares.pluck(:effective_date).join(", ") %> 
										<%# <p><strong>End Date:</strong></p> %>
								<%# </div> %>
								<div class="col-6">
										<p><strong>Verified By:</strong> System</p>
										<p><strong>Source Date:</strong> Not Available</p>
										<p><strong>Verification Date:</strong> 03/23/2021</p>
										<p><strong>Verification Source:</strong> CMS Administrator</p>
								</div>
						</div>
				</div>
		</div>
		<div class="section mt-4">
				<div class="section-title">OIG Exclusions</div>
				<div class="section-content">
						<div class="row">
								<div class="col-6">
										<p><strong>Search Result:</strong> <%= oig_details[0]&.status %><p>
										<p><strong>Finding:</strong> None</p>
										<p><strong>Verified By:</strong> <%= oig_details[0]&.tab %></p>
										<p><strong>Verifier:</strong> <%= oig_details[0]&.verifier %></p>
										<p><strong>comments:</strong> <%= oig_details[0]&.verification_comments %></p>
								</div>
								<div class="col-6">
										<p><strong>Source Date:</strong> <%= oig_details[0]&.source_date %></p>
										<p><strong>Verification Date:</strong><%= oig_details[0]&.verification_date %></p>
								</div>
						</div>
				</div>
		</div>

		<div class="section mt-4">
				<div class="section-title">Work History</div>
				<div class="section-content">
						<div class="row">
								<div class="col-6">
								    <strong>Employer Name:</strong> <%= provider_personal_information.provider_work_histories.pluck(:employer_name).join(", ") %>
										<p><strong>Position:</strong> Source:</p>
										<p><strong>Source:</strong> Application</p>
										<p><strong>Source Date:</strong> 03/19/2021</p>
										<p><strong>Review Criteria:</strong> None</p>
										<p><strong>Comments:</strong> None</p>
								</div>
								<div class="col-6">
								    <strong>End Dates:</strong> <%= provider_personal_information.provider_work_histories.pluck(:end_date).join(", ") %>
										<p><strong>Verifier:</strong> th_angelo</p>
										<p><strong>Verification Date:</strong> 03/25/2021</p>
								</div>
						</div>
				</div>
		</div>
</div>
<div class="container mt-4">
		<table class="bordered-table">
				<tr>
						<td>
								<strong>Practice/Employer:</strong><br>
								WEST COAST DENTAL GROUP OF NORTH HILLS<br>
								15350 NORDHOFF STREET STE A<br>
								NORTH HILLS 91343
						</td>
						<td>
								<strong>Dates:</strong><br>
								10/01/2020-02/28/2021
						</td>
				</tr>
				<tr>
						<td>
								<strong>Position:</strong><br>
								<strong>Source:</strong> Application<br>
								<strong>Source Date:</strong> 03/19/2021<br>
								<strong>Review Criteria:</strong> None<br>
								<strong>Comments:</strong> None
						</td>
						<td>
								<strong>Verifier:</strong> th_angelo<br>
								<strong>Verification Date:</strong> 03/25/2021
						</td>
				</tr>
		</table>
		<table class="bordered-table mt-2">
				<tr>
						<td class="no-border"><strong>Disclosure Comments</strong></td>
				</tr>
		</table>
</div>
<style>
	.table-bordered th, .table-bordered td {
		border: 1px solid black !important;
	}
	.table th, .table td {
		padding: 0.5rem;
	}
	.table thead th {
		background-color: #f2f2f2;
	}
	.table {
		margin-bottom: 0;
	}
	.section-title {
		background-color: #f2f2f2;
		font-weight: bold;
		padding: 0.5rem;
		border: 1px solid black;
	}
	.footer {
		text-align: center;
		margin-top: 20px;
		font-size: 0.9rem;
	}
	.license-box {
			border: 1px solid #000;
			padding: 10px;
			margin-bottom: 10px;
	}
	.license-box h5 {
			background-color: #f8f9fa;
			padding: 5px;
			margin: -10px -10px 10px -10px;
			border-bottom: 1px solid #000;
	}
	.license-box .row {
			margin-bottom: 10px;
	}
	.license-box .row:last-child {
			margin-bottom: 0;
	}
	.license-box .col-6 {
			padding-right: 5px;
			padding-left: 5px;
	}
	.license-box .col-12 {
			padding-right: 5px;
			padding-left: 5px;
	}
	.license-box .comments {
			border-top: 1px solid #000;
			padding-top: 5px;
	}
	.section-title {
			background-color: #d3d3f7;
			font-weight: bold;
			padding: 5px;
	}
	.section-content {
			border: 1px solid #000;
			padding: 10px;
	}
	.section-content .row {
			margin-bottom: 10px;
	}
	.section-content .row:last-child {
			margin-bottom: 0;
	}
	.section-content .col-6 {
			padding: 0 5px;
	}
</style>