  <div class="enc-content">
        <div class="container">
            <%= render "top_nav_buttons"%>

            <div class="row mt-4">
                <div class="col-xl-6 d-flex align-items-center">
                    <div class="d-flex align-items-center gap-3">
                        <a href="<%= mhc_verification_platform_path(page_tab: 'oig', provider_personal_information_id: @provider_personal_information.id) %>" class="link-back">
                            <i class='bx bx-left-arrow-alt'></i>
                        </a>
                        <h4 class="page-heading">Add New Info</h4>
                    </div>
                </div>
            </div>
            <%= form_for(@provider_personal_information_reinstatement, url: mhc_provider_personal_information_reinstatements_path(page_tab: 'oig')) do |f| %>
                <%= f.hidden_field :provider_personal_information_id %>
                <div class="form-row row mt-3">
                    <div class="col-xl-6">
                        <label for="state">State:</label>
                        <div class="search-select form-control border border-dark" name="provider_personal_information_reinstatement[state]" id="provider_personal_information_reinstatement_state">
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <label for="general">General:</label>
                        <%= f.text_field :general,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                    </div>
                </div>
                <div class="form-row row">
                    <div class="col-xl-6">
                        <label for="ExclutionType">Exclution Type:</label>
                        <%= f.text_field :exclusion_type,  placeholder: 'Type here...', class: 'form-control border border-dark' %>

                    </div>
                    <div class="col-xl-6">
                        <label for="Specialty">Specialty:</label>
                        <%= f.text_field :specialty,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                    </div>
                </div>
                <div class="form-row row">
                    <div class="col-xl-6">
                        <label for="Date">Date:</label>
                        <%= f.date_field :process_date, placeholder: 'Select a date...', class: 'form-control border border-dark' %>
                    </div>
                    <div class="col-xl-6">
                        <label for="Reinstatement">Reinstatement:</label>
                        <%= f.date_field :reinstatement_date, placeholder: 'Select a date...', class: 'form-control border border-dark' %>
                    </div>
                </div>
                <div class="form-row mt-3 d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary">
                        Save
                    </button>
                </div>
            <% end %>
        </div>
    </div>

<script type="text/javascript">
    $(document).ready(function() {
        var csrfToken = $('meta[name="csrf-token"]').attr('content');
        $.ajax({
            url: '<%= get_states_path %>',
            method: 'GET',
            data: { authenticity_token: csrfToken },
            success: function(data) {
                states = data['states']
                VirtualSelect.init({
                    options: states,
                    ele: '#provider_personal_information_reinstatement_state',
                    search: true,
                    showSelectedOptionsFirst: true
                });
            }
        })
    })
</script>

<style type="text/css">
  .multi-select, .search-select, .single-select {
    padding: 0;
      width: 100%;
      max-width: 1000px;
  }
  .single-select  {
    width: 100%;
    max-width: 1000px;
    padding: 0;
  }
</style>