  <div class="enc-content">
        <div class="container">
            <%= render "top_nav_buttons"%>

            <div class="row mt-4">
                <div class="col-xl-6 d-flex align-items-center">
                    <div class="d-flex align-items-center gap-3">
                        <a href="<%= mhc_verification_platform_path(page_tab: 'oig', provider_personal_information_id: @provider_personal_information.id) %>" class="link-back">
                            <i class='bx bx-left-arrow-alt'></i>
                        </a>
                        <h4 class="page-heading">Add New Info</h4>
													<% if @provider_personal_information_reinstatement.persisted? %>
														<div class="mb-3">
															<%= button_to 'Delete Record',
																	mhc_provider_personal_information_reinstatement_path(@provider_personal_information_reinstatement),
																	method: :delete,
																	data: { confirm: 'Are you sure you want to delete this record?' },
																	class: 'btn btn-danger' %>
														</div>
													<% end %>
                    </div>
                </div>
            </div>
						<div class="border border-dark p-4 rounded mt-4">
							<%= form_for @provider_personal_information_reinstatement,
									url: @provider_personal_information_reinstatement.new_record? ?
										mhc_provider_personal_information_reinstatements_path(page_tab: 'oig') :
										mhc_provider_personal_information_reinstatement_path(@provider_personal_information_reinstatement, page_tab: 'oig'),
									html: { method: @provider_personal_information_reinstatement.new_record? ? :post : :patch } do |f| %>
									<%= f.hidden_field :provider_personal_information_id, value: @provider_personal_information.id %>
									<div class="form-row row mt-3">
												<label for="state">State:</label>
												<%= f.select :state, 
														options_for_select(us_states_list, @provider_personal_information_reinstatement.state),
														{ include_blank: 'Select State' },
														class: 'form-control border border-dark' %>
									</div>
									<div class="form-row row">
											<div class="col-xl-6">
													<label for="ExclutionType">Exclution Type:</label>
													<%= f.text_field :exclusion_type,  placeholder: 'Type here...', class: 'form-control border border-dark' %>

											</div>
											<div class="col-xl-6">
													<label for="Specialty">Specialty:</label>
													<%= f.text_field :specialty,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
											</div>
									</div>
									<div class="form-row row">
											<div class="col-xl-6">
													<label for="Date">Date:</label>
													<%= f.date_field :process_date, placeholder: 'Select a date...', class: 'form-control border border-dark' %>
											</div>
											<div class="col-xl-6">
													<label for="Reinstatement">Reinstatement:</label>
													<%= f.date_field :reinstatement_date, placeholder: 'Select a date...', class: 'form-control border border-dark' %>
											</div>
									</div>
									<div class="form-row row">
										<div class="col-xl-6">
												<label for="general">General:</label>
												<%= f.text_field :general,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
										</div>
									</div>
									<div class="form-row mt-3 d-flex justify-content-end">
											<button type="submit" class="btn btn-primary">
													Save
											</button>
									</div>
							<% end %>
            </div>
        </div>
    </div>

<script type="text/javascript">
    $(document).ready(function() {
        var csrfToken = $('meta[name="csrf-token"]').attr('content');
        $.ajax({
            url: '<%= get_states_path %>',
            method: 'GET',
            data: { authenticity_token: csrfToken },
            success: function(data) {
                states = data['states']
                VirtualSelect.init({
                    options: states,
                    ele: '#provider_personal_information_reinstatement_state',
                    search: true,
                    showSelectedOptionsFirst: true
                });
            }
        })
    })
</script>

<style type="text/css">
  .multi-select, .search-select, .single-select {
    padding: 0;
      width: 100%;
      max-width: 1000px;
  }
  .single-select  {
    width: 100%;
    max-width: 1000px;
    padding: 0;
  }
</style>