<%= form_for(@practice_information, url: mhc_practice_informations_path) do |f| %>
    <div class="enc-content">
        <div class="container">
            <%= render "top_nav_buttons"%>
            <div class="mt-4">
                <div class="d-flex align-items-center gap-3">
                    <a href="<%= mhc_verification_platform_path(page_tab: 'practice_info')%>" class="link-back">
                        <i class='bx bx-left-arrow-alt'></i>
                    </a>
                    <h4 class="page-heading">Add New Practice Information</h4>
                </div>
            </div>
            <form action="">
                <div class="form-row row mt-4">
                    <div class="col-xl-12">
                        <span class="page-note">
                        <%= f.hidden_field :caqh_provider_attest_id %>
                        <%= f.hidden_field :provider_attest_id %>
                            <%# <i class='bx bx-error-circle font-blue'></i> <span>To search for a Facility name, %>
                                <%# please click the search button.</span> %>
                        </span>
                        <div class="form-row row mt-2">
                            <div class="col-xl-6">
                                <div class="row">
                                    <div class="col-lg-10">
                                        <label class="text-dark-grey">Practice/Facility Name:</label>
                                        <%= f.text_field :practice_name,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                                    </div>
                                    <%# <div class="col-xl-2 d-flex align-items-end">
                                        <button type="button" class="btn btn-primary py-1 search">
                                            Search
                                        </button>
                                    </div> %>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <label class="text-dark-grey">Address:</label>
                                <%= f.text_field :address,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                            </div>
                        </div>
                        <div class="form-row row">
                            <div class="col-lg-6">
                                <label class="text-dark-grey">Additional Address:</label>
                                <%= f.text_field :address2,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                            </div>
                            <div class="col-lg-6">
                                <label class="text-dark-grey">City:</label>
                                <%= f.text_field :city,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                            </div>
                        </div>
                        <div class="form-row row">
                            <div class="col-lg-4">
                                <label class="text-dark-grey">State/Province:</label>
                                <%= f.text_field :state,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                            </div>
                            <div class="col-lg-4">
                                <label class="text-dark-grey">Zip/Postal Code:</label>
                                <%= f.text_field :zip,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                            </div>
                            <div class="col-lg-4">
                                <label class="text-dark-grey">Ext/Zip:</label>
                                <%= f.text_field :ext_zip,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                            </div>
                        </div>
                        <div class="form-row row">                                   
                            <div class="col-lg-4">
                                <label class="text-dark-grey">County:</label>
                                <%= f.text_field :county,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                            </div>
                            <div class="col-lg-4">
                                <label class="text-dark-grey">Phone Number:</label>
                                <%= f.text_field :phone_number,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                            </div>                    
                            <div class="col-lg-4">
                                <label class="text-dark-grey">After Hours Phone Number:</label>
                                <%= f.text_field :after_hours_phone_number,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row row">
                    <div class="col-lg-4">
                        <label class="text-dark-grey">Fax Number:</label>
                        <%= f.text_field :fax_number,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                    </div>
                    <div class="col-lg-4">
                        <label class="text-dark-grey">Email Address:</label>
                        <%= f.text_field :email_address,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                    </div>                   
                    <div class="col-lg-4">
                        <label class="text-dark-grey">Start Date:</label>
                        <%= f.date_field :end_date, placeholder: 'Select a date...', class: 'form-control border border-dark' %>
                    </div>
                </div>
                <div class="checkboxes" style="display: flex; gap: 10px; margin-top: 20px;">
                  <div>
                    <%= f.label :correspondence_flag, "Correspondence" %>
                    <%= f.check_box :correspondence_flag %>
                  </div>

                  <div>
                    <%= f.label :partners_flag, "Partners" %>
                    <%= f.check_box :partners_flag %>
                  </div>

                  <div>
                    <%= f.label :other_associates_flag, "Other Associates" %>
                    <%= f.check_box :other_associates_flag %>
                  </div>

                  <div>
                    <%= f.label :currently_practicing_flag, "Currently Practicing" %>
                    <%= f.check_box :currently_practicing_flag %>
                  </div>
                  <div>
                    <%= f.label :coverage24x7_flag, "24x7 Coverage" %>
                    <%= f.check_box :coverage24x7_flag %>
                  </div>

                  <div>
                    <%= f.label :practice_limitation_flag, "Practice Limitation" %>
                    <%= f.check_box :practice_limitation_flag %>
                  </div>

                  <div>
                    <%= f.label :ada_approved_flag, "ADA Approved" %>
                    <%= f.check_box :ada_approved_flag %>
                  </div>

                  <div>
                    <%= f.label :minority_business_flag, "Minority Business" %>
                    <%= f.check_box :minority_business_flag %>
                  </div>

                  <div>
                    <%= f.label :interpreter_available_flag, "Interpreter Available" %>
                    <%= f.check_box :interpreter_available_flag %>
                  </div>
                </div>
                <div class="mt-4">
                    <span class="page-note">
                        <i class='bx bx-error-circle font-red'></i> <span>Please check all that apply before completing
                            the rest of this section.</span>
                    </span>
                </div>
                <div class="form-row row mt-4">
                    <div class="col-lg-6">
                        <label class="text-dark-grey">Medicare Number</label>
                        <%= f.text_field :medicare_number,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                    </div>
                    <div class="col-lg-6">
                        <label class="text-dark-grey">Medicaid Number:</label>
                        <%= f.text_field :medicaid_number,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                    </div>
                </div>
                <div class="form-row row mt-3">
                     <div class="col-lg-6">
                        <label class="text-dark-grey">Epsdt Number:</label>
                        <%= f.text_field :epsdt_number,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                    </div>
                    <div class="col-lg-6">
                        <label class="text-dark-grey">Practice Organization Type:</label>
                        <%= f.text_field :practice_organization_type,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                    </div>
                </div>
                <div class="form-row row mt-3">
                     <div class="col-lg-6">
                        <label class="text-dark-grey">Phone Number2:</label>
                        <%= f.text_field :phone_number2,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                    </div>
                    <div class="col-lg-6">
                        <label class="text-dark-grey">Patient Appointment Phone Number:</label>
                        <%= f.text_field :patient_appointment_phone_number,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                    </div>
                </div>
                <div class="form-row row mt-3">
                     <div class="col-lg-6">
                        <label class="text-dark-grey">Answering Service Phone Number:</label>
                        <%= f.text_field :answering_service_phone_number,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                    </div>
                    <div class="col-lg-6">
                        <label class="text-dark-grey">Pager Beeper Number:</label>
                        <%= f.text_field :pager_beeper_number,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                    </div>
                </div>
                <div class="form-row row mt-3">
                     <div class="col-lg-6">
                        <label class="text-dark-grey">W9 Practice Name:</label>
                        <%= f.text_field :w9_practice_name,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                    </div>
                    <div class="col-lg-6">
                        <label class="text-dark-grey">Practice Intention Explanation:</label>
                        <%= f.text_field :practice_intention_explanation,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                    </div>
                </div>
                <div class="checkboxes" style="display: flex; gap: 30px; margin-top: 20px;">
                  <div>
                    <%= f.label :list_in_directory_flag, "List in Directory" %>
                    <%= f.check_box :list_in_directory_flag %>
                  </div>

                  <div>
                    <%= f.label :in_practice_flag, "In Practice" %>
                    <%= f.check_box :in_practice_flag %>
                  </div>

                  <div>
                    <%= f.label :epsdt_certified_flag, "EPSDT Certified" %>
                    <%= f.check_box :epsdt_certified_flag %>
                  </div>

                  <div>
                    <%= f.label :electronic_billing_flag, "Electronic Billing" %>
                    <%= f.check_box :electronic_billing_flag %>
                  </div>
              </div>
              <div class="form-row row mt-3">
                     <div class="col-lg-6">
                        <label class="text-dark-grey">Emergency Phone Number:</label>
                        <%= f.text_field :emergency_phone_number,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                    </div>
                    <div class="col-lg-6">
                        <label class="text-dark-grey">Practice Description:</label>
                        <%= f.text_field :practice_description,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                    </div>
              </div>
              <div class="form-row row mt-3">
                     <div class="col-lg-6">
                        <label class="text-dark-grey">Patients Enrolled:</label>
                        <%= f.text_field :patients_enrolled,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                    </div>
                    <div class="col-lg-6">
                        <label class="text-dark-grey">Patient Visits:</label>
                        <%= f.text_field :patient_visits,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                    </div>
              </div>
              <div class="form-row row mt-3">
                     <div class="col-lg-4">
                        <label class="text-dark-grey">Appointments Per Hour:</label>
                        <%= f.text_field :appointments_per_hour,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                    </div>
                    <div class="col-lg-4">
                        <label class="text-dark-grey">Average Waiting Time:</label>
                        <%= f.text_field :average_waiting_time,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                    </div>
                    <div class="col-lg-4">
                        <label class="text-dark-grey">Call Response Time:</label>
                        <%= f.text_field :call_response_time,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                    </div>
              </div>
              <div class="form-row row mt-3">
                     <div class="col-lg-4">
                        <label class="text-dark-grey">Bwc Number:</label>
                        <%= f.text_field :bwc_number,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                    </div>
                    <div class="col-lg-4">
                        <label class="text-dark-grey">Workers Compensation Risk Number:</label>
                        <%= f.text_field :workers_compensation_risk_number,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                    </div>
                    <div class="col-lg-4">
                        <label class="text-dark-grey">Ownership Description:</label>
                        <%= f.text_field :ownership_description,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                    </div>
              </div>
              <div class="form-row row mt-3">
                     <div class="col-lg-4">
                        <label class="text-dark-grey">Emergency Procedure:</label>
                        <%= f.text_field :emergency_procedure,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                    </div>
                    <div class="col-lg-4">
                        <label class="text-dark-grey">Npi:</label>
                        <%= f.text_field :npi,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                    </div>
                    <div class="col-lg-4">
                        <label class="text-dark-grey">Practice Type Description:</label>
                        <%= f.text_field :practice_type_description,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                    </div>
              </div>
              <div class="form-row row mt-3">
                     <div class="col-lg-4">
                        <label class="text-dark-grey">Service Type Description:</label>
                        <%= f.text_field :service_type_description,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                    </div>
                    <div class="col-lg-4">
                        <label class="text-dark-grey">Department Name:</label>
                        <%= f.text_field :department_name,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                    </div>
                    <div class="col-lg-4">
                        <label class="text-dark-grey">Cell Phone Number:</label>
                        <%= f.text_field :cell_phone_number,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                    </div>
              </div>
              <div class="form-row row mt-3">
                     <div class="col-lg-6">
                        <label class="text-dark-grey">Pager Beeper Number2:</label>
                        <%= f.text_field :pager_beeper_number2,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                    </div>
                    <div class="col-lg-6">
                      <label class="text-dark-grey">End Date:</label>
                      <%= f.date_field :end_date, placeholder: 'Select a date...', class: 'form-control border border-dark' %>
                    </div>
              </div>
              <div class="form-row row mt-3">
                     <div class="col-lg-6">
                        <label class="text-dark-grey">Phone Extension:</label>
                        <%= f.text_field :phone_extension,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                    </div>
                    <div class="col-lg-6">
                      <label class="text-dark-grey">Patient Appointment Phone Extension:</label>
                      <%= f.text_field :patient_appointment_phone_extension,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                    </div>
              </div>
              <div class="form-row row mt-3">
                     <div class="col-lg-4">
                        <label class="text-dark-grey">Answering Service Phone Extension:</label>
                        <%= f.text_field :answering_service_phone_extension,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                    </div>
                    <div class="col-lg-4">
                      <label class="text-dark-grey">Correspondence Method:</label>
                      <%= f.text_field :correspondence_method,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                    </div>
                    <div class="col-lg-4">
                      <label class="text-dark-grey">Address Type Address Type Description:</label>
                      <%= f.text_field :address_type_address_type_description,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                    </div>
              </div>
            </form>
            <div class="col-xl-6 text-left" style="margin-top: 20px;">
              <%= f.submit 'Submit', class: 'btn btn-primary', style: 'width: 200px;' %> 
            </div>
        </div>
    </div>
<% end %>

    <!-- Add Comment Modal -->
    <div class="modal fade" id="addCommentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="content">
                        <div class="modal-title">
                            <h6 class="">Add Comment</h6>
                            <button class="btn btn-cancel" data-bs-dismiss="modal">Cancel</button>
                        </div>
                        <form action="">
                            <div class="form-row mt-3">
                                <label for="">Subject:</label>
                                <input type=  "text" placeholder="Type here..." placeholder="Type here..." class="form-control">
                            </div>
                            <div class="form-row">
                                <label for="">Message:</label>
                                <textarea name="" id="" cols="30" rows="5" class="form-control"></textarea>
                            </div>
                        </form>
                        <div class="form-row mt-3 d-flex justify-content-center">
                            <button class="btn btn-primary py-1">Post Comment</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete Comment Modal -->
    <div class="modal fade" id="deleteCommentModal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="content">
                        <div class="modal-title">
                            <h6 class="">Comment</h6>
                            <button class="btn btn-cancel" data-bs-dismiss="modal">Cancel</button>
                        </div>
                        <form action="">
                            <div class="form-row mt-3">
                                <label for="">Subject:</label>
                                <input type=  "text" placeholder="Type here..." placeholder="Type here..." class="form-control">
                            </div>
                            <div class="form-row">
                                <label for="">Message:</label>
                                <textarea name="" id="" cols="30" rows="5" class="form-control"></textarea>
                            </div>
                        </form>
                        <div class="form-row mt-3 d-flex justify-content-center">
                            <button class="btn btn-red">Delete Comment</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

    <!-- Bootstrap 5 -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous">
    </script>

    <!-- Local JS -->
    <script src="../main.js"></script>

</body>

</html>