<div class="container my-5">
  <!-- Header Section -->
  <div class="text-center mb-4">
    <h1 class="display-5">Application Report</h1>
    <nav>
      <%= link_to 'Credential Report', application_page_path, class: "btn btn-link" %>
      <%= link_to 'Enrollment Report', enrollment_report_page_path, class: "btn btn-link" %>
    </nav>
  </div>
  
  <!-- Info Section -->
  <div class="alert alert-info">
    <strong>These application reports are created for {{ $JANAKI }}, {{ $KOMAL }} {{ $randomLastName }}:</strong>
  </div>
  
  <!-- Applications Section -->
  <div class="accordion" id="applicationsAccordion">

    <!-- ARMS Inc. Applications -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingArms">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseArms" aria-expanded="true" aria-controls="collapseArms">
          ARMS Inc. Applications
        </button>
      </h2>
      <div id="collapseArms" class="accordion-collapse collapse show" aria-labelledby="headingArms" data-bs-parent="#applicationsAccordion">
        <div class="accordion-body">
          <ul class="list-unstyled">
            <li>
              <a href="<%= mhc_arms_credential_application_path %>">ARMS Credential Application</a>
              (<a href="#">Blank Application</a>)
            </li>
            <li><a href="#">ARMS Re-Credential Application</a> (<a href="#">Blank Application</a>)</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- California State Applications -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingCalifornia">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCalifornia" aria-expanded="false" aria-controls="collapseCalifornia">
          California State Applications
        </button>
      </h2>
      <div id="collapseCalifornia" class="accordion-collapse collapse" aria-labelledby="headingCalifornia" data-bs-parent="#applicationsAccordion">
        <div class="accordion-body">
          <ul class="list-unstyled">
            <li>
              <a href="<%= mhc_california_participating_physician_application_path %>">
                California Participating Physician Application
              </a>
              (<a href="#">Download PDF</a>, <a href="#">Blank Application</a>)
            </li>
            <li>
              <a href="<%= mhc_california_participating_physician_reapplication_path %>">
                California Participating Physician Reapplication
              </a>
              (<a href="#">Download PDF</a>, <a href="#">Blank Application</a>)
            </li>
            <li>
              <a href="<%= mhc_california_participating_physician_application_addendum_a_path %>">
                California Participating Physician Application (Addendum A)
              </a>
              (<a href=" ">Download PDF</a>, 
              <a href="#">Blank Application</a>)
            </li>

            <li>
              <a href="<%= mhc_california_participating_physician_addendum_b_path %>">
                California Participating Physician Application (Addendum B)
              </a>
              (<a href="#">Download PDF</a>, <a href="#">Blank Application</a>)
            </li>
            <li>
              <a href="<%= mhc_california_participating_physician_ipa_addendum_c_path %>">
                California Participating Physician Application (IPA Addendum C)
              </a>
              (<a href="#">Download PDF</a>, <a href="#">Blank Application</a>)
            </li>
            <li>
              <a href="<%= mhc_confidential_report_of_physical_and_mental_disabilities_path %>">
                CONFIDENTIAL REPORT OF PHYSICAL AND MENTAL DISABILITIES
              </a>
              (<a href="#">Download PDF</a>)
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Kentucky State Applications -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingKentucky">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseKentucky" aria-expanded="false" aria-controls="collapseKentucky">
          Kentucky State Applications
        </button>
      </h2>
      <div id="collapseKentucky" class="accordion-collapse collapse" aria-labelledby="headingKentucky" data-bs-parent="#applicationsAccordion">
        <div class="accordion-body">
          <ul class="list-unstyled">
            <li><a href="#">Kaper Initial Appointment</a></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Minnesota State Applications -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingMinnesota">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMinnesota" aria-expanded="false" aria-controls="collapseMinnesota">
          Minnesota State Applications
        </button>
      </h2>
      <div id="collapseMinnesota" class="accordion-collapse collapse" aria-labelledby="headingMinnesota" data-bs-parent="#applicationsAccordion">
        <div class="accordion-body">
          <ul class="list-unstyled">
            <li>
              <a href="<%= mhc_minnesota_uniform_credentialing_application_path %>">
                Minnesota Uniform Credentialing Application
              </a>
              (<a href="#">Blank Application</a>)
            </li>
            <li>
              <a href="<%= mhc_minnesota_uniform_credentialing_reappointment_application_path %>">
                Minnesota Uniform Credentialing Reappointment Application
              </a>
              (<a href="#">Blank Application</a>)
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Texas State Applications -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTexas">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTexas" aria-expanded="false" aria-controls="collapseTexas">
          Texas State Applications
        </button>
      </h2>
      <div id="collapseTexas" class="accordion-collapse collapse" aria-labelledby="headingTexas" data-bs-parent="#applicationsAccordion">
        <div class="accordion-body">
          <ul class="list-unstyled">
            <li>
              <a href="<%= mhc_texas_standardized_credentialing_application_path %>">Texas Standardized Credentialing Application</a>
              (<a href="">Download PDF</a>, 
              <a href="#">Blank Application</a>)
            </li>
            <li><a href="#">Attachment C - Malpractice Claim History</a> (<a href="#">Download PDF</a>, <a href="#">Blank Application</a>)</li>
            <li><a href="#">Attachment H - Hospital Addendum</a> (<a href="#">Download PDF</a>, <a href="#">Blank Application</a>)</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Alliance Applications -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingAlliance">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAlliance" aria-expanded="false" aria-controls="collapseAlliance">
          Alliance Applications
        </button>
      </h2>
      <div id="collapseAlliance" class="accordion-collapse collapse" aria-labelledby="headingAlliance" data-bs-parent="#applicationsAccordion">
        <div class="accordion-body">
          <ul class="list-unstyled">
            <li>
              <a href="<%= mhc_alliance_application_path %>">
                Alliance Application
              </a>
              (<a href="#">Blank Application</a>)
            </li>
            <li>
              <a href="<%= mhc_alliance_reapplication_path %>">
                Alliance Reapplication
              </a>
              (<a href="#">Blank Application</a>)
            </li>
            <li>
              <a href="<%= mhc_alliance_professional_liability_addendum_a_path %>">
                Alliance Professional Liability Explanation Addendum A
              </a>
              (<a href="#">Blank Application</a>)
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Encompass Applications -->
     <div class="accordion-item">
      <h2 class="accordion-header" id="headingEncompassApplication">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEncompassApplication" aria-expanded="false" aria-controls="collapseEncompassApplication">
          Encompass Application
        </button>
      </h2>
      <div id="collapseEncompassApplication" class="accordion-collapse collapse" aria-labelledby="headingEncompassApplication" data-bs-parent="#applicationsAccordion">
        <div class="accordion-body">
          <ul class="list-unstyled">
            <li><a href="#">Standard Application</a> (<a href="#">Blank Application</a>)</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Medversant Applications -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingMedversantApplication">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMedversantApplication" aria-expanded="false" aria-controls="collapseMedversantApplication">
          Medversant Application
        </button>
      </h2>
      <div id="collapseMedversantApplication" class="accordion-collapse collapse" aria-labelledby="headingMedversantApplication" data-bs-parent="#applicationsAccordion">
        <div class="accordion-body">
          <ul class="list-unstyled">
            <li><a href="#">Medversant Standard Initial Application </a> (<a href="#">Blank Application</a>)</li>
            <li><a href="#">Medversant Standard Reapplication </a> (<a href="#">Blank Application</a>)</li>
            <li><a href="#">Medversant Standard Application (Addendum A) </a> (<a href="#">Blank Application</a>)</li>
            <li><a href="#">Medversant Standard Credentialing Application </a> (<a href="#">Blank Application</a>)</li>
            <li><a href="#">Medversant Standard Reredentialing Application </a> (<a href="#">Blank Application</a>)</li>
            <li><a href="#">Horizon Standard Reredentialing Application </a> (<a href="#">Blank Application</a>)</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- MemorialCare Applications -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingMemorialCareApplication">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMemorialCareApplication" aria-expanded="false" aria-controls="collapseMemorialCareApplication">
         MemorialCare Applications
        </button>
      </h2>
      <div id="collapseMemorialCareApplication" class="accordion-collapse collapse" aria-labelledby="headingMemorialCareApplication" data-bs-parent="#applicationsAccordion">
        <div class="accordion-body">
          <ul class="list-unstyled">
            <li>
              <a href="<%= mhc_memorialcare_initial_application_path %>">MemorialCare Initial Application</a>
              (<a href="#">Download PDF</a>)
              (<a href="#">Blank Application</a>)
            </li>
            <li><a href="#">MemorialCare AHP Initial Application </a> (<a href="#">Download PDF</a>) (<a href="#">Blank Application</a>)</li>
            <li><a href="#">MemorialCare Reappointment Application</a> (<a href="#">Download PDF</a>) (<a href="#">Blank Application</a>)</li>
            <li><a href="#">MemorialCare AHP Reappointment Application</a> (<a href="#">Download PDF</a>) (<a href="#">Blank Application</a>)</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- S & B Surgery Center -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingSurgeryCenter">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSurgeryCenter" aria-expanded="false" aria-controls="collapseSurgeryCenter">
         S & B Surgery Center
        </button>
      </h2>
      <div id="collapseSurgeryCenter" class="accordion-collapse collapse" aria-labelledby="headingSurgeryCenter" data-bs-parent="#applicationsAccordion">
        <div class="accordion-body">
          <ul class="list-unstyled">
            <li><a href="#">Credentialing Cover ltr</a> (<a href="#">Blank Application</a>)</li>
            <li><a href="#">Credentialing Cover ltr REAPP </a> (<a href="#">Blank Application</a>)</li>
            <li><a href="#">Hep B Vaccination Notification</a> (<a href="#">Blank Application</a>)</li>
            <li><a href="#">Instruc Complete Particating MD App</a> (<a href="#">Blank Application</a>)</li>
            <li><a href="#">Instruc Complete Particating MD REAPP</a> (<a href="#">Blank Application</a>)</li>
            <li><a href="#">Request for Pro Staff Reaapt</a> (<a href="#">Blank Application</a>)</li>
            <li><a href="#">TB Physician Screening Form</a> (<a href="#">Blank Application</a>)</li>
            <li><a href="#">Attestation of Health</a> (<a href="#">Blank Application</a>)</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- SCVHHS Applications -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingSCVHHSApplication">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSCVHHSApplication" aria-expanded="false" aria-controls="collapseSCVHHSApplication">
         SCVHHS Applications
        </button>
      </h2>
      <div id="collapseSCVHHSApplication" class="accordion-collapse collapse" aria-labelledby="headingSCVHHSApplication" data-bs-parent="#applicationsAccordion">
        <div class="accordion-body">
          <ul class="list-unstyled">
            <li><a href="#">Santa Clara Valley Health Application</a> (<a href="#">Download PDF</a>)</li>
            <li><a href="#">Santa Clara Valley Health Reappointment Application</a> (<a href="#">Download PDF</a>)</li>
            <li><a href="#">Santa Clara Valley Health Application For Midlevel</a> (<a href="#">Download PDF</a>)</li>
            <li><a href="#">Santa Clara Valley Health Reappointment Application For Midlevel</a> (<a href="#">Download PDF</a>)</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- THR Applications -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThrApplication">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThrApplication" aria-expanded="false" aria-controls="collapseThrApplication">
         THR Applications
        </button>
      </h2>
      <div id="collapseThrApplication" class="accordion-collapse collapse" aria-labelledby="headingThrApplication" data-bs-parent="#applicationsAccordion">
        <div class="accordion-body">
          <ul class="list-unstyled">
            <li><a href="#">AHP Reappointment Application</a> (<a href="#">Download PDF</a>) (<a href="#">Blank Application</a>) </li>
            <li><a href="#">THR Reappointment Application</a> (<a href="#">Download PDF</a>) (<a href="#">Blank Application</a>)</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Michigan Application -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingMichiganApplication">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMichiganApplication" aria-expanded="false" aria-controls="collapseMichiganApplication">
         Michigan Application
        </button>
      </h2>
      <div id="collapseMichiganApplication" class="accordion-collapse collapse" aria-labelledby="headingMichiganApplication" data-bs-parent="#applicationsAccordion">
        <div class="accordion-body">
          <ul class="list-unstyled">
            <a href="<%= mhc_michigan_application_path %>">Michigan Application</a> (<a href="#">Download PDF</a>) (<a href="#">Blank Application</a>) </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- North Carolina Credentialing Application -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingNorthApplication">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNorthApplication" aria-expanded="false" aria-controls="collapseNorthApplication">
         North Carolina Credentialing Application
        </button>
      </h2>
      <div id="collapseNorthApplication" class="accordion-collapse collapse" aria-labelledby="headingNorthApplication" data-bs-parent="#applicationsAccordion">
        <div class="accordion-body">
          <ul class="list-unstyled">
            <li><a href="#">North Carolina Credentialing Application</a>(<a href="#">Blank Application</a>) </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Nevada Credentialing Application -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingNevadaApplication">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNevadaApplication" aria-expanded="false" aria-controls="collapseNevadaApplication">
         Nevada Credentialing Application
        </button>
      </h2>
      <div id="collapseNevadaApplication" class="accordion-collapse collapse" aria-labelledby="headingNevadaApplication" data-bs-parent="#applicationsAccordion">
        <div class="accordion-body">
          <ul class="list-unstyled">
            <li><a href="#">Nevada Credentialing Application</a>(<a href="#">Blank Application</a>) </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- CAQH Application -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingCAQHApplication">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCAQHApplication" aria-expanded="false" aria-controls="collapseCAQHApplication">
         CAQH Application
        </button>
      </h2>
      <div id="collapseCAQHApplication" class="accordion-collapse collapse" aria-labelledby="headingCAQHApplication" data-bs-parent="#applicationsAccordion">
        <div class="accordion-body">
          <ul class="list-unstyled">
            <li><a href="#">CAQH UCD Application</a>(<a href="#">Blank Application</a>) </li>
            <li><a href="#">CAQH UCD Supplemental Application</a>(<a href="#">Blank Application</a>) </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- West Virginia Application -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingWestVirginiapplication">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWestVirginiapplication" aria-expanded="false" aria-controls="collapseWestVirginiapplication">
         West Virginia Application
        </button>
      </h2>
      <div id="collapseWestVirginiapplication" class="accordion-collapse collapse" aria-labelledby="headingWestVirginiapplication" data-bs-parent="#applicationsAccordion">
        <div class="accordion-body">
          <ul class="list-unstyled">
            <li><a href="#">West Virginia Credential Application</a>(<a href="#">Blank Application</a>) </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
