<div class="enc-content">
    <div class="container">
        <%= render "top_nav_buttons"%>

        <div class="mt-4 d-flex align-items-end justify-content-between gap-3">
            <div class="d-flex align-items-center gap-3">
                <h4 class="page-heading">NPI / NPPES</h4>
                <button class="btn btn-primary py-1">Edit</button>
            </div>
        </div>
        <div class="mt-2">
            <h6 class="form-heading">National Provider Identifier/National Plan and Provider Enumeration System</h6>
        </div>
        <div class="mt-2 page-applicable">
            <span class="page-note">
                <i class='bx bx-error-circle font-red'></i> <span>Please use the Registration tab to edit the
                    number.</span>
            </span>
            <span class="page-note">
                <i class='bx bx-error-circle font-red'></i> <span>Please use the Organization Info tab to edit the
                    number.</span>
            </span>
        </div>
        <div class="mt-2">
            <h6 class="form-heading">
            Website:
            <a href="https://npiregistry.cms.hhs.gov/" target="_blank">https://npiregistry.cms.hhs.gov/</a>
            </h6>
        </div>
        <%= form_for(@provider_personal_information, url: mhc_provider_personal_information_path) do |f| %>
            <%= f.hidden_field :caqh_provider_attest_id %>
            <%= f.hidden_field :provider_attest_id %>
            <div class="form-row row mt-2">
                <div class="col-xl-6">
                    <div class="form-row">
                        <label for="">Verification Result:</label>
                        <%= f.select :npi_verification_status, options_for_select([["Match", "match"], ["No Match", "no_match"],["Possible Match", "possible_match"]]), {prompt: 'Select Option'}, { class: 'form-select border border-dark'} %>
                    </div>
                </div>
            </div>
            <div class="form-row row">
                <div class="col-xl-6">
                    <div class="form-row">
                        <label for="">NPI Number (from Registration tab):</label>
                        <%= f.text_field :npi,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-row">
                        <label for="">NPI Number (from Organization Info tab):</label>
                        <input type="text" name="" id="" class="form-control" disabled>
                    </div>
                </div>
            </div>
            <div class="form-row mt-2 d-flex justify-content-end">
               <%= f.submit 'Save', class: 'btn btn-primary', style: 'width: 200px;' %>
            </div>
        <% end %>
    </div>
</div>