<div class="container mt-5">
  <div id="provider-personal-info" data-personal-info="<%= @provider_personal_information.id %>"></div>
  <div class="card mb-4">
    <div class="card-header">Profile</div>
    <div class="card-body">
      <!-- Verified Profile Button trigger modal -->
      <button type="button" class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#verifiedProfileModal">
        Verified Profile
      </button>

      <!-- Modal -->
      <div class="modal fade" id="verifiedProfileModal" tabindex="-1" aria-labelledby="verifiedProfileModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p class="fs-4 text-dark">This Practitioner Verified Profile version is obsolete.</p>
              <p class="fs-4 text-dark">Please use Verified Profile 2.0 instead.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Verified Profile 2.0 (beta) Button trigger modal -->
      <button type="button" class="btn btn-secondary me-2" data-bs-toggle="modal" data-bs-target="#verifiedeModal">
        Verified Profile 2.0 (beta)
      </button>

      <!-- Modal -->
      <div class="modal fade" id="verifiedeModal" tabindex="-1" aria-labelledby="verifiedeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-dark">
              <%= render partial: 'mhc/verification_platform/credential_committee_content', locals: { provider_personal_information: @provider_personal_information }  %>
              <%= render partial: 'mhc/verification_platform/verified_profile_content', locals: { oig_details: @provider_oig_tab_details, npdb_details: @provider_npdb_tab_details, provider_personal_information: @provider_personal_information } %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Notification Log Section -->
  <div class="card mb-4">
    <div class="card-header">Notification Log</div>
    <div class="card-body">
      <button type="button" class="btn btn-info mb-3" data-bs-toggle="modal" data-bs-target="#letterLibraryModal">
        Letter Library
      </button>

      <!-- Modal -->
      <div class="modal fade" id="letterLibraryModal" tabindex="-1" aria-labelledby="letterLibraryModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title" id="exampleModalLabel">Send Notification Item</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <%= form_with url: '#', method: :post, local: true do |f| %>
                <!-- Current Facility -->
                <div class="mb-3 row">
                  <label class="col-sm-3 col-form-label fw-bold">Current Facility:</label>
                  <div class="col-sm-9">
                    <%= f.text_field :facility, class: 'form-control', value: 'CHCTest', readonly: true %>
                  </div>
                </div>
                
                <!-- Current Practitioner Type -->
                <div class="mb-3 row">
                  <label class="col-sm-3 col-form-label fw-bold">Current Practitioner Type:</label>
                  <div class="col-sm-9">
                    <%= f.text_field :practitioner_type, class: 'form-control', readonly: true %>
                  </div>
                </div>
                
                <!-- List All Letter Names -->
                <div class="mb-3 row">
                  <label class="col-sm-3 col-form-label fw-bold">List All Letter Names:</label>
                  <div class="col-sm-9">
                    <%= f.select :letter_name, 
                      ['---- Select All Letter Here ----', 
                       'Active Appointment Approval', 
                       'Alameda Alliance Application Final Request',
                       'Alameda Alliance Application First Request',
                       'Alameda Alliance Application Second Request',
                       'Cigna Outreach July',
                       'Cigna Outreach June',
                       'Cigna Recred 1',
                       'Cigna Recred 2',
                       'Humana - Collection Outreach Letter 90 Days',
                       'Humana - Cred Collection Letter',
                       'Humana - Recred Collection Letter',
                       'Humana - Termination Letter',
                       'Humana - Welcome Letter',
                       'Humana Additionla Information',
                       'Humana Application Receipt',
                       'Liability Coverage Expired Notification',
                       'Liability Coverage Expiring Notification',
                       'Malpractice Face Sheet Request'
                      ], 
                      {}, class: 'form-select' %>
                  </div>
                </div>
                
                <!-- Send Method -->
                <fieldset class="mb-3">
                  <legend class="col-form-label col-sm-3 pt-0 fw-bold">Send Method:</legend>
                  <div class="col-sm-9">
                    <div class="form-check">
                      <%= f.radio_button :send_method, 'Letter', id: 'letter', checked: true, class: 'form-check-input' %>
                      <label class="form-check-label" for="letter">Letter</label>
                    </div>
                    <div class="form-check">
                      <%= f.radio_button :send_method, 'Email', id: 'email', class: 'form-check-input' %>
                      <label class="form-check-label" for="email">Email</label>
                    </div>
                    <div class="form-check">
                      <%= f.radio_button :send_method, 'Fax', id: 'fax', class: 'form-check-input' %>
                      <label class="form-check-label" for="fax">Fax</label>
                    </div>
                  </div>
                </fieldset>
                
                <!-- From -->
                <div class="mb-3 row">
                  <label class="col-sm-3 col-form-label fw-bold">From:</label>
                  <div class="col-sm-9">
                    <%= f.text_area :from, rows: 2, class: 'form-control' %>
                  </div>
                </div>
                
                <!-- To -->
                <div class="mb-3 row">
                  <label class="col-sm-3 col-form-label fw-bold">To:</label>
                  <div class="col-sm-9">
                    <%= f.text_area :to, rows: 2, class: 'form-control' %>
                  </div>
                </div>
                
                <!-- Include Delineation of Privileges -->
                <div class="mb-3 form-check">
                  <%= f.check_box :include_privileges, class: 'form-check-input' %>
                  <label class="form-check-label" for="includePrivileges">Include Delineation of Privileges</label>
                </div>
                
                <!-- Buttons -->
                <div class="modal-footer">
                  <div class="d-flex justify-content-between">
                    <%= button_tag 'Preview', type: 'button', class: 'btn btn-secondary mx-2' %>
                    <%= f.submit 'Send/Print', class: 'btn btn-primary' %>
                  </div>
                </div>
              <% end %>

            </div>
          </div>
        </div>
      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="text-white fw-bold bg-primary">File</th>
            <th class="text-white fw-bold bg-primary">Type</th>
            <th class="text-white fw-bold bg-primary">Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Image Files Section -->
  <div class="card mb-4">
    <div class="card-header">Image Files</div>
    <div class="card-body">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#viewImageModal">
        View Images
      </button>

      <!-- Modal -->
      <div class="modal fade" id="viewImageModal" tabindex="-1" aria-labelledby="viewImageModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title" id="viewImageModalLabel">View Images</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              No Image is available.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Web Crawler Files Section -->
  <div class="card mb-4">
    <div class="card-header">Web Crawler Files</div>
    <div class="card-body">
      <div class="row mb-3">
        <div class="col-md-6">
          <label for="sub-section" class="form-label">Sub Section Name List:</label>
          <select id="sub-section" class="form-select">
            <option>Licensure</option>
            <option>Certification</option>
            <option>Background County Check</option>
            <option>NJ Debartment</option>
            <option>Background Driver License</option>
            <option>EPLS</option>
            <option>Background Misdemeanor</option>
            <option>NPI</option>
            <option>OGI</option>
            <option>Ownership</option>
            <option>Prescreen Delinquency NC</option>
            <option>Prescreen IRS Tax Liens</option>
            <option>SAM</option>
            <option>Background Sexual Offender</option>
            <option>SSDMF</option>
            <option>Background SSN Verification</option>
            <option>Background State Check</option>
            <option>Board Certification</option>
            <option>CDS/DPS</option>
            <option>DEA</option>
            <option>Other Licensure</option>
            <option>Board Certification</option>
          </select>
        </div>
      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="text-white fw-bold bg-primary">Web Crawler File Name</th>
            <th class="text-white fw-bold bg-primary">Query Date Time</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Collect Paper Copy Section -->
  <div class="card mb-4">
    <div class="card-header">Collect Paper Copy</div>
    <div class="card-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="text-white fw-bold bg-primary">Paper Copy Item</th>
            <th class="text-white fw-bold bg-primary">Operation</th>
            <th class="text-white fw-bold bg-primary">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Saved Profiles Section -->
  <div class="card mb-4">
    <div class="card-header">Saved Profiles</div>
    <div class="card-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="text-white fw-bold bg-primary">File</th>
            <th class="text-white fw-bold bg-primary">Type</th>
            <th class="text-white fw-bold bg-primary">Date</th>
            <th class="text-white fw-bold bg-primary"></th>
          </tr>
        </thead>
        <tbody>
          <% @psv_pdfs.each do |psv_data| %>
            <tr class="profile-<%= psv_data.id %>">
              <td><%= link_to File.basename(psv_data.file_path.url), psv_data.file_path.url, target: "_blank" %></td>
              <td><%= psv_data.file_type %></td>
              <td><%= psv_data.created_at.strftime('%d/%m/%Y %H:%M') %></td>
              <td>
                <input type="checkbox" name="selected_psvs[]" value="<%= psv_data.id %>" class="saved-profile-checkbox">
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= link_to "Delete", "#", class: "btn btn-danger mt-3", id: "delete-selected-link" %>
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-header">Generate Profile</div>
      <div class="card-body">
        <!-- Generate Profile Button trigger modal -->
      <button type="button" class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#generateProfileModal">
        Generate Profile
      </button>

      <!-- Modal -->
      <div class="modal fade" id="generateProfileModal" tabindex="-1" aria-labelledby="generateProfileModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="container text-center">
                <h1 class="text-center mb-3">Profile Order</h1>
                <div class="table-container">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th></th>
                        <th class="fw-bold text-dark">File Name</th>
                        <th class="fw-bold text-dark">Create Date</th>
                        <th class="fw-bold text-dark">File Type</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><input type="checkbox"></td>
                        <td><a href="#" class="text-primary">Verified Profile</a></td>
                        <td>09/26/2024 8:17:09 AM</td>
                        <td>HTML</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="btn-container">
                  <button class="btn btn-outline-secondary btn-sm">Close</button>
                  <button class="btn btn-outline-secondary btn-sm">Download Profile as PDF</button>
                  <button class="btn btn-outline-secondary btn-sm">Print Profile</button>
                </div>
                <div class="checkbox-container">
                  <input type="checkbox" id="saveProfile">
                  <label for="saveProfile">Save it to Profile</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#generateProfileQueueModal">
        Generate Profile (.NET)
      </button>
      <div class="modal fade" id="generateProfileQueueModal" tabindex="-1" aria-labelledby="generateProfileQueueModal" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="container">
                <center><h4>Generate Profile (.NET)</h4></center>
                <br>

                Verified Profile Version: 
                <table id="rblVerifiedProfileVersion">
                  <tbody>
                    <tr>
                      <td>
                        <input id="rblVerifiedProfileVersion_0" type="radio" name="rblVerifiedProfileVersion" value="CrawlWebsitePractitioner" checked="checked"><label for="rblVerifiedProfileVersion_0">Original (Practitioner)</label>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <input id="rblVerifiedProfileVersion_1" type="radio" name="rblVerifiedProfileVersion" value="CrawlWebsiteFacility"><label for="rblVerifiedProfileVersion_1">Original (Facility)</label>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <input id="rblVerifiedProfileVersion_2" type="radio" name="rblVerifiedProfileVersion" value="WriteFilePractitioner"><label for="rblVerifiedProfileVersion_2">2.0 Beta</label>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <table class="table table-hover mt-5">
                  <thead>
                    <tr>
                      <th><input type="checkbox" id="select-all-queue"></th>
                      <th>Type</th>
                      <th>File Name</th>
                      <th>Create Date</th>
                      <th>File Type</th>
                    </tr>
                  </thead>
                  <tbody id="links-data">
                    <tr>
                      <td><input type="checkbox" id="cbVP" value="Verified Profile" data-provider-id="<%= @provider_personal_information.id %>" class="link-checkbox"></td>
                      <td>Verified Profile</td>
                      <td><a href="javascript:alert('Not Implemented');">Verified Profile</a></td>
                      <td><%= Time.current.strftime("%-m/%-d/%Y %I:%M:%S %p") %></td>
                      <td>.HTML</td>
                    </tr>
                    <% @provider_personal_information.provider_personal_uploaded_docs.each do |doc| %>
                      <% content_type = doc&.file_upload.file.content_type %>
                      <% file_type =  content_type.split('/').last if content_type.present? %>
                      <tr>
                        <td><input type="checkbox" id="<%= doc&.id %>" value="<%= doc&.sub_section %>" data-url="<%= doc&.file_upload.url %>" data-type="<%= doc&.sub_section %>" data-provider-id="<%= @provider_personal_information.id %>" class="link-checkbox"></td>
                        <td><%= doc&.sub_section %></td>
                        <td><a href="<%= doc&.file_upload.url %>"><%= doc&.file_upload.url %></a></td>
                        <td><%= doc&.created_at.strftime("%-m/%-d/%Y %I:%M:%S %p") %></td>
                        <td><%= file_type %></td>
                      </tr>
                    <% end %>
                    <tr>
                  </tbody>
                </table>
                <input type="submit" name="btnQueue" value="Queue Profile Generation" id="btnQueue" class="btn btn-info mt-4">
                <p class="alert alert-success d-none success-queue-msg mt-4"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th class="text-white fw-bold bg-primary">No.</th>
              <th class="text-white fw-bold bg-primary">Status</th>
              <th class="text-white fw-bold bg-primary">Queued Date</th>
              <th class="text-white fw-bold bg-primary">Generated Date</th>
              <th class="text-white fw-bold bg-primary">Message</th>
              <th class="text-white fw-bold bg-primary">Details</th>
              <th class="text-white fw-bold bg-primary">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @queues.each_with_index do |queue, index| %>
              <% if queue.deleted == false || queue.deleted == nil %>
                <tr>
                  <td style="width: 20px;"><%= queue.queue_number %></td>
                  <td style="width: 20px;"><%= queue.status %></td>
                  <td style="width: 20px;"><%= queue.queued_date %></td>
                  <td style="width: 20px;"><%= queue.generated_date %></td>
                  <td style="width: 20px;"><%= queue.message %></td>
                  <td>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" 
                      data-bs-target="#providerQueueModal" data-queue-id="<%= queue.id %>" style="font-size: 12px;padding: 4px;" >
                      View
                    </button>
                  </td>
                  <td>
                    <div class="d-flex">
                      <button class="btn btn-secondary" style="font-size: 12px;padding: 4px;" onclick="pauseQueue(this)" data-queue-id="<%= queue.id %>">Pause</button>
                      <%= button_to 'Delete', mhc_pdf_generation_queue_path(queue, provider_personal_information: @provider_personal_information ), method: :delete, class: 'btn btn-secondary', style: "font-size: 12px;padding: 4px;" %>
                      <button class="btn btn-secondary" style="font-size: 12px;padding: 4px;" onclick="requeueQueue(<%= queue.id %>)">ReQueue</button>
                    </div>
                  </td>
                </tr>
              <% end %>  
            <% end %>
          </tbody>
        </table>
      </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="providerQueueModal" tabindex="-1" aria-labelledby="providerQueueModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center">View Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- File Input for Adding New File -->
        <input type="file" id="file-input" class="form-control">
        <button type="button" class="btn btn-primary mt-4">upload</button>
        <table class="table table-hover queue-detail-table" style="font-size:11px;">
          <thead class="bg-white">
            <tr>
              <th>Order By</th>
              <th>Status</th>
              <th style="width: 40%;">Source File</th>
              <th>Message</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody id="queue-items-body">
            <tr><td colspan="5">Loading...</td></tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<style>
  .table-container {
    display: inline-block;
    text-align: left;
  }
  .table {
    width: 100%;
    margin-bottom: 20px;
  }
  .btn-container {
    margin-top: 20px;
  }
  .btn {
    margin: 0 10px;
  }
  .checkbox-container {
    margin-top: 10px;
  }

</style>
<script>
document.addEventListener('DOMContentLoaded', function () {
  const btnQueue = document.getElementById('btnQueue');

  btnQueue?.addEventListener('click', function (event) {
    event.preventDefault();

    // Prevent multiple clicks
    if (btnQueue.disabled) return;
    btnQueue.disabled = true; // Disable the button

    let selectedFiles = [];

    document.querySelectorAll('#links-data .link-checkbox:checked').forEach((checkbox) => {
      let fileData = {
        file_name: checkbox.value,
        file_url: checkbox.getAttribute('data-url'),
        file_type: checkbox.getAttribute('data-type'),
        provider_id: checkbox.getAttribute('data-provider-id')
      };

      // **Filter out objects where any value is null, undefined, or an empty string**
      if (fileData.file_name != 'on') {
        selectedFiles.push(fileData);
      }
    });

    if (selectedFiles.length === 0) {
      alert("Please select at least one file.");
      btnQueue.disabled = false; // Re-enable if no files selected
      return;
    }

    fetch('/mhc/pdf_generation_queues', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').content
      },
      body: JSON.stringify({ selected_files: selectedFiles })
    })
    .then(response => response.json())
    .then(data => {
      let successMsg = document.querySelector('.success-queue-msg');

      setTimeout(() => {
        successMsg.classList.remove('d-none');
        successMsg.innerHTML = data.message;
      }, 3000);
    })
    .catch(error => {
      console.error('Error:', error);
      alert("An error occurred while processing your request.");
      btnQueue.disabled = false; // Re-enable button if request fails
    });
  });
  document.getElementById("generateProfileQueueModal").addEventListener("show.bs.modal", function (event) {
    const selectAllCheckbox = document.getElementById('select-all-queue');
    
    if (selectAllCheckbox) {
      selectAllCheckbox.addEventListener('change', function () {
        const checkboxes = document.querySelectorAll('#links-data input[type="checkbox"]');
        checkboxes.forEach(checkbox => {
          checkbox.checked = selectAllCheckbox.checked;
        });
      });
    }
  });
  
  document.getElementById("providerQueueModal").addEventListener("show.bs.modal", function (event) {
    let button = event.relatedTarget; // Button that triggered the modal
    let queueId = button.getAttribute("data-queue-id"); // Get queue ID
    let modalBody = document.getElementById("queue-items-body");

    // Show a loading message
    modalBody.innerHTML = "<tr><td colspan='5'>Loading...</td></tr>";

    // Fetch queue items
    fetch(`/mhc/pdf_generation_queues/${queueId}/queue_items`)
      .then(response => response.json())
      .then(data => {
        let rows = "";
        data.forEach(item => {
          rows += `
            <tr>
              <td>${item.id}</td>
              <td style="background-color: ${item.status == 'completed' ? '#CCFFCC' : '#FFCCCC'}">${item.status}</td>
              <td style="word-wrap: break-word;" class="source-file">${item.file_path}</td>
              <td>${item.message || ''}</td>
              <td>
                <button class="btn btn-secondary btn-sm" onclick="MoveUp(${item.id}, ${queueId})">↑</button>
                <button class="btn btn-secondary btn-sm mt-2" onclick="MoveDown(${item.id}, ${queueId})">↓</button>
                <button class="btn btn-secondary btn-sm mt-2" onclick="Exclude(${item.id}, ${queueId})">Exclude</button>
                <button class="btn btn-secondary btn-sm mt-2" onclick="Requeue(${item.id})">ReQueue</button>
              </td>
            </tr>
          `;
        });

        modalBody.innerHTML = rows || "<tr><td colspan='5'>No items found.</td></tr>";
      })
      .catch(error => {
        console.error("Error fetching queue items:", error);
        modalBody.innerHTML = "<tr><td colspan='5'>Error loading data.</td></tr>";
      });
  });

  const checkboxes = document.querySelectorAll(".saved-profile-checkbox");
  const deleteLink = document.getElementById("delete-selected-link");
  const personalInfoId = document.getElementById("provider-personal-info").dataset.personalInfo;

  function updateDeleteLink() {
    let selectedIds = Array.from(document.querySelectorAll(".saved-profile-checkbox:checked"))
                           .map(checkbox => checkbox.value);

    if (selectedIds.length > 0) {
      deleteLink.href = `/mhc/delete_saved_profiles?selected_profiles=${selectedIds.join(",")}&personalInfoId=${personalInfoId}`;
    } else {
      deleteLink.href = "#"; // Reset if no checkbox is selected
    }
  }

  // Update URL when checkboxes are checked/unchecked
  checkboxes.forEach(checkbox => {
    checkbox.addEventListener("change", updateDeleteLink);
  });

  // Prevent navigation and show alert if no checkbox is selected
  deleteLink.addEventListener("click", function (event) {
    let selectedIds = document.querySelectorAll(".saved-profile-checkbox:checked");
    
    if (selectedIds.length === 0) {
      event.preventDefault(); // Prevent redirection
      alert("Please select at least one record before deleting.");
    }
  });
});
</script>
