<div class="enc-content">
    <div class="container">
        <%= render "top_nav_buttons"%>
        <div class="mt-4">
            <div class="d-flex align-items-center gap-3">
                <a href="<%= mhc_verification_platform_path(page_tab: 'training')%>" class="link-back">
                    <i class='bx bx-left-arrow-alt'></i>
                </a>
                <h4 class="page-heading">Training Record</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-8 row">
                <div class="form-row row page-applicable mt-3">
                    <%= form_with model: [:mhc, @provider_education] do |f| %>
                        <%= f.hidden_field :caqh_provider_attest_id %>
                        <%= f.hidden_field :provider_attest_id %>
                            <span class="page-note">
                                <i class='bx bx-error-circle font-lightblue'></i> <span>To search for a School name,
                                    please
                                    click the search button.</span>
                            </span>
                            <div class="col-12">
                                <label class="text-dark-grey">Institution Name:</label>
                                <div class="row">
                                    <div class="col-10">
                                        <%= f.text_field :institution_name,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                                    </div>
                                    <div class="col-2">
                                        <button id="search_school_button" type="button" class="btn btn-primary btn-sm" id="asdf" style="min-width: 100px; font-size: 12px" data-bs-toggle="modal" data-bs-target="#search_school">
                                            Search
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <label for="address">Address:</label>
                                <%= f.text_field :address,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                            </div>
                            <div class="col-12">
                                <label for="address">Contact:</label>
                                <%= f.text_field :contact,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                            </div>
                            <div class="col-12">
                                <label for="add-address">Additional Address:</label>
                                <%= f.text_field :address2,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                            </div>
                            <div class="col-xl-6">
                                <label for="city">City:</label>
                                <%= f.text_field :city,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                            </div>
                            <div class="col-xl-6">
                                <label for="county">County:</label>
                                <%= f.text_field :county,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                            </div>
                            <div class="col-xl-6">
                                <label for="state">State/Province:</label>
                                <%= f.text_field :province,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                            </div>
                            <div class="col-xl-6">
                                <label for="zip">Zip/Postal Code:</label>
                                <%= f.text_field :postal_code,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                            </div>
                            <div class="col-xl-6">
                                <label for="country">Country:</label>
                                <%= f.text_field :country,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                            </div>
                            <div class="col-xl-6">
                                <label for="phone-number">Phone Number:</label>
                                <%= f.text_field :phone_number,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                            </div>
                            <div class="col-xl-6">
                                <label for="email-address">Email Address :</label>
                                <%= f.text_field :email_address,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                            </div>
                            <div class="col-xl-6">
                                <label for="fax-number">Fax Number:</label>
                                <%= f.text_field :fax_number,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                            </div>
                            <div class="col-xl-6">
                                <label for="type">Type of Training:</label>
                                <%= f.text_field :training_area,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                            </div>
                            <div class="col-xl-12">
                                <label for="prog-dir-firstname">Program Director First Name/Last Name:</label>
                                <%= f.text_field :program_director,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                            </div>
                            <div class="col-12">
                                <div>
                                    <%= f.label :current_program_director_flag, "Is this the current Program Director?" %>
                                    <%= f.check_box :current_program_director_flag %>
                                </div>
                            </div>
                            <div class="col-xl-12">
                                <label for="prog-dir-firstname">If No, list current Program Director:</label>
                                <%= f.text_field :current_program_director,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                            </div>
                            <div class="col-xl-6">
                                <label for="prog-dir-firstname">Program Director Practitioner Type:</label>
                                <%= f.text_field :degree_degree_abbreviation,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                            </div>
                            <div class="col-xl-6">
                                <label for="prog-dir-firstname">Specialty:</label>
                                <%= f.text_field :specialty_specialty_name,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                            </div>
                            <div class="col-xl-12 row">
                                <div class="col-xl-6">
                                    <label for="prog-dir-firstname">Dates Attended:</label>
                                    <%= f.date_field :start_date,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                                </div>
                                <div class="col-xl-6">
                                    <label for="prog-dir-firstname">Dates Attended:</label>
                                    <%= f.date_field :end_date,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                                </div>
                            </div>
                            <div class="col-12">
                                <div>
                                    <%= f.label :program_completed_flag, "Completed?" %>
                                    <%= f.check_box :program_completed_flag %>
                                </div>
                            </div>
                            <div class="col-12">
                                <label for="prog-dir-firstname">If No, please explain:</label>
                                <%= f.text_field :incomplete_explanation,  placeholder: 'Type here...', class: 'form-control border border-dark' %>
                            </div>
                            <div>
                            <label for="prog-dir-firstname">Please list any comments:</label>
                            <%= f.text_area :comments, class: "form-control", placeholder: "Enter any comments" %>
                            </div>
                            <div class="d-flex align-items-center gap-3">
                                <%= f.label :show_on_tickler, "Show on Tickler?", class: "training-curProgdir" %>
                                <div class="form-check">
                                <%= f.radio_button :show_on_tickler, true, class: "form-check-input", id: "inter-yes" %>
                                <%= f.label :show_on_tickler_true, "Yes", class: "form-check-label" %>
                                </div>
                                <div class="form-check">
                                <%= f.radio_button :show_on_tickler, false, class: "form-check-input", id: "inter-no" %>
                                <%= f.label :show_on_tickler_false, "No", class: "form-check-label" %>
                                </div>
                            </div>
                            <div class="col-12 text-left" style="margin-top: 20px;">
                                <%= f.submit 'Save', class: 'btn btn-primary', style: 'width: 200px;' %>
                            </div>
                    <% end %>
                    <% if @provider_education.persisted? %>
                        <div class="col-12 text-left" style="margin-top: 10px;">
                            <%= button_to 'Delete', 
                                mhc_provider_education_path(@provider_education), 
                                method: :delete, 
                                data: { confirm: 'Are you sure you want to delete this training detail?' }, 
                                class: 'btn btn-danger', 
                                style: 'width: 200px;' %>
                        </div>
                    <% end %>
                </div>
            </div>
            <% if @provider_education.persisted? %>
                <div class="col-xl-4 p-2 text-center">
                    <div class="row">
                        <div class="col-12 m-2">
                            <button class="btn btn-primary btn-sm" style="min-width: 100px; font-size: 12px" disabled>
                                Verification Letter
                            </button>
                        </div>
                        <div class="col-12 m-2">
                            <button  type="button" class="btn btn-primary btn-sm" id="asdf" style="min-width: 100px; font-size: 12px" data-bs-toggle="modal" data-bs-target="#send_contact_template">
                                Send Contact
                            </button>
                        </div>
                    </div>
                    <div class="card other-name-card">
                        <div class="card-body">
                            <h2 class="">RVA Information</h2>
                            <div class="mt-3 row">
                                <div class="col-12 m-2">
                                    <button class="btn btn-primary btn-sm" style="min-width: 100px; font-size: 12px" disabled>
                                        Request
                                    </button>
                                </div>
                                <div class="col-12 m-2">
                                    <button class="btn btn-primary btn-sm" style="min-width: 100px; font-size: 12px" disabled>
                                        Verification
                                    </button>
                                </div>
                                <div class="col-12 m-2">
                                    <button class="btn btn-primary btn-sm" style="min-width: 100px; font-size: 12px" disabled>
                                        Audit
                                    </button>
                                </div>
                                 <div class="col-12 m-2">
                                     <button class="btn btn-primary btn-audit btn-sm" data-bs-toggle="modal" data-bs-target="#QAModal" data-information-id="<%= @last_rva_information&.id %>" data-first-name="<%= @provider_personal_information&.first_name %>" data-last-name="<%= @provider_personal_information&.last_name %>" data-personal-information-id="<%= @provider_personal_information&.id %>" data-provider-education-id = "<%= @provider_education.id%>">
                                          Quality Audit
                                    </button>
                                </div>
                                <div class="col-12 m-2">
                                    <button class="btn btn-primary btn-sm" style="min-width: 100px; font-size: 12px" disabled>
                                        Skip RVA
                                    </button>
                                </div>
                                <div class="col-12 m-2">
                                  <button class="btn text-danger <%= @training_rva_information_completed.present? ? '' : 'd-none' %>" data-bs-toggle="modal" data-bs-target="#QAModal" data-information-id="<%= @last_rva_information&.id %>" data-first-name="<%= @provider_personal_information&.first_name %>" data-last-name="<%= @provider_personal_information&.last_name %>" data-personal-information-id="<%= @provider_personal_information&.id %>" id="re-rva">
                                    Need ReRVA
                                  </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 m-2">
                            <button class="btn btn-primary btn-sm" style="min-width: 100px; font-size: 12px" disabled>
                                View Scanned Images
                            </button>
                        </div>
                    </div>
                    <div class="card other-name-card">
                        <div class="card-body">
                            <h2 class="">Message Board</h2>
                            <div class="mt-3 row">
                                <div class="col-12 m-2">
                                    <ul style="list-style: none;overflow:scroll; height:400px;">
                                        <% if @provider_personal_information_comments.present? %>
                                            <% @provider_personal_information_comments.each do |comment| %>
                                                <li class="mt-2">
                                                <span class="btn bg-alt-grey py-1" 
                                                    data-bs-toggle="modal" 
                                                    data-bs-target="#deleteCommentModal" 
                                                    data-comment-id="<%= comment.id %>"
                                                    data-comment-subject= "<%= comment.subject %>"
                                                    data-comment-message= "<%= comment.message %>">
                                                    Subject : <%= comment.subject %>
                                                    <p><%= comment.user.first_name %> </p>
                                                </span>
                                                <span class="btn py-1">
                                                <%= button_to mhc_provider_personal_information_comment_path(comment.id), method: :delete, class: 'btn btn-danger' do %>
                                                    <i class="bx bx-trash"></i>
                                                <% end %>
                                                </span>
                                                </li>
                                            <% end %> 
                                        <% else %>
                                            <p class="btn bg-alt-grey py-1">No comment yet!</p>
                                        <% end %>
                                    </ul>
                                </div>
                                <div class="col-12 m-2">
                                    <button type="button" class="btn btn-primary btn-sm" style="min-width: 100px; font-size: 12px" data-bs-toggle="modal" data-bs-target="#addCommentModal">
                                        Add Comment
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>

<!-- Add Comment Modal -->
<div class="modal fade" id="addCommentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="content">
                    <div class="modal-title">
                        <h6 class="offset-md-5">Add Comment</h6>
                        <button class="btn btn-cancel" data-bs-dismiss="modal">Cancel</button>
                    </div>
                    <%= form_with(model: @provider_personal_information_comment, url: mhc_provider_personal_information_comments_path, method: :post) do |f| %>

                        <%= f.hidden_field :provider_personal_information_id, value: @provider_personal_information.id %>
                        <%= f.hidden_field :page_tab, value: 'education_record' %>
                        <div class="form-row mt-3">
                        <label for="provider_personal_information_comment_subject">Subject:</label>
                        <%= f.text_field :subject, class: "form-control" %>
                        </div>

                        <div class="form-row">
                        <label for="provider_personal_information_comment_message">Message:</label>
                        <%= f.text_area :message, class: "form-control", rows: 5 %>
                        </div>

                        <div class="form-row mt-3 d-flex justify-content-center">
                        <%= f.submit 'Post Comment', class: 'btn btn-primary' %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Verification Letter Modal -->
<div class="modal fade" id="verifLetterModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="content">
                    <div class="modal-title">
                        <h6 class="offset-md-3">Training Verification Letter</h6>
                        <button class="btn btn-cancel" data-bs-dismiss="modal">Cancel</button>
                    </div>
                    <div class="mt-3 left-pane">
                        <h6>Preview Letter</h6>
                    </div>
                    <div class="form-row row page-applicable mt-3">
                        <div class="col-xl-12">
                            <div class="card other-name-card">
                                <div class="card-body">
                                    <h6 class="form-heading">Send Fax</h6>
                                    <span class="page-note mt-1">
                                        <i class='bx bx-error-circle font-red'></i> <span>Please correct the invalid
                                            fax number. Fields will be enabled once corrected.</span>
                                    </span>
                                    <div class="form-row mt-2">
                                        <label for="">Fax2Mail Email Address:</label>
                                        <input type="text" id="fax-email" name="fax-email" class="form-control"
                                            placeholder="Type here...">
                                    </div>
                                    <div class="form-row d-flex justify-content-end mt-4">
                                        <button class="btn btn-primary py-1">
                                            Send Fax
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row row page-applicable mt-3">
                        <div class="col-xl-12">
                            <div class="card other-name-card">
                                <div class="card-body">
                                    <h6 class="form-heading">Send Email</h6>
                                    <span class="page-note mt-1">
                                        <i class='bx bx-error-circle font-red'></i> <span>Please correct the invalid
                                            email address. Fields will be enabled once corrected.</span>
                                    </span>
                                    <div class="form-row mt-2">
                                        <label for="">Email Address To:</label>
                                        <input type="text" id="email-to" name="email-to" class="form-control"
                                            placeholder="Type here...">
                                    </div>
                                    <div class="form-row">
                                        <label for="">Email Address CC:</label>
                                        <input type="text" id="email-cc" name="email-cc" class="form-control"
                                            placeholder="Type here...">
                                    </div>
                                    <div class="form-row d-flex justify-content-end mt-4">
                                        <button class="btn btn-primary py-1">
                                            Send Email
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="search_school" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="p-4">
                <h2 class="text-center">Search For School</h3>
                <div class="card other-name-card">
                    <div class="card-body">
                        <span class="page-note">
                            <i class='bx bx-error-circle font-lightblue'></i> <span>
                            To search for an existing school, please select the Country, State or Province, City and School from the drop down lists. If your School is not on the list, click the New button. Complete the requested address information of the department or office that may verify your degree or certificate. Click the Save button. Click the Close button to populate the record with the new address information.</span>
                        </span>
                        <div class="col-xl-12">
                            <form accept-charset="UTF-8" action=<%= get_schools_url %> method="POST" id="search_school_form" class="form_search_with_icon m-3">
                                <div class="form-row row">
                                    <div class="col-12">
                                        <label for="state">State:</label>
                                        <div class="search-select form-control border border-dark" name="q[state_eq]" id="search_school_form_state">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <label for="name">School:</label>
                                        <input type="text" class="form-control" id="search_school_form_name_cont" name="q[name_cont]" placeholder="Search Education record by name" aria-label="Search Education record" aria-describedby="basic-addon2">
                                    </div>
                                </div>
                                <div class="text-center mt-2">
                                    <button class="btn btn-primary" type="submit"  form="search_school_form">Search</button>
                                </div>
                            </form>

                            <div class="form-row row p-2 text-center m-auto">
                                <div class="col-12">
                                    <label for="state">Search Result School list:</label>
                                    <div class="search-select form-control border border-dark" name="result_school" id="result_school_list">
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="m-2">
                                    <div class="form-row row">
                                        <div class="col-xl-6 ">
                                            <label for="name">School:</label>
                                            <input type="text" name="name" id="search_school_name" class="form-control form-control-lg"
                                                placeholder="Type here.." disabled="true">
                                        </div>
                                        <div class="col-xl-6">
                                            <label for="address">Address:</label>
                                            <input type="text" name="address" id="search_school_address" class="form-control form-control-lg"
                                                placeholder="Type here.." disabled="true">
                                        </div>
                                    </div>
                                    <div class="form-row row">
                                        <div class="col-xl-6">
                                            <label for="suite">Suite/Mail Stop:</label>
                                            <input type="text" name="suite" id="search_school_suite" class="form-control form-control-lg"
                                                placeholder="Type here.." disabled="true">
                                        </div>
                                        <div class="col-xl-6">
                                            <label for="address2">Additional Address:</label>
                                            <input type="text" name="address2" id="search_school_address2"
                                                class="form-control form-control-lg" placeholder="Type here.." disabled="true">
                                        </div>
                                    </div>
                                    <div class="form-row row">
                                        <div class="col-xl-6">
                                            <label for="city">City:</label>
                                            <input type="text" name="city" id="search_school_city" class="form-control form-control-lg"
                                                placeholder="Type here.." disabled="true">
                                        </div>
                                        <div class="col-xl-6">
                                            <label for="county">County:</label>
                                            <input type="text" name="county" id="search_school_county" class="form-control form-control-lg"
                                                placeholder="Type here.." disabled="true">
                                        </div>
                                    </div>
                                    <div class="form-row row">
                                        <div class="col-xl-4">
                                            <label for="state">State/Province:</label>
                                            <input type="text" name="state" id="search_school_state" class="form-control form-control-lg"
                                                placeholder="Type here.." disabled="true">
                                        </div>
                                        <div class="col-xl-4">
                                            <label for="postal_code">Zip/Postal Code:</label>
                                            <input type="text" name="postal_code" id="search_school_postal_code" class="form-control form-control-lg"
                                                placeholder="Type here.." disabled="true">
                                        </div>
                                        <div class="col-xl-4">
                                            <label for="country">Country:</label>
                                            <input type="text" name="country" id="search_school_country" class="form-control form-control-lg"
                                                placeholder="Type here.." disabled="true">
                                        </div>
                                    </div>
                                    <div class="form-row row">
                                        <div class="col-xl-4">
                                            <label for="phone">Phone Number:</label>
                                            <input type="text" name="phone" id="search_school_phone" class="form-control form-control-lg"
                                                placeholder="Type here.." disabled="true">
                                        </div>
                                        <div class="col-xl-4">
                                            <label for="email">Email Address:</label>
                                            <input type="text" name="email" id="search_school_email" class="form-control form-control-lg"
                                                placeholder="Type here.." disabled="true">
                                        </div>
                                        <div class="col-xl-4">
                                            <label for="fax">Fax Number:</label>
                                            <input type="text" name="fax" id="search_school_fax" class="form-control form-control-lg"
                                                placeholder="Type here.." disabled="true">
                                        </div>
                                    </div>
                                    <div class="form-row row">
                                        <div class="col-xl-4">
                                            <label for="fax">Contact Method:</label>
                                            <input type="text" name="contact_method" id="search_school_contact_method" class="form-control form-control-lg"
                                                placeholder="Type here.." disabled="true">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center mt-2">
                            <button type="submit" id="confirm_school_button" class="btn btn-success">Confirm</button>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-2">
                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#add_school">
                        New
                    </button>
                </div>
                <button class="btn btn-cancel w-100" data-bs-dismiss="modal" id="btn-modal-close">Cancel</button>
            </div>
        </div>
    </div>
</div>

  <div class="modal fade" id="QAModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <div id="qaModalMessage" class="alert alert-info d-none"></div>
          <div class="content">
            <div class="modal-title">
              <h6 class="">Quality Audit</h6>
              <button class="btn btn-cancel" data-bs-dismiss="modal">Cancel</button>
            </div>
            <%= form_with model: @rva_information, url: mhc_verification_platform_generate_rva_information_path, method: :post, id: 'audit-form' do |f| %>

              <%= hidden_field_tag :id, @last_rva_information&.id %>
              <%= hidden_field_tag :personal_info_id %>
              <%= hidden_field_tag :practice_education_id %>

              <%= hidden_field_tag :first_name %>
              <%= hidden_field_tag :last_name %>
              <div class="form-row row mt-3">
                <div class="col-xl-12">
                  <div class="card other-name-card">
                    <div class="card-header bg-secondary rounded-0">
                      <h6 class="form-heading text-white">Request</h6>
                    </div>
                    <div class="card-body">
                      <div class="d-flex justify-content-end gap-2">
                        <button class="btn btn-primary py-1" type="button">View Request History</button>
                        <button class="btn btn-primary py-1" type="button">View Webcrawler Image Archive</button>
                      </div>
                      <hr class="form-hr">
                      <div class="row pt-3 pb-3">
                        <div class="col-md-6">
                          <button class="btn btn-sm btn-light" id="send-request-btn">Send Request</button>
                        </div>
                        <div class="col-md-6">
                          <span class="font-bold sent-request" style="line-height: 38px;"></span>
                        </div>
                      </div>
                      <hr class="form-hr">
                      <div class="row">
                        <div class="col-md-6">
                          <label for="">Requested By:</label>
                        </div>
                        <div class="col-md-6">
                          <span class="font-bold requested-by"></span>
                        </div>
                      </div>
                      <hr class="form-hr">
                      <div class="row">
                        <div class="col-md-6">
                          <label for="">Requested Date:</label>
                        </div>
                        <div class="col-md-6">
                          <span class="font-bold requested-date"></span>
                        </div>
                      </div>
                      <hr class="form-hr">
                      <div class="form-row d-flex align-items-center gap-3">
                        <label for="">Requested Method:</label>
                        <%= f.radio_button :requested_method, 'AutoFax', id: 'method-autofax' %>
                        <label class="form-check-label" for="method-autofax">AutoFax</label>
                        <%= f.radio_button :requested_method, 'E-Mail', id: 'method-email' %>
                        <label class="form-check-label" for="method-email">E-Mail</label>
                        <%= f.radio_button :requested_method, 'Letter', id: 'method-letter', checked: true %>
                        <label class="form-check-label" for="method-letter">Letter</label>
                        <%= f.radio_button :requested_method, 'Phone', id: 'method-phone' %>
                        <label class="form-check-label" for="method-phone">Phone</label>
                        <%= f.radio_button :requested_method, 'Website', id: 'method-website' %>
                        <label class="form-check-label" for="method-website">Website</label>
                      </div>
                      <span>The default contact method is letter.</span>
                      <hr class="form-hr">
                      <div class="form-row row">
                        <div class="col-xl-6">
                          <%= f.label :required_fee_amount, "Required Fee Amount:" %>
                          <%= f.text_field :required_fee_amount, class: 'form-control req-fee-amount', placeholder: "Type here...", disabled: true %>
                        </div>
                        <div class="col-xl-6">
                          <%= f.label :check_payable_to, "Check Payable To:" %>
                          <%= f.text_field :check_payable_to, class: 'form-control', placeholder: "Type here...", disabled: true %>
                        </div>
                      </div>
                      <hr class="form-hr">
                      <div class="form-row mt-2">
                        <%= f.check_box :include_delineation, id: 'inc-delineation-check', value: "Include Delineation of Privileges"%>
                        <%= f.label :include_delineation, "Include Delineation of Privileges", for: 'inc-delineation-check' %>
                      </div>
                      <hr class="form-hr">
                      <div class="form-row d-flex align-items-center gap-3">
                        <label for="">Check has generated?</label>
                        <%= f.radio_button :check_generated, 'Yes', id: 'check-generate-yes', disabled: true %>
                        <label for="check-generate-yes">Yes</label>
                        <%= f.radio_button :check_generated, 'No', id: 'check-generate-no', disabled: true %>
                        <label for="check-generate-no">No</label>
                      </div>
                      <hr class="form-hr">
                      <div class="form-row d-flex align-items-center gap-3">
                        <label for="">Received Status:</label>
                        <%= f.radio_button :received_status, 'Yes', id: 'received-status-yes', disabled: true %>
                        <label for="received-status-yes">Yes</label>
                        <%= f.radio_button :received_status, 'No', id: 'received-status-no', disabled: true %>
                        <label for="received-status-no">No</label>
                      </div>
                      <hr class="form-hr">
                      <div class="row">
                        <div class="col-md-6">
                          <label for="">Received by:</label>
                        </div>
                        <div class="col-md-6">
                          <span class="font-bold received-by"></span>
                        </div>
                      </div>
                      <hr class="form-hr">
                      <div class="row">
                        <div class="col-md-6">
                          <label for="">Received date:</label>
                        </div>
                        <div class="col-md-6">
                          <span class="font-bold received-date"></span>
                        </div>
                      </div>
                      <hr class="form-hr">
                      <div class="form-row">
                        <%= f.label :comments, "Comments:" %>
                        <%= f.text_area :comments, rows: 3, class: 'form-control request-comment'%>
                      </div>
                      <div class="form-row d-flex justify-content-end gap-2 mt-3">
                        <button class="btn btn-primary py-1" type="button">View Received Images</button>
                        <button class="btn btn-primary py-1" type="button">Save Request</button>
                        <button class="btn btn-primary py-1" type="button">Restart Request</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-row row mt-3">
                <div class="col-xl-12">
                  <div class="card other-name-card">
                    <div class="card-header bg-secondary rounded-0">
                      <h6 class="form-heading text-white">Verification</h6>
                    </div>  
                    <div class="card-body">
                      <div class="form-row row">
                        <div class="col-md-6">
                          <%= f.label :source_name, 'Source Name:' %>
                        </div>
                        <div class="col-md-6">  
                          <%= f.select :source_name, options_for_select([
                            ['ADA', 'ADA'],
                            ['AMA Profile', 'AMA Profile'],
                            ['AOA Profile', 'AOA Profile'],
                            ['Application / On File with State Board', 'Application / On File with State Board'],
                            ['Application Supplement', 'Application Supplement'],
                            ['Certificate', 'Certificate'],
                            ['DegreeCheck.com', 'DegreeCheck.com'],
                            ['ECFMG', 'ECFMG'],
                            ['Institution', 'Institution'],
                            ['National Student Clearinghouse', 'National Student Clearinghouse'],
                            ['NOT VERIFIED', 'NOT VERIFIED'],
                            ['Other', 'Other'],
                            ['State Board', 'State Board'],
                            ['Unable to verify', 'Unable to verify']
                          ]), { include_blank: 'Select option' }, class: 'form-select' %>
                        </div>
                      </div>
                      <hr>
                      <div class="form-row row">
                        <div class="col-md-6">
                          <%= f.label :source_date, 'Source Date:' %>
                        </div>
                        <div class="col-md-6">  
                          <%= f.date_field :source_date, required: true, class: "form-control" %>
                        </div>
                      </div>
                      <hr>
                      <div class="form-row row">
                        <div class="col-md-6">
                          <%= f.label :status, 'Status:' %>
                        </div>
                        <div class="col-md-6">
                          <%= f.select :status, options_for_select([['Completed', 'Completed'],['No Degree - Enrollment Only', 'No Degree - Enrollment Only'], ['No Record Found', 'No Record Found'], ['Not Completed', 'Not Completed'], ['NOT VERIFIED', 'NOT VERIFIED'] ,['NOT NOT VERIFIED (INSTITUTION CLOSED)', 'NOT VERIFIED (INSTITUTION CLOSED)'] , ['Unable to Verify', 'Unable to Verify']]), { include_blank: 'Select option' }, class: 'form-select' %>
                        </div>
                      </div>
                      <hr>
                      <div class="card">
                        <div class="card-body">
                          <div class="d-flex justify-content-between align-items-center">
                              <h6 class="form-heading">Adverse Action</h6>
                          </div>    
                          <div class="form-row d-flex align-items-center gap-3 mt-1">
                            <%= f.select :adverse_action, options_for_select([
                              ['None', 'None'],
                              ['Ability to Interact with Others', 'Ability to Interact with Others'],
                              ['Ability to Understand/Speak English', 'Ability to Understand/Speak English'],
                              ['Actions in Process at Time of Termination', 'Actions in Process at Time of Termination'],
                              ['Adverse Action-Training', 'Adverse Action-Training'],
                              ['Attempted Procedures Beyond Training', 'Attempted Procedures Beyond Training'],
                              ['Basic Medical Judgment', 'Basic Medical Judgment'],
                              ['Clinical Competence', 'Clinical Competence'],
                              ['Contact Source', 'Contact Source'],
                              ['Discrepancy', 'Discrepancy'],
                              ['Do Not Recommend', 'Do Not Recommend'],
                              ['Emotional Limitation', 'Emotional Limitation'],
                              ['Ethical Conduct', 'Ethical Conduct'],
                              ['Formal Admonition', 'Formal Admonition'],
                              ['Inadequate explanation for failure to complete', 'Inadequate explanation for failure to complete'],
                              ['Malpractice Issue', 'Malpractice Issue'],
                              ['Mental Limitation', 'Mental Limitation'],
                              ['No Record Found', 'No Record Found'],
                              ['Not in Good Standing', 'Not in Good Standing'],
                              ['Not Qualified for Requested Privileges', 'Not Qualified for Requested Privileges'],
                              ['Other', 'Other'],
                              ['Other Disciplinary Action', 'Other Disciplinary Action'],
                              ['Physical Limitation', 'Physical Limitation'],
                              ['Practitioner/Patient Relationship', 'Practitioner/Patient Relationship'],
                              ['Prefer Not to Comment', 'Prefer Not to Comment'],
                              ['Professional Judgment', 'Professional Judgment'],
                              ['Recommend with Some Reservation', 'Recommend with Some Reservation'],
                              ['Recordkeeping', 'Recordkeeping'],
                              ['Reprimand', 'Reprimand'],
                              ['Sense of Responsibility', 'Sense of Responsibility'],
                              ['Suspension', 'Suspension'],
                              ['Technical Skill', 'Technical Skill'],
                              ['Termination', 'Termination'],
                              ['Unable to Verify', 'Unable to Verify'],
                              ['Voluntary Restriction of Privileges', 'Voluntary Restriction of Privileges'],
                              ['Voluntary Termination to Avoid Action', 'Voluntary Termination to Avoid Action']
                            ], selected: 'None'), { include_blank: 'Select option' }, class: 'form-select' %>
                          </div>
                          <div class="form-row row">
                            <div class="col-xl-6">
                              <%= f.label :other_details, 'Other:' %>
                              <%= f.text_area :other_details, rows: 5, class: 'form-control' %>
                            </div>
                            <div class="col-xl-6">
                              <%= f.label :adverse_action_comments, 'Comments:' %>
                              <%= f.text_area :adverse_action_comments, rows: 5, class: 'form-control' %>
                            </div>
                          </div>
                          <div class="form-row d-flex align-items-center gap-2 mt-1">
                            <%= f.radio_button :adverse_action_status, 'Open', id: 'verif-open' %>
                            <%= f.label :adverse_action_status, 'Open' %>
                            <%= f.radio_button :adverse_action_status, 'Close', id: 'verif-close' %>
                            <%= f.label :adverse_action_status, 'Close' %>
                          </div>
                          <div class="form-row d-flex align-items-center gap-2">
                            <%= f.label :in_good_standing, 'In Good Standing?' %>
                            <%= f.radio_button :in_good_standing, 'Yes', id: 'good-standing-yes' %>
                            <%= f.label :in_good_standing, 'Yes', for: 'good-standing-yes', class: 'form-check-label' %>
                            <%= f.radio_button :in_good_standing, 'No', id: 'good-standing-no' %>
                            <%= f.label :in_good_standing, 'No', for: 'good-standing-no', class: 'form-check-label' %>
                          </div>
                        </div>
                      </div>
                      <!-- Verification Errors Section -->
                      <div class="form-row row mt-3">
                        <div class="col-xl-12">
                          <div class="card other-name-card">
                            <div class="card-body">
                              <h6 class="form-heading">Verification Errors</h6>
                              <div class="form-row row">
                                <div class="col-xl-6">
                                  <%= f.label :error_type, 'Error:' %>
                                  <%= f.select :error_type, options_for_select([
                                    ['None', 'None'],
                                    ['From Date', 'From Date'],
                                    ['Institution/Program Name', 'Institution/Program Name'],
                                    ['Other', 'Other'],
                                    ['Program Completion', 'Program Completion'],
                                    ['Program Director First Name', 'Program Director First Name'],
                                    ['Program Director Last Name', 'Program Director Last Name'],
                                    ['Specialty', 'Specialty'],
                                    ['To Date', 'To Date'],
                                    ['Type of Training', 'Type of Training']
                                  ], 'None'), { include_blank: 'Select option' }, class: 'form-select' %>
                                </div>
                                <div class="col-xl-6">
                                  <%= f.label :error_comments, 'Comments:' %>
                                  <%= f.text_area :error_comments, rows: 3, class: 'form-control' %>
                                </div>
                              </div>
                              <div class="d-flex align-items-center justify-content-between mt-3">
                                <button type="button" class="btn btn-primary py-1">Add Another Error</button>
                                <button type="button" class="btn btn-danger">Remove</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Correct Information Section -->
                      <div class="form-row row mt-3">
                        <div class="col-xl-12">
                          <div class="card other-name-card">
                            <div class="card-body">
                              <div class="d-flex justify-content-between align-items-center">
                                <h6 class="form-heading">Correct Information</h6>
                                <div class="d-flex gap-2">
                                  <button class="btn btn-primary py-1">Verified</button>
                                  <button class="btn btn-primary py-1">Verify and Update with Correct Information</button>
                                </div>
                              </div>
                              <div class="form-row row mt-3">
                                <div class="col-xl-6">
                                  <%= f.label :correct_info_selected, 'Select Correct Info:' %>
                                  <%= f.select :correct_info_selected, options_for_select([
                                    ['From Date', 'From Date'],
                                    ['Institution/Program Name', 'Institution/Program Name'],
                                    ['Program Completion', 'Program Completion'],
                                    ['Program Director First Name', 'Program Director First Name'],
                                    ['Program Director Last Name', 'Program Director Last Name'],
                                    ['Specialty', 'Specialty'],
                                    ['To Date', 'To Date'],
                                    ['Type of Training', 'Type of Training']
                                  ]), { include_blank: 'Select option' }, class: 'form-select' %>
                                </div>
                                <div class="col-xl-6">
                                  <%= f.label :correct_info_text, 'Enter Details:' %>
                                  <%= f.text_field :correct_info_text, class: 'form-control' %>
                                </div>
                              </div>
                              <div class="d-flex align-items-center justify-content-between mt-3">
                                <button type="button" class="btn btn-primary py-1">Add</button>
                                <button type="button" class="btn btn-danger">Remove</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <hr class="form-hr">
                      <div class="row mt-5">
                        <div class="col-md-6">
                          <label for="">Verification Status:</label>
                        </div>
                        <div class="col-md-6">
                          <span class="font-bold verification-status"></span>
                        </div>
                      </div>
                      <hr class="form-hr">
                      <div class="row">
                        <div class="col-md-6">
                          <label for="">Notification Status:</label>
                        </div>
                        <div class="col-md-6">
                          <span class="font-bold notification-status"></span>
                        </div>
                      </div>
                      <hr class="form-hr">
                      <div class="row">
                        <div class="col-md-6">
                          <label for="">Verification Date:</label>
                        </div>
                        <div class="col-md-6">
                          <span class="font-bold verification-date"></span>
                        </div>
                      </div>
                      <hr class="form-hr">
                      <div class="row">
                        <div class="col-md-6">
                          <label for="">Verifier:</label>
                        </div>
                        <div class="col-md-6">
                          <span class="font-bold verifier"></span>
                        </div>
                      </div>
                      <hr class="form-hr">

                      <!-- Comments and Save Button -->
                      <div class="form-row row mt-3">
                        <div class="col-xl-12">
                          <%= f.label :verification_comments, 'Comments:' %>
                          <%= f.text_area :verification_comments, rows: 3, class: 'form-control' %>
                        </div>
                      </div>
                      <div class="d-flex justify-content-end gap-2 mt-3">
                        <%= f.button 'Save Verification', class: 'btn btn-primary py-1', id: 'verification-btn' %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row row mt-3">
                <div class="card other-name-card">
                  <div class="card-body">
                    <h6 class="form-heading">Audit</h6>

                    <div class="form-row row mt-3">
                      <div class="col-xl-12">
                        <div class="card other-name-card">
                          <div class="card-body">
                            <h6 class="form-heading">Reasons</h6>
                            <div class="form-row row">
                              <div class="col-xl-6">
                                <%= f.label :audit_reason, 'Reason:' %>
                                <%= f.select :audit_reason, options_for_select([
                                  ['None', 'None'],
                                  ['Adverse Action Not Recorded', 'Adverse Action Not Recorded'],
                                  ['Audit Reason', 'Audit Reason'],
                                  ['Completed Status Incorrect', 'Completed Status Incorrect'],
                                  ['From Date Incorrect', 'From Date Incorrect'],
                                  ['Gap Explanation Missing/Inadequate', 'Gap Explanation Missing/Inadequate'],
                                  ['Institution Name Incorrect', 'Institution Name Incorrect'],
                                  ['Not Completed Explanation Missing/Inadequate', 'Not Completed Explanation Missing/Inadequate'],
                                  ['Show on Tickler Status Incorrect', 'Show on Tickler Status Incorrect'],
                                  ['Source Date Incorrect', 'Source Date Incorrect'],
                                  ['Source Name Incorrect', 'Source Name Incorrect'],
                                  ['Specialty Incorrect', 'Specialty Incorrect'],
                                  ['Theorem: Incorrect Information Entered', 'Theorem: Incorrect Information Entered'],
                                  ['Theorem: Necessary Information Not Entered', 'Theorem: Necessary Information Not Entered'],
                                  ['Theorem: Unnecessary Information Entered', 'Theorem: Unnecessary Information Entered'],
                                  ['To Date Incorrect', 'To Date Incorrect'],
                                  ['Type of Training Incorrect', 'Type of Training Incorrect'],
                                  ['Verification Not Uploaded', 'Verification Not Uploaded'],
                                  ['Verification Status Incorrect', 'Verification Status Incorrect']
                                ]), { include_blank: 'Select option' }, class: 'form-select' %>   
                              </div>
                              <div class="col-xl-6">
                                <%= f.label :audit_reason_comments, 'Comments:' %>
                                <%= f.text_field :audit_reason_comments, class: 'form-control' %>
                              </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mt-3">
                              <%= button_tag 'Add Another Reason', class: 'btn btn-primary py-1', type: 'button' %>
                              <%= button_tag 'Remove', class: 'btn btn-danger', type: 'button' %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-row d-flex align-items-center gap-3">
                      <%= f.label :audit_status, 'Audit Status:' %>
                      <%= f.radio_button :audit_status, 'Pass', id: 'audit-status-pass', class: 'form-check-input', required: true %>
                      <%= f.label :audit_status, 'Pass', for: 'audit-status-pass', class: 'form-check-label' %>

                      <%= f.radio_button :audit_status, 'Fail', id: 'audit-status-fail', class: 'form-check-input', required: true %>
                      <%= f.label :audit_status, 'Fail', for: 'audit-status-fail', class: 'form-check-label' %>
                    </div>
                    <hr class="form-hr">

                    <div class="row">
                      <div class="col-md-6">
                        <label for="">Audit Date:</label>
                      </div>
                      <div class="col-md-6">
                        <span class="font-bold" id="rva_information_audit_date"></span>
                      </div>
                    </div>
                    <hr class="form-hr">

                    <div class="row">
                      <div class="col-md-6">
                        <label for="">Auditor:</label>
                      </div>
                      <div class="col-md-6">
                        <span class="font-bold" id="rva_information_auditor"></span>
                      </div>
                    </div>
                    <hr class="form-hr">

                    <div class="form-row row">
                      <div class="col-xl-12">
                        <%= f.label :audit_comments, 'Comments:' %>
                        <%= f.text_area :audit_comments, rows: 3, class: 'form-control' %>
                      </div>
                    </div>

                    <div class="d-flex justify-content-end gap-2 mt-3">
                      <%= f.button 'Save Audit', class: 'btn btn-primary py-1', id: 'audit-btn' %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>  
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="modal fade" id="add_school" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="p-4">
                <h2 class="text-center">Add New School</h3>
                <div class="card other-name-card">
                    <div class="card-body">
                        <div class="col-xl-12">
                            <div class="card">
                                <form accept-charset="UTF-8" action=<%= mhc_schools_url %> method="POST" id="add_school_form" class="form_search_with_icon">
                                    <div class="m-2">
                                        <div class="form-row row">
                                            <div class="col-xl-6 ">
                                                <label for="name">School:</label>
                                                <input type="text" name="name" id="add_school_name" class="form-control form-control-lg"
                                                    placeholder="Type here..">
                                            </div>
                                            <div class="col-xl-6">
                                                <label for="address">Address:</label>
                                                <input type="text" name="address" id="add_school_address" class="form-control form-control-lg"
                                                    placeholder="Type here..">
                                            </div>
                                        </div>
                                        <div class="form-row row">
                                            <div class="col-xl-6">
                                                <label for="suite">Suite/Mail Stop:</label>
                                                <input type="text" name="suite" id="add_school_suite" class="form-control form-control-lg"
                                                    placeholder="Type here..">
                                            </div>
                                            <div class="col-xl-6">
                                                <label for="address2">Additional Address:</label>
                                                <input type="text" name="address2" id="add_school_address2"
                                                    class="form-control form-control-lg" placeholder="Type here..">
                                            </div>
                                        </div>
                                        <div class="form-row row">
                                            <div class="col-xl-6">
                                                <label for="city">City:</label>
                                                <input type="text" name="city" id="add_school_city" class="form-control form-control-lg"
                                                    placeholder="Type here..">
                                            </div>
                                            <div class="col-xl-6">
                                                <label for="county">County:</label>
                                                <input type="text" name="county" id="add_school_county" class="form-control form-control-lg"
                                                    placeholder="Type here..">
                                            </div>
                                        </div>
                                        <div class="form-row row">
                                            <div class="col-xl-4">
                                                <label for="state">State/Province:</label>
                                                <div class="search-select form-control border border-dark" name="state" id="add_school_state">
                                                </div>
                                            </div>
                                            <div class="col-xl-4">
                                                <label for="postal_code">Zip/Postal Code:</label>
                                                <input type="text" name="postal_code" id="add_school_postal_code" class="form-control form-control-lg"
                                                    placeholder="Type here..">
                                            </div>
                                            <div class="col-xl-4">
                                                <label for="country">Country:</label>
                                                <input type="text" name="country" id="add_school_country" class="form-control form-control-lg"
                                                    placeholder="Type here..">
                                            </div>
                                        </div>
                                        <div class="form-row row">
                                            <div class="col-xl-4">
                                                <label for="phone">Phone Number:</label>
                                                <input type="text" name="phone" id="add_school_phone" class="form-control form-control-lg"
                                                    placeholder="Type here..">
                                            </div>
                                            <div class="col-xl-4">
                                                <label for="email">Email Address:</label>
                                                <input type="text" name="email" id="add_school_email" class="form-control form-control-lg"
                                                    placeholder="Type here..">
                                            </div>
                                            <div class="col-xl-4">
                                                <label for="fax">Fax Number:</label>
                                                <input type="text" name="fax" id="add_school_fax" class="form-control form-control-lg"
                                                    placeholder="Type here..">
                                            </div>
                                        </div>
                                        <div class="form-row row">
                                            <div class="col-xl-4">
                                                <label for="fax">Contact Method:</label>
                                                <select id="add_school_contact_method" name="contact_method" class="form-select">
                                                    <option value="email" selected>Email</option>
                                                    <option value="letter">Letter</option>
                                                    <option value="fax">Fax</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-md w-100">
                                        <strong>Save</strong>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-cancel w-100" data-bs-dismiss="modal" id="btn-modal-close">Cancel</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function() {
        var csrfToken = $('meta[name="csrf-token"]').attr('content');
        $('.contact_method_radio').on('change',function(e) {
            if($(this).val() == 'email') {
                var provider_type = $('#provider_type').val()
                console.log("provider_type")
                if(provider_type == 'credentialing_contact') {
                    $('#to').val($('#cred_contact_email').val())
                }
                if(provider_type == 'confidential_contact') {
                    $('#to').val($('#conf_contact_email').val())
                }
                if(provider_type == 'client_contact') {
                    $('#to').val($('#client_contact_email').val())
                }
                if(provider_type == 'intitution_contact') {
                    $('#to').val($('#intitution_contact_email').val())
                }
            }
        });

        $('#provider_type').on('change',function(e) {
            if($(this).val() == 'credentialing_contact') {
                $('#to').val($('#cred_contact_email').val())
            }
            if($(this).val() == 'confidential_contact') {
                $('#to').val($('#conf_contact_email').val())
            }
            if($(this).val() == 'client_contact') {
                $('#to').val($('#client_contact_email').val())
            }
            if($(this).val() == 'intitution_contact') {
                $('#to').val($('#intitution_contact_email').val())
            }
        });

        VirtualSelect.init({
            options: {},
            ele: '#result_school_list',
            search: true,
            showSelectedOptionsFirst: true
        });

        $("#ajaxForm").submit(function(e){
            e.preventDefault();
            var action = $(this).attr("action");
            var formData = new FormData(this)
            formData.append('authenticity_token', csrfToken);
            $.ajax({
                type: "POST",
                url: action,
                crossDomain: true,
                data: formData,
                dataType: "json",
                contentType: "multipart/form-data",
                processData: false,
                contentType: false,
                headers: {
                    "Accept": "application/json"
                }
            }).done(function() {
                $('#btn-modal-close').trigger('click');
                $('.loading-overlay').hide();
            }).fail(function() {
                alert('An error occurred.')
                $('.loading-overlay').hide();
            });
        });

        $("#confirm_school_button").on('click', function(e) {
            e.preventDefault();
            $("#provider_education_institution_name").val($("#search_school_name").val())
            $("#provider_education_address").val($("#search_school_address").val())
            $("#provider_education_suite").val($("#search_school_suite").val())
            $("#provider_education_address2").val($("#search_school_address2").val())
            $("#provider_education_city").val($("#search_school_city").val())
            $("#provider_education_county").val($("#search_school_county").val())
            $("#provider_education_state").val($("#search_school_state").val())
            $("#provider_education_postal_code").val($("#search_school_postal_code").val())
            $("#provider_education_country").val($("#search_school_country").val())
            $("#provider_education_phone_number").val($("#search_school_phone").val())
            $("#provider_education_fax_number").val($("#search_school_fax").val())
            $("#provider_education_email_address").val($("#search_school_email").val())
            $('#btn-modal-close').trigger('click');
        });

        $("#search_school_form").submit(function(e){
            e.preventDefault();
            var action = $(this).attr("action");
            $.ajax({
                type: "POST",
                url: action,
                crossDomain: true,
                data: { authenticity_token: csrfToken, q: {
                    name_cont: $("#search_school_form_name_cont").val(),
                    state_eq:  $("#search_school_form_state").val()
                } },
                dataType: "json",
            }).success(function(data) {
                schools = data['schools']
                document.querySelector('#result_school_list').setOptions(schools);
                $('.loading-overlay').hide();
            }).fail(function() {
                alert('An error occurred.')
                $('.loading-overlay').hide();
            });
        });

        $('#result_school_list').on('change', function(e) {
            if($('#result_school_list').val() != "") {
                school_id = $('#result_school_list').val()
                $.ajax({
                    type: "GET",
                    url: "/mhc/schools/" + school_id + ".json",
                    crossDomain: true,
                    dataType: "json",
                }).success(function(data) {
                    console.log(data)
                    $("#search_school_name").val(data["school"]["name"])
                    $("#search_school_address").val(data["school"]["address"])
                    $("#search_school_suite").val(data["school"]["suite"])
                    $("#search_school_address2").val(data["school"]["address2"])
                    $("#search_school_city").val(data["school"]["city"])
                    $("#search_school_county").val(data["school"]["county"])
                    $("#search_school_state").val(data["school"]["state"])
                    $("#search_school_postal_code").val(data["school"]["postal_code"])
                    $("#search_school_country").val(data["school"]["country"])
                    $("#search_school_contact_method").val(data["school"]["contact_method"])
                    $("#search_school_phone").val(data["school"]["phone"])
                    $("#search_school_fax").val(data["school"]["fax"])
                    $("#search_school_email").val(data["school"]["email"])
                    $('.loading-overlay').hide();

                }).fail(function() {
                    alert('An error occurred.')
                    $('.loading-overlay').hide();
                });
            }
        })

        $('#add_school').on('shown.bs.modal', function () {
            $.ajax({
                url: '<%= get_states_path %>',
                method: 'GET',
                data: { authenticity_token: csrfToken },
                success: function(data) {
                    states = data['states']
                    VirtualSelect.init({
                        options: states,
                        ele: '#add_school_state',
                        search: true,
                        showSelectedOptionsFirst: true
                    });
                }
            })
        })

        $('#search_school').on('shown.bs.modal', function () {
            $.ajax({
                url: '<%= get_states_path %>',
                method: 'GET',
                data: { authenticity_token: csrfToken },
                success: function(data) {
                    states = data['states']
                    VirtualSelect.init({
                        options: states,
                        ele: '#search_school_form_state',
                        search: true,
                        showSelectedOptionsFirst: true
                    });
                }
            })
        })

        $("#add_school_form").submit(function(e){
            e.preventDefault();
            var action = $(this).attr("action");
            var school = {
                name: $("#add_school_name").val(),
                address: $("#add_school_address").val(),
                suite: $("#add_school_suite").val(),
                address2: $("#add_school_address2").val(),
                city: $("#add_school_city").val(),
                county: $("#add_school_county").val(),
                state: $("#add_school_state").val(),
                postal_code: $("#add_school_postal_code").val(),
                country: $("#add_school_country").val(),
                contact_method: $("#add_school_contact_method").val(),
                phone: $("#add_school_phone").val(),
                fax: $("#add_school_fax").val(),
                email: $("#add_school_email").val(),
            }
            $.ajax({
                type: "POST",
                url: action,
                crossDomain: true,
                data: { authenticity_token: csrfToken, school: school },
                dataType: "json",
            }).success(function(data) {
                console.log(data["school"])
                $('#btn-modal-close').trigger('click');
                $('#search_school_button').trigger('click');
                $("#search_school_name").val(data["school"]["name"])
                $("#search_school_address").val(data["school"]["address"])
                $("#search_school_suite").val(data["school"]["suite"])
                $("#search_school_address2").val(data["school"]["address2"])
                $("#search_school_city").val(data["school"]["city"])
                $("#search_school_county").val(data["school"]["county"])
                $("#search_school_state").val(data["school"]["state"])
                $("#search_school_postal_code").val(data["school"]["postal_code"])
                $("#search_school_country").val(data["school"]["country"])
                $("#search_school_contact_method").val(data["school"]["contact_method"])
                $("#search_school_phone").val(data["school"]["phone"])
                $("#search_school_fax").val(data["school"]["fax"])
                $("#search_school_email").val(data["school"]["email"])
                $('.loading-overlay').hide();
            }).fail(function() {
                alert('An error occurred.')
                $('.loading-overlay').hide();
            });
        });
    })

    $(document).ready(function() {

        // send request parameter
        $('#send-request-btn').click(function (e) {
          e.preventDefault();
          var firstName = $('#firstname').html().trim();
          var personalInfoId = $('input[name="personal_info_id"]').val();
          var practiceEducationId = $('input[name="practice_education_id"]').val();

          $('.loading-overlay').show();

          $.ajax({
            url: '/webscrapers/send_training_request',
            method: 'POST',
            headers: {
              'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content'),
            },
            data: {
              first_name: firstName,
               personal_info_id: personalInfoId,
               training_id: practiceEducationId,
            },
            success: function (response) {
              // set the values
              const data =  response.rva_information;
              document.querySelector('[name="id"]').value = data.id;
              $('#send-request-btn').attr('disabled', 'true');
              $('#send-request-btn')[0].classList.remove('btn');
              $('.sent-request')[0].innerHTML = data.send_request;
              $('.requested-by')[0].innerHTML = data.requested_by;
              $('.requested-date')[0].innerHTML = data.requested_date;
              $(`#method-${data.requested_method}`).checked = true;
              $('.req-fee-amount')[0].value = data.required_fee_amount;
              $('input[name="check_generated"]').checked = data.required_fee_amount;
              $('.received-by')[0].innerHTML = data.received_by;
              $('.received-date')[0].innerHTML = data.received_date;
              $('input[name="received_status"]').checked = data.received_status;
              $('.request-comment')[0].value = data.comments;
              $('.loading-overlay').hide();
            },
            error: function () {
            },
          });
        });
        $('#verification-btn').click(function(e) {
          e.preventDefault(); // Prevent default form submission
            // Check if source_date is filled
            if (!$('#rva_information_source_date').val()) {
              alert("Please select a Source Date before saving.");
              return;
            }
          // Serialize the form data from #audit-form
          const auditFormData = $('#audit-form').serialize();
          const additionalParams = 'section=audit'; 


          // Combine the form data and additional data into a single object
          $.ajax({
            url: '/mhc/verification-platform/generate_rva_information',
            method: 'POST',
            headers: {
              'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content'),
            },
            data: `${auditFormData}&section=verification`, // Combine serialized data
            success: function(response) {
              // Handle success (e.g., display a success message)
              const data = response.rva_information;
              $('input[name="rva_information[audit_status]"]').removeAttr('disabled')
              $('#rva_information_source_name').attr('disabled', true);
              $('#rva_information_source_date').attr('disabled', true);
              $('#rva_information_status').attr('disabled', true);
              $('#rva_information_other_details').attr('disabled', true);
              $('.verification-status')[0].innerHTML = data.verification_status;
              $('.verification-date')[0].innerHTML = data.verification_date;
              $('.verifier')[0].innerHTML = data.verifier;
              $('#rva_information_verification_comments')[0].value = data.verification_comments;
              $(`#verif-${data.adverse_action_status}`).checked = data.adverse_action_status;
              $('input[name="rva_information[in_good_standing]"]').checked = data.in_good_standing;
            },
            error: function(xhr, status, error) {
              console.error('Error:', error);
            }
          });
        });
        $('#audit-btn').click(function(e) {
          e.preventDefault(); // Prevent default form submission
            if (!$('input[name="rva_information[audit_status]"]:checked').val()) {
                  alert("Please select an Audit Status before saving.");
                  return;
                }
          // Serialize the form data from #audit-form
          const auditFormData = $('#audit-form').serialize();
          var practiceEducationId = $('input[name="practice_education_id"]').val();

          // Combine the form data and additional data into a single object
          $.ajax({
            url: '/mhc/verification-platform/generate_rva_information',
            method: 'POST',
            headers: {
              'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content'),
            },
            data: `${auditFormData}&section=audit&practice_education_id=${practiceEducationId}`, // Combine serialized data
            success: function(response) {
              const data = response.rva_information;
              $('input[name="rva_information[audit_status]"]').value = data.audit_status;
              $('#rva_information_audit_date')[0].innerHTML = data.audit_date;
              $('#rva_information_auditor')[0].innerHTML = data.auditor;
              $('#rva_information_audit_comments')[0].value = data.audit_comments;
              $('#re-rva')[0].classList.remove('d-none');
            },
            error: function(xhr, status, error) {
              console.error('Error:', error);
            }
          });
        });
      });

    var csrfToken = $('meta[name="csrf-token"]').attr('content');

    $("#ajaxForm").submit(function(e){
        e.preventDefault();
        var action = $(this).attr("action");
        var formData = new FormData(this)
        formData.append('authenticity_token', csrfToken);
        $.ajax({
            type: "POST",
            url: action,
            crossDomain: true,
            data: formData,
            dataType: "json",
            contentType: "multipart/form-data",
            processData: false,
            contentType: false,
            headers: {
                "Accept": "application/json"
            }
        }).done(function() {
            $('#btn-modal-close').trigger('click');
            $('.loading-overlay').hide();
        }).fail(function() {
            alert('An error occurred.')
            $('.loading-overlay').hide();
        });
    });
  document.addEventListener('DOMContentLoaded', function() {
    const qualityAuditModal = document.getElementById('QAModal');
    qualityAuditModal.addEventListener('show.bs.modal', function (event) {
      const button = event.relatedTarget; 
      const FirstName = button.getAttribute('data-first-name');
      const LastName = button.getAttribute('data-last-name');
      const InformationId = button.getAttribute('data-information-id');
      const personalInfoId = button.getAttribute('data-personal-information-id');
      const practiceEducationId = button.getAttribute('data-provider-education-id');

      // Update the hidden field in the form with the document ID
      document.querySelector('[name="first_name"]').value = FirstName;
      document.querySelector('[name="last_name"]').value = LastName;
      document.querySelector('[name="id"]').value = InformationId;
      document.querySelector('[name="personal_info_id"]').value = personalInfoId;
      document.querySelector('[name="practice_education_id"]').value = practiceEducationId;
    });
  });
</script>


<style type="text/css">
  .multi-select, .search-select, .single-select {
    padding: 0;
      width: 100%;
      max-width: 1000px;
  }
  .single-select  {
    width: 100%;
    max-width: 1000px;
    padding: 0;
  }
</style>