<div class="row g-1 mb-3" >
   <div class="col-lg-4">
      <div class="card p-2 rounded-15 pale-green ps-3 pb-0" style="min-height: 112px;">
         <h5 class="text-black text-left">All Providers</h5>
         <!-- <h5 class="text-transparent">spacer</h5> -->
         <div class="w-100 d-flex d-flex align-items-end">
            <h1 style="font-size: 40px;" class="text-black mt-2">
               <%= EnrollmentProvider.count %>
            </h1>
         </div>
      </div>
   </div>
   <div class="col-lg-4">
      <div class="card p-2 rounded-15 pale-blue ps-3 pb-0" style="min-height: 112px;">
         <h5 class="text-black text-left">Attested</h5>
         <!-- <h5 class="text-transparent">spacer</h5> -->
         <div class="w-100 d-flex d-flex align-items-end">
            <h1 style="font-size: 40px;" class="text-black mt-2">
               <%= Client.attested.count %>
            </h1>
         </div>
      </div>
   </div>
   <div class="col-lg-4">
      <div class="card p-2 rounded-15 pale-blue ps-3 pb-0" style="min-height: 112px;">
         <h5 class="text-black text-left">No Application</h5>
         <!-- <h5 class="text-transparent">spacer</h5> -->
         <div class="w-100 d-flex d-flex align-items-end">
            <h1 style="font-size: 40px;" class="text-black mt-2">
               <%= Client.no_application.count %>
            </h1>
         </div>
      </div>
   </div>
</div>
<div class="row g-1 mb-3" >
   <div class="col-lg-4">
      <div class="card p-2 rounded-15 pale-blue ps-3 pb-0" style="min-height: 112px;">
         <h5 class="text-black text-left">Complete Application</h5>
         <!-- <h5 class="text-transparent">spacer</h5> -->
         <div class="w-100 d-flex d-flex align-items-end">
            <h1 style="font-size: 40px;" class="text-black mt-2">
               <%= Client.complete.count %>
            </h1>
         </div>
      </div>
   </div>
   <div class="col-lg-4">
      <div class="card p-2 rounded-15 pale-blue ps-3 pb-0" style="min-height: 112px;">
         <h5 class="text-black text-left">Incomplete</h5>
         <!-- <h5 class="text-transparent">spacer</h5> -->
         <div class="w-100 d-flex d-flex align-items-end">
            <h1 style="font-size: 40px;" class="text-black mt-2">
               <%= Client.incomplete.count %>
            </h1>
         </div>
      </div>
   </div>
   <div class="col-lg-4">
      <div class="card p-2 rounded-15 pale-blue ps-3 pb-0" style="min-height: 112px;">
         <h5 class="text-black text-left">Pending Data Entry</h5>
         <!-- <h5 class="text-transparent">spacer</h5> -->
         <div class="w-100 d-flex d-flex align-items-end">
            <h1 style="font-size: 40px;" class="text-black mt-2">
               <%= Client.pending_data.count %>
            </h1>
         </div>
      </div>
   </div>
</div>
<div class="row g-1 mb-3" >
   <div class="col-lg-4">
      <div class="card p-2 rounded-15 pale-blue ps-3 pb-0" style="min-height: 112px;">
         <h5 class="text-black text-left">In Process</h5>
         <!-- <h5 class="text-transparent">spacer</h5> -->
         <div class="w-100 d-flex d-flex align-items-end">
            <h1 style="font-size: 40px;" class="text-black mt-2">
               <%= Client.in_process.count %>
            </h1>
         </div>
      </div>
   </div>
   <div class="col-lg-4">
      <div class="card p-2 rounded-15 pale-blue ps-3 pb-0" style="min-height: 112px;">
         <h5 class="text-black text-left">PSV</h5>
         <!-- <h5 class="text-transparent">spacer</h5> -->
         <div class="w-100 d-flex d-flex align-items-end">
            <h1 style="font-size: 40px;" class="text-black mt-2">
               <%= Client.psv.count %>
            </h1>
         </div>
      </div>
   </div>
   <div class="col-lg-4">
      <div class="card p-2 rounded-15 pale-blue ps-3 pb-0" style="min-height: 112px;">
         <h5 class="text-black text-left">Returned</h5>
         <!-- <h5 class="text-transparent">spacer</h5> -->
         <div class="w-100 d-flex d-flex align-items-end">
            <h1 style="font-size: 40px;" class="text-black mt-2">
               <%= Client.returned.count %>
            </h1>
         </div>
      </div>
   </div>
</div>
