<div class="row mb-3">
   <div class="col-lg-12 mb-3">
      <select class="form-select rounded-15 provider-range-selector" style="width: 150px;">
         <option value="this_month">Monthly</option>
         <option value="this_week">Weekly</option>
         <option value="today">Today</option>
      </select>
   </div>
   <div class="col-lg-12">
      <div class="row mb-3 g-1">
         <div class="col-lg-4">
            <div class="card p-2 rounded-15 pale-green ps-3 pb-0" style="min-height: 112px;" >
               <h5>New Providers</h5>
               <div class="w-100 d-flex d-flex align-items-end">
                  <h1 id="new_providers" style="font-size: 40px;" class="text-black mt-2">
                     <%= EnrollmentProvider.this_month.count %>
                  </h1>
               </div>
            </div>
         </div>
         <div class="col-lg-4">
            <div class="card p-2 rounded-15 pale-blue ps-3 pb-0" style="min-height: 112px;" >
               <h5>Assigned Providers</h5>
               <div class="w-100 d-flex d-flex align-items-end">
                  <h1 id="assigned_providers" style="font-size: 40px;" class="text-black mt-2">
                     <%= EnrollmentProvider.this_month.assigned.count %>
                  </h1>
               </div>
            </div>
         </div>
         <div class="col-lg-4">
            <div class="card p-2 rounded-15 pale-blue ps-3 pb-0" style="min-height: 112px;">
               <h5>Completed Providers</h5>
               <div class="w-100 d-flex d-flex align-items-end">
                  <h1 id="completed_providers" style="font-size: 40px;" class="text-black mt-2">
                     <%= EnrollmentProvider.this_month.completed.count %>
                  </h1>
               </div>
            </div>
         </div>
      </div>
      <div class="row g-1">
         <div class="col-lg-4">
            <div class="card p-2 rounded-15 pale-blue ps-3 pb-0" style="min-height: 112px;">
               <h5>Votes</h5>
               <div class="w-100 d-flex d-flex align-items-end">
                  <h1 id="completed_providers" style="font-size: 40px;" class="text-black mt-2">
                     0
                  </h1>
               </div>
            </div>
         </div>
         <div class="col-lg-4">
            <div class="card p-2 rounded-15 pale-blue ps-3 pb-0" style="min-height: 112px;">
               <h5>Terminated</h5>
               <div class="w-100 d-flex d-flex align-items-end">
                  <h1 id="terminated_providers" style="font-size: 40px;" class="text-black mt-2">
                     <%= EnrollmentProvider.this_month.terminated.count %>
                  </h1>
               </div>
            </div>
         </div>
         <div class="col-lg-4">
            <div class="card p-2 rounded-15 pale-blue ps-3 pb-0" style="min-height: 112px;">
               <h5>Unassigned Providers</h5>
               <div class="w-100 d-flex d-flex align-items-end">
                  <h1 id="unassigned_providers" style="font-size: 40px;" class="text-black mt-2">
                     <%= EnrollmentProvider.this_month.unassigned.count %>
                  </h1>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
