 
         <div class="row mb-3">
           <div class="col-lg-12">
 <div class="card pale-blue rounded px-2 py-4">
              <h5>Server Storage</h5>
              <h4>Total Storage: <%= @total_size_gb %>GB</h4>
              <h6>Used space</h6>
              <div class="bg-secondary rounded-15 mb-2 d-flex align-items-center mb-4">
                <div class="bg-primary d-flex justify-content-between text-white align-items-center rounded-15 px-2" style="width: <%= @used_size_percent %>%">
                  <p class="m-0 py-2 fw-bold"><%= @used_size_gb == 0 ? "#{@used_size_mb}MB" : "#{@used_size_gb}GB" %></p>
                  <p class="m-0 py-2 fw-bold"><%= @used_size_percent %>%</p>
                </div>
              </div>
              <h6>Free space</h6>
              <div class="bg-secondary rounded-15 d-flex align-items-center">
                <div class="bg-primary d-flex justify-content-between text-white align-items-center rounded-15 px-2" style="width: <%= @free_size_percent %>%">
                  <p class="m-0 py-2 fw-bold"><%= @free_size_gb %>GB</p>
                  <p class="m-0 py-2 fw-bold"><%= @free_size_percent %>%</p>
                </div>
              </div>
             </div>

              </div>
         </div>