<%= search_form_for @q, url: virtual_review_committee_path, html: { id: 'vrc-search-form' } do |f| %>
  <div class="card">
    <div class="card-body bg-medium-grey">
      <div class="row">
        <!-- Left Column -->
        <div class="col-lg-6">
          <!-- Provider Type -->
          <div class="form-group mb-3 text-black">
            <%= f.label :provider_type_eq, "Provider Type" %>
            <%= f.select :provider_type_eq, options_for_select([["Select option", ""]] + @provider_types.map { |p| [p.fch, p.fch] }, params.dig(:q, :provider_type_eq)),{}, class: 'form-select py-1' %>
          </div>
          <!-- Specialty -->
          <div class="form-group mb-3 text-black">
            <%= f.label :specialty_eq, "Specialty" %>
            <%= f.select :specialty_eq, options_for_select([["Select option", ""]] + specialties.map { |s| [s.bcbs, s.bcbs] }, params.dig(:q, :specialty_eq)), {},  class: 'form-select py-1' %>
          </div>
          <!-- First Name and Last Name -->
          <div class="row mb-3">
            <div class="col-lg-6">
              <%= f.label :first_name_cont, "First Name" %>
              <%= f.text_field :first_name_cont, value: params.dig(:q, :first_name_cont), class: 'form-control py-1' %>
            </div>
            <div class="col-lg-6">
              <%= f.label :last_name_cont, "Last Name" %>
              <%= f.text_field :last_name_cont, value: params.dig(:q, :last_name_cont), class: 'form-control py-1' %>
            </div>
          </div>
          <!-- Review Level -->
          <div class="form-group mb-3 text-black">
            <%= f.label :review_level_eq, "Review Level" %>
            <%= f.select :review_level_eq, options_for_select([["Select option", ""], "Expedited"], params.dig(:q, :review_level_eq)), {}, class: 'form-select py-1' %>
          </div>
          <!-- Credential Cycle -->
          <div class="form-group mb-3 text-black">
            <%= f.label :cred_cycle_eq, "Credential Cycle" %>
            <%= f.select :cred_cycle_eq, options_for_select([["Select option", ""], "Credential", "Recredential"], params.dig(:q, :cred_cycle_eq)), {}, class: 'form-select py-1' %>
          </div>
        </div>
        <!-- Right Column -->
        <div class="col-lg-6 text-black">
          <!-- PSV Completed -->
          <div class="row mb-3">
            <%= f.label :psv_completed_date_gteq, "PSV Completed" %>
            <div class="col-lg-6">
              <%= f.date_field :psv_completed_date_gteq, value: params.dig(:q, :psv_completed_date_gteq), class: 'form-control py-1', placeholder: 'From' %>
            </div>
            <div class="col-lg-6">
              <%= f.date_field :psv_completed_date_lteq, value: params.dig(:q, :psv_completed_date_lteq), class: 'form-control py-1', placeholder: 'To' %>
            </div>
          </div>
          <!-- Committee Date -->
          <div class="row mb-3">
            <%= f.label :committee_date_gteq, "Committee Date" %>
            <div class="col-lg-6">
              <%= f.date_field :committee_date_gteq, value: params.dig(:q, :committee_date_gteq), class: 'form-control py-1', placeholder: 'From' %>
            </div>
            <div class="col-lg-6">
              <%= f.date_field :committee_date_lteq, value: params.dig(:q, :committee_date_lteq), class: 'form-control py-1', placeholder: 'To' %>
            </div>
          </div>
          <!-- Review Date -->
          <div class="row mb-3">
            <%= f.label :review_date_gteq, "Review Date Range" %>
            <div class="col-lg-6">
              <%= f.date_field :review_date_gteq, value: params.dig(:q, :review_date_gteq), class: 'form-control py-1', placeholder: 'From' %>
            </div>
            <div class="col-lg-6">
              <%= f.date_field :review_date_lteq, value: params.dig(:q, :review_date_lteq), class: 'form-control py-1', placeholder: 'To' %>
            </div>
          </div>
          <!-- State -->
          <div class="form-group mb-3 text-black">
            <%= f.label :state_eq, "State" %>
            <%= f.select :state_eq, options_for_select([["Select option", ""]] + @states.map { |s| ["#{s.name} - #{s.alpha_code}", s.alpha_code] }, params.dig(:q, :state_eq)), {}, class: 'form-select py-1' %>
          </div>
          <!-- ID Type -->
          <div class="form-group mb-3 text-black">
            <%= f.label :id_type_cont, "ID Type" %>
            <%= f.text_field :id_type_cont, value: params.dig(:q, :id_type_cont), class: 'form-control py-1' %>
          </div>
        </div>
      </div>
      <!-- Buttons -->
      <div class="row mt-3">
        <div class="col-lg-12 d-flex">
          <%= f.submit "Submit", class: "btn btn-sm btn-primary fw-bold", style: "margin-left: 10%; width: 150px;" %>
          <%= link_to "Clear", virtual_review_committee_path, class: "btn btn-sm btn-danger ms-3" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
