<aside class="js-navbar-vertical-aside navbar navbar-vertical-aside navbar-vertical navbar-vertical-fixed navbar-expand-xl navbar-bordered <%= dark_mode %>  ">
	<div class="navbar-vertical-container">
				<div class="navbar-vertical-footer-offset">
							<a class="navbar-brand" href="javascript:void(0);" aria-label="">
										<!-- <img class="navbar-brand-logo" src="./dist/assets/img/plm-logos/logo-blue.jpg" alt="Logo" data-hs-theme-appearance="default"> -->
										<img class="navbar-brand-logo-mini" src="/logos/<%= current_logo_sm %>" alt="Logo" data-hs-theme-appearance="default" style="width: auto;height: 60%;"  data-hs-theme-appearance="default">
										<img class="navbar-brand-logo" src="/logos/<%= current_logo %>" alt="Logo" data-hs-theme-appearance="default" data-hs-theme-appearance="default" style="height: 60% !important;width: auto;">
							</a>
							<button type="button" class="js-navbar-vertical-aside-toggle-invoker navbar-aside-toggler" id="navbar-aside-toggler">
							<i class="bi-arrow-bar-left navbar-toggler-short-align" data-bs-template='<div class="tooltip d-none d-md-block" role="tooltip"><div class="arrow"></div><div class="tooltip-inner"></div></div>' data-bs-toggle="tooltip" data-bs-placement="right" title="Collapse"></i>
							<i class="bi-arrow-bar-right navbar-toggler-full-align" data-bs-template='<div class="tooltip d-none d-md-block" role="tooltip"><div class="arrow"></div><div class="tooltip-inner"></div></div>' data-bs-toggle="tooltip" data-bs-placement="right" title="Expand"></i>
							</button>
							<div class="navbar-vertical-content">
										<div id="navbarVerticalMenu" class="nav nav-pills nav-vertical card-navbar-nav px-0">
													<!-- Collapse -->
													<% if can_view?('enrollment_tracking') && ((current_setting.plmhealthoneapp? || current_setting.qualifacts?)) %>
													<div class="nav-item mb-2">

																<a class="nav-link <%= active_menu('providers,enrollment_providers,enroll_groups,client_provider_enrollments,enrollments') %> <%= current_setting.qualifacts? ? active_menu('dcos') : "" %>" href="<%= overview_providers_path %>" data-placement="left">
																			<i class="bi bi-person nav-icon"></i>
																			<span class="nav-link-title">Enrollment Tracking</span>
																</a>
													</div>
													<% end %>

													<% if can_view?('overview') %>
													<div class="nav-item mb-2 nav-item-active">
																<!-- ph-active -->
																<a class="nav-link <%= active_menu('dashboard', 'dashboard') %>" href="<%= root_path %>">
																<i class="bi bi-box nav-icon"></i>
																<span class="nav-link-title">Overview</span>
																</a>
													</div>
													<% end %>


													<% if can_view?('enrollment_clients') && (current_setting.plmhealthoneapp? || current_setting.qualifacts?) %>
													<div class="nav-item mb-1">
																<a class="nav-link <%= active_menu('enrollment_clients,alt_enrollment_groups,locations', 'index,dashboard,view_group,groups,show,documents,locations,enrollments,providers') %> <%= active_menu('index') %>" href="<%= dashboard_enrollment_clients_path %>" data-placement="left">
																			<!-- <i class="bi-receipt nav-icon"></i> -->
																			<!-- <i class="bi bi-person nav-icon"></i> -->
																			<i class="bi bi-geo-fill nav-icon"></i>
																			<span class="nav-link-title">Enrollment Dashboard </span>
																</a>
													</div>
													<% end %>

													<% if can_view?('provider_app') %>
													<div class="nav-item mb-2">
																<a class="nav-link <%= active_menu('provider_app') %>" href="<%= custom_provider_source_path %>" data-placement="left">
																			<!-- <i class="bi-receipt nav-icon"></i> -->
																			<i class="bi bi-people nav-icon"></i>
																			<span class="nav-link-title">Provider Engage</span>
																</a>
													</div>
													<% end %>

													<% if can_view?('office_manager') %>
													<div class="nav-item mb-2">
																<a class="nav-link <%= active_menu('office_managers', 'index') %>" href="<%= office_managers_path %>" data-placement="left">
																			<!-- <i class="bi-receipt nav-icon"></i> -->
																			<i class="bi bi-person-rolodex nav-icon"></i>
																			<span class="nav-link-title">Group Engage </span>
																</a>
													</div>
													<% end %>

													<% if can_view?('verification_platform') && current_setting.plmhealthoneapp? || !current_setting.qualifacts? %>
													<div class="nav-item mb-1">
																<a class="nav-link <%= active_menu('verification_platform', 'index') %> <%= active_menu('manage_tools') %>" href="<%= verification_platform_index_path %>" data-placement="left">
																			<!-- <i class="bi-receipt nav-icon"></i> -->
																			<!-- <i class="bi bi-person nav-icon"></i> -->
																			<i class="bi bi-folder nav-icon"></i>
																			<span class="nav-link-title">Verify</span>
																</a>
													</div>
													<% end %>

													<% if can_view?('plm_sales_tool') %>
													<div class="nav-item mb-2">
																<a class="nav-link <%= active_menu('pages', 'plm_sales_tool') %> d-none" target="_blank" href="<%= plm_sales_tool_path %>" data-placement="left">
																			<!-- <i class="bi-layers nav-icon"></i> -->
																			<i class="bi bi-currency-dollar nav-icon"></i>
																			<!-- <span class="nav-link-title">PLM Sales Tool <small class="fw-semibold">Coming soon</small></span> -->
																			<span class="nav-link-title">PLM Sales Tool </span>
																</a>
													</div>
													<% end %>

													<% if can_view?('smart_contract') %>
													<div class="nav-item mb-2">
																<a class="nav-link <%= active_menu('pages', 'smart_contract') %> text-muted d-none" href="javascript:void(0);" data-placement="left">
																			<!-- <i class="bi-layers nav-icon"></i> -->
																			<i class="bi bi-file-earmark-lock nav-icon"></i>
																			<span class="nav-link-title">
																			Smart Contract <small class="fw-semibold">Coming soon</small>
																			</span>
																</a>
													</div>
													<% end %>

												<% if (current_user.present? && current_user&.super_administrator? || current_user.present? && current_user.administrator?) && can_view?('settings') %>
													<div class="nav-item mb-1">
														<a class="nav-link <%= active_menu('role_based_accesses,roles,users') %> <%= active_menu('index') %>" href="<%= users_path %>" data-placement="left">
															<i class="bi bi-gear nav-icon"></i>
															<span class="nav-link-title">Role-Based Access</span>
														</a>
													</div>
												<% end %>
										</div>
							</div>
				</div>
	</div>
</aside>