<tr>
  <td><%= item&.crawler_type %></td>
  <td style="max-width: 250px; word-break: break-word; overflow-wrap: break-word;">
    <% if item&.filepath&.path.present? %>
      <%= link_to File.basename(item.filepath.path), webscrapers_root_path(logid: item.id) %>
    <% else %>
      <span class="text-muted">No file</span>
    <% end %>
  </td>
  <td><%= item&.filetype&.to_s&.upcase&.delete('.') %></td>
  <td><%= item&.status&.to_s&.upcase %></td>
  <td><%= item&.created_at&.strftime("%B %d, %Y") %></td>
</tr>
