<tr>
	<td><%= item&.crawler_type %></td>
	<td><%= link_to item&.filepath, webscrapers_root_path(logid: item) %></td>
	<td><%= item&.filetype&.upcase&.gsub('.','') %></td>
	<td><%= item&.status&.upcase %></td>
	<td><%= item&.created_at&.strftime("%B %d, %Y") %></td>
</tr>