<%= form_with(model: hvhs_datum, class: "form-horizontal") do |form| %>
  <% if hvhs_datum.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(hvhs_datum.errors.count, "error") %> prohibited this hvhs_datum from being saved:</h2>

      <ul>
        <% hvhs_datum.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= form.label :npi %>
        <%= form.text_field :npi, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :first_name %>
        <%= form.text_field :first_name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :middle_name %>
        <%= form.text_field :middle_name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :last_name %>
        <%= form.text_field :last_name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :degree_titles %>
        <%= form.text_field :degree_titles, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :office_address_line1 %>
        <%= form.text_field :office_address_line1, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :office_address_line2 %>
        <%= form.text_field :office_address_line2, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :office_city %>
        <%= form.text_field :office_city, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :office_state %>
        <%= form.text_field :office_state, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :office_zip_code %>
        <%= form.text_field :office_zip_code, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :phone_number %>
        <%= form.text_field :phone_number, class: "form-control" %>
      </div>

    </div>

    <div class="col-md-6">
      <div class="form-group">
        <%= form.label :practice_email_address %>
        <%= form.text_field :practice_email_address, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :office_mgr_email %>
        <%= form.text_field :office_mgr_email, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :office_mgr_fax %>
        <%= form.text_field :office_mgr_fax, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :office_mgr_first_name %>
        <%= form.text_field :office_mgr_first_name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :office_mgr_last_name %>
        <%= form.text_field :office_mgr_last_name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :office_mgr_phone %>
        <%= form.text_field :office_mgr_phone, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :special_type %>
        <%= form.text_field :special_type, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :taxonomy_code %>
        <%= form.text_field :taxonomy_code, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :license_number %>
        <%= form.text_field :license_number, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :license_state %>
        <%= form.text_field :license_state, class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="form-group mt-4">
    <div class="col-sm-offset-2 col-sm-10">
      <%= form.submit "Save", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
