<tr>
  <td><%= hvhs_datum&.fullname %></td>
  <td><%= hvhs_datum&.npi %></td>
  <td><%= hvhs_datum&.license_number %></td>
  <td><%= hvhs_datum&.taxonomy_code %></td>
  <td><%= hvhs_datum&.phone_number %></td>
  <td scope="row">
    <div class="d-flex gap-1">
      <%= link_to edit_hvhs_datum_path(hvhs_datum), class: 'btn btn-sm btn-primary' do %>
        <i class="bi bi-pencil"></i>
      <% end %>
      <%= button_to hvhs_datum, method: :delete, class: 'btn btn-sm btn-danger delete-button', data: {confirm: 'Are you sure?'} do %>
        <i class="bi bi-trash"></i>
      <% end %>
    </div>
  </td>
</tr>