<div id="<%= dom_id hvhs_datum %>">
  <p>
    <strong>Npi:</strong>
    <%= hvhs_datum.npi %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= hvhs_datum.first_name %>
  </p>

  <p>
    <strong>Middle name:</strong>
    <%= hvhs_datum.middle_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= hvhs_datum.last_name %>
  </p>

  <p>
    <strong>Degree titles:</strong>
    <%= hvhs_datum.degree_titles %>
  </p>

  <p>
    <strong>Office address line1:</strong>
    <%= hvhs_datum.office_address_line1 %>
  </p>

  <p>
    <strong>Office address line2:</strong>
    <%= hvhs_datum.office_address_line2 %>
  </p>

  <p>
    <strong>Office city:</strong>
    <%= hvhs_datum.office_city %>
  </p>

  <p>
    <strong>Office state:</strong>
    <%= hvhs_datum.office_state %>
  </p>

  <p>
    <strong>Office zip code:</strong>
    <%= hvhs_datum.office_zip_code %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= hvhs_datum.phone_number %>
  </p>

  <p>
    <strong>Practice email address:</strong>
    <%= hvhs_datum.practice_email_address %>
  </p>

  <p>
    <strong>Office mgr email:</strong>
    <%= hvhs_datum.office_mgr_email %>
  </p>

  <p>
    <strong>Office mgr fax:</strong>
    <%= hvhs_datum.office_mgr_fax %>
  </p>

  <p>
    <strong>Office mgr first name:</strong>
    <%= hvhs_datum.office_mgr_first_name %>
  </p>

  <p>
    <strong>Office mgr last name:</strong>
    <%= hvhs_datum.office_mgr_last_name %>
  </p>

  <p>
    <strong>Office mgr phone:</strong>
    <%= hvhs_datum.office_mgr_phone %>
  </p>

  <p>
    <strong>Special type:</strong>
    <%= hvhs_datum.special_type %>
  </p>

  <p>
    <strong>Taxonomy code:</strong>
    <%= hvhs_datum.taxonomy_code %>
  </p>

  <p>
    <strong>License number:</strong>
    <%= hvhs_datum.license_number %>
  </p>

  <p>
    <strong>License state:</strong>
    <%= hvhs_datum.license_state %>
  </p>

</div>
