<p style="color: green"><%= notice %></p>

<%= render @hvhs_datum %>

<div>
  <%= link_to "Edit this hvhs datum", edit_hvhs_datum_path(@hvhs_datum) %> |
  <%= link_to "Back to hvhs data", hvhs_data_path %>

  <%= button_to "Destroy this hvhs datum", @hvhs_datum, method: :delete %>
</div>
