<div class="form-row row">
	<div class="col-xl-4">
		<label for=""><span class="text-danger">*</span> First Name</label>
		<%= f.text_field :contact_first_name, class: 'form-control', placeholder: 'Type here...', required: true, autocomplete: 'off' %>
	</div>
	<div class="col-xl-4">
		<label for="">Middle Name</label>
		<%= f.text_field :contact_middle_name, class: 'form-control', placeholder: 'Type here...', autocomplete: 'off' %>
	</div>
	<div class="col-xl-4">
		<label for=""><span class="text-danger">*</span> Last Name</label>
		<%= f.text_field :contact_last_name, class: 'form-control', placeholder: 'Type here...', required: true, autocomplete: 'off' %>
	</div>
</div>

<div class="form-row row">
	<div class="col-xl-6">
		<label for="">Title</label>
		<%= f.text_field :contact_title, class: 'form-control', placeholder: 'Type here...', autocomplete: 'off' %>
	</div>
</div>
<div class="form-row row">
	<div class="col-xl-6">
		<label for=""><span class="text-danger">*</span> Telephone Number</label>
		<%= f.text_field :contact_phone_number, class: 'form-control', placeholder: 'Type here...', required: true, pattern: '^\+?\d{10,15}$', maxlength: 15, title: "Enter a valid phone number (10-15 digits, optional '+')", autocomplete: 'off' %>
	</div>
	<div class="col-xl-6">
		<label for="">Ext</label>
		<%= f.text_field :contact_ext, class: 'form-control', placeholder: 'Type here...', pattern: '^\+?\d{6,10}$', maxlength: 10, title: "Enter a valid phone number (06-10 digits)", autocomplete: 'off' %>
	</div>
</div>
<div class="form-row row">
	<div class="col-xl-6">
		<label for="">Fax Number</label>
		<%= f.text_field :contact_fax_number, class: 'form-control', placeholder: 'Type here...', autocomplete: 'off' %>
	</div>
	<div class="col-xl-6">
		<label for=""><span class="text-danger">*</span> Email</label>
		<%= f.text_field :contact_email, class: 'form-control', placeholder: 'Type here...', required: true, autocomplete: 'off', pattern: '\A[^@\s]+@[^@\s]+\z'  %>
	</div>
</div>