<div class="form-row row">
	<div class="col-xl-2">
					<label for="">Monday</label>
	</div>
	<div class="col-xl-6">
					<div class="row">
									<div class="col-xl-5">
									 <%= f.time_field :monday_time_start, class: 'form-control' %>
									</div>
									<div class="col-xl-2 text-center">
										 <label for="">To</label>
									</div>
									<div class="col-xl-5">
											<%= f.time_field :monday_time_end, class: 'form-control' %>
									</div>
					</div>
	</div>
	<div class="col-xl-4">
					<div class="row">
									<div class="col-xl-6">
													<div class="form-check">
																	<%= f.check_box :monday_split_day, class: 'form-check-input' %>
																	<!-- <input class="form-check-input" type="checkbox" value="" id="mon-split"> -->
																	<label class="form-check-label" for="mon-split">
																					Split Day
																	</label>
													</div>
									</div>
									<div class="col-xl-6">
													<div class="form-check">
																 <%= f.check_box :monday_closed, class: 'form-check-input' %>
																	<label class="form-check-label" for="mon-closed">
																					Closed
																	</label>
													</div>
									</div>
					</div>
	</div>
</div>
<div class="form-row row">
	<div class="col-xl-2">
					<label for="">Tuesday</label>
	</div>
	<div class="col-xl-6">
					<div class="row">
									<div class="col-xl-5">
										<%= f.time_field :tuesday_time_start, class: 'form-control' %>
									</div>
									<div class="col-xl-2 text-center">
										<label for="">To</label>
									</div>
									<div class="col-xl-5">
										 <%= f.time_field :tuesday_time_end, class: 'form-control' %>
									</div>
					</div>
	</div>
	<div class="col-xl-4">
					<div class="row">
									<div class="col-xl-6">
													<div class="form-check">
																	<input class="form-check-input" type="checkbox" value="" id="tue-split">
																	<label class="form-check-label" for="tue-split">
																					Split Day
																	</label>
													</div>
									</div>
									<div class="col-xl-6">
													<div class="form-check">
																	<input class="form-check-input" type="checkbox" value="" id="tue-closed">
																	<label class="form-check-label" for="tue-closed">
																					Closed
																	</label>
													</div>
									</div>
					</div>
	</div>
</div>
<div class="form-row row">
	<div class="col-xl-2">
					<label for="">Wednesday</label>
	</div>
	<div class="col-xl-6">
					<div class="row">
									<div class="col-xl-5">
													<input type="time" class="form-control">
									</div>
									<div class="col-xl-2 text-center">
													<label for="">To</label>
									</div>
									<div class="col-xl-5">
													<input type="time" class="form-control">
									</div>
					</div>
	</div>
	<div class="col-xl-4">
					<div class="row">
									<div class="col-xl-6">
													<div class="form-check">
																	<input class="form-check-input" type="checkbox" value="" id="wed-split">
																	<label class="form-check-label" for="wed-split">
																					Split Day
																	</label>
													</div>
									</div>
									<div class="col-xl-6">
													<div class="form-check">
																	<input class="form-check-input" type="checkbox" value="" id="wed-closed">
																	<label class="form-check-label" for="wed-closed">
																					Closed
																	</label>
													</div>
									</div>
					</div>
	</div>
</div>
<div class="form-row row">
	<div class="col-xl-2">
					<label for="">Thurday</label>
	</div>
	<div class="col-xl-6">
					<div class="row">
									<div class="col-xl-5">
													<input type="time" class="form-control">
									</div>
									<div class="col-xl-2 text-center">
													<label for="">To</label>
									</div>
									<div class="col-xl-5">
													<input type="time" class="form-control">
									</div>
					</div>
	</div>
	<div class="col-xl-4">
					<div class="row">
									<div class="col-xl-6">
													<div class="form-check">
																	<input class="form-check-input" type="checkbox" value="" id="thu-split">
																	<label class="form-check-label" for="thu-split">
																					Split Day
																	</label>
													</div>
									</div>
									<div class="col-xl-6">
													<div class="form-check">
																	<input class="form-check-input" type="checkbox" value="" id="thu-closed">
																	<label class="form-check-label" for="thu-closed">
																					Closed
																	</label>
													</div>
									</div>
					</div>
	</div>
</div>
<div class="form-row row">
	<div class="col-xl-2">
					<label for="">Friday</label>
	</div>
	<div class="col-xl-6">
					<div class="row">
									<div class="col-xl-5">
													<input type="time" class="form-control">
									</div>
									<div class="col-xl-2 text-center">
													<label for="">To</label>
									</div>
									<div class="col-xl-5">
													<input type="time" class="form-control">
									</div>
					</div>
	</div>
	<div class="col-xl-4">
					<div class="row">
									<div class="col-xl-6">
													<div class="form-check">
																	<input class="form-check-input" type="checkbox" value="" id="fri-split">
																	<label class="form-check-label" for="fri-split">
																					Split Day
																	</label>
													</div>
									</div>
									<div class="col-xl-6">
													<div class="form-check">
																	<input class="form-check-input" type="checkbox" value="" id="fri-closed">
																	<label class="form-check-label" for="fri-closed">
																					Closed
																	</label>
													</div>
									</div>
					</div>
	</div>
</div>
<div class="form-row row">
	<div class="col-xl-2">
					<label for="">Saturday</label>
	</div>
	<div class="col-xl-6">
					<div class="row">
									<div class="col-xl-5">
													<input type="time" class="form-control">
									</div>
									<div class="col-xl-2 text-center">
													<label for="">To</label>
									</div>
									<div class="col-xl-5">
													<input type="time" class="form-control">
									</div>
					</div>
	</div>
	<div class="col-xl-4">
					<div class="row">
									<div class="col-xl-6">
													<div class="form-check">
																	<input class="form-check-input" type="checkbox" value="" id="sat-split">
																	<label class="form-check-label" for="sat-split">
																					Split Day
																	</label>
													</div>
									</div>
									<div class="col-xl-6">
													<div class="form-check">
																	<input class="form-check-input" type="checkbox" value="" id="sat-closed">
																	<label class="form-check-label" for="sat-closed">
																					Closed
																	</label>
													</div>
									</div>
					</div>
	</div>
</div>
<div class="form-row row">
	<div class="col-xl-2">
					<label for="">Sunday</label>
	</div>
	<div class="col-xl-6">
					<div class="row">
									<div class="col-xl-5">
													<input type="time" class="form-control">
									</div>
									<div class="col-xl-2 text-center">
													<label for="">To</label>
									</div>
									<div class="col-xl-5">
													<input type="time" class="form-control">
									</div>
					</div>
	</div>
	<div class="col-xl-4">
					<div class="row">
									<div class="col-xl-6">
													<div class="form-check">
																	<input class="form-check-input" type="checkbox" value="" id="sun-split">
																	<label class="form-check-label" for="sun-split">
																					Split Day
																	</label>
													</div>
									</div>
									<div class="col-xl-6">
													<div class="form-check">
																	<input class="form-check-input" type="checkbox" value="" id="sun-closed">
																	<label class="form-check-label" for="sun-closed">
																					Closed
																	</label>
													</div>
									</div>
					</div>
	</div>
</div>
<div class="form-row row">
	<div class="col-xl-12">
					<label for="">Comment</label>
					<textarea name="" id="" cols="30" rows="5" class="form-control"></textarea>
	</div>
</div>
<div class="form-row row">
	<div class="col-xl-12">
					<label for="">Does this location have 24 hours/7 days per week telephone coverage?</label>
					<div class="d-flex align-items-center gap-3">
									<div class="form-check">
													<input class="form-check-input" type="radio" name="tele-input" id="tele-yes" value="Yes">
													<label class="form-check-label" for="tele-yes">
																	Yes
													</label>
									</div>
									<div class="form-check">
													<input class="form-check-input" type="radio" name="tele-input" id="tele-no" value="No">
													<label class="form-check-label" for="tele-no">
																	No
													</label>
									</div>
					</div>
	</div>
</div>
<div class="form-row row">
	<div class="col-xl-6">
					<label for="">Telephone Coverage Type</label>
					<select name="" class="form-select" id=""></select>
	</div>
</div>
<div class="form-row row">
	<div class="col-xl-6">
					<label for="">After Hours Telephone Number</label>
					<input type="text" class="form-control">
	</div>
	<div class="col-xl-6">
					<label for="">Ext</label>
					<input type="text" class="form-control">
	</div>
</div>