<div class="form-row row">
	<div class="col-xl-12">
		<%= HtmlUtils.radio_options name: 'practice_location[ada_accessibility]', label: 'Does this location meet ADA accessibility requirements?', to_show: 'ada-wrp' %>
	</div>
</div>
<div class="form-row row" id="ada-wrp">
	<div class="col-xl-6">
					<label for="">If Yes, please select from the following:</label>
					<%= f.select :ada_wrp, options_for_select([]), { prompt: 'Select option' }, {:class => 'form-select'}  %>
	</div>
</div>
<div class="form-row row">
	<div class="col-xl-12">
		<%= HtmlUtils.radio_options name: 'practice_location[disabled_other_services]', label: 'Does this location offer other services for the disabled?', to_show: 'other-services-wrp' %>
	</div>
</div>
<div class="form-row row" id="other-services-wrp">
	<div class="col-xl-6">
					<label for="">If Yes, please select from the following:</label>
					<%= f.select :disabled_other_services_wrp, options_for_select([]), { prompt: 'Select option' }, {:class => 'form-select'}  %>
	</div>
</div>
<div class="form-row row">
	<div class="col-xl-12">
		<%= HtmlUtils.radio_options name: 'practice_location[public_transportation]', label: 'Is this location accessible by public transportation?', to_show: 'transportation-wrp' %>
	</div>
</div>
<div class="form-row row" id="transportation-wrp">
	<div class="col-xl-6">
					<label for="">If Yes, please select from the following:</label>
					<%= f.select :public_transportation_wrp, options_for_select([]), { prompt: 'Select option' }, {:class => 'form-select'}  %>
	</div>
</div>
