<div class="form-row row">
	<div class="col-xl-12">
					<label for="">Does this location meet ADA accessibility requirements?</label>
					<div class="d-flex align-items-center gap-3">
									<div class="d-flex align-items-center gap-3">
										<div class="form-check">
											<%= f.radio_button :ada_accessibility, 'yes', class: 'form-check-input', id: 'inter-yes'%>
											<label class="form-check-label wrp" for="inter-yes">
											Yes
											</label>
										</div>
										<div class="form-check">
											<%= f.radio_button :ada_accessibility, 'no', class: 'form-check-input', id: 'inter-no'%>
											<label class="form-check-label" for="inter-no">
											No
											</label>
										</div>
      								</div>
					 </div>
	</div>
</div>
<div class="form-row row" id="ADA-wrp">
	<div class="col-xl-6">
					<label for="">If Yes, please select from the following:</label>
					<%= f.select :ada_wrp, options_for_select([]), { prompt: 'Select option' }, {:class => 'form-select'}  %>
	</div>
</div>
<div class="form-row row">
	<div class="col-xl-12">
					<label for="">Does this location offer other services for the disabled?</label>
					<div class="d-flex align-items-center gap-3">
									<div class="d-flex align-items-center gap-3">
										<div class="form-check">
											<%= f.radio_button :disabled_other_services, 'yes', class: 'form-check-input', id: 'inter-yes'%>
											<label class="form-check-label" for="inter-yes">
											Yes
											</label>
										</div>
										<div class="form-check">
											<%= f.radio_button :disabled_other_services, 'no', class: 'form-check-input', id: 'inter-no'%>
											<label class="form-check-label" for="inter-no">
											No
											</label>
										</div>
      								</div>
					</div>
	</div>
</div>
<div class="form-row row" id="other-services-wrp">
	<div class="col-xl-6">
					<label for="">If Yes, please select from the following:</label>
					<%= f.select :disabled_other_services_wrp, options_for_select([]), { prompt: 'Select option' }, {:class => 'form-select'}  %>
	</div>
</div>
<div class="form-row row">
	<div class="col-xl-12">
					<label for="">Is this location accessible by public transportation?</label>
					<div class="d-flex align-items-center gap-3">
									<div class="d-flex align-items-center gap-3">
										<div class="form-check">
											<%= f.radio_button :public_transportation, 'yes', class: 'form-check-input', id: 'inter-yes'%>
											<label class="form-check-label" for="inter-yes">
											Yes
											</label>
										</div>
										<div class="form-check">
											<%= f.radio_button :public_transportation, 'no', class: 'form-check-input', id: 'inter-no'%>
											<label class="form-check-label" for="inter-no">
											No
											</label>
										</div>
      								</div>
					</div>
	</div>
</div>
<div class="form-row row" id="transportation-wrp">
	<div class="col-xl-6">
					<label for="">If Yes, please select from the following:</label>
					<%= f.select :public_transportation_wrp, options_for_select([]), { prompt: 'Select option' }, {:class => 'form-select'}  %>
	</div>
</div>
