
<div class="form-row row">
	<div class="col-xl-10">
		<label for="practice_status">Please enter your open practice status</label>
		<div class="d-flex gap-2">
			<%#= text_field_tag :practice_status, '', class: 'form-control w-75', id: 'practice_status_input' %>
			<%#= button_tag "Add to List", type: "button", class: "btn btn-primary btn-sm w-25", id: "add_to_list" %>
		</div>
		<%= f.select :pa_practice_status, PracticeLocation::PATIENCE_ACCEPTANCE1, { prompt: 'Select option' }, {:class => 'form-select mt-2'}  %>
		<%#= f.hidden_field :open_practice_status %>
		<%#= text_area_tag :open_practice_status_display, "#{@practice_location.open_practice_status.join(',')}", class: 'form-control mt-2', id: 'practice_status_list_display', readonly: true %>
	</div>
</div>
<div class="form-row row">
	<div class="col-xl-12">
		<label for="">If patient acceptance varies by health plan, please explain</label>
		<%= f.text_area :pa_by_health_plan, class: 'form-control', rows: '3' %>
	</div>
</div>
<div class="form-row row">
	<div class="col-xl-12">
		<%= HtmlUtils.radio_options name: 'practice_location[pa_limitations]', label: 'Are there any practice limitations at this location?', to_show: 'limitation-wrp' %>
	</div>
</div>
<div class="form-row row" id="limitation-wrp">
	<div class="col-xl-6">
		<label for="">Gender Limitations</label>
		<%= f.select :pa_gender_limitations, options_for_select(['Female Only', 'Male Only', 'Not Applicable']), { prompt: 'Select option' }, {:class => 'form-select'}  %>
	</div>
	<div class="col-xl-6">
		<label for="">Minimum Age</label>
		<%= f.text_field :pa_minimum_age, class: 'form-control', placeholder: 'Type here...'%>
	</div>
	<div class="col-xl-6">
		<label for="">Maximum Age</label>
		<%= f.text_field :pa_maximum_age, class: 'form-control', placeholder: 'Type here...'%>
	</div>
	<div class="col-xl-6">
		<div class="form-check">
			<%= f.check_box :pa_min_max_not_applicable, class: 'form-check-input' %>
			<label class="form-check-label" for="min-max-age">
				Min/Max Age Not Applicable
			</label>
		</div>
	</div>
	<div class="col-xl-12">
		<label for="">Please list any other limitations</label>
		<%= f.text_area :pa_other_limitations, class: 'form-control', rows: '3' %>
	</div>
</div>
