<div class="form-row row">
	<div class="col-xl-12">
		<%= HtmlUtils.radio_options name: 'practice_location[ada_accessibility]', label: 'Does this location meet ADA accessibility requirements?', to_show: 'ada-wrp' %>
	</div>
</div>
<div class="form-row row" id="ada-wrp">
<<<<<<< HEAD
	<div class="col-xl-6">
					<label for="">If Yes, please select from the following:</label>
					<%= f.select :ada_wrp, options_for_select([]), { prompt: 'Select option' }, {:class => 'form-select'}  %>
=======
	<div class="col-xl-10 mt-2 mb-2">
		<label for="">If Yes, please select from the following:</label>
		<div class="d-flex gap-2">
		  <%#= text_field_tag :ada_wrp, '', class: 'form-control w-75', id: 'patient_access_input' %>
		  <%#= button_tag "Add to List", type: "button", class: "btn btn-primary btn-sm w-25", id: "add_to_list_ada_wrp" %>
		</div>
		<%#= f.hidden_field :ada_wrp_status %>
		<%#= text_area_tag :ada_wrp_status_display, "#{@practice_location&.ada_wrp_status&.join(',')}", class: 'form-control mt-2', id: 'ada_wrp_list_display', readonly: true %>
		<%= f.select :ada_wrp_status, PracticeLocation::ADA_ACCESSIBILITY, { prompt: true }, {class: 'form-select mt-2'}  %>
>>>>>>> 6ba1504a (added the drop down list content in locations of group engage)
	</div>
</div>
<div class="form-row row">
	<div class="col-xl-12">
		<%= HtmlUtils.radio_options name: 'practice_location[disabled_other_services]', label: 'Does this location offer other services for the disabled?', to_show: 'other-services-wrp' %>
	</div>
</div>
<div class="form-row row" id="other-services-wrp">
	<div class="col-xl-10 mt-2 mb-2">
		<label for="">If Yes, please select from the following:</label>
		<div class="d-flex gap-2">
		  <%#= text_field_tag :+, '', class: 'form-control w-75', id: 'disabled_other_services_input' %>
		  <%#= button_tag "Add to List", type: "button", class: "btn btn-primary btn-sm w-25", id: "add_to_list_disabled_other_services_wrp" %>
		</div>
		<%#= f.hidden_field :disabled_other_services_wrp_status %>
		<%#= text_area_tag :disabled_other_services_wrp_status_display, "#{@practice_location.disabled_other_services_wrp_status.join(',')}", class: 'form-control mt-2', id: 'disabled_other_services_wrp_status_display', readonly: true %>
		<%= f.select :disabled_other_services_wrp_status, PracticeLocation::DISABLED_OTHER_SERVICE, { prompt: true }, { class: "form-select mt-2" } %>
	</div>
</div>
<div class="form-row row">
	<div class="col-xl-12">
		<%= HtmlUtils.radio_options name: 'practice_location[public_transportation]', label: 'Is this location accessible by public transportation?', to_show: 'transportation-wrp' %>
	</div>
</div>
<div class="form-row row" id="transportation-wrp">
	<div class="col-xl-10 mt-2 mb-2">
		<label for="">If Yes, please select from the following:</label>
		<div class="d-flex gap-2">
		  <%#= text_field_tag :public_transportation_wrp, '', class: 'form-control w-75', id: 'public_transportation_input' %>
		  <%#= button_tag "Add to List", type: "button", class: "btn btn-primary btn-sm w-25", id: "add_to_list_public_transportation_wrp" %>
		</div>
		<%#= f.hidden_field :public_transportation_wrp_status %>
		<%#= text_area_tag :public_transportation_wrp_status_display, "#{@practice_location.public_transportation_wrp_status.join(',')}", class: 'form-control mt-2', id: 'public_transportation_wrp_status_display', readonly: true %>
		<%= f.select :public_transportation_wrp, PracticeLocation::PUBLIC_TRANSPORTATION, { prompt: true }, {class: 'form-select mt-2'}  %>
	</div>
</div>
