<tr>
	<td><%= practice_location.location %></td>
	<td><%= practice_location.address %></td>
	<td><%= practice_location.city %></td>
	<td><%= practice_location.zip_code %></td>
	<td><%= practice_location.phone_number %></td>
	<td>
		<% if current_user.can_access?('Associate Providers') %>
			<a href=""  data-bs-toggle="modal" data-bs-target=".associateProviderModal">Provider</a>
		<% end %>
	</td>
	<td>
		<% if current_user.can_access?('Edit Location')%>
			<a href="javascript:void(0)" class="edit-practice-location-button" data-practice-location-id=<%= practice_location.id %>><i class='bx bx-edit' ></i></a>
		<% end %>
	</td>
</tr>