<tr>
	<td><%= practice_location.location %></td>
	<td><%= practice_location.address %></td>
	<td><%= practice_location.city %></td>
	<td><%= practice_location.zip_code %></td>
	<td><%= practice_location.phone_number %></td>
	<td><a href="javascript:void(0);"  data-bs-toggle="modal" data-bs-target=".associateProviderModal" onclick="fetchAssociateProvider()" data-practicelocationid="<%= practice_location.id %>">Provider</a></td>
	<td><a href="javascript:void(0);"><i class='bx bx-edit' ></i></a></td>
</tr>