<tr>
	<td><%= practice_location.location %></td>
	<td><%= practice_location.address %></td>
	<td><%= practice_location.city %></td>
	<td><%= practice_location.zip_code %></td>
	<td><%= practice_location.phone_number %></td>
	<td><a href=""  data-bs-toggle="modal" data-bs-target=".associateProviderModal">Provider</a></td>
	<td><a href=""><i class='bx bx-edit' ></i></a></td>
</tr>