<div class="form-row row">
	<div class="col-xl-12">
					<label for="">Do you provide laboratory services at this location?</label>
					<div class="d-flex align-items-center gap-3">
									<div class="d-flex align-items-center gap-3">
										<div class="form-check">
											<%= f.radio_button :laboratory_services, 'yes', class: 'form-check-input', id: 'inter-yes'%>
											<label class="form-check-label wrp" for="inter-yes">
											Yes
											</label>
										</div>
										<div class="form-check">
											<%= f.radio_button :laboratory_services, 'no', class: 'form-check-input', id: 'inter-no'%>
											<label class="form-check-label" for="inter-no">
											No
											</label>
										</div>
      								</div>
					 </div>
	</div>
</div>
<div class="form-row row" id="laboratory-wrp">
	<div class="col-xl-6">
					<label for="">If Yes, please select all accrediting/certifying programs:</label>
					<%= f.select :laboratory_services_wrp, options_for_select([]), { prompt: 'Select option' }, {:class => 'form-select'}  %>
	</div>
</div>
<div class="form-row row">
	<div class="col-xl-12">
					<label for="">Does this location have a CLIA Waiver?</label>
					<div class="d-flex align-items-center gap-3">
									<div class="d-flex align-items-center gap-3">
										<div class="form-check">
											<%= f.radio_button :clia_waiver, 'yes', class: 'form-check-input', id: 'inter-yes'%>
											<label class="form-check-label wrp" for="inter-yes">
											Yes
											</label>
										</div>
										<div class="form-check">
											<%= f.radio_button :clia_waiver, 'no', class: 'form-check-input', id: 'inter-no'%>
											<label class="form-check-label" for="inter-no">
											No
											</label>
										</div>
      								</div>
					 </div>
	</div>
</div>
<div class="form-row row CLIA-wrp">
	<div class="col-xl-6">
					<label for="">CLIA Waiver Number</label>
					<%= f.text_field :clia_waiver_wrp, class: 'form-control', placeholder: 'Type here...'%>
	</div>
	<div class="col-xl-6">
					<label for="">Expiration Date</label>
					<%= f.text_field :clia_waiver_expiration_date, class: 'form-control', placeholder: 'MM-DD-YYYY', onfocus: "(this.type = 'date')"%>
	</div>
</div>
<div class="form-row row">
	<div class="col-xl-12">
					<label for="">Does this location have a CLIA Certificate?</label>
					<div class="d-flex align-items-center gap-3">
									<div class="d-flex align-items-center gap-3">
										<div class="form-check">
											<%= f.radio_button :clia_certificate, 'yes', class: 'form-check-input', id: 'inter-yes'%>
											<label class="form-check-label wrp" for="inter-yes">
											Yes
											</label>
										</div>
										<div class="form-check">
											<%= f.radio_button :clia_certificate, 'no', class: 'form-check-input', id: 'inter-no'%>
											<label class="form-check-label" for="inter-no">
											No
											</label>
										</div>
      								</div>
					 </div>
	</div>
</div>
<div class="form-row row certificate-wrp">
	<div class="col-xl-6">
					<label for="">CLIA Certificate Number</label>
					<%= f.text_field :clia_certificate_wrp, class: 'form-control', placeholder: 'Type here...'%>
	</div>
	<div class="col-xl-6">
					<label for="">Expiration Date</label>
					<%= f.text_field :clia_certificate_expiration_date, class: 'form-control', placeholder: 'MM-DD-YYYY', onfocus: "(this.type = 'date')"%>
	</div>
</div>
<div class="form-row row">
	<div class="col-xl-12">
					<label for="">Do you provide radiology services at this location?</label>
					<div class="d-flex align-items-center gap-3">
									<div class="d-flex align-items-center gap-3">
										<div class="form-check">
											<%= f.radio_button :radiology_services, 'yes', class: 'form-check-input', id: 'inter-yes'%>
											<label class="form-check-label wrp" for="inter-yes">
											Yes
											</label>
										</div>
										<div class="form-check">
											<%= f.radio_button :radiology_services, 'no', class: 'form-check-input', id: 'inter-no'%>
											<label class="form-check-label" for="inter-no">
											No
											</label>
										</div>
      								</div>
					 </div>
	</div>
</div>
<div class="form-row row radiology-wrp">
	<div class="col-xl-12">
					<label for="">Please list all X-ray certifications:</label>
					<%= f.select :radiology_services_xray, options_for_select([]), { prompt: 'Select option' }, {:class => 'form-select'}  %>
	</div>
</div>
<div class="form-row row radiology-wrp">
	<div class="col-xl-12">
					<label for="">FDA/Radiology (Mammography) Certification Number for this location:</label>
					<%= f.text_field :radiology_services_fda, class: 'form-control', placeholder: 'Type here...'%>
	</div>
</div>
<div class="form-row row radiology-wrp">
	<div class="col-xl-12">
					<label for="">Please select all services offered at this location:</label>
					<%= f.select :anesthesia_administered, options_for_select([]), { prompt: 'Select option' }, {:class => 'form-select'}  %>
	</div>
</div>
<div class="form-row row">
	<div class="col-xl-12">
					<label for="">Is anesthesia administered at this location?</label>
					<div class="d-flex align-items-center gap-3">
									<div class="d-flex align-items-center gap-3">
										<div class="form-check">
											<%= f.radio_button :anesthesia_administered, 'yes', class: 'form-check-input', id: 'inter-yes'%>
											<label class="form-check-label wrp" for="inter-yes">
											Yes
											</label>
										</div>
										<div class="form-check">
											<%= f.radio_button :anesthesia_administered, 'no', class: 'form-check-input', id: 'inter-no'%>
											<label class="form-check-label" for="inter-no">
											No
											</label>
										</div>
      								</div>
					 </div>
	</div>
</div>
<div class="form-row row anesthesia-wrp">
	<div class="col-xl-12">
					<label for="">Please list any additional procedures provided at this location (including surgical procedures)</label>
					<%= f.text_area :additional_procedures, class: 'form-control', rows: '3' %>
	</div>
</div>