<div class="form-row row">
	<div class="col-xl-12 mt-2 mb-2">
		<%= HtmlUtils.radio_options name: 'practice_location[laboratory_services]', label: 'Do you provide laboratory services at this location?', to_show: 'laboratory-wrp' %>
	</div>
</div>
<div class="form-row row" id="laboratory-wrp">
	<div class="col-xl-10  mt-2 mb-2">
		<label for="">If Yes, please select all accrediting/certifying programs:</label>
		<div class="d-flex gap-2">
			<%#= text_field_tag :laboratory_services_wrp, '', class: 'form-control w-75', id: 'laboratory_services_input' %>
			<%#= button_tag "Add to List", type: "button", class: "btn btn-primary btn-sm w-25", id: "add_to_list_laboratory_services_wrp" %>
		</div>
		<%#= f.hidden_field :laboratory_services_wrp_status %>
		<%#= text_area_tag :laboratory_services_wrp_status_display, "#{@practice_location.laboratory_services_wrp_status.join(',')}", class: 'form-control mt-2', id: 'laboratory_services_wrp_status_display' %>

		<%= f.select :laboratory_services_wrp, PracticeLocation::LABORATORY_SERVICES, { prompt: true }, {class: 'form-select mt-2'} %>
	</div>
</div>
<div class="form-row row">
	<div class="col-xl-12 mt-2 mb-2">
		<%= HtmlUtils.radio_options name: 'practice_location[clia_waiver]', label: 'Does this location have a CLIA Waiver?', to_show: 'clia-wrp' %>
	</div>
</div>
<div class="form-row row" id="clia-wrp">
	<div class="col-xl-6 mt-2 mb-2">
		<label for="">CLIA Waiver Number</label>
		<%= f.text_field :clia_waiver_wrp, class: 'form-control', placeholder: 'Type here...'%>
	</div>
	<div class="col-xl-6 mt-2 mb-2">
		<label for="">Expiration Date</label>
		<%= f.text_field :clia_waiver_expiration_date, class: 'form-control', placeholder: 'MM/DD/YYYY', value: display_mdy(f.object.clia_waiver_expiration_date), onfocus: "(this.type = 'date')"%>
	</div>
</div>
<div class="form-row row">
	<div class="col-xl-12 mt-2 mb-2">
		<%= HtmlUtils.radio_options name: 'practice_location[clia_certificate]', label: 'Does this location have a CLIA Certificate?', to_show: 'certificate-wrp' %>
	</div>
</div>
<div class="form-row row" id="certificate-wrp">
	<div class="col-xl-6 mt-2 mb-2">
		<label for="">CLIA Certificate Number</label>
		<%= f.text_field :clia_certificate_wrp, class: 'form-control', placeholder: 'Type here...'%>
	</div>
	<div class="col-xl-6 mt-2 mb-2">
		<label for="">Expiration Date</label>
		<%= f.text_field :clia_certificate_expiration_date, class: 'form-control', placeholder: 'MM/DD/YYYY', value: display_mdy(f.object.clia_certificate_expiration_date), onfocus: "(this.type = 'date')"%>
	</div>
</div>

<div class="form-row row">
	<div class="col-xl-12 mt-2 mb-2">
		<%= HtmlUtils.radio_options name: 'practice_location[radiology_services]', label: 'Do you provide radiology services at this location?', to_show: 'radiology-wrp' %>
	</div>
</div>

<div class="form-row row" id="radiology-wrp">
	<div class="col-xl-12 mt-2 mb-2">
		<label for="">Please list all X-ray certifications:</label>

		<div class="d-flex gap-2 mt-2 mb-2">
			<%#= text_field_tag :radiology_services_xray, '', class: 'form-control w-75', id: 'radiology_services_xray_input' %>
			<%#= button_tag "Add to List", type: "button", class: "btn btn-primary btn-sm w-25", id: "add_to_list_radiology_services_xray" %>
		</div>
		<%#= f.hidden_field :radiology_services_xray_status %>
		<%#= text_area_tag :radiology_services_xray_status_display, "#{@practice_location.radiology_services_xray_status.join(',')}", class: 'form-control mt-2', id: 'radiology_services_xray_status_display' %>
		<%= f.select :radiology_services_xray, options_for_select(['Xray Supervisor']), { prompt: 'Select option' }, {:class => 'form-select'}  %>
	</div>

	<div class="col-xl-12 mt-2 mb-2">
		<label for="">FDA/Radiology (Mammography) Certification Number for this location:</label>
		<%= f.text_field :radiology_services_fda, class: 'form-control', placeholder: 'Type here...'%>
	</div>

	<div class="col-xl-12 mt-2 mb-2">
		<label for="">Please select all services offered at this location:</label>
		<div class="d-flex gap-2">
		  <%= text_field_tag :anesthesia_administered, '', class: 'form-control w-75', id: 'anesthesia_administered_input' %>
		  <%= button_tag "Add to List", type: "button", class: "btn btn-primary btn-sm w-25", id: "add_to_list_anesthesia_administered" %>
		</div>
		<%= f.hidden_field :anesthesia_administered_status %>
		<%= text_area_tag :anesthesia_administered_status_display, "#{@practice_location.anesthesia_administered_status.join(',')}", class: 'form-control mt-2', id: 'anesthesia_administered_status_display', readonly: true %>
		<%#= f.select :anesthesia_administered, options_for_select([]), { prompt: 'Select option' }, {:class => 'form-select'}  %>
	</div>
</div>

<div class="form-row row">
	<div class="col-xl-12 mt-2 mb-2">
		<%= HtmlUtils.radio_options name: 'practice_location[anesthesia_administered]', label: 'Is anesthesia administered at this location?', to_show: 'anesthesia-wrp' %>
	</div>
</div>
<div class="form-row row" id="anesthesia-wrp">
	<div class="col-xl-12 mt-2 mb-2">
		<label for="">Please list any additional procedures provided at this location (including surgical procedures)</label>
		<%= f.text_area :additional_procedures, class: 'form-control', rows: '3' %>
	</div>
</div>
