
<div class="content container-fluid">
  <%= render "nav"%>
</div>
<%= render 'user_restriction', locals: { access_key: 'Location Details' } do %>
<div class="content container-fluid">
  <%= render "locations/show/location_info"%>
  <%= render "locations/show/schedules"%>
  <% @location.old_location_addresses.each_with_index do |address,idx|%>
    <%= render partial: "locations/show/old_address", locals: {title: "Old Practice Location Address #{ @location.old_location_addresses.count == 1 ? '' : idx+1}", address: address} %>
  <% end %>
  <%= render "locations/show/collaborating_supervisor"%>
</div>
<% end %>