<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%#= stylesheet_link_tag "application" %>
  <%= javascript_importmap_tags %>
  <title>PLM HEALTH ONE APP</title>

    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic' rel='stylesheet'
          type='text/css'>

    <!-- -------------- Icomoon -------------- -->
    <link rel="stylesheet" type="text/css" href="dist/plmsales/fonts/icomoon/icomoon.css">

    <!-- -------------- FullCalendar -------------- -->
    <link rel="stylesheet" type="text/css" href="dist/plmsales/js/plugins/fullcalendar/fullcalendar.min.css">


    <link rel="stylesheet" type="text/css" href="dist/plmsales/js/plugins/magnific/magnific-popup.css">

    <!-- -------------- Plugins -------------- -->
    <link rel="stylesheet" type="text/css" href="dist/plmsales/js/plugins/c3charts/c3.min.css">
    <!-- -------------- CSS - theme -------------- -->
    <link rel="stylesheet" type="text/css" href="dist/plmsales/skin/default_skin/css/theme.css">

    <!-- -------------- CSS - allcp forms -------------- -->
    <link rel="stylesheet" type="text/css" href="dist/plmsales/allcp/forms/css/forms.css">
</head>
  <%= yield %>
  <%= render 'external/tawkto' %>

  <!-- -------------- Scripts -------------- -->

<!-- -------------- jQuery -------------- -->
<script src="dist/plmsales/js/jquery/jquery-1.11.3.min.js"></script>
<script src="dist/plmsales/js/jquery/jquery_ui/jquery-ui.min.js"></script>

<!-- -------------- HighCharts Plugin -------------- -->
<script src="dist/plmsales/js/plugins/highcharts/highcharts.js"></script>
<script src="dist/plmsales/js/plugins/c3charts/d3.min.js"></script>
<script src="dist/plmsales/js/plugins/c3charts/c3.min.js"></script>

<!-- -------------- Simple Circles Plugin -------------- -->
<script src="dist/plmsales/js/plugins/circles/circles.js"></script>

<!-- -------------- Maps JSs -------------- -->
<script src="dist/plmsales/js/plugins/jvectormap/jquery.jvectormap.min.js"></script>
<script src="dist/plmsales/js/plugins/jvectormap/assets/jquery-jvectormap-us-lcc-en.js"></script>

<!-- -------------- FullCalendar Plugin -------------- -->
<script src="dist/plmsales/js/plugins/fullcalendar/lib/moment.min.js"></script>
<script src="dist/plmsales/js/plugins/fullcalendar/fullcalendar.min.js"></script>

<!-- -------------- Date/Month - Pickers -------------- -->
<script src="dist/plmsales/allcp/forms/js/jquery-ui-monthpicker.min.js"></script>
<script src="dist/plmsales/allcp/forms/js/jquery-ui-datepicker.min.js"></script>

<!-- -------------- Magnific Popup Plugin -------------- -->
<script src="dist/plmsales/js/plugins/magnific/jquery.magnific-popup.js"></script>

<!-- -------------- Theme Scripts -------------- -->
<script src="dist/plmsales/assets/js/utility/utility.js"></script>
<script src="dist/plmsales/js/demo/demo.js"></script>
<script src="dist/plmsales/js/main.js"></script>

<!-- -------------- Widget JS -------------- -->
<script src="dist/plmsales/js/demo/widgets.js"></script>
<script src="dist/plmsales/js/demo/widgets_sidebar.js"></script>
<script src="dist/plmsales/js/pages/dashboard1.js"></script>

<!-- -------------- /Scripts -------------- -->
<!-- <script src="dist/plmsales/js/test.js"></script>  -->


</html>